Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml

Add spec for BinaryRelease.update_binary_releases
  src/api/spec/models/binary_release_spec.rb
Labels: Frontend

Fix Style/FileWrite rubocop in clouduploader module
  dist/clouduploader.rb
Labels: none

Add spec for PackageBuildStatus model
  src/api/app/models/package_build_status.rb
  src/api/spec/cassettes/PackageBuildStatus/_current_dir/1_3_1.yml
  src/api/spec/cassettes/PackageBuildStatus/_current_dir/1_3_2.yml
  src/api/spec/cassettes/PackageBuildStatus/_gather_md5sums/1_2_1.yml
  src/api/spec/cassettes/PackageBuildStatus/_gather_md5sums/1_2_2.yml
  src/api/spec/cassettes/PackageBuildStatus/_new/1_1_1.yml
  src/api/spec/cassettes/PackageBuildStatus/gather_target_packages/1_4_1.yml
  src/api/spec/cassettes/PackageBuildStatus/gather_target_packages/1_4_2.yml
  src/api/spec/models/package_build_status_spec.rb
Labels: Frontend

Fix issue 11872 (unable to accept a maintenance request)
  src/api/app/models/bs_request_action_maintenance_incident.rb
Labels: Frontend

Add spec for method PackageBuildStatus#check_everbuilt
  src/api/spec/cassettes/PackageBuildStatus/_check_everbuilt/no_job_history/1_5_1_1.yml
  src/api/spec/cassettes/PackageBuildStatus/_check_everbuilt/no_job_history/1_5_1_2.yml
  src/api/spec/cassettes/PackageBuildStatus/_check_everbuilt/with_job_history/1_5_2_1.yml
  src/api/spec/models/package_build_status_spec.rb
Labels: Frontend

Use jobs in _constraints if available instead of worker jobs
  src/backend/BSDispatcher/Constraints.pm
Labels: Backend

[backend] use GPG v4 for ArchLinux
  src/backend/bs_signer
Labels: Backend

[api] fix ignore releasetarget project on maintenance_incident requests
  src/api/app/models/branch_package.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
Labels: Frontend

[backend] fix memoryperjob constraints
  src/backend/BSDispatcher/Constraints.pm
Labels: Backend

[api] fix access to build area for git projects
  src/api/app/models/package.rb
Labels: Frontend

Set optional flag on belongs_to relation where necessary
  src/api/app/models/attrib_default_value.rb
  src/api/app/models/attrib_namespace_modifiable_by.rb
  src/api/app/models/attrib_type_modifiable_by.rb
  src/api/app/models/attrib_value.rb
  src/api/app/models/backend_package.rb
  src/api/app/models/binary_release.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_accept_info.rb
  src/api/app/models/channel_binary.rb
  src/api/app/models/channel_binary_list.rb
  src/api/app/models/cloud/azure/configuration.rb
  src/api/app/models/cloud/ec2/configuration.rb
  src/api/app/models/cloud/user/upload_job.rb
  src/api/app/models/concerns/staging_project.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/flag.rb
  src/api/app/models/issue.rb
  src/api/app/models/kiwi/description.rb
  src/api/app/models/kiwi/package.rb
  src/api/app/models/kiwi/package_group.rb
  src/api/app/models/kiwi/preference.rb
  src/api/app/models/kiwi/repository.rb
  src/api/app/models/linked_project.rb
  src/api/app/models/maintenance_incident.rb
  src/api/app/models/notification.rb
  src/api/app/models/package.rb
  src/api/app/models/package_kind.rb
  src/api/app/models/product_medium.rb
  src/api/app/models/product_update_repository.rb
  src/api/app/models/project.rb
  src/api/app/models/project_log_entry.rb
  src/api/app/models/review.rb
  src/api/app/models/role.rb
  src/api/app/models/status/check.rb
  src/api/app/models/token.rb
  src/api/app/models/user.rb
  src/api/app/models/workflow_run.rb
Labels: Frontend

Enable `belongs_to_required_by_default` behaviour
  src/api/config/application.rb
Labels: Frontend

Remove redundant presence validations for belongs_to relations
  src/api/app/models/attrib.rb
  src/api/app/models/comment.rb
  src/api/app/models/commit_activity.rb
  src/api/app/models/download_repository.rb
  src/api/app/models/group_maintainer.rb
  src/api/app/models/groups_user.rb
  src/api/app/models/kiwi/profile.rb
  src/api/app/models/notified_project.rb
  src/api/app/models/path_element.rb
  src/api/app/models/relationship.rb
  src/api/app/models/repository.rb
  src/api/app/models/repository_architecture.rb
  src/api/app/models/review.rb
  src/api/app/models/staging/request_exclusion.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/models/status/report.rb
  src/api/app/models/status_message.rb
  src/api/app/models/status_message_acknowledgement.rb
  src/api/app/models/token.rb
  src/api/app/models/watched_project.rb
Labels: Frontend

Adapt specs to take belongs_to_required_by_default into account
  src/api/spec/controllers/webui/download_on_demand_controller_spec.rb
  src/api/spec/controllers/webui/repositories_controller_spec.rb
  src/api/spec/models/bs_request_action_spec.rb
  src/api/spec/models/cloud/ec2/configuration_spec.rb
  src/api/spec/models/cloud/user/upload_job_spec.rb
  src/api/spec/models/comment_spec.rb
  src/api/spec/models/commit_activity_spec.rb
  src/api/spec/models/download_repository_spec.rb
  src/api/spec/models/repository_spec.rb
  src/api/spec/models/review_spec.rb
  src/api/spec/models/staging/workflow_spec.rb
  src/api/spec/models/status/report_spec.rb
  src/api/spec/models/token_spec.rb
Labels: Frontend

Disable Rails/ReversibleMigration cops on older migrations
  src/api/db/migrate/20170619111734_alter_notifications_to_use_polymorphic.rb
  src/api/db/migrate/20170704133728_remove_source_project_id_and_source_package_id_from_bs_request_actions.rb
  src/api/db/migrate/20180906142802_update_status_checks_table.rb
Labels: Frontend

Fix Rails/CompactBlank cop
  src/api/app/controllers/status/required_checks_controller.rb
  src/api/app/controllers/webui/requests/submissions_controller.rb
  src/api/app/jobs/consistency_check_job.rb
  src/api/app/lib/backend/instrumentation.rb
  src/api/app/mailers/event_mailer.rb
  src/api/app/views/webui/search/_results_owner.html.haml
Labels: Frontend

[api] fix owner search by container regression
  src/api/app/controllers/search_controller.rb
  src/api/test/functional/search_controller_test.rb
Labels: Frontend

Install dependencies for haml lint in circle ci
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Fix Rails/CompactBlank cop
  src/api/app/controllers/status/required_checks_controller.rb
  src/api/app/controllers/webui/requests/submissions_controller.rb
  src/api/app/jobs/consistency_check_job.rb
  src/api/app/lib/backend/instrumentation.rb
  src/api/app/mailers/event_mailer.rb
  src/api/app/views/webui/search/_results_owner.html.haml
Labels: Frontend

Add spec for concern MultibuildPackage
  src/api/spec/models/concerns/multibuild_package_spec.rb
Labels: Frontend

Move allow and subject instantiation to a before block
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

[backend] Implement "cosign" signatures
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_repserver
Labels: Backend

Show meaningful data for each workflow run
  src/api/app/models/workflow_run.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
Labels: Frontend

Add Eclipse Bugzilla to the list of issue trackers
  docs/api/api/issue_trackers.xml
  src/api/db/seeds.rb
  src/api/test/fixtures/issue_trackers.yml
Labels: Frontend, Documentation :book:

Add Eclipse Bugzilla to the list of issue trackers
  src/api/test/functional/issue_trackers_controller_test.rb
Labels: Frontend

Add Eclipse Bugzilla to the list of issue trackers
  docs/api/api/issue_trackers.xml
  src/api/db/seeds.rb
  src/api/test/fixtures/issue_trackers.yml
  src/api/test/functional/issue_trackers_controller_test.rb
Labels: Frontend, Documentation :book:

Extract Workflow Run components
  src/api/app/components/workflow_run_detail_component.html.haml
  src/api/app/components/workflow_run_detail_component.rb
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/models/workflow_run.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/spec/components/workflow_run_detail_component_spec.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
Labels: Frontend

Check pull/merge request actions before initializing dependencies
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/scm_webhook.rb
  src/api/app/models/token/workflow.rb
Labels: Frontend

Specs updates for trigger_workflow_controller and workflow_controller
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/models/token/workflow_spec.rb
Labels: Frontend

[backend] also put anonymous containers in the digest file
  src/backend/bs_notar
  src/backend/bs_regpush
Labels: Backend

[backend] increase max fd limit to 16384 for binariesproxy
  dist/systemd/obsgetbinariesproxy.service
Labels: none

WIP: Add exectued_workflow_step model and table to project
  src/api/app/models/executed_workflow_step.rb
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20220113164437_create_executed_workflow_steps.rb
  src/api/db/schema.rb
  src/api/spec/models/executed_workflow_step_spec.rb
Labels: Frontend

WIP: Add callbacks to create artifacts to workflow steps
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/models/workflow/step/rebuild_package.rb
Labels: Frontend

Use the allowbuilddep in meta config to whitelist project access
  src/backend/BSSched/Access.pm
Labels: Backend

Verify builldep access instead of blindly erroring out
  src/api/app/models/concerns/project_links.rb
  src/api/app/models/project.rb
  src/api/test/unit/project_test.rb
Labels: Frontend

Add a new none-or-some element <allowbuilddep> to project meta config
  docs/api/api/obs.rng
  docs/api/api/project.rng
  src/api/app/models/allowbuilddep.rb
  src/api/app/models/project.rb
  src/api/app/models/project/update_from_xml_command.rb
  src/api/app/views/models/_project.xml.builder
  src/api/db/migrate/20220117135700_create_allowbuilddeps.rb
  src/api/db/schema.rb
  src/backend/BSXML.pm
  src/backend/bs_srcserver
Labels: Frontend, Backend, Documentation :book:

Suppress a 500 error in the web-UI for project meta config
  src/api/app/views/models/_project.xml.builder
Labels: Frontend

Add a test for the new allowbuilddep functionality
  src/api/app/models/project.rb
  src/api/test/unit/project_test.rb
Labels: Frontend

Update the rails cache for project meta xml to store per-user views
  src/api/app/models/concerns/project_links.rb
  src/api/app/models/project.rb
Labels: Frontend

[backend] also cosign anonymous images in multiarch containers
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Registry.pm
Labels: Backend
