Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml

Unify rescue from Pundit::NotAuthorizedError
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/concerns/rescue_authorization_handler.rb
  src/api/app/controllers/concerns/rescue_handler.rb
  src/api/app/controllers/concerns/webui/rescue_handler.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/spec/controllers/webui/download_on_demand_controller_spec.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/controllers/webui/repositories_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
  src/api/spec/controllers/webui/webui_controller_spec.rb
  src/api/test/functional/request_controller_test.rb
Labels: Frontend

Do not capitalize class names in error messages
  src/api/app/controllers/concerns/rescue_authorization_handler.rb
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/controllers/webui/packages/branches_controller.rb
  src/api/spec/controllers/webui/download_on_demand_controller_spec.rb
  src/api/spec/controllers/webui/groups_controller_spec.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/controllers/webui/packages/branches_controller_spec.rb
  src/api/spec/controllers/webui/patchinfo_controller_spec.rb
  src/api/spec/controllers/webui/projects/project_configuration_controller_spec.rb
  src/api/spec/controllers/webui/repositories_controller_spec.rb
  src/api/spec/controllers/webui/staging/projects_controller_spec.rb
  src/api/spec/features/webui/attributes_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/test/functional/request_controller_test.rb
Labels: Frontend

Downgrade nokogiri from 1.13.7 back to 1.13.6
  src/api/Gemfile.lock
Labels: Frontend

[api] sanities permission check
  src/api/app/controllers/source_controller.rb
Labels: Frontend

Encode backend URL with Addressable
  src/api/app/helpers/maintenance_helper.rb
Labels: Frontend

Escape whitespace characters correctly for filepaths
  src/api/app/models/project.rb
Labels: Frontend

Ignore ActionDispatch::Http::MimeNegotiation::InvalidType
  src/api/config/initializers/airbrake.rb
Labels: Frontend

[backend] optimize blame algorithm to work better with many revisions
  src/backend/BSSrcServer/Blame.pm
Labels: Backend

[backend] support sending of a large number of obscpio files
  src/backend/BSCpio.pm
  src/backend/BSSrcrep.pm
  src/backend/BSTar.pm
Labels: Backend

[api] sanities permission check
  src/api/app/controllers/source_controller.rb
Labels: Frontend

[api] sanities permission check
  src/api/app/controllers/source_controller.rb
Labels: Frontend

[api] sanities permission check
  src/api/app/controllers/source_controller.rb
Labels: Frontend

Put OBS into the CI cycle
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

Remove compilation flag to fix build
  dist/obs-bundled-gems.spec
Labels: none

Adopt rack version macro to shipped rubygem-rack
  dist/obs-bundled-gems.spec
Labels: none

Adopt rake version macro to shipped rake version
  dist/obs-bundled-gems.spec
Labels: none

[backend] turn binarycache content file into sqlite db
  src/backend/bs_getbinariesproxy
Labels: Backend

[backend] handle cache management errors in bs_worker
  src/backend/bs_worker
Labels: Backend

Set build flags in branches from original projects
  src/api/app/models/project.rb
Labels: Frontend

Move sha256 computation into a new function in the BSRevision package
  src/backend/BSRevision.pm
  src/backend/bs_srcserver
Labels: Backend

Support the retrieval of the sha256sums in bs_srcserver getfilelist
  src/backend/bs_srcserver
Labels: Backend

fix(Monitor): resize table width dynamically
  src/api/app/views/webui/project/monitor.html.haml
Labels: Frontend

[backend] Add buildhook feature
  src/backend/bs_repserver
  src/backend/bs_worker
Labels: Backend

Fix the link example document
  docs/api/api/link.xml
Labels: Documentation :book:

Correct schema of the cicount attribute in link elements
  docs/api/api/link.rng
Labels: Documentation :book:

Add documentation of the attributes & elements in link.rng
  docs/api/api/link.rng
Labels: Documentation :book:

[backend] add debug output for preinstallimage miss
  src/backend/BSRepServer/BuildInfo.pm
Labels: Backend

Add feature toggle "request_show_redesign"
  src/api/config/initializers/flipper.rb
Labels: Frontend

[backend] BSPGP: fix decoding of large old-style pgp packets
  src/backend/BSPGP.pm
Labels: Backend

[backend] BSPGP: support eddsa with curce ed448
  src/backend/BSPGP.pm
Labels: Backend

Create skeleton for the request show page redesign
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_build_results.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_changes.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_mentioned_issues.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_overview.html.haml
  src/api/config/routes/webui_routes.rb
Labels: Frontend

Do not overwrite dynamic finder find_by_number! for BsRequest
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/requests/submissions_controller.rb
  src/api/app/models/bs_request.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/test/functional/request_controller_test.rb
Labels: Frontend

Move the accept logic into StagingProject
  src/api/.rubocop_todo.yml
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/app/jobs/staging_project_accept_job.rb
  src/api/app/models/concerns/staging_project.rb
  src/api/spec/jobs/staging_project_accept_job_spec.rb
  src/api/spec/models/project/staging_project_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

Remove subscriptions_spec from beta namespace
  src/api/spec/features/beta/webui/subscriptions_spec.rb
  src/api/spec/features/webui/subscriptions_spec.rb
Labels: Frontend

Move notifications spec out of beta namespace
  src/api/spec/features/webui/users/notifications_spec.rb
Labels: Frontend

Get rid of shared_example in 'beta' namespace
  src/api/.rubocop_todo.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/group_roles/Add_an_existing_group.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/group_roles/Add_non_existent_group.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/group_roles/Add_role_to_group.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/group_roles/Remove_role_from_group.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/group_roles/Viewing_group_roles.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Add_an_existing_user.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Add_non_existent_user.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Add_role_to_user.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Remove_role_from_user.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Remove_user_from_package_/_project.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Viewing_user_roles.yml
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/support/shared_examples/features/beta/user_tab.rb
  src/api/spec/support/shared_examples/features/bootstrap_user_tab.rb
Labels: Frontend, Test Suite / CI :syringe:

Remove some superflous specs
  src/api/spec/cassettes/Staging_StagingProjectsController/POST_accept/when_project_has_a_request/with_nothing_missing/as_staging_owner/can_t_accept.yml
  src/api/spec/cassettes/Staging_StagingProjectsController/POST_accept/when_project_has_a_request/with_nothing_missing/build_flags_should_be_disabled.yml
  src/api/spec/cassettes/Staging_StagingProjectsController/POST_accept/when_project_has_a_request/with_nothing_missing/starts_the_accept_job_for_the_staging_projects.yml
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
Labels: Frontend

Use rake version shipped by ruby
  dist/obs-bundled-gems.spec
  src/api/Gemfile.lock
  src/api/vendor/cache/rake-13.0.1.gem
  src/api/vendor/cache/rake-13.0.6.gem
Labels: Frontend

Set horizontal scrolling in request redesign
  src/api/app/assets/stylesheets/webui/tabs.scss
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

Add tzinfo update to 2.10.17 release notes
  ReleaseNotes-2.10.17
Labels: none
