Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

Add configuration option to prevent adding a ...
  src/api/app/controllers/source_project_meta_controller.rb
  src/api/config/options.yml.example
Labels: Frontend

Set wrap-text in confirmation modal texts
  src/api/app/components/confirmation_dialog_component.html.haml
Labels: Frontend

[backend] polish container pushing a bit
  src/backend/BSPublisher/Container.pm
Labels: Backend

Do not link to expanded sources with rev=
  src/api/app/views/webui/package/_commit_item.html.haml
Labels: Frontend

Add habtm association and join table
  src/api/app/models/group.rb
  src/api/app/models/token/workflow.rb
  src/api/app/models/user.rb
  src/api/db/migrate/20220607203720_add_workflow_token_users_table.rb
  src/api/db/migrate/20220610114201_add_workflow_token_groups_table.rb
  src/api/db/schema.rb
  src/api/spec/models/token/workflow_spec.rb
Labels: Frontend

Add scopes and use them in TokenPolicy#resolve
  src/api/app/models/token.rb
  src/api/app/policies/token_policy.rb
Labels: Frontend

Implement token's user and token's groups resources
  src/api/app/components/token_card_component.html.haml
  src/api/app/controllers/webui/users/tokens/groups_controller.rb
  src/api/app/controllers/webui/users/tokens/users_controller.rb
  src/api/app/views/webui/users/tokens/show.html.haml
  src/api/app/views/webui/users/tokens/users/_add_group_to_token_dialog.html.haml
  src/api/app/views/webui/users/tokens/users/_add_user_to_token_dialog.html.haml
  src/api/app/views/webui/users/tokens/users/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/tokens/users/index.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/users/tokens/groups_controller_spec.rb
  src/api/spec/controllers/webui/users/tokens/users_controller_spec.rb
Labels: Frontend

Adapt policies
  src/api/app/policies/token/workflow_policy.rb
  src/api/app/policies/token_policy.rb
  src/api/spec/policies/token/workflow_policy_spec.rb
  src/api/spec/policies/token_policy_spec.rb
Labels: Frontend

Handle tokens from groups
  src/api/app/models/token.rb
  src/api/app/policies/token_policy.rb
  src/api/spec/policies/token_policy_spec.rb
Labels: Frontend

Add comment to move scopes to Token::Workflow
  src/api/app/models/token.rb
Labels: Frontend

Adapt authorization on shared workflow tokens
  src/api/app/models/token.rb
  src/api/app/models/token/workflow.rb
  src/api/app/policies/token/workflow_policy.rb
  src/api/app/policies/workflow_run_policy.rb
Labels: Frontend

Simplify specs
  src/api/spec/controllers/webui/users/tokens/groups_controller_spec.rb
  src/api/spec/controllers/webui/users/tokens/users_controller_spec.rb
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/policies/token/workflow_policy_spec.rb
Labels: Frontend

Add autorization to token's users index
  src/api/app/controllers/webui/users/tokens/users_controller.rb
  src/api/app/policies/token/workflow_policy.rb
Labels: Frontend

Add token id to some breadcrumbs
  src/api/app/views/webui/users/tokens/users/_breadcrumb_items.html.haml
  src/api/app/views/webui/workflow_runs/_breadcrumb_items.html.haml
Labels: Frontend

Address Rubocop offense about Rails/RootPublicPath
  src/api/app/controllers/concerns/webui/rescue_handler.rb
  src/api/app/mixins/flipper_feature.rb
Labels: Frontend

Toggle visibility of the token secret
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/policies/token_policy.rb
  src/api/app/views/webui/users/tokens/hide.js.erb
  src/api/app/views/webui/users/tokens/show.html.haml
  src/api/app/views/webui/users/tokens/show.js.erb
  src/api/config/routes/webui_routes.rb
Labels: Frontend

Address Rubocop offense about Rails/StripHeredoc
  src/api/spec/controllers/webui/packages/files_controller_spec.rb
  src/api/spec/models/kiwi/description_spec.rb
  src/api/spec/models/kiwi/image/xml_builder_spec.rb
  src/api/spec/models/kiwi/preference_spec.rb
  src/api/spec/support/shared_contexts/a_kiwi_image_xml.rb
  src/api/spec/support/shared_contexts/a_opensuse_product.rb
  src/api/spec/support/shared_contexts/an_invalid_kiwi_image_xml.rb
  src/api/test/functional/person_controller_test.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/unit/bs_request_test.rb
  src/api/test/unit/project_test.rb
Labels: Frontend

Update .rubocop_todo.yml
  src/api/.rubocop_todo.yml
Labels: Frontend, Test Suite / CI :syringe:

Fix haml lint complaint and separate hide button
  src/api/app/views/webui/users/tokens/hide.js.erb
  src/api/app/views/webui/users/tokens/show.html.haml
  src/api/app/views/webui/users/tokens/show.js.erb
Labels: Frontend

Remove first copy and paste component
  src/api/app/views/webui/users/tokens/show.js.erb
Labels: Frontend

Switch to plain js implementation
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/policies/token_policy.rb
  src/api/app/views/webui/users/tokens/hide.js.erb
  src/api/app/views/webui/users/tokens/show.html.haml
  src/api/app/views/webui/users/tokens/show.js.erb
Labels: Frontend

CopyToClipboardInputComponent supports several instances
  src/api/app/components/copy_to_clipboard_input_component.html.haml
  src/api/app/components/copy_to_clipboard_input_component.rb
Labels: Frontend

Create the new executor_id column in tokens table
  src/api/app/models/token.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/models/token/rss.rb
  src/api/app/models/token/service.rb
  src/api/app/models/token/workflow.rb
  src/api/db/migrate/20220621075514_add_executor_column_to_tokens_table.rb
  src/api/db/schema.rb
Labels: Frontend

Ensure we write to both user and executor columns
  src/api/app/controllers/person/token_controller.rb
  src/api/app/controllers/webui/users/tokens_controller.rb
Labels: Frontend

Task to backfill executor_id column in tokens table
  src/api/lib/tasks/databases.rake
Labels: Frontend

Update default token type
  src/api/app/views/webui/users/tokens/new.html.haml
Labels: Frontend

This job is not useful anymore
  src/api/lib/tasks/databases.rake
Labels: Frontend

Shift reads from `user` to `executor`
  src/api/app/components/token_card_component.html.haml
  src/api/app/controllers/trigger_controller.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/controllers/webui/feeds_controller.rb
  src/api/app/models/token.rb
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/models/workflow/step/rebuild_package.rb
  src/api/app/models/workflow/step/set_flags.rb
  src/api/app/models/workflow/step/trigger_services.rb
  src/api/app/policies/token/rss_policy.rb
  src/api/app/policies/token_policy.rb
  src/api/app/views/webui/users/tokens/show.html.haml
Labels: Frontend

Activate rails 6.1 default configs
  src/api/config/initializers/new_framework_defaults_6_0.rb
  src/api/config/initializers/new_framework_defaults_6_1.rb
Labels: Frontend

Rename component to DeleteConfirmationDialogComponent
  src/api/app/components/delete_confirmation_dialog_component.html.haml
  src/api/app/components/delete_confirmation_dialog_component.rb
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/users/tokens/users/index.html.haml
  src/api/spec/components/delete_confirmation_dialog_component_spec.rb
Labels: Frontend

Add JS function to set values on confirmation modal
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/delete_confirmation_dialog.js
  src/api/app/components/watchlist_component.html.haml
  src/api/app/views/webui/users/tokens/users/index.html.haml
Labels: Frontend

Add JS function to set values on confirmation modal
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/delete_confirmation_dialog.js
  src/api/app/components/watchlist_component.html.haml
  src/api/app/views/webui/users/tokens/users/index.html.haml
Labels: Frontend

Set JS code in DeleteConfirmationDialogComponent
  src/api/app/assets/javascripts/webui/delete_confirmation_dialog.js
  src/api/app/components/delete_confirmation_dialog_component.html.haml
  src/api/app/components/watchlist_component.html.haml
  src/api/app/views/webui/users/tokens/users/index.html.haml
Labels: Frontend

Remove not used AcceptRequestsJob job definition
  src/api/app/jobs/accept_requests_job.rb
Labels: Frontend

Set JS code in DeleteConfirmationDialogComponent
  src/api/app/assets/javascripts/webui/delete_confirmation_dialog.js
  src/api/app/components/delete_confirmation_dialog_component.html.haml
  src/api/app/components/watchlist_component.html.haml
  src/api/app/views/webui/users/tokens/users/index.html.haml
Labels: Frontend

Rename Token.users_shared_among to Token.users
  src/api/app/controllers/webui/users/tokens/users_controller.rb
  src/api/app/models/token/workflow.rb
Labels: Frontend

Rename Token.groups_shared_among to Token.groups
  src/api/app/controllers/webui/users/tokens/groups_controller.rb
  src/api/app/controllers/webui/users/tokens/users_controller.rb
  src/api/app/models/token/workflow.rb
Labels: Frontend

Render only one modal of each type
  src/api/app/views/webui/users/tokens/users/index.html.haml
Labels: Frontend

[backend] log publish failures as critical when
  src/backend/bs_publish
Labels: Backend

[backend] SLSA: minor meta data fixes
  src/backend/BSSched/BuildJob.pm
  src/backend/BSXML.pm
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
Labels: Backend

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml
