Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml

Mark passwords for SSO-only users as invalid to allow changing them later
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/models/user.rb
  src/api/app/views/webui2/webui/user/_password_dialog.html.haml
Labels: Frontend

Only store the 'info' part of the auth hash in the session
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/models/user.rb
Labels: Frontend

Add spec to check that issues are created correctly
  src/api/spec/fixtures/files/mod_ssl.changes
  src/api/spec/jobs/package_update_if_dirty_job_spec.rb
Labels: Frontend

Add word boundary issue tracker regex in the database seeds
  src/api/db/seeds.rb
Labels: Frontend

Regenerate vcr cassettes for PackageUpdateIfDirtyJob spec
  src/api/spec/cassettes/PackageUpdateIfDirtyJob/_perform/creates_issues_from_the_text_in_the_changes_file.yml
Labels: Frontend

Add validation of word boundary on issue tracker regex
  src/api/app/models/issue_tracker.rb
  src/api/spec/models/issue_tracker_spec.rb
Labels: Frontend

Add data migration to add word boundary to issue tracker regex
  src/api/db/data/20220126223735_add_word_boundary_to_issue_tracker_regex.rb
  src/api/db/data_schema.rb
  src/api/spec/db/data/add_word_boundary_to_issue_tracker_regex_spec.rb
Labels: Frontend

Adapt issue tracker xml schemas to use the word boundary in the regex
  docs/api/api/issue_tracker.xml
  docs/api/api/issue_trackers.xml
  src/api/test/fixtures/issue_trackers.yml
Labels: Frontend, Documentation :book:

Adapt specs and factories to use word boundary on issue tracker
  src/api/spec/factories/issue_tracker.rb
  src/api/spec/models/issue_spec.rb
  src/api/spec/models/issue_tracker/issue_summary_spec.rb
Labels: Frontend

Adapt minitest to use word boundary on issue tracker
  src/api/test/functional/issue_trackers_controller_test.rb
Labels: Frontend

[api] do not list deleted users
  src/api/app/controllers/person_controller.rb
  src/api/lib/xpath_engine.rb
Labels: Frontend

[backend] automatically trigger a service run if the obsscm element is changed
  src/backend/bs_srcserver
Labels: Backend

Move logic to acces multibuild files to Backend lib and add specs for Package#multibuild_flavors
  src/api/app/lib/backend/api/sources/package.rb
  src/api/app/models/concerns/multibuild_package.rb
  src/api/spec/cassettes/Package/_add_containers/1_27_1.yml
  src/api/spec/cassettes/Package/_ignored_requests/when_the_package_has_no_ignored_requests_file/1_24_2_1.yml
  src/api/spec/cassettes/Package/_multibuild_flavors/1_23_1.yml
  src/api/spec/models/concerns/multibuild_package_spec.rb
  src/api/spec/models/package_spec.rb
Labels: Frontend

Add WorkflowArtifactsPerStep model
  src/api/app/models/workflow_artifacts_per_step.rb
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20220126155601_create_workflow_artifacts_per_steps.rb
  src/api/db/schema.rb
  src/api/spec/models/workflow_artifacts_per_step_spec.rb
Labels: Frontend

Pass workflow_run_id as argument to Workflow.new
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow.rb
  src/api/app/services/workflows/yaml_to_workflows_service.rb
  src/api/spec/models/workflow_spec.rb
Labels: Frontend

Make target_package_name method public
  src/api/app/models/workflow/step.rb
Labels: Frontend

Do not expand sources by default
  src/api/app/models/concerns/multibuild_package.rb
  src/api/app/models/package.rb
  src/api/spec/cassettes/ImageTemplates/branching/branch_Kiwi_image_template.yml
  src/api/spec/cassettes/ImageTemplates/branching/branch_image_template.yml
  src/api/spec/cassettes/Package/_file_exists_/_multibuild_file_should_exist/1_4_1_1.yml
  src/api/spec/cassettes/Package/_file_exists_/with_more_than_one_file/returns_false_if_the_file_does_not_exist.yml
  src/api/spec/cassettes/Package/_file_exists_/with_more_than_one_file/returns_true_if_the_file_exist.yml
  src/api/spec/cassettes/Package/_file_exists_/with_one_file/returns_false_if_the_file_does_not_exist.yml
  src/api/spec/cassettes/Package/_file_exists_/with_one_file/returns_true_if_the_file_exist.yml
  src/api/spec/cassettes/Package/_has_icon_/returns_false_if_the_icon_does_not_exist.yml
  src/api/spec/cassettes/Package/_has_icon_/returns_true_if_the_icon_exist.yml
  src/api/spec/cassettes/Package/_ignored_requests/when_the_package_has_an_ignored_requests_file/parses_the_content_as_YAML_and_returns_a_hash.yml
Labels: Frontend

Extend Workflow model specs
  src/api/spec/cassettes/Workflow/_steps/with_a_supported_step/1_2_1_2.yml
  src/api/spec/cassettes/Workflow/_steps/with_no_steps_specified/1_2_4_2.yml
  src/api/spec/cassettes/Workflow/_steps/with_one_unsupported_step/1_2_3_2.yml
  src/api/spec/cassettes/Workflow/_steps/with_several_supported_steps/creates_no_artifacts_because_an_exception_is_raised.yml
  src/api/spec/cassettes/Workflow/_steps/with_step_with_invalid_intructions/1_2_5_2.yml
  src/api/spec/cassettes/Workflow/_steps/with_step_with_invalid_project_name/1_2_6_2.yml
  src/api/spec/models/workflow_spec.rb
Labels: Frontend

Add collector and its specs for different steps and events
  src/api/app/models/workflow.rb
  src/api/app/services/workflows/artifacts_collector.rb
  src/api/spec/services/workflows/artifacts_collector_spec.rb
Labels: Frontend

Adapt specs affected by passing workflow_run_id
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/services/workflows/yaml_to_workflows_service_spec.rb
Labels: Frontend

Add step `set_flags`
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step/set_flags.rb
Labels: Frontend

Specs for set_flag step
  src/api/spec/models/workflow/step/set_flags_step_spec.rb
Labels: Frontend

Adapt BranchPackageStep to dont expect SCMStatusReporter
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Labels: Frontend

[backend] fix rekor upload of container signatures
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_regpush
Labels: Backend

Implement a preview for the worklow run artifact component
  src/api/spec/components/previews/workflow_artifacts_per_step_component_preview.rb
Labels: Frontend

Show sentences for workflow run artifacts
  src/api/app/components/workflow_artifacts_per_step_component.rb
  src/api/app/components/workflow_run_detail_component.html.haml
  src/api/app/components/workflow_run_detail_component.rb
Labels: Frontend

Specs for WorkflowArtifactsPerStepComponent
  src/api/spec/components/workflow_artifacts_per_step_component_spec.rb
Labels: Frontend

[backend] implement uploading of repository signatures to a rekor server
  src/backend/bs_publish
Labels: Backend

Fix Metrics/ClassLength rubocop offense in workflow model
  src/api/app/models/workflow.rb
Labels: Frontend

Create an initial generic status
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/services/scm_initial_status_reporter.rb
  src/api/spec/models/token/workflow_spec.rb
Labels: Frontend

Fix artifacts for configure_repositories
  src/api/app/services/workflows/artifacts_collector.rb
  src/api/spec/components/previews/workflow_artifacts_per_step_component_preview.rb
  src/api/spec/services/workflows/artifacts_collector_spec.rb
Labels: Frontend

Move hook_event logic from workflow_run_row view component to model
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/models/workflow_run.rb
Labels: Frontend

Add spec for workflow run filter link view component
  src/api/spec/components/workflow_run_filter_link_component_spec.rb
Labels: Frontend

Implement filters for the workflow runs index page
  src/api/app/assets/stylesheets/webui/workflow_runs.scss
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_component.rb
  src/api/app/components/workflow_run_filter_link_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/queries/workflow_runs_finder.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/spec/components/workflow_run_row_component_spec.rb
Labels: Frontend

Add spec for workflow runs finder class
  src/api/spec/queries/workflow_runs_finder_spec.rb
Labels: Frontend

Add spec for workflow run filter view component
  src/api/spec/components/workflow_run_filter_component_spec.rb
Labels: Frontend

Show delete requests in status page
  src/api/app/controllers/webui/projects/status_controller.rb
Labels: Frontend

[backend] fix checkconstraints on plain links
  src/backend/bs_srcserver
Labels: Backend

Add a little popover description to workflow run filter categories
  src/api/app/components/workflow_run_filter_component.html.haml
Labels: Frontend

[api] take care of devel package definition in owner search
  src/api/app/controllers/search_controller.rb
  src/api/app/models/owner_search/base.rb
Labels: Frontend
