Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

Track network glitch exception in ScmStatusReport
  src/api/app/services/scm_status_reporter.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

Expose some more attributes in the factory
  src/api/spec/factories/bs_requests.rb
Labels: Frontend

Introduces perform_active_job example setting
  src/api/spec/support/delayed_job.rb
Labels: Frontend

Do not leak the session in auto_accept
  src/api/app/models/bs_request.rb
Labels: Frontend

Do not leak the session in auto_accept
  src/api/app/models/bs_request.rb
Labels: Frontend

Run rake/rack tests only if the bundle changes
  .circleci/conditional_config.yml
  .circleci/config.yml
Labels: Test Suite / CI :syringe:

Introduces GLOBAL_WRITE_THROUGH spec variable
  src/api/spec/support/vcr.rb
Labels: Frontend

[dist] reexport key after setting expiry date
  dist/functions.setup-appliance.sh
Labels: none

[dist] improve error handling for setup-appliance.sh
  dist/functions.setup-appliance.sh
Labels: none

Some ActiveRecord callbacks reset object reference
  src/api/app/models/user.rb
Labels: Frontend

Unify metrics for ScmStatusReport
  src/api/app/models/workflow_run.rb
  src/api/app/services/scm_status_reporter.rb
Labels: Frontend

Fix /user/show/:user path
  src/api/config/routes/webui_routes.rb
Labels: Frontend

Revert "Workaround after_destroy_commit loosing Thread variables"
  src/api/app/models/user.rb
Labels: Frontend

Introduces commit_opts[:login] for delete_on_backend
  src/api/app/models/bs_request_action_delete.rb
  src/api/app/models/project.rb
Labels: Frontend

Refactor Scm Status Reporter
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/gitlab_status_reporter.rb
  src/api/app/services/scm_status_reporter.rb
Labels: Frontend

Refactor scm status reporter specs
  src/api/spec/jobs/report_to_scm_job_spec.rb
  src/api/spec/services/github_status_reporter_spec.rb
  src/api/spec/services/gitlab_status_reporter_spec.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

[api] support listing of confirmed users only
  docs/api/api/api.txt
  src/api/app/controllers/person_controller.rb
  src/api/public/apidocs-new/paths/person.yaml
  src/api/test/functional/person_controller_test.rb
Labels: Frontend, Documentation :book:

[api] fix do not auto decline request with an embargo date
  src/api/app/models/bs_request.rb
Labels: Frontend

[api] support request approve in new state
  src/api/app/models/bs_request.rb
Labels: Frontend

Temporarily comment out ScmInitialStatusReporter calls
  src/api/app/models/token/workflow.rb
  src/api/spec/models/token/workflow_spec.rb
Labels: Frontend

Update gems until latest patch
  src/api/Gemfile.lock
Labels: Frontend

Call SCMStatusReporter and not specific reporters
  src/api/app/jobs/report_to_scm_job.rb
Labels: Frontend

Remove ScmInitialStatusReporter
  src/api/app/models/token/workflow.rb
  src/api/app/services/scm_initial_status_reporter.rb
Labels: Frontend

Refactor the reporters' code
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/gitlab_status_reporter.rb
  src/api/app/services/scm_status_reporter.rb
Labels: Frontend

Adapt the specs related to the reporters
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/services/github_status_reporter_spec.rb
  src/api/spec/services/gitlab_status_reporter_spec.rb
Labels: Frontend

Test
  src/api/app/models/token/workflow.rb
Labels: Frontend

Testing
  README.md
Labels: Documentation :book:

Allow users to manage their own home project and its packages
  src/api/app/models/user.rb
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/sets_the_package.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/sets_the_project.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_not_passing_the_rev_parameter/and_passing_the_page_parameter/returns_the_paginated_revisions_for_the_page_parameter_s_value.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_not_passing_the_rev_parameter/and_passing_the_show_all_parameter/returns_revisions_without_pagination.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_not_passing_the_rev_parameter/returns_revisions_with_the_default_pagination.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_passing_the_rev_parameter/and_passing_the_page_parameter/returns_the_paginated_revisions_for_the_page_parameter_s_value.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_passing_the_rev_parameter/and_passing_the_show_all_parameter/returns_revisions_up_to_rev_parameter_s_value_without_pagination.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_passing_the_rev_parameter/returns_revisions_up_to_rev_parameter_s_value_with_the_default_pagination.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/without_source_access/1_6_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/without_source_access/1_6_1_2.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Frontend

Allow /public access to files with spaces
  src/api/app/controllers/public_controller.rb
Labels: Frontend

Send only exception class name to metrics
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/gitlab_status_reporter.rb
Labels: Frontend

Introduces commit_opts[:login] for delete_on_backend
  src/api/app/models/bs_request_action_delete.rb
  src/api/app/models/project.rb
Labels: Frontend

Update release notes for 2.10.17
  ReleaseNotes-2.10.17
Labels: none

Don't copy sources when branching a scmsynced package
  src/api/app/models/branch_package.rb
Labels: Frontend

Add support for scmsynced packages and projects to branch_package step
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
Labels: Frontend

Add support for scmsynced packages and projects to link_package step
  src/api/app/models/workflow/step/link_package_step.rb
Labels: Frontend

Add specs for scmsynced packages and projects in link package step
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_5.yml
  src/api/spec/models/workflow/step/link_package_step_spec.rb
Labels: Frontend

Reduce cyclomatic complexity for branch_package and link_package method
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
Labels: Frontend

Extract scmsync related methods for workflow steps to a concern
  src/api/app/models/concerns/scm_sync_enabled_step.rb
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
Labels: Frontend

Add specs for scmsynced packages and projects in branch package step
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_8_2_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_8_2_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_8_2_3.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_8_2_4.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_8_2_5.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_8_1_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_8_1_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_8_1_3.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_8_1_4.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_8_1_5.yml
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Labels: Frontend

Retire shared_examples 'require logged in user'
  src/api/spec/cassettes/Webui_Cloud_Azure_ConfigurationsController/PUT_update/1_2_1.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_ConfigurationsController/PUT_update/behaves_like_require_logged_in_user/when_proxy_auth_mode_off/1_2_1_3_1.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_ConfigurationsController/PUT_update/behaves_like_require_logged_in_user/when_proxy_auth_mode_on/1_2_1_4_1.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_ConfigurationsController/PUT_update/behaves_like_require_logged_in_user/when_request_is_xhr/returns_Please_login_error.yml
  src/api/spec/controllers/webui/cloud/azure/configurations_controller_spec.rb
  src/api/spec/controllers/webui/staging/projects_controller_spec.rb
  src/api/spec/controllers/webui/staging/workflows_controller_spec.rb
  src/api/spec/controllers/webui/status_messages_controller_spec.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/controllers/webui/users/patchinfos_controller_spec.rb
  src/api/spec/controllers/webui/users/rss_tokens_controller_spec.rb
  src/api/spec/controllers/webui/users/subscriptions_controller_spec.rb
  src/api/spec/controllers/webui/users/tasks_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
  src/api/spec/support/shared_examples/require_logged_in_user.rb
Labels: Frontend

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml
