Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

Rexml is a not a default gem in Ruby 3.1 anymore
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

Don't rely on other conditions to stop a live log
  src/api/app/controllers/webui/package_controller.rb
Labels: Frontend

Fix Rubocop offenses automatically
  src/api/app/controllers/webui/package_controller.rb
Labels: Frontend

Replace the shebangs of the ruby executables
  dist/obs-bundled-gems.spec
Labels: none

Remove exec bit from gems
  dist/obs-bundled-gems.spec
Labels: none

Add ruby 3.1 update to README.UPDATERS
  dist/README.UPDATERS
Labels: none

Replace deprecated URI.escape
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/spec/factories/packages.rb
  src/api/spec/models/package_spec.rb
Labels: Frontend

Add required matrix gem
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/vendor/cache/matrix-0.4.2.gem
Labels: Frontend

Looks like thor gem is not needed anymore
  src/api/vendor/cache/thor-1.1.0.gem
Labels: Frontend

URI.encode is removed, use CGI.unescape
  src/api/app/models/package_file.rb
  src/api/app/models/project_config_file.rb
  src/api/app/models/project_file.rb
  src/api/app/models/project_meta_file.rb
  src/api/spec/models/backend/file_spec.rb
Labels: Frontend

Append action id to the xml_id to make a unique tab_pane_id
  src/api/app/views/webui/request/show.html.haml
Labels: Frontend

Fix separation of positional and keyword arguments
  src/api/app/lib/backend/remember_location.rb
Labels: Frontend

The switch to URI.escape changes what is escaped
  src/api/spec/models/package_spec.rb
Labels: Frontend

CGI.escape escapes more than URI.escape
  src/api/app/helpers/webui/webui_helper.rb
  src/api/spec/helpers/webui/webui_helper_spec.rb
Labels: Frontend

Remove a superflous validation spec
  src/api/spec/lib/backend/api/cloud_spec.rb
Labels: Frontend

on more
  src/api/app/helpers/webui/webui_helper.rb
Labels: Frontend

Don't modify frozen strings
  src/api/app/helpers/webui/webui_helper.rb
Labels: Frontend

Monkey patch vcr Ruby 3.1 compatibility
  src/api/spec/support/vcr.rb
Labels: Frontend

WIP: Container image cleanup
  .circleci/conditional_config.yml
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.minitest
Labels: Frontend, Test Suite / CI :syringe:

Remove a superflous validation spec
  src/api/spec/lib/backend/api/cloud_spec.rb
Labels: Frontend

Introduce browser notifications for live build logs
  src/api/app/assets/javascripts/webui/live_build_log.js
  src/api/app/views/webui/package/_live_build_log_controls.html.haml
  src/api/app/views/webui/package/update_build_log.js.haml
Labels: Frontend

Adjust jslint ignored lines
  src/api/app/assets/javascripts/webui/live_build_log.js
Labels: Frontend

Add rails task to create workflow token and runs
  src/api/lib/tasks/dev.rake
  src/api/spec/factories/workflow_artifacts_per_step.rb
  src/api/spec/factories/workflow_runs.rb
Labels: Frontend

Remove not needed debug logging of finished state
  src/api/app/controllers/webui/package_controller.rb
Labels: Frontend

Don't retry requesting the last chunk
  src/api/app/controllers/webui/package_controller.rb
Labels: Frontend

URI.encode is removed, use Addressable::URI.encode
  src/api/app/models/package_file.rb
  src/api/app/models/project_config_file.rb
  src/api/app/models/project_file.rb
  src/api/app/models/project_meta_file.rb
  src/api/spec/models/backend/file_spec.rb
  src/api/test/functional/request_controller_test.rb
Labels: Frontend

Use more sensical names for the container image aliases
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Rename run-root-rubocop to run-dist-linter
  .circleci/conditional_config.yml
  .circleci/config.yml
Labels: Test Suite / CI :syringe:

Replace URI.escape with Addressable::URI.escape
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/spec/factories/packages.rb
  src/api/spec/models/package_spec.rb
Labels: Frontend

Better bundler cache
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Run rubocop once
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Pin path-filtering orb only to major versions
  .circleci/config.yml
Labels: Test Suite / CI :syringe:

Replace URI.unescape with CGI.unescape
  src/api/app/controllers/group_controller.rb
  src/api/app/controllers/person_controller.rb
Labels: Frontend

Looks like thor gem is not needed anymore
  src/api/vendor/cache/thor-1.1.0.gem
Labels: Frontend

Rexml is a not a default gem in Ruby 3.1 anymore
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

Monkey patch vcr Ruby 3.1 compatibility
  src/api/spec/support/vcr.rb
Labels: Frontend

Build obs-bundled-gems against Ruby 3.1
  dist/obs-bundled-gems.spec
Labels: none

Fix separation of positional and keyword arguments
  src/api/app/lib/backend/remember_location.rb
Labels: Frontend

Don't modify frozen strings
  src/api/app/helpers/webui/webui_helper.rb
Labels: Frontend

Fix some ruby 3.1 incompatibilities
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/config/environment.rb
  src/api/vendor/cache/digest-3.1.0.gem
  src/api/vendor/cache/io-wait-0.2.1.gem
  src/api/vendor/cache/net-imap-0.2.3.gem
  src/api/vendor/cache/net-pop-0.1.1.gem
  src/api/vendor/cache/net-protocol-0.1.2.gem
  src/api/vendor/cache/net-smtp-0.3.1.gem
  src/api/vendor/cache/strscan-3.0.1.gem
  src/api/vendor/cache/thor-1.2.1.gem
  src/api/vendor/cache/timeout-0.2.0.gem
Labels: Frontend

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml
