Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml

Fix YAML syntax
  src/api/test/fixtures/issue_trackers.yml
Labels: Frontend

Handle emails for Relationship events
  src/api/app/views/event_mailer/relationship_create.html.haml
  src/api/app/views/event_mailer/relationship_create.text.erb
  src/api/app/views/event_mailer/relationship_delete.html.haml
  src/api/app/views/event_mailer/relationship_delete.text.erb
  src/api/spec/factories/event_subscriptions.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend

Description for relationship events
  src/api/app/models/event/base.rb
Labels: Frontend

[api][backend] allow to disable export of issue trackers
  docs/api/api/obs.rng
  src/api/db/migrate/20210707134455_publish_issues.rb
  src/api/db/schema.rb
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/BSXML.pm
Labels: Frontend, Backend, Documentation :book:

Add new subscriptions in notifications rake task
  src/api/lib/tasks/dev.rake
Labels: Frontend

Remove duplicated metrics for notifications
  src/api/app/models/notification.rb
  src/api/spec/models/notification_spec.rb
Labels: Frontend

[backend] improve handling of mapped ipv4 addresses
  src/backend/BSServer.pm
Labels: Backend

[backend] save some memory by not copying the solv file content
  src/backend/BSSched/Remote.pm
Labels: Backend

[backend] scm bridge: fix package deletion
  src/backend/BSSrcServer/Scmsync.pm
Labels: Backend

[backend] BSSrcdiff: die with the exit status if tar fails
  src/backend/BSSrcdiff.pm
Labels: Backend

Introduce tags for notification counts
  src/api/app/jobs/measurements_job.rb
Labels: Frontend

[backend] move BSSrcdiff.pm into BSSrcServer
  src/backend/BSSrcServer/Srcdiff.pm
  src/backend/bs_srcserver
Labels: Backend

Rename event_subscription measurement
  src/api/app/models/event_subscription.rb
Labels: Frontend

Only mark web notifications as delivered
  src/api/app/controllers/webui/users/notifications_controller.rb
Labels: Frontend

Drop the superflous spec
  src/api/spec/models/event_subscription_spec.rb
Labels: Frontend

[backend] remove unused BSAccess.pm
  src/backend/BSAccess.pm
  src/backend/BSSrcServer/Projlink.pm
Labels: Backend

[backend] Adapt batcher starting to new location
  src/backend/BSSrcServer/Srcdiff.pm
Labels: Backend

Add migration to extend events id capacity
  src/api/db/migrate/20220518094002_increase_event_id_column_capacity.rb
  src/api/db/schema.rb
Labels: Frontend

Adapt annotations in all models
  src/api/app/models/event/base.rb
  src/api/app/models/event/branch_command.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/build_success.rb
  src/api/app/models/event/build_unchanged.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/commit.rb
  src/api/app/models/event/create_package.rb
  src/api/app/models/event/create_project.rb
  src/api/app/models/event/delete_package.rb
  src/api/app/models/event/delete_project.rb
  src/api/app/models/event/packtrack.rb
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
  src/api/app/models/event/repo_build_finished.rb
  src/api/app/models/event/repo_build_started.rb
  src/api/app/models/event/repo_publish_state.rb
  src/api/app/models/event/repo_published.rb
  src/api/app/models/event/request_change.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_delete.rb
  src/api/app/models/event/request_reviews_done.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_changed.rb
  src/api/app/models/event/review_wanted.rb
  src/api/app/models/event/service_fail.rb
  src/api/app/models/event/service_success.rb
  src/api/app/models/event/status_check_for_build.rb
  src/api/app/models/event/status_check_for_published.rb
  src/api/app/models/event/status_check_for_request.rb
  src/api/app/models/event/undelete_package.rb
  src/api/app/models/event/undelete_project.rb
  src/api/app/models/event/update_package.rb
  src/api/app/models/event/update_project.rb
  src/api/app/models/event/update_project_config.rb
  src/api/app/models/event/upload.rb
  src/api/app/models/event/version_change.rb
Labels: Frontend

Fix event_subscription measurements
  src/api/app/models/event_subscription.rb
Labels: Frontend

[backend] make code work with old perl versions that do not have ipv6 support
  src/backend/BSRPC.pm
  src/backend/BSServer.pm
Labels: Backend

Measure EventSubscription count
  src/api/app/jobs/measurements_job.rb
Labels: Frontend

[backend] access Socket::IN6ADDR_ANY as function
  src/backend/BSServer.pm
Labels: Backend

Catch Octokit::BadGateway and Octokit::UnprocessableEntity exception
  src/api/app/services/scm_exception_handler.rb
Labels: Frontend

Catch Gitlab::Error::BadRequest in SCMExceptionHandler
  src/api/app/services/scm_exception_handler.rb
Labels: Frontend

Send metrics for delivered notifications only
  src/api/app/controllers/webui/users/notifications_controller.rb
Labels: Frontend

Adapt specs about notifications metrics
  src/api/spec/models/notification_spec.rb
Labels: Frontend

Send metrics for notifications delivered by API
  src/api/app/models/notification.rb
Labels: Frontend

Fix typo in review assignment comment
  src/api/app/models/bs_request.rb
Labels: Frontend

Tackle offenses about RSpec/ChangeByZero
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
  src/api/spec/models/workflow/step/link_package_step_spec.rb
  src/api/spec/models/workflow/step/rebuild_package_step_spec.rb
  src/api/spec/models/workflow_spec.rb
Labels: Frontend

Tackle offense about RSpec/ExpectChange
  src/api/spec/models/bs_request_spec.rb
Labels: Frontend

[backend] scmsync: we need to store _service files
  src/backend/BSSrcServer/Service.pm
Labels: Backend

Update table schema
  src/api/db/schema.rb
Labels: Frontend

[backend] SLSA: put provenance binaries in a subdir
  src/backend/BSRepServer/SLSA.pm
Labels: Backend

[backend] Add support for qemu system emulated builds via bs_worker
  dist/obsworker
  dist/sysconfig.obs-server
  src/backend/bs_worker
Labels: Backend

[backend] update bs_worker help to use --vm-type instead of old compat switches
  src/backend/bs_worker
Labels: Backend

Merge request and response workflow run tabs
  src/api/app/components/workflow_run_detail_component.html.haml
  src/api/app/components/workflow_run_detail_component.rb
  src/api/app/models/workflow_run.rb
Labels: Frontend

Add github and gitlab exception messages
  src/api/app/services/scm_exception_handler.rb
  src/api/app/services/scm_exception_message.rb
Labels: Frontend

Update specs for exception message
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

[backend] allow network for download_assets service
  src/backend/call-service-in-container
  src/backend/call-service-in-docker.sh
Labels: Backend
