Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

Rename method valid_filters? to validate_filters
  src/api/app/validators/workflow_filters_validator.rb
Labels: Frontend

Replace SLE_15_SP3 with 15.3 in the workflows.yml
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

Remove openSUSE_Factory repository from workflows.yml
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

Move SCM integration from branch package to link package To be able to restrict the building architectures and repositories, swithc the SCM integration strategy from branch package to link package
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/models/package_check_upgrade.rb
  src/api/app/views/webui/requests/checkupgrade/_show_actions.html.erb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

[backend] allow aggregate from non-modulemd binaries into modulemd projects
  src/backend/BSSched/BuildJob/Aggregate.pm
Labels: Backend

Drop response_url from workflow_runs
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20211112134215_remove_response_url_from_workflow_runs.rb
  src/api/db/schema.rb
Labels: Frontend

Update
  src/api/app/models/package_check_upgrade.rb
  src/api/db/migrate/20211112162609_add_send_email_to_package_check_upgrades.rb
  src/api/db/schema.rb
Labels: Frontend

Test, please ignore
  CONTRIBUTING.md
Labels: Documentation :book:

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/models/package_check_upgrade.rb
  src/api/db/migrate/20211113095329_add_user_email_to_package_check_upgrades.rb
  src/api/db/schema.rb
Labels: Frontend

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
Labels: Frontend

Update
  src/api/app/jobs/check_upgrade_job.rb
Labels: Frontend

Update
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

Update
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

Update
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

Update
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

[backend] another tweak for the setrelease mechanism
  src/backend/bs_repserver
Labels: Backend

Handle Octokit::InvalidRepository on YAMLDownloader
  src/api/app/models/token/errors.rb
  src/api/app/services/workflows/yaml_downloader.rb
Labels: Frontend

Revert "Update sprockets-rails to version 3.3.0"
  src/api/Gemfile.lock
Labels: Frontend

Update
  src/api/app/jobs/check_upgrade_job.rb
  src/api/config/clock.rb
Labels: Frontend

Update
  src/api/config/check_upgrade.yml
Labels: Frontend

Update
  src/api/app/jobs/check_upgrade_job.rb
Labels: Frontend

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/jobs/check_upgrade_job.rb
Labels: Frontend

Revert #11850
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20211116111900_add_response_url_to_workflow_runs.rb
  src/api/db/schema.rb
Labels: Frontend

Remove outdated comments in Workflow model
  src/api/app/models/workflow.rb
Labels: Frontend

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/jobs/check_upgrade_job.rb
  src/api/config/check_upgrade.yml
Labels: Frontend

Update
  src/api/app/datatables/package_datatable.rb
Labels: Frontend

Update
  src/api/app/models/package_check_upgrade.rb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
Labels: Frontend

Update
  src/api/app/jobs/check_upgrade_job.rb
Labels: Frontend

Fix inconsistent target project name
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
  src/api/spec/models/workflow/step_spec.rb
Labels: Frontend

Update rubocop_todo.yml files
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
Labels: Frontend, Test Suite / CI :syringe:

Update
  src/api/app/jobs/check_upgrade_job.rb
  src/api/app/mailers/check_upgrade_mailer.rb
Labels: Frontend

Add specs for workflow runs
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/factories/workflow_runs.rb
  src/api/spec/models/token/workflow_spec.rb
Labels: Frontend

Log a workflow run
  src/api/app/controllers/trigger/errors.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow_run.rb
Labels: Frontend

Remove request_payload presence validation
  src/api/app/models/workflow_run.rb
Labels: Frontend

Update
  src/api/app/jobs/check_upgrade_job.rb
  src/api/app/mailers/check_upgrade_mailer.rb
  src/api/app/models/package_check_upgrade.rb
  src/api/app/views/check_upgrade_mailer/send_email.html.erb
  src/api/app/views/check_upgrade_mailer/send_email.text.erb
  src/api/config/check_upgrade.yml
  src/api/config/environments/development.rb
Labels: Frontend

Remove EventSubscription for token and package if repository doesnt exist
  src/api/app/services/scm_status_reporter.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

Update
  src/api/app/jobs/check_upgrade_job.rb
  src/api/app/mailers/check_upgrade_mailer.rb
  src/api/app/models/package_check_upgrade.rb
  src/api/config/check_upgrade.yml
  src/api/config/environments/development.rb
Labels: Frontend

Support push events for tags in TriggerControllerService::ScmExtractor
  src/api/app/services/trigger_controller_service/scm_extractor.rb
  src/api/spec/services/trigger_controller_service/scm_extractor_spec.rb
Labels: Frontend

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml
