Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

Retire NotificationPresenter in favor of view components
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
Labels: Frontend

Prevent errors for a BsRequest without a description in NotificationExcerptComponent
  src/api/app/components/notification_excerpt_component.rb
  src/api/spec/components/notification_excerpt_component_spec.rb
Labels: Frontend

Use target_project instead of target_project.name
  src/api/app/components/notification_action_description_component.rb
Labels: Frontend

[backend] servicedispatch: limit on project level and not on package level
  src/backend/bs_servicedispatch
Labels: Backend

Don't initialize `NotificationsFinder` twice
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/policies/notification_policy.rb
  src/api/app/queries/notifications_finder.rb
Labels: Frontend

Eager load records associated with notifications
  src/api/app/controllers/webui/users/notifications_controller.rb
Labels: Frontend

Check for logged in user in controller instead of finder class
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/queries/notifications_finder.rb
Labels: Frontend

Remove `where` clause for comments and reviews in notification avatar component
  src/api/app/components/notification_avatars_component.rb
  src/api/app/models/review.rb
Labels: Frontend

Use notification pundit policy in order to authorize and fetch a single notification
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/queries/notifications_finder.rb
Labels: Frontend

Add spec to reproduce issue #12227
  src/api/spec/components/notification_action_description_component_spec.rb
Labels: Frontend

Create WatchedItem model and its associations
  src/api/app/models/bs_request.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/user.rb
  src/api/app/models/watched_item.rb
  src/api/db/migrate/20220210154407_create_watched_items.rb
  src/api/db/schema.rb
  src/api/spec/factories/watched_items.rb
  src/api/spec/models/watched_item_spec.rb
Labels: Frontend

Create WatchedItemsListComponent
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/new_watchlist/watchlist.scss
  src/api/app/components/watched_items_list_component.html.haml
  src/api/app/components/watched_items_list_component.rb
  src/api/app/components/watchlist_component.html.haml
  src/api/spec/components/watched_items_list_component_spec.rb
Labels: Frontend

Add toggle functionality for new watchlist
  src/api/app/controllers/webui/watched_items_controller.rb
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/watched_items_controller_spec.rb
Labels: Frontend

Use resourceful routes
  src/api/app/components/watchlist_component.rb
  src/api/config/routes/webui_routes.rb
Labels: Frontend

Configure new_watchlist feature flag
  src/api/lib/tasks/dev.rake
Labels: Frontend

Create WatchlistComponent
  src/api/app/components/watchlist_component.html.haml
  src/api/app/components/watchlist_component.rb
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/spec/components/watchlist_component_spec.rb
Labels: Frontend

Remove unnecessary div list-group
  src/api/app/components/watched_items_list_component.html.haml
Labels: Frontend

Pass objects to WatchlistComponent
  src/api/app/components/watchlist_component.rb
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/spec/components/watchlist_component_spec.rb
Labels: Frontend

Set password to opensuse for users generated by FactoryBot
  src/api/spec/README.md
  src/api/spec/controllers/webui/session_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
  src/api/spec/factories/users.rb
  src/api/spec/features/webui/login_spec.rb
  src/api/spec/models/user_spec.rb
  src/api/spec/support/features/features_authentication.rb
  src/api/test/functional/build_controller_test.rb
  src/api/test/functional/channel_maintenance_test.rb
  src/api/test/functional/comments_controller_test.rb
  src/api/test/functional/interconnect_test.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/read_permission_test.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/functional/statistics_controller_test.rb
  src/api/test/test_helper.rb
Labels: Frontend, Documentation :book:

Require login on WatchedItemsController
  src/api/app/controllers/webui/watched_items_controller.rb
Labels: Frontend

Remove superfluous specs
  src/api/spec/controllers/webui/watched_items_controller_spec.rb
  src/api/spec/models/watched_item_spec.rb
Labels: Frontend

Avoid showing the watchlist link for new objects
  src/api/app/components/watchlist_component.html.haml
  src/api/spec/components/watchlist_component_spec.rb
Labels: Frontend

Instrument Workflow and Workflow::Step
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
  src/api/app/instrumentations/workflow_instrumentation.rb
  src/api/app/instrumentations/workflow_step_instrumentation.rb
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step.rb
  src/api/spec/models/workflow/step_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

Eager load project when fetching packages in WatchlistComponent
  src/api/app/components/watchlist_component.rb
Labels: Frontend

Check if object is a watched item with a single query
  src/api/app/components/watchlist_component.rb
Labels: Frontend

Fix invalid byte sequence in UTF-8 in event mailer
  src/api/app/models/event/build_fail.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend

Fix typo with `packge`.
  src/api/app/components/watchlist_component.rb
Labels: Frontend

[api] allow certain commands on scmsync projects
  src/api/app/controllers/source_controller.rb
Labels: Frontend

Fix flaky spec in NotificationAvatarsComponent
  src/api/spec/components/notification_avatars_component_spec.rb
Labels: Frontend

Fix flickering spec in features/webui/projects_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Labels: Frontend

Fix flickering spec in features/webui/maintenance_workflow_spec.rb
  src/api/spec/features/webui/maintenance_workflow_spec.rb
Labels: Frontend

Create resourceful routes for toggle_watched_item
  src/api/app/components/watchlist_component.rb
  src/api/app/controllers/webui/watched_items_controller.rb
  src/api/config/routes/webui_routes.rb
Labels: Frontend

[backend] fix typo in the fetchdodbinary call that broke DoD over interconnect
  src/backend/bs_repserver
Labels: Backend

Update params in specs for toggle_watched_item
  src/api/spec/controllers/webui/watched_items_controller_spec.rb
Labels: Frontend

Show link to add a package to the watchlist for ...
  src/api/app/controllers/webui/package_controller.rb
Labels: Frontend

Store the package parameter into package_name
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/mixins/build_log_support.rb
  src/api/app/views/webui/package/_live_build_log_controls.html.haml
  src/api/app/views/webui/package/live_build_log.html.haml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/for_multibuild_package/1_10_2_4_5.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Frontend

Be more specific with the naming of the `watcher` receiver role
  src/api/app/models/event/base.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_changed.rb
  src/api/app/models/event_subscription.rb
  src/api/spec/db/data/generate_web_notifications_spec.rb
  src/api/spec/features/beta/webui/subscriptions_spec.rb
  src/api/spec/features/webui/subscriptions_spec.rb
  src/api/spec/models/event_subscription/find_for_event_spec.rb
Labels: Frontend

[api] consistencychecker: fix wrong reports of scmsync projects
  src/api/app/jobs/old/consistency_check_job.rb
Labels: Frontend

Add type parameter to mark read/unread button
  src/api/app/helpers/webui/notification_helper.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
Labels: Frontend

[backend] make sourcecopy autosimplifylink work if the source is expanded
  src/backend/bs_srcserver
Labels: Backend

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml
