Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

[backend] enable debian.control builds
  src/backend/bs_srcserver
Labels: Backend

[api] fix a crash in package tracking
  src/api/app/models/binary_release.rb
Labels: Frontend

Fix cassettes after introducing scmsync in ...
  src/api/spec/cassettes/PublicController/GET_binary_packages/1_11_1.yml
  src/api/spec/cassettes/PublicController/GET_binary_packages/1_11_2.yml
  src/api/spec/cassettes/PublicController/GET_build/1_2_1.yml
  src/api/spec/cassettes/PublicController/GET_build/1_2_2.yml
  src/api/spec/cassettes/PublicController/GET_package_index/1_7_1.yml
  src/api/spec/cassettes/PublicController/GET_package_index/1_7_2.yml
  src/api/spec/cassettes/PublicController/GET_package_index/1_7_3.yml
  src/api/spec/cassettes/PublicController/GET_package_meta/1_8_1.yml
  src/api/spec/cassettes/PublicController/GET_package_meta/1_8_2.yml
  src/api/spec/cassettes/PublicController/GET_package_meta/1_8_3.yml
  src/api/spec/cassettes/PublicController/GET_project_file/1_6_1.yml
  src/api/spec/cassettes/PublicController/GET_project_file/1_6_3.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_info_view_specified/and_nofilename_is_equal_1_/1_5_2_2_1.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_info_view_specified/and_nofilename_is_equal_1_/1_5_2_2_2.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_info_view_specified/and_nofilename_is_equal_1_/1_5_2_2_3.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_info_view_specified/and_nofilename_is_not_equal_1_/1_5_2_1_1.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_info_view_specified/and_nofilename_is_not_equal_1_/1_5_2_1_2.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_productlist_view_specified/1_5_4_1.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_productlist_view_specified/1_5_4_2.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_productlist_view_specified/1_5_4_3.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_productlist_view_specified/1_5_4_4.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_verboseproductlist_view_specified/1_5_3_1.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_verboseproductlist_view_specified/1_5_3_2.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_verboseproductlist_view_specified/1_5_3_3.yml
  src/api/spec/cassettes/PublicController/GET_project_index/with_verboseproductlist_view_specified/1_5_3_4.yml
  src/api/spec/cassettes/PublicController/GET_project_index/without_view_specified/1_5_1_1.yml
  src/api/spec/cassettes/PublicController/GET_project_index/without_view_specified/1_5_1_2.yml
  src/api/spec/cassettes/PublicController/GET_project_index/without_view_specified/1_5_1_3.yml
  src/api/spec/cassettes/PublicController/GET_project_index/without_view_specified/1_5_1_4.yml
  src/api/spec/cassettes/PublicController/GET_project_meta/1_4_1.yml
  src/api/spec/cassettes/PublicController/GET_project_meta/1_4_2.yml
  src/api/spec/cassettes/PublicController/GET_project_meta/1_4_3.yml
  src/api/spec/cassettes/PublicController/GET_source_file/1_1_1.yml
  src/api/spec/cassettes/PublicController/GET_source_file/1_1_2.yml
  src/api/spec/cassettes/PublicController/GET_source_file_history/with_history_limited_to_1/1_12_2_1.yml
  src/api/spec/cassettes/PublicController/GET_source_file_history/with_history_limited_to_1/1_12_2_2.yml
  src/api/spec/cassettes/PublicController/GET_source_file_history/with_history_unlimited/1_12_1_1.yml
  src/api/spec/cassettes/PublicController/GET_source_file_history/with_history_unlimited/1_12_1_2.yml
Labels: Frontend

[backend] bs_publish allow a syntax for rsync via ssh
  src/backend/bs_publish
Labels: Backend

Unify texts for links to Notifications Configuration
  src/api/app/views/webui/users/notifications/_index_actions.html.haml
Labels: Frontend

Mark PUT /my/notifications/{id} endpoint as beta/unstable in API docs
  src/api/public/apidocs-new/paths/my_notifications_id.yaml
Labels: Frontend, Documentation :book:

[backend] BSCpio: add list() and extract() methods
  src/backend/BSCpio.pm
Labels: Backend

[api] fix crash on project runservice command
  src/api/app/controllers/source_controller.rb
Labels: Frontend

[backend] Implement scmsync on the project level
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_service
  src/backend/bs_servicedispatch
  src/backend/bs_srcserver
Labels: Backend

[backend] move scmsync code into its own module
  src/backend/BSSrcServer/Scmsync.pm
  src/backend/bs_srcserver
Labels: Backend

[backend] scmsync: collect service run info and put it in the comment of the commit
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_servicedispatch
  src/backend/bs_srcserver
Labels: Backend

Remove unused parameter `webui_mode` in owner search
  src/api/app/models/owner_search/assignee.rb
  src/api/test/functional/search_controller_test.rb
Labels: Frontend

Remove mention to Beta in notifications API docs
  src/api/public/apidocs-new/paths/my_notifications.yaml
  src/api/public/apidocs-new/paths/my_notifications_id.yaml
Labels: Frontend, Documentation :book:

Remove unused code in SearchFinder
  src/api/app/models/search_finder.rb
Labels: Frontend

[backend] add automatic triggering of service runs in the scm bridge
  src/backend/BSSrcServer/Scmsync.pm
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_servicedispatch
  src/backend/bs_srcserver
Labels: Backend

[backend] do not chomp undefined values
  src/backend/BSSrcServer/Scmsync.pm
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_servicedispatch
Labels: Backend

[backend] scmsync: fix typo in trigger code
  src/backend/BSSrcServer/Scmsync.pm
Labels: Backend

Expand abbreviations in OwnerSearch::Assignee model
  src/api/app/models/owner_search/assignee.rb
Labels: Frontend

[backend] make the worker aware of debian.control builds
  src/backend/bs_worker
Labels: Backend

Handle situations where notification payload has no package information
  src/api/app/models/binary_release.rb
  src/api/app/models/concerns/multibuild_package.rb
Labels: Frontend

Fix combination of Group filter and Mark all as read
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
Labels: Frontend

Keep filter after marking a notification as read
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
Labels: Frontend

Apply new rubocop cops "Style/FileRead" and "Style/FileWrite"
  src/api/app/controllers/webui/projects/rebuild_times_controller.rb
  src/api/app/lib/backend/file.rb
  src/api/app/services/package_service/file_verifier.rb
  src/api/lib/tasks/dev.rake
  src/api/script/start_test_backend
  src/api/spec/controllers/webui/apidocs_controller_spec.rb
  src/api/spec/factories/packages.rb
  src/api/spec/features/webui/apidocs_spec.rb
  src/api/spec/features/webui/repositories_spec.rb
  src/api/spec/models/backend/file_spec.rb
  src/api/test/functional/channel_maintenance_test.rb
  src/api/test/functional/kgraft_maintenance_test.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/product_test.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/functional/search_controller_test.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/test_helper.rb
Labels: Frontend

Fixes new rubocop cop Style/CollectionCompact rules introduced by this update
  src/api/app/models/branch_package/lookup_incident_package.rb
  src/api/app/models/staging/staged_requests.rb
  src/api/app/services/user_service/involved.rb
Labels: Frontend

Extract code from BranchPackage#create_branch_packages to private helper methods
  src/api/app/models/branch_package.rb
Labels: Frontend

Use keys instead of strings to check duck typing
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/lib/backend/connection.rb
  src/api/lib/api_error.rb
Labels: Frontend

Use `aliases: true` to avoid yaml loading errors
  src/api/config/environment.rb
Labels: Frontend

Revert "[src/api] Update rdoc: 6.3.3 → 6.4.0 (minor)"
  src/api/Gemfile.lock
  src/api/config/environment.rb
Labels: Frontend

Update rubocop-rails to 2.13.0
  src/api/Gemfile.lock
Labels: Frontend

Fix Rails/CompactBlank cop
  src/api/app/controllers/status/required_checks_controller.rb
  src/api/app/controllers/webui/requests/submissions_controller.rb
  src/api/app/jobs/consistency_check_job.rb
  src/api/app/lib/backend/instrumentation.rb
  src/api/app/mailers/event_mailer.rb
  src/api/app/views/webui/search/_results_owner.html.haml
Labels: Frontend

Fix Rails/RedundantPresenceValidationOnBelongsTo cop
  src/api/app/models/attrib.rb
  src/api/app/models/commit_activity.rb
  src/api/app/models/download_repository.rb
  src/api/app/models/group_maintainer.rb
  src/api/app/models/groups_user.rb
  src/api/app/models/kiwi/profile.rb
  src/api/app/models/notified_project.rb
  src/api/app/models/path_element.rb
  src/api/app/models/relationship.rb
  src/api/app/models/repository.rb
  src/api/app/models/repository_architecture.rb
  src/api/app/models/review.rb
  src/api/app/models/staging/request_exclusion.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/models/status/report.rb
  src/api/app/models/status_message.rb
  src/api/app/models/status_message_acknowledgement.rb
  src/api/app/models/token.rb
  src/api/app/models/watched_project.rb
Labels: Frontend

Fix Layout/EmptyLines cop
  src/api/app/models/commit_activity.rb
  src/api/app/models/notified_project.rb
  src/api/app/models/relationship.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/models/status_message.rb
  src/api/app/models/status_message_acknowledgement.rb
Labels: Frontend

Fix Layout/EmptyLinesAroundClassBody cop
  src/api/app/models/watched_project.rb
Labels: Frontend

Disable Rails/ReversibleMigration cops on older migrations
  src/api/db/migrate/20170619111734_alter_notifications_to_use_polymorphic.rb
  src/api/db/migrate/20170704133728_remove_source_project_id_and_source_package_id_from_bs_request_actions.rb
  src/api/db/migrate/20180906142802_update_status_checks_table.rb
Labels: Frontend

Fix Style/FileWrite cop
  dist/clouduploader.rb
Labels: none

Add spec for BinaryRelease model
  src/api/spec/models/binary_release_spec.rb
Labels: Frontend

Extract buildtime marshalling to its own method
  src/api/app/models/binary_release.rb
Labels: Frontend

Add specs for BinaryRelease.update_binary_releases_via_json
  src/api/spec/factories/binary_releases.rb
  src/api/spec/models/binary_release_spec.rb
Labels: Frontend

Add constraints to user requests endpoint
  src/api/config/routes.rb
Labels: Frontend

Remove unecessary comments
  src/api/app/models/binary_release.rb
Labels: Frontend

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml
