Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml

Support multibuild, do not support project links
  src/api/app/components/watchlist_component.rb
  src/api/app/views/layouts/webui/webui.html.haml
Labels: Frontend

Instrument filters in Workflow model
  src/api/app/instrumentations/workflow_instrumentation.rb
Labels: Frontend

Instrument ScmWebhook
  src/api/app/instrumentations/scm_webhook_instrumentation.rb
  src/api/app/models/scm_webhook.rb
Labels: Frontend

Support multibuild, do not support project links
  src/api/app/components/watchlist_component.rb
  src/api/app/views/layouts/webui/webui.html.haml
Labels: Frontend

Add tests for watchlist view component when ...
  src/api/spec/components/watchlist_component_spec.rb
Labels: Frontend

[backend] update to new helm chart mimetype
  src/backend/BSContar.pm
Labels: Backend

Fix reencoding when no fail log present
  src/api/app/models/event/build_fail.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend

Add events for creating and deleting relationships
  src/api/app/mixins/has_relationships.rb
  src/api/app/models/event/relationship.rb
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
  src/api/app/models/relationship.rb
  src/api/spec/models/relationship_spec.rb
Labels: Frontend

[backend] fix package undelete bumping the vrev in the wrong commit
  src/backend/BSRevision.pm
Labels: Backend

Autocorrect RuboCop offenses for RSpec/BeNil and RSpec/BeEq
  src/api/spec/controllers/person/notifications_controller_spec.rb
  src/api/spec/controllers/person/token_controller_spec.rb
  src/api/spec/controllers/webui/comments_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/controllers/webui/request_controller_spec.rb
  src/api/spec/controllers/webui/requests/devel_project_changes_controller_spec.rb
  src/api/spec/controllers/webui/status_messages_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
  src/api/spec/features/webui/maintenance_workflow_spec.rb
  src/api/spec/helpers/webui/user_helper_spec.rb
  src/api/spec/jobs/bs_request_action_webui_infos_job_spec.rb
  src/api/spec/lib/routes_helper/role_matcher_spec.rb
  src/api/spec/mixins/parse_package_diff_spec.rb
  src/api/spec/models/bs_request_spec.rb
  src/api/spec/models/configuration_spec.rb
  src/api/spec/models/distribution_spec.rb
  src/api/spec/models/package_spec.rb
  src/api/spec/models/project/update_from_xml_command_spec.rb
  src/api/spec/models/review_spec.rb
  src/api/spec/models/user_ldap_strategy_spec.rb
  src/api/spec/models/user_spec.rb
  src/api/spec/support/shared_examples/a_ldap_connection.rb
Labels: Frontend

Do not stub constant for NotificationAvatarsComponent specs
  src/api/spec/components/notification_avatars_component_spec.rb
Labels: Frontend

[api] fix source revisions for channel submissions in maintenance_release
  src/api/app/models/bs_request_action.rb
  src/api/test/functional/channel_maintenance_test.rb
Labels: Frontend

[ci] drop old debug statements
  src/api/test/functional/maintenance_test.rb
Labels: Frontend

Remove unused method
  src/api/app/models/review.rb
Labels: Frontend

Increase Metrics/AbcSize in rubocop TODO
  src/api/.rubocop_todo.yml
Labels: Frontend, Test Suite / CI :syringe:

[api] fix project copy
  src/api/app/controllers/source_controller.rb
Labels: Frontend

Add new receiver roles for package and request watcher to event subscriptions
  src/api/app/models/event/base.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/request.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/for_event_form.rb
  src/api/app/views/webui/subscriptions/_subscriptions_form.html.haml
  src/api/spec/models/event/base_spec.rb
  src/api/spec/models/event/request_spec.rb
  src/api/spec/models/event_subscription/for_event_form_spec.rb
Labels: Frontend

[api] fix change time in reviews (when attriute)
  src/api/app/models/review.rb
  src/api/test/functional/request_controller_test.rb
Labels: Frontend

Track when a review changed state
  src/api/app/models/review.rb
  src/api/db/data/20200730163910_set_changed_state_at_to_reviews.rb
  src/api/db/migrate/20200730153057_add_changed_state_at_to_reviews.rb
  src/api/db/schema.rb
Labels: Frontend

Show link to SCM for packages with scmsync
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/_files_view.html.haml
  src/api/app/views/webui/package/_side_links.html.haml
  src/api/app/views/webui/package/side_links/_show_scmsync.html.haml
Labels: Frontend

Fix Rubocop offenses automatically
  src/api/app/controllers/source_controller.rb
Labels: Frontend

[api] allow to enforce maintenance request staging
  src/api/app/controllers/request_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/project.rb
  src/api/db/attribute_descriptions.rb
  src/api/db/data/20190719135426_add_obs_enforce_branching_attribute.rb
  src/api/db/seeds.rb
  src/api/test/fixtures/attrib_types.yml
  src/api/test/functional/attributes_test.rb
  src/api/test/functional/maintenance_test.rb
Labels: Frontend

[api] give a hint which package is causing a target error
  src/api/app/models/bs_request_action.rb
Labels: Frontend

[api] alternative removal of enforced maintenance branches
  src/api/app/models/bs_request_action_maintenance_incident.rb
Labels: Frontend

[api] support request diffing with project delete action
  src/api/app/models/bs_request_action_delete.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
Labels: Frontend

[api] fix setincident when non-incident actions are in a request
  src/api/app/models/bs_request_permission_check.rb
Labels: Frontend

Add missing annotations for Event::Relationship*
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
Labels: Frontend

Remove unneeded `@extend .alert-success`
  src/api/app/assets/stylesheets/webui/flash.scss
Labels: Frontend

[api] accept already removed projects in request delete actions.
  src/api/app/models/bs_request_action_delete.rb
Labels: Frontend

[backend] workaround podman bug #boo 1196751
  src/backend/call-service-in-container
Labels: Backend

Update Swagger UI version from 3.52.3 to 4.6.1
  src/api/public/apidocs-new/oauth2-redirect.html
  src/api/public/apidocs-new/swagger-ui-bundle.js
  src/api/public/apidocs-new/swagger-ui-es-bundle-core.js
  src/api/public/apidocs-new/swagger-ui-es-bundle-core.js.map
  src/api/public/apidocs-new/swagger-ui-es-bundle.js
  src/api/public/apidocs-new/swagger-ui-standalone-preset.js
  src/api/public/apidocs-new/swagger-ui-standalone-preset.js.map
  src/api/public/apidocs-new/swagger-ui.css
  src/api/public/apidocs-new/swagger-ui.css.map
  src/api/public/apidocs-new/swagger-ui.js
  src/api/public/apidocs-new/swagger-ui.js.map
Labels: Frontend, Documentation :book:

Stop relying on bundle_gems service
  dist/obs-bundled-gems.spec
  dist/obs-server.spec
Labels: none

Drop hardcoded bundler/rake package requirements
  dist/obs-bundled-gems.spec
Labels: none

Build obs-server against Ruby 3.1
  dist/obs-server.spec
Labels: none

Build obs-bundled-gems against Ruby 3.1
  dist/obs-bundled-gems.spec
Labels: none

Bundle with 2.3.7
  src/api/Gemfile.lock
Labels: Frontend

Drop hardcoded rack package requirements
  dist/obs-bundled-gems.spec
Labels: none

Switch script interpreters to Ruby 3.1
  Makefile.include
  dist/Makefile
  dist/functions.setup-appliance.sh
  dist/obs-server.spec
  dist/systemd/obs-clockwork.service
  docs/api/Makefile
  docs/api/api/Makefile
  docs/api/restility/bin/rest_doc
  docs/api/restility/bin/rest_test
  src/api/Makefile
  src/api/Rakefile
  src/api/bin/bundle
  src/api/bin/pry
  src/api/bin/rails
  src/api/bin/rake
  src/api/bin/rdoc
  src/api/bin/ri
  src/api/bin/rspec
  src/api/bin/rubocop
  src/api/bin/setup
  src/api/script/delayed_job.api.rb
  src/api/script/plugin
  src/api/script/reformat_memprof
  src/api/script/rubygem_package_names.rb
  src/api/script/start_test_backend
Labels: Frontend, Documentation :book:

Fix some ruby 3.1 incompatibilities
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/config/environment.rb
  src/api/vendor/cache/digest-3.1.0.gem
  src/api/vendor/cache/io-wait-0.2.1.gem
  src/api/vendor/cache/net-imap-0.2.3.gem
  src/api/vendor/cache/net-pop-0.1.1.gem
  src/api/vendor/cache/net-protocol-0.1.2.gem
  src/api/vendor/cache/net-smtp-0.3.1.gem
  src/api/vendor/cache/strscan-3.0.1.gem
  src/api/vendor/cache/thor-1.2.1.gem
  src/api/vendor/cache/timeout-0.2.0.gem
Labels: Frontend

The `--path` flag is deprecated
  dist/obs-bundled-gems.spec
Labels: none
