Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/policies/package_check_upgrade_policy.rb
  src/api/app/views/webui/requests/checkupgrade/edit.html.erb
Labels: Frontend

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/lib/backend/api/sources/package.rb
  src/api/app/lib/backend/api/sources/package_check_upgrade.rb
  src/api/app/models/package_check_upgrade.rb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/edit.html.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

Cache gems in the system directory
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

Add missing `target_project` key in workflows
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
Labels: Frontend

Update
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
Labels: Frontend

Update
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
Labels: Frontend

Update
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
Labels: Frontend

Only run our workflow for PRs
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

Revert gem caching on circleci
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/models/package_check_upgrade.rb
  src/api/app/policies/package_check_upgrade_policy.rb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/policies/package_check_upgrade_policy.rb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

Fix spelling in comments
  src/api/test/functional/search_controller_test.rb
Labels: Frontend

Apply suggestions from code review
  src/api/test/functional/search_controller_test.rb
Labels: Frontend

[backend] add kiwi product module specifier
  src/backend/BSKiwiXML.pm
  src/backend/BSProductXML.pm
Labels: Backend

Update
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

Fix flickering smoke test
  dist/t/0060-check_required_services.ts
Labels: Test Suite / CI :syringe:

Use ci docker image and the already installed gems
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Update
  src/api/app/controllers/webui/requests/checkupgrade_controller.rb
  src/api/app/datatables/package_datatable.rb
  src/api/app/models/package.rb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

Remove quotes from last trigger on paragraph
  src/api/app/components/token_card_component.html.haml
Labels: Frontend

Show token id in tokens index UI
  src/api/app/components/token_card_component.html.haml
  src/api/spec/components/token_card_component_spec.rb
Labels: Frontend

Update
  src/api/app/models/package.rb
  src/api/app/models/package_check_upgrade.rb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

Use frontend-base-ci when chromium isnt necessary
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Update
  src/api/app/views/webui/requests/checkupgrade/delete_dialog.html.erb
Labels: Frontend

Add missing parenthesis in if condition
  dist/t/0060-check_required_services.ts
Labels: Test Suite / CI :syringe:

[backend] fix setrelease handling for mixed iso/repo products
  src/backend/bs_repserver
Labels: Backend

[backend] copybuild: unlink files before calling writestr
  src/backend/bs_repserver
Labels: Backend

Update
  src/api/app/views/webui/requests/checkupgrade/_delete_check_upgrade.html.erb
  src/api/app/views/webui/requests/checkupgrade/_show_actions.html.erb
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/delete_dialog.html.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
  src/api/app/views/webui/requests/checkupgrade/show_actions/_delete_check_upgrade.html.erb
Labels: Frontend

Update
  src/api/app/views/webui/requests/checkupgrade/create.js.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

Update
  src/api/app/views/webui/package/show_actions/_check_upgrade.html.haml
Labels: Frontend

Display token ID right after creating the token
  src/api/app/views/webui/users/tokens/_create.js.erb
  src/api/app/views/webui/users/tokens/new.html.haml
Labels: Frontend

Unify style
  src/api/app/views/webui/users/tokens/new.html.haml
Labels: Frontend

[api] support request history search by time
  src/api/lib/xpath_engine.rb
  src/api/test/functional/channel_maintenance_test.rb
  src/api/test/functional/maintenance_test.rb
Labels: Frontend

Add WorkflowBranchesFiltersValidator to Workflow model
  src/api/app/models/workflow.rb
  src/api/app/validators/workflow_branches_filters_validator.rb
Labels: Frontend

Turn Workflow#event_matches_event_filter into an ActiveModel::Validator
  src/api/app/models/workflow.rb
  src/api/app/validators/workflow_event_filter_validator.rb
  src/api/spec/validators/workflow_event_filter_validator_spec.rb
Labels: Frontend

Update
  src/api/app/datatables/package_datatable.rb
  src/api/app/models/package.rb
  src/api/app/views/webui/package/_files_view.html.haml
  src/api/app/views/webui/requests/checkupgrade/_delete_dialog_check_upgrade.html.erb
  src/api/app/views/webui/requests/checkupgrade/_show_actions.html.erb
  src/api/app/views/webui/requests/checkupgrade/new.html.erb
Labels: Frontend

Add workflow runs model and table
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20211110142710_create_workflow_runs.rb
  src/api/db/schema.rb
Labels: Frontend

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml
