Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml

[backend] create new signing keys as rsa@4096
  ReleaseNotes-2.11
  src/backend/BSSrcServer/Signkey.pm
Labels: Backend

Update rails to 5.2.7.1 (patch)
  src/api/Gemfile.lock
Labels: Frontend

Use {Project,Package,Request}sForWatchlistFinder in WatchlistComponent
  src/api/app/components/watchlist_component.rb
Labels: Frontend

Split WatchlistFinder into 3 query objects
  src/api/app/queries/packages_for_watchlist_finder.rb
  src/api/app/queries/projects_for_watchlist_finder.rb
  src/api/app/queries/requests_for_watchlist_finder.rb
  src/api/app/queries/watchlist_finder.rb
  src/api/app/views/person/_watchlist.xml.builder
Labels: Frontend

Add release notes for 2.10.15
  ReleaseNotes-2.10.15
Labels: none

[dist] added section for signd to README.UPDATERS
  dist/README.UPDATERS
Labels: none

Switch back to rake 13.0.1
  src/api/Gemfile.lock
Labels: Frontend

Add --status flag to bs_sched
  src/backend/bs_sched
Labels: Backend

[backend] add bs_admin --shutdown-all-schedulers option
  src/backend/bs_admin
Labels: Backend

[backend] use new --shutdown-all-schedulers option in obsscheduler script
  dist/obsscheduler
Labels: none

Add link to remove watchlist items
  src/api/app/components/watched_items_list_component.html.haml
Labels: Frontend

[backend] fix digest patching in the slsa provenance files
  src/backend/bs_signer
  src/backend/bs_worker
Labels: Backend

[backend] simplify startup option checking in bs_sched
  src/backend/bs_sched
Labels: Backend

Prevent from updating architectures when retrieving...
  src/api/app/models/worker_status.rb
  src/api/spec/models/worker_status_spec.rb
Labels: Frontend

Add confirmation dialog to delete a watchlist item
  src/api/app/components/watched_items_list_component.html.haml
  src/api/app/components/watchlist_component.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/shared/_remove_item_from_watchlist_dialog.html.haml
Labels: Frontend

Let's test the OS that we deploy on
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

Move confirmation dialog to a component
  src/api/app/components/confirmation_dialog_component.html.haml
  src/api/app/components/confirmation_dialog_component.rb
Labels: Frontend

Use ConfirmationDialogComponent in watchlist
  src/api/app/components/watched_items_list_component.html.haml
  src/api/app/components/watchlist_component.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/shared/_remove_item_from_watchlist_dialog.html.haml
Labels: Frontend

Correct rubocop Style/EnvHome offense
  docker-files/home/.irbrc
Labels: none

Add spec for ConfirmationDialogComponent
  src/api/spec/components/confirmation_dialog_component_spec.rb
Labels: Frontend

[backend] prepare BSRPC and friends for IPv6 support
  src/backend/BSRPC.pm
  src/backend/BSRedis.pm
  src/backend/BSWatcher.pm
Labels: Backend

Prevent code 500 on packages received through an scmsync
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/models/package.rb
Labels: Frontend

[api] no per-package cleanup when using EnforcedBranching
  src/api/app/models/bs_request_action_maintenance_incident.rb
Labels: Frontend

Avoid code 500 on packages received through an scmsync for package show
  src/api/app/controllers/webui/package_controller.rb
Labels: Frontend

[backend] use getaddrinfo instead of inet_aton
  src/backend/BSRPC.pm
Labels: Backend

[backend] support ipv6 in the servers
  src/backend/BSServer.pm
  src/backend/BSServerEvents.pm
  src/backend/BSStdServer.pm
Labels: Backend

[backend] BSRPC: use ipv6 if no ipv4 address is available
  src/backend/BSRPC.pm
Labels: Backend

Revert "Update strscan to version 3.0.2"
  src/api/Gemfile.lock
  src/api/vendor/cache/strscan-3.0.1.gem
  src/api/vendor/cache/strscan-3.0.2.gem
Labels: Frontend

[backend] small network code cleanup and refactor
  src/backend/BSRPC.pm
  src/backend/BSRedis.pm
  src/backend/BSServer.pm
Labels: Backend

[backend] do not publish slsa provenance files toplevel
  src/backend/bs_publish
Labels: Backend

Restructure pages to handle ajax request
  src/api/app/components/watchlist_component.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
Labels: Frontend

[backend] Add support for qemu system emulated builds via bs_worker
  dist/obsworker
  dist/sysconfig.obs-server
  src/backend/bs_worker
Labels: Backend

[dist] initial 2.10.16 release notes
  ReleaseNotes-2.10.16
Labels: none

Receive notifications for relationships
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_avatars_component.rb
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/relationship.rb
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/find_for_event.rb
  src/api/app/models/relationship.rb
  src/api/app/queries/outdated_notifications_finder/package.rb
  src/api/app/queries/outdated_notifications_finder/project.rb
  src/api/app/services/notification_service/notifier.rb
  src/api/app/services/notification_service/web_channel.rb
  src/api/app/services/notified_projects.rb
  src/api/spec/models/event_subscription/find_for_event_spec.rb
  src/api/spec/services/notification_service/notifier_spec.rb
Labels: Frontend

Pin strscan gem version to 3.0.1
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

Adapt watchlist specs for ajax requests
  src/api/spec/controllers/webui/watched_items_controller_spec.rb
Labels: Frontend

Add ajax request to add or remove items from watchlist
  src/api/app/components/confirmation_dialog_component.html.haml
  src/api/app/components/confirmation_dialog_component.rb
  src/api/app/components/watchlist_component.html.haml
  src/api/app/controllers/webui/watched_items_controller.rb
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/watched_items/toggle_watched_item.js.erb
Labels: Frontend

Add notification filters for Relationship records
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/components/notification_filter_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/queries/notifications_finder.rb
Labels: Frontend

Do not swallow exceptions when developing and testing
  src/api/app/services/notification_service/notifier.rb
Labels: Frontend

Fix ambiguity of OpenOffice issue tracker
  docs/api/api/issue_trackers.xml
  src/api/db/seeds.rb
  src/api/test/fixtures/issue_trackers.yml
Labels: Frontend, Documentation :book:
