Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml

Adapt text to make it work in both views
  src/api/app/helpers/webui/request_helper.rb
  src/api/spec/components/notification_notifiable_link_component_spec.rb
Labels: Frontend

[dist] added missing 'Requires: osc' for obs-tests-appliance package
  dist/obs-server.spec
Labels: none

[backend] avoid warnings from createrepo
  src/backend/bs_publish
Labels: Backend

Support new watchlist format in persons endpoint and add new endpoints
  src/api/app/controllers/person_controller.rb
  src/api/app/models/user.rb
  src/api/app/policies/user_policy.rb
  src/api/app/queries/watchlist_finder.rb
  src/api/app/views/models/_user.xml.builder
  src/api/app/views/person/_watchlist.xml.builder
  src/api/config/routes/api_routes.rb
Labels: Frontend

Add specs for new api endpoints for watchlist and to support the old api
  src/api/spec/controllers/person_controller_spec.rb
Labels: Frontend

[backend] slsa: fix digest sqlite encoding
  src/backend/BSRepServer/SLSA.pm
Labels: Backend

[backend] move slsaprovenance flag into the build job data
  src/backend/BSSched/BuildJob.pm
  src/backend/BSXML.pm
  src/backend/bs_worker
Labels: Backend

Update rails: 6.1.4.6 to rails-6.1.5.1
  src/api/Gemfile.lock
  src/api/vendor/cache/actioncable-6.1.4.6.gem
  src/api/vendor/cache/actioncable-6.1.5.1.gem
  src/api/vendor/cache/actionmailbox-6.1.4.6.gem
  src/api/vendor/cache/actionmailbox-6.1.5.1.gem
  src/api/vendor/cache/actionmailer-6.1.4.6.gem
  src/api/vendor/cache/actionmailer-6.1.5.1.gem
  src/api/vendor/cache/actionpack-6.1.4.6.gem
  src/api/vendor/cache/actionpack-6.1.5.1.gem
  src/api/vendor/cache/actiontext-6.1.4.6.gem
  src/api/vendor/cache/actiontext-6.1.5.1.gem
  src/api/vendor/cache/actionview-6.1.4.6.gem
  src/api/vendor/cache/actionview-6.1.5.1.gem
  src/api/vendor/cache/activejob-6.1.4.6.gem
  src/api/vendor/cache/activejob-6.1.5.1.gem
  src/api/vendor/cache/activemodel-6.1.4.6.gem
  src/api/vendor/cache/activemodel-6.1.5.1.gem
  src/api/vendor/cache/activerecord-6.1.4.6.gem
  src/api/vendor/cache/activerecord-6.1.5.1.gem
  src/api/vendor/cache/activestorage-6.1.4.6.gem
  src/api/vendor/cache/activestorage-6.1.5.1.gem
  src/api/vendor/cache/activesupport-6.1.4.6.gem
  src/api/vendor/cache/activesupport-6.1.5.1.gem
  src/api/vendor/cache/rails-6.1.4.6.gem
  src/api/vendor/cache/rails-6.1.5.1.gem
  src/api/vendor/cache/railties-6.1.4.6.gem
  src/api/vendor/cache/railties-6.1.5.1.gem
Labels: Frontend

Add OpenAPI specifications for watchlist
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/watchlist.yaml
  src/api/public/apidocs-new/paths/person_login.yaml
  src/api/public/apidocs-new/paths/watchlist.yaml
Labels: Frontend, Documentation :book:

[backend] multiple slsa provenance tweaks
  src/backend/BSRepServer/SLSA.pm
  src/backend/BSSched/BuildJob.pm
  src/backend/BSXML.pm
  src/backend/bs_repserver
  src/backend/bs_signer
  src/backend/bs_srcserver
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
Labels: Backend

[backend] slsa: also map uri in the configSource
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
Labels: Backend

Rename duplicated JS function toggleTooltip
  src/api/app/assets/javascripts/webui/new_watchlist/collapsible_tooltip.js
  src/api/app/assets/stylesheets/webui/new_watchlist/watchlist.scss
  src/api/app/components/watched_items_list_component.html.haml
  src/api/app/components/watchlist_component.html.haml
  src/api/app/views/webui/package/_buildstatus.html.haml
Labels: Frontend

[backend] XML::Structured: fix pure perl encoding of '[' and ']'
  src/backend/worker/Structured.pm
Labels: Backend

[backend] bs_signer: fix slsa material handling
  src/backend/bs_signer
Labels: Backend

[backend] SLSA.pm copy the correct provenance file
  src/backend/BSRepServer/SLSA.pm
Labels: Backend

[backend] configure slsaprovenance via BSConfig instead of buildconfig
  src/backend/BSSched/BuildJob.pm
Labels: Backend

[backend] write build config into _slsa_provenance.config
  src/backend/bs_signer
  src/backend/bs_worker
Labels: Backend

Instrument EventSubscription save operation
  src/api/app/models/event_subscription.rb
  src/api/spec/models/event_subscription_spec.rb
Labels: Frontend

[backend] put provenance files in bininfo
  src/backend/BSSched/BuildResult.pm
  src/backend/BSSched/PublishRepo.pm
  src/backend/bs_repserver
Labels: Backend

[backend] Revert PublishRepo changes for now
  src/backend/BSSched/PublishRepo.pm
Labels: Backend

[dist] improve error handling for signer cert generation
  dist/functions.setup-appliance.sh
Labels: none

[backend] implement provenance publishing in the scheduler
  src/backend/BSSched/PublishRepo.pm
Labels: Backend

[backend] implement provenance file downloading for product building
  src/backend/bs_worker
Labels: Backend

[backend] implement access to pinned slsa references
  src/backend/BSRepServer/SLSA.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Backend

[backend] bs_repserver: fix copy'n'paste bug in bininfo generation
  src/backend/bs_repserver
Labels: Backend

[backend] unlink old provenance files when spreading new ones
  src/backend/bs_worker
Labels: Backend

[backend] fix typo in repository verifier
  src/backend/bs_srcserver
Labels: Backend

[dist] use psmisc (pgrep/pkill) in obsscheduler script
  dist/obs-server.spec
  dist/obsscheduler
Labels: none

[backend] implement provenance copying in channels/patchinfo
  src/backend/BSSched/BuildJob/Channel.pm
  src/backend/BSSched/BuildJob/Patchinfo.pm
Labels: Backend

[backend] implement publishing of slsa provenance files
  src/backend/bs_publish
Labels: Backend

[backend] disable preinstall images if we are generating provenance data
  src/backend/bs_worker
Labels: Backend

[backend] update subject digests when rpms are signed
  src/backend/bs_signer
Labels: Backend

[backend] add release and buildflavor to provenance data
  src/backend/bs_worker
Labels: Backend

Address offense for Style/FetchEnvVar
  src/api/script/start_test_backend
Labels: Frontend

Address offenses for RSpec/VerifiedDoubleReference
  src/api/spec/components/workflow_run_filter_component_spec.rb
  src/api/spec/controllers/worker/command_controller_spec.rb
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

Update Rubocop's TODO list
  src/api/.rubocop_todo.yml
Labels: Frontend, Test Suite / CI :syringe:

[dist] new regex for new output of systemd in 0060-check_required_services.ts
  dist/t/0060-check_required_services.ts
Labels: Test Suite / CI :syringe:

Do not include Pundit in controller subclasses again
  src/api/app/controllers/trigger_controller.rb
  src/api/app/controllers/webui/users/token_triggers_controller.rb
Labels: Frontend

Tackle pundit deprecation warning
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend

Remove notifications_redesign feature toggle
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/notifications.scss
  src/api/app/assets/stylesheets/webui/notifications_redesign/notifications.scss
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/bs_request.rb
  src/api/app/views/layouts/webui/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/webui/users/subscriptions/index.html.haml
  src/api/config/initializers/flipper.rb
  src/api/spec/controllers/person/notifications_controller_spec.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/support/beta.rb
Labels: Frontend
