Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

[backend] add worker option for mkfs copyin
  dist/obsworker
  dist/sysconfig.obs-server
  src/backend/bs_worker
Labels: Backend

[backend] add cpusteal statistics
  src/backend/BSXML.pm
  src/backend/bs_worker
Labels: Backend

[backend] bs_publish use logcritical for publish failures
  src/backend/bs_publish
Labels: Backend

allow kiwi versions not strictly x.y.z scheme
  src/api/app/models/kiwi/preference.rb
  src/api/spec/models/kiwi/preference_spec.rb
Labels: Frontend

[backend] Declare armv8 and armv7 compatible
  src/backend/BSCando.pm
  src/backend/BSConfig.pm.template
Labels: Backend

Show correct amount in workflow run filter badge
  src/api/app/components/workflow_run_filter_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
Labels: Frontend

[backend] support zstd compressed preinstall images
  src/backend/BSSched/BuildJob/PreInstallImage.pm
Labels: Backend

[api] allow file access via /public using expand
  src/api/app/controllers/public_controller.rb
Labels: Frontend

fix rubocop style fail: change indentation
  src/api/app/controllers/webui/projects/status_controller.rb
Labels: Frontend

List read notifications through API
  src/api/app/controllers/person/notifications_controller.rb
  src/api/spec/controllers/person/notifications_controller_spec.rb
Labels: Frontend

Update API docs for read notifications filter
  src/api/public/apidocs-new/paths/my_notifications.yaml
Labels: Frontend, Documentation :book:

[backend] bs_publish fix mapsleimage to work with milestone for install.iso
  src/backend/bs_publish
Labels: Backend

Upgrade rails from 6.1.4 to 6.1.4.6
  src/api/Gemfile.lock
Labels: Frontend

Use dom_id for mark_as_read_or_unread_button
  src/api/app/helpers/webui/notification_helper.rb
Labels: Frontend

Allow kiwi versions not strictly x.y.z scheme
  src/api/app/models/kiwi/preference.rb
  src/api/spec/models/kiwi/preference_spec.rb
Labels: Frontend

Fix Action Pack vulnerability
  src/api/Gemfile.lock
Labels: Frontend

Add release notes for 2.10.12
  ReleaseNotes-2.10.12
Labels: none

[backend] bs_publish allow for a third digit
  src/backend/bs_publish
Labels: Backend

[backend] bs_publish fix typo in last change
  src/backend/bs_publish
Labels: Backend

Create NotificationActionDescriptionComponent
  src/api/app/components/notification_action_description_component.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_action_description_component_spec.rb
  src/api/spec/components/previews/notification_action_description_component_preview.rb
Labels: Frontend

Create NotificationMarkButtonComponent
  src/api/app/components/notification_mark_button_component.html.haml
  src/api/app/components/notification_mark_button_component.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_mark_button_component_spec.rb
  src/api/spec/components/previews/notification_mark_button_component_preview.rb
  src/api/spec/features/beta/webui/users/notifications_spec.rb
Labels: Frontend

Create RuboCop cop to avoid global state in view components
  src/api/.rubocop.yml
  src/api/app/lib/rubocop/cop/view_component/avoid_global_state.rb
  src/api/config/initializers/zeitwerk.rb
  src/api/spec/lib/rubocop/cop/view_component/avoid_global_state_spec.rb
  src/api/spec/rails_helper.rb
  src/api/spec/support/rubocop.rb
Labels: Frontend, Test Suite / CI :syringe:

Define render_without_markdown in Webui::MarkdownHelper
  src/api/app/helpers/webui/markdown_helper.rb
Labels: Frontend

Create NotificationExcerptComponent
  src/api/app/components/notification_excerpt_component.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_excerpt_component_spec.rb
  src/api/spec/components/previews/notification_excerpt_component_preview.rb
Labels: Frontend

[api] block requests to scmsync managed packages/projects
  src/api/app/models/bs_request_action.rb
  src/api/test/fixtures/packages.yml
  src/api/test/functional/search_controller_test.rb
Labels: Frontend

Create NotificationNotifiableLinkComponent
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_notifiable_link_component_spec.rb
  src/api/spec/components/previews/notification_notifiable_link_component_preview.rb
Labels: Frontend

Move custom RuboCop cop to src/api/lib
  src/api/.rubocop.yml
  src/api/config/initializers/zeitwerk.rb
  src/api/lib/rubocop/cop/view_component/avoid_global_state.rb
  src/api/spec/lib/rubocop/cop/view_component/avoid_global_state_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

[dist] made system tests fedora ready
  dist/t/0060-check_required_services.ts
  dist/t/0090-check_database.ts
Labels: Test Suite / CI :syringe:

[dist] improved os detection for fedora
  dist/t/0060-check_required_services.ts
Labels: Test Suite / CI :syringe:

[dist] changed required service name from mysql to mariadb
  dist/t/0060-check_required_services.ts
Labels: Test Suite / CI :syringe:

fix tests for older distros
  dist/t/0060-check_required_services.ts
Labels: Test Suite / CI :syringe:

fix 0060-check_required_services.ts to work with new output format of systemctl
  dist/t/0060-check_required_services.ts
Labels: Test Suite / CI :syringe:

[dist] check each service in obs-api-support.target separate
  dist/t/0060-check_required_services.ts
Labels: Test Suite / CI :syringe:

[dist] remove obs-delayedjob-queue-scm from test if not exists
  dist/t/0060-check_required_services.ts
Labels: Test Suite / CI :syringe:

[dist] stop the noise from 0060-check_required_services.ts
  dist/t/0060-check_required_services.ts
Labels: Test Suite / CI :syringe:

Fix flickering smoke test
  dist/t/0060-check_required_services.ts
Labels: Test Suite / CI :syringe:

Add missing parenthesis in if condition
  dist/t/0060-check_required_services.ts
Labels: Test Suite / CI :syringe:

Adopt smoketests to distribution changes
  dist/t/spec/features/0030_project_spec.rb
Labels: Test Suite / CI :syringe:

[api] fix accepting of submit request of scmsync packages
  src/api/app/models/bs_request_action_submit.rb
Labels: Frontend

Create NotificationAvatarsComponent
  src/api/app/components/notification_avatars_component.html.haml
  src/api/app/components/notification_avatars_component.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/_notification_avatar.html.haml
  src/api/app/views/webui/users/notifications/_notification_avatars.html.haml
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_avatars_component_spec.rb
  src/api/spec/components/previews/notification_avatars_component_preview.rb
Labels: Frontend

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml
