Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

Update bundler version 2.2.27
  src/api/Gemfile.lock
  src/api/Gemfile.next.lock
Labels: Frontend

Revert "Update bundler version 2.2.27"
  src/api/Gemfile.lock
  src/api/Gemfile.next.lock
Labels: Frontend

Fetch only the group IDs in NotificationsFinder
  src/api/app/queries/notifications_finder.rb
Labels: Frontend

Add mark all read/unread for notifications
  src/api/app/components/notification_action_bar_component.html.haml
Labels: Frontend

Add view component for notification action bar
  src/api/app/components/notification_action_bar_component.html.haml
  src/api/app/controllers/webui/users/notifications_controller.rb
Labels: Frontend

[backend] KiwiProduct: add missing newlines in debug print statements
  src/backend/BSSched/BuildJob/KiwiProduct.pm
Labels: Backend

Simplify method name in FindForEvent model
  src/api/app/models/event_subscription/find_for_event.rb
Labels: Frontend

[backend] also return hdrmd5 information for Kiwi/Docker builds
  src/backend/BSSched/BuildJob/KiwiProduct.pm
Labels: Backend

[backend] KiwiProduct/Image/Docker: reuse the context pool if possible
  src/backend/BSSched/BuildJob/KiwiProduct.pm
Labels: Backend

Create a read-only api for notifications
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/views/person/notifications/index.xml.builder
  src/api/spec/controllers/person/notifications_controller_spec.rb
Labels: Frontend

Add Swagger documentation to our new notifications API endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
Labels: Frontend

Add check for feature flag and beta to the notifications API endpoint
  src/api/app/controllers/person/notifications_controller.rb
  src/api/spec/controllers/person/notifications_controller_spec.rb
Labels: Frontend

Add filter options to the Notifications API endpoint
  src/api/app/controllers/person/notifications_controller.rb
  src/api/spec/controllers/person/notifications_controller_spec.rb
Labels: Frontend

Extract Errors to its own module
  src/api/app/controllers/person/notifications_controller.rb
Labels: Frontend

Add pagination information to the Notifications API endpoint
  src/api/app/views/person/notifications/index.xml.builder
Labels: Frontend

Add a notification groups join table
  src/api/db/schema.rb
Labels: Frontend

Create web notification for subscribed group members
  src/api/app/models/event_subscription/find_for_event.rb
  src/api/app/services/notification_service/web_channel.rb
Labels: Frontend

Add notification filters for groups
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/queries/notifications_finder.rb
  src/api/spec/services/notification_service/web_channel_spec.rb
Labels: Frontend

Add specs for group subscriptions in web channel service
  src/api/app/services/notification_service/web_channel.rb
  src/api/spec/services/notification_service/web_channel_spec.rb
Labels: Frontend

Create web notification for subscribed group members
  src/api/app/models/event_subscription/find_for_event.rb
  src/api/app/services/notification_service/web_channel.rb
Labels: Frontend

Add specs for group subscriptions in web channel service
  src/api/app/services/notification_service/web_channel.rb
  src/api/spec/services/notification_service/web_channel_spec.rb
Labels: Frontend

[backend] use correct pool for container DoD check
  src/backend/BSSched/BuildJob/KiwiImage.pm
Labels: Backend

[backend] refactor container handling in Docker/Kiwi builds
  src/backend/BSSched/BuildJob/KiwiImage.pm
Labels: Backend

[backend] fix KiwiProduct context pool use with 'local' as arch
  src/backend/BSSched/BuildJob/KiwiProduct.pm
Labels: Backend

Revert "Disable CodeClimate checks which have RuboCop equivalents"
  .codeclimate.yml
Labels: none

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
