Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml

Add "Identifies artifact" SLSA requirement
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
  src/backend/t/data/1000/.build.packages/RPMS/x86_64/hello_world-1-4.1.x86_64.rpm
  src/backend/t/data/1000/.build.packages/SRPMS/hello_world-1-4.1.src.rpm
Labels: Backend

Upgrade yajl to 1.4.2 version
  src/api/Gemfile.lock
Labels: Frontend

Add patched nokogiri dependency
  dist/obs-bundled-gems.spec
Labels: none

[backend] fix cache handling for preinstall images
  src/backend/bs_worker
Labels: Backend

Move *REQUEST_ACTIONS to ScmWebhook
  src/api/app/models/scm_webhook.rb
  src/api/app/models/workflow_run.rb
  src/api/app/validators/scm_webhook_event_validator.rb
Labels: Frontend

Add view component for workflow_run request action filter
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/queries/workflow_runs_finder.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
Labels: Frontend

New specs for workflow_run_request_action_filter_component_spec and workflow_runs_controller_spec
  src/api/spec/components/workflow_run_request_action_filter_component_spec.rb
  src/api/spec/controllers/webui/workflow_runs_controller_spec.rb
Labels: Frontend

Switch dev-env/CI to Ruby 2.7 containers
  .ruby-version
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.minitest
Labels: Frontend

Switch all shebangs to Ruby 2.7
  dist/setup-appliance.sh
  dist/systemd/obs-clockwork.service
  dist/systemd/obs-delayedjob-queue-consistency_check.service
  dist/systemd/obs-delayedjob-queue-default.service
  dist/systemd/obs-delayedjob-queue-issuetracking.service
  dist/systemd/obs-delayedjob-queue-mailers.service
  dist/systemd/obs-delayedjob-queue-project_log_rotate.service
  dist/systemd/obs-delayedjob-queue-quick@.service
  dist/systemd/obs-delayedjob-queue-releasetracking.service
  dist/systemd/obs-delayedjob-queue-staging.service
  dist/systemd/obs-sphinx.service
  docs/api/api/Makefile
  docs/api/restility/bin/rest_doc
  docs/api/restility/bin/rest_test
  src/api/Rakefile
  src/api/bin/bundle
  src/api/bin/pry
  src/api/bin/rails
  src/api/bin/rake
  src/api/bin/rdoc
  src/api/bin/ri
  src/api/bin/rspec
  src/api/bin/rubocop
  src/api/script/check_database
  src/api/script/delayed_job.api.rb
  src/api/script/plugin
  src/api/script/reformat_memprof
  src/api/script/rubygem_package_names.rb
  src/api/script/start_test_backend
Labels: Frontend, Documentation :book:

Bundle with the bundler version shipped in ruby2.7
  src/api/Gemfile.lock
Labels: Frontend

Can't modify a frozen string
  src/api/app/helpers/webui/webui_helper.rb
Labels: Frontend

Update rake to 13.0.6
  src/api/Gemfile.lock
Labels: Frontend

Switch RPM builds to Ruby 2.7
  dist/obs-bundled-gems.spec
  dist/obs-server.spec
Labels: none

Update haml_lint to 0.40.0
  src/api/Gemfile.lock
Labels: Frontend

Fix flaky test
  src/api/app/controllers/webui/users/bs_requests_controller.rb
  src/api/spec/controllers/webui/users/bs_requests_controller_spec.rb
  src/api/spec/features/webui/users/user_home_page_spec.rb
Labels: Frontend

Update parser to 3.1.2.0
  src/api/Gemfile.lock
Labels: Frontend

Fix flaky test
  src/api/app/controllers/webui/users/bs_requests_controller.rb
  src/api/spec/controllers/webui/users/bs_requests_controller_spec.rb
Labels: Frontend

Remove `report_to_scm` method from workflow step model
  src/api/app/models/workflow/step.rb
Labels: Frontend

added dpkg-scanpackages command for ddeb files in bs_publish
  src/backend/bs_publish
Labels: Backend

Update sanitize to version 6.0.0
  src/api/Gemfile.lock
Labels: Frontend

Fix broken specs in Kiwi::Image model
  src/api/app/models/kiwi/image/xml_builder.rb
  src/api/spec/models/kiwi/image_spec.rb
Labels: Frontend

Move setup/test tasks from openQA test suite here
  dist/t/Makefile
Labels: Test Suite / CI :syringe:

Move setup/test tasks from openQA test suite here
  dist/t/Makefile
Labels: Test Suite / CI :syringe:

Use the bundler version shiped by ruby3.1
  dist/t/Gemfile.lock
Labels: Test Suite / CI :syringe:

Use the correct rake alternative
  dist/setup-appliance.sh
Labels: none

Downgrade rake to 13.0.1
  dist/obs-bundled-gems.spec
  src/api/Gemfile.lock
Labels: Frontend

Update specs for tag push filter
  src/api/spec/queries/workflow_runs_finder_spec.rb
Labels: Frontend

Add new filter for tag push events
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/models/workflow_run.rb
  src/api/app/queries/workflow_runs_finder.rb
Labels: Frontend

Add workflow_run_id to EventSubscription model
  src/api/app/models/event_subscription.rb
  src/api/db/migrate/20220413223300_add_workflow_run_to_event_subscription.rb
  src/api/db/schema.rb
Labels: Frontend

Use the bundler version ruby 2.7 ships
  dist/t/Gemfile.lock
Labels: Test Suite / CI :syringe:

Track errors from SCMStatusReporter in WorkflowRuns
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step.rb
  src/api/app/services/scm_exception_handler.rb
  src/api/app/services/scm_initial_status_reporter.rb
  src/api/app/services/scm_status_reporter.rb
  src/api/app/services/workflows/yaml_to_workflows_service.rb
Labels: Frontend

Don't add exception from SCMStatusReporter to logfile
  src/api/app/services/scm_exception_handler.rb
Labels: Frontend

Add specs to check for SCMStatusReporter error tracking in workflow runs
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

[dist] fix path to clockworkd for new ruby version 2.7
  dist/systemd/obs-clockwork.service
Labels: none

[backend] fix broken additional metadata with createrepo_c 0.20
  dist/obs-server.spec
  src/backend/bs_publish
Labels: Backend

Adapt workflow model and yaml to workflow service specs
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/models/workflow_spec.rb
  src/api/spec/services/workflows/yaml_to_workflows_service_spec.rb
Labels: Frontend

Rename Token#name to Token#description
  src/api/app/models/token.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/models/token/rss.rb
  src/api/app/models/token/service.rb
  src/api/app/models/token/workflow.rb
  src/api/db/migrate/20220412090435_rename_name_to_description_in_tokens.rb
  src/api/db/schema.rb
Labels: Frontend

Update usage of Token#name to Token#description
  src/api/app/components/token_card_component.html.haml
  src/api/app/controllers/person/token_controller.rb
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/views/person/token/index.xml.builder
  src/api/app/views/webui/users/tokens/edit.html.haml
  src/api/app/views/webui/users/tokens/new.html.haml
  src/api/app/views/webui/users/tokens/show.html.haml
  src/api/db/schema.rb
  src/api/spec/components/token_card_component_spec.rb
  src/api/spec/controllers/webui/users/tokens_controller_spec.rb
Labels: Frontend

Release 2.10.13
  ReleaseNotes-2.10.12
  ReleaseNotes-2.10.13
Labels: none

Downcase token types
  src/api/app/views/webui/users/tokens/new.html.haml
Labels: Frontend
