Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml

Set flash message and redirect instead of raising ...
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/watched_items_controller.rb
  src/api/spec/controllers/webui/watched_items_controller_spec.rb
Labels: Frontend

Improve request beta_show view style
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

Test status not message content
  src/api/spec/controllers/webui/repositories_controller_spec.rb
Labels: Frontend

Fix APIMatcher being to greedy
  src/api/app/controllers/concerns/rescue_authorization_handler.rb
Labels: Frontend

Spec out RescueAuthorizationHandler
  src/api/spec/controllers/concerns/rescue_authorization_handler_spec.rb
Labels: Frontend

Remove superflouous test
  src/api/spec/controllers/webui/feeds_controller_spec.rb
Labels: Frontend

Simplify require_request method in Webui::RequestController
  src/api/app/controllers/webui/request_controller.rb
  src/api/config/brakeman.ignore
  src/api/spec/controllers/webui/request_controller_spec.rb
Labels: Frontend

Display request creator and creation date in request show redesign
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

Show link to SCM for packages with scmsync
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/_files_view.html.haml
  src/api/app/views/webui/package/_side_links.html.haml
  src/api/app/views/webui/package/side_links/_show_scmsync.html.haml
Labels: Frontend

Can not store files in SCM bridged packages
  src/api/app/controllers/concerns/webui/rescue_handler.rb
  src/api/app/controllers/webui/packages/files_controller.rb
  src/api/app/models/package.rb
  src/api/app/models/package/errors.rb
  src/api/app/models/service.rb
Labels: Frontend

Update Swagger UI version from 4.6.1 to 4.13.0
  src/api/public/apidocs-new/index.css
  src/api/public/apidocs-new/index.html
  src/api/public/apidocs-new/oauth2-redirect.html
  src/api/public/apidocs-new/swagger-initializer.js
  src/api/public/apidocs-new/swagger-ui-bundle.js
  src/api/public/apidocs-new/swagger-ui-bundle.js.map
  src/api/public/apidocs-new/swagger-ui-es-bundle-core.js
  src/api/public/apidocs-new/swagger-ui-es-bundle-core.js.map
  src/api/public/apidocs-new/swagger-ui-es-bundle.js
  src/api/public/apidocs-new/swagger-ui-es-bundle.js.map
  src/api/public/apidocs-new/swagger-ui-standalone-preset.js
  src/api/public/apidocs-new/swagger-ui-standalone-preset.js.map
  src/api/public/apidocs-new/swagger-ui.css
  src/api/public/apidocs-new/swagger-ui.css.map
  src/api/public/apidocs-new/swagger-ui.js
  src/api/public/apidocs-new/swagger-ui.js.map
Labels: Frontend, Documentation :book:

Don't allow update and deletion of scmsynced files through api
  src/api/app/controllers/source/errors.rb
  src/api/app/controllers/source_controller.rb
Labels: Frontend

Clarify how exceptions are caught in request#add_review
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend

Use component to delete users/groups
  src/api/app/views/webui/shared/user_or_groups_roles/_delete_dialog.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_index.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_list.html.haml
  src/api/spec/support/shared_examples/features/bootstrap_user_tab.rb
Labels: Frontend

Introduce Changes tab for requests show redesign
  src/api/app/assets/javascripts/webui/request.js
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_changes.html.haml
  src/api/app/views/webui/request/request_action_changes.js.erb
  src/api/config/brakeman.ignore
  src/api/config/routes/webui_routes.rb
  src/api/spec/cassettes/SourcediffComponent/with_a_request_with_a_submit_action/renders_the_diff.yml
  src/api/spec/components/previews/sourcediff_component_preview.rb
  src/api/spec/components/sourcediff_component_spec.rb
Labels: Frontend

[backend] BSXML.pm update person structure for new watchlist features
  src/backend/BSXML.pm
Labels: Backend

Add actions to request show redesign
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

Don't render add_reviewer_modal if user doesn't have permission to do so
  src/api/app/views/webui/request/show.html.haml
Labels: Frontend

Compress CI artifacts
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Link to superseded request in the state badge
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

Silence backend error about excessing missing hash entries
  src/api/config/initializers/airbrake.rb
Labels: Frontend

Do not crash on workflow run scope when token does not exist
  src/api/app/policies/workflow_run_policy.rb
  src/api/spec/policies/workflow_run_policy_spec.rb
Labels: Frontend

[backend] change lastevent pruning to keep at least 1/2 hour of events
  src/backend/bs_srcserver
Labels: Backend

Make architecture_name parameter optional
  src/api/public/apidocs-new/paths/published_project_name_repository_name_architecture_name_binary_filename_view_ymp.yaml
Labels: Frontend, Documentation :book:

[backend] handle clock jump more gracefully in periodic BSServer code
  src/backend/BSServer.pm
Labels: Backend

Fix missing HistoryElements
  src/api/config/environments/development.rb
Labels: Frontend

Limit the classes we eager load in development
  src/api/config/environments/development.rb
Labels: Frontend

Do not display the request creator name, only their login
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

Clarify possible confusion about the docker-compose setup
  README.md
Labels: Documentation :book:

Moving the checkout code step for readability
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

[backend] adapt RSA error check to new sign versions
  src/backend/BSSrcServer/Signkey.pm
Labels: Backend

Fix eager loading token STI classes
  src/api/config/environments/development.rb
Labels: Frontend

Test loading the app in production
  .circleci/conditional_config.yml
  src/api/lib/tasks/dev.rake
Labels: Frontend, Test Suite / CI :syringe:

[backend] BSX509: use 20 random bytes when creating a random serial
  src/backend/BSX509.pm
Labels: Backend

Run RuboCop cops from ViewComponent namespace only for view components
  src/api/.rubocop.yml
  src/api/lib/rubocop/cop/view_component/avoid_global_state.rb
  src/api/spec/lib/rubocop/cop/view_component/avoid_global_state_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

Change the icon that represents each history entry
  src/api/app/components/bs_request_activity_timeline_component.html.haml
  src/api/app/components/bs_request_history_element_component.html.haml
Labels: Frontend

Merge comments and history elements in a single timeline
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/timeline.scss
  src/api/app/components/bs_request_activity_timeline.html.haml
  src/api/app/components/bs_request_activity_timeline.rb
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_comment_component.rb
  src/api/app/components/bs_request_history_element_component.html.haml
  src/api/app/components/bs_request_history_element_component.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_overview.html.haml
  src/api/spec/components/previews/bs_request_history_element_component_preview.rb
Labels: Frontend

Add '-Component' suffix to component name
  src/api/app/components/bs_request_activity_timeline_component.html.haml
  src/api/app/components/bs_request_activity_timeline_component.rb
  src/api/app/views/webui/request/beta_show_tabs/_overview.html.haml
Labels: Frontend

Outline specs for the BsRequestCommentComponent
  src/api/app/components/bs_request_activity_timeline_component.rb
  src/api/spec/components/bs_request_activity_timeline_component_spec.rb
  src/api/spec/components/bs_request_comment_component_spec.rb
  src/api/spec/components/bs_request_history_element_component_spec.rb
Labels: Frontend

Display history text in the right position
  src/api/app/components/bs_request_history_element_component.html.haml
Labels: Frontend
