Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

Update Issues model table schema comments
  src/api/app/models/issue_tracker.rb
Labels: Frontend

[backend] SLSA: implement pinning of DoD materials
  src/backend/BSRepServer/SLSA.pm
Labels: Backend

Update release notes for 2.10.16
  ReleaseNotes-2.10.16
Labels: none

Add scm status report table
  src/api/app/models/scm_status_report.rb
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20220520131205_create_scm_status_reports_table.rb
  src/api/db/schema.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

Catch faraday connection exception in SCM reporter
  src/api/app/services/scm_status_reporter.rb
Labels: Frontend

Rename Rubocop auto-correct to autocorrect
  src/api/lib/tasks/dev.rake
Labels: Frontend

Provide some fake scm status reports for the factories
  src/api/spec/factories/workflow_runs.rb
Labels: Frontend

Show the Workflow run's scm status reports
  src/api/app/components/workflow_run_detail_component.html.haml
  src/api/app/components/workflow_run_detail_component.rb
Labels: Frontend

Create scm report statuses when failing
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/workflow_run.rb
  src/api/app/services/scm_exception_handler.rb
  src/api/app/services/scm_status_reporter.rb
Labels: Frontend

Refactor Scm Status Reporter
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/gitlab_status_reporter.rb
  src/api/app/services/scm_status_reporter.rb
Labels: Frontend

Adopt rack version to last update
  dist/obs-bundled-gems.spec
Labels: none

Provide some fake scm status reports for the factories
  src/api/spec/factories/workflow_runs.rb
Labels: Frontend

Add scm status report table
  src/api/app/models/scm_status_report.rb
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20220520131205_create_scm_status_reports_table.rb
  src/api/db/schema.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

Show the Workflow run's scm status reports
  src/api/app/components/workflow_run_detail_component.html.haml
  src/api/app/components/workflow_run_detail_component.rb
Labels: Frontend

Create scm report statuses when failing
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/workflow_run.rb
  src/api/app/services/scm_exception_handler.rb
  src/api/app/services/scm_status_reporter.rb
Labels: Frontend

rubygem packaging only produces semver provides
  dist/obs-bundled-gems.spec
Labels: none

[dist] fixed missing end of if (fi)
  dist/obsworker
Labels: none

[api] updateinfo counters must depend on maintenance project
  src/api/app/models/maintenance_incident.rb
  src/api/app/models/updateinfo_counter.rb
Labels: Frontend

Require a specific rack version
  dist/obs-bundled-gems.spec
Labels: none

[backend] also do relsync for docker images, not just kiwi
  src/backend/BSSched/BuildJob.pm
Labels: Backend

Delete `run_service` method from backend lib
  src/api/app/lib/backend/api/sources/package.rb
  src/api/app/models/service.rb
Labels: Frontend

[backend] Allow to configure VM-specific extra args for worker.
  dist/obsworker
  dist/sysconfig.obs-server
  src/backend/bs_worker
Labels: Backend

Show the token trigger url in token details page
  src/api/app/views/webui/users/tokens/show.html.haml
Labels: Frontend

[backend] Add tests for getbinaries_kiwiproduct
  src/backend/t/1000-bs_worker.t
  src/backend/t/data/1000/srcserver/build_openSUSE.org:OBS:Server:Unstable_15.3_x86_64_0product:OBS-Addon-release?view=cpio
Labels: Backend

Fix empty scm status report
  src/api/app/models/workflow_run.rb
  src/api/spec/models/workflow_run_spec.rb
Labels: Frontend

Replace rendered_component to rendered_content
  src/api/spec/components/notification_action_bar_component_spec.rb
  src/api/spec/components/notification_action_description_component_spec.rb
  src/api/spec/components/notification_avatars_component_spec.rb
  src/api/spec/components/notification_filter_component_spec.rb
  src/api/spec/components/notification_filter_link_component_spec.rb
  src/api/spec/components/notification_mark_button_component_spec.rb
  src/api/spec/components/notification_notifiable_link_component_spec.rb
  src/api/spec/components/sourcediff_tab_component_spec.rb
  src/api/spec/components/sponsors_component_spec.rb
  src/api/spec/components/staging_project_link_component_spec.rb
  src/api/spec/components/status_message_component_spec.rb
  src/api/spec/components/token_card_component_spec.rb
  src/api/spec/components/watched_items_list_component_spec.rb
  src/api/spec/components/watchlist_component_spec.rb
  src/api/spec/components/workflow_artifacts_per_step_component_spec.rb
  src/api/spec/components/workflow_run_detail_component_spec.rb
  src/api/spec/components/workflow_run_filter_component_spec.rb
  src/api/spec/components/workflow_run_filter_link_component_spec.rb
  src/api/spec/components/workflow_run_header_component_spec.rb
  src/api/spec/components/workflow_run_request_action_filter_component_spec.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
Labels: Frontend

Rename method
  src/api/app/services/scm_status_reporter.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

As apache2 doesn't hand over the proxy env settings These have been optionally been added to the obs.conf vhost configuration An extra debug line has been added to remote_url.rb
  dist/obs-apache2.conf
  dist/obs-apache24.conf
  src/api/app/models/project/remote_url.rb
  src/backend/BSConfig.pm.template
  src/backend/BSSrcServer/Remote.pm
Labels: Frontend, Backend

Rename token_string to input_text in the component
  src/api/app/components/copy_to_clipboard_input_component.html.haml
  src/api/app/components/copy_to_clipboard_input_component.rb
  src/api/app/views/webui/users/tokens/edit.html.haml
  src/api/app/views/webui/users/tokens/show.html.haml
Labels: Frontend

Add comment when triggering service from step
  src/api/app/lib/backend/api/sources/package.rb
  src/api/app/models/workflow/step/trigger_services.rb
  src/api/spec/models/workflow/step/trigger_services_spec.rb
Labels: Frontend

Set commit sha on target_branch for tag pushes
  src/api/app/services/trigger_controller_service/scm_extractor.rb
  src/api/app/services/workflows/yaml_downloader.rb
Labels: Frontend

Adapt specs related to tag push events
  src/api/app/services/workflows/yaml_downloader.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow/step/link_package_step_spec.rb
  src/api/spec/models/workflow_spec.rb
  src/api/spec/services/trigger_controller_service/scm_extractor_spec.rb
  src/api/spec/services/workflows/artifacts_collector_spec.rb
Labels: Frontend

[backend] bs_signer: clamp signature time to key creation time
  src/backend/bs_signer
Labels: Backend

Remove obsoleted parameter `IgnoredPatterns`
  .rubocop.yml
Labels: Test Suite / CI :syringe:

Fix rubocop warning
  src/api/app/controllers/concerns/triggerable.rb
Labels: Frontend

[backend] move sigstore cookie creation to BSConSign module
  src/backend/BSConSign.pm
  src/backend/bs_regpush
Labels: Backend

[backend] BSRPC: allow to reuse the connection ("keep-alive")
  src/backend/BSRPC.pm
Labels: Backend

[backend] print the sigstore cookie in bs_regpush -l
  src/backend/bs_regpush
Labels: Backend

[backend] Speed up container publishing
  src/backend/BSPublisher/Container.pm
Labels: Backend

[backend] simplify the local registry code a bit
  src/backend/BSPublisher/Registry.pm
Labels: Backend

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml
