Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

Fix rendering not found package for AJAX requests
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend

Change CVE download URL from HTTP to HTTPS
  src/api/app/models/issue_tracker.rb
  src/api/test/unit/issue_test.rb
Labels: Frontend

Change Rails version to 6.1 in config load_defaults
  src/api/config/application.rb
  src/api/config/initializers/new_framework_defaults_6_1.rb
Labels: Frontend

Fix name of validation methods in model Attrib
  src/api/app/models/attrib.rb
Labels: Frontend

Remove unnecessary Rails.application from application.rb
  src/api/config/application.rb
Labels: Frontend

Use component to delete files
  src/api/app/views/webui/package/_delete_file_dialog.html.haml
  src/api/app/views/webui/package/_file.html.haml
  src/api/app/views/webui/package/_files_view.html.haml
Labels: Frontend

Parse timezone (and abbreviations) for embargo date
  src/api/app/models/project/embargo_handler.rb
  src/api/spec/models/project/embargo_handler_spec.rb
Labels: Frontend

Regenerate RuboCop TODO file for root subdirectory
  .rubocop_todo.yml
Labels: Test Suite / CI :syringe:

Autocorrect RuboCop offenses for root subdirectory
  .rubocop_todo.yml
  dist/clouduploader.rb
  dist/t/spec/features/0010_authentication_spec.rb
  dist/t/spec/features/0020_interconnect_spec.rb
  dist/t/spec/features/0030_project_spec.rb
  dist/t/spec/features/0040_package_spec.rb
  dist/t/spec/spec_helper.rb
  dist/t/spec/support/capybara.rb
Labels: Test Suite / CI :syringe:

Use component to delete attributes
  src/api/app/views/webui/attribute/_delete_dialog.html.haml
  src/api/app/views/webui/attribute/index.html.haml
  src/api/spec/features/webui/attributes_spec.rb
Labels: Frontend

Regenerate RuboCop TODO file for rails subdirectory
  src/api/.rubocop_todo.yml
Labels: Frontend, Test Suite / CI :syringe:

Autocorrect RuboCop offenses for rails subdirectory
  src/api/.rubocop_todo.yml
  src/api/app/models/full_text_search.rb
  src/api/app/queries/maintained_packages_by_user_finder.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/features/webui/requests/submissions_spec.rb
  src/api/test/functional/kgraft_maintenance_test.rb
  src/api/test/functional/product_test.rb
  src/api/test/functional/release_management_test.rb
  src/api/test/functional/request_events_test.rb
  src/api/test/functional/source_services_test.rb
Labels: Frontend, Test Suite / CI :syringe:

Use component to delete projects
  src/api/app/views/webui/project/_delete_project_dialog.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/project/show_actions/_delete_project.html.haml
Labels: Frontend

Regenerate RuboCop TODO file for rails subdirectory
  src/api/.rubocop_todo.yml
Labels: Frontend, Test Suite / CI :syringe:

Use component to delete all built binaries
  src/api/app/views/webui/package/_delete_all_binaries_dialog.html.haml
  src/api/app/views/webui/package/binaries.html.haml
Labels: Frontend

Use the same bundle path in CI as we use in production
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Update strscan to 3.0.3
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/vendor/cache/strscan-3.0.1.gem
  src/api/vendor/cache/strscan-3.0.3.gem
Labels: Frontend

Use the same bundle path in CI as we use in production
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Test rack/rake gem versions
  .circleci/conditional_config.yml
  src/api/Makefile
Labels: Frontend, Test Suite / CI :syringe:

Add rake & rack spec/bundle version comparison
  dist/obs-bundled-gems.spec
Labels: none

[backend] set the job state to signing for finished aggregates
  src/backend/BSSched/BuildJob.pm
Labels: Backend

Describe what the "Share Token" page is for
  src/api/app/components/token_card_component.html.haml
  src/api/app/views/webui/users/tokens/show.html.haml
  src/api/app/views/webui/users/tokens/users/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/tokens/users/index.html.haml
Labels: Frontend

Store 'fail' status in ScmStatusReport
  src/api/app/models/workflow_run.rb
  src/api/spec/models/workflow_run_spec.rb
Labels: Frontend

[api] improve error message
  src/api/.rubocop_todo.yml
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action/errors.rb
Labels: Frontend, Test Suite / CI :syringe:

[api] protect us against broken requests due to multiple entries
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request/errors.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_add_role.rb
  src/api/app/models/bs_request_action_change_devel.rb
  src/api/app/models/bs_request_action_delete.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/bs_request_action_maintenance_release.rb
  src/api/app/models/bs_request_action_release.rb
  src/api/app/models/bs_request_action_set_bugowner.rb
  src/api/app/models/bs_request_action_submit.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/request_events_test.rb
Labels: Frontend

Extract uniq action validation and adopt specs
  src/api/app/models/bs_request.rb
  src/api/spec/models/bs_request_action_spec.rb
Labels: Frontend

Use component to delete group members
  src/api/app/views/webui/groups/_group_members.html.haml
  src/api/app/views/webui/groups/_group_members_delete_dialog.html.haml
  src/api/spec/features/webui/groups_spec.rb
Labels: Frontend

Use component to delete status messages
  src/api/app/components/status_message_component.html.haml
  src/api/app/views/webui/main/_status_message_delete_dialog.html.haml
  src/api/app/views/webui/main/_status_messages.html.haml
  src/api/spec/components/status_message_component_spec.rb
Labels: Frontend

[dist] set expire date for gpg keys if not set yet
  dist/README.UPDATERS
  dist/functions.setup-appliance.sh
  dist/setup-appliance.sh
Labels: none

Fix rack/rake_version macros
  dist/obs-bundled-gems.spec
Labels: none

Fix rake/rack version macros again
  dist/obs-bundled-gems.spec
Labels: none

Use of the defined ruby interpreter version
  dist/obs-bundled-gems.spec
Labels: none

Don't check directly for an unintialized value
  src/backend/BSSched/BuildJob/Patchinfo.pm
Labels: Backend

Send metrics about exceptions on ScmStatusReport
  src/api/app/services/scm_exception_handler.rb
  src/api/app/services/scm_status_reporter.rb
Labels: Frontend

Stop passing redundant parameter to the component
  src/api/app/views/webui/users/tokens/users/index.html.haml
Labels: Frontend

Send metrics about ScmStatusReport#status
  src/api/app/models/workflow_run.rb
Labels: Frontend

Adapt specs for save_scm_report_* methods
  src/api/spec/models/workflow_run_spec.rb
Labels: Frontend

Use component to delete binaries
  src/api/app/views/webui/package/_delete_binaries_dialog.html.haml
  src/api/app/views/webui/package/binaries.html.haml
  src/api/app/views/webui/package/binaries/_trigger_rebuild_wipe_binaries.html.haml
Labels: Frontend

Introduce validation of EmbargoDate attribute
  src/api/app/controllers/source_attribute_controller.rb
  src/api/app/models/attrib.rb
  src/api/app/models/project/embargo_handler.rb
  src/api/spec/models/attrib_spec.rb
  src/api/spec/models/project/embargo_handler_spec.rb
  src/api/test/functional/maintenance_test.rb
Labels: Frontend

Send metrics for all the reporter exceptions
  src/api/app/services/scm_exception_handler.rb
  src/api/app/services/scm_status_reporter.rb
Labels: Frontend

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml
