Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml

Support push events for tags in Workflow::Step#target_{project,package}_name
  src/api/app/models/workflow/step.rb
  src/api/spec/models/workflow/step_spec.rb
Labels: Frontend

Create workflow runs index view
  src/api/app/components/token_card_component.html.haml
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/policies/workflow_run_policy.rb
  src/api/app/views/webui/workflow_runs/_breadcrumb_items.html.haml
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/config/routes/webui_routes.rb
Labels: Frontend

Add pagination to workflow run index view
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/models/workflow_run.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
Labels: Frontend

Add breadcrumbs to workflow runs view
  src/api/app/views/webui/workflow_runs/_breadcrumb_items.html.haml
Labels: Frontend

Support push events for tags in event filter of OBS workflows
  src/api/app/models/workflow.rb
  src/api/spec/models/workflow_spec.rb
Labels: Frontend

Add specs for workflow run pundit policy
  src/api/spec/policies/workflow_run_policy_spec.rb
Labels: Frontend

Adapt token card component spec to take workflow runs into account
  src/api/spec/components/token_card_component_spec.rb
Labels: Frontend

Add controller specs for workflow runs webui
  src/api/spec/controllers/webui/workflow_runs_controller_spec.rb
  src/api/spec/policies/workflow_run_policy_spec.rb
Labels: Frontend

Support push events for tags
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/validators/scm_webhook_event_validator.rb
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_3.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_4.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_5.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_6.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_failed_when_source_package_does_not_exist/1_1_1_6_8_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_failed_without_branch_permissions/1_1_1_6_9_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_fails_with_insufficient_write_permission_on_target_project/1_1_1_6_10_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/does_not_report_back_to_the_SCM.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_10.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_11.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_12.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_6.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_7.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_8.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_9.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_failed_when_source_package_does_not_exist/1_1_1_6_13_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_failed_without_link_permissions/1_1_1_6_15_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_insufficient_permission_on_target_project/1_1_1_6_16_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_insufficient_permission_to_create_new_target_project/1_1_1_6_17_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_project_and_package_does_not_exist/1_1_1_6_14_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/does_not_report_back_to_the_SCM.yml
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow/step/link_package_step_spec.rb
  src/api/spec/validators/scm_webhook_event_validator_spec.rb
Labels: Frontend

Pretty print request payload of workflow runs
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/workflow_runs.scss
  src/api/app/views/webui/workflow_runs/index.html.haml
Labels: Frontend

Display 'workflow runs' in pagination headers
  src/api/app/views/webui/workflow_runs/index.html.haml
Labels: Frontend

Fix text hierarchy for content headings
  src/api/app/views/webui/workflow_runs/index.html.haml
Labels: Frontend

Reintroduce checking for 'Token' string
  src/api/app/services/trigger_controller_service/token_extractor.rb
  src/api/spec/services/trigger_controller_service/token_extractor_spec.rb
Labels: Frontend

Autofocus into the search input field
  src/api/app/views/layouts/webui/_top_navigation_search.html.haml
Labels: Frontend

Remove long description on Request group of endpoints
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
Labels: Frontend, Documentation :book:

[backend] fix sha256 file for static symlinks
  src/backend/bs_publish
Labels: Backend

[backend] bs_publish: add appx for staticlinks
  src/backend/bs_publish
Labels: Backend

Extend comment on the notifications rake task code
  src/api/lib/tasks/dev.rake
Labels: Frontend

Revert "Autofocus into the search input field"
  src/api/app/views/layouts/webui/_top_navigation_search.html.haml
Labels: Frontend

[backend] support a new "ccachetype" build flag
  src/backend/BSSched/BuildJob.pm
  src/backend/BSXML.pm
  src/backend/bs_worker
Labels: Backend

Extend comment on the notifications API controller code
  src/api/app/controllers/person/notifications_controller.rb
Labels: Frontend

[backend] BSPublisher/Container.pm ... collect all errors, dump at end
  src/backend/BSPublisher/Container.pm
Labels: Backend

Remove duplicated Contribution Graph spec
  src/api/spec/features/beta/webui/users/user_contributions_spec.rb
  src/api/spec/features/webui/users/user_contributions_spec.rb
Labels: Frontend

Fix typo in notifications controller spec
  src/api/spec/controllers/person/notifications_controller_spec.rb
Labels: Frontend

Use the existing contribution_graph? helper
  src/api/app/views/webui/user/user_profile_redesign/_involvement_and_activity.html.haml
Labels: Frontend

Pluralize request tag name in API docs
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/request.yaml
  src/api/public/apidocs-new/paths/request_id.yaml
  src/api/public/apidocs-new/paths/request_id_cmd_diff.yaml
  src/api/public/apidocs-new/paths/request_view_collection.yaml
Labels: Frontend, Documentation :book:

Add OpenAPI specifications for source cmd orderkiwirepos
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/kiwi.yaml
  src/api/public/apidocs-new/paths/source_orderkiwirepos.yaml
Labels: Frontend, Documentation :book:

Add OpenAPI specifications for createmaintenanceincident
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/code_and_summary.yaml
  src/api/public/apidocs-new/paths/source_createmaintenanceincident.yaml
Labels: Frontend, Documentation :book:

Add OpenAPI specifications for source cmd branch
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_branch.yaml
Labels: Frontend, Documentation :book:

Add source project name Apidoc endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_addchannels.yaml
Labels: Frontend, Documentation :book:

Replace code_and_summary with api_response
  src/api/public/apidocs-new/components/schemas/code_and_summary.yaml
  src/api/public/apidocs-new/paths/source_createmaintenanceincident.yaml
Labels: Frontend, Documentation :book:

Add OpenAPI specifications for source project cmd createmaintenanceincident
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_cmd_createmaintenanceincident.yaml
Labels: Frontend, Documentation :book:

Add OpenAPI specifications for source project cmd createkey
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_cmd_createkey.yaml
Labels: Frontend, Documentation :book:

[backend] bs_publish allow a syntax for rsync via ssh
  src/backend/bs_publish
Labels: Backend

Derive repositories through OBS:Server:Unstable project in our CI workflows
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

Add '/source/{project_name}?cmd=createpatchinfo' endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_createpatchinfo.yaml
Labels: Frontend, Documentation :book:

[backend] refactor service run handling in BSSrcServer::Service
  src/backend/BSSrcServer/Service.pm
Labels: Backend

[backend] refactor service run handling in bs_dispatch
  src/backend/bs_servicedispatch
Labels: Backend

Rename paths files names in OpenAPI documentation
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_createkey.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_createmaintenanceincident.yaml
Labels: Frontend, Documentation :book:

[backend] add obsscm helpers to the BSSrcrep module
  src/backend/BSSrcrep.pm
Labels: Backend
