Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

Improved parsing of /etc/sysconfig/proxy
  src/backend/BSConfig.pm.template
Labels: Backend

Fixes in the rube proxy parse code
  src/api/app/models/project/remote_url.rb
Labels: Frontend

Changed as requested, fetch is not need [] can be used in stead of fetch()
  src/api/app/models/project/remote_url.rb
Labels: Frontend

Added some information to the variables that can be set
  dist/obs-apache2.conf
  dist/obs-apache24.conf
  src/backend/BSConfig.pm.template
Labels: Backend

Added some information to the variables that can be set
  src/backend/BSConfig.pm.template
Labels: Backend

[backend] fix obsscm file handling in Service.pm
  src/backend/BSSrcServer/Service.pm
Labels: Backend

Delete user_profile_redesign feature toggle
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/user_profile.scss
  src/api/app/assets/stylesheets/webui/user_profile_redesign/user_profile.scss
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/app/views/webui/user/_edit_account_form.html.haml
  src/api/app/views/webui/user/_edit_dialog.html.haml
  src/api/app/views/webui/user/_index_actions.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/user/_involvement.html.haml
  src/api/app/views/webui/user/_involvement_and_activity.html.haml
  src/api/app/views/webui/user/index_actions/_edit_account.html.haml
  src/api/app/views/webui/user/user_profile_redesign/_info.html.haml
  src/api/app/views/webui/user/user_profile_redesign/_involvement.html.haml
  src/api/app/views/webui/users/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/edit_account.js.erb
  src/api/app/views/webui/users/show.html.haml
  src/api/app/views/webui/users/update.js.haml
  src/api/lib/tasks/dev.rake
  src/api/spec/features/beta/webui/users/profile_spec.rb
  src/api/spec/features/webui/users/user_contributions_spec.rb
  src/api/spec/features/webui/users/user_home_page_spec.rb
  src/api/spec/support/beta.rb
Labels: Frontend

Document `/search/project/id` endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/parameters/search_limit.yaml
  src/api/public/apidocs-new/components/parameters/search_offset.yaml
  src/api/public/apidocs-new/components/schemas/search/collection_projects.yaml
  src/api/public/apidocs-new/paths/search_project_id.yaml
Labels: Frontend, Documentation :book:

Corrected al failure in Remote.pm
  src/backend/BSSrcServer/Remote.pm
Labels: Backend

Corrected suggested fixes. Suggestions via: https://github.com/openSUSE/open-build-service/wiki/Development-Environment-Tips-&-Tricks#run-linters
  src/api/app/models/project/remote_url.rb
Labels: Frontend

Switch exec-only scripts to /bin/sh
  dist/obs_admin
  dist/obs_productconvert
  dist/obs_serverstatus
Labels: none

Switch non-POSIX shell scripts to explicit /bin/bash
  dist/obsstoragesetup
  dist/obsworker
Labels: none

Switch obs_rebuild_db to /bin/sh
  dist/obs_rebuild_db
Labels: none

gem_build_cleanup.sh: replace ${#*} with $#
  dist/gem_build_cleanup.sh
Labels: none

Rename @notifications_total to @notifications_count
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/views/person/notifications/index.xml.builder
Labels: Frontend

WIP
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Add test for "Mark all as 'Read'" button
  src/api/spec/features/beta/webui/users/notifications_spec.rb
Labels: Frontend

Rename feature spec
  src/api/spec/features/beta/webui/users/notifications_spec.rb
Labels: Frontend

Fix button displaying
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
Labels: Frontend

Rename spec files for Subscriptions
  src/api/.rubocop_todo.yml
  src/api/spec/features/beta/webui/subscriptions_spec.rb
  src/api/spec/features/webui/subscriptions_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

Improve "Mark all as 'Read'" button position ...
  src/api/app/components/notification_action_bar_component.html.haml
Labels: Frontend

Fix XML tag name for notifications schema
  src/api/public/apidocs-new/components/schemas/notifications.yaml
Labels: Frontend, Documentation :book:

Fix order of parameters in assert_equal tests ...
  src/api/test/unit/project_test.rb
Labels: Frontend

Rename "Show all" in notifications API and web UI
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/public/apidocs-new/paths/my_notifications.yaml
Labels: Frontend, Documentation :book:

Adjust notifications endpoint API docs
  src/api/public/apidocs-new/paths/my_notifications.yaml
Labels: Frontend, Documentation :book:

Change the vendoring path
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Create notification update policy
  src/api/app/policies/notification_policy.rb
Labels: Frontend

Revert "Change the vendoring path"
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Create notification update api endpoint
  src/api/app/controllers/person/notifications_controller.rb
  src/api/config/routes/api_routes.rb
Labels: Frontend

Add controller spec for notification update api endpoint
  src/api/spec/controllers/person/notifications_controller_spec.rb
Labels: Frontend

Add apidocs for notification update api endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/my_notifications_id.yaml
Labels: Frontend, Documentation :book:

Rely only on Flipper to check if feature toggle is enabled
  src/api/app/controllers/person/notifications_controller.rb
  src/api/spec/controllers/person/notifications_controller_spec.rb
Labels: Frontend

Improved the code to pass the rake lint tests
  src/api/app/models/project/remote_url.rb
Labels: Frontend

[api][backend] add scm meta element in project and package
  docs/api/api/package.rng
  docs/api/api/project.rng
  src/api/app/models/bs_request_action_submit.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/project/update_from_xml_command.rb
  src/api/app/views/models/_package.xml.builder
  src/api/app/views/models/_project.xml.builder
  src/api/db/migrate/20211214111900_add_scmsync_elements_for_packages_and_projects.rb
  src/api/db/schema.rb
  src/backend/BSXML.pm
Labels: Frontend, Backend, Documentation :book:

[backend] make use of scm tag
  src/backend/bs_srcserver
Labels: Backend

[api] fix encoding on patchinfo creation
  src/api/app/models/patchinfo.rb
  src/api/test/functional/maintenance_test.rb
Labels: Frontend

Gather information when there is no binary package
  src/api/app/models/binary_release.rb
Labels: Frontend

Add missing change from migration AddScmsyncElementsForPackagesAndProjects
  src/api/app/models/remote_project.rb
Labels: Frontend

Add counter to "Tasks" link under "Places"
  src/api/app/views/layouts/webui/_places.html.haml
Labels: Frontend

[api][backend] compability mode for scmsync
  src/api/app/controllers/public_controller.rb
  src/backend/bs_srcserver
Labels: Frontend, Backend

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml
