Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

Validate limit in OwnerSearch::Base
  src/api/app/models/owner_search/base.rb
  src/api/lib/api_error.rb
Labels: Frontend

Document /search/project endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/search_project.yaml
Labels: Frontend, Documentation :book:

Document search packages endpoints with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/search/collection_packages.yaml
  src/api/public/apidocs-new/paths/search_package.yaml
  src/api/public/apidocs-new/paths/search_package_id.yaml
Labels: Frontend, Documentation :book:

Use standard view (non-partial) for package#rpmlint_log
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/_rpmlint_log.html.haml
  src/api/app/views/webui/package/rpmlint_log.html.haml
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Frontend

Temporarily disable haml-lint's InstanceVariables check
  src/api/app/views/layouts/webui/_footer.html.haml
  src/api/app/views/layouts/webui/_left_navigation_nobody.html.haml
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/webui/kiwi/images/_preferences.html.haml
  src/api/app/views/webui/kiwi/images/_preferences_form.html.haml
  src/api/app/views/webui/kiwi/images/_profiles.html.haml
  src/api/app/views/webui/main/_latest_updates.html.haml
  src/api/app/views/webui/package/_commit_item.html.haml
  src/api/app/views/webui/package/_live_build_log_controls.html.haml
  src/api/app/views/webui/package/_revision_diff_detail_buttons.html.haml
  src/api/app/views/webui/package/_rpmlint_log.html.haml
  src/api/app/views/webui/package/_tabs.html.haml
  src/api/app/views/webui/project/_form.html.haml
  src/api/app/views/webui/project/_monitor_control.html.haml
  src/api/app/views/webui/project/_tabs.html.haml
  src/api/app/views/webui/project/show_actions/_request_to_release.html.haml
  src/api/app/views/webui/projects/pulse/_pulse_list_requests.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_index.html.haml
Labels: Frontend

Use local variable "groups" in user_or_groups_roles partial
  src/api/app/views/webui/shared/user_or_groups_roles/_index.html.haml
Labels: Frontend

Use local variable "project" in request_to_release partial
  src/api/app/views/webui/project/show_actions/_request_to_release.html.haml
Labels: Frontend

Fix haml-lint's InstanceVariables offense in project form
  src/api/app/views/webui/project/_form.html.haml
  src/api/app/views/webui/project/new.html.haml
Labels: Frontend

Install dependencies from Gemfile.next in next_rails-* CircleCI jobs
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Update RailsVersion to match Rails 7.0.x
  src/api/app/lib/rails_version.rb
Labels: Frontend

Set bundler cache path for next_rails CI jobs
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Fix haml-lint's InstanceVariables offense in main latest_updates partial
  src/api/app/views/webui/main/_latest_updates.html.haml
  src/api/app/views/webui/main/index.html.haml
Labels: Frontend

Fix haml-lint's InstanceVariables offense in package commit_item partial
  src/api/app/views/webui/package/_commit_item.html.haml
  src/api/app/views/webui/package/_files_view.html.haml
  src/api/app/views/webui/package/revisions.html.haml
Labels: Frontend

Fix haml-lint's InstanceVariables offense in project monitor_control partial
  src/api/app/views/webui/project/_monitor_control.html.haml
  src/api/app/views/webui/project/monitor.html.haml
Labels: Frontend

Use local variable "requests" in pulse_list_requests partial
  src/api/app/views/webui/projects/pulse/_pulse_list_requests.html.haml
Labels: Frontend

Provide a general description about the xpath predicate for search endpoints
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/search_package.yaml
  src/api/public/apidocs-new/paths/search_package_id.yaml
  src/api/public/apidocs-new/paths/search_project.yaml
  src/api/public/apidocs-new/paths/search_project_id.yaml
Labels: Frontend, Documentation :book:

Address haml-lint's InstanceVariables check in kiwi views
  src/api/app/views/webui/kiwi/images/_preferences.html.haml
  src/api/app/views/webui/kiwi/images/_preferences_form.html.haml
  src/api/app/views/webui/kiwi/images/_profiles.html.haml
  src/api/app/views/webui/kiwi/images/edit.html.haml
Labels: Frontend

Add missing deprecated search endpoints
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/search_package__id.yaml
  src/api/public/apidocs-new/paths/search_project__id.yaml
Labels: Frontend, Documentation :book:

Add sprockets-rails to Gemfile
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/Gemfile.next.lock
Labels: Frontend

Document repository search endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/search/collection_repositories.yaml
  src/api/public/apidocs-new/paths/search_repository_id.yaml
Labels: Frontend, Documentation :book:

Document issue search endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/issue.yaml
  src/api/public/apidocs-new/components/schemas/search/collection_issues.yaml
  src/api/public/apidocs-new/paths/search_issue.yaml
Labels: Frontend, Documentation :book:

Address haml-lint's InstanceVariables check in navigation partials
  src/api/app/views/layouts/webui/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/_bottom_navigation_collapse.html.haml
  src/api/app/views/layouts/webui/_left_navigation.html.haml
  src/api/app/views/layouts/webui/_left_navigation_nobody.html.haml
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
Labels: Frontend

Address haml-lint's InstanceVariables for linkinfo
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_component.rb
  src/api/app/components/sourcediff_tab_component.html.haml
  src/api/app/components/sourcediff_tab_component.rb
  src/api/app/views/webui/package/_revision_diff_detail.html.haml
  src/api/app/views/webui/package/rdiff.html.haml
  src/api/app/views/webui/request/request_action.js.erb
  src/api/app/views/webui/request/request_action_changes.js.erb
Labels: Frontend

Address haml-lint's InstanceVariables check in footer partial
  src/api/app/views/layouts/webui/_footer.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
Labels: Frontend

Address haml-lint's InstanceVariables check in live_build_log_controls partial
  src/api/app/views/webui/package/_live_build_log_controls.html.haml
  src/api/app/views/webui/package/live_build_log.html.haml
Labels: Frontend

Document search person endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/search/collection_people.yaml
  src/api/public/apidocs-new/paths/search_person.yaml
Labels: Frontend, Documentation :book:

Document search requests endpoints with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/parameters/request_withfullhistory.yaml
  src/api/public/apidocs-new/components/parameters/request_withhistory.yaml
  src/api/public/apidocs-new/components/schemas/request/request.yaml
  src/api/public/apidocs-new/paths/search_request.yaml
  src/api/public/apidocs-new/paths/search_request_id.yaml
Labels: Frontend, Documentation :book:

Relax definition of reviews
  src/api/public/apidocs-new/components/schemas/request/request.yaml
Labels: Frontend, Documentation :book:

Document released binary search endpoints with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/search/collection_released_binaries.yaml
  src/api/public/apidocs-new/paths/search_released_binary.yaml
  src/api/public/apidocs-new/paths/search_released_binary_id.yaml
Labels: Frontend, Documentation :book:

Reword spec README
  src/api/spec/README.md
Labels: Frontend, Documentation :book:

Mention deprecated API search endpoints in the release notes
  ReleaseNotes-2.11
Labels: none

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml
