Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml

Add info about request source and target packages
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

Fix deprecation warning for RuboCop Style/MethodCallWithArgsParentheses cop
  src/api/.rubocop.yml
Labels: Frontend, Test Suite / CI :syringe:

Remove unneeded class for heading in request show redesign
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

Disable request_show_redesign feature for beta users
  src/api/config/initializers/flipper.rb
Labels: Frontend

Enforce naming conventions for view components
  src/api/.haml-lint.yml
  src/api/.rubocop.yml
  src/api/lib/rubocop/cop/view_component/class_name.rb
  src/api/lib/rubocop/cop/view_component/file_name.rb
  src/api/spec/lib/rubocop/cop/view_component/class_name_spec.rb
  src/api/spec/lib/rubocop/cop/view_component/file_name_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

Move CommentComponentPreview with other view component previews
  src/api/spec/components/previews/comment_component_preview.rb
Labels: Frontend

Use same request show action for beta and ...
  src/api/app/controllers/webui/request_controller.rb
  src/api/config/routes/webui_routes.rb
Labels: Frontend

Use the correct route in view components for request_show_redesign
  src/api/app/components/bs_request_activity_timeline_component.html.haml
  src/api/app/components/bs_request_history_element_component.html.haml
Labels: Frontend

Put Iggy in the staff group
  src/api/lib/tasks/dev.rake
Labels: Frontend

Make feature configuration an admin thing
  src/api/app/controllers/webui/users/beta_features_controller.rb
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/config/initializers/flipper.rb
  src/api/lib/tasks/flipper.rake
  src/api/spec/features/webui/users/beta_features_spec.rb
Labels: Frontend

Mention limitations of the request show redesign
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_build_results.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_mentioned_issues.html.haml
Labels: Frontend

Enable back the request_show_redesign feature toggle
  src/api/config/initializers/flipper.rb
Labels: Frontend

Add summary of reviews in the overview tab
  src/api/app/components/bs_request_activity_timeline_component.html.haml
  src/api/app/components/bs_request_overview_avatars_component.html.haml
  src/api/app/components/bs_request_overview_avatars_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/review.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_overview.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_review_summary.html.haml
Labels: Frontend

Add a flipper-ui link for OBS admins
  src/api/app/views/layouts/webui/_places.html.haml
Labels: Frontend

Handle new comments and replies
  src/api/app/assets/javascripts/webui/comment.js
  src/api/app/components/bs_request_activity_timeline_component.html.haml
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/models/comment.rb
  src/api/app/views/webui/comment/_content.html.haml
  src/api/app/views/webui/comment/beta/_comments_thread.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_overview.html.haml
  src/api/spec/controllers/webui/comments_controller_spec.rb
Labels: Frontend

Don't show package link
  src/api/app/views/webui/request/beta_show_tabs/_build_results.html.haml
Labels: Frontend

Show build results only if needed
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

Rename Overview tab to Conversation
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation.html.haml
Labels: Frontend

Add review and final decision functionality to request beta show view
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/request_show_redesign/add_review.js
  src/api/app/assets/stylesheets/request_show_redesign/add_review.scss
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/components/add_review_collapsible_component.html.haml
  src/api/app/components/add_review_collapsible_component.rb
  src/api/app/components/add_review_dropdown_component.html.haml
  src/api/app/components/add_review_dropdown_component.rb
  src/api/app/components/request_decision_component.html.haml
  src/api/app/components/request_decision_component.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation.html.haml
Labels: Frontend

Don't show changes tab when there are no changes
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

Mention blog post for the request redesign
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

Remove duplicate ID in conversation tab
  src/api/app/views/webui/request/beta_show_tabs/_conversation.html.haml
Labels: Frontend

Avoid rendering rows inside another row
  src/api/app/views/webui/request/beta_show_tabs/_conversation.html.haml
Labels: Frontend

Display count of hidden avatars when listing reviewers
  src/api/app/components/bs_request_overview_avatars_component.html.haml
  src/api/app/components/bs_request_overview_avatars_component.rb
Labels: Frontend

Fix height for comment anchors in request history
  src/api/app/assets/javascripts/webui/request.js
Labels: Frontend

Fix the flipper link
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/test/functional/webui/spider_test.rb
Labels: Frontend

Log what we do in the spider tests
  src/api/test/functional/webui/spider_test.rb
Labels: Frontend

Edit status messages in the web UI
  src/api/app/components/status_message_component.html.haml
  src/api/app/controllers/webui/status_messages_controller.rb
  src/api/app/policies/webui/status_message_policy.rb
  src/api/app/views/webui/status_messages/edit.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/policies/webui/status_message_policy_spec.rb
Labels: Frontend

Regenerate Gemfile.next.lock for latest Rails 7 version
  src/api/Gemfile.next.lock
Labels: Frontend

Update RailsVersion to match Rails 7.0.x
  src/api/app/lib/rails_version.rb
Labels: Frontend

Display a message when there are no users/groups
  src/api/app/views/webui/shared/user_or_groups_roles/_index.html.haml
Labels: Frontend

Instrument DisabledBetaFeature model
  src/api/app/jobs/measurements_job.rb
Labels: Frontend

adding events emission to notify project maintainers of force removed dependency
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/models/project.rb
  src/api/test/unit/project_test.rb
Labels: Frontend

fixed rubocop offence
  src/api/app/models/project.rb
Labels: Frontend

[backend][api] scmsync tracking interfaces
  dist/obs-server.spec
  docs/api/api/api.txt
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/build_controller.rb
  src/api/app/controllers/public_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/config/routes/api_routes.rb
  src/backend/BSSrcServer/SQLite.pm
  src/backend/BSSrcServer/ScmsyncDB.pm
  src/backend/bs_srcserver
Labels: Frontend, Backend, Documentation :book:

Document deprecated POST search endpoints
  src/api/public/apidocs-new/paths/search.yaml
  src/api/public/apidocs-new/paths/search_missing_owner.yaml
  src/api/public/apidocs-new/paths/search_owner.yaml
  src/api/public/apidocs-new/paths/search_project_id.yaml
  src/api/public/apidocs-new/paths/search_published_binary_id.yaml
  src/api/public/apidocs-new/paths/search_published_pattern_id.yaml
  src/api/public/apidocs-new/paths/search_published_repoinfo_id.yaml
Labels: Frontend, Documentation :book:

[backend] fix scmsync triggering
  src/backend/BSSrcServer/ScmsyncDB.pm
Labels: Backend

fixed array type error
  src/api/app/controllers/webui/repositories_controller.rb
Labels: Frontend

Add `package/update_link` endpoint to sync a package link with upstream
  src/api/app/controllers/webui/package_controller.rb
  src/api/config/routes/webui_routes.rb
Labels: Frontend

Add button to webui to sync package link with upstream
  src/api/app/views/webui/package/side_links/_show_linkinfo.html.haml
Labels: Frontend
