Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

[dist] updated Kankufile to 15.4
  KankuFile
Labels: none

[dist] fix apache start in opensuse 15.4
  dist/functions.setup-appliance.sh
Labels: none

[backend] BSX509: add method to create a pubkey from the key data
  src/backend/BSX509.pm
Labels: Backend

[backend] Add BSRekor module to implement uploading signatures to a rekor server
  src/backend/BSRekor.pm
Labels: Backend

[backend] Support uploading to rekor in the local registry
  src/backend/BSPublisher/Registry.pm
Labels: Backend

Hide unsupported actions in WorkflowRun's index page
  src/api/app/components/workflow_run_row_component.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
Labels: Frontend

[backend] implement cosign signature creation for external registries
  src/backend/BSPublisher/Container.pm
  src/backend/bs_regpush
Labels: Backend

[backend] Support "allowrootforbuild" as build flag
  src/backend/bs_worker
Labels: Backend

[backend] use BSX509::keydata2pubkey, remove BSTUF::keydata2asn1
  src/backend/BSTUF.pm
  src/backend/bs_notar
Labels: Backend

[backend] getbinariesproxy: check file descriptor limit in the run hook
  src/backend/bs_getbinariesproxy
Labels: Backend

[backend] support a rekorserver in the registry config
  src/backend/BSPublisher/Container.pm
Labels: Backend

Report multibuild flavors if package is multibuild
  src/api/app/models/workflow/step.rb
  src/api/app/services/scm_status_reporter.rb
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow/step/link_package_step_spec.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

Remove duplication to fix Code Climate issues
  src/api/app/components/workflow_run_row_component.rb
Labels: Frontend

Implement the improvements in the UI for GitLab too
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/components/workflow_run_row_component.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
Labels: Frontend

Add show token view
  src/api/app/components/copy_to_clipboard_input_component.html.haml
  src/api/app/components/copy_to_clipboard_input_component.rb
  src/api/app/components/token_card_component.html.haml
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/policies/token_policy.rb
  src/api/app/views/webui/users/tokens/_actions.html.haml
  src/api/app/views/webui/users/tokens/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/tokens/_create.js.erb
  src/api/app/views/webui/users/tokens/edit.html.haml
  src/api/app/views/webui/users/tokens/new.html.haml
  src/api/app/views/webui/users/tokens/show.html.haml
Labels: Frontend

Update specs to check redirection to show page after successful token creation and to check policy to grant permission to have trigger token action
  src/api/spec/controllers/webui/users/tokens_controller_spec.rb
  src/api/spec/policies/token_policy_spec.rb
Labels: Frontend

Implement workflow run show page
  src/api/app/components/workflow_run_header_component.html.haml
  src/api/app/components/workflow_run_header_component.rb
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/views/webui/workflow_runs/_breadcrumb_items.html.haml
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/app/views/webui/workflow_runs/show.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/components/workflow_run_header_component_spec.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
Labels: Frontend

Add pundit policy for workflow_run show view
  src/api/app/policies/workflow_run_policy.rb
  src/api/spec/policies/workflow_run_policy_spec.rb
Labels: Frontend

[backend] make BSSrcDiff a little smarter
  src/backend/BSSrcdiff.pm
Labels: Backend

[backend] bs_dodup: strip the domain name from the container if it matches the registry url
  src/backend/bs_dodup
Labels: Backend

Use it instead of scenario to fix rubocop issues
  src/api/spec/support/shared_examples/features/beta/user_tab.rb
  src/api/spec/support/shared_examples/features/boostrap_flag_tables.rb
  src/api/spec/support/shared_examples/features/bootstrap_user_tab.rb
  src/api/spec/support/shared_examples/features/flags_tables.rb
Labels: Frontend

Support multiple repository paths in configure_repositories
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
Labels: Frontend

Follow changes in configure_repositories step
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

Revert "[src/api] Update puma: 5.5.2 → 5.6.0 (minor)"
  src/api/Gemfile.lock
Labels: Frontend

[backend] bs_warden: remove unreadable :status files
  src/backend/bs_warden
Labels: Backend

Expand files to be able to find the "_multibuild" file on backend
  src/api/app/models/package.rb
  src/api/spec/cassettes/Package/_file_exists_/_multibuild_file_should_exist/1_4_1_1.yml
  src/api/spec/models/package_spec.rb
Labels: Frontend

[api] fix crash when product defines remote update url
  src/api/app/models/product.rb
Labels: Frontend

Add omniauth dependency
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

Add dependency on omniauth-gitlab
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

Add omniauth-rails_csrf_protection
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

Add an SSO login page so that users can choose between providers
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/views/layouts/webui2/_login_form.html.haml
  src/api/app/views/webui/session/_form.html.haml
  src/api/app/views/webui2/webui/session/_sso.html.haml
  src/api/app/views/webui2/webui/session/new.html.haml
  src/api/app/views/webui2/webui/session/sso.html.haml
  src/api/config/initializers/omniauth.rb
  src/api/config/routes.rb
Labels: Frontend

Parse SSO authentication config on startup
  src/api/config/auth.yml.example
  src/api/config/initializers/omniauth.rb
Labels: Frontend

Rename create_ldap_user to create_external_user
  src/api/app/models/user.rb
Labels: Frontend

Add SSO callback to allow existing users log in with an external source
  src/api/app/controllers/webui/session_controller.rb
Labels: Frontend

user model: add find_with_omniauth/create_with_omniauth
  src/api/app/models/user.rb
Labels: Frontend

REWORD: Redirect correctly: secure and take SSO into account
  src/api/app/controllers/webui/session_controller.rb
Labels: Frontend

Try harder to derive the username from email addresses
  src/api/app/controllers/webui/session_controller.rb
Labels: Frontend

Implement first login flow
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/views/webui2/webui/session/sso_confirm.html.haml
  src/api/config/routes.rb
Labels: Frontend

Add dependency on a Git snapshot of omniauth_openid_connect
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

Add omniauth-github
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml
