Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

[backend] fix --enable-ccache functionality
  src/backend/BSSched/BuildJob.pm
Labels: Backend

[backend] start implementing slsa provenance file writing
  src/backend/bs_worker
Labels: Backend

[backend] update bundled XML::Structured.pm to version 1.3
  src/backend/XML/Structured.pm
Labels: Backend

Remove temp FIXME for global_hook_disabled_requests
  src/api/spec/support/vcr.rb
Labels: Frontend

Fix rubocop warnings and enable new cops
  .rubocop.yml
  src/api/.rubocop.yml
  src/api/app/models/attrib.rb
  src/api/app/models/package.rb
  src/api/app/models/repository.rb
Labels: Frontend, Test Suite / CI :syringe:

[backend] add call to imadata
  src/backend/bs_publish
Labels: Backend

Make use of the trigger_services workflow step
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

Do not validate params in TriggerController
  src/api/app/controllers/trigger_controller.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/spec/cassettes/TriggerController/_create/when_some_parameters_are_not_strings/still_processes_the_request_without_validating_parameters.yml
  src/api/spec/controllers/trigger_controller_spec.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
Labels: Frontend

[backend] fix wrong function name 'urlescape' in bs_worker
  src/backend/bs_worker
Labels: Backend

Update xmlhash from 1.3.7 to 1.3.8
  src/api/Gemfile.lock
  src/api/vendor/cache/xmlhash-1.3.7.gem
  src/api/vendor/cache/xmlhash-1.3.8.gem
Labels: Frontend

Reset User.session
  src/api/app/models/project.rb
  src/api/spec/models/project_spec.rb
Labels: Frontend

[backend] make testsuite work with the XML::Structured version update
  src/backend/t/0004-BSUtil.t
  src/backend/t/0007-XML-Structured.t
Labels: Backend

[backend] split cacheid calculation into a new function
  src/backend/bs_getbinariesproxy
  src/backend/bs_worker
Labels: Backend

[backend] switch cacheid calculation to sha256
  src/backend/bs_getbinariesproxy
  src/backend/bs_worker
Labels: Backend

[backend] Introduce tests for workers code
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
  src/backend/t/data/1000/srcserver/getsources
  src/backend/t/lib/Test/Mock/BSRPC.pm
Labels: Backend

Use 2.10 containers in CI
  .circleci/config.yml
Labels: Test Suite / CI :syringe:

Unauthenticated git is no longer supported
  .gitmodules
Labels: none

Also setup dev-env from 2.10 containers
  docker-compose.yml
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.minitest
Labels: Frontend

Instrument more exceptions
  src/api/config/initializers/airbrake.rb
Labels: Frontend

[api] fix non-accept with OBS:CreatorCannotAcceptOwnRequests
  src/api/app/models/bs_request_permission_check.rb
Labels: Frontend

Add user_login to route constraints
  src/api/config/routes.rb
Labels: Frontend

Add perltidy linter and configuration
  .circleci/conditional_config.yml
  .circleci/config.yml
  dist/.perltidyrc
  dist/Makefile
  dist/t/linters/0010-perltidy.t
Labels: Test Suite / CI :syringe:

Apply perltidy linter to OBS/Test/Utils.pm
  dist/t/lib/OBS/Test/Utils.pm
  dist/t/linters/0010-perltidy.t
Labels: Test Suite / CI :syringe:

Update xmlhash from 1.3.7 to 1.3.8
  src/api/Gemfile.lock
Labels: Frontend

Reset User.session
  src/api/app/models/project.rb
  src/api/spec/models/project_spec.rb
Labels: Frontend

Extend task to create workflow runs
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/workflows.rake
  src/api/spec/factories/workflow_runs.rb
  src/api/spec/lib/tasks/workflows_spec.rb
  src/api/spec/support/files/request_payload_github_pull_request_closed.json
  src/api/spec/support/files/request_payload_github_pull_request_opened.json
  src/api/spec/support/files/request_payload_github_push.json
  src/api/spec/support/files/request_payload_github_tag_push.json
  src/api/spec/support/files/request_payload_gitlab_pull_request_closed.json
  src/api/spec/support/files/request_payload_gitlab_pull_request_opened.json
  src/api/spec/support/files/request_payload_gitlab_push.json
  src/api/spec/support/files/request_payload_gitlab_tag_push.json
Labels: Frontend

Improve error message for Token::Errors::NonExistentWorkflowsFile
  src/api/app/models/workflow.rb
  src/api/app/services/workflows/yaml_downloader.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
Labels: Frontend

Improve messages of validation errors in WorkflowStepsValidator
  src/api/app/validators/workflow_steps_validator.rb
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/validators/workflow_steps_validator_spec.rb
Labels: Frontend

Improve error message for Token::Errors::SCMTokenInvalid
  src/api/app/models/token/workflow.rb
  src/api/spec/models/token/workflow_spec.rb
Labels: Frontend

Improve messages of validation errors in WorkflowFiltersValidator
  src/api/app/validators/workflow_filters_validator.rb
  src/api/spec/validators/workflow_filters_validator_spec.rb
Labels: Frontend

Unify workflow run filters
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_component.rb
  src/api/app/components/workflow_run_filter_link_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/queries/workflow_runs_finder.rb
  src/api/spec/components/workflow_run_filter_component_spec.rb
  src/api/spec/components/workflow_run_filter_link_component_spec.rb
  src/api/spec/queries/workflow_runs_finder_spec.rb
Labels: Frontend

[backend] automatically set limit=1 when searching for a specific revision
  src/backend/bs_srcserver
Labels: Backend

Implement Token.token_name as generic class method
  src/api/app/models/token.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/models/token/rss.rb
  src/api/app/models/token/service.rb
  src/api/app/models/token/workflow.rb
Labels: Frontend

Update views using token_name to use Token#token_name
  src/api/app/components/token_card_component.rb
  src/api/app/models/token.rb
  src/api/app/views/webui/users/token_triggers/show.html.haml
  src/api/app/views/webui/users/tokens/edit.html.haml
Labels: Frontend

Use patched yajl ruby dependency
  dist/obs-bundled-gems.spec
Labels: none

Ignore the `now` parameter in rpc mocked requests
  src/backend/t/lib/Test/Mock/BSRPC.pm
Labels: Backend

Add binary dependencies to the SLSA provenance materials
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
  src/backend/t/data/1000/reposerver/getbinaries_empty.cpio
  src/backend/t/data/1000/srcserver/getbinaries.cpio
  src/backend/t/data/1000/srcserver/getbinaries_empty.cpio
Labels: Backend

Fix typo
  dist/obs-bundled-gems.spec
Labels: none

Fix yajl-ruby package name
  dist/obs-bundled-gems.spec
Labels: none

Fix gem copying
  dist/obs-bundled-gems.spec
Labels: none

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml
