Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml

Use Token#description in workflows rake task
  src/api/lib/tasks/workflows.rake
Labels: Frontend

Order watchlist items alphabetically or by number
  src/api/app/components/watchlist_component.rb
Labels: Frontend

Do not notify about request permissions
  src/api/app/models/project.rb
Labels: Frontend

Revert "Notify if request state change fails because of permission on deleting a project"
  src/api/app/models/project.rb
Labels: Frontend

Escape whitespace characters correctly for filepaths
  src/api/app/models/package.rb
Labels: Frontend

[dist] new macro %{obs_backend_dir} in obs-server.spec
  dist/obs-server.spec
Labels: none

Introduces 210 label for 2.10 images
  .circleci/config.yml
  docker-compose.yml
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.minitest
Labels: Frontend, Test Suite / CI :syringe:

Set case-insensitive order for watchlist elements
  src/api/app/components/watchlist_component.rb
Labels: Frontend

Add instrumentation to track changes on Notification#delivered
  src/api/app/models/notification.rb
  src/api/spec/models/notification_spec.rb
Labels: Frontend

Correct Style/FetchEnvVar rubocop offenses
  dist/openQA_mail_notification.rb
  src/api/config/initializers/airbrake.rb
  src/api/lib/tasks/delayed_job.rake
  src/api/lib/tasks/extract.rake
  src/api/script/start_test_backend
  src/api/spec/support/coverage.rb
  src/api/test/functional/backend_test.rb
  src/api/test/functional/channel_maintenance_test.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/published_controller_test.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/functional/zzz_post_consistency_test.rb
  src/api/test/test_helper.rb
Labels: Frontend

[backend] support zstd compressed preinstall images
  src/backend/BSSched/BuildJob/PreInstallImage.pm
Labels: Backend

Correct Style/RedundantInitialize rubocop offense
  docker-files/home/.irbrc
  src/api/app/models/history_element/request_superseded.rb
  src/api/app/queries/open_requests_with_by_project_review_finder.rb
  src/api/app/services/consistency_check_job_service/project_consistency_checker.rb
Labels: Frontend

[dist] new package obs-backend-testsuite in obs-server.spec
  dist/obs-server.spec
  src/backend/Makefile
Labels: Backend

[backend] added '/usr/lib/build' to lib path for test_unit
  src/backend/Makefile
Labels: Backend

[backend] fix expected directory in 0015-BSSched-EventSource-Directory.t
  src/backend/t/0015-BSSched-EventSource-Directory.t
Labels: Backend

[backend] support zstd compressed preinstall images
  src/backend/BSSched/BuildJob/PreInstallImage.pm
Labels: Backend

[backend] support zstd compressed preinstall images
  src/backend/BSSched/BuildJob/PreInstallImage.pm
Labels: Backend

[backend] support zstd compressed preinstall images
  src/backend/BSSched/BuildJob/PreInstallImage.pm
Labels: Backend

[backend] support zstd compressed preinstall images
  src/backend/BSSched/BuildJob/PreInstallImage.pm
Labels: Backend

[backend] Add missing predicate to provenance file
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
Labels: Backend

[backend] Add builder, invocation and metadata to ...
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
Labels: Backend

[dist] fix typo in obs-server.spec
  dist/obs-server.spec
Labels: none

[dist] new macro %{obs_backend_dir} in obs-server.spec
  dist/obs-server.spec
Labels: none

[backend] fix expected directory in 0015-BSSched-EventSource-Directory.t
  src/backend/t/0015-BSSched-EventSource-Directory.t
Labels: Backend

[dist] new package obs-backend-testsuite in obs-server.spec
  dist/obs-server.spec
  src/backend/Makefile
Labels: Backend

[backend] added '/usr/lib/build' to lib path for test_unit
  src/backend/Makefile
Labels: Backend

Remove unused methods in Workflow::Step
  src/api/app/models/workflow/step.rb
Labels: Frontend

Move method from component to helper
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/helpers/webui/request_helper.rb
Labels: Frontend

[ci] changed deprecated git protocol to https in osc tests
  dist/t/osc/fixtures/obs-testpackage-2.8._service
  dist/t/osc/fixtures/obs-testpackage._service
Labels: Test Suite / CI :syringe:

[backend] remove obsolete binary/pattern search routes
  src/backend/bs_repserver
Labels: Backend

[backend] add support for slsa provenance binary pinning
  src/backend/BSRepServer/SLSA.pm
  src/backend/bs_repserver
  src/backend/bs_signer
  src/backend/bs_srcserver
Labels: Backend

Prevent shellcheck from following a source file
  dist/t/0000-check_users_and_group.ts
Labels: Test Suite / CI :syringe:

[backend] add "--filelists_ext" parameter for createrepo
  src/backend/bs_publish
Labels: Backend

Add instrumentation to the endpoint NotificationsController#update.
  src/api/app/controllers/webui/users/notifications_controller.rb
Labels: Frontend

[dist] Add 2.10.14 ReleaseNotes
  ReleaseNotes-2.10.14
Labels: none

Add instrumentation to EventSubscription#enabled
  src/api/app/models/event_subscription.rb
  src/api/spec/models/event_subscription_spec.rb
Labels: Frontend

Display more info about the request in watchlist
  src/api/app/components/watched_items_list_component.html.haml
  src/api/spec/components/watched_items_list_component_spec.rb
  src/api/spec/components/watchlist_component_spec.rb
Labels: Frontend

Move request state badge to a component
  src/api/app/components/bs_request_state_badge_component.rb
  src/api/app/components/notification_component.html.haml
Labels: Frontend

Move request action info to a component
  src/api/app/components/bs_request_action_source_and_target_component.rb
  src/api/app/components/notification_action_description_component.rb
Labels: Frontend

Add tooltip to extend info about request in watchlist
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/new_watchlist/collapsible_tooltip.js
  src/api/app/assets/stylesheets/webui/new_watchlist/watchlist.scss
  src/api/app/components/watched_items_list_component.html.haml
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui/package/_buildstatus.html.haml
Labels: Frontend
