Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml

Add source project name with copy command
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_copy.yaml
Labels: Frontend, Documentation :book:

[backend] enable network for obs_scm_bridge
  src/backend/call-service-in-container
  src/backend/call-service-in-docker.sh
Labels: Backend

Improve grammar/spelling in the OpenAPI docs
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
Labels: Frontend, Documentation :book:

Add '/source/{project_name}?cmd=lock' endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_lock.yaml
Labels: Frontend, Documentation :book:

Add '/source/{project_name}?cmd=unlock' endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_unlock.yaml
Labels: Frontend, Documentation :book:

[backend] bs_service: add extra handling for the obs_scm_bridge service
  src/backend/bs_service
Labels: Backend

[backend] implement an obsscm service type
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_servicedispatch
  src/backend/bs_srcserver
Labels: Backend

Document owner search api endpoint with openapi
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/owner_collection.yaml
  src/api/public/apidocs-new/paths/search_owner.yaml
Labels: Frontend, Documentation :book:

Document missing owner search with openapi
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/missing_owner_collection.yaml
  src/api/public/apidocs-new/paths/missing_owner.yaml
Labels: Frontend, Documentation :book:

Set 200 OK response for undelete action on project
  src/api/app/controllers/source_controller.rb
  src/api/test/functional/source_controller_test.rb
Labels: Frontend

Change error response for undelete action on project
  src/api/app/controllers/source_controller.rb
  src/api/app/models/project.rb
  src/api/test/functional/source_controller_test.rb
Labels: Frontend

OpenAPI specifications for source project cmd extendkey
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_extendkey.yaml
Labels: Frontend, Documentation :book:

OpenAPI specifications for source project cmd move
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_move.yaml
Labels: Frontend, Documentation :book:

[api] Set 200 OK response for undelete action on project
  src/api/app/controllers/source_controller.rb
Labels: Frontend

As apache2 doesn't hanad over the proxy env settings These have been "optionally" been added to the obs.conf vhost configuration An extra debug line has been added to remote_url.rb
  dist/obs-apache2.conf
  dist/obs-apache24.conf
  src/api/app/models/project/remote_url.rb
Labels: Frontend

Fix enum values
  src/api/public/apidocs-new/paths/source_branch.yaml
Labels: Frontend, Documentation :book:

[dist] add openslp to Requires of obs-worker
  dist/obs-server.spec
Labels: none

Capitalize GPG in API documentation
  src/api/public/apidocs-new/paths/source_project_name_cmd_createkey.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_extendkey.yaml
Labels: Frontend, Documentation :book:

Add source project name with freezelink command
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_freezelink.yaml
Labels: Frontend, Documentation :book:

[backend] remove BSSrcServer::Link usage from BSSrcServer::Service
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_srcserver
Labels: Backend

Fix deprecation warning for view_component
  src/api/Gemfile
Labels: Frontend

[backend] make commitobsscm configurable in BSSrcServer::Service
  src/backend/BSSrcServer/Service.pm
Labels: Backend

[backend] bs_servicedispatch: remove duplicated code
  src/backend/bs_servicedispatch
Labels: Backend

Add '/source/{project_name}?cmd=undelete' endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_undelete.yaml
Labels: Frontend, Documentation :book:

Document /source/{project_name}?cmd=modifychannels in new API docs
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_modifychannels.yaml
Labels: Frontend, Documentation :book:

Document '/search/published/*' endpoints with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/parameters/limit.yaml
  src/api/public/apidocs-new/components/parameters/withdownloadurl.yaml
  src/api/public/apidocs-new/components/responses/search/published_binary_id.yaml
  src/api/public/apidocs-new/components/responses/search/published_pattern_id.yaml
  src/api/public/apidocs-new/components/responses/search/published_repoinfo_id.yaml
  src/api/public/apidocs-new/paths/search_published_binary_id.yaml
  src/api/public/apidocs-new/paths/search_published_pattern_id.yaml
  src/api/public/apidocs-new/paths/search_published_repoinfo_id.yaml
Labels: Frontend, Documentation :book:

Keep search endpoints alphabetically sorted
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/search_missing_owner.yaml
Labels: Frontend, Documentation :book:

Document POST /source/<project>?cmd=release with OpenAPI specification
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_release.yaml
Labels: Frontend, Documentation :book:

[backend] bs_worker: implement needspubkeyforbuild
  src/backend/bs_worker
Labels: Backend

Remove unused `params` from SearchFinder model
  src/api/app/controllers/search_controller.rb
  src/api/app/models/search_finder.rb
Labels: Frontend

As apache2 doesn't hand over the proxy env settings These have been "optionally" been added to the obs.conf vhost configuration An extra debug line has been added to remote_url.rb
  src/api/app/models/project/remote_url.rb
  src/backend/BSConfig.pm.template
Labels: Frontend, Backend

[backend] remove special casing of the obs-scm-bridge in bs_service
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_service
Labels: Backend

Document the '/search' endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/api_response.yaml
  src/api/public/apidocs-new/components/schemas/search/collection_packages.yaml
  src/api/public/apidocs-new/components/schemas/search/collection_projects.yaml
  src/api/public/apidocs-new/paths/search.yaml
Labels: Frontend, Documentation :book:

[backend] verify dispatches when doing a --test run
  src/backend/BSStdRunner.pm
  src/backend/BSStdServer.pm
Labels: Backend

Document project showlinked command with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_showlinked.yaml
Labels: Frontend, Documentation :book:

Add OpenAPI documentation for /source/{project_name}?cmd={remove,set}_flag
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_remove_flag.yaml
  src/api/public/apidocs-new/paths/source_project_name_cmd_set_flag.yaml
Labels: Frontend, Documentation :book:

Order /source/{project_name}?cmd=* endpoints alphabetically
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
Labels: Frontend, Documentation :book:

Store changes on the backend in repositories_configuration step
  src/api/app/models/workflow/step/configure_repositories.rb
Labels: Frontend

Workaround to make obs work via a proxy, so all connections are flowing trough the proxy. Don't know if this it the best fix.
  src/backend/BSSrcServer/Remote.pm
Labels: Backend

Added suggested fix
  src/api/app/models/project/remote_url.rb
Labels: Frontend
