Repository openSUSE/Open-Build-Service, changes with the labels that .github/labeler.yml gives for each.
All labels: Frontend, Backend, Documentation :book:, Test Suite / CI :syringe:

.github/labeler.yml:

# Configuration for pull request labeler: https://github.com/actions/labeler
Frontend:
- src/api/**/*

Backend:
- src/backend/**/*

"Documentation :book:":
- docs/**/*
- '**/*.md'
- src/api/public/apidocs-new/**/*

"Test Suite / CI :syringe:":
- .circleci/**/*
- .github/**/*
- .obs/**/*
- .rubocop.yml
- .rubocop_todo.yml
- dist/t/**/*
- src/api/.rubocop.yml
- src/api/.rubocop_todo.yml
- .codeclimate.yml

Drop hardcoded rack package requirements
  dist/obs-bundled-gems.spec
Labels: none

Bundle with 2.3.7
  src/api/Gemfile.lock
Labels: Frontend

Drop hardcoded bundler/rake package requirements
  dist/obs-bundled-gems.spec
Labels: none

ActionController::TestCase.process only takes one argument
  src/api/spec/support/shared_examples/require_logged_in_user.rb
Labels: Frontend

The `--path` flag is deprecated
  dist/obs-bundled-gems.spec
Labels: none

Build obs-server against Ruby 3.1
  dist/obs-server.spec
Labels: none

Add required matrix gem
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/vendor/cache/matrix-0.4.2.gem
Labels: Frontend

Remove exec bit from gems
  dist/obs-bundled-gems.spec
Labels: none

No need for a request spec for this
  src/api/spec/controllers/source_controller_spec.rb
  src/api/spec/rails_helper.rb
  src/api/spec/requests/package_undelete_spec.rb
  src/api/spec/support/requests/requests_authentification.rb
Labels: Frontend

Switch script interpreters to Ruby 3.1
  Makefile.include
  dist/Makefile
  dist/functions.setup-appliance.sh
  dist/obs-server.spec
  dist/systemd/obs-clockwork.service
  docs/api/Makefile
  docs/api/api/Makefile
  docs/api/restility/bin/rest_doc
  docs/api/restility/bin/rest_test
  src/api/Makefile
  src/api/Rakefile
  src/api/bin/bundle
  src/api/bin/pry
  src/api/bin/rails
  src/api/bin/rake
  src/api/bin/rdoc
  src/api/bin/ri
  src/api/bin/rspec
  src/api/bin/rubocop
  src/api/bin/setup
  src/api/script/delayed_job.api.rb
  src/api/script/plugin
  src/api/script/reformat_memprof
  src/api/script/rubygem_package_names.rb
  src/api/script/start_test_backend
Labels: Frontend, Documentation :book:

Add ruby 3.1 update to README.UPDATERS
  dist/README.UPDATERS
Labels: none

Replace the shebangs of the ruby executables
  dist/obs-bundled-gems.spec
Labels: none

Update shoulda-matchers to 5.1.0
  src/api/Gemfile.lock
  src/api/vendor/cache/shoulda-matchers-4.5.1.gem
  src/api/vendor/cache/shoulda-matchers-5.1.0.gem
Labels: Frontend

Use ruby 3.1 container images
  .circleci/conditional_config.yml
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.minitest
Labels: Frontend, Test Suite / CI :syringe:

Allow users to manage beta features
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/users.js
  src/api/app/controllers/webui/users/beta_features_controller.rb
  src/api/app/models/disabled_beta_feature.rb
  src/api/app/models/user.rb
  src/api/app/policies/disabled_beta_feature_policy.rb
  src/api/app/views/webui/user/_index_actions.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/user/index_actions/_manage_beta_features.haml
  src/api/app/views/webui/users/beta_features/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/beta_features/index.html.haml
  src/api/config/initializers/flipper.rb
  src/api/config/routes/webui_routes.rb
  src/api/db/migrate/20220309122242_create_disabled_beta_features.rb
  src/api/db/schema.rb
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/flipper.rake
  src/api/spec/controllers/webui/users/beta_features_controller_spec.rb
  src/api/spec/factories/disabled_beta_feature.rb
  src/api/spec/features/webui/users/beta_features_spec.rb
  src/api/spec/features/webui/users/profile_spec.rb
Labels: Frontend

fixing broken tests using "git://" protocol
  dist/t/osc/fixtures/obs-testpackage-2.8._service
  dist/t/osc/fixtures/obs-testpackage._service
Labels: Test Suite / CI :syringe:

[backend] Channel.pm: automatically rebuild the gbininfo if it is wrong
  src/backend/BSSched/BuildJob/Channel.pm
  src/backend/BSSched/Checker.pm
Labels: Backend

[backend] implement TLS support for the redis connector
  src/backend/BSRedis.pm
  src/backend/bs_redis
Labels: Backend

Cover the package undelete command with specs
  src/api/spec/cassettes/SourceController/POST_package_command/with_diff_command_for_a_multibuild_package/1_4_1_2.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_having_permissions_on_the_deleted_package/1_5_2_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_having_permissions_to_set_the_time/1_5_4_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_on_the_deleted_package/1_5_1_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_on_the_deleted_package/1_5_1_2.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_to_set_the_time/1_5_3_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command_undelete/when_not_having_permissions_to_set_the_time/1_5_3_2.yml
  src/api/spec/controllers/source_controller_spec.rb
Labels: Frontend

Update .ruby-version
  .ruby-version
Labels: none

Allow either shorthand syntax for hashes
  .rubocop.yml
  .rubocop_todo.yml
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
Labels: Frontend, Test Suite / CI :syringe:

Ensure faker-generated data is valid
  src/api/lib/tasks/dev.rake
Labels: Frontend

Do not check for checks and missing_checks for empty status_report
  src/api/app/controllers/status/reports_controller.rb
Labels: Frontend

[backend] fix sourcepublich blocklist handling
  src/backend/bs_srcserver
Labels: Backend

Ensure the CI runs our apidocs linter
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

Fix YAML loader for apidocs linter
  src/api/lib/tasks/dev.rake
Labels: Frontend

Install db-query-matchers
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

WIP
  src/api/config/initializers/db_query_matchers.rb
  src/api/spec/support/view_component.rb
Labels: Frontend

Switch container urls back to OSU
  .circleci/conditional_config.yml
  src/api/docker-files/Dockerfile
Labels: Frontend, Test Suite / CI :syringe:

Add offset for request collection api
  src/api/app/controllers/request_controller.rb
  src/api/public/apidocs-new/components/parameters/request.yaml
  src/api/public/apidocs-new/paths/request_view_collection.yaml
Labels: Frontend, Documentation :book:

Adapt rails task to add special projects and packages
  src/api/lib/tasks/dev.rake
  src/api/spec/factories/packages.rb
Labels: Frontend

shebang replacement was too greedy
  dist/obs-bundled-gems.spec
Labels: none

ruby does not like inline editing, back to sed
  dist/obs-bundled-gems.spec
Labels: none

Comment component specs
  src/api/app/components/comment_component_preview.rb
  src/api/spec/components/comment_component_spec.rb
Labels: Frontend

Refactor comments presenter to a view component
  src/api/app/components/comment_component.rb
  src/api/app/components/comment_component.xml.builder
  src/api/app/presenters/comments_controller_presenters/comment_presenter.rb
  src/api/app/views/comments/_comment.xml.builder
  src/api/app/views/comments/index.xml.builder
  src/api/spec/presenters/comments_controller_presenters/comment_presenter_spec.rb
Labels: Frontend

[backend] implement the nativeonly flag in the repservers' constraints check
  src/backend/bs_repserver
Labels: Backend

Update strong_migrations to version 0.8.0
  src/api/Gemfile.lock
  src/api/vendor/cache/strong_migrations-0.7.9.gem
  src/api/vendor/cache/strong_migrations-0.8.0.gem
Labels: Frontend

Update bundler binstub
  src/api/bin/bundle
Labels: Frontend

Notify if request state change fails on deleting a project
  src/api/app/models/project.rb
Labels: Frontend

[backend] BSSched::DoD.pm: do nothing in dodcheck if called from the repo server
  src/backend/BSSched/DoD.pm
Labels: Backend
