Repository openSUSE/open-build-service, pull requests merged in 2018-11, with the labels that each got.

#6154 Replace usage of text-secondary and text-primary for coloring elements that present actions and information
  src/api/app/helpers/webui/buildresult_helper.rb
  src/api/app/helpers/webui/packages/job_history_helper.rb
  src/api/app/views/webui2/shared/_flag_popover.html.haml
  src/api/app/views/webui2/shared/_open_requests.html.haml
  src/api/app/views/webui2/shared/_repositories_flag_table_column.html.haml
  src/api/app/views/webui2/status_messages/_item.html.haml
  src/api/app/views/webui2/webui/attribute/_form.html.haml
  src/api/app/views/webui2/webui/main/_status_messages.html.haml
  src/api/app/views/webui2/webui/package/side_links/_show_derived_packages.html.haml
  src/api/app/views/webui2/webui/package/side_links/_show_devel_package.html.haml
  src/api/app/views/webui2/webui/package/side_links/_show_developed_packages.html.haml
  src/api/app/views/webui2/webui/package/side_links/_show_inherited_from_project.html.haml
  src/api/app/views/webui2/webui/package/side_links/_show_linkinfo.html.haml
  src/api/app/views/webui2/webui/package/side_links/_show_patchinfo.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6119 Replace openQA specifics with status check generics
  src/api/app/assets/stylesheets/webui/obs_factory/application.css
  src/api/app/controllers/webui/obs_factory/staging_projects_controller.rb
  src/api/app/models/obs_factory/distribution.rb
  src/api/app/models/obs_factory/distribution_strategy_casp.rb
  src/api/app/models/obs_factory/distribution_strategy_factory.rb
  src/api/app/models/obs_factory/distribution_strategy_opensuse_leap15.rb
  src/api/app/models/obs_factory/distribution_strategy_sle12_sp1.rb
  src/api/app/models/obs_factory/distribution_strategy_sle15.rb
  src/api/app/models/obs_factory/staging_project.rb
  src/api/app/models/status/check.rb
  src/api/app/presenters/obs_factory/staging_project_presenter.rb
  src/api/app/views/webui/obs_factory/openqa_jobs/_openqa_job.html.erb
  src/api/app/views/webui/obs_factory/staging_projects/_checks.html.haml
  src/api/app/views/webui/obs_factory/staging_projects/_openqa_jobs.html.erb
  src/api/app/views/webui/obs_factory/staging_projects/_overall_state.html.haml
  src/api/app/views/webui/obs_factory/staging_projects/_problems.html.erb
  src/api/app/views/webui/obs_factory/staging_projects/show.html.erb
  src/api/spec/models/obs_factory/distribution_spec.rb
  src/api/spec/models/obs_factory/distribution_strategy_casp_spec.rb
  src/api/spec/models/obs_factory/distribution_strategy_factory_spec.rb
  src/api/spec/models/obs_factory/distribution_strategy_opensuse_leap15_spec.rb
  src/api/spec/models/obs_factory/distribution_strategy_sle12_sp1_spec.rb
  src/api/spec/models/obs_factory/distribution_strategy_sle15_spec.rb
  src/api/spec/models/obs_factory/staging_project_spec.rb
Labels: Frontend 👻

#6191 Add back removed files after rebase of staging-workflow
  src/api/app/models/obs_factory/distribution.rb
  src/api/app/models/obs_factory/staging_project.rb
  src/api/app/views/webui2/webui/project/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/project/_tabs.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_infos.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_legend.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_overall_state.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_packages_list.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_problems.html.haml
  src/api/db/migrate/20181008150453_create_staging_workflows.rb
Labels: Frontend 👻

#6193 Store Staging Projects in the Backend
  src/api/app/models/staging_workflow.rb
Labels: Frontend 👻

#6192 Create and destroy staging projects
  src/api/app/controllers/webui/staging_workflows/staging_projects_controller.rb
  src/api/app/controllers/webui/staging_workflows_controller.rb
  src/api/app/models/project.rb
  src/api/app/policies/staging_workflow_policy.rb
  src/api/app/views/webui2/webui/staging_workflows/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_create_staging_project.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_delete_staging_project_modal.html.haml
  src/api/app/views/webui2/webui/staging_workflows/edit.html.haml
  src/api/app/views/webui2/webui/staging_workflows/show.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/webui/staging_workflows/staging_projects_controller_spec.rb
  src/api/spec/controllers/webui/staging_workflows_controller_spec.rb
Labels: Frontend 👻, review-app

#6174 Cover sending events to rabbitmq
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/lib/rabbitmq_bus.rb
  src/api/spec/lib/rabbitmq_bus_spec.rb
  src/api/spec/models/update_notification_events_spec.rb
  src/api/spec/rails_helper.rb
  src/api/spec/support/rabbitmq.rb
Labels: Frontend 👻

#6202 Show infos section on Staging Workflow layout
  src/api/app/assets/stylesheets/webui2/dashed-list.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/controllers/webui/staging_workflows_controller.rb
  src/api/app/models/project.rb
  src/api/app/models/staging_workflow.rb
  src/api/app/views/webui2/webui/staging_workflows/_empty_projects_list.haml
  src/api/app/views/webui2/webui/staging_workflows/_infos.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_requests_list.haml
  src/api/app/views/webui2/webui/staging_workflows/show.html.haml
  src/api/spec/factories/bs_requests.rb
  src/api/spec/models/project_spec.rb
  src/api/spec/models/staging_workflow_spec.rb
Labels: Frontend 👻, review-app

#6205 Fix a wrongly merge in StagingWorkflowController
  src/api/app/controllers/webui/staging_workflows_controller.rb
Labels: Frontend 👻

#6207 Fix breadcrumb for staging_workflow
  src/api/app/views/webui2/webui/staging_workflows/_breadcrumb_items.html.haml
Labels: Frontend 👻

#6163 [backend] update multibuild data in uploadbuild if the flavor is not …
  src/backend/BSASN1.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/BSSrcServer/Multibuild.pm
  src/backend/BSTUF.pm
  src/backend/BSX509.pm
  src/backend/bs_notar
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Backend 🤖

#6217 Bootstrap/fix build status link
  src/api/app/assets/javascripts/webui2/buildresult.js
  src/api/app/helpers/webui/buildresult_helper.rb
Labels: Frontend 👻

#6222 Make attribute controller test more robust
  src/api/spec/controllers/attribute_controller_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#6164 Delete Staging Workflows
  src/api/app/assets/javascripts/webui2/application.js
  src/api/app/assets/javascripts/webui2/staging_workflow.js
  src/api/app/controllers/webui/staging_workflows_controller.rb
  src/api/app/policies/staging_workflow_policy.rb
  src/api/app/views/webui2/webui/staging_workflows/_delete.html.haml
  src/api/app/views/webui2/webui/staging_workflows/show.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/webui/staging_workflows_controller_spec.rb
Labels: Frontend 👻, review-app

#6237 Introduce staging namespace
  src/api/app/controllers/staging/projects_controller.rb
  src/api/app/controllers/staging/staged_requests_controller.rb
  src/api/app/controllers/staging_project/staged_requests_controller.rb
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/models/project.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/policies/staging/workflow_policy.rb
  src/api/app/views/staging/staged_requests/index.xml.builder
  src/api/app/views/webui2/webui/staging/workflows/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_create_staging_project.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_delete.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_delete_staging_project_modal.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_empty_projects_list.haml
  src/api/app/views/webui2/webui/staging/workflows/_infos.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_legend.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_overall_state.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_packages_list.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_problems.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_requests_list.haml
  src/api/app/views/webui2/webui/staging/workflows/edit.html.haml
  src/api/app/views/webui2/webui/staging/workflows/new.html.haml
  src/api/app/views/webui2/webui/staging/workflows/show.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
  src/api/spec/controllers/webui/staging/projects_controller_spec.rb
  src/api/spec/controllers/webui/staging/workflows_controller_spec.rb
  src/api/spec/factories/staging_workflow.rb
  src/api/spec/models/staging/workflow_spec.rb
Labels: Frontend 👻

#6197 Remove rspec-retry, not used since July
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/script/prepare_spec_tests.sh
  src/api/spec/README.md
  src/api/spec/browser_helper.rb
  src/api/spec/support/features/features_rspec_retry.rb
Labels: Frontend 👻, Test Suite :syringe:

#6241 Make staging delete button a link
  src/api/app/views/webui2/webui/staging/workflows/_delete.html.haml
  src/api/app/views/webui2/webui/staging/workflows/show.html.haml
Labels: Frontend 👻

#6239 Fix scope, removing includes and adding left_outer_joins
  src/api/app/models/staging/workflow.rb
Labels: Frontend 👻

#6245 Added legend for staging workflow
  src/api/app/assets/stylesheets/webui2/staging-workflow.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/views/webui2/webui/staging/workflows/_legend.html.haml
Labels: Frontend 👻, review-app

#6135 Document published controller integration tests
  src/api/test/functional/published_controller_test.rb
Labels: Frontend 👻

#6242 Avoid calling strptime with an empty string
  src/api/app/models/binary_release.rb
Labels: Bug :skull:, Frontend 👻

#6254 Fix partial path in Staging::Workflow#show
  src/api/app/views/webui2/webui/staging/workflows/show.html.haml
Labels: Frontend 👻

#6262 Fix xml view for staging projects
  src/api/app/views/models/_staging_project.xml.builder
  src/api/app/views/models/staging/_staging_project.xml.builder
Labels: Frontend 👻

#6214 Avoid to create records referencing nonexistent objects
  src/api/app/models/download_repository.rb
  src/api/app/models/repository.rb
  src/api/app/models/token.rb
  src/api/spec/models/download_repository_spec.rb
  src/api/spec/models/repository_spec.rb
Labels: Frontend 👻

#6133 Send requests creation to rabbitmq bus
  src/api/app/models/event/request_create.rb
Labels: Frontend 👻

#6252 [ci] fix bail out in 0200-check_docker_registry (2.8)
  dist/t/osc/0200-check_docker_registry.ts
Labels: Appliance :cd:, Test Suite :syringe:

#6206 Store StagingWorkflow in the backend
  src/api/app/controllers/source/errors.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/models/project.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/views/models/staging/_workflow.xml.builder
  src/api/lib/backend/api/sources/project.rb
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
  src/api/spec/models/staging/workflow_spec.rb
Labels: Frontend 👻

#6266 Add default_scope to StagingProject
  src/api/app/models/staging/staging_project.rb
  src/api/app/models/staging/workflow.rb
Labels: Frontend 👻

#6281 Missing reviews of staging projects
  src/api/app/models/staging/staging_project.rb
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_failed_checks/1_4_5_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_missing_checks/1_4_3_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_pending_checks/1_4_4_1.yml
  src/api/spec/models/staging/staging_project_spec.rb
Labels: Frontend 👻

#6276 List build problems in staging project page
  src/api/app/assets/stylesheets/webui2/staging-workflow.scss
  src/api/app/models/staging/staging_project.rb
  src/api/app/views/webui2/webui/staging/workflows/_problems.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_problems_item.html.haml
Labels: Frontend 👻, review-app

#6287 Fix indexing of the problems of a staging project
  src/api/app/views/webui2/webui/staging/workflows/_problems.html.haml
Labels: Frontend 👻

#6284 Move callback into the correct model
  src/api/app/models/project.rb
  src/api/app/models/staging/staging_project.rb
Labels: Frontend 👻

#6180 Move BsRequest#with_reviews to the review model
  src/api/app/controllers/webui/obs_factory/staging_projects_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/obs_factory/distribution.rb
  src/api/spec/models/bs_request_spec.rb
Labels: Frontend 👻

#6190 Assign and unassigned requests to staging project
  src/api/app/controllers/staging/projects_controller.rb
  src/api/app/controllers/staging/staged_requests_controller.rb
  src/api/app/models/staging/stage_requests.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/policies/staging/staging_project_policy.rb
  src/api/config/routes.rb
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/invalid_user/1_3_1_1.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_valid_and_invalid_request_number/1_3_3_2_1.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_valid_and_invalid_request_number/1_3_3_2_2.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_valid_and_invalid_request_number/1_3_3_2_3.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_valid_request_number/1_3_3_1_1.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_valid_request_number/1_3_3_1_2.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_valid_request_number/1_3_3_1_3.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/with_invalid_staging_project/1_3_2_1.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/GET_index/1_1_1.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/GET_index/returns_the_staged_requests_xml.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/POST_create/invalid_user/1_2_1_1.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/POST_create/non-existent_staging_project/1_2_2_1.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/POST_create/with_valid_and_invalid_request_number/1_2_3_1.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/POST_create/with_valid_and_invalid_request_number/1_2_3_2.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/POST_create/with_valid_staging_project/1_2_4_1.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/POST_create/with_valid_staging_project/1_2_4_2.yml
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
Labels: Frontend 👻

#6265 Show staging projects on staging workflow page
  src/api/app/assets/stylesheets/webui2/collapse-component.scss
  src/api/app/assets/stylesheets/webui2/staging-workflow.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/helpers/webui/staging/workflow_helper.rb
  src/api/app/models/staging/staging_project.rb
  src/api/app/views/webui2/webui/staging/workflows/_overall_state.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_packages_list.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_problems.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_problems_item.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_staging_projects_table.html.haml
  src/api/app/views/webui2/webui/staging/workflows/edit.html.haml
  src/api/app/views/webui2/webui/staging/workflows/show.html.haml
Labels: Frontend 👻

#6264 Replace sass-rails with sassc-rails
  dist/obs-bundled-gems.spec
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: review-app

#6275 Staging workflow managers group
  src/api/app/assets/javascripts/webui2/staging_workflow.js
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/models/group.rb
  src/api/app/models/staging/staging_project.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/policies/staging/workflow_policy.rb
  src/api/app/views/models/staging/_workflow.xml.builder
  src/api/app/views/webui2/webui/staging/workflows/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_delete.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_infos.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_staging_managers_group.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_staging_projects_table.html.haml
  src/api/app/views/webui2/webui/staging/workflows/edit.html.haml
  src/api/app/views/webui2/webui/staging/workflows/new.html.haml
  src/api/app/views/webui2/webui/staging/workflows/show.html.haml
  src/api/config/routes.rb
  src/api/db/migrate/20181113095753_add_staging_managers_group.rb
  src/api/db/structure.sql
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
  src/api/spec/controllers/webui/staging/projects_controller_spec.rb
  src/api/spec/controllers/webui/staging/workflows_controller_spec.rb
  src/api/spec/factories/staging_workflow.rb
  src/api/spec/models/staging/staging_project_spec.rb
Labels: Frontend 👻, review-app

#6293 Editor based on bootstrap
  src/api/app/assets/javascripts/webui2/cm2/toolbars.js
  src/api/app/assets/javascripts/webui2/cm2/use-codemirror.js
  src/api/app/assets/stylesheets/webui2/autocomplete.scss
  src/api/app/assets/stylesheets/webui2/card-component.scss
  src/api/app/assets/stylesheets/webui2/cm2.scss
  src/api/app/assets/stylesheets/webui2/cm2/suse.scss
  src/api/app/assets/stylesheets/webui2/cm2/toolbars.css
  src/api/app/assets/stylesheets/webui2/colors.scss
  src/api/app/assets/stylesheets/webui2/links.scss
  src/api/app/assets/stylesheets/webui2/modals.scss
  src/api/app/assets/stylesheets/webui2/package-attributes.scss
  src/api/app/assets/stylesheets/webui2/personal-navigation.scss
  src/api/app/assets/stylesheets/webui2/repositories.scss
  src/api/app/assets/stylesheets/webui2/sticky-footer.scss
  src/api/app/assets/stylesheets/webui2/tabs-component.scss
  src/api/app/assets/stylesheets/webui2/texts.scss
  src/api/app/views/layouts/webui2/webui.html.haml
  src/api/app/views/webui2/shared/_editor.html.haml
  src/api/app/views/webui2/shared/_editor_modal.html.haml
  src/api/app/views/webui2/shared/_repositories_flag_table_column.html.haml
  src/api/app/views/webui2/webui/package/_commit_item.html.haml
  src/api/config/initializers/assets.rb
  src/api/spec/bootstrap/features/webui/packages_spec.rb
  src/api/spec/support/code_mirror.rb
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6301 Change size icon for staging project deletion
  src/api/app/views/webui2/webui/staging/workflows/_problems.html.haml
Labels: Frontend 👻, review-app

#6300 Add a factory for staging workflow manager groups
  src/api/spec/factories/groups.rb
  src/api/spec/factories/staging_workflow.rb
Labels: Frontend 👻

#6298 Fix long names in modal's heading
  src/api/app/assets/stylesheets/webui2/modals.scss
Labels: Bootstrap :rocket:, Frontend 👻

#6201 Create request exclusion model (for ignored requests)
  src/api/app/controllers/webui/staging/excluded_requests_controller.rb
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/staging/request_exclusion.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/views/webui2/webui/staging/excluded_requests/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/staging/excluded_requests/_create_dialog.html.haml
  src/api/app/views/webui2/webui/staging/excluded_requests/_delete_dialog.html.haml
  src/api/app/views/webui2/webui/staging/excluded_requests/index.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_infos.html.haml
  src/api/app/views/webui2/webui/staging/workflows/show.html.haml
  src/api/config/locales/en.yml
  src/api/config/routes.rb
  src/api/db/migrate/20181030114152_create_staging_request_exclusions.rb
  src/api/db/structure.sql
  src/api/spec/controllers/webui/staging/excluded_requests_controller_spec.rb
  src/api/spec/factories/staging_request_exclusions.rb
Labels: Frontend 👻, review-app

#6257 Fix StagingWorkflow#backlog
  src/api/app/models/staging/workflow.rb
  src/api/app/views/webui2/webui/staging/workflows/_infos.html.haml
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
  src/api/spec/models/staging/workflow_spec.rb
Labels: Frontend 👻

#6309 Update breadcrumb for excluded requests
  src/api/app/views/webui2/webui/staging/excluded_requests/_breadcrumb_items.html.haml
Labels: Frontend 👻

#6318 Allow use of accesskey to trigger reload
  src/api/app/views/shared/_buildresult_box.html.haml
  src/api/app/views/webui/kiwi/images/_build_info.html.haml
  src/api/app/views/webui2/shared/_buildresult_box.html.haml
Labels: Frontend 👻

#6321 Fix kiwi editor errors
  src/api/app/models/kiwi/image/xml_builder.rb
  src/api/app/models/kiwi/image/xml_parser.rb
Labels: Frontend 👻

#6319 Improve style of overall state icon
  src/api/app/assets/stylesheets/webui2/staging-workflow.scss
Labels: Frontend 👻

#6320 Remove creation of staging manager group
  src/api/spec/controllers/webui/staging/excluded_requests_controller_spec.rb
Labels: Frontend 👻

#6316 Link from 'Excluded' requests label to the request page
  src/api/app/views/webui2/webui/staging/workflows/_infos.html.haml
Labels: Frontend 👻

#6322 Replace dashed-list.scss with an unordered list
  src/api/app/assets/stylesheets/webui2/dashed-list.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/views/webui2/webui/staging/workflows/_empty_projects_list.html.haml
Labels: Frontend 👻

#6182 [backend] Add power9 detection to bs_worker
  src/backend/bs_worker
Labels: Backend 🤖

#6157 [backend] BSSSL.pm: replace CTX_use_certificate_file by CTX_use_certi…
  src/backend/BSSSL.pm
Labels: Backend 🤖

#6288 Add staging project show page
  src/api/app/assets/stylesheets/webui2/staging-workflow.scss
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/helpers/webui/staging/project_helper.rb
  src/api/app/models/staging/staging_project.rb
  src/api/app/models/status/check.rb
  src/api/app/views/webui2/webui/project/_tabs.html.haml
  src/api/app/views/webui2/webui/staging/projects/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/staging/projects/_checks.html.haml
  src/api/app/views/webui2/webui/staging/projects/_status_items.html.haml
  src/api/app/views/webui2/webui/staging/projects/show.html.haml
  src/api/app/views/webui2/webui/staging/shared/_legend.html.haml
  src/api/app/views/webui2/webui/staging/shared/_packages_list.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_overall_state.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_staging_projects_table.html.haml
  src/api/app/views/webui2/webui/staging/workflows/show.html.haml
  src/api/config/routes.rb
Labels: Frontend 👻, review-app

#6312 Add XML endpoint for StagingProjectsController#show action
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/app/views/staging/staging_projects/_broken_packages.xml.builder
  src/api/app/views/staging/staging_projects/_building_repositories.xml.builder
  src/api/app/views/staging/staging_projects/_missing_reviews.xml.builder
  src/api/app/views/staging/staging_projects/_requests_to_review.xml.builder
  src/api/app/views/staging/staging_projects/_staged_requests.xml.builder
  src/api/app/views/staging/staging_projects/_untracked_requests.xml.builder
  src/api/app/views/staging/staging_projects/show.xml.builder
  src/api/config/routes.rb
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
Labels: Frontend 👻

#6327 Remove unused requests variable
  src/api/app/controllers/webui/staging/excluded_requests_controller.rb
  src/api/app/views/webui2/webui/staging/excluded_requests/index.html.haml
Labels: Frontend 👻

#6324 Staging workflow managers group improvements
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/views/webui2/webui/staging/workflows/new.html.haml
  src/api/spec/controllers/webui/staging/workflows_controller_spec.rb
Labels: Frontend 👻

#6332 Empty project link to staging project instead of project
  src/api/app/views/webui2/webui/staging/workflows/_empty_projects_list.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_infos.html.haml
Labels: Frontend 👻

#6333 Drop staging identifier
  src/api/app/models/staging/staging_project.rb
  src/api/app/views/webui2/webui/staging/workflows/_empty_projects_list.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_overall_state.html.haml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_failed_checks/1_3_5_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_missing_checks/1_3_3_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_pending_checks/1_3_4_1.yml
  src/api/spec/models/staging/staging_project_spec.rb
Labels: Frontend 👻

#6261 Add staging coverage
  src/api/app/models/staging/staging_project.rb
  src/api/app/views/webui2/webui/staging/projects/show.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_problems.html.haml
  src/api/spec/cassettes/Staging_StagingProject/_assign_managers_group/when_the_group_was_already_assigned/1_4_2_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_assign_managers_group/when_the_group_wasn_t_assigned_before/1_4_1_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_missing_reviews/contains_all_open_reviews_of_staged_requests.yml
  src/api/spec/cassettes/Staging_StagingProject/_missing_reviews/when_there_is_an_accepted_review/1_1_2_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_request_got_revoked/1_3_2_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_failed_checks/1_3_5_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_failed_checks_on_build_repo/1_3_7_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_failed_checks_on_build_repo/1_3_7_2.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_failed_checks_on_published_repo/1_3_6_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_missing_checks/1_3_3_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_missing_checks/1_4_3_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_missing_checks_on_build_repo/1_3_4_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_missing_checks_on_published_repo/1_3_3_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_no_staged_requests/1_3_1_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_pending_checks/1_3_4_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_pending_checks/1_3_5_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_pending_checks/1_4_4_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_succeeded_checks/1_3_8_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_we_only_have_outdated_checks/1_3_9_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_we_only_have_outdated_checks/1_3_9_2.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_we_only_have_outdated_checks/1_3_9_3.yml
  src/api/spec/cassettes/Staging_StagingProject/_unassign_managers_group/1_5_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_untracked_requests/1_2_1.yml
  src/api/spec/models/staging/staging_project_spec.rb
Labels: Test Suite :syringe:

#6336 Create excluded request API
  src/api/app/controllers/staging/excluded_requests_controller.rb
  src/api/app/policies/staging/request_exclusion_policy.rb
  src/api/config/routes.rb
  src/api/spec/controllers/staging/excluded_requests_controller_spec.rb
Labels: Frontend 👻

#6308 Make the location of the staging project flexible
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/views/webui2/webui/staging/workflows/_create_staging_project.html.haml
  src/api/spec/controllers/webui/staging/projects_controller_spec.rb
Labels: Frontend 👻, review-app

#6331 Avoid overlapping UI elements in revision diff
  src/api/app/views/webui2/webui/package/rdiff.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6343 Add excluded request routes into staging namespace
  src/api/config/routes.rb
Labels: Frontend 👻

#6338 Use Project#get_by_name instead of #find_by in Staging
  src/api/app/controllers/staging/staged_requests_controller.rb
  src/api/app/controllers/staging/staging_projects_controller.rb
Labels: Frontend 👻

#6345 Make peek configurable
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/config/options.yml.example
Labels: Frontend 👻

#6346 Update indentation of requests in staging workflow info box
  src/api/app/views/webui2/webui/staging/workflows/_requests_list.html.haml
Labels: Frontend 👻

#6347 Add link to the API documentation to our footer
  src/api/app/views/layouts/webui2/_footer.html.haml
Labels: Frontend 👻

#6350 Implement better error message in Staging::StageRequest
  src/api/app/controllers/staging/staged_requests_controller.rb
  src/api/app/models/staging/stage_requests.rb
Labels: Frontend 👻

#6351 Add new excluded requests API routes in apidocs
  docs/api/api/api.txt
Labels: Documentation :book:

#6360 rework repository buildid
  src/backend/BSRepServer/Registry.pm
  src/backend/BSSched/Checker.pm
  src/backend/bs_repserver
Labels: Backend 🤖

#6362 Authorize RequestExclusion instead of StagingWorkflow && Improve ExcludeRequestsController tests
  src/api/app/controllers/webui/staging/excluded_requests_controller.rb
  src/api/spec/controllers/webui/staging/excluded_requests_controller_spec.rb
Labels: Frontend 👻

#6352 API documentation for staged requests
  docs/api/api/api.txt
  docs/api/api/remove_staged_requests.xml
  docs/api/api/staged_requests.xml
  docs/api/api/status_ok.xml
  src/api/test/functional/backend_test.rb
Labels: Documentation :book:

#6367 Add project show layout
  src/api/app/assets/stylesheets/webui2/project-show.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui2/webui/project/_bottom_actions.html.haml
  src/api/app/views/webui2/webui/project/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/project/_project_packages.html.haml
  src/api/app/views/webui2/webui/project/_side_links.html.haml
  src/api/app/views/webui2/webui/project/show.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#6366 Use --auto-gen-config to generate .rubocop_todo.yml
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
  src/api/lib/tasks/dev.rake
Labels: Frontend 👻, Test Suite :syringe:

#6369 Enable bootstrap view of the project request tab
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/projects/bs_requests_controller.rb
Labels: Bootstrap :rocket:, Frontend 👻

#6368 Remove CSS duplication for project/package show pages
  src/api/app/assets/stylesheets/webui2/package-show.scss
  src/api/app/assets/stylesheets/webui2/project-package-show-grid.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/views/webui2/webui/package/show.html.haml
  src/api/app/views/webui2/webui/project/show.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6373 Switch Project config page to bootstrap
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui2/webui/project/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/project/prjconf.html.haml
  src/api/config/routes.rb
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6374 Enable Bootstrap in project#show for development/test
  src/api/app/controllers/webui/project_controller.rb
Labels: Bootstrap :rocket:, Frontend 👻

#6344 [dist] raise dependency to build package
  dist/obs-server.spec
Labels: Backend 🤖

#6376 [backend] always run services on expanded links
  src/backend/BSSrcServer/Link.pm
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_servicedispatch
Labels: Backend 🤖

#6378 [backend] support debian packages in kiwi tracking data
  src/backend/bs_worker
Labels: Backend 🤖

#6375 Migrate user home info to Boostrap
  src/api/app/assets/stylesheets/webui2/user.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/models/user.rb
  src/api/app/views/webui2/webui/user/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/user/_edit_dialog.html.haml
  src/api/app/views/webui2/webui/user/_info.html.haml
  src/api/app/views/webui2/webui/user/_involvement.html.haml
  src/api/app/views/webui2/webui/user/_password_dialog.html.haml
  src/api/app/views/webui2/webui/user/show.html.haml
  src/api/spec/models/user_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6381 Update rails to 5.2.1.1
  src/api/Gemfile.lock
Labels: Frontend 👻

#6377 Migrate user notifications view to bootstrap
  src/api/app/controllers/webui/users/subscriptions_controller.rb
  src/api/app/views/webui2/webui/subscriptions/_subscriptions_form.html.haml
  src/api/app/views/webui2/webui/users/subscriptions/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/users/subscriptions/index.html.haml
  src/api/app/views/webui2/webui/users/subscriptions/index.js.erb
Labels: Bootstrap :rocket:, Frontend 👻

#6382 Update build result colors
  src/api/app/assets/stylesheets/webui2/build-results.scss
  src/api/app/helpers/webui/buildresult_helper.rb
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6385 Migrate Project#users page to bootstrap
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/helpers/webui/user_or_groups_roles_helper.rb
  src/api/app/mixins/webui/manage_relationships.rb
  src/api/app/views/webui2/shared/user_or_groups_roles/_add_group_dialog.html.haml
  src/api/app/views/webui2/shared/user_or_groups_roles/_delete_dialog.html.haml
  src/api/app/views/webui2/shared/user_or_groups_roles/_index.html.haml
  src/api/app/views/webui2/webui/project/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/project/users.html.haml
  src/api/config/routes.rb
Labels: Bootstrap :rocket:, Frontend 👻

#6388 bs_publish: add support for sleimage iso renaming
  src/backend/BSSched/Checker.pm
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_publish
  src/backend/bs_sched
Labels: Backend 🤖

#6387 Use the correct layout for flash messages
  src/api/app/controllers/webui/project_controller.rb
Labels: Bootstrap :rocket:, Frontend 👻

#6295 Remove unneeded call to set_buildinfo
  src/api/app/models/staging/staging_project.rb
Labels: Frontend 👻

#6389 Improve User model efficiency
  src/api/app/models/user.rb
Labels: Frontend 👻

#6390 Implement build results partial for projects in bootstrap
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui2/webui/project/_buildstatus.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6395 Remove duplicated 'repositories' sass import
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
Labels: Bootstrap :rocket:, Frontend 👻

#6391 Migrate rebuild time graph to bootstrap
  src/api/app/controllers/webui/projects/rebuild_times_controller.rb
  src/api/app/views/webui2/webui/projects/rebuild_times/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/projects/rebuild_times/show.html.haml
  src/api/config/routes.rb
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6383 Switch Project meta page to bootstrap
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui2/webui/project/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/project/meta.html.haml
  src/api/config/routes.rb
  src/api/spec/bootstrap/features/webui/projects_spec.rb
  src/api/spec/cassettes/Bootstrap_Projects/DoD_Repositories/adding_DoD_repositories_via_meta_editor.yml
  src/api/spec/features/webui/projects_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6398 Migrate repository state to Bootstrap
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/views/webui2/webui/repositories/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/repositories/state.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#6402 Add side links on show project page for Bootstrap
  src/api/app/views/webui2/webui/project/_side_links.html.haml
  src/api/app/views/webui2/webui/project/show.html.haml
  src/api/app/views/webui2/webui/project/side_links/_incident_project.html.haml
  src/api/app/views/webui2/webui/project/side_links/_maintenance_project.html.haml
  src/api/app/views/webui2/webui/project/side_links/_patchinfo_present.html.haml
  src/api/app/views/webui2/webui/project/side_links/_project_monitor.html.haml
  src/api/app/views/webui2/webui/project/side_links/_release_targets.html.haml
  src/api/app/views/webui2/webui/project/side_links/_requests.html.haml
  src/api/config/routes.rb
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6408 Use correct javascript for project meta.
  src/api/app/views/webui2/webui/project/meta.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#6413 track lxservicemd5 for commits with links that have a service
  src/backend/BSServer.pm
  src/backend/BSSrcServer/Multibuild.pm
  src/backend/BSSrcServer/Service.pm
  src/backend/BSSrcrep.pm
  src/backend/BSStdServer.pm
  src/backend/bs_servicedispatch
  src/backend/bs_srcserver
Labels: Backend 🤖

#6409 Fix prjconf highlight
  src/api/app/views/webui2/shared/_editor_modal.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#6418 [backend] fix reading milestone file in mapsleimage in bs_publish
  src/backend/bs_publish
Labels: Backend 🤖

#6415 Add z-index to watchlist
  src/api/app/assets/stylesheets/webui2/watchlist.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
Labels: Bootstrap :rocket:, Frontend 👻

#6411 Reorganize card-component css and fix header height
  src/api/app/assets/stylesheets/webui2/card-component.scss
Labels: Bootstrap :rocket:, Frontend 👻

#6419 Change `Trigger Rebuild` button colour
  src/api/app/assets/stylesheets/webui2/live_build_log.scss
  src/api/app/views/webui2/webui/package/_live_build_log_controls.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#6417 Reduce padding in user and group table
  src/api/app/views/webui2/shared/user_or_groups_roles/_index.html.haml
  src/api/app/views/webui2/shared/user_or_groups_roles/_list.html.haml
Labels: Bootstrap :rocket:, Frontend 👻
