Repository openSUSE/open-build-service, pull requests merged in 2018-02, with the labels that each got.

#4468 [dist] Create the links to executables system wide
  Dockerfile
  Dockerfile.frontend-base
  Dockerfile.old-test-suite
Labels: Frontend

#4485 Extend tests for user and group administration for projects and packages
  src/api/app/mixins/webui/manage_relationships.rb
  src/api/app/models/relationship.rb
  src/api/spec/cassettes/Projects/behaves_like_user_tab/user_roles/Remove_non_existant_role.yml
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/models/relationship_spec.rb
Labels: Frontend, Test Suite

#4480 [docu] Introduces a commit message template
  .gitmessage
  CONTRIBUTING.md
Labels: Documentation

#4475 Refactor build controller
  src/api/app/controllers/build_controller.rb
Labels: Frontend

#4464 Ruby 2.5 for 2.9 branch
  .travis.yml
  Dockerfile
  Dockerfile.frontend-base
  Dockerfile.old-test-suite
  contrib/docker-bootstrap.sh
  dist/ci/travis_before_script.sh
  dist/find-requires.sh
  dist/obs-api-deps.spec
  dist/obs-server.spec
  dist/obs_api_delayed_jobs_monitor.cron
  dist/obsapidelayed
  dist/setup-appliance.sh
  docs/api/restility/bin/rest_doc
  docs/api/restility/bin/rest_test
  src/api/Gemfile.lock
  src/api/Makefile
  src/api/Rakefile
  src/api/bin/bundle
  src/api/bin/pry
  src/api/bin/rails
  src/api/bin/rake
  src/api/bin/rdoc
  src/api/bin/ri
  src/api/bin/rspec
  src/api/bin/rubocop
  src/api/db/migrate/20150623063641_reindex_sphinx_db.rb
  src/api/script/api_test_in_spec.sh
  src/api/script/check_database
  src/api/script/delayed_job.api.rb
  src/api/script/delayed_job_monitor.rb
  src/api/script/import
  src/api/script/plugin
  src/api/script/reformat_memprof
  src/api/script/rubygem_package_names.rb
  src/api/script/start_test_backend
Labels: 2.9, DO NOT MERGE, Frontend, Packages

#4491 [ci] Add tests for the project monitor page.
  src/api/spec/features/webui/projects_spec.rb
Labels: Frontend

#4493 [api] fix release request creation in special case
  src/api/app/models/bs_request_action.rb
Labels: Monkey Patched

#4497 Revert "[webui][api] Increase the number of workers for mailers queue."
  dist/obsapidelayed
Labels: Monkey Patched

#4356 [webui] fix repository cycle view
  src/api/app/controllers/webui/repositories_controller.rb
Labels: 2.9, Frontend, Monkey Patched, P2

#4458 Improve binary download page
  ReleaseNotes-2.9
  src/api/app/assets/stylesheets/webui/application/package.scss
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/helpers/webui/package_helper.rb
  src/api/app/views/webui/package/binaries.html.erb
  src/api/app/views/webui/package/binary.html.erb
  src/api/spec/cassettes/Webui_PackageController/GET_binaries/with_a_failure_in_the_backend/1_5_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_binaries/with_build_results_and_binaries/1_5_4_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_binaries/with_build_results_and_binaries/1_5_4_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_binaries/with_build_results_and_binaries/1_5_4_4.yml
  src/api/spec/cassettes/Webui_PackageController/GET_binaries/with_build_results_and_binaries/1_6_4_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_binaries/with_build_results_and_binaries/1_6_4_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_binaries/with_build_results_and_binaries/1_6_4_3.yml
  src/api/spec/cassettes/Webui_PackageController/GET_binaries/with_build_results_and_binaries/1_6_4_4.yml
  src/api/spec/cassettes/Webui_PackageController/GET_binaries/with_build_results_and_binaries/1_6_4_5.yml
  src/api/spec/cassettes/Webui_PackageController/GET_binaries/with_build_results_and_no_binaries/1_5_3_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_binaries/without_build_results/1_5_2_1.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/helpers/webui/package_helper_spec.rb
Labels: Frontend, Refactoring

#4506 [frontend] Fix typo: Mantainer -> Maintainer
  src/api/app/models/event_subscription.rb
Labels: Frontend

#4501 [dist] Don't package our docker files
  dist/obs-server.spec
Labels: Packages

#4507 Update data migrate
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/test/functional/cross_build_test.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/unit/package_remove_test.rb
  src/api/test/unit/project_remove_test.rb
Labels: Frontend

#4509 Update clockwork to version 2.0.3
  src/api/Gemfile.lock
Labels: depfu

#4510 Update obs server spec
  dist/obs-server.spec
Labels: Packages

#4528 Update 2.9 branch
  dist/clouduploader.rb
  dist/ec2utils.conf.example
  dist/obs-server.spec
  src/api/app/controllers/webui/cloud/upload_jobs_controller.rb
  src/api/app/jobs/send_event_emails_job.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/cloud/backend/upload_job.rb
  src/api/app/models/cloud/ec2/configuration.rb
  src/api/app/models/cloud/upload_job.rb
  src/api/app/models/event/base.rb
  src/api/app/views/webui/cloud/upload_jobs/new.html.haml
  src/api/config/clock.rb
  src/api/lib/backend/api/cloud.rb
  src/api/spec/jobs/send_event_emails_job_spec.rb
  src/api/spec/models/cloud/ec2/configuration_spec.rb
  src/api/spec/models/cloud/upload_job_spec.rb
  src/api/test/functional/comments_controller_test.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/request_events_test.rb
  src/api/test/models/event_test.rb
  src/api/test/unit/event_mailer_test.rb
Labels: 2.9

#4523 [frontend] Fix ec2 upload errors
  src/api/lib/backend/api/cloud.rb
  src/api/spec/lib/backend/api/cloud_spec.rb
Labels: Monkey Patched

#4530 [frontend] Fix ec2 upload errors
  src/api/lib/backend/api/cloud.rb
  src/api/spec/lib/backend/api/cloud_spec.rb
Labels: 2.9

#4521 Refactoring/calculate repo cycle
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/models/repository.rb
  src/api/app/views/webui/repositories/state.html.haml
  src/api/spec/controllers/webui/repositories_controller_spec.rb
  src/api/spec/fixtures/files/builddepinfo_multiple_cycles_multiple_intersections.xml
  src/api/spec/fixtures/files/builddepinfo_multiple_cycles_one_intersection.xml
  src/api/spec/fixtures/files/builddepinfo_one_cycle_multiple_intersections.xml
  src/api/spec/fixtures/files/builddepinfo_one_cycle_one_intersection.xml
  src/api/spec/models/repository_spec.rb
Labels: Frontend, Refactoring

#4531 Mention cloud setup in release notes 2.9
  ReleaseNotes-2.9
Labels: 2.9

#4532 [ci] Extend PackageController#save_meta test
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Test Suite

#4537 [ci] Skip flickering request spec
  src/api/spec/features/webui/requests_spec.rb
Labels: Frontend

#4536 [ci] Use transfer.sh to share logs
  dist/ci/travis_after_failure.sh
Labels: Test Suite

#4526 [backend] publish ONIE binary
  src/backend/bs_publish
Labels: Backend, Feature

#4539 [frontend] Enable cloud upload and kiwi editor features in OBS 2.9
  src/api/config/feature.yml
Labels: 2.9

#4550 [frontend] Reduce the scope of directories we want to jslint
  src/api/lib/tasks/dev.rake
Labels: Frontend

#4553 Revert "[frontend] Set environment variable in docker"
  docker-compose.ci.yml
Labels: Frontend, Test Suite

#4546 [ci] Fix skipping flickering request spec
  src/api/spec/features/webui/requests_spec.rb
Labels: Test Suite

#4554 Show cloud upload details in the list
  dist/clouduploader.rb
  src/api/app/models/cloud/backend/upload_job.rb
  src/api/app/views/webui/cloud/upload_jobs/index.html.haml
  src/api/spec/models/cloud/backend/upload_job_spec.rb
Labels: Frontend

#4552 Bugfix old test suite in docker
  .dockerignore
  Rakefile
  contrib/start_minitest
  docker-compose.ci_old.yml
  docker-files/frontend
  src/api/Dockerfile.frontend-base
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.old-test-suite
  src/api/docker-files/start_old_tests
  src/api/lib/tasks/dev.rake
Labels: Test Suite

#4560 [backend] Fix vpc subnet handling in cloud uploader script
  dist/clouduploader.rb
Labels: Backend

#4545 Introduces mailcatcher into development mode
  docker-compose.yml
  docker-files/base/docker-bootstrap.sh
  src/api/Dockerfile.frontend-base
  src/api/Procfile
  src/api/app/models/configuration.rb
  src/api/app/models/linked_project.rb
  src/api/config/environments/development.rb
  src/api/db/migrate/20180221175514_change_configuration_obs_url_default.rb
  src/api/db/structure.sql
Labels: Frontend

#4561 [frontend] Fix option name for autocompletion widget
  src/api/app/assets/javascripts/webui/application/request.js
Labels: Frontend

#4564 [webui] Return empty job list if user has no jobs
  src/api/lib/backend/api/cloud.rb
Labels: Frontend

#4567 [frontend] Fix rollback of migration 20180221175514
  src/api/db/migrate/20180221175514_change_configuration_obs_url_default.rb
Labels: Frontend

#4565 [frontend] Send new->review & review->new notifications
  src/api/app/models/bs_request.rb
Labels: Frontend

#4572 Js refactoring
  src/api/app/assets/javascripts/webui/application/attribute.js
  src/api/app/assets/javascripts/webui/application/comment.js
  src/api/app/assets/javascripts/webui/application/kiwi_editor.js
  src/api/app/assets/javascripts/webui/application/main.js
  src/api/app/assets/javascripts/webui/application/patchinfo.js.erb
  src/api/app/assets/javascripts/webui/application/project.js
  src/api/app/assets/javascripts/webui/application/request.js
Labels: Frontend

#4576 [backend] Require file utils module in cloud uploader script
  dist/clouduploader.rb
Labels: Backend

#4566 Add jshint rules
  dist/ci/travis_script.sh
  src/api/.jshintignore
  src/api/.jshintrc
  src/api/app/assets/javascripts/webui/application/comment.js
  src/api/app/assets/javascripts/webui/application/image_templates.js
  src/api/app/assets/javascripts/webui/application/kiwi_editor.js
  src/api/app/assets/javascripts/webui/application/main.js
  src/api/app/assets/javascripts/webui/application/package.js
  src/api/app/assets/javascripts/webui/application/project.js
  src/api/app/assets/javascripts/webui/application/request.js
  src/api/app/assets/javascripts/webui/application/user.js
Labels: Frontend

#4562 [frontend] Update README.UPDATERS
  dist/README.UPDATERS
Labels: 2.9

#4581 [dist] Fix numbering in updaters guide
  dist/README.UPDATERS
Labels: 2.9

#4578 2.9 more cherry picks
  dist/clouduploader.rb
  dist/ec2utils.conf.example
  src/api/app/models/cloud/backend/upload_job.rb
  src/api/app/views/webui/cloud/upload_jobs/index.html.haml
  src/api/lib/backend/api/cloud.rb
  src/api/spec/models/cloud/backend/upload_job_spec.rb
Labels: 2.9

#4582 [frontend] Enable cloud uploader feature
  src/api/config/feature.yml
Labels: 2.9

#4584 Update installation example & fix openQA builds in 2.9
  README.md
  dist/t/spec/features/0030_project_spec.rb
Labels: 2.9

#4583 [webui][ci] Fix openQA test. Leap 42.2 -> 42.3
  dist/t/spec/features/0030_project_spec.rb
Labels: Frontend

#4199 [webui] add branch destination project field
  src/api/app/assets/stylesheets/webui/application/dialog.scss
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/models/branch_package.rb
  src/api/app/views/shared/_package_branch_form.html.haml
  src/api/app/views/webui/package/_branch_dialog.html.erb
  src/api/app/views/webui/project/new_package_branch.html.erb
  src/api/spec/cassettes/Packages/branching_a_package_from_another_users_project/with_AutoCleanup.yml
  src/api/spec/cassettes/Packages/branching_a_package_from_another_users_project/without_AutoCleanup.yml
  src/api/spec/features/webui/maintenance_workflow_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Labels: Frontend

#4579 [backend] Pass result file path as argument to clouduploader
  dist/clouduploader.rb
Labels: Backend

#4587 [backend] Pass result file path as argument to clouduploader
  dist/clouduploader.rb
Labels: 2.9

#4591 [doc] Fix url in ../../dist/README.UPDATERS
  dist/README.UPDATERS
Labels: 2.9

#4593 [webui][ci] Fix openQA test. Leap 42.2 -> 42.3
  dist/t/spec/features/0030_project_spec.rb
Labels: 2.8, Test Suite

#4595 Update vpc validation 2.9
  src/api/app/models/cloud/upload_job.rb
  src/api/app/views/webui/cloud/upload_jobs/new.html.haml
  src/api/spec/models/cloud/upload_job_spec.rb
Labels: 2.9

#4596 [webui] Refactor structure and workflow of cloud upload module
  src/api/app/assets/stylesheets/webui/application.css.erb
  src/api/app/assets/stylesheets/webui/application/utils.scss
  src/api/app/controllers/webui/cloud/configurations_controller.rb
  src/api/app/controllers/webui/cloud/ec2/configurations_controller.rb
  src/api/app/controllers/webui/cloud/upload_jobs_controller.rb
  src/api/app/models/user.rb
  src/api/app/views/webui/cloud/configurations/index.html.haml
  src/api/app/views/webui/cloud/upload_jobs/index.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/webui/cloud/upload_jobs_controller_spec.rb
Labels: Frontend

#4594 Update vpc validation
  src/api/app/models/cloud/upload_job.rb
  src/api/app/views/webui/cloud/upload_jobs/new.html.haml
  src/api/spec/models/cloud/upload_job_spec.rb
Labels: Frontend
