Repository openSUSE/open-build-service, pull requests merged in 2018-06, with the labels that each got.

#5063 Remove git cop
  dist/git-cop_configuration.yml
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/git_cop.rake
Labels: Test Suite :syringe:

#5064 Use multiple arguments in our Rakefile
  Rakefile
Labels: Frontend 👻

#5066 [frontend] Fix policy check in token controller
  src/api/app/controllers/person/token_controller.rb
  src/api/spec/controllers/person/token_controller_spec.rb
Labels: Frontend 👻

#5074 [dist] Update release notes
  ReleaseNotes-2.10
Labels: Frontend 👻, Packages :package:

#5079 Patchinfo fixes and refactoring
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/config/routes.rb
Labels: Frontend 👻

#5080 Fix / silence rpmlint issues
  dist/obs-rpmlintrc
  dist/obs-server.spec
  src/api/lib/tasks/dev.rake
Labels: Packages :package:

#5092 [dist] Add short descriptions to our service files
  dist/obsapisetup
  dist/obsclouduploadserver
  dist/obsclouduploadworker
  dist/obsdeltastore
  dist/obsdispatcher
  dist/obsdodup
  dist/obspublisher
  dist/obsrepserver
  dist/obsscheduler
  dist/obsservice
  dist/obsservicedispatch
  dist/obssigner
  dist/obssrcserver
  dist/obsstoragesetup
  dist/obswarden
  dist/obsworker
Labels: Packages :package:

#5093 Rpmlint fixes
  dist/obs-rpmlintrc
Labels: Packages :package:

#5100 [frontend] Never raise an exception in RabbitmqBus
  src/api/lib/rabbitmq_bus.rb
Labels: Frontend 👻

#5094 [frontend] Add counters for tasks table headers
  src/api/app/views/webui/users/tasks/index.html.haml
Labels: Frontend 👻

#4865 [ci] Add dev:development_testdata:create task
  src/api/lib/tasks/dev.rake
Labels: Test Suite :syringe:

#5085 Refactor source controller (second interaction)
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_project_controller.rb
  src/api/app/views/source_project/show.xml.builder
  src/api/config/routes.rb
  src/api/spec/cassettes/SourceController/PUT_update_project_config/1_4_1.yml
  src/api/spec/cassettes/SourceController/PUT_update_project_config/1_4_2.yml
  src/api/spec/controllers/source_controller_spec.rb
  src/api/spec/controllers/source_project_controller_spec.rb
  src/api/test/functional/read_permission_test.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/functional/source_controller_test.rb
Labels: Frontend 👻

#5116 Rpm lint checks
  dist/obs-rpmlintrc
  dist/obs-server.spec
Labels: Packages :package:

#5119 Rpm lint checks
  dist/obs-rpmlintrc
Labels: Packages :package:

#5124 Better debug output for build testcase
  dist/t/osc/0030_create_and_build_package.ts
Labels: Backend 🤖, Test Suite :syringe:

#5129 Drop bratwurst theme
  src/api/.haml-lint_todo.yml
  src/api/.jshintignore
  src/api/Gemfile
  src/api/app/assets/javascripts/webui/bratwurst.js
  src/api/app/assets/stylesheets/webui/bratwurst.css
  src/api/app/assets/stylesheets/webui/bratwurst/strap-on.css.scss
  src/api/app/views/webui/theme/bratwurst/layouts/webui/_alert.html.haml
  src/api/app/views/webui/theme/bratwurst/layouts/webui/_footer.html.haml
  src/api/app/views/webui/theme/bratwurst/layouts/webui/_navbar.html.haml
  src/api/app/views/webui/theme/bratwurst/layouts/webui/webui.html.haml
  src/api/app/views/webui/theme/bratwurst/webui/package/_commit.html.haml
  src/api/app/views/webui/theme/bratwurst/webui/package/_files.html.haml
  src/api/app/views/webui/theme/bratwurst/webui/package/show.html.haml
Labels: Frontend 👻

#5128 [ci] added missing Requires for Test::Most to obs-tests-appliance pac…
  dist/obs-server.spec
Labels: Test Suite :syringe:

#5139 [ci] Extract setup alias in CircleCI config
  .circleci/config.yml
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/spec/rails_helper.rb
  src/api/spec/support/coverage.rb
  src/api/test/test_helper.rb
Labels: Frontend 👻, Test Suite :syringe:

#5123 [api] move code for project config show/update to its own controller …
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_project_config_controller.rb
  src/api/config/routes.rb
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_workflow.yml
  src/api/spec/cassettes/SourceController/POST_package_command/with_diff_command_for_a_multibuild_package/1_4_1_1.yml
  src/api/spec/cassettes/SourceController/POST_package_command/with_diff_command_for_a_multibuild_package/1_4_1_2.yml
  src/api/spec/cassettes/SourceProjectConfigController/GET_show/when_the_home_project_exist/1_1_1_1.yml
  src/api/spec/cassettes/SourceProjectConfigController/GET_show/when_the_project_doesnt_exist/1_1_2_1.yml
  src/api/spec/cassettes/SourceProjectConfigController/PUT_update/we_are_trying_to_update_a_project/1_2_2_1.yml
  src/api/spec/cassettes/SourceProjectConfigController/PUT_update/we_are_trying_to_update_a_project/1_2_2_2.yml
  src/api/spec/cassettes/SourceProjectConfigController/PUT_update/we_are_trying_to_update_a_remote_project/1_2_1_1.yml
  src/api/spec/controllers/source_controller_spec.rb
  src/api/spec/controllers/source_project_config_controller_spec.rb
  src/api/test/functional/source_controller_test.rb
Labels: Frontend 👻

#5120 Introduces switch to a new layout
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/javascripts/webui2/application.js
  src/api/app/assets/stylesheets/webui2/sticky-footer.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/views/layouts/webui2/_breadcrumbs.html.haml
  src/api/app/views/layouts/webui2/_flash.html.haml
  src/api/app/views/layouts/webui2/_footer.html.haml
  src/api/app/views/layouts/webui2/_navigation.html.haml
  src/api/app/views/layouts/webui2/_personal_navigation.html.haml
  src/api/app/views/layouts/webui2/_search.html.haml
  src/api/app/views/layouts/webui2/_watchlist.html.haml
  src/api/app/views/layouts/webui2/_watchlist_dropdown.html.haml
  src/api/app/views/layouts/webui2/webui.html.haml
  src/api/config/initializers/assets.rb
Labels: Frontend 👻, review-app

#5131 [api] require builder gem to avoid issues in the development environment
  src/api/Gemfile
Labels: Frontend 👻

#5146 [frontend] Cleanup condition in view
  src/api/app/views/layouts/webui2/_personal_navigation.html.haml
Labels: Frontend 👻

#5147 [frontend] Update Gemfile.lock
  src/api/Gemfile.lock
Labels: Frontend 👻

#5132 [frontend] Render markdown links in its absolute form
  src/api/lib/obsapi/markdown_renderer.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend 👻

#5148 [frontend] Refactor Package#last_build_reason
  src/api/app/controllers/webui/packages/build_reason_controller.rb
  src/api/app/models/package.rb
  src/api/spec/controllers/webui/packages/build_reason_controller_spec.rb
Labels: Frontend 👻

#5149 [frontend] Fixes undefined method `to_datetime' for nil:NilClass
  src/api/app/models/binary_release.rb
Labels: Frontend 👻

#5023 Bugfix/manual maintenance release project wide
  .rubocop_todo.yml
  src/api/app/models/binary_release.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/spec/cassettes/Project/_do_project_release/uses_the_package_s_release_target_name_when_releasing_the_package.yml
  src/api/spec/factories/repository.rb
  src/api/spec/models/package_spec.rb
  src/api/spec/models/project_spec.rb
Labels: Frontend 👻

#5126 [ci] Update airbrake-ruby gem
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend 👻, airbrake

#5155 Refactor binary release
  src/api/app/models/binary_release.rb
  src/api/spec/controllers/source_project_config_controller_spec.rb
Labels: Frontend 👻

#5160 [frontend] Fix rendering invalid markdown links
  src/api/lib/obsapi/markdown_renderer.rb
  src/api/spec/helpers/comment_helper_spec.rb
Labels: Frontend 👻, Monkey Patched :see_no_evil:

#5162 Have incremental diff link into new request
  src/api/app/views/webui/request/_superseded_by_message.html.erb
  src/api/app/views/webui/request/_superseded_by_message.html.haml
  src/api/app/views/webui/request/show.html.erb
Labels: Feature 💡, Frontend 👻, review-app

#5166 Remove space before commas
  src/api/app/views/webui/request/_superseded_by_message.html.haml
Labels: Frontend 👻

#5161 [webui] Use package_name instead of package
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/job_history_controller.rb
  src/api/app/helpers/webui/package_helper.rb
  src/api/app/helpers/webui/packages/build_reason_helper.rb
  src/api/app/helpers/webui/packages/job_history_helper.rb
  src/api/app/models/package.rb
  src/api/app/views/webui/packages/build_reason/index.html.haml
  src/api/app/views/webui/packages/job_history/index.html.haml
  src/api/spec/helpers/webui/packages/job_history_helper_spec.rb
Labels: Bugfix :wrench:, Frontend 👻

#5171 Fix download link in binaries and details page
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/models/repository.rb
Labels: Bugfix :wrench:, Frontend 👻

#5179 [frontend] Fix typo in BinaryRelease model
  src/api/app/models/binary_release.rb
Labels: Frontend 👻

#5140 Integrate obs factory
  .rubocop_todo.yml
  src/api/app/assets/stylesheets/webui/obs_factory/application.css
  src/api/app/controllers/webui/obs_factory/application_controller.rb
  src/api/app/controllers/webui/obs_factory/distributions_controller.rb
  src/api/app/controllers/webui/obs_factory/staging_projects_controller.rb
  src/api/app/helpers/webui/obs_factory/application_helper.rb
  src/api/app/models/obs_factory/distribution.rb
  src/api/app/models/obs_factory/distribution_strategy_casp.rb
  src/api/app/models/obs_factory/distribution_strategy_factory.rb
  src/api/app/models/obs_factory/distribution_strategy_factory_ppc.rb
  src/api/app/models/obs_factory/distribution_strategy_opensuse.rb
  src/api/app/models/obs_factory/distribution_strategy_sle12_sp1.rb
  src/api/app/models/obs_factory/distribution_strategy_sle15.rb
  src/api/app/models/obs_factory/obs_project.rb
  src/api/app/models/obs_factory/openqa_api.rb
  src/api/app/models/obs_factory/openqa_job.rb
  src/api/app/models/obs_factory/request.rb
  src/api/app/models/obs_factory/staging_project.rb
  src/api/app/presenters/obs_factory/base_presenter.rb
  src/api/app/presenters/obs_factory/obs_project_presenter.rb
  src/api/app/presenters/obs_factory/openqa_job_presenter.rb
  src/api/app/presenters/obs_factory/staging_project_presenter.rb
  src/api/app/views/layouts/webui/obs_factory/application.html.erb
  src/api/app/views/webui/obs_factory/distributions/show.html.haml
  src/api/app/views/webui/obs_factory/openqa_jobs/_openqa_job.html.erb
  src/api/app/views/webui/obs_factory/requests/_request.html.erb
  src/api/app/views/webui/obs_factory/staging_projects/_buildinfo.html.erb
  src/api/app/views/webui/obs_factory/staging_projects/_expand_collapse.js.erb
  src/api/app/views/webui/obs_factory/staging_projects/_infos.html.haml
  src/api/app/views/webui/obs_factory/staging_projects/_legend.html.haml
  src/api/app/views/webui/obs_factory/staging_projects/_openqa_jobs.html.erb
  src/api/app/views/webui/obs_factory/staging_projects/_overall_state.html.haml
  src/api/app/views/webui/obs_factory/staging_projects/_packages_list.html.haml
  src/api/app/views/webui/obs_factory/staging_projects/_problems.html.erb
  src/api/app/views/webui/obs_factory/staging_projects/_request.html.haml
  src/api/app/views/webui/obs_factory/staging_projects/index.html.haml
  src/api/app/views/webui/obs_factory/staging_projects/show.html.erb
  src/api/config/initializers/assets.rb
  src/api/config/initializers/inflector.rb
  src/api/config/routes.rb
Labels: Frontend 👻

#5186 [frontend] Fix rendering of openqa_job template
  src/api/app/views/webui/obs_factory/staging_projects/_problems.html.erb
Labels: Frontend 👻, Monkey Patched :see_no_evil:

#5187 Fix docker building with service generated files
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/Checker.pm
  src/backend/bs_worker
Labels: Backend 🤖

#5188 [ci] Fix flaky DoD test
  src/api/spec/features/webui/projects_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5189 [frontend] Support SLE15 service packs in staging dashboard
  src/api/app/models/obs_factory/distribution.rb
  src/api/app/models/obs_factory/distribution_strategy_sle15.rb
Labels: Frontend 👻

#5190 Refactor how we render superseded requests list
  src/api/app/views/webui/request/_superseded_by_message.html.haml
Labels: Frontend 👻, Refactoring :factory:

#5182 Fix rubocop setup
  .rubocop.yml
  .rubocop_todo.yml
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/lib/tasks/dev.rake
Labels: Frontend 👻, Test Suite :syringe:

#5204 [ci] Make feature test more flexible
  src/api/spec/features/webui/packages_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5196 [ci] Add test for setting correct distribution strategy
  src/api/spec/models/obs_factory/distribution_spec.rb
Labels: Frontend 👻

#5197 [frontend] Fix rendering of staging project rings
  src/api/app/views/webui/obs_factory/staging_projects/_openqa_jobs.html.erb
Labels: Frontend 👻, Monkey Patched :see_no_evil:

#5205 Require rubocop/rake_task gem only when needed
  src/api/lib/tasks/dev.rake
Labels: Frontend 👻

#5191 Factory plugin/tests
  src/api/app/models/obs_factory/distribution_strategy_factory.rb
  src/api/app/models/obs_factory/distribution_strategy_sle15.rb
  src/api/spec/models/obs_factory/distribution_strategy_sle15_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5183 Bugfix/backend file
  src/api/app/controllers/source_project_config_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/helpers/validation_helper.rb
  src/api/app/models/build_reason_file.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/lib/backend/api/build_results/status.rb
  src/api/lib/backend/file.rb
  src/api/spec/cassettes/Project/_restore/sets_the_user_that_restored_the_project_in_the_history_element.yml
  src/api/spec/cassettes/Webui_ProjectController/GET_prjconf/Can_not_load_project_config/1_34_2_1.yml
  src/api/spec/cassettes/Webui_ProjectController/GET_prjconf/Can_not_load_project_config/1_34_2_2.yml
  src/api/spec/controllers/source_project_config_controller_spec.rb
  src/api/spec/models/backend/file_spec.rb
  src/api/spec/models/project_spec.rb
  src/api/test/unit/project_test.rb
Labels: Bugfix :wrench:

#5224 Make incomplete jobs failed
  src/api/app/assets/stylesheets/webui/obs_factory/application.css
  src/api/app/models/obs_factory/staging_project.rb
Labels: Frontend 👻

#5219 Fix rubocop setup
  .rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/lib/tasks/dev.rake
  src/api/spec/models/obs_factory/staging_project_spec.rb
  src/api/spec/support/capybara.rb
Labels: Frontend 👻, Test Suite :syringe:

#5229 [frontend] Fix rubocop offense: Naming/PredicateName
  src/api/app/models/obs_factory/staging_project.rb
Labels: Frontend 👻, Test Suite :syringe:

#5234 [webui] Add missing parameter in staging_project
  src/api/app/models/obs_factory/staging_project.rb
Labels: Frontend 👻, Monkey Patched :see_no_evil:

#5242 [ci] Remove dependency of rubocop rake task gem
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
  src/api/lib/tasks/dev.rake
Labels: Frontend 👻, Test Suite :syringe:

#5241 Fix GET on filtered attribute route
  ReleaseNotes-2.10
  src/api/app/controllers/source_attribute_controller.rb
  src/api/app/mixins/has_attributes.rb
  src/api/spec/controllers/source_attribute_controller_spec.rb
Labels: Frontend 👻

#5247 Add wrapper for can modify methods
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_project_config_controller.rb
  src/api/app/controllers/source_project_controller.rb
  src/api/app/controllers/source_project_meta_controller.rb
  src/api/app/controllers/trigger_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/helpers/webui/project_helper.rb
  src/api/app/models/branch_package.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_maintenance_release.rb
  src/api/app/models/bs_request_action_submit.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/service.rb
  src/api/app/models/user.rb
  src/api/app/policies/kiwi/image_policy.rb
  src/api/app/policies/package_policy.rb
  src/api/app/policies/project_policy.rb
  src/api/app/views/shared/_involved_users.html.haml
  src/api/app/views/webui/package/_files_view.html.erb
  src/api/app/views/webui/package/binaries.html.erb
  src/api/app/views/webui/package/meta.html.erb
  src/api/app/views/webui/package/show.html.erb
  src/api/app/views/webui/patchinfo/show.html.haml
  src/api/app/views/webui/project/_packages_table.html.erb
  src/api/app/views/webui/project/maintained_projects.html.erb
  src/api/app/views/webui/project/meta.html.erb
  src/api/app/views/webui/project/prjconf.html.erb
  src/api/app/views/webui/project/show.html.erb
  src/api/app/views/webui/project/status.html.erb
  src/api/app/views/webui/project/subprojects.html.haml
  src/api/app/views/webui/repositories/_repository_entry.html.haml
  src/api/app/views/webui/repositories/index.html.haml
  src/api/lib/opensuse/permission.rb
Labels: Frontend 👻

#5178 Update rspec readme
  src/api/spec/README.md
Labels: Documentation :book:, Frontend 👻

#5250 Drop linklocal delivery support in worker
  src/backend/BSASN1.pm
  src/backend/BSSched/Checker.pm
  src/backend/bs_worker
Labels: Backend 🤖
