Repository openSUSE/open-build-service, pull requests merged in 2018-10, with the labels that each got.

#5953 Remove stubs from auto accept test
  src/api/spec/cassettes/BsRequest/_delayed_auto_accept/1_8_1.yml
  src/api/spec/cassettes/BsRequest/_delayed_auto_accept/1_8_2.yml
  src/api/spec/cassettes/BsRequest/auto_accept/_auto_accept/when_creator_doesn_t_have_permissions_for_the_target_project/1_8_2_3_1.yml
  src/api/spec/cassettes/BsRequest/auto_accept/_auto_accept/when_the_request_is_pending/1_8_2_1_1.yml
  src/api/spec/cassettes/BsRequest/auto_accept/_auto_accept/when_the_request_was_already_processed/1_8_2_2_1.yml
  src/api/spec/cassettes/BsRequest/auto_accept/_delayed_auto_accept/1_8_1_1.yml
  src/api/spec/cassettes/BsRequest/auto_accept/_delayed_auto_accept/1_8_1_2.yml
  src/api/spec/models/bs_request_spec.rb
Labels: Test Suite :syringe:

#5958 Fix flickering package feature test
  src/api/spec/features/webui/packages_spec.rb
Labels: Test Suite :syringe:

#5945 Bootstrap/package user groups
  src/api/app/assets/javascripts/webui2/application.js
  src/api/app/assets/javascripts/webui2/users_groups.js
  src/api/app/assets/stylesheets/webui2/autocomplete.scss
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/mixins/webui/manage_relationships.rb
  src/api/app/views/webui2/shared/user_or_groups_roles/_add_group_dialog.html.haml
  src/api/app/views/webui2/shared/user_or_groups_roles/_add_user_dialog.html.haml
  src/api/app/views/webui2/shared/user_or_groups_roles/_delete_dialog.html.haml
  src/api/app/views/webui2/shared/user_or_groups_roles/_index.html.haml
  src/api/app/views/webui2/shared/user_or_groups_roles/_list.html.haml
  src/api/app/views/webui2/webui/package/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/package/users.html.haml
  src/api/config/routes.rb
  src/api/spec/bootstrap/features/webui/packages_spec.rb
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/group_roles/Add_an_existing_group.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/group_roles/Add_non_existent_group.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/group_roles/Add_role_to_group.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/group_roles/Remove_role_from_group.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/group_roles/Viewing_group_roles.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/user_roles/Add_an_existing_user.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/user_roles/Add_non_existent_user.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/user_roles/Add_role_to_user.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/user_roles/Remove_role_from_user.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/user_roles/Remove_user_from_package_/_project.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/user_roles/Viewing_user_roles.yml
  src/api/spec/support/shared_examples/features/bootstrap_user_tab.rb
  src/api/spec/support/shared_examples/features/user_tab.rb
Labels: Bootstrap, Frontend 👻, review-app

#5962 Remove duplicated code related to CodeMirror
  src/api/app/views/layouts/webui2/webui.html.haml
Labels: Frontend 👻

#5956 [webui] Fix checkboxes for supersedeing requests in package view
  src/api/app/views/webui2/webui/package/_submit_request_dialog.html.haml
  src/api/app/views/webui2/webui/request/_requests_small.html.haml
Labels: Bootstrap, Frontend 👻, review-app

#5960 Fix issue 5954
  src/api/app/assets/stylesheets/webui2/build-results.scss
  src/api/app/assets/stylesheets/webui2/comments.scss
  src/api/app/assets/stylesheets/webui2/live_build_log.scss
  src/api/app/assets/stylesheets/webui2/texts.scss
  src/api/app/views/webui2/webui/package/_commit_item.html.haml
  src/api/app/views/webui2/webui/package/_rpmlint_result.html.haml
  src/api/app/views/webui2/webui/package/live_build_log.html.haml
Labels: Bootstrap, Frontend 👻, review-app

#5965 Fix issue about not showing dialogs on bootstrap datatables
  src/api/app/views/webui2/webui/package/_files_view.html.haml
Labels: Bootstrap, Bug :skull:, Frontend 👻, review-app

#5964 Use custom file input bootstrap class
  src/api/app/assets/javascripts/webui2/application.js
  src/api/app/assets/javascripts/webui2/forms.js
  src/api/app/views/webui2/webui/package/add_file.html.haml
Labels: Bootstrap, Frontend 👻

#5966 Remove `}` leftover
  src/api/app/views/webui2/webui/packages/build_reason/index.html.haml
Labels: Bootstrap, Frontend 👻

#5963 Bootstrap/fix issue hit enter in input
  src/api/app/views/webui2/shared/_dialog_action_buttons.html.haml
  src/api/app/views/webui2/webui/attribute/_delete_dialog.html.haml
  src/api/app/views/webui2/webui/comment/_delete_dialog.html.haml
  src/api/app/views/webui2/webui/main/_add_status_message_modal.html.haml
  src/api/app/views/webui2/webui/package/_branch_dialog.html.haml
  src/api/app/views/webui2/webui/package/_delete_dialog.html.haml
  src/api/app/views/webui2/webui/package/_delete_file_dialog.html.haml
  src/api/app/views/webui2/webui/package/_linking_packages.html.haml
Labels: Bootstrap, Frontend 👻, review-app

#5967 Fix responsiveness of datatables when long file names
  src/api/app/views/webui2/webui/package/_files_view.html.haml
Labels: Bootstrap, Bug :skull:, Frontend 👻, review-app

#5961 Fix helper force_utf8_and_transform_nonprintables
  src/api/app/helpers/webui/webui_helper.rb
Labels: Bootstrap, Bug :skull:, Frontend 👻

#5909 Move Package#binaries view to bootstrap
  src/api/app/assets/javascripts/webui2/application.js
  src/api/app/assets/javascripts/webui2/popover.js
  src/api/app/assets/stylesheets/webui2/list-group-item-integrated.scss
  src/api/app/assets/stylesheets/webui2/texts.scss
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui2/shared/_download_repository_link.html.haml
  src/api/app/views/webui2/webui/package/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/package/binaries.html.haml
  src/api/app/views/webui2/webui/package/binaries/_binaries_actions.html.haml
  src/api/app/views/webui2/webui/package/binaries/_show_statistics_job_history_build_reason.html.haml
  src/api/app/views/webui2/webui/package/binaries/_trigger_rebuild_wipe_binaries.html.haml
  src/api/config/routes.rb
Labels: Bootstrap, Frontend 👻, review-app

#5943 Migrate Package revision diff to bootstrap
  src/api/app/assets/javascripts/webui2/packages.js
  src/api/app/assets/stylesheets/webui2/cm2.scss
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/helpers/webui/package_helper.rb
  src/api/app/views/webui2/shared/_truncated_diff_hint.html.haml
  src/api/app/views/webui2/webui/package/_revision_diff_detail.html.haml
  src/api/app/views/webui2/webui/package/_revision_diff_footer.html.haml
  src/api/app/views/webui2/webui/package/rdiff.html.haml
  src/api/spec/helpers/webui/package_helper_spec.rb
Labels: Bootstrap, Frontend 👻, review-app

#5996 Fix burger menu and show breadcrumbs in mobile
  src/api/app/views/layouts/webui2/_navigation.html.haml
  src/api/app/views/layouts/webui2/_search.html.haml
  src/api/app/views/layouts/webui2/_watchlist.html.haml
  src/api/app/views/layouts/webui2/webui.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#5993 Fix the attributes table in mobile size
  src/api/app/assets/javascripts/webui2/attributes.js
  src/api/app/views/webui2/webui/attribute/index.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#5660 Switch obsapidelayed jobs script to systemd
  dist/Makefile
  dist/README.UPDATERS
  dist/obs-server.spec
  dist/obsapidelayed
  dist/setup-appliance.sh
  dist/systemd/obs-api-support.target
  dist/systemd/obs-clockwork.service
  dist/systemd/obs-delayedjob-queue-consistency_check.service
  dist/systemd/obs-delayedjob-queue-default.service
  dist/systemd/obs-delayedjob-queue-issuetracking.service
  dist/systemd/obs-delayedjob-queue-mailers.service
  dist/systemd/obs-delayedjob-queue-project_log_rotate.service
  dist/systemd/obs-delayedjob-queue-quick@.service
  dist/systemd/obs-delayedjob-queue-releasetracking.service
  dist/systemd/obs-sphinx.service
  dist/systemd/obsapidelayed.service
  dist/t/0060-check_required_services.ts
Labels: Packages :package:

#5991 Fix several file upload issues
  src/api/app/assets/javascripts/webui2/forms.js
  src/api/app/assets/javascripts/webui2/packages.js
  src/api/app/assets/stylesheets/webui2/cm2.scss
  src/api/app/views/webui2/webui/package/add_file.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#5997 Fix several bootstrap issues for comments
  src/api/app/assets/stylesheets/webui2/comments.scss
  src/api/app/views/webui2/webui/comment/_content.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#5999 Fix clockwork systemd service
  dist/systemd/obs-clockwork.service
Labels: Monkey Patched :see_no_evil:, Packages :package:

#5998 Fix revision diff for small devices
  src/api/app/views/webui2/webui/package/_revision_diff_detail.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6000 Fix openQA test
  dist/t/spec/features/0040_package_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5880 Prevent creation of a request with an ID attribute
  src/api/app/controllers/request_controller.rb
  src/api/app/models/bs_request.rb
Labels: Frontend 👻

#6003 Follow design decisions
  src/api/app/assets/stylesheets/webui2/colors.scss
  src/api/app/assets/stylesheets/webui2/texts.scss
  src/api/app/helpers/webui/buildresult_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/layouts/webui2/_watchlist_dropdown.html.haml
  src/api/app/views/webui2/shared/_open_requests.html.haml
  src/api/app/views/webui2/shared/bs_requests/index.json.erb
  src/api/app/views/webui2/shared/user_or_groups_roles/_list.html.haml
  src/api/app/views/webui2/status_messages/_item.html.haml
  src/api/app/views/webui2/webui/attribute/index.html.haml
  src/api/app/views/webui2/webui/main/_latest_updates.html.haml
  src/api/app/views/webui2/webui/main/_status_messages.html.haml
  src/api/app/views/webui2/webui/main/_user_proceed-list.html.haml
  src/api/app/views/webui2/webui/package/_buildstatus.html.haml
  src/api/app/views/webui2/webui/package/_commit_item.html.haml
  src/api/app/views/webui2/webui/package/_extra_actions.html.haml
  src/api/app/views/webui2/webui/package/_files_view.html.haml
  src/api/app/views/webui2/webui/package/_live_build_log_controls.html.haml
  src/api/app/views/webui2/webui/package/binaries/_trigger_rebuild_wipe_binaries.html.haml
  src/api/app/views/webui2/webui/package/bottom_actions/_cloud_upload.html.haml
  src/api/app/views/webui2/webui/package/bottom_actions/_edit_description.html.haml
  src/api/app/views/webui2/webui/package/bottom_actions/_submit_package.html.haml
  src/api/app/views/webui2/webui/package/bottom_actions/_trigger_services.html.haml
  src/api/app/views/webui2/webui/package/side_links/_show_derived_packages.html.haml
  src/api/app/views/webui2/webui/package/side_links/_show_devel_package.html.haml
  src/api/app/views/webui2/webui/package/side_links/_show_developed_packages.html.haml
  src/api/app/views/webui2/webui/package/side_links/_show_failures.html.haml
  src/api/app/views/webui2/webui/package/side_links/_show_inherited_from_project.html.haml
  src/api/app/views/webui2/webui/package/side_links/_show_linkinfo.html.haml
  src/api/app/views/webui2/webui/package/side_links/_show_patchinfo.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6004 Remove unneeded classes in buildresult box
  src/api/app/views/webui2/shared/_buildresult_box.html.haml
  src/api/app/views/webui2/webui/package/_buildstatus.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#5995 Fix colors for links that emulate outline buttons
  src/api/app/assets/stylesheets/webui2/links.scss
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6018 Display the select without overflowing its container on mobile
  src/api/app/views/webui2/webui/attribute/new.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6013 Fix several issues on revision diff page
  src/api/app/assets/stylesheets/webui2/cm2.scss
  src/api/app/assets/stylesheets/webui2/diff.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/views/webui2/webui/package/_revision_diff_detail.html.haml
  src/api/app/views/webui2/webui/package/_revision_diff_detail_buttons.html.haml
  src/api/app/views/webui2/webui/package/rdiff.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6017 Unify table styling according to OBS pattern library
  src/api/app/views/webui2/webui/attribute/index.html.haml
  src/api/app/views/webui2/webui/package/_deps.html.haml
  src/api/app/views/webui2/webui/packages/build_reason/index.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6021 Use proper download icon
  src/api/app/views/webui2/webui/package/binary.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#6054 Add basis for Staging workflow
  src/api/app/models/project.rb
  src/api/app/models/staging_workflow.rb
Labels: Frontend 👻

#6058 [dist] interims fix for setup-appliance
  dist/setup-appliance.sh
Labels: Appliance :cd:

#6037 Add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: Documentation :book:

#6053 Change order of fields for small devices
  src/api/app/assets/stylesheets/webui2/package-show.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/views/webui2/shared/_buildresult_box.html.haml
  src/api/app/views/webui2/webui/package/show.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6057 Fix metrics for webui logins
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend 👻

#6064 Fix routes for published checks and reports of status reports
  src/api/config/routes.rb
Labels: Frontend 👻

#6067 Disable flickering tests
  src/api/spec/bootstrap/features/webui/packages_spec.rb
Labels: Flickering :cyclone:, Frontend 👻, Test Suite :syringe:

#6068 Revert StagingWorkflow
  src/api/app/controllers/webui/staging_workflows_controller.rb
  src/api/app/models/project.rb
  src/api/app/models/staging_workflow.rb
  src/api/db/migrate/20181008150453_create_staging_workflows.rb
  src/api/db/structure.sql
Labels: Frontend 👻

#6038 Fix build_succeeded? method
  src/api/app/models/project.rb
Labels: Frontend 👻

#6066 Refactor package-view_file.js
  src/api/app/assets/javascripts/webui2/package-view_file.js
Labels: Frontend 👻, Refactoring :factory:, review-app

#5889 Document the status api
  docs/api/api/api.txt
  docs/api/api/check.rng
  docs/api/api/check.xml
  docs/api/api/required_checks.xml
  docs/api/api/status_report.xml
  src/api/test/functional/backend_test.rb
Labels: Frontend 👻

#6073 Add StagingWorkflow base
  src/api/app/controllers/webui/staging_workflows_controller.rb
  src/api/app/models/project.rb
  src/api/app/models/staging_workflow.rb
  src/api/db/migrate/20181008150453_create_staging_workflows.rb
  src/api/db/structure.sql
Labels: Frontend 👻

#6074 Add StagingWorkflow#show action with a basic layout
  src/api/app/controllers/webui/staging_workflows_controller.rb
  src/api/app/views/webui2/webui/project/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/project/_tabs.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_infos.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_legend.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_overall_state.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_packages_list.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_problems.html.haml
  src/api/app/views/webui2/webui/staging_workflows/show.html.haml
  src/api/config/routes.rb
Labels: Frontend 👻, review-app

#6082 Staging workflow
  src/api/app/controllers/webui/staging_workflows_controller.rb
  src/api/app/models/project.rb
  src/api/app/models/staging_workflow.rb
  src/api/app/views/webui2/webui/project/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/project/_tabs.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_infos.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_legend.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_overall_state.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_packages_list.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_problems.html.haml
  src/api/app/views/webui2/webui/staging_workflows/show.html.haml
  src/api/config/routes.rb
  src/api/db/migrate/20181008150453_create_staging_workflows.rb
  src/api/db/structure.sql
Labels: Frontend 👻

#6083 Revert "Staging workflow"
  src/api/app/controllers/webui/staging_workflows_controller.rb
  src/api/app/models/project.rb
  src/api/app/models/staging_workflow.rb
  src/api/app/views/webui2/webui/project/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/project/_tabs.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_infos.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_legend.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_overall_state.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_packages_list.html.haml
  src/api/app/views/webui2/webui/staging_workflows/_problems.html.haml
  src/api/app/views/webui2/webui/staging_workflows/show.html.haml
  src/api/config/routes.rb
  src/api/db/migrate/20181008150453_create_staging_workflows.rb
  src/api/db/structure.sql
Labels: Frontend 👻

#6036 Indicate inheritance of repositories
  src/api/.rubocop.yml
  src/api/app/assets/stylesheets/webui2/texts.scss
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/views/webui2/shared/_repositories.html.haml
  src/api/app/views/webui2/shared/_repositories_flag_table.html.haml
  src/api/app/views/webui2/shared/_repositories_flag_table_column.html.haml
  src/api/app/views/webui2/webui/package/binaries.html.haml
  src/api/app/views/webui2/webui/repositories/change_flag.js.haml
  src/api/app/views/webui2/webui/repositories/index.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6079 Fix more info in package error flash
  src/api/app/assets/javascripts/webui2/packages.js
  src/api/app/views/layouts/webui2/_flash.html.haml
Labels: Frontend 👻, review-app

#5851 Kiwi Editor Profiles
  src/api/app/assets/javascripts/webui/application/kiwi_editor.js
  src/api/app/controllers/webui/kiwi/images_controller.rb
  src/api/app/models/kiwi/image.rb
  src/api/app/models/kiwi/image/xml_builder.rb
  src/api/app/models/kiwi/image/xml_parser.rb
  src/api/app/models/kiwi/package_group.rb
  src/api/app/models/kiwi/preference.rb
  src/api/app/models/kiwi/profile.rb
  src/api/app/views/webui/kiwi/_tabs.html.erb
  src/api/app/views/webui/kiwi/images/_preferences.html.haml
  src/api/app/views/webui/kiwi/images/_profiles.html.haml
  src/api/app/views/webui/kiwi/images/edit.html.haml
  src/api/db/data/20171108123126_create_default_preferences_for_kiwi_images.rb
  src/api/db/migrate/20180911123709_create_kiwi_profiles.rb
  src/api/db/structure.sql
  src/api/spec/controllers/webui/kiwi/images_controller_spec.rb
  src/api/spec/factories/kiwi_image.rb
  src/api/spec/models/kiwi/image/xml_builder_spec.rb
  src/api/spec/models/kiwi/image_spec.rb
  src/api/spec/support/shared_contexts/a_kiwi_image_xml.rb
Labels: Frontend 👻, review-app

#6095 Fix package#revisions show all
  src/api/app/views/webui/package/revisions.html.erb
Labels: Frontend 👻

#6101 [dist] remove package obs-container-registry
  Makefile.include
  dist/Makefile
  dist/obs-apache24.conf
  dist/obs-container-registry.conf
  dist/obs-server.spec
  dist/setup-appliance.sh
  dist/t/osc/0200-check_docker_registry.ts
  src/backend/BSConfig.pm.template
Labels: Appliance :cd:

#6100 Change icons for flash messages in bootstrap
  src/api/app/views/layouts/webui2/_flash.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#4439 Container maintenance
  docs/api/api/api.txt
  src/api/.rubocop_todo.yml
  src/api/app/controllers/source_controller.rb
  src/api/app/models/binary_release.rb
  src/api/app/models/package.rb
  src/api/db/migrate/20180426074538_add_container_medium_tracking.rb
  src/api/db/structure.sql
  src/api/lib/xpath_engine.rb
  src/api/test/unit/binary_release.rb
  src/backend/BSSched/BuildJob/Patchinfo.pm
Labels: Backend 🤖, Frontend 👻

#5903 [api] support request pre-approval
  docs/api/api/api.txt
  docs/api/api/request.rng
  src/api/app/controllers/request_controller.rb
  src/api/app/jobs/accept_requests.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/db/migrate/20180924135535_request_approved.rb
  src/api/db/structure.sql
  src/api/test/functional/request_controller_test.rb
Labels: Frontend 👻

#6107 Remove wrong .references(:references) from scope
  src/api/app/models/bs_request.rb
Labels: Frontend 👻

#6106 Unassigned requests for StagingWorkflow
  src/api/app/models/bs_request.rb
  src/api/app/models/project.rb
  src/api/app/models/staging_workflow.rb
  src/api/db/migrate/20181016103905_add_staged_request_id_to_bs_requests.rb
  src/api/db/structure.sql
  src/api/spec/factories/project.rb
  src/api/spec/factories/staging_workflow.rb
  src/api/spec/models/staging_workflow_spec.rb
Labels: Frontend 👻

#6114 Implement buildid for unpublished repos
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/EventHandler.pm
  src/backend/bs_dispatch
  src/backend/bs_repserver
  src/backend/bs_sched
  src/backend/bs_srcserver
Labels: Backend 🤖

#6116 replace haveinterrepodep code with something more useful
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/ProjPacks.pm
  src/backend/BSSched/PublishRepo.pm
  src/backend/BSServer.pm
  src/backend/bs_sched
  src/backend/bs_srcserver
Labels: Backend 🤖

#6131 [backend] fix published search taking way too long in some cases if t…
  src/backend/BSXPathKeys.pm
Labels: Backend 🤖

#6117 Add method for retrieving free staging projects
  src/api/app/models/staging_workflow.rb
Labels: Frontend 👻

#6147 Suppress additional rpm output on package update
  dist/obs-server.spec
Labels: Packages :package:

#6128 Symlink assets to a common name
  dist/obs-server.spec
Labels: Frontend 👻

#6109 Staging workflow creation
  src/api/app/controllers/webui/staging_workflows_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/staging_workflow.rb
  src/api/app/policies/staging_workflow_policy.rb
  src/api/app/views/webui2/webui/project/_tabs.html.haml
  src/api/app/views/webui2/webui/staging_workflows/new.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/webui/staging_workflows_controller_spec.rb
  src/api/spec/factories/staging_workflow.rb
Labels: Frontend 👻, review-app

#6113 Add API endpoint for staged_requests
  src/api/app/controllers/staging_project/staged_requests_controller.rb
  src/api/app/controllers/staging_project_controller.rb
  src/api/app/views/staging_project/staged_requests/index.xml.builder
  src/api/config/routes.rb
  src/api/spec/controllers/staging_project/staged_requests_controller_spec.rb
Labels: Frontend 👻

#6149 Take container with the highest version/release if there is a conflict over a tag
  src/backend/BSContar.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSRepServer/Containertar.pm
Labels: Backend 🤖

#6140 Remove status_repository_publishes
  src/api/app/models/repository.rb
Labels: Frontend 👻

#6161 Fix icons for published build status
  src/api/app/helpers/webui/webui_helper.rb
Labels: Bootstrap :rocket:, Frontend 👻

#6162 Drop switch to bootstrap2 on request show page
  src/api/app/controllers/webui/projects/bs_requests_controller.rb
Labels: review-app
