Repository openSUSE/open-build-service, pull requests merged in 2018-03, with the labels that each got.

#4586 [ci] Add jshint rule: undef & camelcase
  src/api/.jshintrc
  src/api/app/assets/javascripts/webui/application/kiwi_editor.js
  src/api/app/assets/javascripts/webui/application/package.js
  src/api/app/assets/javascripts/webui/application/project.js
  src/api/app/assets/javascripts/webui/application/request.js
  src/api/app/controllers/webui/kiwi/images_controller.rb
  src/api/app/views/webui/kiwi/images/edit.html.haml
  src/api/app/views/webui/project/list.html.erb
  src/api/app/views/webui/project/subprojects.html.haml
  src/api/app/views/webui/user/show.html.haml
  src/api/spec/models/branch_package_spec.rb
Labels: Frontend 👻

#4613 [doc] Document current limitations of OBS Cloud uploader setups
  ReleaseNotes-2.9
Labels: 2.9

#4569 [doc] Add SUPPORT file
  SUPPORT.md
Labels: Documentation :book:

#4620 [ci] Fix flickering test - do not modify Configuration in test
  src/api/spec/features/webui/packages_spec.rb
Labels: Flickering :cyclone:, Frontend 👻, Test Suite :syringe:

#4614 Make rpmlint log downloadable
  src/api/app/controllers/webui/package_controller.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Frontend 👻

#4628 [frontend] Fix validation for ec2 ARN
  src/api/app/models/cloud/ec2/configuration.rb
  src/api/spec/models/cloud/ec2/configuration_spec.rb
Labels: Frontend 👻

#4626 Refactor webui controller
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/webui/monitor_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/layouts/webui/_personal_navigation.html.haml
  src/api/spec/helpers/webui/webui_helper_spec.rb
Labels: Frontend 👻

#4629 Add missing exception
  src/api/app/models/event/base.rb
Labels: Frontend 👻

#4630 Refactor user states
  .rubocop_todo.yml
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/models/user.rb
  src/api/app/views/webui/user/edit.html.haml
  src/api/db/seeds.rb
  src/api/spec/factories/users.rb
  src/api/spec/models/user_spec.rb
Labels: Frontend 👻

#4631 Refactor user controller
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/views/webui/user/_dropdown_menu.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/webui/user_controller_spec.rb
Labels: Frontend 👻

#4636 [frontend] Fix user states in seeds file
  src/api/db/seeds.rb
Labels: Frontend 👻

#4634 Remove required_parameter from ProjectController
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui/repositories/state.html.haml
  src/api/config/routes.rb
Labels: Frontend 👻, Refactoring :factory:

#4635 [frontend] Refactor sql query for checking for existance of any user
  src/api/app/views/webui/user/index.html.haml
Labels: Frontend 👻

#4640 Refactor Webui controller, part 4
  src/api/app/controllers/webui/attribute_controller.rb
  src/api/app/controllers/webui/main_controller.rb
  src/api/app/controllers/webui/monitor_controller.rb
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/views/webui/main/_delete_message_dialog.html.haml
  src/api/app/views/webui/monitor/_events.html.haml
  src/api/app/views/webui/patchinfo/_form.html.haml
  src/api/config/routes.rb
Labels: Frontend 👻, Refactoring :factory:

#4648 [frontend] Add LDAP migration and apply missing migrations
  src/api/app/models/configuration.rb
  src/api/app/models/linked_project.rb
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
  src/api/db/structure.sql
Labels: 2.9

#4638 Allow local users in LDAP mode
  src/api/app/controllers/person_controller.rb
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/models/configuration.rb
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
  src/api/app/views/models/_user.xml.builder
  src/api/app/views/webui/user/_dropdown_menu.html.haml
  src/api/app/views/webui/user/edit.html.haml
  src/api/app/views/webui/user/index.html.haml
  src/api/app/views/webui/user/show.html.haml
  src/api/db/migrate/20180307074538_add_local_user_flag.rb
  src/api/db/structure.sql
  src/api/spec/controllers/person_controller_spec.rb
  src/api/spec/controllers/webui/user_controller_spec.rb
  src/api/spec/models/configuration_spec.rb
  src/api/spec/models/user_spec.rb
Labels: Frontend 👻

#4637 Remove required_parameters from Package Controller
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/shared/_repositories_flag_table.html.haml
  src/api/app/views/webui/cloud/upload_jobs/index.html.haml
  src/api/app/views/webui/kiwi/images/_build_status.html.erb
  src/api/app/views/webui/package/_buildstatus.html.erb
  src/api/app/views/webui/package/binaries.html.erb
  src/api/app/views/webui/package/binary.html.erb
  src/api/app/views/webui/package/dependency.html.erb
  src/api/app/views/webui/package/statistics.html.erb
  src/api/app/views/webui/packages/build_reason/index.html.haml
  src/api/config/routes.rb
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_fails/lets_the_user_know_there_was_an_error.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_fails/redirects_to_the_package_binaries_path.yml
  src/api/spec/cassettes/Webui_PackageController/POST_wipe_binaries/when_wiping_binaries_fails/1_16_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_wipe_binaries/when_wiping_binaries_fails/lets_the_user_know_there_was_an_error.yml
  src/api/spec/cassettes/Webui_PackageController/POST_wipe_binaries/when_wiping_binaries_fails/redirects_to_package_binaries.yml
  src/api/spec/cassettes/Webui_PackageController/POST_wipe_binaries/when_wiping_binaries_succeeds/1_16_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_wipe_binaries/when_wiping_binaries_succeeds/1_16_2_2.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Frontend 👻, Refactoring :factory:

#4655 [frontend] Fix rubocop offense: RSpec/NotToNot
  .rubocop_todo.yml
  src/api/spec/controllers/person_controller_spec.rb
  src/api/spec/controllers/public_controller_spec.rb
  src/api/spec/controllers/webui/main_controller_spec.rb
  src/api/spec/controllers/webui/repositories_controller_spec.rb
  src/api/spec/controllers/webui/user_controller_spec.rb
  src/api/spec/helpers/validation_helper_spec.rb
  src/api/spec/helpers/webui/webui_helper_spec.rb
  src/api/spec/models/comment_spec.rb
  src/api/spec/models/package_spec.rb
  src/api/spec/models/user_spec.rb
  src/api/spec/routing/api_matcher_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#4652 Allow admin users to create local users in LDAP mode
  src/api/app/models/unregistered_user.rb
  src/api/spec/models/unregistered_user_spec.rb
Labels: Frontend 👻

#4644 Handling Azure credentials in a secure way
  src/api/app/controllers/webui/cloud/azure/configurations_controller.rb
  src/api/app/models/cloud/azure/configuration.rb
  src/api/app/models/user.rb
  src/api/app/views/webui/cloud/azure/configurations/show.html.haml
  src/api/app/views/webui/cloud/configurations/index.html.haml
  src/api/config/feature.yml
  src/api/config/routes.rb
  src/api/db/migrate/20180216082148_create_azure_configuration.rb
  src/api/db/structure.sql
  src/api/lib/backend/api/cloud.rb
  src/api/spec/cassettes/Webui_Cloud_Azure_ConfigurationsController/DELETE_destroy/1_3_1.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_ConfigurationsController/DELETE_destroy/1_3_2.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_ConfigurationsController/GET_show/with_Azure_configuration/1_1_2_1.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_ConfigurationsController/GET_show/without_Azure_configuration/creates_an_Azure_configuration.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_ConfigurationsController/PUT_update/with_invalid_parameters/1_2_2_1.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_ConfigurationsController/PUT_update/with_valid_parameters/1_2_1_1.yml
  src/api/spec/controllers/webui/cloud/azure/configurations_controller_spec.rb
  src/api/spec/factories/azure_configuration.rb
  src/api/spec/models/cloud/azure/configuration_spec.rb
  src/api/spec/support/files/cloudupload_public_key.txt
  src/api/spec/support/files/cloudupload_secret_key_tests.pem
  src/backend/docker-files/configurations.tar.bz2
Labels: Frontend 👻

#4664 Fix rpmlint_log routes
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/dependency.html.erb
  src/api/config/routes.rb
Labels: Frontend 👻

#4654 [webui] Change `resource` with `scope`
  src/api/config/routes.rb
Labels: Frontend 👻

#4641 Split tasks off the user show page
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/controllers/webui/users/tasks_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/views/layouts/webui/_personal_navigation.html.haml
  src/api/app/views/webui/user/show.html.haml
  src/api/app/views/webui/users/tasks/index.html.haml
  src/api/config/routes.rb
  src/api/spec/features/webui/users/user_home_page_spec.rb
Labels: Frontend 👻

#4663 Fix live build log
  src/api/app/assets/javascripts/webui/application.js.erb
  src/api/app/assets/javascripts/webui/application/live_build_log.js
  src/api/app/assets/javascripts/webui/application/package.js
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/live_build_log.html.erb
  src/api/app/views/webui/package/update_build_log.js.erb
  src/api/spec/cassettes/Packages/log/download_logfile_succesfully.yml
  src/api/spec/cassettes/Packages/log/live_build_finishes_succesfully.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/for_multibuild_package/1_14_2_4_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/for_multibuild_package/1_14_2_4_2.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/for_multibuild_package/1_14_2_4_3.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/for_multibuild_package/1_14_2_4_4.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/it_should_behave_like_build_log/successfully/1_14_2_1_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/it_should_behave_like_build_log/successfully_with_a_package_which_name_that_includes_/1_14_2_1_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/it_should_behave_like_build_log/successfully_with_a_project_which_name_that_includes_/1_14_2_1_3_1.yml
  src/api/spec/features/webui/packages_spec.rb
Labels: Frontend 👻, Refactoring :factory:

#4670 [frontend] Do not assign associations twice
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend 👻, Refactoring :factory:

#4673 [frontend] Do not assign associations twice (2)
  src/api/test/unit/package_remove_test.rb
  src/api/test/unit/project_remove_test.rb
Labels: Frontend 👻, Refactoring :factory:

#4650 Remove required_parameter from GroupController
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/views/webui/groups/edit.html.haml
  src/api/app/views/webui/groups/index.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/webui/groups_controller_spec.rb
Labels: Frontend 👻

#4680 [frontend] Validate version of kiwi images in the kiwi editor
  src/api/app/models/kiwi/image.rb
  src/api/app/models/kiwi/preference.rb
  src/api/spec/cassettes/ImageTemplates/branching/branch_Kiwi_image_template.yml
  src/api/spec/cassettes/Webui_Kiwi_ImagesController/GET_import_from_package/with_a_kiwi_file/with_source_path/with_obsrepository/redirect_to_kiwi_image_show.yml
  src/api/spec/factories/kiwi_preference.rb
  src/api/spec/factories/packages.rb
  src/api/spec/models/kiwi/image/xml_builder_spec.rb
  src/api/spec/models/kiwi/image_spec.rb
  src/api/spec/models/kiwi/preference_spec.rb
  src/api/spec/support/shared_contexts/a_kiwi_image_xml.rb
Labels: Frontend 👻

#4688 [frontend] Fix failed attempt to skip a test
  src/api/spec/features/webui/requests_spec.rb
Labels: Frontend 👻

#4685 [frontend] Drop halt_callback_chains_on_return_false
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/user.rb
  src/api/config/initializers/new_framework_defaults.rb
Labels: Frontend 👻

#4690 [frontend] Hide "Make user local" link when ignore_auth_services is true
  src/api/app/views/webui/user/_dropdown_menu.html.haml
Labels: Frontend 👻

#4676 [webui] Make login form clearly distinguishable from search form.
  src/api/app/assets/javascripts/webui/application/bento/script.js
  src/api/app/assets/stylesheets/webui/application/bento/base.scss
Labels: Frontend 👻

#4681 Replace User#get_by_login with a user policy
  .rubocop_todo.yml
  src/api/app/controllers/person_controller.rb
  src/api/app/controllers/trigger_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/user.rb
  src/api/app/policies/user_policy.rb
  src/api/spec/models/user_spec.rb
  src/api/spec/models/users/requests_spec.rb
  src/api/spec/policies/user_policy_spec.rb
  src/api/test/functional/person_controller_test.rb
  src/api/test/unit/user_test.rb
Labels: Frontend 👻

#4702 [webui] Fix encodings exception in event mailer
  src/api/app/views/event_mailer/_submit_action.text.erb
  src/api/spec/cassettes/EventMailer/_event/for_an_event_of_type_Event_Request/using_different_encodings/does_not_throw_an_incompatible_character_encodings_exception.yml
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend 👻

#4709 [frontend] Fix live build log when already started
  src/api/app/controllers/webui/package_controller.rb
Labels: Frontend 👻

#4705 [webui] Fix request review view for set bugowner
  src/api/app/models/bs_request.rb
  src/api/app/views/webui/request/show.html.erb
Labels: Frontend 👻

#4706 [frontend] Remove redundant assignment
  src/api/lib/opensuse/permission.rb
Labels: Frontend 👻

#4712 Backport loofah and sanitize gem
  src/api/Gemfile.lock
Labels: 2.9, Frontend 👻

#4710 Backport fix for live build log
  src/api/app/assets/javascripts/webui/application.js.erb
  src/api/app/assets/javascripts/webui/application/live_build_log.js
  src/api/app/assets/javascripts/webui/application/package.js
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/live_build_log.html.erb
  src/api/app/views/webui/package/update_build_log.js.erb
  src/api/spec/cassettes/Packages/log/download_logfile_succesfully.yml
  src/api/spec/cassettes/Packages/log/live_build_finishes_succesfully.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/for_multibuild_package/1_14_2_4_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/for_multibuild_package/1_14_2_4_2.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/for_multibuild_package/1_14_2_4_3.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/for_multibuild_package/1_14_2_4_4.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/it_should_behave_like_build_log/successfully/1_14_2_1_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/it_should_behave_like_build_log/successfully_with_a_package_which_name_that_includes_/1_14_2_1_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/it_should_behave_like_build_log/successfully_with_a_project_which_name_that_includes_/1_14_2_1_3_1.yml
  src/api/spec/features/webui/packages_spec.rb
Labels: 2.9, Frontend 👻

#4715 Cloud upload refactoring
  src/api/app/models/cloud/backend/upload_job.rb
  src/api/lib/backend/api/cloud.rb
Labels: Frontend 👻

#4703 [webui][api] Refactor RequestSourceDiff mixin
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/mixins/bs_request_action/differ.rb
  src/api/app/mixins/request_source_diff.rb
  src/api/app/models/bs_request_action/differ/for_source.rb
  src/api/app/models/bs_request_action/differ/query_builder.rb
  src/api/app/models/bs_request_action/differ/query_builder_for_accepted.rb
  src/api/app/models/bs_request_action/differ/source_package_finder.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/bs_request_action_maintenance_release.rb
  src/api/app/models/bs_request_action_submit.rb
  src/api/lib/backend/api/sources/package.rb
  src/api/spec/cassettes/BsRequestAction_Differ_ForSource/_perform/with_error/1_1_2_1.yml
  src/api/spec/cassettes/BsRequestAction_Differ_ForSource/_perform/with_not_accepted_requests/1_1_1_1.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/with_a_maintenance_release_target_project/1_1_1_5_1.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/with_a_maintenance_release_target_project/1_1_1_5_2.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/with_a_maintenance_release_target_project/1_1_1_5_3.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/with_a_target_releaseproject/1_1_1_4_1.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/with_a_target_releaseproject/1_1_1_4_2.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/with_options/1_1_1_2_1.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/with_options/1_1_1_2_2.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/with_options/1_1_1_2_3.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/with_target_package_and_project/1_1_1_1_1.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/with_target_package_and_project/1_1_1_1_2.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/with_target_package_and_project/1_1_1_1_3.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/with_target_package_and_project/1_1_1_1_4.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/with_target_package_and_project/1_1_1_1_5.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/with_target_package_and_project/1_1_1_1_6.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/with_target_package_and_project/1_1_1_1_7.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/without_a_target_package/1_1_1_3_1.yml
  src/api/spec/cassettes/BsRequestAction_Differ_QueryBuilder/_build/for_submit_action/without_a_target_package/1_1_1_3_2.yml
  src/api/spec/factories/bs_request_action_accept_info.rb
  src/api/spec/models/bs_request/differ/query_builder.rb
  src/api/spec/models/bs_request_action/differ/for_source_spec.rb
  src/api/spec/models/bs_request_action/differ/query_builder_for_accepted_spec.rb
  src/api/spec/models/bs_request_action/differ/query_builder_spec.rb
  src/api/spec/models/bs_request_action/differ/source_package_finder_spec.rb
Labels: Frontend 👻

#4716 [frontend] Fix repository autocompletion
  src/api/app/views/webui/repositories/new.html.haml
Labels: Frontend 👻

#4723 Update rails-html-sanitizer to version 1.0.4
  src/api/Gemfile.lock
Labels: 2.9, Frontend 👻

#4722 [ci] Enable eager_load for tests
  src/api/config/environments/test.rb
Labels: Frontend 👻

#4730 Cleanup package builds a bit
  src/api/script/api_test_in_spec.sh
  src/api/script/update_bento.sh
  src/api/test/fixtures/attrib_issues.yml
  src/api/test/fixtures/backend_infos.yml
  src/api/test/fixtures/bs_request_action_accept_infos.yml
  src/api/test/fixtures/channel_binaries.yml
  src/api/test/fixtures/channel_binary_lists.yml
  src/api/test/fixtures/channel_targets.yml
  src/api/test/fixtures/channels.yml
  src/api/test/fixtures/delayed_jobs.yml
  src/api/test/fixtures/download_repositories.yml
  src/api/test/fixtures/group_request_requests.yml
  src/api/test/fixtures/groups_roles.yml
  src/api/test/fixtures/incident_counter.yml
  src/api/test/fixtures/maintenance_incidents.yml
  src/api/test/fixtures/messages.yml
  src/api/test/fixtures/product_media.yml
  src/api/test/fixtures/product_update_repositories.yml
  src/api/test/fixtures/products.yml
  src/api/test/fixtures/ratings.yml
  src/api/test/fixtures/status_histories.yml
  src/api/test/fixtures/status_messages.yml
  src/api/test/fixtures/tokens.yml
  src/api/test/fixtures/updateinfo_counter.yml
  src/api/test/fixtures/user_registrations.yml
Labels: Frontend 👻, Packages :package:

#4714 [webui] Fix request review view for add role
  .rubocop_todo.yml
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/bs_request.rb
  src/api/app/views/webui/request/show.html.erb
  src/api/spec/features/webui/requests_spec.rb
  src/api/spec/helpers/webui/webui_helper_spec.rb
Labels: Frontend 👻

#4728 [webui] Rescue mail callbacks in EventMailer
  src/api/app/mailers/event_mailer.rb
Labels: Frontend 👻

#4735 [ci] Move require simplecov to the top of file
  src/api/spec/rails_helper.rb
Labels: Frontend 👻

#4732 [webui] Clarify what set_bugowner does
  src/api/app/helpers/webui/webui_helper.rb
  src/api/spec/helpers/webui/webui_helper_spec.rb
Labels: Frontend 👻

#4727 [ci] Set eager-load explicit
  dist/ci/travis_script.sh
  src/api/config/environments/test.rb
Labels: Frontend 👻

#4734 [webui] Add values of variables to exception
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend 👻

#4683 [frontend] Always present notification icon
  src/api/app/views/layouts/webui/_personal_navigation.html.haml
  src/api/spec/features/webui/login_spec.rb
  src/api/spec/features/webui/users/users_home_project_spec.rb
Labels: Frontend 👻

#4737 refactored list_users method
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/models/user.rb
  src/api/spec/controllers/webui/user_controller_spec.rb
  src/api/spec/models/user_spec.rb
Labels: Frontend 👻

#4608 [webui] increase contrast on default text
  src/api/app/assets/stylesheets/webui/application/bento/base.scss
Labels: Frontend 👻

#4721 Backport LDAP local user feature to 2.9 branch
  src/api/app/controllers/person_controller.rb
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/models/configuration.rb
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
  src/api/app/views/models/_user.xml.builder
  src/api/app/views/webui/user/_dropdown_menu.html.haml
  src/api/app/views/webui/user/edit.html.haml
  src/api/app/views/webui/user/index.html.haml
  src/api/app/views/webui/user/show.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/person_controller_spec.rb
  src/api/spec/controllers/webui/user_controller_spec.rb
  src/api/spec/models/configuration_spec.rb
  src/api/spec/models/unregistered_user_spec.rb
  src/api/spec/models/user_spec.rb
Labels: 2.9

#4743 [webui][ci] Add missing tests for action 'branch' in controller Webui::PackageController
  src/api/spec/cassettes/Webui_PackageController/POST_branch/shows_an_error_if_current_revision_parameter_is_provided_but_there_wasn_t_any_revision_before.yml
  src/api/spec/cassettes/Webui_PackageController/POST_branch/with_currrent_revision_parameter/1_4_8_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_branch/with_currrent_revision_parameter/redirects_to_the_branched_package.yml
  src/api/spec/cassettes/Webui_PackageController/POST_branch/with_target_package_name/1_4_7_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_branch/with_target_package_name/redirects_to_the_branched_package.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#4753 Bugfix rubocop update
  .rubocop.yml
  .rubocop_todo.yml
  .travis.yml
  src/api/lib/tasks/dev.rake
Labels: Frontend 👻

#4756 [frontend] Always link to users tasks view
  src/api/app/views/layouts/webui/_personal_navigation.html.haml
Labels: Frontend 👻

#4741 [webui][api] Implement diffs for superseded requests
  src/api/app/controllers/request_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action/differ/for_source.rb
  src/api/app/models/bs_request_action/differ/query_builder_for_superseded.rb
  src/api/app/views/webui/request/_superseded_by_message.html.erb
  src/api/app/views/webui/request/show.html.erb
  src/api/spec/cassettes/Webui_RequestController/GET_show/with_diff_to_superseded_set/and_the_superseded_request_is_not_superseded/1_3_7_2_1.yml
  src/api/spec/cassettes/Webui_RequestController/GET_show/with_diff_to_superseded_set/and_the_superseded_request_is_not_superseded/1_3_7_2_2.yml
  src/api/spec/cassettes/Webui_RequestController/GET_show/with_diff_to_superseded_set/and_the_superseded_request_is_superseded/1_3_7_1_1.yml
  src/api/spec/controllers/request_controller_spec.rb
  src/api/spec/controllers/webui/request_controller_spec.rb
  src/api/spec/models/bs_request_action/differ/for_source_spec.rb
  src/api/spec/models/bs_request_action/differ/query_builder_for_superseded_spec.rb
  src/api/spec/models/bs_request_action_spec.rb
Labels: Frontend 👻

#4739 [frontend] Add an API route to the cloud upload controller
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/cloud/upload_jobs_controller.rb
  src/api/app/models/cloud/backend/upload_job.rb
  src/api/config/routes.rb
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_find/with_Timeout_Error/1_2_3_1.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_find/with_an_invalid_backend_response/1_2_2_1.yml
  src/api/spec/controllers/cloud/upload_jobs_controller_spec.rb
  src/api/spec/models/cloud/backend/upload_job_spec.rb
Labels: Frontend 👻

#4498 Introduces ProjectLogEntry view
  src/api/app/assets/stylesheets/webui/application/project.scss
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/project_log_entry.rb
  src/api/app/views/webui/project/_tabs.html.erb
  src/api/app/views/webui/project/pulse.html.haml
  src/api/config/routes.rb
  src/api/db/data/20180214132015_project_log_entry_user_name.rb
Labels: Feature 💡, Frontend 👻

#4759 [frontend] Abort cloud uploads via API
  src/api/app/controllers/cloud/upload_jobs_controller.rb
  src/api/config/routes.rb
  src/api/spec/controllers/cloud/upload_jobs_controller_spec.rb
Labels: Frontend 👻

#4757 Move token related actions into separate controller and add tests
  src/api/app/controllers/person/token_controller.rb
  src/api/app/controllers/person_controller.rb
  src/api/app/views/person/token/create.xml.builder
  src/api/app/views/person/token/index.xml.builder
  src/api/config/routes.rb
  src/api/spec/controllers/person/token_controller_spec.rb
  src/api/spec/factories/tokens.rb
  src/api/spec/factories/users.rb
Labels: Frontend 👻

#4767 Update 2.9 releasenotes
  ReleaseNotes-2.9
  ReleaseNotes-2.9.1
  ReleaseNotes-2.9.2
Labels: 2.9
