Repository openSUSE/open-build-service, pull requests merged in 2018-07, with the labels that each got.

#5258 [backend] new env var OBS_SERVICE_DAEMON in bs_service
  src/backend/bs_service
  src/backend/call-service-in-docker.sh
Labels: Backend 🤖

#5214 [frontend] Adapt openQA job group version resolution for openSUSE Leap 15
  src/api/.rubocop_todo.yml
  src/api/app/helpers/webui/obs_factory/application_helper.rb
  src/api/app/models/obs_factory/distribution_strategy_opensuse.rb
  src/api/app/views/webui/obs_factory/distributions/show.html.haml
  src/api/spec/helpers/webui/obs_factory/application_helper_spec.rb
  src/api/spec/models/obs_factory/distribution_strategy_opensuse_spec.rb
Labels: Frontend 👻

#5251 Refactor binary_buildtime
  src/api/.rubocop_todo.yml
  src/api/app/models/binary_release.rb
Labels: Frontend 👻

#5267 [ci] Fix RSpec/FilePath offense
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/spec/controllers/webui/attribute_controller_spec.rb
  src/api/spec/controllers/webui/cloud/upload_job/logs_controller_spec.rb
  src/api/spec/controllers/webui/users/rss_tokens_controller_spec.rb
  src/api/spec/decorators/statistics/maintenance_statistic_decorator_spec.rb
  src/api/spec/helpers/webui/buildresult_helper_spec.rb
  src/api/spec/jobs/bs_request_action_webui_infos_job_spec.rb
  src/api/spec/jobs/create_project_log_entry_job_spec.rb
  src/api/spec/models/event/comment_for_project_spec.rb
  src/api/spec/models/project/image_template_spec.rb
  src/api/spec/script/db/checker_spec.rb
Labels: Frontend 👻

#5206 Staging dashboard: add backports-reviewers and security-team icons
  src/api/app/presenters/obs_factory/staging_project_presenter.rb
Labels: Frontend 👻

#5272 Feature/auto correct rubocop rake task
  .rubocop_todo.yml
  dist/obs_mirror_project
  src/api/lib/tasks/dev.rake
Labels: Frontend 👻

#5269 [frontend] Refactor parsing of openSUSE Leap version
  src/api/app/models/obs_factory/distribution_strategy_opensuse.rb
  src/api/spec/models/obs_factory/distribution_strategy_opensuse_spec.rb
Labels: Frontend 👻

#5252 Extend and add tests for factory models
  src/api/spec/factories/bs_requests.rb
  src/api/spec/models/obs_factory/distribution_spec.rb
  src/api/spec/models/obs_factory/distribution_strategy_factory_ppc_spec.rb
  src/api/spec/models/obs_factory/distribution_strategy_factory_spec.rb
  src/api/spec/models/obs_factory/distribution_strategy_sle15_spec.rb
  src/api/spec/support/shared_contexts/a_opensuse_product.rb
Labels: Frontend 👻, Test Suite :syringe:

#5254 Factory dashboard: remove ring2
  src/api/app/models/obs_factory/distribution_strategy_factory.rb
  src/api/app/models/obs_factory/staging_project.rb
  src/api/app/presenters/obs_factory/staging_project_presenter.rb
  src/api/app/views/webui/obs_factory/distributions/show.html.haml
  src/api/app/views/webui/obs_factory/staging_projects/_overall_state.html.haml
  src/api/app/views/webui/obs_factory/staging_projects/show.html.erb
  src/api/spec/models/obs_factory/distribution_spec.rb
  src/api/spec/models/obs_factory/distribution_strategy_factory_spec.rb
Labels: Bugfix :wrench:, Frontend 👻, review-app

#5280 [ci] Migrate kerberos spec to controller spec
  src/api/.rubocop_todo.yml
  src/api/spec/controllers/webui/session_controller_spec.rb
  src/api/spec/features/webui/login_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5263 support to track the image id for containers
  src/backend/BSContar.pm
  src/backend/BSCpio.pm
  src/backend/BSHTTP.pm
  src/backend/BSHandoff.pm
  src/backend/BSRPC.pm
  src/backend/BSRepServer/Containerinfo.pm
  src/backend/BSRepServer/Containertar.pm
  src/backend/BSSSL.pm
  src/backend/BSServer.pm
  src/backend/BSServerEvents.pm
  src/backend/BSTar.pm
  src/backend/BSUtil.pm
  src/backend/BSWatcher.pm
  src/backend/BSXML.pm
  src/backend/bs_srcserver
  src/backend/bs_worker
Labels: Backend 🤖

#5275 [webui] Add focus to reply comment textarea
  src/api/app/assets/javascripts/webui/application/comment.js
  src/api/app/views/webui/comment/_reply.html.haml
Labels: Bugfix :wrench:, Frontend 👻

#5284 [frontend] Switch from unicorn to puma as app server
  dist/obs-server.spec
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/config/unicorn/development.rb
Labels: Frontend 👻

#5274 [webui][api] Fix delete request diff for packages
  src/api/app/models/bs_request_action_delete.rb
  src/api/spec/cassettes/BsRequestActionDelete/_sourcediff/for_package/1_1_2_1.yml
  src/api/spec/cassettes/BsRequestActionDelete/_sourcediff/for_project/1_1_1_1.yml
  src/api/spec/cassettes/BsRequestActionDelete/_sourcediff/for_repository/1_1_3_1.yml
  src/api/spec/factories/bs_requests.rb
  src/api/spec/models/bs_request_action_delete_spec.rb
Labels: Bugfix :wrench:, Frontend 👻

#5257 [CI] Try with docker build OBS images
  .circleci/config.yml
Labels: Frontend 👻

#5282 [backend] fix implementation of genmetaalgo 1 in BSBuild
  src/backend/BSBuild.pm
Labels: Backend 🤖

#5285 [dist] Get the CI containers out of the dev environment
  CONTRIBUTING.md
Labels: Documentation :book:, Frontend 👻

#5248 [backend][frontend][ci] Fix typo in Cloudupload server error
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_all/with_an_invalid_backend_response/1_2_2_1.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_a_valid_backend_response/1_1_1_1.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_a_valid_backend_response/1_1_1_10.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_a_valid_backend_response/1_1_1_11.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_a_valid_backend_response/1_1_1_12.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_a_valid_backend_response/1_1_1_13.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_a_valid_backend_response/1_1_1_14.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_a_valid_backend_response/1_1_1_2.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_a_valid_backend_response/1_1_1_3.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_a_valid_backend_response/1_1_1_4.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_a_valid_backend_response/1_1_1_5.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_a_valid_backend_response/1_1_1_6.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_a_valid_backend_response/1_1_1_7.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_a_valid_backend_response/1_1_1_8.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_a_valid_backend_response/1_1_1_9.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_an_invalid_backend_response/1_1_2_1.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_an_invalid_backend_response/1_1_2_2.yml
  src/api/spec/cassettes/Cloud_Backend_UploadJob/_create/with_an_invalid_backend_response/has_the_correct_error_message.yml
  src/api/spec/cassettes/Cloud_UploadJob/_create/with_an_invalid_Backend_UploadJob/1_1_2_1.yml
  src/api/spec/cassettes/Cloud_UploadJob/_create/with_an_invalid_Backend_UploadJob/1_2_2_1.yml
  src/api/spec/cassettes/Cloud_UploadJob/_create/with_an_invalid_Backend_UploadJob/has_the_correct_error_message.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_UploadJobsController/POST_create/with_a_backend_response/1_2_3_1.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_UploadJobsController/POST_create/with_a_backend_response/1_2_3_2.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_UploadJobsController/POST_create/with_a_backend_response/1_2_3_3.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_UploadJobsController/POST_create/with_a_backend_response/1_2_3_4.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_UploadJobsController/POST_create/with_a_backend_response/1_2_3_5.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_UploadJobsController/POST_create/without_backend_configured/1_2_1_1.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_UploadJobsController/POST_create/without_backend_configured/1_2_1_2.yml
  src/api/spec/cassettes/Webui_Cloud_Ec2_UploadJobsController/POST_create/without_backend_configured/1_2_1_1.yml
  src/api/spec/cassettes/Webui_Cloud_Ec2_UploadJobsController/POST_create/without_backend_configured/1_2_1_2.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJob_LogsController/_show/with_cloud_upload_feature_enabled/with_an_EC2_configuration/and_an_upload_job/1_1_1_2_1_1.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJob_LogsController/_show/with_cloud_upload_feature_enabled/with_an_EC2_configuration/and_an_upload_job/1_1_1_2_1_2.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/POST_create/with_a_backend_response/1_3_2_1.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/POST_create/with_a_backend_response/1_3_2_2.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/POST_create/with_a_backend_response/1_3_2_3.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/POST_create/with_a_backend_response/1_3_2_4.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/POST_create/with_a_backend_response/1_3_2_5.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/POST_create/with_a_backend_response/1_3_3_1.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/POST_create/with_a_backend_response/1_3_3_2.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/POST_create/with_a_backend_response/1_3_3_3.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/POST_create/with_a_backend_response/1_3_3_4.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/POST_create/with_a_backend_response/1_3_3_5.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/POST_create/without_backend_configured/1_3_1_1.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/POST_create/without_backend_configured/1_3_1_2.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/POST_create/without_backend_response/1_3_1_1.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/POST_create/without_backend_response/1_3_1_2.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/src/api/spec/_index/with_cloud_upload_feature_enabled/with_an_EC2_configuration/1_1_1_2_1.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/src/api/spec/_index/with_cloud_upload_feature_enabled/with_an_EC2_configuration/1_1_1_2_2.yml
  src/api/spec/cassettes/Webui_Cloud_UploadJobsController/src/api/spec/_index/with_cloud_upload_feature_enabled/with_an_EC2_configuration/1_1_1_2_3.yml
  src/api/spec/controllers/webui/cloud/azure/upload_jobs_controller_spec.rb
  src/api/spec/controllers/webui/cloud/ec2/upload_jobs_controller_spec.rb
  src/api/spec/models/cloud/backend/upload_job_spec.rb
  src/api/spec/models/cloud/upload_job_spec.rb
  src/backend/bs_srcserver
Labels: Backend 🤖

#5286 [ci] Move 2 more login specs from feature to controller spec
  src/api/spec/controllers/webui/session_controller_spec.rb
  src/api/spec/features/webui/login_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5299 Add Saray, Victor and Dany to .gitmessage
  .gitmessage
Labels: Frontend 👻

#5307 [ci] Expect the icon size instead of the PNG data size
  src/api/spec/controllers/webui/user_controller_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5304 [webui] Reflect renaming of files in submit requests
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/views/shared/_sourcediff.html.haml
  src/api/spec/helpers/webui/request_helper_spec.rb
Labels: Bugfix :wrench:, Frontend 👻

#5301 Remove unreachable code
  src/api/app/controllers/webui/user_controller.rb
Labels: Frontend 👻

#5309 Fix published_version and add some tests for strategy
  src/api/app/models/obs_factory/distribution_strategy_factory.rb
  src/api/app/models/obs_factory/distribution_strategy_opensuse.rb
  src/api/spec/models/obs_factory/distribution_strategy_factory_spec.rb
  src/api/spec/models/obs_factory/distribution_strategy_opensuse_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5281 [webui] refactoring request_controller and improve spec coverage
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request.rb
  src/api/spec/cassettes/Webui_RequestController/POST_set_bugowner_request/with_valid_parameters/1_7_1_3.yml
  src/api/spec/controllers/webui/request_controller_spec.rb
  src/api/spec/models/bs_request_spec.rb
Labels: Frontend 👻, Refactoring :factory:

#5324 [webui] Use project name instead of id
  src/api/app/views/webui/obs_factory/staging_projects/_overall_state.html.haml
Labels: Bugfix :wrench:, Frontend 👻

#5306 [ci] Re-add codecov configuration
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/spec/support/coverage.rb
  src/api/test/test_helper.rb
Labels: Frontend 👻, Test Suite :syringe:

#5325 Create tests for gravatar_image in User model
  src/api/app/models/user.rb
  src/api/spec/models/user_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5335 [frontend] Fix deprecation warnings for raw sql
  src/api/app/mixins/has_relationships.rb
  src/api/app/models/relationship.rb
Labels: Frontend 👻

#5318 [ci] Fix project_spec to work on fresh backend
  src/api/spec/cassettes/Project/_restore/sets_the_user_that_restored_the_project_in_the_history_element.yml
  src/api/spec/models/project_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5333 [ci] Relax rspec dependency
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend 👻, Test Suite :syringe:

#5295 [frontend] Fix update on attribute types
  src/api/app/controllers/attribute_controller.rb
  src/api/spec/controllers/attribute_controller_spec.rb
Labels: Bugfix :wrench:, Frontend 👻

#5315 Rewrite icon action test in user controller
  src/api/spec/controllers/webui/user_controller_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5352 [frontend] Remove icon action and merge into helper
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/user.rb
  src/api/app/views/webui/package/_commit_item.html.erb
  src/api/app/views/webui/user/show.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/webui/user_controller_spec.rb
  src/api/spec/helpers/webui/search_helper_spec.rb
  src/api/spec/helpers/webui/user_helper_spec.rb
  src/api/spec/helpers/webui/webui_helper_spec.rb
  src/api/spec/models/user_spec.rb
  src/api/test/unit/user_test.rb
Labels: Frontend 👻

#5366 Tests for subproject relations
  src/api/app/models/project.rb
  src/api/spec/models/project/subprojects_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5377 [ci] Do not report indivual coverage reports but merge manually
  .circleci/config.yml
  codecov.yml
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/lib/tasks/coverage.rake
  src/api/spec/support/coverage.rb
  src/api/test/test_helper.rb
Labels: Test Suite :syringe:

#5367 Move a little more tests between the minitest groups on circleci
  .circleci/config.yml
  src/api/lib/tasks/test_webui.rake
Labels: Test Suite :syringe:

#5378 Cherry pick some fixes
  src/api/spec/models/attrib_value_spec.rb
  src/api/spec/models/branch_package_spec.rb
  src/api/spec/models/project_spec.rb
  src/api/test/unit/project_test.rb
Labels: Test Suite :syringe:

#5326 [api] Implement webhooks
  src/api/app/controllers/services/webhooks_controller.rb
  src/api/app/models/token/service.rb
  src/api/app/views/person/token/create.xml.builder
  src/api/config/routes.rb
  src/api/spec/cassettes/Services_WebhooksController/_create/with_HTTP_X-Pagure-Signature-256_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_1_3_1_1_1.yml
  src/api/spec/cassettes/Services_WebhooksController/_create/with_HTTP_X_HUB_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_1_2_1_1_1.yml
  src/api/spec/cassettes/Services_WebhooksController/_create/with_HTTP_X_OBS_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_1_1_1_1_1.yml
  src/api/spec/controllers/services/webhooks_controller_spec.rb
  src/api/spec/factories/tokens.rb
  src/api/spec/models/token/service_spec.rb
Labels: Frontend 👻, review-app

#5346 [backend] Services do not inherit proxy information
  src/backend/bs_service
Labels: Backend 🤖

#5195 Drop phantomjs and run against selenium container with chrome
  .travis.yml
  Rakefile
  dist/obs-server.spec
  docker-compose.ci.yml
  docker-compose.selenium.yml
  docker-files/base/docker-bootstrap.sh
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/javascripts/webui/application/image_templates.js
  src/api/app/views/webui/image_templates/index.html.haml
  src/api/spec/cassettes/Projects/locked_projects/fail_to_unlock.yml
  src/api/spec/cassettes/Projects/locked_projects/unlock.yml
  src/api/spec/cassettes/Sign_up/User.yml
  src/api/spec/features/webui/image_templates_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/features/webui/projects_spec.rb
  src/api/spec/features/webui/sign_up_spec.rb
  src/api/spec/support/capybara.rb
  src/api/spec/support/vcr.rb
Labels: Test Suite :syringe:

#5322 Extend model tests for staging_project
  src/api/.rubocop_todo.yml
  src/api/spec/models/obs_factory/staging_project_spec.rb
  src/api/spec/support/shared_contexts/a_staging_project_with_description.rb
  src/api/spec/support/shared_contexts/a_summary_response.rb
Labels: Frontend 👻, Test Suite :syringe:

#5385 Fix definition of search indexes
  src/api/app/indices/package_index.rb
  src/api/app/indices/project_index.rb
Labels: Frontend 👻

#5384 Openqa api tests
  src/api/app/models/obs_factory/openqa_api.rb
  src/api/spec/models/obs_factory/openqa_api_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5391 [CI] Add tests for ObsProject model
  src/api/spec/models/obs_factory/obs_project_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5395 Add title field in search results
  src/api/app/views/webui/search/_results.html.haml
Labels: Frontend 👻

#5313 Add tests for distribution strategy casp model
  src/api/app/models/obs_factory/distribution_strategy_casp.rb
  src/api/spec/models/obs_factory/distribution_strategy_casp_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5398 Fix template_path in staging_project show view
  src/api/app/views/webui/obs_factory/staging_projects/show.html.erb
Labels: Frontend 👻

#5412 Add tests for DistributionStrategySLE12SP1 model
  src/api/spec/models/obs_factory/distribution_strategy_sle12_sp1_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5407 Test obs factory controllers (Distribution and Staging Project)
  src/api/spec/controllers/webui/obs_factory/distributions_controller_spec.rb
  src/api/spec/controllers/webui/obs_factory/staging_projects_controller_spec.rb
  src/api/spec/factories/bs_requests.rb
Labels: Frontend 👻, Test Suite :syringe:

#5427 Add tests for DistributionStrategyFactory#project_iso
  src/api/spec/models/obs_factory/distribution_strategy_factory_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5434 [ci] Don't reseed the database on every test start
  src/api/spec/support/database_cleaner.rb
Labels: Test Suite :syringe:

#5433 [ci] Don't spam the rspec progress with puma startup
  src/api/spec/support/capybara.rb
Labels: Test Suite :syringe:

#5432 [frontend] Make baseclass of Factory controllers explicit
  src/api/app/controllers/webui/obs_factory/distributions_controller.rb
  src/api/app/controllers/webui/obs_factory/staging_projects_controller.rb
Labels: Flickering :cyclone:, Frontend 👻, Test Suite :syringe:

#5429 [ci] Remove skip from 'editing an existing file'
  src/api/spec/cassettes/Packages/editing_package_files/editing_an_existing_file.yml
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5440 Move obs factory request into bs request model
  src/api/app/controllers/webui/obs_factory/staging_projects_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/obs_factory/distribution.rb
  src/api/app/models/obs_factory/request.rb
  src/api/app/models/obs_factory/staging_project.rb
  src/api/app/presenters/obs_factory/staging_project_presenter.rb
  src/api/spec/controllers/webui/obs_factory/distributions_controller_spec.rb
  src/api/spec/controllers/webui/obs_factory/staging_projects_controller_spec.rb
  src/api/spec/models/obs_factory/distribution_spec.rb
  src/api/spec/models/obs_factory/staging_project_spec.rb
Labels: Frontend 👻

#5437 [ci] Silence migration tests
  src/api/spec/rails_helper.rb
  src/api/spec/support/migration.rb
Labels: Frontend 👻, Test Suite :syringe:

#5374 [api] refactoring source controller project/package/meta
  src/api/app/controllers/source_attribute_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_project_config_controller.rb
  src/api/app/controllers/source_project_meta_controller.rb
  src/api/app/controllers/source_project_package_meta_controller.rb
  src/api/app/policies/project_policy.rb
  src/api/config/routes.rb
  src/api/spec/cassettes/SourceAttributeController/DELETE_delete/1_3_1.yml
  src/api/spec/cassettes/SourceAttributeController/DELETE_delete/with_invalid_user/1_3_2_1.yml
  src/api/spec/cassettes/SourceAttributeController/DELETE_delete/with_invalid_user/1_3_2_2.yml
  src/api/spec/cassettes/SourceAttributeController/DELETE_delete/with_invalid_user/gives_the_right_status_code.yml
  src/api/spec/cassettes/SourceAttributeController/GET_show/filters_only_the_specified_attribute.yml
  src/api/spec/cassettes/SourceAttributeController/PUT_update/update_a_valid_attribute/1_2_1_1.yml
  src/api/spec/cassettes/SourceAttributeController/PUT_update/update_invalid_attribute/1_2_2_1.yml
  src/api/spec/cassettes/SourceProjectConfigController/PUT_update/we_are_updating_the__config_file/1_2_3_1.yml
  src/api/spec/cassettes/SourceProjectConfigController/PUT_update/we_are_updating_the__config_file/1_2_3_2.yml
  src/api/spec/cassettes/SourceProjectMetaController/PUT_update/1_2_1.yml
  src/api/spec/cassettes/SourceProjectMetaController/PUT_update/1_2_2.yml
  src/api/spec/cassettes/SourceProjectPackageMetaController/GET_show/1_1_1.yml
  src/api/spec/cassettes/SourceProjectPackageMetaController/PUT_update/1_2_1.yml
  src/api/spec/cassettes/SourceProjectPackageMetaController/PUT_update/bad_XML/1_2_2_1.yml
  src/api/spec/cassettes/SourceProjectPackageMetaController/PUT_update/bad_XML/1_2_2_2.yml
  src/api/spec/controllers/source_attribute_controller_spec.rb
  src/api/spec/controllers/source_project_config_controller_spec.rb
  src/api/spec/controllers/source_project_meta_controller_spec.rb
  src/api/spec/controllers/source_project_package_meta_controller_spec.rb
  src/api/test/functional/interconnect_test.rb
  src/api/test/functional/read_permission_test.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/functional/statistics_controller_test.rb
Labels: Frontend 👻

#5446 Fix wrong variable names used in staging dashboard
  src/api/app/controllers/webui/obs_factory/staging_projects_controller.rb
  src/api/app/views/webui/obs_factory/staging_projects/_infos.html.haml
Labels: Frontend 👻, Monkey Patched :see_no_evil:

#5448 Use BsRequest instead of Request
  src/api/app/views/webui/obs_factory/requests/_request.html.erb
Labels: Frontend 👻

#5423 Update request creation in webui controller
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request.rb
  src/api/spec/models/bs_request_spec.rb
Labels: Frontend 👻

#5415 Style main in bootstrap
  src/api/app/assets/javascripts/webui2/application.js
  src/api/app/assets/javascripts/webui2/plotbusyworkers.js
  src/api/app/controllers/webui/main_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/helpers/webui/main_helper.rb
  src/api/app/helpers/webui/status_message_helper.rb
  src/api/app/views/layouts/webui2/_logged_in_user_navigation.html.haml
  src/api/app/views/layouts/webui2/_personal_navigation.html.haml
  src/api/app/views/layouts/webui2/_proxy_auth_navigation.html.haml
  src/api/app/views/layouts/webui2/webui.html.haml
  src/api/app/views/webui2/status_messages/_card.html.haml
  src/api/app/views/webui2/webui/main/_add_status_message_modal.html.haml
  src/api/app/views/webui2/webui/main/_admin_proceed-list.html.haml
  src/api/app/views/webui2/webui/main/_latest_updates.html.haml
  src/api/app/views/webui2/webui/main/_proceed-list.html.haml
  src/api/app/views/webui2/webui/main/_sponsors.html.haml
  src/api/app/views/webui2/webui/main/_status_messages.html.haml
  src/api/app/views/webui2/webui/main/_systemstatus.html.haml
  src/api/app/views/webui2/webui/main/_user_proceed-list.html.haml
  src/api/app/views/webui2/webui/main/about.html.haml
  src/api/app/views/webui2/webui/main/index.html.haml
  src/api/spec/features/webui/image_templates_spec.rb
Labels: Frontend 👻, review-app

#5457 Fix link 2 9
  ReleaseNotes-2.9.4
  src/api/Gemfile.lock
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_submit.rb
  src/api/app/models/user.rb
  src/api/spec/cassettes/RequestController/_global_command_cmd_create_/requesting_creation_of_a_source_project_that_has_a_project_link_that_is_not_owned_by_the_requester/prohibits_creation_of_request.yml
  src/api/spec/cassettes/Requests/decline/does_not_set_the_sourceupdate.yml
  src/api/spec/controllers/request_controller_spec.rb
  src/api/spec/factories/attribs.rb
  src/api/spec/factories/project.rb
  src/api/spec/support/shared_contexts/a_bsrequest_that_has_a_project_link.rb
Labels: 2.9, Frontend 👻

#5444 implement erasing of deleted containers
  src/backend/bs_notar
  src/backend/bs_publish
  src/backend/bs_sched
Labels: Backend 🤖

#5400 [webui] Trim carriage return characters from attribute values
  src/api/app/models/attrib_value.rb
  src/api/spec/features/webui/attributes_spec.rb
Labels: Bug :skull:, Frontend 👻

#5462 Tests for request model
  src/api/app/models/bs_request.rb
  src/api/app/models/obs_factory/staging_project.rb
  src/api/app/presenters/obs_factory/staging_project_presenter.rb
Labels: Frontend 👻

#5478 Convert nil to string for links in datatable
  src/api/app/helpers/webui/webui_helper.rb
Labels: Frontend 👻, Monkey Patched :see_no_evil:

#5443 Add missing tests for Distribution model
  src/api/spec/models/obs_factory/distribution_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5482 Refactor casp and factory strategies models
  src/api/app/models/obs_factory/distribution_strategy_casp.rb
  src/api/app/models/obs_factory/distribution_strategy_factory.rb
Labels: Frontend 👻, Refactoring :factory:

#5479 Refactor slightly OpenqaApi model
  src/api/app/models/obs_factory/openqa_api.rb
Labels: Frontend 👻, Refactoring :factory:

#5484 Tests and some refactoring for obs factory request query methods
  src/api/app/models/bs_request.rb
  src/api/spec/models/bs_request_spec.rb
  src/api/spec/support/shared_contexts/a_bs_request_with_reviews.rb
Labels: Frontend 👻

#5419 [frontend] Store comments.body as utf8mb4
  ReleaseNotes-2.10
  src/api/.rubocop.yml
  src/api/config/database.yml.example
  src/api/db/migrate/20140624101042_add_package_tracking.rb
  src/api/db/migrate/20140627071042_product_media_tracking.rb
  src/api/db/migrate/20140709071042_product_medium_tracking.rb
  src/api/db/migrate/20140717101042_add_updateinfo_tracking.rb
  src/api/db/migrate/20140729101042_updateinfo_tracking_second_attempt.rb
  src/api/db/migrate/20140801071042_product_version_tracking.rb
  src/api/db/migrate/20140903125426_add_generic_operation_history.rb
  src/api/db/migrate/20141110105426_fix_product_media_uniq_index.rb
  src/api/db/migrate/20170306084558_change_repositories_remote_project_name_to_not_null.rb
  src/api/db/migrate/20170619111734_alter_notifications_to_use_polymorphic.rb
  src/api/db/migrate/20171218160607_create_ec2_configuration.rb
  src/api/db/migrate/20180720082742_switch_to_utf8mb4.rb
  src/api/db/structure.sql
  src/api/script/api_test_in_spec.sh
  src/api/spec/models/comment_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#5476 Modify Bootstrap version of main#index
  src/api/app/assets/stylesheets/webui2/breadcrumbs-component.scss
  src/api/app/assets/stylesheets/webui2/card-component.scss
  src/api/app/assets/stylesheets/webui2/colors.scss
  src/api/app/assets/stylesheets/webui2/icons.scss
  src/api/app/assets/stylesheets/webui2/list-group-item-integrated.scss
  src/api/app/assets/stylesheets/webui2/personal-navigation.scss
  src/api/app/assets/stylesheets/webui2/sticky-footer.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/helpers/webui/status_message_helper.rb
  src/api/app/views/layouts/webui2/_breadcrumbs.html.haml
  src/api/app/views/layouts/webui2/_personal_navigation.html.haml
  src/api/app/views/layouts/webui2/_proxy_auth_navigation.html.haml
  src/api/app/views/layouts/webui2/webui.html.haml
  src/api/app/views/webui2/shared/_sign_up.html.haml
  src/api/app/views/webui2/status_messages/_card.html.haml
  src/api/app/views/webui2/status_messages/_item.html.haml
  src/api/app/views/webui2/webui/main/_admin_proceed-list.html.haml
  src/api/app/views/webui2/webui/main/_latest_updates.html.haml
  src/api/app/views/webui2/webui/main/_proceed-list.html.haml
  src/api/app/views/webui2/webui/main/_sponsors.html.haml
  src/api/app/views/webui2/webui/main/_status_messages.html.haml
  src/api/app/views/webui2/webui/main/_systemstatus.html.haml
  src/api/app/views/webui2/webui/main/_user_proceed-list.html.haml
  src/api/app/views/webui2/webui/main/index.html.haml
Labels: Frontend 👻, review-app

#5490 Fix link to pull request instructions on CONTRIBUTING page
  CONTRIBUTING.md
Labels: Frontend 👻

#5487 Fix RuboCop offenses in obs_factory
  src/api/.rubocop_todo.yml
  src/api/app/models/obs_factory/distribution.rb
  src/api/app/presenters/obs_factory/obs_project_presenter.rb
  src/api/app/presenters/obs_factory/staging_project_presenter.rb
  src/api/spec/factories/attrib_default_values.rb
  src/api/spec/factories/issue.rb
  src/api/spec/factories/issue_tracker.rb
Labels: Frontend 👻, Test Suite :syringe:

#5497 Fix RuboCop offenses in obs_factory (II)
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/obs_factory/staging_projects_controller.rb
  src/api/app/models/obs_factory/distribution.rb
  src/api/app/models/obs_factory/distribution_strategy_casp.rb
  src/api/app/models/obs_factory/distribution_strategy_factory_ppc.rb
  src/api/app/models/obs_factory/distribution_strategy_sle12_sp1.rb
  src/api/app/models/obs_factory/distribution_strategy_sle15.rb
  src/api/app/models/obs_factory/obs_project.rb
  src/api/app/models/obs_factory/openqa_api.rb
  src/api/app/models/obs_factory/openqa_job.rb
  src/api/app/presenters/obs_factory/obs_project_presenter.rb
  src/api/app/presenters/obs_factory/staging_project_presenter.rb
Labels: Frontend 👻, Test Suite :syringe:

#5485 Split rspec test suite into its own spec file
  dist/obs-api-testsuite-rspec.spec
  dist/obs-bundled-gems.spec
  dist/obs-server.spec
  src/api/Makefile
  src/api/script/api_minitest.sh
  src/api/script/prepare_spec_tests.sh
Labels: Packages :package:, Refactoring :factory:

#5501 Implement a local registry
  src/backend/BSContar.pm
  src/backend/BSPublisher/Blobstore.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/BSSrcServer/Registry.pm
  src/backend/BSVerify.pm
  src/backend/BSXML.pm
  src/backend/bs_publish
  src/backend/bs_regpush
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Backend 🤖

#5502 Fix search box in the main navigation bar
  src/api/app/views/layouts/webui2/_search.html.haml
Labels: Bug :skull:, Frontend 👻

#5507 Cover json format for staging controller
  src/api/app/models/bs_request.rb
  src/api/spec/cassettes/Webui_ObsFactory_StagingProjectsController/GET_index/requesting_json/1_1_3_1.yml
  src/api/spec/cassettes/Webui_ObsFactory_StagingProjectsController/GET_index/requesting_json/responds_with_a_json_representation_of_the_staging_project.yml
  src/api/spec/cassettes/Webui_ObsFactory_StagingProjectsController/GET_show/with_a_existent_factory_staging_project/1_2_1_1.yml
  src/api/spec/cassettes/Webui_ObsFactory_StagingProjectsController/GET_show/with_a_existent_factory_staging_project/1_2_1_2.yml
  src/api/spec/cassettes/Webui_ObsFactory_StagingProjectsController/GET_show/with_a_existent_factory_staging_project/requesting_html/1_2_1_1_1.yml
  src/api/spec/cassettes/Webui_ObsFactory_StagingProjectsController/GET_show/with_a_existent_factory_staging_project/requesting_html/1_2_1_1_2.yml
  src/api/spec/cassettes/Webui_ObsFactory_StagingProjectsController/GET_show/with_a_existent_factory_staging_project/requesting_json/1_2_1_2_1.yml
  src/api/spec/cassettes/Webui_ObsFactory_StagingProjectsController/GET_show/with_a_existent_factory_staging_project/requesting_json/responds_with_a_json_representation_of_the_staging_project.yml
  src/api/spec/cassettes/Webui_ObsFactory_StagingProjectsController/GET_show/with_a_non-existent_factory_staging_project/1_2_2_1.yml
  src/api/spec/cassettes/Webui_ObsFactory_StagingProjectsController/GET_show/with_a_non-existent_factory_staging_project/1_2_2_2.yml
  src/api/spec/controllers/webui/obs_factory/staging_projects_controller_spec.rb
  src/api/spec/models/bs_request_spec.rb
Labels: Frontend 👻

#5517 Solve Security/YAMLLoad cop
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/obs_factory/staging_projects_controller.rb
Labels: Frontend 👻, Monkey Patched :see_no_evil:

#5520 Use the Rspec's one liner syntax where possible
  src/api/spec/controllers/webui/obs_factory/staging_projects_controller_spec.rb
  src/api/spec/models/bs_request_spec.rb
Labels: Frontend 👻
