Repository openSUSE/open-build-service, pull requests merged in 2019-03, with the labels that each got.

#7059 Use serverside pagination for rendering projects on the subproject tab
  src/api/app/assets/javascripts/webui2/project.js
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui2/project_controller.rb
  src/api/app/datatables/project_datatable.rb
  src/api/app/models/project.rb
  src/api/app/views/webui2/webui/project/_projects_table.html.haml
  src/api/app/views/webui2/webui/project/subprojects.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7081 Migrate user configuration view to bootstrap
  src/api/app/views/webui2/webui/user/index.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7084 Use correct exception when a record can not be found
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/build_reason_controller.rb
  src/api/app/controllers/webui/packages/job_history_controller.rb
  src/api/app/controllers/webui/projects/project_configuration_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/controllers/webui/projects/project_configuration_controller_spec.rb
Labels: Frontend 👻

#6922 [api] support releasing into maintenance_release without incident pro…
  src/api/app/controllers/source_controller.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/spec/cassettes/Package/_release_target_name/when_package_belongs_to_a_maintenance_incident/adds_the_project_basename_as_suffix.yml
  src/api/spec/cassettes/Project/_do_project_release/uses_the_package_s_release_target_name_when_releasing_the_package.yml
  src/api/spec/models/package_spec.rb
  src/api/spec/models/project_spec.rb
Labels: P2

#7085 Add tests for user configuration tab for new UI
  src/api/spec/bootstrap/features/webui/users/admin_configuration_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻, Test Suite :syringe:

#7096 Remove duplicated container from user tasks view
  src/api/app/views/webui2/webui/users/tasks/index.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7068 Migrate announcement to Bootstrap
  src/api/app/assets/stylesheets/webui/application/announcements.scss
  src/api/app/assets/stylesheets/webui2/flash.scss
  src/api/app/controllers/webui/announcements_controller.rb
  src/api/app/controllers/webui/users/announcements_controller.rb
  src/api/app/views/layouts/webui2/_announcement.html.haml
  src/api/app/views/layouts/webui2/webui.html.haml
  src/api/app/views/webui2/webui/announcements/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/announcements/show.html.haml
  src/api/app/views/webui2/webui/users/announcements/create.js.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7078 Adjust text of submit tags depending on the context
  src/api/app/views/webui2/shared/_dialog_action_buttons.html.haml
  src/api/app/views/webui2/webui/package/_edit_dialog.html.haml
  src/api/app/views/webui2/webui/package/_submit_request_dialog.html.haml
  src/api/app/views/webui2/webui/project/_edit_project_dialog.html.haml
  src/api/app/views/webui2/webui/project/_new_package_modal.html.haml
  src/api/app/views/webui2/webui/project/_project_submit_update_dialog.html.haml
  src/api/app/views/webui2/webui/repositories/_edit_repository_modal.html.haml
  src/api/app/views/webui2/webui/repositories/_request_delete_repository_modal.html.haml
  src/api/app/views/webui2/webui/request/_add_role_request_dialog.html.haml
  src/api/app/views/webui2/webui/request/_change_devel_request_dialog.html.haml
  src/api/app/views/webui2/webui/request/_delete_request_dialog.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_create_staging_project.html.haml
  src/api/app/views/webui2/webui/user/_edit_dialog.html.haml
  src/api/app/views/webui2/webui/user/_password_dialog.html.haml
  src/api/spec/bootstrap/features/webui/packages_spec.rb
  src/api/spec/bootstrap/features/webui/projects_spec.rb
  src/api/spec/bootstrap/features/webui/requests_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻

#7091 Hide whole card element when there are no decisions and no reviews open
  src/api/app/views/webui2/webui/request/show.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7093 Consider newlines for collapsible partial
  src/api/app/views/webui2/webui/request/_request_history.html.haml
  src/api/app/views/webui2/webui/request/_request_history_element.html.haml
  src/api/app/views/webui2/webui/request/_show_overview.html.haml
  src/api/app/views/webui2/webui/webui/_collapsible_text.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7045 Migrate 'Manage Groups' pages to Bootstrap
  .codeclimate.yml
  .jshintignore
  dist/obs-server.spec
  src/api/app/assets/javascripts/webui2/application.js
  src/api/app/assets/javascripts/webui2/users_groups.js
  src/api/app/assets/stylesheets/webui2/groups.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/controllers/webui2/groups_controller.rb
  src/api/app/models/group.rb
  src/api/app/views/webui2/shared/_group_members.html.haml
  src/api/app/views/webui2/shared/_group_members_table.html.haml
  src/api/app/views/webui2/webui/groups/_add_user_modal.html.haml
  src/api/app/views/webui2/webui/groups/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/groups/_delete_group_user_modal.html.haml
  src/api/app/views/webui2/webui/groups/edit.html.haml
  src/api/app/views/webui2/webui/groups/index.html.haml
  src/api/app/views/webui2/webui/groups/new.html.haml
  src/api/app/views/webui2/webui/groups/show.html.haml
  src/api/spec/bootstrap/features/webui/groups_spec.rb
  src/api/spec/controllers/webui/groups_controller_spec.rb
  src/api/vendor/assets/javascripts/tokenfield.js
  src/api/vendor/assets/stylesheets/tokenfield.scss
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7098 Guard against srcrep aliasing issues
  src/backend/BSSrcdiff.pm
  src/backend/BSSrcrep.pm
  src/backend/BSStdServer.pm
  src/backend/BSUtil.pm
  src/backend/bs_srcserver
Labels: Backend 🤖

#7105 [backend] add 'nodiff' srcdiff option
  src/backend/BSSrcdiff.pm
  src/backend/bs_srcserver
Labels: Backend 🤖

#7101 Be consistent in Manage Groups/Users views
  src/api/app/views/webui2/webui/groups/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/groups/edit.html.haml
  src/api/app/views/webui2/webui/groups/index.html.haml
  src/api/app/views/webui2/webui/groups/new.html.haml
  src/api/app/views/webui2/webui/user/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/user/edit.html.haml
  src/api/app/views/webui2/webui/user/index.html.haml
  src/api/app/views/webui2/webui/user/register_user.html.haml
  src/api/app/views/webui2/webui/user/show.html.haml
  src/api/app/views/webui2/webui/user/signup.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7104 Enable tests for new bootstrap themed views
  src/api/spec/features/webui/announcements_spec.rb
  src/api/spec/features/webui/notifications_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻

#7109 Remember number of shown entries for project monitor datatable
  src/api/app/assets/javascripts/webui2/project_monitor.js
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui2/webui/project/_monitor_control.html.haml
  src/api/app/views/webui2/webui/project/monitor.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7112 Add and use logging facitily for critical events
  src/backend/BSSrcrep.pm
  src/backend/BSStdRunner.pm
  src/backend/BSStdServer.pm
  src/backend/BSUtil.pm
  src/backend/bs_sched
Labels: Backend 🤖

#7107 Align behavior of popovers throughout all views
  src/api/app/assets/javascripts/webui2/buildresult.js
  src/api/app/assets/javascripts/webui2/popover.js
  src/api/app/assets/javascripts/webui2/project_monitor.js
  src/api/app/assets/javascripts/webui2/repositories.js
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7108 User configuration tab datatable
  src/api/app/assets/javascripts/webui2/datatables.js
  src/api/app/assets/javascripts/webui2/project.js
  src/api/app/assets/javascripts/webui2/users_groups.js
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/datatables/datatable.rb
  src/api/app/datatables/project_datatable.rb
  src/api/app/datatables/user_configuration_datatable.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/models/user.rb
  src/api/app/views/webui/user/index.html.haml
  src/api/app/views/webui2/webui/project/_projects_table.html.haml
  src/api/app/views/webui2/webui/user/index.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7102 Reload apache instead of restarting it
  dist/obs-server.spec
Labels: Packages :package:

#7061 Use server side pagination for package list in project view
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/datatables/package_datatable.rb
  src/api/app/datatables/project_datatable.rb
  src/api/app/views/webui2/webui/project/_project_packages.html.haml
  src/api/app/views/webui2/webui/project/show.html.haml
  src/api/config/routes.rb
Labels: Bootstrap :rocket:, Frontend 👻

#7095 Do not collapse request history when selecting
  src/api/app/assets/javascripts/webui2/collapsible_text.js
Labels: Bootstrap :rocket:, Bug :skull:, Frontend 👻, review-app

#7118 Fix notification tests for bootstrap UI
  src/api/spec/bootstrap/features/webui/notifications_spec.rb
  src/api/spec/bootstrap/features/webui/users/users_notifications_settings_spec.rb
  src/api/spec/features/webui/notifications_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻, Test Suite :syringe:

#7034 Migrate interconnect to Bootstrap
  src/api/app/assets/javascripts/webui2/application.js
  src/api/app/assets/javascripts/webui2/interconnect.js
  src/api/app/controllers/webui/interconnects_controller.rb
  src/api/app/controllers/webui2/interconnects_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui/interconnects/new.html.haml
  src/api/app/views/webui2/webui/interconnects/_interconnect_button.html.haml
  src/api/app/views/webui2/webui/interconnects/_interconnect_modal.html.haml
  src/api/app/views/webui2/webui/interconnects/_tabs.html.haml
  src/api/app/views/webui2/webui/interconnects/create.js.haml
  src/api/app/views/webui2/webui/interconnects/new.html.haml
  src/api/config/routes.rb
  src/api/spec/bootstrap/features/webui/interconnects_spec.rb
  src/api/spec/bootstrap/features/webui/repositories_spec.rb
  src/api/spec/cassettes/Interconnects/creating_custom_interconnect.yml
  src/api/spec/controllers/webui/interconnects_controller_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6879 Use User login instead id for comment events
  ReleaseNotes-2.10
  src/api/app/models/comment.rb
  src/api/app/models/event/comment_event.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/db/data/20190228170655_migrate_comment_payload.rb
  src/api/db/data_schema.rb
  src/api/spec/db/data/migrate_comment_payload_spec.rb
Labels: Frontend 👻

#7122 Do not run services for expand=1 and emptylink=1
  src/backend/BSSrcdiff.pm
  src/backend/bs_srcserver
Labels: Backend 🤖

#7123 Update inheritance of PackageDatatable
  src/api/app/datatables/package_datatable.rb
Labels: Frontend 👻

#6911 Truncate long package names
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/views/layouts/webui2/webui.html.haml
  src/api/app/views/webui2/webui/package/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/package/add_file.html.haml
  src/api/app/views/webui2/webui/package/show.html.haml
  src/api/app/views/webui2/webui/package/view_file.html.haml
  src/api/app/views/webui2/webui/project/show.html.haml
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/controllers/webui/patchinfo_controller_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7127 Add upper-limit to range to avoid long running queries (boo#1125812)
  src/api/app/controllers/webui/monitor_controller.rb
Labels: Bug :skull:, Frontend 👻

#7117 Fix #6989. Disable Submit button autocomplete returns nothing
  src/api/app/mixins/webui/manage_relationships.rb
Labels: Bootstrap :rocket:, Bug :skull:, Frontend 👻, review-app

#7113 [backend] fix/support staticlinks for product iso media
  src/backend/bs_publish
  src/backend/bs_repserver
Labels: Backend 🤖

#7137 Remove environment checks for Bootstrap
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/user_controller.rb
Labels: Bootstrap :rocket:, Frontend 👻

#7131 Fix icon color of 'Show Patchinfo' link
  src/api/app/views/webui2/webui/project/bottom_actions/_patchinfo.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7132 Update exception we throw in case of 404
  src/api/app/controllers/webui/repositories_controller.rb
Labels: Frontend 👻

#7128 Show reason and requestor of review requests in the review request field
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/models/review.rb
  src/api/app/views/webui/request/show.html.erb
  src/api/app/views/webui2/webui/request/_review_tab.html.haml
  src/api/app/views/webui2/webui/request/show.html.haml
  src/api/spec/bootstrap/features/webui/requests_spec.rb
  src/api/spec/helpers/webui/request_helper_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7138 Show recommends in package binary page
  src/api/app/views/webui2/webui/package/_deps.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7149 Add workaround for rss notication events
  src/api/app/models/event/comment_event.rb
Labels: Frontend 👻, Monkey Patched :see_no_evil:

#7032 Authorize move_path
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/mixins/webui/manage_relationships.rb
  src/api/spec/cassettes/Projects/creating_packages_in_projects_not_owned_by_user_eg_global_namespace/as_non-admin_user.yml
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Labels: Frontend 👻

#7154 split YMP handling into BSRepServer::YMP.pm
  src/backend/BSRepServer/YMP.pm
  src/backend/BSSched/BuildJob/Aggregate.pm
  src/backend/bs_repserver
Labels: Backend 🤖

#7129 Use UJS instead of custom Javascript
  src/api/app/assets/javascripts/webui2/application.js
  src/api/app/assets/javascripts/webui2/interconnect.js
  src/api/app/controllers/webui/interconnects_controller.rb
  src/api/app/models/project.rb
  src/api/app/views/webui2/webui/interconnects/_interconnect_button.html.haml
  src/api/app/views/webui2/webui/interconnects/create.js.haml
  src/api/app/views/webui2/webui/interconnects/new.html.haml
  src/backend/BSVerify.pm
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7146 Drop "show who" for maintainers in request page
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/views/webui2/webui/request/_maintainer_link.html.haml
  src/api/app/views/webui2/webui/request/_show_package_maintainers.html.haml
  src/api/app/views/webui2/webui/request/_show_side_links.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7167 List excluded requests via the API
  docs/api/api/api.txt
  src/api/app/controllers/staging/excluded_requests_controller.rb
  src/api/app/views/staging/excluded_requests/index.xml.builder
  src/api/config/routes.rb
  src/api/spec/controllers/staging/excluded_requests_controller_spec.rb
Labels: Frontend 👻

#7136 Add upper-limit to range to avoid long running queries (boo#1125812)
  src/api/app/controllers/webui/monitor_controller.rb
Labels: 2.9

#7170 Handle multibuild packages in breadcrumbs
  src/api/app/views/webui2/webui/package/_breadcrumb_items.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, Monkey Patched :see_no_evil:

#7177 Don't crash on default reviews
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/models/review.rb
  src/api/app/views/webui/request/show.html.erb
  src/api/app/views/webui2/webui/request/_review_tab.html.haml
  src/api/spec/bootstrap/features/webui/requests_spec.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/spec/helpers/webui/request_helper_spec.rb
Labels: Frontend 👻, review-app

#7171 Replace user_name_with_icon by user_with_realname_and_icon
  src/api/app/datatables/user_configuration_datatable.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/views/webui2/webui/request/_review_tab.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7176 Fix "index" action tests for excluded requests
  src/api/spec/controllers/staging/excluded_requests_controller_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#7183 Fix comments in requests
  src/api/app/assets/stylesheets/webui2/comments.scss
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7193 [backend] bs_publish: re-fetch repoinfo before updating the state
  src/backend/bs_publish
Labels: Backend 🤖

#7189 Fix #7079: Catch revision not found in _history
  src/api/app/models/package.rb
  src/api/app/views/webui2/webui/package/_commit_item.html.haml
Labels: Bug :skull:, Frontend 👻

#7206 fix source diff for obscpio files
  src/backend/bs_sched
  src/backend/bs_srcserver
Labels: Backend 🤖

#7203 Run all feature tests with bootstrap on OBS
  dist/obs-api-testsuite-rspec.spec
Labels: Bootstrap :rocket:, Frontend 👻, Test Suite :syringe:

#7161 Add API to create Staging Workflows & refactor staging routes
  docs/api/api/api.txt
  docs/api/api/create_staging_workflow.xml
  src/api/app/controllers/staging/excluded_requests_controller.rb
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/app/controllers/staging/workflows_controller.rb
  src/api/config/routes.rb
  src/api/spec/controllers/staging/excluded_requests_controller_spec.rb
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
  src/api/spec/controllers/staging/workflows_controller_spec.rb
  src/api/test/functional/backend_test.rb
Labels: Frontend 👻

#7151 Use a list for package binaries in binary view
  src/api/app/views/webui2/webui/package/_deps.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7144 Remove unneeded word and align filename to modal context
  src/api/app/views/webui/project/new_package.html.erb
  src/api/app/views/webui2/webui/project/_create_package_modal.html.haml
  src/api/app/views/webui2/webui/project/show.html.haml
  src/api/spec/bootstrap/features/webui/projects_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻

#7218 generate .creatrepo_checksums file for product builds
  src/backend/bs_repserver
  src/backend/bs_srcserver
  src/backend/bs_worker
Labels: Backend 🤖

#7217 Show request id in browser title
  src/api/app/views/webui2/webui/request/show.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7220 Only show delete binaries link to users with permissions for it
  src/api/app/views/webui2/webui/package/binaries.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7212 Add open graph meta tags to view layout
  src/api/app/assets/images/obs-logo_meta.png
  src/api/app/helpers/meta_tag_helper.rb
  src/api/app/views/layouts/webui/webui.html.erb
  src/api/app/views/layouts/webui2/webui.html.haml
  src/api/app/views/webui/package/show.html.erb
  src/api/app/views/webui/project/show.html.erb
  src/api/app/views/webui/request/show.html.erb
  src/api/app/views/webui/user/show.html.haml
  src/api/app/views/webui2/webui/package/show.html.haml
  src/api/app/views/webui2/webui/project/show.html.haml
  src/api/app/views/webui2/webui/request/show.html.haml
  src/api/app/views/webui2/webui/user/show.html.haml
Labels: Frontend 👻, review-app

#7169 2.9 download repository policy
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/spec/cassettes/Webui_RequestController/POST_create_dod_repository/as_regular_user/with_valid_repository_data/1_6_1_1_1.yml
  src/api/spec/controllers/webui/repositories_controller_spec.rb
Labels: 2.9

#7222 Show staging workflow tab in project tablist
  src/api/app/views/webui2/webui/project/_tabs.html.haml
Labels: Frontend 👻, staging-workflow

#7226 Fix text for Tizen and Packman interconnect
  src/api/app/views/webui2/webui/interconnects/new.html.haml
Labels: Frontend 👻

#7228 Swap buttons for copying staging projects
  src/api/app/views/webui2/webui/staging/projects/preview_copy.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7225 Add history to StagingProjectController#show view
  src/api/app/views/staging/staging_projects/_history_elements.xml.builder
  src/api/app/views/staging/staging_projects/_staging_project_item.xml.builder
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
Labels: Frontend 👻

#7232 Fix active review tabs when there is no decision box
  src/api/app/views/webui2/webui/request/show.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7235 Only allow admins to create sourceaccess/access repositories flags
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/policies/flag_policy.rb
Labels: 2.9, Frontend 👻

#7162 Create staging project from existing project
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/models/concerns/staging_project.rb
  src/api/spec/controllers/webui/staging/projects_controller_spec.rb
Labels: Frontend 👻, review-app

#7236 Update breadcrumb for group show page
  src/api/app/views/webui2/webui/groups/_breadcrumb_items.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7233 Swap accept review / request buttons on request show page
  src/api/app/views/webui2/webui/request/_decision_tab.html.haml
  src/api/app/views/webui2/webui/request/_review_tab.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7227 binarychecksums: use XML for communicating with a remote server
  src/backend/BSSched/BuildJob.pm
  src/backend/BSXML.pm
  src/backend/bs_repserver
  src/backend/bs_worker
Labels: Backend 🤖

#7234 Add tests for group policy
  src/api/spec/policies/group_policy_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#7241 Drop unused IchainNotifier
  src/api/app/controllers/person_controller.rb
  src/api/app/models/ichain_notifier.rb
  src/api/app/views/ichain_notifier/approval.html.haml
  src/api/app/views/ichain_notifier/reject.html.haml
  src/api/test/fixtures/ichain_notifier/approval
  src/api/test/fixtures/ichain_notifier/reject
  src/api/test/unit/ichain_notifier_test.rb
Labels: Frontend 👻

#7245 Drop StatusCount model
  src/api/app/models/buildresult.rb
  src/api/app/models/status_count.rb
Labels: Frontend 👻

#7260 Add tests for the group API routes
  src/api/spec/controllers/group_controller_spec.rb
Labels: Frontend 👻, Test Suite :syringe:

#7268 [backend] vagrant: switch default for box versioning
  src/backend/BSSched/Checker.pm
  src/backend/bs_publish
Labels: Backend 🤖

#7273 Remove symlink to foreman in Dockerfile
  Dockerfile
Labels: 2.9, Frontend 👻

#7272 Provide an API to destroy a workflow
  docs/api/api/api.txt
  src/api/app/controllers/staging/workflows_controller.rb
  src/api/config/routes.rb
  src/api/spec/controllers/staging/workflows_controller_spec.rb
Labels: Frontend 👻, staging-workflow

#7239 Add a task to generate staging workflow data for development environment
  src/api/.rubocop.yml
  src/api/lib/tasks/dev.rake
Labels: Frontend 👻, staging-workflow

#7246 Authorize move_path
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/mixins/webui/manage_relationships.rb
  src/api/spec/cassettes/Projects/creating_packages_in_projects_not_owned_by_user_eg_global_namespace/as_non-admin_user.yml
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Labels: 2.9, Frontend 👻

#7262 Refactor state method for staging project
  src/api/app/models/concerns/staging_project.rb
Labels: Frontend 👻, Refactoring :factory:, staging-workflow

#7277 Make group members tab the main tab on the group show view
  src/api/app/views/webui2/webui/groups/_group_members.html.haml
  src/api/app/views/webui2/webui/groups/show.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7284 Remove use_source from require_package
  src/api/app/controllers/webui/webui_controller.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: 2.9, Frontend 👻
