Repository openSUSE/open-build-service, pull requests merged in 2019-07, with the labels that each got.

#7813 Allow to specify commit messages when changing files
  src/api/app/assets/javascripts/webui/application/cm2/use-codemirror.js
  src/api/app/assets/javascripts/webui2/cm2/use-codemirror.js
  src/api/app/views/shared/_editor.html.haml
  src/api/app/views/webui2/shared/_editor.html.haml
Labels: 2.10, Feature 💡, Frontend

#7833 Fix "Sign Up" and "Log In" links in the main page
  src/api/app/views/layouts/webui2/_login_form.html.haml
  src/api/app/views/layouts/webui2/_personal_navigation.html.haml
  src/api/app/views/webui2/webui/comment/_new.html.haml
  src/api/spec/cassettes/Sign_up/User_is_denied.yml
  src/api/spec/features/webui/sign_up_spec.rb
Labels: 2.10, Bootstrap :rocket:, Frontend

#7835 Fix "Sign Up" and "Log In" links in the main page (backport to 2.10)
  src/api/app/views/layouts/webui2/_login_form.html.haml
  src/api/app/views/layouts/webui2/_personal_navigation.html.haml
  src/api/app/views/webui2/webui/comment/_new.html.haml
  src/api/spec/cassettes/Sign_up/User_is_denied.yml
  src/api/spec/features/webui/sign_up_spec.rb
Labels: 2.10, Bootstrap :rocket:, Frontend

#7834 Get rid of Selenium deprecation
  dist/t/spec/support/capybara.rb
  src/api/spec/support/capybara.rb
Labels: Test Suite :syringe:

#7840 Bring the Last time results filter back to the monitor page
  src/api/app/views/webui2/webui/project/_monitor_control.html.haml
  src/api/app/views/webui2/webui/project/monitor.html.haml
Labels: Bootstrap :rocket:, Frontend, review-app

#7845 Sync 2.10 with master
  .rubocop.yml
  ReleaseNotes-2.10
  dist/clouduploader.rb
  dist/obs-api-testsuite-rspec.spec
  dist/obs-bundled-gems.spec
  dist/obs-server.spec
  dist/schedule-obs.sh
  docs/api/api/announcement.xml
  docs/api/api/announcements.xml
  docs/api/api/api.txt
  docs/api/api/new_announcement.xml
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/javascripts/webui/application/cm2/use-codemirror.js
  src/api/app/assets/javascripts/webui2/cm2/use-codemirror.js
  src/api/app/assets/stylesheets/webui2/collapsible-text.scss
  src/api/app/assets/stylesheets/webui2/comments.scss
  src/api/app/views/shared/_editor.html.haml
  src/api/app/views/webui2/shared/_editor.html.haml
  src/api/app/views/webui2/webui/project/_monitor_control.html.haml
  src/api/app/views/webui2/webui/project/monitor.html.haml
  src/api/test/functional/backend_test.rb
Labels: 2.10

#7850 Update smoke tests gems
  dist/t/Gemfile.lock
  dist/t/spec/features/0030_project_spec.rb
Labels: Test Suite :syringe:

#7851 Fix saving of project meta if containing current user as maintainer
  src/api/app/controllers/source_project_meta_controller.rb
Labels: Frontend, Regression :smiling_imp:

#7853 Remove the development warning from the release notes
  ReleaseNotes-2.10
  dist/README.UPDATERS
Labels: 2.10

#7857 Skip kiwi flickering tests
  src/api/spec/bootstrap/features/webui/kiwi/images_spec.rb
Labels: Frontend, Test Suite :syringe:

#7858 Add migration for in_rollout field for users
  src/api/db/migrate/20190704072437_add_column_in_rollout_to_users.rb
  src/api/db/structure.sql
Labels: Frontend

#7859 Skip kiwi flickering tests
  src/api/spec/bootstrap/features/webui/kiwi/images_spec.rb
Labels: 2.10, Frontend, Test Suite :syringe:

#7861 Fix openqa test for 2.10
  dist/t/spec/features/0010_authentication_spec.rb
  dist/t/spec/features/0030_project_spec.rb
  dist/t/spec/features/0040_package_spec.rb
  dist/t/spec/spec_helper.rb
Labels: 2.10, Test Suite :syringe:

#7860 Change the default value for in_rollout to true
  src/api/db/migrate/20190704072437_add_column_in_rollout_to_users.rb
  src/api/db/structure.sql
Labels: Frontend, Test Suite :syringe:

#7865 Add tab indicator in the codemirror stylesheet
  src/api/app/assets/stylesheets/webui2/cm2/bootstrap.scss
Labels: Frontend, review-app

#7538 obsworker: use proxy only if it is enabled
  dist/obsworker
Labels: Packages :package:

#7876 Fix 'No tab display in web editor'
  src/api/app/assets/stylesheets/webui/application/cm2/suse.scss
  src/api/app/assets/stylesheets/webui2/cm2/bootstrap.scss
Labels: review-app

#7880 Add flipper gem and initial setup
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/models/user.rb
  src/api/config/initializers/flipper.rb
  src/api/db/migrate/20190710094253_create_flipper_tables.rb
  src/api/db/structure.sql
Labels: Frontend

#7881 Create rake tasks for rollout program
  src/api/lib/tasks/rollout.rake
  src/api/spec/factories/users.rb
  src/api/spec/lib/tasks/rollout_spec.rb
  src/api/spec/support/shared_contexts/rake.rb
Labels: Frontend

#7882 [backend] update BSXML to add sourcediff to request structure used
  src/backend/BSXML.pm
Labels: Backend 🤖

#7886 Revert "Add tab indicator in the codemirror stylesheet"
  src/api/app/assets/stylesheets/webui2/cm2/bootstrap.scss
Labels: Frontend

#7887 Add the Flipper groups registry to its initializer
  src/api/config/initializers/flipper.rb
Labels: Frontend

#7885 Remove Image Templates from FeatureToggle
  ReleaseNotes-2.11
  src/api/app/controllers/webui/image_templates_controller.rb
  src/api/app/views/webui/main/index.html.haml
  src/api/app/views/webui2/webui/main/_user_proceed-list.html.haml
  src/api/config/feature.yml
  src/api/lib/feature_switch/obs_repository.rb
  src/api/spec/controllers/webui/image_templates_controller_spec.rb
Labels: Frontend

#7883 Support generated build requires
  src/api/test/test_helper.rb
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/BuildJob/Import.pm
  src/backend/BSSched/BuildJob/Upload.pm
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/EventHandler.pm
  src/backend/BSXML.pm
  src/backend/bs_publish
  src/backend/bs_repserver
  src/backend/bs_sched
  src/backend/bs_worker
Labels: Backend 🤖

#7892 Remove Kiwi Image Editor from FeatureToggle
  ReleaseNotes-2.11
  src/api/app/controllers/webui/kiwi/images_controller.rb
  src/api/app/views/webui/package/show.html.erb
  src/api/app/views/webui2/webui/package/_bottom_actions.html.haml
  src/api/config/feature.yml
Labels: Frontend

#7890 Bootstrap to Flipper
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/mixins/flipper_feature.rb
  src/api/config/feature.yml
  src/api/spec/lib/feature_switch/feature_spec.rb
  src/api/spec/lib/feature_toggle/flipper_spec.rb
Labels: Frontend

#7894 Remove cloud upload EC2 and Azure from Feature
  ReleaseNotes-2.11
  src/api/app/controllers/cloud/upload_jobs_controller.rb
  src/api/app/controllers/webui/cloud/azure/configurations_controller.rb
  src/api/app/controllers/webui/cloud/ec2/configurations_controller.rb
  src/api/app/controllers/webui/cloud/upload_job/logs_controller.rb
  src/api/app/controllers/webui/cloud/upload_jobs_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/cloud/configurations/index.html.haml
  src/api/app/views/webui/cloud/upload_jobs/new.html.haml
  src/api/app/views/webui/kiwi/images/_base_info.html.haml
  src/api/app/views/webui/package/show.html.erb
  src/api/app/views/webui2/webui/cloud/configurations/index.html.haml
  src/api/app/views/webui2/webui/cloud/upload_jobs/new.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_base_info.html.haml
  src/api/app/views/webui2/webui/package/_bottom_actions.html.haml
  src/api/config/feature.yml
  src/api/lib/feature_switch/obs_repository.rb
  src/api/spec/controllers/cloud/upload_jobs_controller_spec.rb
  src/api/spec/controllers/webui/cloud/azure/configurations_controller_spec.rb
  src/api/spec/controllers/webui/cloud/azure/upload_jobs_controller_spec.rb
  src/api/spec/controllers/webui/cloud/ec2/configurations_controller_spec.rb
  src/api/spec/controllers/webui/cloud/ec2/upload_jobs_controller_spec.rb
  src/api/spec/controllers/webui/cloud/upload_job/logs_controller_spec.rb
  src/api/spec/controllers/webui/cloud/upload_jobs_controller_spec.rb
Labels: Frontend

#7895 Remove Feature gem and its configuration
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/config/initializers/feature.rb
  src/api/lib/feature_switch/feature.rb
  src/api/lib/feature_switch/obs_repository.rb
  src/api/spec/rails_helper.rb
Labels: Frontend

#7899 Make CircleCI use SLE12SP4 instead of SLE12SP3
  .circleci/config.yml
Labels: Test Suite :syringe:

#7900 Add environment argument to rollout tasks
  src/api/lib/tasks/rollout.rake
Labels: Frontend

#7907 Take into account `nobody` user for Feature Toggle
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/mixins/flipper_feature.rb
Labels: Frontend

#7906 [backend] bs_worker: fix typo when creating the checksum cache for pr…
  src/backend/bs_worker
Labels: Backend 🤖

#7914 Bring login box to the top of all elements
  src/api/app/assets/stylesheets/webui2/personal-navigation.scss
  src/api/app/views/layouts/webui2/_login_form.html.haml
Labels: Frontend

#7915 Make more clear what the input is for
  src/api/app/views/webui2/shared/_editor.html.haml
Labels: Frontend, review-app

#7921 Pass user (possibly nobody) to pundit
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend

#7931 Migrate apidocs to Bootstrap
  src/api/app/controllers/webui/apidocs_controller.rb
  src/api/app/views/webui2/webui/apidocs/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/apidocs/index.html.haml
  src/api/spec/bootstrap/features/webui/apidocs_spec.rb
Labels: Bootstrap :rocket:, Frontend, review-app

#7940 Make the contribution graph optional
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/views/webui2/webui/user/show.html.haml
  src/api/config/options.yml.example
  src/api/spec/bootstrap/features/webui/users_spec.rb
Labels: Frontend, review-app

#7945 Refactor check_user method from WebuiController
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/services/webui_controller_service/user_checker.rb
  src/api/spec/services/webui_controller_service/user_checker_spec.rb
Labels: Frontend, Refactoring :factory:

#7947 Update repositories used in osc system tests
  dist/t/osc/fixtures/home:Admin.xml
Labels: Packages :package:, Test Suite :syringe:

#7953 Update repositories used in osc system tests
  dist/t/osc/fixtures/home:Admin.xml
Labels: Packages :package:, Test Suite :syringe:

#7955 Update repositories used in osc system tests
  dist/t/osc/fixtures/home:Admin.xml
Labels: Packages :package:, Test Suite :syringe:

#7962 Enable Bootstrap feature in dev:development_testdata_create task
  src/api/lib/tasks/dev.rake
Labels: Bootstrap :rocket:, Test Suite :syringe:, review-app

#7967 debian publish: fix BSUtil::cp call
  src/backend/BSSched/BuildJob.pm
  src/backend/bs_publish
Labels: Backend 🤖

#7958 Make editor big where needed
  src/api/app/assets/javascripts/webui2/cm2/use-codemirror.js
  src/api/app/assets/stylesheets/webui2/cm2.scss
  src/api/app/views/webui2/shared/_editor.html.haml
  src/api/app/views/webui2/webui/package/_revision_diff_detail.html.haml
Labels: Bootstrap :rocket:, Frontend, review-app

#7966 Fix sorting bug on project monitor page
  src/api/app/assets/javascripts/webui2/project_monitor.js
Labels: review-app

#7976 [backend] switch backend to perl-XML-Structured
  dist/obs-server.spec
  src/backend/XML/Structured.pm
  src/backend/bs_worker
  src/backend/t/0004-BSUtil.t
  src/backend/t/0007-XML-Structured.t
  src/backend/t/0008-XML-Structured-_chooseparser-1.t
  src/backend/t/0008-XML-Structured-_chooseparser-2.t
  src/backend/t/0008-XML-Structured-_chooseparser-3.t
  src/backend/t/_chooseparser/lib2/XML/Parser.pm
  src/backend/t/_chooseparser/lib2/XML/SAX.pm
  src/backend/worker/Structured.pm
Labels: Backend 🤖

#7977 Don't throw an exception on a rss notification when a target project can not be found
  src/api/app/models/event/request.rb
Labels: Frontend

#7980 Move methods only used in its own class to private
  src/api/app/models/architecture.rb
  src/api/app/models/attrib.rb
  src/api/app/models/attrib_namespace.rb
  src/api/app/models/attrib_type.rb
  src/api/app/models/binary_release.rb
  src/api/app/models/branch_package.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_delete.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/bs_request_action_maintenance_release.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/build.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/commit.rb
Labels: Frontend, Refactoring :factory:

#7985 [dist] fix for upgrade obs-api 2.9 to 2.10
  dist/obs-server.spec
Labels: 2.10, Appliance :cd:, Packages :package:

#8004 Switching the reserve SQL strategy for DelayedJob
  src/api/config/initializers/delayed_job_config.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#7990 Make CircleCI use SLE12SP4 instead of SLE12SP3
  .circleci/config.yml
Labels: 2.10, Test Suite :syringe:
