Repository openSUSE/open-build-service, pull requests merged in 2019-08, with the labels that each got.

#8022 [backend] BSStdServer/BSStdRunner: do not use a global variable for r…
  src/backend/BSStdRunner.pm
  src/backend/BSStdServer.pm
Labels: Backend 🤖

#8034 Improve readability by removing some small class modifiers
  src/api/app/assets/stylesheets/webui2/bootstrap_variables/fonts.scss
  src/api/app/assets/stylesheets/webui2/collapsible-text.scss
  src/api/app/assets/stylesheets/webui2/comments.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/views/webui2/shared/_buildresult_box.html.haml
  src/api/app/views/webui2/webui/comment/_reply.html.haml
  src/api/app/views/webui2/webui/project/_buildstatus.html.haml
Labels: review-app

#8038 Do not duplicate checkout volume
  Rakefile
Labels: Frontend

#8043 Display revisions count in a badge
  src/api/app/views/webui2/webui/package/revisions.html.haml
Labels: Frontend

#8040 Adjust fontsize of dialog action buttons
  src/api/app/views/webui2/shared/_dialog_action_buttons.html.haml
Labels: Frontend

#8039 Remove strong tag from repository tables
  src/api/app/views/webui2/shared/_repositories_flag_table.html.haml
Labels: Frontend

#8037 Remove `fa-xs` class on project monitor
  src/api/app/views/webui2/webui/project/monitor.html.haml
Labels: Frontend

#8035 Remove 'btn-sm' and 'px-4' class from filter button
  src/api/app/views/webui2/webui/project/status.html.haml
Labels: Frontend

#8044 Fixed manual for initial interconnect setup, added note about docker
  CONTRIBUTING.md
Labels: Documentation :book:

#8041 Package Show - Typography
  src/api/app/views/webui2/webui/package/_buildstatus.html.haml
  src/api/app/views/webui2/webui/package/show.html.haml
  src/api/spec/bootstrap/features/webui/packages_spec.rb
Labels: Frontend

#8050 Improvements for Package Attributes
  src/api/app/views/webui2/webui/attribute/_form.html.haml
  src/api/app/views/webui2/webui/attribute/index.html.haml
Labels: Frontend

#8052 Typography - Editor
  src/api/app/views/webui2/shared/_editor.html.haml
  src/api/app/views/webui2/shared/_editor_modal.html.haml
Labels: Frontend

#8048 Show the error raised when editting status comment
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui2/webui/project/edit_comment.js.erb
Labels: Frontend

#8056 Fix package table responsiveness and make pagination consistent
  src/api/app/assets/javascripts/webui2/datatables.js
  src/api/app/assets/javascripts/webui2/requests_table.js.erb
  src/api/app/views/webui2/webui/project/_project_packages.html.haml
Labels: Frontend

#8036 Adjust typography on Rpmlint and Build Result tabs
  src/api/app/assets/stylesheets/webui2/build-results.scss
  src/api/app/views/webui2/webui/package/_buildstatus.html.haml
  src/api/app/views/webui2/webui/package/_rpmlint_result.html.haml
Labels: Bootstrap :rocket:, Frontend

#8058 Show URL the same way as on Package#show
  src/api/app/views/webui2/webui/project/show.html.haml
Labels: Frontend

#8054 Typography - Homepage
  src/api/app/views/webui2/status_messages/_item.html.haml
  src/api/app/views/webui2/webui/main/_system_status.html.haml
  src/api/app/views/webui2/webui/main/_system_status_legend.html.haml
  src/api/app/views/webui2/webui/main/_systemstatus.html.haml
  src/api/app/views/webui2/webui/main/index.html.haml
Labels: Frontend, review-app

#8053 Add space between parent table and subproject table
  src/api/app/views/webui2/webui/project/subprojects.html.haml
Labels: Frontend

#8057 Typography - Project Repositories
  src/api/app/views/webui2/webui/repositories/_repository_card_content.html.haml
  src/api/app/views/webui2/webui/repositories/_repository_entry.html.haml
  src/api/app/views/webui2/webui/repositories/_repository_path_item.html.haml
Labels: Frontend

#8063 Replace error in the comment's cell by flash error
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui2/webui/project/_edit_comment.html.haml
  src/api/app/views/webui2/webui/project/edit_comment.js.erb
Labels: Frontend

#8061 Adjust typography for source diff area in request page
  src/api/app/assets/stylesheets/webui2/diff.scss
  src/api/app/views/webui2/webui/package/_revision_diff_detail.html.haml
  src/api/app/views/webui2/webui/package/_revision_diff_detail_buttons.html.haml
  src/api/app/views/webui2/webui/request/_sourcediff_tab.html.haml
Labels: Frontend, review-app

#8042 Change project and package grid
  src/api/app/assets/stylesheets/webui2/project-package-show-grid.scss
Labels: review-app

#8062 Fix build results box in request view on medium sized screen
  src/api/app/views/webui2/webui/request/_sourcediff_tab.html.haml
Labels: Frontend

#8066 Improve responsiveness on pulse page
  src/api/app/views/webui2/webui/projects/pulse/_pulse_list.html.haml
  src/api/app/views/webui2/webui/projects/pulse/_pulse_list_requests.html.haml
  src/api/app/views/webui2/webui/projects/pulse/show.html.haml
Labels: Frontend, review-app

#8074 Use 'robohash' style of default Gravatars instead of 'wavatar'
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/spec/helpers/webui/user_helper_spec.rb
Labels: Frontend, review-app

#8079 Improve constrast for striped tables
  src/api/app/assets/stylesheets/webui2/bootstrap_variables/tables.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
Labels: Frontend, review-app

#8067 Enhance contrast of footer and header
  src/api/app/assets/stylesheets/webui2/sticky-footer.scss
  src/api/app/assets/stylesheets/webui2/watchlist.scss
  src/api/app/views/layouts/webui2/_footer.html.haml
  src/api/app/views/layouts/webui2/webui.html.haml
Labels: Frontend, review-app

#8069 Enhance contrast of the breadcrumbs
  src/api/app/assets/stylesheets/webui2/breadcrumbs-component.scss
Labels: Frontend

#8083 Update colors for obs_green, bootstrap-info and bootstrap-success
  src/api/app/assets/stylesheets/webui2/bootstrap_variables/colors.scss
  src/api/app/assets/stylesheets/webui2/pulse.scss
Labels: Frontend, review-app

#8085 Improve constrast of red/green for build results in striped tables
  src/api/app/assets/stylesheets/webui2/build-results.scss
Labels: Frontend, review-app

#8086 Improve contrast for all states of build results in striped tables
  src/api/app/assets/stylesheets/webui2/build-results.scss
Labels: Frontend

#8093 List colors adjustment in 2.11 release notes
  ReleaseNotes-2.11
Labels: Documentation :book:

#7922 Change favicon in live log dynamically
  src/api/app/assets/images/favicon-danger.ico
  src/api/app/assets/images/favicon-danger.svg
  src/api/app/assets/images/favicon-info.ico
  src/api/app/assets/images/favicon-info.svg
  src/api/app/assets/images/favicon-success.ico
  src/api/app/assets/images/favicon-success.svg
  src/api/app/assets/images/favicon-warning.ico
  src/api/app/assets/images/favicon-warning.svg
  src/api/app/assets/images/favicon.ico
  src/api/app/assets/images/favicon.svg
  src/api/app/assets/javascripts/webui/application/live_build_log.js
  src/api/app/assets/javascripts/webui2/live_build_log.js
  src/api/app/views/webui/package/live_build_log.html.erb
  src/api/app/views/webui2/webui/package/live_build_log.html.haml
Labels: Frontend, review-app

#8084 Use coderay instead codemirror to present read-only diffs
  ReleaseNotes-2.11
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/stylesheets/webui2/coderay.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/helpers/application_helper.rb
  src/api/app/views/webui2/webui/package/_revision_diff_detail.html.haml
Labels: review-app

#8109 Use hyphens: auto, just when supported
  src/api/app/assets/stylesheets/webui2/comments.scss
Labels: review-app

#8113 Typography - Search
  src/api/app/views/webui2/webui/search/_results.html.haml
  src/api/app/views/webui2/webui/search/_results_issue.html.haml
  src/api/app/views/webui2/webui/search/_results_owner.html.haml
Labels: Frontend, review-app

#8104 Enable RFS in bootstrap for responsive font-sizes
  src/api/app/assets/stylesheets/webui2/bootstrap_variables/fonts.scss
Labels: Frontend, review-app

#8103 Typography - patchinfo show
  src/api/app/helpers/webui/patchinfo_helper.rb
  src/api/app/views/webui2/webui/patchinfo/_side_elements.html.haml
  src/api/app/views/webui2/webui/patchinfo/show.html.haml
Labels: Frontend, review-app

#8128 Typography Configuration - label Configuration
  src/api/app/views/webui2/webui/configuration/index.html.haml
Labels: Frontend, review-app

#8126 Fix maintained projects link
  src/api/app/views/webui2/webui/project/side_links/_maintenance_project.html.haml
Labels: Bootstrap :rocket:, Frontend

#8112 Set max line-length for obs description at root page
  src/api/app/assets/stylesheets/webui2/card-component.scss
  src/api/app/views/webui2/webui/main/index.html.haml
Labels: Frontend, review-app

#8134 Backport - Fix maintained projects link
  src/api/app/views/webui2/webui/project/side_links/_maintenance_project.html.haml
Labels: 2.10, Frontend

#8098 Update last_logged_in_at when a user logs in via proxy
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/models/user.rb
  src/api/app/services/webui_controller_service/user_checker.rb
  src/api/lib/authenticator.rb
  src/api/lib/tasks/rollout.rake
  src/api/spec/controllers/webui/session_controller_spec.rb
  src/api/spec/lib/authenticator_spec.rb
  src/api/spec/lib/tasks/rollout_spec.rb
  src/api/spec/models/user_spec.rb
  src/api/spec/support/shared_examples/a_confirmed_user_logs_in.rb
Labels: Frontend

#8120 Typography patchinfo edit
  src/api/app/views/webui2/webui/patchinfo/edit.html.haml
  src/api/app/views/webui2/webui/patchinfo/form/_binaries.html.haml
  src/api/app/views/webui2/webui/patchinfo/form/_block_release.html.haml
  src/api/app/views/webui2/webui/patchinfo/form/_issues.html.haml
Labels: Frontend, review-app

#8138 Remove 'btn-sm' class from filter buttons
  src/api/app/views/webui2/webui/architectures/index.html.haml
Labels: Frontend, review-app

#8141 Remove unused css file
  src/api/app/assets/stylesheets/webui2/collapse-text.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
Labels: Frontend

#8136 Fix clearfix class in login form
  src/api/app/views/layouts/webui2/_login_form.html.haml
Labels: Frontend, review-app

#8142 Address typography in interconnects
  src/api/app/views/webui2/webui/interconnects/_interconnect_button.html.haml
  src/api/app/views/webui2/webui/interconnects/new.html.haml
Labels: Frontend, review-app

#8132 Adjust typography and elements size and position in group show page
  src/api/app/assets/stylesheets/webui2/groups.scss
  src/api/app/helpers/webui/user_or_groups_roles_helper.rb
  src/api/app/views/webui2/webui/groups/_group_members.html.haml
Labels: Frontend, review-app

#8150 Allow for displaying xml in the comments
  src/api/lib/obsapi/markdown_renderer.rb
Labels: Frontend, review-app

#8137 Typography - User/Group Tasks
  src/api/app/assets/stylesheets/webui2/datatables.scss
Labels: Frontend, review-app

#8157 Deal with long words properly in all browsers
  src/api/app/assets/stylesheets/webui2/collapsible-text.scss
  src/api/app/assets/stylesheets/webui2/comments.scss
Labels: Frontend

#8105 Add more status indicators for finished build in live build log
  src/api/app/assets/images/favicon-danger.ico
  src/api/app/assets/images/favicon-danger.svg
  src/api/app/assets/images/favicon-info.ico
  src/api/app/assets/images/favicon-info.svg
  src/api/app/assets/images/favicon-success.ico
  src/api/app/assets/images/favicon-success.svg
  src/api/app/assets/images/favicon-warning.ico
  src/api/app/assets/images/favicon-warning.svg
  src/api/app/assets/javascripts/webui2/live_build_log.js
  src/api/app/views/webui2/webui/package/live_build_log.html.haml
  src/api/app/views/webui2/webui/package/update_build_log.js.haml
  src/api/spec/features/webui/packages_spec.rb
Labels: Frontend

#8146 Remove zebra striped rows from datatables
  src/api/app/assets/stylesheets/webui2/bootstrap_variables/tables.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/views/webui2/shared/_patchinfos_table.html.haml
  src/api/app/views/webui2/shared/_requests_table.html.haml
  src/api/app/views/webui2/shared/user_or_groups_roles/_index.html.haml
  src/api/app/views/webui2/webui/attribute/index.html.haml
  src/api/app/views/webui2/webui/cloud/upload_jobs/index.html.haml
  src/api/app/views/webui2/webui/groups/index.html.haml
  src/api/app/views/webui2/webui/monitor/_building_table.html.haml
  src/api/app/views/webui2/webui/monitor/_idle.html.haml
  src/api/app/views/webui2/webui/monitor/_stats.html.haml
  src/api/app/views/webui2/webui/package/_deps.html.haml
  src/api/app/views/webui2/webui/package/_files_view.html.haml
  src/api/app/views/webui2/webui/packages/build_reason/index.html.haml
  src/api/app/views/webui2/webui/packages/job_history/index.html.haml
  src/api/app/views/webui2/webui/project/_project_inherited_packages.html.haml
  src/api/app/views/webui2/webui/project/_project_packages.html.haml
  src/api/app/views/webui2/webui/project/_projects_table.html.haml
  src/api/app/views/webui2/webui/project/bottom_actions/_gpg_key_ssl_certificate.html.haml
  src/api/app/views/webui2/webui/project/index.html.haml
  src/api/app/views/webui2/webui/project/monitor.html.haml
  src/api/app/views/webui2/webui/project/status.html.haml
  src/api/app/views/webui2/webui/projects/maintenance_incidents/index.html.haml
  src/api/app/views/webui2/webui/staging/excluded_requests/index.html.haml
  src/api/app/views/webui2/webui/staging/projects/show.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_staging_projects_table.html.haml
  src/api/app/views/webui2/webui/user/_involvement.html.haml
  src/api/app/views/webui2/webui/user/index.html.haml
Labels: Frontend

#8168 Make sure language exists
  src/api/lib/obsapi/markdown_renderer.rb
  src/api/spec/helpers/webui/markdown_helper_spec.rb
Labels: Frontend

#8169 Remove darkened colors for striped tables
  src/api/app/assets/stylesheets/webui2/build-results.scss
Labels: Frontend

#8173 Autocorrect some RuboCop offenses in root subdirectory
  .rubocop_todo.yml
  dist/clouduploader.rb
  dist/obs_mirror_project
  dist/openQA_mail_notification.rb
  dist/t/spec/features/0040_package_spec.rb
  dist/t/spec/spec_helper.rb
  dist/t/spec/support/capybara.rb
Labels: Refactoring :factory:

#8170 Add a background to build states which are still in flux
  src/api/app/assets/stylesheets/webui2/build-results.scss
Labels: Frontend

#8177 Move status messages partial under webui/main
  src/api/app/views/webui2/webui/main/_status_message.html.haml
  src/api/app/views/webui2/webui/main/_status_messages.html.haml
Labels: Frontend, review-app

#8140 Typography user show
  src/api/app/assets/javascripts/webui2/application.js
  src/api/app/assets/javascripts/webui2/users.js
  src/api/app/assets/stylesheets/webui2/user.scss
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/views/webui2/webui/user/_info.html.haml
  src/api/spec/features/webui/users/user_home_page_spec.rb
Labels: Frontend, review-app

#8181 Improve regular expression for rendering users
  src/api/lib/obsapi/markdown_renderer.rb
  src/api/spec/helpers/webui/markdown_helper_spec.rb
Labels: Frontend

#8182 Improve beta program help text
  src/api/app/views/webui2/webui/user/_info.html.haml
Labels: Frontend, review-app

#8174 Move methods only used in its own class to private (II)
  src/api/app/models/buildresult.rb
  src/api/app/models/channel.rb
  src/api/app/models/comment.rb
  src/api/app/models/download_repository.rb
  src/api/app/models/flag.rb
  src/api/app/models/flag/validations.rb
  src/api/app/models/group.rb
  src/api/app/models/group_maintainer.rb
  src/api/app/models/groups_user.rb
  src/api/app/models/issue.rb
  src/api/app/models/issue_tracker.rb
  src/api/app/models/issue_tracker/cve_parser.rb
  src/api/app/models/issue_tracker/issue_summary.rb
  src/api/test/unit/issue_test.rb
Labels: Frontend, Refactoring :factory:

#8185 Fix typo. Use "doesn't" instead of "don't"
  src/api/spec/helpers/webui/markdown_helper_spec.rb
Labels: Frontend

#8188 Reenable delete user test
  src/api/spec/bootstrap/features/webui/users/admin_configuration_spec.rb
Labels: Frontend, Test Suite :syringe:

#8179 Allow changing repositories for package maintainer
  src/api/app/controllers/webui/repositories_controller.rb
Labels: Frontend

#7608 Move do_project_copy to the active job completely
  src/api/app/controllers/source_controller.rb
  src/api/app/jobs/project_do_project_copy_job.rb
  src/api/app/models/project.rb
Labels: Frontend, Refactoring :factory:

#8191 code2index must be a class method
  src/api/app/models/buildresult.rb
Labels: Monkey Patched :see_no_evil:

#8193 Add test for beta program switch for Bootstrap
  src/api/spec/bootstrap/features/webui/users/profile_spec.rb
Labels: Frontend, Test Suite :syringe:
