Repository openSUSE/open-build-service, pull requests merged in 2019-11, with the labels that each got.

#8612 Add missing release notes for 2.10.1
  ReleaseNotes-2.10.1
Labels: 2.10

#8653 Make sure that possible_package isn't nil
  src/api/app/models/branch_package/lookup_incident_package.rb
  src/api/spec/models/branch_package/lookup_incident_package_spec.rb
Labels: Monkey Patched :see_no_evil:

#8659 Refactor project model arrays
  src/api/app/models/project.rb
  src/api/spec/models/project_spec.rb
Labels: Frontend, Refactoring :factory:

#8657 Simplify API staging projects results
  docs/api/api/api.txt
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/app/views/staging/staging_projects/_staging_project_item.xml.builder
  src/api/app/views/staging/staging_projects/index.xml.builder
  src/api/app/views/staging/staging_projects/show.xml.builder
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
Labels: Frontend, staging-workflow

#8667 Run sphinx after OBS api setup is done
  dist/systemd/obs-sphinx.service
Labels: Packages :package:

#8670 Add missing module support
  src/backend/BSRepServer/Remote.pm
  src/backend/BSSched/DoD.pm
  src/backend/bs_getbinariesproxy
  src/backend/bs_worker
Labels: Backend 🤖

#8669 Add more attributes to requests' XML
  src/api/app/views/staging/shared/_requests.xml.builder
  src/api/app/views/staging/staging_projects/_requests.xml.builder
  src/api/app/views/staging/staging_projects/_staging_project_item.xml.builder
Labels: Frontend, staging-workflow

#8676 Replace request number by package name in excluded requests
  src/api/app/datatables/excluded_request_datatable.rb
  src/api/app/views/staging/excluded_requests/index.xml.builder
  src/api/spec/controllers/staging/excluded_requests_controller_spec.rb
Labels: Frontend, staging-workflow

#8674 Fix cpeid handling and add support for the ymp distversion attribute
  src/backend/BSRepServer/YMP.pm
  src/backend/bs_publish
  src/backend/bs_srcserver
Labels: Backend 🤖

#8671 Create Sphinx start Rails task for development environment
  src/api/Procfile
  src/api/lib/tasks/sphinx.rake
Labels: Frontend

#8668 Run ts:rebuild task as user wwwrun
  ReleaseNotes-2.11
Labels: Documentation :book:

#8687 Re-organize staging projects XML results
  docs/api/api/api.txt
  src/api/app/views/staging/staging_projects/_staging_project_item.xml.builder
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
Labels: Frontend, staging-workflow

#8692 [2.10 backport] Fixes for obs-sphinx.service to fix upgrades from 2.9 to 2.10
  dist/systemd/obs-sphinx.service
  src/api/lib/tasks/sphinx.rake
Labels: 2.10

#8694 Fix typo in API docs
  docs/api/api/api.txt
Labels: Documentation :book:

#8704 Show proper error for non-existent staging project
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/spec/controllers/webui/staging/projects_controller_spec.rb
Labels: Frontend, staging-workflow

#8709 Remove duplicated release notes for 2.8 in dist/
  dist/ReleaseNotes-2.8
Labels: Documentation :book:

#8702 [backend] already decode the cpeid in the worker
  src/backend/bs_worker
Labels: Backend 🤖

#8695 Add error message for non-existent staging project
  src/api/app/controllers/source/errors.rb
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/spec/cassettes/Staging_StagingProjectsController/POST_accept/when_project_is_in_state_acceptable/1_4_3_1.yml
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
Labels: Frontend, staging-workflow

#8618 Staticlinks fix for product rebuilds after 9999 time
  src/backend/bs_publish
Labels: Backend 🤖

#8715 Improve comment when unstaging a project
  src/api/app/models/staging/staged_requests.rb
Labels: Frontend

#8713 Fix wrong job history
  src/api/app/controllers/webui/packages/job_history_controller.rb
  src/api/app/models/package.rb
Labels: Frontend, review-app

#8718 Allow to stage new packages again
  src/api/app/models/staging/staged_requests.rb
  src/api/spec/cassettes/Staging_StagedRequestsController/POST_create/with_non-existent_target_package/1_2_9_1.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/POST_create/with_non-existent_target_package/1_2_9_2.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/POST_create/with_non-existent_target_package/1_2_9_3.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/POST_create/with_non-existent_target_package/1_2_9_4.yml
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
Labels: Frontend

#8723 Change missing review output
  src/api/app/models/concerns/staging_project.rb
  src/api/app/views/staging/staging_projects/_missing_reviews.xml.builder
  src/api/spec/models/project/staging_project_spec.rb
Labels: Frontend, staging-workflow

#8724 Add check for previously existing staging workflow
  src/api/app/controllers/staging/workflows_controller.rb
Labels: Frontend, staging-workflow

#8737 Remove not yet implemented is_delete? method
  src/api/app/models/staging/staged_requests.rb
Labels: Frontend, Monkey Patched :see_no_evil:, staging-workflow

#8731 Destroy Staging Workflow when we destroy the main project
  src/api/app/models/project.rb
Labels: Frontend, staging-workflow

#8744 Fix height between staged requests
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
Labels: Frontend, review-app, staging-workflow

#8750 Remove `submitted` literal on StagingProject history
  src/api/app/views/webui/staging/projects/_history_elements.html.haml
Labels: Frontend, staging-workflow

#8752 Fix collapse on problems list
  src/api/app/views/webui/staging/workflows/_problems.html.haml
Labels: Frontend, staging-workflow

#8751 Display correctly delete requests
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
  src/api/app/helpers/webui/staging/workflow_helper.rb
Labels: Frontend, staging-workflow

#8763 Add validation for xml on exclude requests
  src/api/app/controllers/staging/excluded_requests_controller.rb
  src/api/app/controllers/staging/staged_requests_controller.rb
  src/api/app/controllers/staging/staging_controller.rb
Labels: Frontend, staging-workflow

#8755 bs_dispatch: Fix log output
  src/backend/bs_dispatch
Labels: Backend 🤖

#8691 [backend] add example for global Macros to BSConfig.pm
  src/backend/BSConfig.pm.template
Labels: Backend 🤖

#8765 Show correct output when excluding an already excluded request
  src/api/app/models/staging/request_excluder.rb
Labels: Frontend, staging-workflow

#8768 [backend] fix typo in alllocked test
  src/backend/BSSched/ProjPacks.pm
Labels: Backend 🤖

#8767 Add well-formed xml check for workflows controller
  src/api/app/controllers/staging/workflows_controller.rb
  src/api/spec/controllers/staging/workflows_controller_spec.rb
Labels: Frontend, staging-workflow

#8780 Avoid querying the database for request sources
  src/api/app/models/staging/staged_requests.rb
Labels: Monkey Patched :see_no_evil:

#8786 Show the correct user in Pulse page
  src/api/app/views/webui/projects/pulse/_pulse_list_requests.html.haml
Labels: Frontend

#8781 [backend] more tweaks to get ptf package builds running
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/BSVerify.pm
  src/backend/obs-ptf.spec
Labels: Backend 🤖

#8789 Use correct policies in StagedRequestController
  src/api/app/controllers/staging/staged_requests_controller.rb
  src/api/app/policies/staging/staged_request_policy.rb
  src/api/spec/policies/staging/staged_request_policy_spec.rb
Labels: Frontend, staging-workflow

#8778 Display an icon based on the state of a check
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
  src/api/app/helpers/webui/staging/project_helper.rb
  src/api/app/views/webui/staging/projects/_checks.html.haml
Labels: Frontend, staging-workflow

#8782 Prevent an exception to be raised in auto cleanup
  src/api/app/jobs/project_create_auto_cleanup_requests.rb
  src/api/app/models/project.rb
  src/api/spec/cassettes/ProjectCreateAutoCleanupRequests/_perform/with_devel_package_inside_the_project/does_not_create_a_deletion_request.yml
  src/api/spec/cassettes/ProjectCreateAutoCleanupRequests/_perform/with_project_without_dependencies/sets_a_deletion_request_on_the_project.yml
  src/api/spec/factories/attribs.rb
  src/api/spec/jobs/project_create_auto_cleanup_requests_job_spec.rb
  src/api/spec/support/delayed_job.rb
Labels: Frontend

#8807 [backend] vagrand box publishing: cope with profiles that contain a h…
  src/backend/bs_publish
Labels: Backend 🤖

#8813 Fix yet another random test suite failure
  src/api/app/models/kiwi/image/xml_parser.rb
Labels: Flickering :cyclone:, Test Suite :syringe:

#8814 Specify namespace of class
  src/api/app/models/cloud/ec2/params.rb
Labels: Flickering :cyclone:, Test Suite :syringe:
