Repository openSUSE/open-build-service, pull requests merged in 2019-01, with the labels that each got.

#6702 Fix size of columns of the projects list
  src/api/app/assets/javascripts/webui2/project.js
Labels: Bootstrap :rocket:, Frontend 👻

#6705 Refactor removing binaries
  src/api/app/views/webui2/webui/package/_delete_binaries_dialog.html.haml
  src/api/app/views/webui2/webui/package/binaries.html.haml
  src/api/app/views/webui2/webui/package/binaries/_trigger_rebuild_wipe_binaries.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, Refactoring :factory:

#6549 Not showing disabled build results on default
  src/api/app/models/local_build_result/for_package.rb
  src/api/app/views/webui/package/_buildstatus.html.haml
  src/api/app/views/webui2/webui/package/_buildstatus.html.haml
  src/api/spec/models/local_build_result/for_package_spec.rb
Labels: Frontend 👻, review-app

#6671 Refactor our javascript autocompletion code
  src/api/app/assets/javascripts/webui2/autocomplete.js
  src/api/app/assets/javascripts/webui2/staging_workflow.js
  src/api/app/views/webui2/shared/user_or_groups_roles/_add_group_dialog.html.haml
  src/api/app/views/webui2/shared/user_or_groups_roles/_add_user_dialog.html.haml
  src/api/app/views/webui2/webui/_autocomplete.html.haml
  src/api/app/views/webui2/webui/project/_new_package_branch_modal.html.haml
  src/api/app/views/webui2/webui/repositories/_add_repository_from_project_modal.html.haml
  src/api/app/views/webui2/webui/repositories/_add_repository_path_modal.html.haml
  src/api/app/views/webui2/webui/request/_change_devel_request_dialog.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_staging_managers_group.html.haml
  src/api/app/views/webui2/webui/staging/workflows/new.html.haml
  src/api/spec/bootstrap/features/webui/repositories_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻

#6656 Update autocompletion queries and drop unused scopes
  src/api/app/models/project.rb
Labels: Frontend 👻

#6722 Feeds controller refactoring
  src/api/app/controllers/webui/feeds_controller.rb
  src/api/app/policies/project_policy.rb
  src/api/spec/controllers/webui/feeds_controller_spec.rb
Labels: Frontend 👻, Refactoring :factory:

#6717 Refactor repositories delete modals
  src/api/app/views/webui2/webui/repositories/_delete_repository_modal.html.haml
  src/api/app/views/webui2/webui/repositories/_delete_repository_path_modal.html.haml
  src/api/app/views/webui2/webui/repositories/_dod_repository_card_content.html.haml
  src/api/app/views/webui2/webui/repositories/_repository_card_content.html.haml
  src/api/app/views/webui2/webui/repositories/_repository_path_item.html.haml
  src/api/app/views/webui2/webui/repositories/_request_delete_repository_modal.html.haml
  src/api/app/views/webui2/webui/repositories/index.html.haml
  src/api/spec/bootstrap/features/webui/repositories_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻, Refactoring :factory:, review-app

#6724 Fix comments to show more than 3 levels of comments
  src/api/app/views/webui2/webui/comment/_content.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#6726 Preload request details in view=collection code
  src/api/app/controllers/request_controller.rb
  src/api/test/functional/request_controller_test.rb
Labels: Frontend 👻, Refactoring :factory:

#6619 Fix flag validation catching duplicates
  src/api/app/models/flag.rb
  src/api/db/data/20181214100207_remove_duplicated_flags.rb
  src/api/db/data_schema.rb
  src/api/spec/db/data/remove_duplicated_flags_spec.rb
  src/api/test/unit/build_flag_test.rb
  src/api/test/unit/debug_flag_test.rb
  src/api/test/unit/publish_flag_test.rb
Labels: DO NOT MERGE :warning:, Frontend 👻

#6732 Fix link for downloading a binary
  src/api/app/views/webui2/webui/package/binary.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#6653 Refactor flag manipulation
  src/api/app/assets/javascripts/webui2/repositories.js
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/controllers/webui2/repositories_controller.rb
  src/api/app/helpers/webui/repository_helper.rb
  src/api/app/models/flag/specified_flags.rb
  src/api/app/views/webui2/shared/_flag_popover.html.haml
  src/api/app/views/webui2/shared/_repositories.html.haml
  src/api/app/views/webui2/shared/_repositories_flag_table.html.haml
  src/api/app/views/webui2/shared/_repositories_flag_table_column.html.haml
  src/api/app/views/webui2/webui/repositories/_add_dod_repository_modal.html.haml
  src/api/app/views/webui2/webui/repositories/_add_dod_source_modal.html.haml
  src/api/app/views/webui2/webui/repositories/_dod_repository_card_content.html.haml
  src/api/app/views/webui2/webui/repositories/_dod_source_fields.html.haml
  src/api/app/views/webui2/webui/repositories/_edit_dod_source_modal.html.haml
  src/api/app/views/webui2/webui/repositories/_edit_repository_modal.html.haml
  src/api/app/views/webui2/webui/repositories/_repository_card_content.html.haml
  src/api/app/views/webui2/webui/repositories/_repository_entry.html.haml
  src/api/app/views/webui2/webui/repositories/_repository_path_item.html.haml
  src/api/app/views/webui2/webui/repositories/change_flag.js.haml
  src/api/app/views/webui2/webui/repositories/index.html.haml
  src/api/config/routes.rb
  src/api/spec/support/shared_examples/features/boostrap_flag_tables.rb
Labels: Bootstrap :rocket:, Frontend 👻, Refactoring :factory:

#6742 Sort changed column by time and not alphabetically
  src/api/app/views/webui2/webui/package/_file.html.haml
  src/api/app/views/webui2/webui/project/_project_packages.html.haml
Labels: Bootstrap :rocket:, Bug :skull:, Frontend 👻, review-app

#6741 [backend] bs_publish: cleanup dead symlinks in createrepo_staticlinks
  src/backend/bs_publish
Labels: Backend 🤖

#6740 Add API documentation for staging projects
  docs/api/api/api.txt
  docs/api/api/staging_project.xml
  docs/api/api/staging_projects.xml
  src/api/app/views/staging/staging_projects/_broken_packages.xml.builder
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
  src/api/test/functional/backend_test.rb
Labels: Documentation :book:

#6750 Implement proxy for lastevents query
  src/backend/BSDispatcher/Constraints.pm
  src/backend/BSRevision.pm
  src/backend/BSSched/BuildJob/Aggregate.pm
  src/backend/BSSched/BuildResult.pm
  src/backend/BSSched/EventSource/RemoteWatcher.pm
  src/backend/BSSched/ProjPacks.pm
  src/backend/BSUtil.pm
  src/backend/BSWatcher.pm
  src/backend/bs_dispatch
  src/backend/bs_productconvert
  src/backend/bs_publish
  src/backend/bs_srcserver
Labels: Backend 🤖

#6772 Support setting of the maxlogidle time in the project config
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/Checker.pm
  src/backend/BSXML.pm
  src/backend/bs_worker
Labels: Backend 🤖

#4910 [backend] bs_admin: add option to replace a project's signing key
  src/backend/bs_admin
Labels: Backend 🤖

#6782 [backend] fix build log limit state export
  src/backend/bs_worker
Labels: Backend 🤖

#6780 do not use the lastevents proxy to proxy our own src server requests
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/EventSource/RemoteWatcher.pm
Labels: Backend 🤖

#6786 Remove required version for data_migrate gem
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend 👻

#6784 Fix cloning of project config
  src/api/app/models/staging/staging_project.rb
  src/api/spec/cassettes/Staging_StagingProject/_assign_managers_group/when_the_group_was_already_assigned/1_4_2_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_assign_managers_group/when_the_group_wasn_t_assigned_before/1_4_1_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_copy/1_6_2.yml
  src/api/spec/cassettes/Staging_StagingProject/_copy/copies_flags.yml
  src/api/spec/cassettes/Staging_StagingProject/_copy/copies_the_project_config.yml
  src/api/spec/cassettes/Staging_StagingProject/_copy/copies_the_relationships.yml
  src/api/spec/cassettes/Staging_StagingProject/_copy/copies_the_repositories.yml
  src/api/spec/cassettes/Staging_StagingProject/_copy/copies_the_repositories_and_it_s_relations.yml
  src/api/spec/cassettes/Staging_StagingProject/_copy/creates_a_new_staging_project.yml
  src/api/spec/cassettes/Staging_StagingProject/_copy/when_the_repository_contains_path_elements_that_link_to_repositories_of_the_same_project/ensures_that_the_new_created_path_is_also_self_referencing.yml
  src/api/spec/cassettes/Staging_StagingProject/_copy/when_the_repository_contains_path_elements_that_link_to_repositories_of_the_same_project/renames_the_repository_link_if_it_contains_a_reference_to_the_project.yml
  src/api/spec/cassettes/Staging_StagingProject/_copy/when_the_repository_contains_path_elements_that_link_to_themself/ensures_that_the_new_created_path_is_also_self_referencing.yml
  src/api/spec/cassettes/Staging_StagingProject/_missing_reviews/contains_all_open_reviews_of_staged_requests.yml
  src/api/spec/cassettes/Staging_StagingProject/_missing_reviews/when_there_is_an_accepted_review/1_1_2_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_request_got_revoked/1_3_2_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_failed_checks_on_build_repo/1_3_7_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_failed_checks_on_build_repo/1_3_7_2.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_failed_checks_on_published_repo/1_3_6_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_missing_checks_on_build_repo/1_3_4_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_missing_checks_on_published_repo/1_3_3_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_no_staged_requests/1_3_1_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_pending_checks/1_3_5_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_there_are_succeeded_checks/1_3_8_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_we_only_have_outdated_checks/1_3_9_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_we_only_have_outdated_checks/1_3_9_2.yml
  src/api/spec/cassettes/Staging_StagingProject/_overall_state/when_we_only_have_outdated_checks/1_3_9_3.yml
  src/api/spec/cassettes/Staging_StagingProject/_unassign_managers_group/1_5_1.yml
  src/api/spec/cassettes/Staging_StagingProject/_untracked_requests/1_2_1.yml
  src/api/spec/models/staging/staging_project_spec.rb
Labels: Frontend 👻

#6757 Ready requests take reviews into account
  src/api/app/models/staging/workflow.rb
  src/api/spec/models/staging/workflow_spec.rb
Labels: Frontend 👻

#6762 Add WebUI/API endpoints, documentation and job to copy a staging project
  docs/api/api/api.txt
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/jobs/staging_project_copy_job.rb
  src/api/app/policies/staging/workflow_policy.rb
  src/api/app/views/webui2/webui/staging/projects/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/staging/projects/preview_copy.html.haml
  src/api/app/views/webui2/webui/staging/workflows/_staging_projects_table.html.haml
  src/api/config/routes.rb
  src/api/spec/cassettes/StagingProjectCopyJob/_perform/copies_the_staging_project.yml
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
  src/api/spec/controllers/webui/staging/projects_controller_spec.rb
  src/api/spec/jobs/staging_project_copy_job_spec.rb
Labels: Documentation :book:, Frontend 👻, review-app

#6793 Only copy the project config when it has any content
  src/api/app/models/staging/staging_project.rb
Labels: Frontend 👻

#6805 work around newer 'rpm --delsign' sometimes doing inplace removal
  src/backend/BSSched/BuildJob/KiwiProduct.pm
  src/backend/bs_signer
Labels: Backend 🤖

#6767 Refactor package controller
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/helpers/webui/package_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/services/package_controller_service/url_generator.rb
  src/api/app/views/webui/package/binary.html.haml
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/helpers/webui/webui_helper_spec.rb
  src/api/spec/services/package_controller_service/url_generator_spec.rb
Labels: Frontend 👻, Refactoring :factory:

#6794 Add group icons to request show page
  src/api/app/helpers/webui/group_helper.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/views/webui/request/_reviewer.html.erb
Labels: Frontend 👻

#6809 Fix error in StagingProjectCopyJob
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/jobs/staging_project_copy_job.rb
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
  src/api/spec/controllers/webui/staging/projects_controller_spec.rb
  src/api/spec/jobs/staging_project_copy_job_spec.rb
Labels: Frontend 👻

#6806 Fix missing groups and users hash on staging
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/models/staging/workflow.rb
Labels: Frontend 👻

#6815 Cache groups_hash
  src/api/app/models/staging/workflow.rb
Labels: Frontend 👻

#6813 send and store the buildlog for badhost builds
  src/backend/bs_dispatch
  src/backend/bs_repserver
  src/backend/bs_srcserver
  src/backend/bs_worker
Labels: Backend 🤖

#6826 Drop failed_results cache when repo finished
  src/api/app/models/event/repo_build_finished.rb
Labels: Frontend 👻

#6802 rspec: Don't fake the request state
  src/api/spec/cassettes/EventMailer/_event/for_an_event_of_type_Event_Request/when_source_project_does_not_exist/does_not_get_delivered.yml
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
  src/api/spec/factories/bs_requests.rb
  src/api/spec/models/bs_request_spec.rb
  src/api/spec/models/staging/workflow_spec.rb
  src/api/spec/support/shared_contexts/a_set_of_bs_requests.rb
Labels: Frontend 👻, Test Suite :syringe:

#6820 Fix syntax error in haml view
  src/api/app/helpers/webui/project_helper.rb
  src/api/app/views/webui2/webui/project/show.html.haml
Labels: Frontend 👻

#6836 Fix Statistics for multibuild
  src/api/app/controllers/webui2/package_controller.rb
  src/api/app/models/package.rb
  src/api/spec/models/package_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻

#6838 Add skeleton for request show page in webui2
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui2/webui/request/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/request/show.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#6839 Fix inherited package link
  src/api/app/views/webui2/webui/project/_project_inherited_packages.html.haml
  src/api/app/views/webui2/webui/project/show.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#6828 Add background colour in buildresult for blocked state
  src/api/app/assets/stylesheets/webui2/build-results.scss
Labels: Bootstrap :rocket:, Frontend 👻

#6840 Add missing images extension to distribution icons
  src/api/app/views/webui2/webui/repositories/distributions.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6844 Switch to webui2 in test environment in request show
  src/api/app/controllers/webui/request_controller.rb
  src/api/spec/bootstrap/features/webui/maintenance_workflow_spec.rb
  src/api/spec/bootstrap/features/webui/requests_spec.rb
  src/api/spec/features/webui/requests_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻

#6852 Remove unneeded instance variable in webui2 views
  src/api/app/views/webui2/webui/main/index.html.haml
  src/api/app/views/webui2/webui/package/show.html.haml
  src/api/app/views/webui2/webui/project/monitor.html.haml
  src/api/app/views/webui2/webui/project/show.html.haml
  src/api/app/views/webui2/webui/users/subscriptions/index.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#6857 Move matches_user? to the proper class
  src/api/app/models/bs_request.rb
  src/api/app/models/review.rb
Labels: Refactoring :factory:

#6856 Add request 2 to the development data (used in review apps)
  src/api/lib/tasks/dev.rake
Labels: review-app

#6858 Get rid of api_obj
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/helpers/webui/project_helper.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/views/webui2/webui/project/_status_comment.html.haml
Labels: Frontend 👻

#6855 Don't repeat the same javascript behind every comment
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui2/webui/comment/_content.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#6853 Improve monitor performance
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/helpers/webui/buildresult_helper.rb
  src/api/app/views/webui/project/monitor.html.erb
  src/api/app/views/webui2/webui/project/monitor.html.haml
  src/api/spec/controllers/webui/project_controller_spec.rb
Labels: Frontend 👻

#6861 Get rid of Webui::LoadBuildresults and ProjectController#package_buildresult
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/mixins/webui/load_buildresults.rb
  src/api/app/views/webui/project/package_buildresult.html.erb
  src/api/config/routes.rb
  src/api/spec/cassettes/Webui_ProjectController/GET_add_maintained_project_dialog/1_41_1.yml
  src/api/spec/cassettes/Webui_ProjectController/GET_maintained_projects/1_44_1.yml
  src/api/spec/cassettes/Webui_ProjectController/GET_maintained_projects/1_44_2.yml
  src/api/spec/controllers/webui/project_controller_spec.rb
Labels: Frontend 👻, Refactoring :factory:

#6835 Refactor source diff code in package show view
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/views/webui/request/show.html.erb
  src/api/spec/helpers/webui/request_helper_spec.rb
Labels: Frontend 👻

#6830 Update Contribution guide
  CONTRIBUTING.md
Labels: Documentation :book:

#6829 Use an SQL query to check whether a package has a patchinfo or not
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/models/project.rb
  src/api/spec/cassettes/Webui_ProjectController/GET_show/with_patchinfo/1_13_4_1.yml
  src/api/spec/controllers/webui/project_controller_spec.rb
Labels: Frontend 👻

#6876 [backend] allow a :flavor suffix in the channel package definition
  src/backend/BSSched/BuildJob/Channel.pm
Labels: Backend 🤖

#6880 Fix monitor page pagination in Firefox
  src/api/app/views/webui2/webui/project/monitor.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6870 Update default icon for comments
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui2/webui/comment/_content.html.haml
  src/api/app/views/webui2/webui/comment/_show.html.haml
Labels: Frontend 👻

#6886 [backend] publisher: do not call bs_regpush twice
  src/backend/BSPublisher/Container.pm
Labels: Backend 🤖

#6878 Improve monitor filtering
  src/api/app/assets/javascripts/webui2/project_monitor.js
  src/api/app/views/webui2/webui/project/_monitor_control.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app
