Repository openSUSE/open-build-service, pull requests merged in 2019-05, with the labels that each got.

#7517 Update text used in the modals
  src/api/app/views/webui/projects/maintained_projects/_create_dialog.html.haml
  src/api/app/views/webui/projects/maintained_projects/_delete_dialog.html.haml
  src/api/spec/bootstrap/features/webui/maintained_projects_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻

#7474 haml-lint missing views
  src/api/.haml-lint.yml
  src/api/app/assets/stylesheets/webui2/personal-navigation.scss
  src/api/app/views/event_mailer/comment_for_package.html.haml
  src/api/app/views/event_mailer/comment_for_project.html.haml
  src/api/app/views/event_mailer/comment_for_request.html.haml
  src/api/app/views/layouts/event_mailer.html.haml
  src/api/app/views/layouts/webui2/_announcement.html.haml
  src/api/app/views/layouts/webui2/_breadcrumbs.html.haml
  src/api/app/views/layouts/webui2/_flash.html.haml
  src/api/app/views/layouts/webui2/_login_form.html.haml
  src/api/app/views/layouts/webui2/_navigation.html.haml
  src/api/app/views/layouts/webui2/_personal_navigation.html.haml
  src/api/app/views/layouts/webui2/_search.html.haml
  src/api/app/views/layouts/webui2/webui.html.haml
Labels: Frontend 👻

#7520 Make subproject tables responsive
  src/api/app/views/webui2/webui/project/_projects_table.html.haml
  src/api/app/views/webui2/webui/project/list.html.haml
Labels: Bootstrap :rocket:, Bug :skull:, Frontend 👻

#7521 [backend] relax staticlinks regexp for images a bit more
  src/backend/bs_publish
Labels: Backend 🤖

#7523 Add missing Gemfile.lock changes
  src/api/Gemfile.lock
Labels: Frontend 👻, dependencies

#7526 Fix url for proxy login in Bootstrap
  src/api/app/views/layouts/webui2/_login_form.html.haml
  src/api/app/views/layouts/webui2/_personal_navigation.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7522 Apply background color in the diff section when switching between tabs of a request
  src/api/app/assets/javascripts/webui/application/request.js
  src/api/app/assets/javascripts/webui2/cm2/use-codemirror.js
  src/api/app/views/webui2/webui/request/show.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7528 Fix incident summary on index view, part II
  src/api/app/views/webui/projects/maintenance_incidents/_incident_table_entries.html.erb
Labels: Frontend 👻

#7506 write succeeded/failed into the package status instead of done
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/BSSched/Checker.pm
  src/backend/BSXML.pm
  src/backend/bs_repserver
Labels: Backend 🤖

#7534 Add lang="en" to webui page template
  src/api/app/views/layouts/webui/webui.html.erb
Labels: Frontend 👻

#7499 Re-write build_succeed? method
  src/api/app/models/concerns/staging_project.rb
  src/api/app/models/obs_factory/obs_project.rb
  src/api/app/models/obs_factory/staging_project.rb
  src/api/app/models/project.rb
  src/api/lib/backend/api/build_results/status.rb
Labels: Frontend 👻

#7549 BSRunner: do not wait 10 seconds between jobs
  src/backend/BSRunner.pm
  src/backend/BSUtil.pm
Labels: Backend 🤖

#7554 Fix link to submit/revert revision on revision diff view
  src/api/app/views/webui2/webui/package/_revision_diff_footer.html.haml
  src/api/app/views/webui2/webui/package/_submit_request_dialog.html.haml
  src/api/app/views/webui2/webui/package/rdiff.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7552 Align usage of flash messages for groups/users_controller
  src/api/app/controllers/webui/groups/users_controller.rb
  src/api/spec/bootstrap/features/webui/groups_spec.rb
  src/api/spec/controllers/webui/groups/users_controller_spec.rb
Labels: Frontend 👻

#7553 Revert "Remember number of shown entries for project monitor datatable"
  src/api/app/assets/javascripts/webui2/project_monitor.js
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui2/webui/project/_monitor_control.html.haml
  src/api/app/views/webui2/webui/project/monitor.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7556 Fix type / style of flash messages of succeeded requests
  src/api/app/controllers/webui/architectures_controller.rb
  src/api/app/controllers/webui/configuration_controller.rb
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/spec/controllers/webui/architectures_controller_spec.rb
  src/api/spec/controllers/webui/repositories_controller_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻

#7469 [dist] require insserv-compat for rc.status in obs-server and obs-worker packages
  dist/obs-server.spec
Labels: Packages :package:

#7264 Publish Ubuntu ddeb files to the repositories
  src/backend/bs_publish
Labels: Backend 🤖

#7240 Publish Debian upstream tarball signatures to the repositories
  src/backend/bs_publish
Labels: Backend 🤖

#7486 Reduce webui_infos usage in request controller
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/views/webui/request/show.html.erb
  src/api/app/views/webui2/webui/request/_review_tab.html.haml
  src/api/app/views/webui2/webui/request/_show_side_links.html.haml
  src/api/app/views/webui2/webui/request/show.html.haml
  src/api/spec/models/bs_request_spec.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/unit/bs_request_test.rb
Labels: Bootstrap :rocket:, Frontend 👻

#7569 Add skeleton for search views in Bootstrap
  src/api/app/controllers/webui/search_controller.rb
  src/api/app/views/webui2/webui/search/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/search/_tabs.html.haml
  src/api/app/views/webui2/webui/search/index.html.haml
  src/api/app/views/webui2/webui/search/owner.html.haml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7570 Override Bootstrap monospace fonts with 'monospace'
  src/api/app/assets/stylesheets/webui2/bootstrap_variables/fonts.scss
  src/api/app/assets/stylesheets/webui2/cm2/suse.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7560 Display review box only for requests which are new or in review
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/show.html.erb
  src/api/app/views/webui2/webui/request/show.html.haml
Labels: Frontend 👻, review-app

#7578 Use create! instead of create in Update User#create_home_project
  src/api/app/models/user.rb
Labels: Frontend 👻

#7573 Migrate Image Template to Bootstrap
  src/api/app/assets/javascripts/webui2/application.js
  src/api/app/assets/javascripts/webui2/image_templates.js
  src/api/app/assets/stylesheets/webui2/image_templates.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/controllers/webui/image_templates_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui2/webui/image_templates/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/image_templates/index.html.haml
  src/api/spec/bootstrap/features/webui/image_templates_spec.rb
  src/api/spec/cassettes/Bootstrap_ImageTemplates/branching/branch_Kiwi_image_template.yml
  src/api/spec/features/webui/image_templates_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#6679 [backend] new wrapper script for docker jailed services
  dist/obs-server.spec
  src/backend/BSConfig.pm.template
  src/backend/run-service-containerized
Labels: Backend 🤖

#7565 Add webui2 version of kiwi images
  src/api/app/assets/javascripts/webui2/application.js
  src/api/app/assets/javascripts/webui2/autocomplete.js
  src/api/app/assets/javascripts/webui2/kiwi_editor.js
  src/api/app/controllers/webui/kiwi/images_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui/kiwi/images/show.html.haml
  src/api/app/views/webui2/shared/_buildresult_box.html.haml
  src/api/app/views/webui2/webui/kiwi/_tabs.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_base_info.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_build_info.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_description_form.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_details_overview.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_package_fields.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_packages.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_preferences.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_preferences_form.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_profiles.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_repositories.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_repository_fields.html.haml
  src/api/app/views/webui2/webui/kiwi/images/edit.html.haml
  src/api/app/views/webui2/webui/kiwi/images/show.html.haml
  src/api/spec/bootstrap/features/webui/image_templates_spec.rb
  src/api/spec/cassettes/Bootstrap_ImageTemplates/branching/branch_Kiwi_image_template.yml
  src/api/spec/features/webui/image_templates_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7577 Fix issue 7419
  src/api/app/models/attrib.rb
Labels: Frontend 👻

#7580 [dist] setup-appliance.sh: wait for 'real' FQHN
  dist/setup-appliance.sh
Labels: Appliance :cd:

#7582 kiwi import from package should require a login
  src/api/app/controllers/webui/kiwi/images_controller.rb
  src/api/spec/controllers/webui/kiwi/images_controller_spec.rb
Labels: Frontend 👻

#7562 [api][backend] missing bits of binary_id tracking
  ReleaseNotes-2.10
  docs/api/api/api.txt
  docs/api/api/binary_released.rng
  docs/api/api/binary_released.xml
  docs/api/api/obs.rng
  src/api/app/controllers/source_controller.rb
  src/api/app/models/binary_release.rb
  src/api/app/models/project.rb
  src/api/db/migrate/20190215131711_add_binary_id_tracking.rb
  src/api/db/migrate/20190328131711_flavor_tracking.rb
  src/api/db/structure.sql
  src/api/lib/tasks/databases.rake
  src/api/lib/xpath_engine.rb
  src/api/spec/models/project_spec.rb
  src/api/test/fixtures/binary_releases.yml
  src/api/test/functional/binary_release_test.rb
  src/api/test/functional/channel_maintenance_test.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/unit/binary_release.rb
  src/backend/bs_publish
Labels: Backend 🤖, Frontend 👻

#7589 Revert "Override Bootstrap monospace fonts with 'monospace'"
  src/api/app/assets/stylesheets/webui2/bootstrap_variables/fonts.scss
  src/api/app/assets/stylesheets/webui2/cm2/suse.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
Labels: Bootstrap :rocket:, Frontend 👻

#7587 Fix image template description for remote templates
  src/api/app/models/project.rb
Labels: Frontend 👻

#7597 features/webui/repositories_spec: Stub request to opensuse.org
  src/api/spec/bootstrap/features/webui/repositories_spec.rb
  src/api/spec/cassettes/Bootstrap_Repositories/Repositories/add/delete_repository_from_distribution.yml
  src/api/spec/cassettes/Bootstrap_Repositories/Repositories/add_repository_from_distribution.yml
  src/api/test/fixtures/backend/distributions.xml
Labels: Test Suite :syringe:

#7588 Add contributors graph to user show
  src/api/app/assets/stylesheets/webui2/user.scss
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/helpers/webui/user_activity_helper.rb
  src/api/app/models/user/contributions.rb
  src/api/app/views/webui2/webui/user/_activity.html.haml
  src/api/app/views/webui2/webui/user/show.html.haml
  src/api/spec/bootstrap/features/webui/users_spec.rb
  src/api/spec/helpers/webui/user_activity_helper_spec.rb
Labels: Frontend 👻

#7504 Move link for incident creation to maintenance incidents index page
  src/api/app/views/webui2/webui/project/bottom_actions/_create_maintenance_incident.html.haml
  src/api/app/views/webui2/webui/project/bottom_actions/_modify_project.html.haml
  src/api/app/views/webui2/webui/projects/maintenance_incidents/index.html.haml
  src/api/spec/bootstrap/features/webui/projects_spec.rb
  src/api/spec/cassettes/Bootstrap_Projects/maintenance_incidents/visiting_the_maintenance_overview.yml
Labels: Bootstrap :rocket:, Frontend 👻

#7605 send package status to a redis server if configured
  dist/obs-server.spec
  src/backend/BSConfiguration.pm
  src/backend/BSNotify.pm
  src/backend/BSRedis.pm
  src/backend/BSRedisnotify.pm
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/BuildJob/Aggregate.pm
  src/backend/BSSched/BuildJob/DeltaRpm.pm
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/EventHandler.pm
  src/backend/BSSrcServer/Notify.pm
  src/backend/bs_dispatch
  src/backend/bs_notifyforward
  src/backend/bs_publish
  src/backend/bs_redis
  src/backend/bs_repserver
  src/backend/bs_signer
  src/backend/bs_srcserver
  src/backend/bs_warden
Labels: Backend 🤖

#7613 Update gem ffi to 1.11.1
  src/api/Gemfile.lock
Labels: dependencies

#7611 project link instantiate: expand links
  src/backend/BSRedisnotify.pm
  src/backend/BSSched/BuildResult.pm
  src/backend/bs_redis
  src/backend/bs_srcserver
Labels: Backend 🤖

#7612 Return the ssl certificate as plain text
  src/api/app/models/project/key_info.rb
  src/api/spec/controllers/webui/projects/ssl_certificate_controller_spec.rb
Labels: Frontend 👻

#7618 Small staging related patches
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/views/webui2/webui/staging/projects/preview_copy.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7609 Move method calls to callbacks
  src/api/app/models/bs_request.rb
  src/api/spec/jobs/bs_request_action_webui_infos_job_spec.rb
  src/api/spec/models/bs_request_spec.rb
Labels: Frontend 👻

#7585 Fix state validation
  src/api/app/models/user.rb
Labels: Frontend 👻

#7621 Remove reset cache calls
  src/api/app/models/binary_release.rb
  src/api/app/models/bs_request.rb
Labels: Frontend 👻

#7610 Migrate "Search Owners" Page to Bootstrap
  src/api/app/assets/stylesheets/webui2/borders.scss
  src/api/app/assets/stylesheets/webui2/search.scss
  src/api/app/assets/stylesheets/webui2/webui2.css.scss
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/search_helper.rb
  src/api/app/models/owner_search/base.rb
  src/api/app/views/webui2/webui/search/_request_bugowner_change_dialog.html.haml
  src/api/app/views/webui2/webui/search/_results_owner.html.haml
  src/api/app/views/webui2/webui/search/owner.html.haml
  src/api/spec/controllers/webui/search_controller_spec.rb
  src/api/spec/helpers/webui/search_helper_spec.rb
  src/api/spec/models/owner_search_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7622 Enable Bootstrap UI for search#owner
  src/api/app/controllers/webui/search_controller.rb
Labels: Bootstrap :rocket:, Frontend 👻

#7584 Migrate search page to Bootstrap
  src/api/.haml-lint.yml
  src/api/app/assets/stylesheets/webui/application/search.scss
  src/api/app/controllers/webui/search_controller.rb
  src/api/app/views/webui2/webui/kaminari/_first_page.html.haml
  src/api/app/views/webui2/webui/kaminari/_gap.html.haml
  src/api/app/views/webui2/webui/kaminari/_last_page.html.haml
  src/api/app/views/webui2/webui/kaminari/_next_page.html.haml
  src/api/app/views/webui2/webui/kaminari/_page.html.haml
  src/api/app/views/webui2/webui/kaminari/_paginator.html.haml
  src/api/app/views/webui2/webui/kaminari/_prev_page.html.haml
  src/api/app/views/webui2/webui/patchinfo/form/_issues.html.haml
  src/api/app/views/webui2/webui/search/_advanced_search.html.haml
  src/api/app/views/webui2/webui/search/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/search/_results.html.haml
  src/api/app/views/webui2/webui/search/_results_issue.html.haml
  src/api/app/views/webui2/webui/search/_search_for.html.haml
  src/api/app/views/webui2/webui/search/_tabs.html.haml
  src/api/app/views/webui2/webui/search/index.html.haml
  src/api/app/views/webui2/webui/search/issue.html.haml
  src/api/config/locales/kaminari.en.yml
  src/api/config/routes.rb
  src/api/spec/features/webui/search_spec.rb
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7637 Align 'Cloud Upload' icon on the Kiwi editor with other views
  src/api/app/views/webui2/webui/kiwi/images/_base_info.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7626 [backend] add BSConfig variable for rsync options in publisher
  src/backend/BSConfig.pm.template
  src/backend/bs_publish
Labels: Backend 🤖

#7640 Fix Save button on editing Kiwi image
  src/api/app/assets/javascripts/webui2/kiwi_editor.js
  src/api/spec/bootstrap/features/webui/kiwi/images_spec.rb
  src/api/spec/cassettes/Bootstrap_Kiwi_Images/project_with_wiki_image/modify_author.yml
Labels: Bootstrap :rocket:, Frontend 👻, review-app

#7645 Status Monitor Skeleton in Bootstrap
  src/api/app/controllers/webui/monitor_controller.rb
  src/api/app/views/webui2/webui/monitor/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/monitor/_events.html.haml
  src/api/app/views/webui2/webui/monitor/_lights.html.haml
  src/api/app/views/webui2/webui/monitor/_workers_table.html.haml
  src/api/app/views/webui2/webui/monitor/index.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7648 Show Preferences box only in Kiwi Details tab
  src/api/app/views/webui2/webui/kiwi/images/edit.html.haml
Labels: Bootstrap :rocket:, Frontend 👻

#7647 [backend] add approver to reques structure in BSXML
  src/backend/BSXML.pm
Labels: Backend 🤖

#7651 Migrate Cloud::ConfigurationController#index to bootstrap
  src/api/app/controllers/webui/cloud/configurations_controller.rb
  src/api/app/views/webui2/webui/cloud/configurations/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/cloud/configurations/index.html.haml
Labels: Bootstrap :rocket:, Frontend 👻
