Repository openSUSE/open-build-service, pull requests merged in 2019-10, with the labels that each got.

#8474 Refactor routes patchinfo
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/helpers/webui/maintenance_incident_helper.rb
  src/api/app/views/webui/package/_tabs.html.haml
  src/api/app/views/webui/package/side_links/_show_patchinfo.html.haml
  src/api/app/views/webui/patchinfo/edit.html.haml
  src/api/app/views/webui/patchinfo/form/_issues.html.haml
  src/api/app/views/webui/project/bottom_actions/_patchinfo.html.haml
  src/api/app/views/webui/project/side_links/_patchinfo_present.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/patchinfo_controller_spec.rb
  src/api/spec/features/webui/patchinfo_spec.rb
Labels: Frontend, Refactoring :factory:

#8485 Add missing XmlBody to DELETE staged requests
  docs/api/api/api.txt
Labels: Documentation :book:, staging-workflow

#8479 Don't set overall state of staging project to building if disabled repos are present
  src/api/app/models/concerns/staging_project.rb
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/with_disabled_repository/1_1_3_10_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/with_disabled_repository/1_1_3_10_2.yml
  src/api/spec/models/project/staging_project_spec.rb
Labels: Frontend, staging-workflow

#8483 Improve error message during staging request
  src/api/app/models/staging/request_excluder.rb
  src/api/app/models/staging/stage_requests.rb
Labels: Frontend, staging-workflow

#8496 Make prjconf routes resourceful
  src/api/app/views/webui/project/prjconf.html.haml
  src/api/app/views/webui/projects/project_configuration/show.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/projects/project_configuration_controller_spec.rb
Labels: Frontend, Refactoring :factory:

#8507 Change reviews for staged and unstaged requests
  src/api/app/models/staging/stage_requests.rb
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
Labels: Frontend, staging-workflow

#8494 WIP: Improve rendering/loading time of staging project show
  src/api/app/views/webui/staging/projects/_history_elements.html.haml
  src/api/app/views/webui/staging/projects/_staging_project_created_history.html.haml
  src/api/app/views/webui/staging/projects/_unstaged_staged_request_history.html.haml
Labels: Frontend, staging-workflow

#8475 Link to the staging workflow for the 'Staging' tab in the context of a staging project
  src/api/app/views/webui/project/_tabs.html.haml
Labels: Frontend

#8514 Remove Y axis label width in monitor page plot graphics
  src/api/app/assets/javascripts/webui/monitor.js
Labels: Frontend

#8492 Prevent crashing on empty body requests
  src/api/app/controllers/staging/staged_requests_controller.rb
Labels: Frontend, staging-workflow

#8499 Call explicitly name on a class
  src/api/app/views/webui/comment/_comment_field.html.haml
Labels: Frontend

#8530 Make username field to get focus automatically
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/login-form.js
  src/api/app/views/layouts/webui/_login_form.html.haml
Labels: Frontend, review-app

#8423 Fix condition in BsRequest::FindFor::Project
  src/api/app/models/bs_request/find_for/project.rb
Labels: Frontend

#8536 Show build logs for finished builds in monitor page
  src/api/app/assets/javascripts/webui/project_monitor.js
Labels: Frontend

#8523 Let editor insert spaces instead of tabs
  src/api/app/assets/javascripts/webui/cm2/use-codemirror.js
Labels: Frontend, review-app

#8521 Avoid duplication in broken packages list
  src/api/app/models/concerns/staging_project.rb
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
Labels: staging-workflow

#8537 Fix our custom backend subscriber
  src/api/lib/influxdb_obs/obs/middleware/backend_subscriber.rb
  src/api/spec/lib/influx_db/obs/middleware/backend_subscriber_spec.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#8551 Fix rubocop offenses regarding missing parenthesis
  src/api/spec/models/project_spec.rb
Labels: Frontend

#8553 Add request action type to the staged requests xml response
  src/api/app/views/staging/staged_requests/index.xml.builder
Labels: Frontend, staging-workflow

#8471 Fix publisher sleeping even if there is something to retry
  src/backend/BSSched/BuildJob/Aggregate.pm
  src/backend/BSVerify.pm
  src/backend/bs_publish
Labels: Backend 🤖

#8544 [backend] publish appx files
  src/backend/bs_publish
Labels: Backend 🤖

#8538 Refactored ProjectController#status and dependencies to Projects::Status::Controller.
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/projects/status_controller.rb
  src/api/app/views/webui/project/_breadcrumb_items.html.haml
  src/api/app/views/webui/projects/status/_breadcrumb_items.html.haml
  src/api/app/views/webui/projects/status/show.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/cassettes/Projects/project_status.yml
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/controllers/webui/projects/status_controller_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Labels: Frontend, Refactoring :factory:, review-app

#8557 Update staged request result in apidocs
  docs/api/api/staged_requests.xml
Labels: Documentation :book:, Frontend, staging-workflow

#8556 Add a Backlog API endpoint
  docs/api/api/api.txt
  docs/api/api/backlog.xml
  src/api/app/controllers/staging/backlog_controller.rb
  src/api/app/views/staging/backlog/index.xml.builder
  src/api/app/views/staging/shared/_requests.xml.builder
  src/api/app/views/staging/staged_requests/index.xml.builder
  src/api/config/routes/api_routes.rb
  src/api/spec/controllers/staging/backlog_controller_spec.rb
  src/api/test/functional/backend_test.rb
Labels: Frontend, staging-workflow

#8560 Refactor Staging a little bit
  src/api/app/controllers/staging/excluded_requests_controller.rb
  src/api/app/controllers/staging/staging_controller.rb
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/app/controllers/staging/workflows_controller.rb
  src/api/spec/controllers/staging/excluded_requests_controller_spec.rb
Labels: Frontend, staging-workflow

#8563 Rename StageRequest to StagedRequest
  src/api/app/controllers/staging/staged_requests_controller.rb
  src/api/app/models/staging/staged_requests.rb
Labels: Frontend, Refactoring :factory:, staging-workflow

#8566 Set review for staged requests if request state new or review
  src/api/app/models/staging/staged_requests.rb
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
Labels: Frontend, staging-workflow

#8565 Refactor BacklogController
  src/api/app/controllers/staging/backlog_controller.rb
  src/api/spec/controllers/staging/backlog_controller_spec.rb
Labels: Frontend, staging-workflow

#8569 Use param project_name instead of project
  src/api/app/controllers/webui/projects/status_controller.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#8570 Fix checkable error
  src/api/app/views/staging/staging_projects/_checks.xml.builder
  src/api/app/views/status/checks/_check.xml.builder
Labels: Frontend, staging-workflow

#8576 Add configuration breadcrumbs for User management
  src/api/app/views/webui/users/_breadcrumb_items.html.haml
Labels: review-app

#8579 Align usage of icons for projects/packages in the UI
  src/api/app/helpers/webui/staging/workflow_helper.rb
  src/api/app/views/webui/request/_reviewer.html.haml
Labels: Frontend, review-app

#8584 Delete all staging projects of a staging workflow when passing a param
  src/api/app/controllers/staging/workflows_controller.rb
  src/api/spec/controllers/staging/workflows_controller_spec.rb
Labels: Frontend, staging-workflow

#8580 Get rid of n+1 queries and improve rendering time of staging project/workflow
  src/api/app/helpers/webui/staging/workflow_helper.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/concerns/staging_project.rb
Labels: Frontend, staging-workflow

#8593 Fix smoke tests
  dist/t/spec/features/0040_package_spec.rb
  src/backend/BSRPC.pm
Labels: Appliance :cd:, Flickering :cyclone:, Frontend, Test Suite :syringe:

#8595 Improve alignment of reviewers icons in staging workflow
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
  src/api/app/helpers/webui/staging/workflow_helper.rb
Labels: Frontend

#8599 backend: allow _repository:buildflavor in the buildinfo query
  src/backend/BSSSL.pm
  src/backend/BSVerify.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Backend 🤖

#8602 Remove warning message from release notes
  docs/ReleaseNotes-2.10
  docs/ReleaseNotes-2.6
  docs/ReleaseNotes-2.8
  docs/ReleaseNotes-2.9
Labels: Documentation :book:

#8598 Refactor BranchPackage model
  src/api/app/models/branch_package.rb
  src/api/app/models/branch_package/dry_run.rb
  src/api/app/models/branch_package/errors.rb
  src/api/app/models/branch_package/set_target_project.rb
  src/api/spec/cassettes/BranchPackage_SetTargetProject/_auto_cleanup/with_target_project_and_autocleanup/1_3_1_1.yml
  src/api/spec/cassettes/BranchPackage_SetTargetProject/_new/1_1_1.yml
  src/api/spec/cassettes/BranchPackage_SetTargetProject/_target_project/when_request_is_provided/1_2_2_1.yml
  src/api/spec/cassettes/BranchPackage_SetTargetProject/_target_project/when_target_project_is_provided/1_2_1_1.yml
  src/api/spec/cassettes/BranchPackage_SetTargetProject/_valid_/invalid_name/1_4_2_1.yml
  src/api/spec/cassettes/BranchPackage_SetTargetProject/_valid_/valid_name/1_4_1_1.yml
  src/api/spec/models/branch_package/set_target_project_spec.rb
  src/api/spec/models/branch_package_spec.rb
Labels: Frontend, Refactoring :factory:

#8610 Add release notes for 2.9.7
  ReleaseNotes-2.9.7
Labels: 2.9

#8558 Switch to Thinking::Sphinx real-time indexes
  ReleaseNotes-2.11
  src/api/.rubocop_todo.yml
  src/api/Procfile
  src/api/app/indices/package_index.rb
  src/api/app/indices/project_index.rb
  src/api/app/mixins/package_sphinx.rb
  src/api/app/mixins/populate_sphinx.rb
  src/api/app/mixins/project_sphinx.rb
  src/api/app/models/attrib.rb
  src/api/app/models/package.rb
  src/api/app/models/package_issue.rb
  src/api/app/models/project.rb
  src/api/config/clock.rb
  src/api/config/thinking_sphinx.yml.example
  src/api/lib/obsapi/test_sphinx.rb
  src/api/lib/tasks/dev.rake
  src/api/spec/factories/attribs.rb
  src/api/spec/features/webui/search_spec.rb
  src/api/spec/models/full_text_search_spec.rb
  src/api/spec/rails_helper.rb
  src/api/spec/sphinx_helper.rb
  src/api/spec/support/database_cleaner.rb
  src/api/spec/support/thinking_sphinx.rb
  src/api/test/models/full_text_search_test.rb
  src/api/test/test_helper.rb
Labels: Frontend, review-app

#8603 Add missing informations to broken packages xml api response
  src/api/app/views/staging/staging_projects/_broken_packages.xml.builder
  src/api/app/views/staging/staging_projects/_building_repositories.xml.builder
Labels: Frontend, staging-workflow
