Repository openSUSE/open-build-service, pull requests merged in 2019-09, with the labels that each got.

#8218 Add delayedjob worker for thinking sphinx indexing
  ReleaseNotes-2.11
  dist/Makefile
  dist/obs-server.spec
  dist/systemd/obs-api-support.target
  dist/systemd/obs-delayedjob-queue-sphinx-indexing.service
  src/api/app/jobs/full_text_index_job.rb
Labels: Frontend, Packages :package:, Reference Server :desktop_computer:

#8224 Run spider test in the new UI
  .circleci/config.yml
  src/api/test/functional/webui/spider_test.rb
Labels: Test Suite :syringe:

#8236 Migrate project#new_package
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui2/webui/project/_create_package_form.html.haml
  src/api/app/views/webui2/webui/project/_create_package_modal.html.haml
  src/api/app/views/webui2/webui/project/new_package.html.haml
Labels: Frontend

#8240 Backport project#new_package
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui2/webui/project/_create_package_form.html.haml
  src/api/app/views/webui2/webui/project/_create_package_modal.html.haml
  src/api/app/views/webui2/webui/project/new_package.html.haml
Labels: 2.10, Frontend, review-app

#8202 Bento shared views - Replace with Bootstrap shared views
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/shared/_add_group.html.haml
  src/api/app/views/shared/_add_user.html.haml
  src/api/app/views/shared/_buildresult_box.html.haml
  src/api/app/views/shared/_download_repository_link.html.haml
  src/api/app/views/shared/_editor.html.haml
  src/api/app/views/shared/_involved_users.html.haml
  src/api/app/views/shared/_open_requests.html.haml
  src/api/app/views/shared/_package_branch_form.html.haml
  src/api/app/views/shared/_repositories.html.haml
  src/api/app/views/shared/_repositories_flag_table.html.haml
  src/api/app/views/shared/_repositories_flag_table_column.html.haml
  src/api/app/views/shared/_sign_up.html.haml
  src/api/app/views/shared/_single_request.html.haml
  src/api/app/views/shared/_sourcediff.html.haml
  src/api/app/views/shared/_user_and_role_with_realname_and_icon.html.haml
  src/api/app/views/shared/noindex.html.haml
  src/api/app/views/webui/shared/_buildresult_box.html.haml
  src/api/app/views/webui/shared/_dialog_action_buttons.html.haml
  src/api/app/views/webui/shared/_download_repository_link.html.haml
  src/api/app/views/webui/shared/_editor.html.haml
  src/api/app/views/webui/shared/_editor_modal.html.haml
  src/api/app/views/webui/shared/_flag_popover.html.haml
  src/api/app/views/webui/shared/_open_requests.html.haml
  src/api/app/views/webui/shared/_package_branch_form.html.haml
  src/api/app/views/webui/shared/_patchinfos_table.html.haml
  src/api/app/views/webui/shared/_repositories.html.haml
  src/api/app/views/webui/shared/_repositories_flag_table.html.haml
  src/api/app/views/webui/shared/_requests_state_and_type_form.html.haml
  src/api/app/views/webui/shared/_requests_table.html.haml
  src/api/app/views/webui/shared/_sign_up.html.haml
  src/api/app/views/webui/shared/_truncated_diff_hint.html.erb
  src/api/app/views/webui/shared/_truncated_diff_hint.html.haml
  src/api/app/views/webui/shared/bs_requests/index.json.erb
  src/api/app/views/webui/shared/user_or_groups_roles/_add_group_dialog.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_add_user_dialog.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_delete_dialog.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_index.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_list.html.haml
Labels: Frontend

#8248 Replace Bento views by Bootstrap views for announcements
  src/api/app/views/webui/announcements/_breadcrumb_items.html.haml
  src/api/app/views/webui/announcements/show.html.haml
  src/api/app/views/webui2/webui/announcements/show.html.haml
Labels: Frontend, review-app

#8249 Use bootstrap views instead of bento views in apidocs
  src/api/app/views/webui/apidocs/_breadcrumb_items.html.haml
  src/api/app/views/webui/apidocs/index.html.haml
  src/api/spec/features/webui/apidocs_spec.rb
Labels: Frontend

#8237 Register thinking sphinx delayed worker systemd unit
  dist/obs-server.spec
Labels: Packages :package:

#8251 Replace Bento by Bootstrap for attributes
  src/api/app/controllers/webui/attribute_controller.rb
  src/api/app/controllers/webui2/attribute_controller.rb
  src/api/app/views/webui/attribute/_attributes.html.haml
  src/api/app/views/webui/attribute/_breadcrumb_items.html.haml
  src/api/app/views/webui/attribute/_delete_dialog.html.haml
  src/api/app/views/webui/attribute/_form.html.haml
  src/api/app/views/webui/attribute/_issue_fields.html.haml
  src/api/app/views/webui/attribute/_value_fields.html.haml
  src/api/app/views/webui/attribute/edit.html.haml
  src/api/app/views/webui/attribute/index.html.haml
  src/api/app/views/webui/attribute/new.html.haml
  src/api/app/views/webui2/webui/attribute/_form.html.haml
  src/api/app/views/webui2/webui/attribute/_issue_fields.html.haml
  src/api/app/views/webui2/webui/attribute/_value_fields.html.haml
  src/api/app/views/webui2/webui/attribute/edit.html.haml
  src/api/app/views/webui2/webui/attribute/index.html.haml
  src/api/app/views/webui2/webui/attribute/new.html.haml
  src/api/spec/bootstrap/features/webui/attributes_spec.rb
  src/api/spec/features/webui/attributes_spec.rb
Labels: Frontend, review-app

#8256 Add data migration for attribute default values.
  src/api/db/data/20190902110039_add_attribute_default_values.rb
  src/api/db/data_schema.rb
Labels: Frontend, Reference Server :desktop_computer:

#8252 Replace Bento by Bootstrap for interconnects
  src/api/app/controllers/webui/interconnects_controller.rb
  src/api/app/controllers/webui2/interconnects_controller.rb
  src/api/app/views/webui/interconnects/_breadcrumb_items.html.haml
  src/api/app/views/webui/interconnects/_interconnect_button.html.haml
  src/api/app/views/webui/interconnects/_interconnect_modal.html.haml
  src/api/app/views/webui/interconnects/_tabs.html.haml
  src/api/app/views/webui/interconnects/create.js.haml
  src/api/app/views/webui/interconnects/new.html.haml
  src/api/app/views/webui2/webui/interconnects/_tabs.html.haml
  src/api/app/views/webui2/webui/interconnects/new.html.haml
  src/api/spec/controllers/webui/interconnects_controller_spec.rb
  src/api/spec/features/webui/interconnects_spec.rb
Labels: Frontend

#8255 Replace bento view by bootstrap views for comments
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/controllers/webui2/comments_controller.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/comment/_comment_list.html.haml
  src/api/app/views/webui/comment/_content.html.haml
  src/api/app/views/webui/comment/_delete_dialog.html.haml
  src/api/app/views/webui/comment/_expand_collapse.js.erb
  src/api/app/views/webui/comment/_links.html.haml
  src/api/app/views/webui/comment/_new.html.haml
  src/api/app/views/webui/comment/_reply.html.haml
  src/api/app/views/webui/comment/_show.html.haml
  src/api/app/views/webui2/webui/comment/_new.html.haml
  src/api/app/views/webui2/webui/comment/_reply.html.haml
  src/api/app/views/webui2/webui/comment/_show.html.haml
  src/api/app/views/webui2/webui/package/show.html.haml
  src/api/app/views/webui2/webui/project/show.html.haml
  src/api/app/views/webui2/webui/request/_request_comments.html.haml
  src/api/spec/bootstrap/features/webui/comments_spec.rb
  src/api/spec/features/webui/comments_spec.rb
Labels: Frontend, review-app

#8238 Remove Bento helpers, 3rd part
  src/api/app/helpers/webui/search_helper.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui2/webui/package/_buildstatus.html.haml
  src/api/app/views/webui2/webui/package/binaries.html.haml
  src/api/app/views/webui2/webui/project/_buildstatus.html.haml
  src/api/app/views/webui2/webui/project/monitor.html.haml
  src/api/spec/helpers/webui/search_helper_spec.rb
  src/api/spec/helpers/webui/user_helper_spec.rb
  src/api/spec/helpers/webui/webui_helper_spec.rb
Labels: Frontend

#8257 Replace Bento by Bootstrap for configuration
  src/api/app/controllers/webui/configuration_controller.rb
  src/api/app/views/webui/configuration/_breadcrumb_items.html.haml
  src/api/app/views/webui/configuration/_tabs.html.haml
  src/api/app/views/webui/configuration/index.html.haml
  src/api/app/views/webui/interconnects/_breadcrumb_items.html.haml
  src/api/app/views/webui2/webui/configuration/_tabs.html.haml
  src/api/app/views/webui2/webui/configuration/index.html.haml
Labels: Frontend, review-app

#8264 Replace bento view by bootstrap view for architectures
  src/api/app/controllers/webui/architectures_controller.rb
  src/api/app/views/webui/architectures/_breadcrumb_items.html.haml
  src/api/app/views/webui/architectures/bulk_update_availability.js.erb
  src/api/app/views/webui/architectures/index.html.haml
  src/api/app/views/webui/architectures/update.js.erb
  src/api/app/views/webui2/webui/architectures/index.html.haml
Labels: Frontend, review-app

#7889 Dont shorten request source path text in webui2
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/views/webui2/shared/bs_requests/index.json.erb
Labels: Frontend

#8005 Convert custom validations into Rails validations
  src/api/app/models/review.rb
  src/api/spec/models/bs_request_spec.rb
  src/api/spec/models/review_spec.rb
Labels: Frontend, Refactoring :factory:

#8265 Replace Bento views by Bootstrap views for 'Download on Demand'
  src/api/app/views/webui/download_on_demand/_add.html.haml
  src/api/app/views/webui/download_on_demand/_edit.html.haml
  src/api/app/views/webui/download_on_demand/_form.html.haml
  src/api/app/views/webui/download_on_demand/_index.html.haml
  src/api/app/views/webui/repositories/_add_dod_repository_modal.html.haml
  src/api/app/views/webui/repositories/_add_dod_source_modal.html.haml
  src/api/app/views/webui/repositories/_delete_dod_source_modal.html.haml
  src/api/app/views/webui/repositories/_dod_repository_card_content.html.haml
  src/api/app/views/webui/repositories/_dod_repository_form.html.haml
  src/api/app/views/webui/repositories/_dod_source_fields.html.haml
  src/api/app/views/webui/repositories/_edit_dod_source_modal.html.haml
  src/api/app/views/webui/repositories/create_dod_repository.js.erb
  src/api/spec/bootstrap/features/webui/repositories_spec.rb
  src/api/spec/features/webui/repositories_spec.rb
Labels: Frontend, review-app

#8239 Add feature spec for Factory dashboard
  src/api/spec/bootstrap/features/webui/factory_dashboard_spec.rb
  src/api/spec/cassettes/FactoryDashboard/a_specific_staging_project/bento/behaves_like_bento_layout/images_and_title.yml
  src/api/spec/cassettes/FactoryDashboard/a_specific_staging_project/bento/behaves_like_check_assets/imgs.yml
  src/api/spec/cassettes/FactoryDashboard/a_specific_staging_project/status_messages_and_icons_classes.yml
  src/api/spec/cassettes/FactoryDashboard/a_specific_staging_project/target_package_is_there.yml
  src/api/spec/cassettes/FactoryDashboard/the_dashboard/bento/behaves_like_bento_layout/images_and_title.yml
  src/api/spec/cassettes/FactoryDashboard/the_dashboard/bento/behaves_like_check_assets/imgs.yml
  src/api/spec/cassettes/FactoryDashboard/the_dashboard/title_links_to_staging_projects.yml
  src/api/spec/cassettes/FactoryDashboard/the_staging_projects/bento/behaves_like_bento_layout/images_and_title.yml
  src/api/spec/cassettes/FactoryDashboard/the_staging_projects/bento/behaves_like_check_assets/imgs.yml
  src/api/spec/cassettes/FactoryDashboard/the_staging_projects/it_has_a_link_to_staging_project.yml
Labels: Bootstrap :rocket:, Test Suite :syringe:

#8266 Replace Bento by Bootstrap for search
  src/api/app/controllers/webui/search_controller.rb
  src/api/app/views/webui/search/_advanced_search.html.haml
  src/api/app/views/webui/search/_breadcrumb_items.html.haml
  src/api/app/views/webui/search/_owners.html.haml
  src/api/app/views/webui/search/_request_bugowner_change_dialog.html.haml
  src/api/app/views/webui/search/_results.html.haml
  src/api/app/views/webui/search/_results_issue.html.haml
  src/api/app/views/webui/search/_results_owner.html.haml
  src/api/app/views/webui/search/_search_for.html.haml
  src/api/app/views/webui/search/_tabs.html.haml
  src/api/app/views/webui/search/index.html.haml
  src/api/app/views/webui/search/issue.html.haml
  src/api/app/views/webui/search/owner.html.haml
  src/api/app/views/webui2/webui/search/_results.html.haml
  src/api/app/views/webui2/webui/search/_tabs.html.haml
  src/api/app/views/webui2/webui/search/index.html.haml
  src/api/app/views/webui2/webui/search/owner.html.haml
Labels: Frontend, review-app

#8268 Replace Bento views by Bootstrap views for image templates
  src/api/app/views/webui/image_templates/_breadcrumb_items.html.haml
  src/api/app/views/webui/image_templates/index.html.haml
  src/api/app/views/webui2/webui/image_templates/index.html.haml
  src/api/spec/features/webui/image_templates_spec.rb
Labels: Frontend, review-app

#8270 Replace Bento views by Bootstrap views for Webui::MainController
  src/api/app/controllers/webui/main_controller.rb
  src/api/app/controllers/webui/status_messages_controller.rb
  src/api/app/views/webui/main/_add_status_message_modal.html.haml
  src/api/app/views/webui/main/_admin_proceed-list.html.haml
  src/api/app/views/webui/main/_breadcrumb_items.html.haml
  src/api/app/views/webui/main/_latest_updates.haml
  src/api/app/views/webui/main/_latest_updates.html.haml
  src/api/app/views/webui/main/_proceed-list.html.haml
  src/api/app/views/webui/main/_sponsors.html.haml
  src/api/app/views/webui/main/_status_message.html.haml
  src/api/app/views/webui/main/_status_messages.html.haml
  src/api/app/views/webui/main/_system_status.html.haml
  src/api/app/views/webui/main/_system_status_legend.html.haml
  src/api/app/views/webui/main/_systemstatus.html.haml
  src/api/app/views/webui/main/_user_proceed-list.html.haml
  src/api/app/views/webui/main/about.html.haml
  src/api/app/views/webui/main/index.html.haml
  src/api/app/views/webui/status_messages/_create_status_message_dialog.html.haml
  src/api/app/views/webui/status_messages/_destroy_status_message_dialog.html.haml
  src/api/app/views/webui2/webui/main/_sponsors.html.haml
  src/api/app/views/webui2/webui/main/_status_messages.html.haml
  src/api/app/views/webui2/webui/main/about.html.haml
  src/api/app/views/webui2/webui/main/index.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/webui/status_messages_controller_spec.rb
Labels: Frontend, review-app

#8272 Refactor SessionController routes, controller, views
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/views/layouts/webui/_personal_navigation.html.haml
  src/api/app/views/layouts/webui/webui.html.erb
  src/api/app/views/layouts/webui2/_footer.html.haml
  src/api/app/views/layouts/webui2/_logged_in_user_navigation.html.haml
  src/api/app/views/layouts/webui2/_personal_navigation.html.haml
  src/api/app/views/webui/comment/_new.html.haml
  src/api/app/views/webui/session/_breadcrumb_items.html.haml
  src/api/app/views/webui/session/_form.html.haml
  src/api/app/views/webui/session/new.html.haml
  src/api/app/views/webui2/webui/session/_form.html.haml
  src/api/app/views/webui2/webui/session/new.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/controllers/webui/session_controller_spec.rb
  src/api/spec/controllers/webui/webui_controller_spec.rb
  src/api/spec/features/webui/login_spec.rb
  src/api/spec/support/features/features_authentication.rb
  src/api/test/test_helper.rb
Labels: Frontend, review-app

#8220 Remove Bento helpers, 1st part
  src/api/app/helpers/webui/buildresult_helper.rb
  src/api/app/helpers/webui/group_helper.rb
  src/api/app/helpers/webui/home_helper.rb
  src/api/app/helpers/webui/kiwi/image_helper.rb
  src/api/app/helpers/webui/main_helper.rb
  src/api/app/helpers/webui/monitor_helper.rb
  src/api/app/views/webui2/webui/package/_buildstatus.html.haml
  src/api/spec/helpers/webui/buildresult_helper_spec.rb
Labels: Frontend

#8271 Replace bento views by bootstrap views for monitor
  src/api/app/views/webui/monitor/_breadcrumb_items.html.haml
  src/api/app/views/webui/monitor/_building.html.haml
  src/api/app/views/webui/monitor/_building_table.html.haml
  src/api/app/views/webui/monitor/_events.html.haml
  src/api/app/views/webui/monitor/_idle.html.haml
  src/api/app/views/webui/monitor/_lights.html.haml
  src/api/app/views/webui/monitor/_stats.html.haml
  src/api/app/views/webui/monitor/_workers_table.html.haml
  src/api/app/views/webui/monitor/index.html.haml
  src/api/app/views/webui/monitor/old.html.haml
  src/api/app/views/webui2/webui/monitor/_building.html.haml
  src/api/app/views/webui2/webui/monitor/_building_table.html.haml
  src/api/app/views/webui2/webui/monitor/_events.html.haml
  src/api/app/views/webui2/webui/monitor/_idle.html.haml
  src/api/app/views/webui2/webui/monitor/_lights.html.haml
  src/api/app/views/webui2/webui/monitor/_stats.html.haml
  src/api/app/views/webui2/webui/monitor/_workers_table.html.haml
  src/api/app/views/webui2/webui/monitor/index.html.haml
  src/api/app/views/webui2/webui/monitor/old.html.haml
Labels: Frontend, review-app

#8267 Replace bento views by bootstrap views for groups
  src/api/app/controllers/webui/groups/users_controller.rb
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/controllers/webui/mixins/bs_requests_controller_mixin.rb
  src/api/app/views/webui/groups/_add_group_user_modal.html.haml
  src/api/app/views/webui/groups/_breadcrumb_items.html.haml
  src/api/app/views/webui/groups/_group_members.html.haml
  src/api/app/views/webui/groups/edit.html.haml
  src/api/app/views/webui/groups/index.html.haml
  src/api/app/views/webui/groups/new.html.haml
  src/api/app/views/webui/groups/show.html.haml
  src/api/app/views/webui/groups/users/flash.js.erb
  src/api/app/views/webui/shared/_autocomplete.html.haml
  src/api/app/views/webui2/webui/groups/index.html.haml
  src/api/app/views/webui2/webui/groups/new.html.haml
  src/api/app/views/webui2/webui/groups/show.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/webui/groups_controller_spec.rb
  src/api/spec/features/webui/groups_spec.rb
Labels: Frontend, review-app

#8284 Use correct path for partials in shared directory
  src/api/app/views/webui/shared/user_or_groups_roles/_add_group_dialog.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_add_user_dialog.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_index.html.haml
Labels: Frontend

#8277 Migrate request reviewer partial to Bootstrap
  src/api/app/views/webui2/webui/request/_reviewer.html.haml
Labels: Frontend, review-app

#8281 Replace Bento views by Bootstrap views for patchinfo
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/views/webui/patchinfo/_breadcrumb_items.html.haml
  src/api/app/views/webui/patchinfo/_delete_dialog.html.haml
  src/api/app/views/webui/patchinfo/_delete_patchinfo_modal.html.haml
  src/api/app/views/webui/patchinfo/_form.html.haml
  src/api/app/views/webui/patchinfo/_side_elements.html.haml
  src/api/app/views/webui/patchinfo/edit.html.haml
  src/api/app/views/webui/patchinfo/form/_binaries.html.haml
  src/api/app/views/webui/patchinfo/form/_block_release.html.haml
  src/api/app/views/webui/patchinfo/form/_issues.html.haml
  src/api/app/views/webui/patchinfo/form/_required_actions.html.haml
  src/api/app/views/webui/patchinfo/show.html.haml
  src/api/app/views/webui2/webui/patchinfo/edit.html.haml
  src/api/app/views/webui2/webui/patchinfo/show.html.haml
  src/api/config/routes.rb
  src/api/spec/bootstrap/features/webui/patchinfo_spec.rb
  src/api/spec/controllers/webui/patchinfo_controller_spec.rb
  src/api/spec/features/webui/patchinfo_spec.rb
Labels: Frontend, review-app

#8219 [backend] make the deltagen -m option configurable
  src/backend/bs_worker
  src/backend/worker-deltagen.spec
Labels: Backend 🤖

#8291 Remove background from build state disabled
  src/api/app/assets/stylesheets/webui2/build-results.scss
Labels: Frontend

#8292 [backend] add support for appx signing
  src/backend/bs_repserver
  src/backend/bs_signer
Labels: Backend 🤖

#8163 Fix openqa test for 2.9
  dist/t/spec/features/0030_project_spec.rb
Labels: 2.9

#8299 Replace Bento views by Bootstrap views for kiwi images
  src/api/app/views/webui/kiwi/_tabs.html.erb
  src/api/app/views/webui/kiwi/_tabs.html.haml
  src/api/app/views/webui/kiwi/images/_base_info.html.haml
  src/api/app/views/webui/kiwi/images/_breadcrumb_items.html.haml
  src/api/app/views/webui/kiwi/images/_build_info.html.haml
  src/api/app/views/webui/kiwi/images/_build_status.html.erb
  src/api/app/views/webui/kiwi/images/_description_form.html.haml
  src/api/app/views/webui/kiwi/images/_details_overview.html.haml
  src/api/app/views/webui/kiwi/images/_package_fields.html.haml
  src/api/app/views/webui/kiwi/images/_packages.html.haml
  src/api/app/views/webui/kiwi/images/_preferences.html.haml
  src/api/app/views/webui/kiwi/images/_preferences_form.html.haml
  src/api/app/views/webui/kiwi/images/_profiles.html.haml
  src/api/app/views/webui/kiwi/images/_repositories.html.haml
  src/api/app/views/webui/kiwi/images/_repository_fields.html.haml
  src/api/app/views/webui/kiwi/images/edit.html.haml
  src/api/app/views/webui/kiwi/images/show.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_base_info.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_build_info.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_description_form.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_details_overview.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_package_fields.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_packages.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_preferences.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_profiles.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_repositories.html.haml
  src/api/app/views/webui2/webui/kiwi/images/_repository_fields.html.haml
  src/api/app/views/webui2/webui/kiwi/images/edit.html.haml
  src/api/app/views/webui2/webui/kiwi/images/show.html.haml
  src/api/spec/cassettes/Kiwi_Images/project_with_wiki_image/modify_author.yml
  src/api/spec/cassettes/Kiwi_Images/software_tab/add_repository_and_package.yml
  src/api/spec/cassettes/Kiwi_Images/software_tab/edit_package.yml
  src/api/spec/cassettes/Kiwi_Images/software_tab/edit_respository.yml
  src/api/spec/features/webui/kiwi/images_spec.rb
Labels: Frontend, review-app

#8300 Move UserController to bootstrap and refactor it
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/views/layouts/webui/_personal_navigation.html.haml
  src/api/app/views/layouts/webui2/_personal_navigation.html.haml
  src/api/app/views/webui/comment/_new.html.haml
  src/api/app/views/webui/main/index.html.haml
  src/api/app/views/webui/session/_form.html.haml
  src/api/app/views/webui/shared/_sign_up.html.haml
  src/api/app/views/webui/user/_activity.html.haml
  src/api/app/views/webui/user/_breadcrumb_items.html.haml
  src/api/app/views/webui/user/_dropdown_menu.html.haml
  src/api/app/views/webui/user/_edit_dialog.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/user/_involvement.html.haml
  src/api/app/views/webui/user/_password_dialog.html.haml
  src/api/app/views/webui/user/_save_dialog.html.haml
  src/api/app/views/webui/user/edit.html.haml
  src/api/app/views/webui/user/index.html.haml
  src/api/app/views/webui/user/register_user.html.haml
  src/api/app/views/webui/user/request_ichain.html.haml
  src/api/app/views/webui/user/show.html.haml
  src/api/app/views/webui/user/unconfirmed.html.haml
  src/api/app/views/webui/users/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/index.html.haml
  src/api/app/views/webui/users/new.html.haml
  src/api/app/views/webui2/shared/_sign_up.html.haml
  src/api/app/views/webui2/webui/user/_password_dialog.html.haml
  src/api/app/views/webui2/webui/user/edit.html.haml
  src/api/app/views/webui2/webui/user/register_user.html.haml
  src/api/app/views/webui2/webui/user/show.html.haml
  src/api/app/views/webui2/webui/user/signup.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/webui/user_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
  src/api/spec/features/webui/sign_up_spec.rb
Labels: Frontend, review-app

#8301 Replace Bento by Bootstrap for subscriptions
  src/api/app/controllers/webui/subscriptions_controller.rb
  src/api/app/views/webui/subscriptions/_breadcrumb_items.html.haml
  src/api/app/views/webui/subscriptions/_subscriptions_form.html.haml
  src/api/app/views/webui/subscriptions/index.html.haml
  src/api/app/views/webui/subscriptions/update.js.erb
  src/api/app/views/webui2/webui/subscriptions/_subscriptions_form.html.haml
  src/api/app/views/webui2/webui/subscriptions/index.html.haml
  src/api/spec/controllers/webui/subscriptions_controller_spec.rb
Labels: Frontend, review-app

#8304 Replace Bento by Bootstrap for requests
  src/api/app/views/webui/request/_add_reviewer_dialog.html.erb
  src/api/app/views/webui/request/_add_reviewer_dialog.html.haml
  src/api/app/views/webui/request/_add_role_request_dialog.html.erb
  src/api/app/views/webui/request/_add_role_request_dialog.html.haml
  src/api/app/views/webui/request/_breadcrumb_items.html.haml
  src/api/app/views/webui/request/_change_devel_request_dialog.html.erb
  src/api/app/views/webui/request/_change_devel_request_dialog.html.haml
  src/api/app/views/webui/request/_decision_tab.html.haml
  src/api/app/views/webui/request/_delete_request_dialog.html.haml
  src/api/app/views/webui/request/_issues_table.html.erb
  src/api/app/views/webui/request/_issues_table.html.haml
  src/api/app/views/webui/request/_maintainer_link.html.haml
  src/api/app/views/webui/request/_package_maintainers_dialog.html.erb
  src/api/app/views/webui/request/_recent_events_table.html.erb
  src/api/app/views/webui/request/_request_comments.html.haml
  src/api/app/views/webui/request/_request_history.html.haml
  src/api/app/views/webui/request/_request_history_element.html.haml
  src/api/app/views/webui/request/_requests_small.html.haml
  src/api/app/views/webui/request/_review_tab.html.haml
  src/api/app/views/webui/request/_reviewer.html.erb
  src/api/app/views/webui/request/_reviewer.html.haml
  src/api/app/views/webui/request/_set_bugowner_request_dialog.html.erb
  src/api/app/views/webui/request/_set_incident_dialog.html.erb
  src/api/app/views/webui/request/_show_overview.html.haml
  src/api/app/views/webui/request/_show_package_maintainers.html.haml
  src/api/app/views/webui/request/_show_side_links.html.haml
  src/api/app/views/webui/request/_sourcediff_tab.html.haml
  src/api/app/views/webui/request/_superseded_by_message.html.haml
  src/api/app/views/webui/request/_tabs.html.erb
  src/api/app/views/webui/request/show.html.erb
  src/api/app/views/webui/request/show.html.haml
  src/api/app/views/webui2/webui/package/show.html.haml
  src/api/app/views/webui2/webui/project/show.html.haml
  src/api/app/views/webui2/webui/request/_delete_request_dialog.html.haml
  src/api/app/views/webui2/webui/request/_requests_small.html.haml
  src/api/app/views/webui2/webui/request/_superseded_by_message.html.haml
Labels: Frontend, review-app

#8307 Recover missing icon for image template view
  src/api/app/assets/images/icons/drive-optical-48.png
Labels: Frontend, review-app

#7934 Fix pre-filling of the Submit Request Form
  src/api/app/assets/javascripts/webui2/request.js
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui2/package_controller.rb
  src/api/app/models/project.rb
  src/api/app/views/webui2/webui/package/_submit_request_dialog.html.haml
  src/api/app/views/webui2/webui/package/bottom_actions/_submit_package.html.haml
  src/api/app/views/webui2/webui/package/show.html.haml
  src/api/config/routes.rb
Labels: Bootstrap :rocket:, Frontend, review-app

#8310 Move Webui::Users::AnnouncementsController to Bootstrap
  src/api/app/controllers/webui/users/announcements_controller.rb
  src/api/app/views/webui/users/announcements/create.js.erb
  src/api/app/views/webui/users/announcements/create.js.haml
Labels: Frontend, review-app

#8308 Move show action from user to users controller
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/helpers/webui/user_or_groups_roles_helper.rb
  src/api/app/views/layouts/webui/obs_factory/application.html.erb
  src/api/app/views/layouts/webui/webui.html.erb
  src/api/app/views/layouts/webui2/_footer.html.haml
  src/api/app/views/webui/comment/_content.html.haml
  src/api/app/views/webui/groups/_group_members.html.haml
  src/api/app/views/webui/groups/index.html.haml
  src/api/app/views/webui/main/_user_proceed-list.html.haml
  src/api/app/views/webui/obs_factory/staging_projects/_legend.html.haml
  src/api/app/views/webui/package/_commit_item.html.erb
  src/api/app/views/webui/projects/pulse/show.html.haml
  src/api/app/views/webui/request/_decision_tab.html.haml
  src/api/app/views/webui/request/_request_history.html.haml
  src/api/app/views/webui/request/_request_history_element.html.haml
  src/api/app/views/webui/theme/bento/layouts/webui/_header.html.haml
  src/api/app/views/webui/user/_password_dialog.html.haml
  src/api/app/views/webui/users/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/show.html.haml
  src/api/app/views/webui2/webui/package/_commit_item.html.haml
  src/api/app/views/webui2/webui/projects/pulse/_pulse_list_entry.html.haml
  src/api/app/views/webui2/webui/projects/pulse/_pulse_list_requests.html.haml
  src/api/config/routes.rb
  src/api/lib/obsapi/markdown_renderer.rb
  src/api/spec/bootstrap/features/webui/users/profile_spec.rb
  src/api/spec/bootstrap/features/webui/users_spec.rb
  src/api/spec/controllers/webui/user_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
  src/api/spec/features/webui/groups_spec.rb
  src/api/spec/features/webui/users/user_home_page_spec.rb
  src/api/spec/helpers/webui/markdown_helper_spec.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend, review-app

#8311 Replace Bento views by Bootstrap views for repositories
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/mixins/get_flags.rb
  src/api/app/views/webui/repositories/_add_repository_from_project_modal.html.haml
  src/api/app/views/webui/repositories/_add_repository_path_modal.html.haml
  src/api/app/views/webui/repositories/_breadcrumb_items.html.haml
  src/api/app/views/webui/repositories/_delete_repository_modal.html.haml
  src/api/app/views/webui/repositories/_delete_repository_path_modal.html.haml
  src/api/app/views/webui/repositories/_edit_repository.html.haml
  src/api/app/views/webui/repositories/_edit_repository_modal.html.haml
  src/api/app/views/webui/repositories/_repository_card_content.html.haml
  src/api/app/views/webui/repositories/_repository_entry.html.haml
  src/api/app/views/webui/repositories/_repository_path_item.html.haml
  src/api/app/views/webui/repositories/_request_delete_repository_modal.html.haml
  src/api/app/views/webui/repositories/create.js.erb
  src/api/app/views/webui/repositories/create.js.haml
  src/api/app/views/webui/repositories/destroy.js.erb
  src/api/app/views/webui/repositories/destroy.js.haml
  src/api/app/views/webui/repositories/distributions.html.haml
  src/api/app/views/webui/repositories/index.html.haml
  src/api/app/views/webui/repositories/new.html.haml
  src/api/app/views/webui/repositories/state.html.haml
  src/api/app/views/webui2/webui/repositories/_repository_entry.html.haml
  src/api/app/views/webui2/webui/repositories/create.js.erb
  src/api/app/views/webui2/webui/repositories/destroy.js.erb
  src/api/app/views/webui2/webui/repositories/distributions.html.haml
  src/api/app/views/webui2/webui/repositories/index.html.haml
  src/api/app/views/webui2/webui/repositories/state.html.haml
  src/api/config/routes.rb
  src/api/spec/bootstrap/features/webui/repositories_spec.rb
  src/api/spec/controllers/webui/repositories_controller_spec.rb
  src/api/spec/features/webui/repositories_spec.rb
Labels: Frontend, review-app

#8318 Move user related feature specs from Bootstrap to the features directory
  src/api/spec/features/webui/users/profile_spec.rb
  src/api/spec/features/webui/users/user_contributions_spec.rb
Labels: Frontend, Test Suite :syringe:

#8315 Replace Bento views by Bootstrap views for Cloud::Ec2
  src/api/app/controllers/webui/cloud/ec2/configurations_controller.rb
  src/api/app/controllers/webui/cloud/ec2/upload_jobs_controller.rb
  src/api/app/views/webui/cloud/ec2/configurations/_breadcrumb_items.html.haml
  src/api/app/views/webui/cloud/ec2/configurations/show.html.haml
  src/api/app/views/webui/cloud/ec2/upload_jobs/_breadcrumb_items.html.haml
  src/api/app/views/webui/cloud/ec2/upload_jobs/new.html.haml
  src/api/app/views/webui2/webui/cloud/ec2/configurations/show.html.haml
  src/api/app/views/webui2/webui/cloud/ec2/upload_jobs/new.html.haml
Labels: Frontend, review-app

#8334 Move Kaminari views under app/views/webui
  src/api/app/views/webui/kaminari/_first_page.html.haml
  src/api/app/views/webui/kaminari/_gap.html.haml
  src/api/app/views/webui/kaminari/_last_page.html.haml
  src/api/app/views/webui/kaminari/_next_page.html.haml
  src/api/app/views/webui/kaminari/_page.html.haml
  src/api/app/views/webui/kaminari/_paginator.html.haml
  src/api/app/views/webui/kaminari/_prev_page.html.haml
  src/api/app/views/webui2/webui/kaminari/_first_page.html.haml
  src/api/app/views/webui2/webui/kaminari/_gap.html.haml
  src/api/app/views/webui2/webui/kaminari/_last_page.html.haml
  src/api/app/views/webui2/webui/kaminari/_next_page.html.haml
  src/api/app/views/webui2/webui/kaminari/_prev_page.html.haml
  src/api/config/locales/kaminari.en.yml
Labels: Frontend, review-app

#8341 Move Webui::Users::SubscriptionsController to boostrap
  src/api/app/controllers/webui/users/subscriptions_controller.rb
  src/api/app/views/webui/subscriptions/update.js.erb
  src/api/app/views/webui/subscriptions/update.js.haml
  src/api/app/views/webui/users/subscriptions/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/subscriptions/index.html.haml
  src/api/app/views/webui/users/subscriptions/index.js.erb
  src/api/app/views/webui/users/subscriptions/index.js.haml
  src/api/app/views/webui/users/subscriptions/update.js.haml
  src/api/app/views/webui2/webui/users/subscriptions/index.html.haml
  src/api/app/views/webui2/webui/users/subscriptions/index.js.erb
  src/api/app/views/webui2/webui/users/subscriptions/update.js.erb
  src/api/spec/controllers/webui/users/subscriptions_controller_spec.rb
Labels: Frontend, review-app

#8340 Move StagingProject views into webui namespace
  src/api/app/views/webui/staging/projects/_breadcrumb_items.html.haml
  src/api/app/views/webui/staging/projects/_checks.html.haml
  src/api/app/views/webui/staging/projects/_history_elements.html.haml
  src/api/app/views/webui/staging/projects/_staging_project_created_history.html.haml
  src/api/app/views/webui/staging/projects/_status_items.html.haml
  src/api/app/views/webui/staging/projects/_unstaged_staged_request_history.html.haml
  src/api/app/views/webui/staging/projects/preview_copy.html.haml
  src/api/app/views/webui/staging/projects/show.html.haml
Labels: Frontend

#8343 Change partials namespace
  src/api/app/views/webui/interconnects/_interconnect_modal.html.haml
  src/api/app/views/webui/main/_add_status_message_modal.html.haml
  src/api/app/views/webui/patchinfo/edit.html.haml
  src/api/app/views/webui/projects/maintained_projects/_create_dialog.html.haml
  src/api/app/views/webui/repositories/_add_dod_repository_modal.html.haml
  src/api/app/views/webui/repositories/_add_repository_from_project_modal.html.haml
  src/api/app/views/webui/repositories/_add_repository_path_modal.html.haml
  src/api/app/views/webui/repositories/_dod_source_fields.html.haml
  src/api/app/views/webui/repositories/_edit_repository_modal.html.haml
  src/api/app/views/webui/repositories/_request_delete_repository_modal.html.haml
  src/api/app/views/webui/request/_add_reviewer_dialog.html.haml
  src/api/app/views/webui/request/_add_role_request_dialog.html.haml
  src/api/app/views/webui/request/_change_devel_request_dialog.html.haml
  src/api/app/views/webui/request/_delete_request_dialog.html.haml
  src/api/app/views/webui/request/_sourcediff_tab.html.haml
  src/api/app/views/webui/request/show.html.haml
  src/api/app/views/webui/search/_request_bugowner_change_dialog.html.haml
  src/api/app/views/webui/user/_edit_dialog.html.haml
  src/api/app/views/webui/user/_password_dialog.html.haml
Labels: Frontend

#8345 Move Webui::Users::Tasks bootstrap views to Webui namespace.
  src/api/app/views/webui/users/tasks/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/tasks/index.html.haml
  src/api/app/views/webui2/webui/users/tasks/index.html.haml
Labels: Frontend, review-app

#8354 Remove actions for Bento modals in user_controller.rb
  src/api/app/controllers/webui/user_controller.rb
  src/api/config/routes.rb
  src/api/spec/controllers/webui/user_controller_spec.rb
Labels: Frontend, review-app

#8332 Remove Bento unused actions in request controller
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/show.html.haml
  src/api/config/routes.rb
  src/api/test/functional/webui/spider_test.rb
Labels: Frontend, review-app

#8356 Remove unneeded cassettes
  src/api/spec/cassettes/Bootstrap_Attributes/with_an_attribute/for_a_project/with_permissions/remove_attribute.yml
  src/api/spec/cassettes/Bootstrap_Attributes/with_an_attribute/for_a_project/without_permissions/it_is_not_possible_to_add_an_attribute_the_link_is_not_shown.yml
  src/api/spec/cassettes/Bootstrap_Attributes/with_an_attribute/for_a_project_with_a_package/add_attribute_with_values.yml
  src/api/spec/cassettes/Bootstrap_ImageTemplates/branching/branch_Kiwi_image_template.yml
  src/api/spec/cassettes/Bootstrap_ImageTemplates/branching/branch_image_template.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/group_roles/Add_an_existing_group.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/group_roles/Add_non_existent_group.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/group_roles/Add_role_to_group.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/group_roles/Remove_role_from_group.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/group_roles/Viewing_group_roles.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/user_roles/Add_an_existing_user.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/user_roles/Add_non_existent_user.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/user_roles/Add_role_to_user.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/user_roles/Remove_role_from_user.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/user_roles/Remove_user_from_package_/_project.yml
  src/api/spec/cassettes/Bootstrap_Packages/behaves_like_bootstrap_user_tab/user_roles/Viewing_user_roles.yml
  src/api/spec/cassettes/Bootstrap_Packages/branching_a_package_from_another_users_project/with_AutoCleanup.yml
  src/api/spec/cassettes/Bootstrap_Packages/branching_a_package_from_another_users_project/without_AutoCleanup.yml
  src/api/spec/cassettes/Bootstrap_Packages/changing_the_package_s_devel_project.yml
  src/api/spec/cassettes/Bootstrap_Packages/deleting_a_package.yml
  src/api/spec/cassettes/Bootstrap_Packages/editing_a_package.yml
  src/api/spec/cassettes/Bootstrap_Packages/log/download_logfile_succesfully.yml
  src/api/spec/cassettes/Bootstrap_Packages/meta_configuration/as_admin/can_edit.yml
  src/api/spec/cassettes/Bootstrap_Packages/meta_configuration/as_common_user/can_not_edit.yml
  src/api/spec/cassettes/Bootstrap_Packages/requesting_package_deletion.yml
  src/api/spec/cassettes/Bootstrap_Patchinfo/delete_Patchinfo/delete.yml
  src/api/spec/cassettes/Bootstrap_Projects/branching/a_non-existing_package.yml
  src/api/spec/cassettes/Bootstrap_Projects/changing_project_title_and_description.yml
  src/api/spec/cassettes/Bootstrap_Projects/creating_packages_in_projects_owned_by_user_eg_home_projects/with_valid_data.yml
  src/api/spec/cassettes/Bootstrap_Projects/maintenance_incidents/visiting_the_maintenance_overview.yml
Labels: Test Suite :syringe:

#8357 Move UserController#edit to UsersController#edit
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/views/webui/users/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/edit.html.haml
  src/api/config/routes.rb
  src/api/spec/bootstrap/features/webui/users/admin_configuration_spec.rb
  src/api/spec/bootstrap/features/webui/users/user_admin_edit_spec.rb
  src/api/spec/controllers/webui/user_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
Labels: Frontend, review-app

#8362 Correctly link to full diffs of a linked package
  src/api/app/views/webui/package/rdiff.html.haml
Labels: Frontend, review-app

#8361 Use correct path for collapsible_text partial
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/patchinfo/show.html.haml
  src/api/app/views/webui/request/_request_history.html.haml
  src/api/app/views/webui/request/_request_history_element.html.haml
  src/api/app/views/webui/request/_show_overview.html.haml
Labels: Frontend

#8365 Fix request link on staged request history
  src/api/app/views/webui/staging/projects/_unstaged_staged_request_history.html.haml
Labels: Frontend, staging-workflow

#8366 Remove remaining webui2 views
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/views/webui/repositories/index.html.haml
  src/api/app/views/webui/repositories/state.html.haml
  src/api/app/views/webui/shared/_repositories.html.haml
  src/api/app/views/webui/staging/excluded_requests/_create_dialog.html.haml
  src/api/app/views/webui/webui/_dialog.js.erb
  src/api/app/views/webui/webui/change_flag.js.erb
  src/api/app/views/webui2/shared/_buildresult_box.html.haml
  src/api/app/views/webui2/shared/_dialog_action_buttons.html.haml
  src/api/app/views/webui2/shared/_download_repository_link.html.haml
  src/api/app/views/webui2/shared/_editor.html.haml
  src/api/app/views/webui2/shared/_editor_modal.html.haml
  src/api/app/views/webui2/shared/_flag_popover.html.haml
  src/api/app/views/webui2/shared/_open_requests.html.haml
  src/api/app/views/webui2/shared/_package_branch_form.html.haml
  src/api/app/views/webui2/shared/_patchinfos_table.html.haml
  src/api/app/views/webui2/shared/_repositories.html.haml
  src/api/app/views/webui2/shared/_repositories_flag_table.html.haml
  src/api/app/views/webui2/shared/_requests_state_and_type_form.html.haml
  src/api/app/views/webui2/shared/_requests_table.html.haml
  src/api/app/views/webui2/shared/_truncated_diff_hint.html.haml
  src/api/app/views/webui2/shared/bs_requests/index.json.erb
  src/api/app/views/webui2/shared/user_or_groups_roles/_add_group_dialog.html.haml
  src/api/app/views/webui2/shared/user_or_groups_roles/_add_user_dialog.html.haml
  src/api/app/views/webui2/shared/user_or_groups_roles/_delete_dialog.html.haml
  src/api/app/views/webui2/shared/user_or_groups_roles/_index.html.haml
  src/api/app/views/webui2/shared/user_or_groups_roles/_list.html.haml
  src/api/app/views/webui2/webui/_autocomplete.html.haml
  src/api/app/views/webui2/webui/webui/_collapsible_text.html.haml
  src/api/app/views/webui2/webui/webui/_dialog.js.erb
  src/api/app/views/webui2/webui/webui/flash.js.erb
Labels: Frontend, review-app

#8368 Fix show supersede request on Submit Request modal
  src/api/app/assets/javascripts/webui/request.js
Labels: Frontend, review-app

#8375 Remove unneeded Bento dialog
  src/api/app/views/webui/projects/public_key/_key_dialog.html.haml
Labels: Frontend

#8373 Remove render_dialog method
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend

#8374 Move user controller update to users controller
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/views/webui/user/_edit_dialog.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/users/edit.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/webui/user_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
  src/api/spec/features/webui/users/admin_configuration_spec.rb
  src/api/spec/features/webui/users/user_admin_edit_spec.rb
  src/api/spec/features/webui/users/user_contributions_spec.rb
Labels: Frontend, review-app

#8376 Adapt linters to Bootstrap UI
  .rubocop_todo.yml
  src/api/.haml-lint.yml
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/app/views/webui/package/rdiff.html.haml
  src/api/app/views/webui/package/side_links/_show_derived_packages.html.haml
  src/api/app/views/webui/projects/maintained_projects/_create_dialog.html.haml
  src/api/app/views/webui/projects/maintained_projects/index.html.haml
  src/api/app/views/webui/repositories/create.js.haml
  src/api/app/views/webui/repositories/destroy.js.haml
  src/api/app/views/webui/sitemaps/index.haml
  src/api/app/views/webui/sitemaps/packages.haml
  src/api/app/views/webui/sitemaps/projects.haml
  src/api/app/views/webui/users/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/index.html.haml
Labels: Frontend

#8380 Fix add maintained project autocomplete
  src/api/app/views/webui/projects/maintained_projects/_create_dialog.html.haml
Labels: Frontend, review-app

#8359 Consolidate duplicated methods from project and package controller
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/mixins/webui/manage_relationships.rb
Labels: Frontend, review-app

#8378 Don't throw an exception on a rss notification when a source project can not be found
  src/api/app/models/event/request.rb
  src/api/spec/cassettes/EventMailer/_event/for_an_event_of_type_Event_Request/when_source_project_does_not_exist/the_email_also_gets_delivered.yml
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend

#8372 Remove switch_to_webui2 method
  .circleci/config.yml
  dist/obs-api-testsuite-rspec.spec
  src/api/app/assets/javascripts/webui/requests_table.js.erb
  src/api/app/controllers/webui/announcements_controller.rb
  src/api/app/controllers/webui/apidocs_controller.rb
  src/api/app/controllers/webui/architectures_controller.rb
  src/api/app/controllers/webui/attribute_controller.rb
  src/api/app/controllers/webui/cloud/azure/configurations_controller.rb
  src/api/app/controllers/webui/cloud/azure/upload_jobs_controller.rb
  src/api/app/controllers/webui/cloud/configurations_controller.rb
  src/api/app/controllers/webui/cloud/ec2/configurations_controller.rb
  src/api/app/controllers/webui/cloud/ec2/upload_jobs_controller.rb
  src/api/app/controllers/webui/cloud/upload_jobs_controller.rb
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/controllers/webui/configuration_controller.rb
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/controllers/webui/image_templates_controller.rb
  src/api/app/controllers/webui/interconnects_controller.rb
  src/api/app/controllers/webui/kiwi/images_controller.rb
  src/api/app/controllers/webui/main_controller.rb
  src/api/app/controllers/webui/monitor_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/bs_requests_controller.rb
  src/api/app/controllers/webui/packages/build_reason_controller.rb
  src/api/app/controllers/webui/packages/job_history_controller.rb
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/projects/bs_requests_controller.rb
  src/api/app/controllers/webui/projects/maintained_projects_controller.rb
  src/api/app/controllers/webui/projects/maintenance_incidents_controller.rb
  src/api/app/controllers/webui/projects/meta_controller.rb
  src/api/app/controllers/webui/projects/project_configuration_controller.rb
  src/api/app/controllers/webui/projects/pulse_controller.rb
  src/api/app/controllers/webui/projects/rebuild_times_controller.rb
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/search_controller.rb
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/controllers/webui/subscriptions_controller.rb
  src/api/app/controllers/webui/users/subscriptions_controller.rb
  src/api/app/controllers/webui/users/tasks_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/views/webui/package/meta.html.haml
  src/api/test/functional/webui/spider_test.rb
Labels: Frontend

#8383 Make possible to find deleted users in the UsersController#update
  src/api/app/controllers/webui/users_controller.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
Labels: Frontend, review-app

#8386 Remove unneeded project#packages_simple action
  src/api/app/controllers/webui/project_controller.rb
  src/api/config/routes.rb
Labels: Frontend

#8389 Remove Bento specific route definition for maintained projects
  src/api/app/controllers/webui/projects/maintained_projects_controller.rb
  src/api/app/views/webui/project/_tabs.html.haml
  src/api/app/views/webui/project/side_links/_maintenance_project.html.haml
  src/api/app/views/webui/projects/maintained_projects/index.html.haml
  src/api/config/routes.rb
  src/api/spec/features/webui/maintained_projects_spec.rb
Labels: Frontend, review-app

#8388 Remove rebuild_time from project controller filters
  src/api/app/controllers/webui/project_controller.rb
Labels: Frontend

#8390 Remove old irrelevant comment
  src/api/app/views/webui/search/owner.html.haml
Labels: Frontend

#8392 Replace user_image_tag helper by image_tag_for
  src/api/app/helpers/webui/group_helper.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/views/webui/comment/_content.html.haml
  src/api/app/views/webui/package/_commit_item.html.haml
  src/api/spec/helpers/webui/user_helper_spec.rb
Labels: Frontend, review-app

#8391 Refactor a little bit
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui/project/show.html.haml
Labels: Frontend

#8393 Clean-up UsersController, UserController and specs
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
Labels: Frontend

#8396 Remove repeated check_display(ed)_user method and refactor user/requests routes
  src/api/app/controllers/webui/users/bs_requests_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/config/routes.rb
  src/api/spec/controllers/webui/users/bs_requests_controller_spec.rb
  src/api/spec/routing/webui/users/requests_spec.rb
Labels: Frontend, review-app

#8395 Fix expand and collapse in review
  src/api/app/assets/javascripts/webui/packages.js
  src/api/app/views/webui/package/_revision_diff_detail.html.haml
Labels: Frontend, review-app

#8402 Move autocomplete and tokens from UserController to UsersController
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/config/routes.rb
  src/api/spec/controllers/webui/user_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
Labels: Frontend, review-app

#8400 Check if parenthesis matching element exists
  src/api/app/assets/javascripts/webui/cm2/toolbars.js
Labels: Frontend, review-app

#8406 Move UserController#change_password to UsersController#change_password
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/views/webui/user/_password_dialog.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/webui/user_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
Labels: Frontend, review-app

#8416 Remove UserController
  ReleaseNotes-2.11
  src/api/app/controllers/webui/user_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/views/layouts/webui/_logged_in_user_navigation.html.haml
  src/api/app/views/layouts/webui/obs_factory/_personal_navigation.html.haml
  src/api/config/routes.rb
  src/api/spec/features/webui/users/user_home_page_spec.rb
Labels: Frontend, review-app

#8418 Fix renaming of the 'c' variable to 'problem'
  src/api/app/helpers/webui/projects/status_helper.rb
Labels: Frontend

#8412 Prevent showing "Add user as maintaner" checkbox of a delete request
  src/api/app/views/webui/request/_decision_tab.html.haml
Labels: Frontend, review-app

#8405 Make build results more responsive friendly
  src/api/app/helpers/webui/buildresult_helper.rb
  src/api/app/views/webui/package/_buildstatus.html.haml
  src/api/app/views/webui/project/_buildstatus.html.haml
Labels: Frontend, review-app

#8411 Remove grid witdth definition of second column in build results for projects
  src/api/app/views/webui/project/_buildstatus.html.haml
Labels: Frontend, review-app

#8420 Move user specific urls under scope 'my'
  src/api/app/controllers/webui/users/rss_tokens_controller.rb
  src/api/app/views/layouts/webui/_announcement.html.haml
  src/api/app/views/layouts/webui/_logged_in_user_navigation.html.haml
  src/api/app/views/layouts/webui/obs_factory/_announcement.html.haml
  src/api/app/views/layouts/webui/obs_factory/_personal_navigation.html.haml
  src/api/app/views/webui/announcements/show.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/users/subscriptions/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/subscriptions/index.html.haml
  src/api/config/routes.rb
  src/api/spec/controllers/webui/users/rss_tokens_controller_spec.rb
  src/api/spec/features/webui/notifications_spec.rb
  src/api/spec/features/webui/users/user_home_page_spec.rb
  src/api/test/fixtures/event_mailer/another_comment_event
  src/api/test/fixtures/event_mailer/comment_event
  src/api/test/fixtures/event_mailer/commit_event
  src/api/test/fixtures/event_mailer/project_comment
  src/api/test/fixtures/event_mailer/repo_delete_request
  src/api/test/fixtures/event_mailer/request_event
  src/api/test/fixtures/event_mailer/review_wanted
  src/api/test/fixtures/event_mailer/set_bugowner_event
  src/api/test/fixtures/event_mailer/tom_declined
  src/api/test/fixtures/event_mailer/tom_gets_mail_too
Labels: Frontend, review-app

#8425 Split routes.rb in smaller files (webui/api)
  dist/obs-server.spec
  src/api/.rubocop.yml
  src/api/config/routes.rb
  src/api/config/routes/api_routes.rb
  src/api/config/routes/routes_helper.rb
  src/api/config/routes/webui_routes.rb
Labels: Frontend, review-app

#8424 Move leftover bootstrap feature tests to the main feature tests
  src/api/spec/bootstrap/support/page/monitor_page.rb
  src/api/spec/features/webui/change_bugowner_spec.rb
  src/api/spec/features/webui/factory_dashboard_spec.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/spec/features/webui/watchlists_spec.rb
Labels: Frontend, Test Suite :syringe:

#8436 Address Issue 7354
  src/api/app/views/webui/staging/workflows/edit.html.haml
  src/api/app/views/webui/staging/workflows/show.html.haml
Labels: Frontend, review-app

#8387 Remove GetFlags mixin and deprecated methods from flag model
  src/api/app/mixins/get_flags.rb
  src/api/app/models/flag.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/spec/models/flag/specified_flags_spec.rb
  src/api/test/unit/project_test.rb
Labels: Frontend, Refactoring :factory:, Test Suite :syringe:

#8439 Use File.read to force the new routes files to be reloaded
  src/api/config/routes.rb
  src/api/config/routes/api_routes.rb
  src/api/config/routes/webui_routes.rb
Labels: Frontend

#8440 Add error message if a StagingWorkflow doesn't exist
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
Labels: Frontend, staging-workflow

#8437 Display the 'Staging' tab only for authorized users
  src/api/app/views/webui/project/_tabs.html.haml
Labels: Frontend, review-app

#8449 Safeguard against anonymous requesting large diffs
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/rdiff.html.haml
  src/api/app/views/webui/request/show.html.haml
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Frontend

#8455 Fixes #8286: Return XML if staging workflow was successfully deleted
  src/api/app/controllers/staging/workflows_controller.rb
Labels: Frontend, staging-workflow

#7571 Pass memory limit for lxc workers
  dist/obsworker
  src/backend/bs_worker
Labels: Backend 🤖

#8398 [backend] change bsdir for bs_service
  src/backend/bs_service
Labels: Backend 🤖

#8447 Allow accessing staging project show page without being logged in
  src/api/app/controllers/webui/staging/projects_controller.rb
Labels: Frontend, staging-workflow

#8461 Dont link to build log if package is in state broken in staging workflow
  src/api/app/views/webui/staging/workflows/_build_problems.html.haml
Labels: Frontend, staging-workflow

#8476 Fix staging workflow routes
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/config/routes/api_routes.rb
  src/api/config/routes/routes_helper.rb
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
Labels: Frontend, staging-workflow

#8450 Show a proper error message when excluding a request
  src/api/app/controllers/staging/excluded_requests_controller.rb
  src/api/app/controllers/webui/staging/excluded_requests_controller.rb
  src/api/app/models/staging/request_excluder.rb
  src/api/spec/controllers/staging/excluded_requests_controller_spec.rb
  src/api/spec/controllers/webui/staging/excluded_requests_controller_spec.rb
Labels: Frontend, staging-workflow

#8477 Use symbol instead of string to access broken_packages hash in staging project
  src/api/app/models/concerns/staging_project.rb
Labels: Frontend, staging-workflow
