Repository openSUSE/open-build-service, pull requests merged in 2020-02, with the labels that each got.

#9014 [backend] simplify stats writing
  src/backend/BSSched/BuildJob.pm
  src/backend/BSXML.pm
Labels: Backend 🤖

#9029 Provide the url to get the required data for the form prefilling
  src/api/app/views/webui/package/_revision_diff_footer.html.haml
Labels: Bootstrap :rocket:, Frontend, review-app

#9028 Remove obs_factory excluded files in linters
  src/api/.haml-lint.yml
  src/api/.jshintignore
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/config/application.rb
  src/api/config/routes.rb
  src/api/lib/engines/README.md
  src/api/lib/engines/base.rb
Labels: Frontend

#9031 Refactor project model
  src/api/app/models/project.rb
  src/api/app/queries/attrib_finder.rb
  src/api/app/queries/autocomplete_packages_finder.rb
  src/api/app/queries/autocomplete_projects_finder.rb
  src/api/app/queries/obs_quality_categories_finder.rb
  src/api/app/queries/open_requests_finder.rb
  src/api/app/queries/open_requests_with_by_project_review_finder.rb
  src/api/app/queries/open_requests_with_project_as_source_or_target_finder.rb
  src/api/app/queries/projects_with_image_templates_finder.rb
  src/api/app/queries/projects_with_very_important_attribute_finder.rb
  src/api/spec/factories/attribs.rb
  src/api/spec/queries/open_requests_with_by_project_review_finder_spec.rb
  src/api/spec/queries/open_requests_with_project_as_source_or_target_finder_spec.rb
  src/api/spec/queries/projects_with_image_templates_finder_spec.rb
  src/api/spec/queries/projects_with_very_important_attribute_finder_spec.rb
Labels: Refactoring :factory:

#9034 Make the container fluid
  src/api/app/views/layouts/webui/webui.html.haml
Labels: Frontend, review-app

#9038 Replace "Your Home" by "Profile"
  src/api/app/views/webui/main/_user_proceed-list.html.haml
  src/api/app/views/webui/user/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/show.html.haml
Labels: Frontend

#9033 Fedora packaging
  KankuFile
  KankuFile.fedora
  Makefile.include
  Makefile.targets
  dist/Makefile
  dist/gem_build_cleanup.sh
  dist/install_rh.sh
  dist/obs-apache24.conf
  dist/obs-bundled-gems.spec
  dist/obs-server.spec
  dist/obsstoragesetup
  dist/rc.status
  dist/setup-appliance.sh
  dist/systemd/obs-clockwork.service
  dist/systemd/obs-delayedjob-queue-consistency_check.service
  dist/systemd/obs-delayedjob-queue-default.service
  dist/systemd/obs-delayedjob-queue-issuetracking.service
  dist/systemd/obs-delayedjob-queue-mailers.service
  dist/systemd/obs-delayedjob-queue-project_log_rotate.service
  dist/systemd/obs-delayedjob-queue-quick@.service
  dist/systemd/obs-delayedjob-queue-releasetracking.service
  dist/systemd/obs-delayedjob-queue-staging.service
  dist/systemd/obs-sphinx.service
  dist/t/0060-check_required_services.ts
  dist/t/0090-check_database.ts
  docs/api/Makefile
  docs/api/api/Makefile
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/Makefile
  src/backend/Makefile
Labels: DO NOT MERGE :warning:

#9037 [backend] generate _statistics file when the result is no-change
  src/backend/BSSched/BuildJob.pm
  src/backend/bs_worker
Labels: Backend 🤖

#9015 Responsive UX for layout
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/login-form.js
  src/api/app/assets/javascripts/webui/responsive_ux.js
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/responsive_ux.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/_layout.scss
  src/api/app/helpers/authentication_protocol_helper.rb
  src/api/app/helpers/proxy_mode_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/layouts/webui/_personal_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_footer.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_log_in_form.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_login_modal.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_nobody_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_search.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_sign_up_form.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_sign_up_modal.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_user_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_watchlist.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/comment/_new.html.haml
  src/api/app/views/webui/main/_breadcrumb_items.html.haml
  src/api/app/views/webui/main/index.html.haml
  src/api/app/views/webui/package/_breadcrumb_items.html.haml
  src/api/app/views/webui/project/_breadcrumb_items.html.haml
  src/api/app/views/webui/shared/_sign_up.html.haml
  src/api/app/views/webui/users/new.html.haml
  src/api/lib/tasks/dev.rake
  src/api/spec/features/webui/login_spec.rb
  src/api/spec/helpers/webui/authentication_protocol_helper_spec.rb
  src/api/spec/helpers/webui/webui_helper_spec.rb
Labels: Frontend, review-app

#9013 WorkerStatus refactoring
  src/api/app/models/worker_status.rb
  src/api/app/queries/project_names_finder.rb
  src/api/spec/models/worker_status_spec.rb
Labels: Refactoring :factory:

#9053 Improve responsive_ux layout
  src/api/app/assets/javascripts/webui/responsive_ux.js
  src/api/app/assets/stylesheets/webui/responsive_ux/_layout.scss
  src/api/app/views/layouts/webui/responsive_ux/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_navigation.html.haml
Labels: Frontend, review-app

#9055 Fix virtual hosts apache subdirectory in spec file
  dist/obs-server.spec
Labels: Appliance :cd:, Packages :package:

#9066 Remove script to trigger openQA tests
  dist/schedule-obs.sh
Labels: Test Suite :syringe:

#9071 [backend] bs_dispatch: speed up nativeonly handling
  src/backend/bs_dispatch
Labels: Backend 🤖

#9057 Fix partial editor option hash defaults
  src/api/app/views/webui2/shared/_editor.html.haml
Labels: 2.10, Frontend

#9072 Remove system V scripts not used any more
  dist/obsclouduploadserver
  dist/obsclouduploadworker
  dist/obsdeltastore
  dist/obsdispatcher
  dist/obsdodup
  dist/obspublisher
  dist/obsrepserver
  dist/obsservice
  dist/obsservicedispatch
  dist/obssigner
  dist/obssrcserver
  dist/obswarden
Labels: Packages :package:

#9060 Refactor WorkerStatus model
  src/api/app/models/architecture.rb
  src/api/app/models/worker_status.rb
  src/api/spec/models/worker_status_spec.rb
Labels: Refactoring :factory:

#9087 [backend] put verifymd5 into the genbuildreqs result
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/Checker.pm
Labels: Backend 🤖

#9089 [backend] fake container variant by looking at the scheduler arch
  src/backend/BSRepServer/Containertar.pm
  src/backend/bs_repserver
Labels: Backend 🤖

#9088 [backend] give api access to .stats file
  src/backend/BSXML.pm
  src/backend/bs_repserver
Labels: Backend 🤖

#9085 Projects#index improvements
  src/api/app/assets/javascripts/webui/datatables.js
  src/api/app/assets/javascripts/webui/project.js
  src/api/app/assets/stylesheets/webui/datatables.scss
Labels: review-app

#9090 [backend] BSRPC: drop entries from the host lookup cache after a day
  src/backend/BSRPC.pm
  src/backend/BSWatcher.pm
Labels: Backend 🤖

#9078 Get rid of systemV
  dist/obs-server.spec
  dist/obsscheduler
  dist/obsstoragesetup
  dist/obsworker
  dist/rc.status
Labels: Packages :package:

#9098 Change the datatables information text
  src/api/app/assets/javascripts/webui/datatables.js
  src/api/spec/features/webui/groups_spec.rb
  src/api/spec/features/webui/users/admin_configuration_spec.rb
Labels: review-app

#9049 Refactor login form
  src/api/app/views/layouts/webui/_login_form.html.haml
  src/api/app/views/layouts/webui/_personal_navigation.html.haml
  src/api/app/views/webui/session/_form.html.haml
  src/api/app/views/webui/session/new.html.haml
Labels: Frontend, Refactoring :factory:

#9096 Suspend the scheduler if we do binary copies in the background
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/EventHandler.pm
  src/backend/bs_repserver
  src/backend/bs_sched
Labels: Backend 🤖

#9110 Make refresh button sticky on top of build results
  src/api/app/assets/stylesheets/webui/project-package-show-grid.scss
  src/api/app/views/webui/shared/_buildresult_box.html.haml
Labels: Frontend, review-app

#9118 Use flex in build results elements
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/views/webui/package/_buildstatus.html.haml
  src/api/app/views/webui/project/_buildstatus.html.haml
Labels: Frontend, review-app

#9121 Provide a collapse icon for multibuild packages
  src/api/app/assets/javascripts/webui/buildresult.js
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/helpers/webui/buildresult_helper.rb
  src/api/app/views/webui/package/_buildstatus.html.haml
  src/api/app/views/webui/project/_buildstatus.html.haml
Labels: Frontend, review-app

#9116 [backend] add 'cacheonly' option for diffing sources
  src/api/app/controllers/webui/package_controller.rb
  src/api/lib/backend/api/sources/package.rb
  src/api/spec/cassettes/Webui_PackageController/GET_rdiff/when_an_empty_revision_is_provided/1_12_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rdiff/when_an_empty_revision_is_provided/1_12_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rdiff/when_no_difference_in_sources_diff_is_empty/1_12_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rdiff/with_diff_truncation/full_diff_not_requested/for_ASCII_files/shows_the_truncated_diff.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rdiff/with_diff_truncation/full_diff_not_requested/for_archives/shows_the_truncated_diff.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rdiff/with_diff_truncation/full_diff_not_requested/shows_a_hint.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rdiff/with_diff_truncation/full_diff_requested/does_not_show_a_hint.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rdiff/with_diff_truncation/full_diff_requested/for_ASCII_files/shows_the_complete_diff.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rdiff/with_diff_truncation/full_diff_requested/for_archives/shows_the_complete_diff.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/test/functional/webui/spider_test.rb
  src/backend/bs_srcserver
Labels: Backend 🤖

#9129 Place editor header under the navbar
  src/api/app/assets/stylesheets/webui/responsive_ux/_layout.scss
Labels: Frontend, review-app

#6875 [api] support generic github issues
  src/api/app/models/issue.rb
  src/api/app/models/issue_tracker.rb
  src/api/db/data/20190130115727_add_github_issue_tracker.rb
  src/api/db/seeds.rb
  src/api/spec/factories/issue_tracker.rb
  src/api/test/fixtures/issue_trackers.yml
  src/api/test/functional/issue_controller_test.rb
  src/api/test/functional/issue_trackers_controller_test.rb
Labels: Frontend

#7143 Convert rss notification payload
  src/api/db/data/20190307145633_migrate_rss_notification_payload.rb
Labels: Frontend

#7975 Fix updater notes to 2.10
  dist/README.UPDATERS
Labels: 2.10

#9131 Migrate from "new_project_modal" to page
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui/main/_user_proceed-list.html.haml
  src/api/app/views/webui/project/_breadcrumb_items.html.haml
  src/api/app/views/webui/project/_form.html.haml
  src/api/app/views/webui/project/_new_project_modal.html.haml
  src/api/app/views/webui/project/index.html.haml
  src/api/app/views/webui/project/new.html.haml
  src/api/app/views/webui/project/subprojects.html.haml
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Labels: Frontend, review-app

#9134 Authorize against the linked project instead of the package's project
  src/api/app/controllers/webui/package_controller.rb
Labels: Bug :skull:, Frontend

#9117 [backend] fix oracle to match multiple cpu flags
  ReleaseNotes-2.11
  src/backend/BSDispatcher/Constraints.pm
Labels: Backend 🤖

#9135 [backend] do not overwrite suspendproject/resumeproject events
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/EventHandler.pm
  src/backend/bs_repserver
Labels: Backend 🤖

#9115 [backend] add _buildstats api to src_server to handle partitioning and queryparam
  src/backend/bs_srcserver
Labels: Backend 🤖

#9146 Disable responsiveness on project#monitor datatable
  src/api/app/assets/javascripts/webui/project_monitor.js
Labels: Frontend, review-app

#9139 Refactor PackageController#trigger_rebuild to a Service Object
  src/api/app/controllers/trigger_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/services/package_controller_service/rebuild_trigger.rb
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_fails/1_14_4_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_fails/1_14_4_2.yml
  src/api/spec/services/package_controller_service/rebuild_trigger_spec.rb
Labels: Refactoring :factory:

#9159 fix crash while evaluating github show url
  src/api/app/models/issue_tracker.rb
Labels: Bug :skull:, Regression :smiling_imp:

#9147 Align project and package buildresult
  src/api/app/assets/stylesheets/webui/project-package-show-grid.scss
  src/api/app/assets/stylesheets/webui/responsive_ux.scss
  src/api/app/helpers/webui/buildresult_helper.rb
  src/api/app/views/webui/package/_buildstatus.html.haml
Labels: Frontend, review-app
