Repository openSUSE/open-build-service, pull requests merged in 2020-04, with the labels that each got.

#9315 Fix notification list with large project names
  src/api/app/views/webui/users/notifications/index.html.haml
Labels: Beta, Frontend

#9316 Fix build log status bar
  src/api/app/assets/stylesheets/webui/responsive_ux.scss
Labels: Beta, Frontend

#9321 🚨 [security] [src/api - 2.10] Update all of rails: 5.2.3 → 5.2.4.2 (minor)
  src/api/Gemfile.lock
Labels: 2.10, security

#9311 findpackages: move multibuild processing after project link processing
  src/backend/BSSrcServer/Multibuild.pm
  src/backend/BSSrcServer/Projlink.pm
  src/backend/bs_srcserver
Labels: Backend 🤖

#9325 Add security update note for rails gem in release notes
  ReleaseNotes-2.10.2
Labels: 2.10

#9327 Remove unneeded JS dependencies
  src/api/.jshintrc
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/javascripts/webui/application.js
Labels: Frontend

#9210 Upgrade OBS to Rails 6.0
  src/api/.rubocop_todo.yml
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/models/role.rb
  src/api/config/application.rb
  src/api/config/initializers/new_framework_defaults.rb
  src/api/db/migrate/20200402141344_change_datetime_precision_ar_internal_metadata.rb
  src/api/db/structure.sql
  src/api/spec/controllers/webui/apidocs_controller_spec.rb
  src/api/spec/controllers/webui/kiwi/images_controller_spec.rb
  src/api/spec/models/bs_request_spec.rb
  src/api/spec/models/review_spec.rb
  src/api/test/fixtures/path_elements.yml
  src/api/test/functional/channel_maintenance_test.rb
  src/api/test/functional/product_test.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/functional/source_services_test.rb
Labels: Frontend, review-app

#9307 Refactor notification's creation code
  src/api/app/jobs/send_event_emails_job.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/comment.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/comment_event.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_wanted.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/notification.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/review.rb
  src/api/app/services/notification_creator.rb
  src/api/spec/factories/notification.rb
  src/api/spec/services/notification_creator_spec.rb
Labels: Frontend, Test Suite :syringe:

#9356 Link to Tasks in the Places menu
  src/api/app/views/layouts/webui/responsive_ux/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_user_navigation.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
Labels: Frontend, review-app

#9344 [backend] fix dying workers in cleanup_chroot mode
  src/backend/bs_worker
Labels: Backend 🤖

#9355 Notifications data migration
  src/api/db/data/20200326170855_remove_obsolete_notifications.rb
  src/api/db/data/20200326221616_regenerate_notifications.rb
  src/api/spec/db/data/regenerate_notifications_spec.rb
  src/api/spec/db/data/remove_obsolete_notifications_spec.rb
  src/api/spec/factories/event_subscriptions.rb
Labels: Frontend

#9357 Add descendent order in notification
  src/api/app/models/notification.rb
Labels: Beta, Frontend

#9360 Notifications routes
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/controllers/webui/users/rss_tokens_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/layouts/webui/responsive_ux/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_navigation.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/users/subscriptions/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/subscriptions/index.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/controllers/webui/users/rss_tokens_controller_spec.rb
  src/api/spec/features/webui/notifications_spec.rb
  src/api/test/fixtures/event_mailer/another_comment_event
  src/api/test/fixtures/event_mailer/comment_event
  src/api/test/fixtures/event_mailer/commit_event
  src/api/test/fixtures/event_mailer/project_comment
  src/api/test/fixtures/event_mailer/repo_delete_request
  src/api/test/fixtures/event_mailer/request_event
  src/api/test/fixtures/event_mailer/review_wanted
  src/api/test/fixtures/event_mailer/set_bugowner_event
  src/api/test/fixtures/event_mailer/tom_declined
  src/api/test/fixtures/event_mailer/tom_gets_mail_too
Labels: review-app

#9366 Display a message based on the context when there are no notifications
  src/api/app/views/webui/users/notifications/index.html.haml
Labels: Frontend, review-app

#9365 Display the number of unread notifications in the top-level navigation
  src/api/app/models/bs_request.rb
  src/api/app/models/user.rb
  src/api/app/views/layouts/webui/responsive_ux/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_navigation.html.haml
Labels: Frontend, review-app

#9369 Fix notification update path
  src/api/app/views/webui/users/notifications/index.html.haml
Labels: Frontend, Monkey Patched :see_no_evil:

#9373 Enable new rubocop cop
  .rubocop.yml
  .rubocop_todo.yml
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
Labels: Frontend

#9371 Add vertical alignment to notification badge
  src/api/app/views/layouts/webui/responsive_ux/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_navigation.html.haml
Labels: Beta, Frontend

#9375 Add action menu to Notifications#index
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/app/views/webui/users/notifications/responsive_ux/_actions.html.haml
Labels: Frontend, review-app

#9377 Rename "State Changes" filter to "Requests"
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
Labels: Frontend, review-app

#9381 Switch CI containers to openSUSE Leap 15.1
  .circleci/config.yml
Labels: 2.10

#9379 SubscriptionsController update route
  src/api/app/views/webui/users/subscriptions/index.html.haml
  src/api/config/routes/webui_routes.rb
Labels: review-app

#9385 Fix typos in ruby variables in Makefile
  Makefile.include
Labels: Frontend

#9390 Take file name into account for file partial caching
  src/api/app/views/webui/package/_files_view.html.haml
Labels: Frontend, review-app

#9387 Mark notification as `unread`
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/models/notification.rb
  src/api/app/models/user.rb
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
Labels: Frontend, review-app

#9193 Add group to role request dialog
  src/api/app/assets/javascripts/webui/request.js
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/package/bottom_actions/_request_role_addition.html.haml
  src/api/app/views/webui/request/_add_reviewer_dialog.html.haml
  src/api/app/views/webui/request/_add_role_request_dialog.html.haml
  src/api/app/views/webui/search/_request_bugowner_change_dialog.html.haml
  src/api/spec/cassettes/Bootstrap_Requests/for_role_addition_group/for_packages/can_be_submitted.yml
  src/api/spec/cassettes/Bootstrap_Requests/for_role_addition_group/for_projects/can_be_submitted.yml
  src/api/spec/cassettes/Bootstrap_Requests/for_role_addition_user/for_packages/can_be_submitted.yml
  src/api/spec/cassettes/Bootstrap_Requests/for_role_addition_user/for_projects/can_be_submitted.yml
  src/api/spec/features/webui/requests_spec.rb
Labels: Frontend, review-app

#9384 Fix apidocs rendering
  src/api/app/views/webui/apidocs/index.html.haml
Labels: Documentation :book:, Frontend, Monkey Patched :see_no_evil:

#9399 Use the Query Object pattern for notifications
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/models/notification.rb
  src/api/app/models/user.rb
  src/api/app/queries/notifications_finder.rb
  src/api/spec/db/data/remove_obsolete_notifications_spec.rb
Labels: Frontend, Refactoring :factory:, review-app

#9394 Rename notify_parameters to event_parameters
  src/api/app/controllers/request_controller.rb
  src/api/app/jobs/project_create_auto_cleanup_requests.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/review.rb
Labels: Frontend

#9389 Add pagination to notifications
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/views/webui/kaminari/_paginator.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/config/locales/kaminari.en.yml
Labels: Frontend, review-app

#9402 bs_publish: Create staticlinks for install.tar files
  src/backend/bs_publish
Labels: Backend 🤖

#9392 Use cache version to fetch cached users tasks
  src/api/app/models/user.rb
  src/api/app/views/webui/users/tasks/index.html.haml
Labels: Frontend

#9391 Add task to create a bunch of notifications
  src/api/lib/tasks/dev.rake
Labels: Frontend

#9412 Disable cache versioning
  src/api/app/models/user.rb
  src/api/app/views/webui/users/tasks/index.html.haml
  src/api/config/application.rb
  src/api/spec/models/bs_request_spec.rb
  src/api/spec/models/review_spec.rb
Labels: Frontend

#9400 Show Project monitor's repository dropdown's topmost options
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/project-monitor.scss
Labels: Frontend, review-app

#9421 Rename identical IDs into unique IDs. Fixes #9331
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_add_role_request_dialog.html.haml
  src/api/app/views/webui/request/_change_devel_request_dialog.html.haml
  src/api/app/views/webui/request/_delete_request_dialog.html.haml
  src/api/spec/controllers/webui/request_controller_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/features/webui/requests_spec.rb
Labels: Frontend, review-app

#9420 excludebuild support in build config
  src/backend/BSSched/Checker.pm
Labels: Backend 🤖

#9419 [backend] do not ignore dependencies for simpleimage builds
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/BuildJob/SimpleImage.pm
Labels: Backend 🤖

#9425 Link to comment in notifications
  src/api/app/presenters/notification_presenter.rb
Labels: Frontend, review-app

#9429 Drop gem airbrake-js-client
  ReleaseNotes-2.11
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/javascripts/webui/airbrake-js.js
  src/api/app/assets/javascripts/webui/application.js
  src/api/config/options.yml.example
Labels: Frontend, JavaScript

#9426 Preview on notification
  src/api/app/models/event/request_statechange.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/db/data/regenerate_notifications_spec.rb
  src/api/test/fixtures/event_mailer/tom_declined
  src/api/test/functional/request_events_test.rb
Labels: Frontend

#9432 Use back notifiable to get the corresponding object
  src/api/app/presenters/notification_presenter.rb
Labels: Frontend

#9405 Configure multiple notification channels
  src/api/app/controllers/webui/users/subscriptions_controller.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/for_channel_form.rb
  src/api/app/models/event_subscription/for_event_form.rb
  src/api/app/models/event_subscription/for_role_form.rb
  src/api/app/models/event_subscription/form.rb
  src/api/app/models/event_subscription/generate_hash_for_subscriber.rb
  src/api/app/views/webui/subscriptions/_subscriptions_form.html.haml
  src/api/db/migrate/20200423160517_add_enabled_to_event_subscription.rb
  src/api/db/structure.sql
  src/api/spec/factories/event_subscriptions.rb
  src/api/spec/features/webui/notifications_spec.rb
  src/api/spec/models/event_subscription/find_for_event_spec.rb
  src/api/spec/models/event_subscription/for_event_form_spec.rb
  src/api/spec/models/event_subscription/for_role_form_spec.rb
  src/api/spec/models/event_subscription/generate_hash_for_subscriber_spec.rb
  src/api/spec/support/shared_contexts/a_user_and_subscriptions.rb
  src/api/spec/support/shared_contexts/a_user_and_subscriptions_with_defaults.rb
  src/api/spec/support/shared_examples/a_subscriptions_form_for_subscriber.rb
  src/api/test/fixtures/event_subscriptions.yml
  src/api/test/functional/maintenance_test.rb
  src/api/test/models/event_test.rb
Labels: Frontend, review-app

#9440 Set pulse data for all request types
  src/api/app/controllers/webui/projects/pulse_controller.rb
Labels: Frontend, review-app

#9433 Create and backfill notified_projects table
  src/api/app/models/notification.rb
  src/api/app/models/notified_project.rb
  src/api/app/models/project.rb
  src/api/app/services/notified_projects.rb
  src/api/db/data/20200421121610_backfill_notified_projects.rb
  src/api/db/migrate/20200421115317_create_join_table_notified_projects.rb
  src/api/db/structure.sql
  src/api/spec/cassettes/BackfillNotifiedProjects/up/backfills_the_notifications_projects_table_with_all_projects_from_existing_notifications.yml
  src/api/spec/db/data/backfill_notified_projects_spec.rb
Labels: Frontend

#9430 Adapt Job to handle new notification channels
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/jobs/send_event_emails_job.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event_subscription/find_for_event.rb
  src/api/app/models/group.rb
  src/api/app/models/notification.rb
  src/api/app/models/user.rb
  src/api/app/services/notification_creator.rb
  src/api/db/data/20200424080753_generate_web_notifications.rb
  src/api/db/data_schema.rb
  src/api/db/migrate/20200422134122_add_rss_and_web_to_notification.rb
  src/api/db/structure.sql
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/db/data/generate_web_notifications_spec.rb
  src/api/spec/db/data/regenerate_notifications_spec.rb
  src/api/spec/factories/notification.rb
  src/api/spec/jobs/send_event_emails_job_spec.rb
  src/api/spec/models/user_spec.rb
  src/api/spec/services/notification_creator_spec.rb
Labels: Frontend

#9447 Notifications filtered by projects
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/notified_project.rb
  src/api/app/queries/notifications_finder.rb
  src/api/app/services/notification_creator.rb
  src/api/app/views/webui/users/notifications/index.html.haml
Labels: Frontend, review-app

#9458 Solve RSpec SourcePackageFinder flickering test
  src/api/spec/models/bs_request_action/differ/source_package_finder_spec.rb
Labels: Frontend, Test Suite :syringe:

#9464 Go to the "Incoming Reviews" of a group when clicking on "Backlog" link
  src/api/app/views/webui/staging/workflows/_infos.html.haml
Labels: Frontend

#9463 Don't mark the Staging tab as active for a staging project
  src/api/app/views/webui/project/_tabs.html.haml
Labels: Frontend

#9468 Disable airbrake server features
  src/api/config/initializers/airbrake.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#9466 Display "Build Results"/"RPM Lint" from staging project for staged requests
  src/api/app/views/webui/request/_sourcediff_tab.html.haml
  src/api/app/views/webui/request/show.html.haml
  src/api/app/views/webui/shared/_buildresult_box.html.haml
Labels: Frontend

#9472 Sort staging requests by state and name
  src/api/app/models/concerns/staging_project.rb
Labels: Frontend, staging-workflow

#9471 Show staging projects in state 'accepting'
  src/api/app/controllers/webui/staging/workflows_controller.rb
Labels: staging-workflow

#9473 [backend] tighten condition for successive_failcount
  src/backend/bs_repserver
Labels: Backend 🤖

#9474 [backend] buildinfo expansion: translate ldep repodata to testcase format
  src/backend/BSRepServer/Checker.pm
  src/backend/BSSched/Checker.pm
Labels: Backend 🤖

#9475 Correct output of the staging rake task
  src/api/lib/tasks/dev.rake
Labels: Frontend, staging-workflow

#9413 Add counter to notifications creation rake task
  src/api/lib/tasks/dev.rake
Labels: Frontend

#9476 Write to backend after change build flags of a StagingProject
  src/api/app/controllers/staging/staging_projects_controller.rb
Labels: Frontend, staging-workflow
