Repository openSUSE/open-build-service, pull requests merged in 2020-03, with the labels that each got.

#9164 Remove left-over javascript from old UI
  src/api/app/assets/javascripts/webui/requests_table.js
Labels: Refactoring :factory:

#9169 Increase size of search box and center it in smaller screens
  src/api/app/assets/stylesheets/webui/search.scss
Labels: review-app

#9156 Move the GPG Key and SSL Certificate details to its own page
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui/project/_tabs.html.haml
  src/api/app/views/webui/project/bottom_actions/_gpg_key_ssl_certificate.html.haml
  src/api/app/views/webui/project/keys_and_certificates.html.haml
  src/api/config/routes/webui_routes.rb
Labels: Beta, Frontend, review-app

#9160 BuildResult Tooltip
  src/api/app/assets/javascripts/webui/buildresult.js
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/assets/stylesheets/webui/responsive_ux.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/_build-result.scss
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/helpers/webui/buildresult_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui/package/responsive_ux/_buildstatus.html.haml
  src/api/app/views/webui/project/responsive_ux/_buildstatus.html.haml
Labels: Frontend, review-app

#8841 Use brakeman in circleci instead of relying on dead hakiri
  .circleci/config.yml
  dist/obs-server.spec
  hakiri.yml
  src/api/Gemfile
  src/api/config/brakeman.ignore
Labels: Test Suite :syringe:

#9048 Move the sponsors to the bottom of the page
  src/api/app/assets/stylesheets/webui/responsive_ux.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/sponsors.scss
  src/api/app/helpers/webui/sponsor_helper.rb
  src/api/app/views/layouts/webui/_legacy_sponsors.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_sponsors.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/main/_latest_updates.html.haml
  src/api/app/views/webui/main/index.html.haml
Labels: Bootstrap :rocket:, Frontend, review-app

#9185 Add extension to sponsor's images
  src/api/app/helpers/webui/sponsor_helper.rb
Labels: Beta, Frontend, review-app

#9184 Use brakeman instead of unmaintained hakiri for 2.10
  .circleci/config.yml
  dist/obs-server.spec
  hakiri.yml
  src/api/Gemfile
  src/api/config/brakeman.ignore
Labels: 2.10, Test Suite :syringe:

#9150 Support sqlite as backend for the published database
  src/backend/BSDBIndex.pm
  src/backend/BSSrcServer/SQLite.pm
  src/backend/BSXPath.pm
  src/backend/BSXPathKeys.pm
  src/backend/bs_publish
  src/backend/bs_srcserver
Labels: Backend 🤖

#9192 Align navigation items adding always icons and texts for consistency and clarity
  src/api/app/assets/stylesheets/webui/responsive_ux.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/_layout.scss
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/layouts/webui/responsive_ux/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_nobody_navigation.html.haml
Labels: Beta, Frontend, review-app

#9188 Actions for main#index
  src/api/app/assets/javascripts/webui/responsive_ux.js
  src/api/app/assets/stylesheets/webui/responsive_ux.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/_layout.scss
  src/api/app/views/layouts/webui/responsive_ux/_actions.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_nobody_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_user_navigation.html.haml
  src/api/app/views/webui/main/_actions.html.haml
  src/api/app/views/webui/main/_status_messages.html.haml
  src/api/app/views/webui/main/index.html.haml
Labels: Beta, Frontend, review-app

#9200 Fully isolate code for main#index actions
  src/api/app/views/webui/main/_status_messages.html.haml
  src/api/app/views/webui/main/index.html.haml
  src/api/app/views/webui/main/responsive_ux/_actions.html.haml
Labels: Beta, Frontend, Regression :smiling_imp:, review-app

#9199 Align structure of the generic menu for all devices and users
  src/api/app/views/layouts/webui/responsive_ux/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_nobody_navigation.html.haml
Labels: Beta, Frontend, review-app

#9142 [backend] avoid debug lines in call service wrapper
  src/backend/call-service-in-docker.sh
Labels: Backend 🤖

#9190 Horizontally scrollable tabs
  src/api/app/assets/javascripts/webui/responsive_ux.js
  src/api/app/assets/stylesheets/webui/responsive_ux.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/_tabs.scss
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui/configuration/_tabs.html.haml
  src/api/app/views/webui/groups/index.html.haml
  src/api/app/views/webui/interconnects/_tabs.html.haml
  src/api/app/views/webui/interconnects/new.html.haml
  src/api/app/views/webui/package/_tabs.html.haml
  src/api/app/views/webui/package/requests.html.haml
  src/api/app/views/webui/package/revisions.html.haml
  src/api/app/views/webui/project/_tabs.html.haml
  src/api/app/views/webui/projects/maintenance_incidents/_tabs.html.haml
  src/api/app/views/webui/projects/maintenance_incidents/index.html.haml
  src/api/app/views/webui/projects/pulse/_tabs.html.haml
  src/api/app/views/webui/projects/pulse/show.html.haml
  src/api/app/views/webui/search/_tabs.html.haml
  src/api/app/views/webui/user/_involvement.html.haml
  src/api/app/views/webui/user/responsive_ux/_tabs_profile.html.haml
Labels: Beta, Frontend, review-app

#9201 Create actions menu for project#show
  src/api/app/views/webui/main/responsive_ux/_actions.html.haml
  src/api/app/views/webui/project/_project_packages.html.haml
  src/api/app/views/webui/project/responsive_ux/_actions.html.haml
  src/api/app/views/webui/project/responsive_ux/actions/_delete_project.html.haml
  src/api/app/views/webui/project/responsive_ux/actions/_edit_project.html.haml
  src/api/app/views/webui/project/responsive_ux/actions/_gpg_key_ssl_certificate.html.haml
  src/api/app/views/webui/project/responsive_ux/actions/_modify_project.html.haml
  src/api/app/views/webui/project/responsive_ux/actions/_patchinfo.html.haml
  src/api/app/views/webui/project/responsive_ux/actions/_report_bug.html.haml
  src/api/app/views/webui/project/responsive_ux/actions/_request_role_addition_and_deletion.html.haml
  src/api/app/views/webui/project/responsive_ux/actions/_request_to_release.html.haml
  src/api/app/views/webui/project/responsive_ux/actions/_submit_as_update.html.haml
  src/api/app/views/webui/project/responsive_ux/actions/_unlock_project.html.haml
  src/api/app/views/webui/project/show.html.haml
Labels: Beta, Frontend, review-app

#9206 Add "notifiable" polymorphic fields to table "notifications"
  src/api/db/migrate/20200311132129_make_notifications_polymorphic.rb
  src/api/db/structure.sql
Labels: Frontend

#9213 [dist] fixes for setup-appliance.sh using systemctl
  dist/setup-appliance.sh
Labels: Appliance :cd:, Backend 🤖, Regression :smiling_imp:

#9214 Reduce the gap between flash and top navigation bar
  src/api/app/assets/stylesheets/webui/responsive_ux/_layout.scss
Labels: Beta, Frontend, review-app

#9217 Fix tabs in users profile view.
  src/api/app/views/webui/user/_involvement.html.haml
Labels: Frontend, review-app

#9218 Adjust z-index of off-canvas menu and scrollable tabs
  src/api/app/assets/stylesheets/webui/responsive_ux/_layout.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/_tabs.scss
Labels: Beta, Frontend, review-app

#9220 Write data into the new polymorphic fields from the notifications table
  src/api/.rubocop_todo.yml
  src/api/app/jobs/send_event_emails_job.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/comment.rb
  src/api/app/models/event/comment_event.rb
  src/api/app/models/event/request.rb
  src/api/app/models/notification.rb
Labels: Frontend

#9224 Add request state field to notifications table
  src/api/app/jobs/send_event_emails_job.rb
  src/api/db/migrate/20200313143312_add_bs_request_status_to_notification.rb
  src/api/db/structure.sql
Labels: Frontend

#9231 Lower z-index of tabs so they don't appear on top of navigation elements
  src/api/app/assets/stylesheets/webui/responsive_ux/_tabs.scss
Labels: Beta, Frontend, review-app

#9225 Add polymorphic association between BsRequest, Comment and Notification Model
  src/api/app/models/bs_request.rb
  src/api/app/models/comment.rb
  src/api/app/models/notification.rb
Labels: Frontend

#9235 Fix notifiable id fields in notifications table
  src/api/app/jobs/send_event_emails_job.rb
Labels: Frontend

#9234 Show buildresult information on hover info icon
  src/api/app/assets/javascripts/webui/buildresult.js
  src/api/app/assets/stylesheets/webui/responsive_ux/_build-result.scss
  src/api/app/views/webui/package/responsive_ux/_buildstatus.html.haml
  src/api/app/views/webui/project/responsive_ux/_buildstatus.html.haml
Labels: Beta, Frontend, review-app

#9232 Fix navigation bar height
  src/api/app/assets/stylesheets/webui/responsive_ux.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/_layout.scss
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/layouts/webui/responsive_ux/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_nobody_navigation.html.haml
Labels: Beta, Frontend, review-app

#9196 [dist] initial version of perl-OBS-XML
  dist/obs-server.spec
Labels: Backend 🤖

#9228 Support storing the linkinfo database in sqlite
  dist/obs-server.spec
  src/backend/BSDB.pm
  src/backend/BSRevision.pm
  src/backend/BSSrcServer/LinkinfoDB.pm
  src/backend/BSSrcServer/SQLite.pm
  src/backend/BSXPath.pm
  src/backend/BSXPathKeys.pm
  src/backend/bs_admin
  src/backend/bs_dbtool
  src/backend/bs_srcserver
  src/backend/t/0020-BSXPath.t
  src/backend/t/0021-BSXPathKeys.t
Labels: Backend 🤖

#9239 Add title field to notifications table
  src/api/db/migrate/20200317120346_add_title_to_notification.rb
  src/api/db/structure.sql
Labels: Frontend

#9242 [backend] BSSSL: fix potential file descriptor leak
  src/backend/BSSSL.pm
Labels: Backend 🤖

#9247 Rename bs_request_status column to bs_request_state in notifications table
  src/api/db/migrate/20200318123203_rename_status_to_state_in_notifications.rb
  src/api/db/structure.sql
Labels: Frontend

#9243 Fix inserting comments and requests, and fill title in notifications
  src/api/app/jobs/send_event_emails_job.rb
Labels: Frontend

#9238 In-place edition for project basic information
  src/api/app/assets/javascripts/webui/collapsible_text.js
  src/api/app/assets/javascripts/webui/responsive_ux.js
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui/project/_basic_info.html.haml
  src/api/app/views/webui/project/_bottom_actions.html.haml
  src/api/app/views/webui/project/_edit.html.haml
  src/api/app/views/webui/project/edit.js.erb
  src/api/app/views/webui/project/responsive_ux/actions/_edit_project.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/project/show.js.erb
  src/api/app/views/webui/project/update.js.haml
  src/api/config/routes/webui_routes.rb
Labels: Beta, Frontend, review-app

#9260 Drop obsolete files
  src/api/app/assets/images/drive-optical-48.png
  src/api/app/assets/images/globalnav-im.png
  src/api/app/assets/images/icons/accept.png
  src/api/app/assets/images/icons/error.png
  src/api/app/assets/images/icons/eye.png
  src/api/app/assets/images/icons/home_grey.png
  src/api/app/assets/images/icons_sprite.png
  src/api/app/assets/images/images/bg_display-sidebar.png
  src/api/app/assets/images/images/gradient-dark-nav.png
  src/api/app/assets/images/images/gradient-dark.png
  src/api/app/assets/images/images/gradient-darker.png
  src/api/app/assets/images/images/gradient-light-short-green.png
  src/api/app/assets/images/images/gradient-light.png
  src/api/app/assets/images/images/gradient-medium-short.png
  src/api/app/assets/images/images/right_btn.png
  src/api/app/assets/images/images/unfold-indikator.png
  src/api/app/assets/stylesheets/webui/icons.scss
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui/projects/bs_requests/index.json.erb
  src/api/app/views/webui/theme/bento/layouts/webui/_header.html.haml
  src/api/app/views/webui/theme/bento/webui/package/_extra_actions.html.haml
Labels: Frontend

#9253 [backend] document commitfilelist command
  docs/api/api/api.txt
  docs/api/api/directory.xsd
Labels: Backend 🤖

#9256 [backend] Make HTTPS communication between services possible
  src/backend/BSConfig.pm.template
  src/backend/BSServer.pm
  src/backend/BSStdServer.pm
  src/backend/bs_clouduploadserver
  src/backend/bs_dispatch
  src/backend/bs_getbinariesproxy
  src/backend/bs_publish
  src/backend/bs_repserver
  src/backend/bs_service
  src/backend/bs_signer
  src/backend/bs_srcserver
  src/backend/bs_warden
  src/backend/bs_worker
  src/backend/worker/BSSSL.pm
Labels: Backend 🤖

#9249 Read RSS feeds also from new polymorphic notification columns
  src/api/app/jobs/send_event_emails_job.rb
  src/api/app/models/comment.rb
  src/api/app/models/notification.rb
  src/api/app/models/review.rb
  src/api/app/views/notifications/_actions.text.erb
  src/api/app/views/notifications/_add_role_action.text.erb
  src/api/app/views/notifications/_change_devel_action.text.erb
  src/api/app/views/notifications/_delete_action.text.erb
  src/api/app/views/notifications/_group_action.text.erb
  src/api/app/views/notifications/_set_bugowner_action.text.erb
  src/api/app/views/notifications/_submit_action.text.erb
  src/api/app/views/notifications/comment_for_package.text.erb
  src/api/app/views/notifications/comment_for_project.text.erb
  src/api/app/views/notifications/comment_for_request.text.erb
  src/api/app/views/notifications/request_create.text.erb
  src/api/app/views/notifications/request_statechange.text.erb
  src/api/app/views/notifications/review_wanted.text.erb
  src/api/app/views/webui/feeds/notifications.rss.builder
  src/api/spec/controllers/webui/feeds_controller_spec.rb
Labels: Frontend

#9248 Create User Notification View
  src/api/app/assets/stylesheets/webui/responsive_ux.scss
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/notification.rb
  src/api/app/policies/notification_policy.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/layouts/webui/responsive_ux/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_navigation.html.haml
  src/api/app/views/webui/users/notifications/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/factories/notification.rb
Labels: Beta, Frontend, review-app

#9274 [backend] automatically add requires to ptf packages
  dist/obs-server.spec
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/modifyrpmheader
  src/backend/obs-ptf.spec
  src/backend/t/0021-BSXPathKeys.t
Labels: Backend 🤖

#9251 bs_repserver: allow more than to components in appliance build numbers
  src/backend/bs_repserver
Labels: Backend 🤖

#9286 Fix notification link for Notification
  src/api/app/presenters/notification_presenter.rb
Labels: Beta, Frontend, Monkey Patched :see_no_evil:

#9294 [backend] allow running the worker without ssl support
  src/backend/bs_worker
Labels: Backend 🤖

#9291 Remove unneeded classes in notification list
  src/api/app/views/webui/users/notifications/index.html.haml
Labels: Beta, Frontend, review-app

#9289 Add strong_migrations to our development environment
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/config/initializers/strong_migrations.rb
  src/api/db/migrate/20180110074142_change_handler_to_longtext_in_delayed_jobs.rb
  src/api/spec/db/data/remove_duplicate_repositories_spec.rb
Labels: Frontend

#9297 [backend] fix cleanup chroot code to not fail without chroot
  src/backend/bs_worker
Labels: Backend 🤖

#9300 [backend] remote cache: fix typo in modulestr calculation code
  src/backend/BSSched/Remote.pm
Labels: Backend 🤖

#9302 Implement project atomic style container signatures
  src/backend/BSConSign.pm
  src/backend/BSPGP.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Backend 🤖

#9299 [backend] include count of cumulative build failures in notifications
  src/api/app/models/event/build.rb
  src/backend/bs_repserver
Labels: Backend 🤖

#9301 Don't send emails to groups without an email
  src/api/app/mailers/event_mailer.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend
