Repository openSUSE/open-build-service, pull requests merged in 2020-06, with the labels that each got.

#9627 Silence deprecation warnings in production
  src/api/config/environments/production.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#9624 Dump announcement into status message
  src/api/app/models/user.rb
  src/api/db/data/20200528135241_dump_announcements_into_status_messages.rb
  src/api/db/data_schema.rb
  src/api/spec/db/data/dump_announcements_into_status_messages_spec.rb
Labels: Frontend

#9631 Update Kaminari gem
  src/api/Gemfile.lock
Labels: 2.10

#9634 Modify data migration for announcements
  src/api/db/data/20200528135241_dump_announcements_into_status_messages.rb
Labels: Reference Server :desktop_computer:

#9635 Update rails gem from 5.2.4.2 to 5.2.4.3
  src/api/Gemfile.lock
Labels: 2.10

#9638 Add Release Notes for 2.10.6
  ReleaseNotes-2.10.6
Labels: 2.10

#9641 [backend] improve bs_sourcepublish code
  src/backend/bs_sourcepublish
Labels: Backend 🤖

#9646 Update rack version in obs-bundled-gems.spec file
  dist/obs-bundled-gems.spec
Labels: 2.10

#9652 Address (Some) RuboCop TODOs - Part 2
  src/api/.rubocop_todo.yml
  src/api/app/controllers/group_controller.rb
  src/api/app/controllers/search_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/models/patchinfo.rb
  src/api/app/models/project.rb
  src/api/app/views/message/_messages.xml.builder
  src/api/app/views/statistics/active_request_creators.xml.builder
  src/api/app/views/statistics/activity.xml.builder
  src/api/app/views/statistics/added_timestamp.xml.builder
  src/api/app/views/statistics/global_counters.xml.builder
  src/api/app/views/statistics/highest_rated.xml.builder
  src/api/app/views/statistics/latest_added.xml.builder
  src/api/app/views/statistics/latest_updated.xml.builder
  src/api/app/views/statistics/most_active_packages.xml.builder
  src/api/app/views/statistics/most_active_projects.xml.builder
  src/api/app/views/statistics/updated_timestamp.xml.builder
  src/api/app/views/status_project/show.xml.builder
  src/api/config/initializers/tempdir.rb
  src/api/db/attribute_descriptions.rb
  src/api/db/migrate/20150625105426_multiple_incident_counters.rb
  src/api/lib/api_error.rb
  src/api/lib/backend/backend.rb
  src/api/spec/helpers/webui/request_helper_spec.rb
  src/api/spec/support/capybara.rb
  src/api/test/node_matcher.rb
  src/api/test/unit/active_support_test_case_extensions.rb
Labels: Frontend

#9630 Announcement backward compatibility
  ReleaseNotes-2.11
  docs/api/api/announcement.xml
  docs/api/api/announcements.xml
  docs/api/api/api.txt
  docs/api/api/status_message.xml
  docs/api/api/status_messages.xml
  docs/api/api/status_messages.xsd
  src/api/app/controllers/announcements_controller.rb
  src/api/app/controllers/status_messages_controller.rb
  src/api/app/models/announcement.rb
  src/api/app/models/user.rb
  src/api/app/policies/announcement_policy.rb
  src/api/app/policies/status_message_policy.rb
  src/api/app/views/announcements/index.xml.builder
  src/api/app/views/announcements/show.xml.builder
  src/api/app/views/status_messages/index.xml.builder
  src/api/app/views/status_messages/show.xml.builder
  src/api/db/migrate/20200601083057_drop_announcements.rb
  src/api/db/structure.sql
  src/api/spec/controllers/announcements_controller_spec.rb
  src/api/spec/db/data/dump_announcements_into_status_messages_spec.rb
  src/api/spec/factories/announcements.rb
  src/api/spec/models/announcement_spec.rb
Labels: Frontend, Reference Server :desktop_computer:

#9658 Use long options in rake tasks dev:lint:rubocop:{rails,root}
  src/api/lib/tasks/dev.rake
Labels: Frontend

#9659 Address RuboCop Layout/EmptyLineAfterGuardClause Offenses - Setup and First Fixes
  src/api/.haml-lint.yml
  src/api/.rubocop_todo.yml
  src/api/db/attribute_descriptions.rb
  src/api/db/checker.rb
  src/api/db/data/20190228170655_migrate_comment_payload.rb
  src/api/db/data/20190307145633_migrate_rss_notification_payload.rb
  src/api/db/data/20200326221616_regenerate_notifications.rb
  src/api/db/data/20200424080753_generate_web_notifications.rb
  src/api/db/migrate/20140213101042_add_admin_email_configuration.rb
  src/api/db/migrate/20140908125426_convert_request_history.rb
  src/api/db/migrate/20140916135426_project_maintains.rb
  src/api/db/migrate/20151030130011_mark_events.rb
  src/api/db/migrate/20170306084558_change_repositories_remote_project_name_to_not_null.rb
  src/api/db/migrate/20180523123532_add_primary_key_to_data_migrations.rb
  src/api/test/functional/interconnect_test.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/published_controller_test.rb
  src/api/test/functional/webui/spider_test.rb
  src/api/test/node_matcher.rb
  src/api/test/test_consistency_helper.rb
  src/api/test/test_helper.rb
  src/api/test/unit/schema_test.rb
Labels: Frontend

#9660 Address RuboCop Layout/EmptyLineAfterGuardClause Offenses - script and lib
  src/api/.rubocop_todo.yml
  src/api/lib/api_error.rb
  src/api/lib/authenticator.rb
  src/api/lib/backend/api/build_results/binaries.rb
  src/api/lib/backend/api/build_results/job_history.rb
  src/api/lib/backend/api/cloud.rb
  src/api/lib/backend/connection.rb
  src/api/lib/backend/connection_helper.rb
  src/api/lib/backend/file.rb
  src/api/lib/backend/test.rb
  src/api/lib/memory_debugger.rb
  src/api/lib/opensuse/permission.rb
  src/api/lib/opensuse/validator.rb
  src/api/lib/rabbitmq_bus.rb
  src/api/lib/tasks/delayed_job.rake
  src/api/lib/tasks/extract.rake
  src/api/lib/xpath_engine.rb
  src/api/script/reformat_memprof
  src/api/script/start_test_backend
Labels: Frontend

#9661 Address RuboCop Layout/EmptyLineAfterGuardClause offenses in app/controllers
  src/api/.rubocop_todo.yml
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/attribute_controller.rb
  src/api/app/controllers/build/file_controller.rb
  src/api/app/controllers/cloud/upload_jobs_controller.rb
  src/api/app/controllers/configurations_controller.rb
  src/api/app/controllers/distributions_controller.rb
  src/api/app/controllers/issue_trackers_controller.rb
  src/api/app/controllers/person_controller.rb
  src/api/app/controllers/public_controller.rb
  src/api/app/controllers/search_controller.rb
  src/api/app/controllers/services/webhooks_controller.rb
  src/api/app/controllers/source_attribute_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_project_controller.rb
  src/api/app/controllers/source_project_meta_controller.rb
  src/api/app/controllers/staging/staged_requests_controller.rb
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/app/controllers/statistics_controller.rb
  src/api/app/controllers/status/checks_controller.rb
  src/api/app/controllers/status/concerns/set_checkable.rb
  src/api/app/controllers/status/required_checks_controller.rb
  src/api/app/controllers/status_project_controller.rb
  src/api/app/controllers/webui/cloud/upload_job/logs_controller.rb
  src/api/app/controllers/webui/cloud/upload_jobs_controller.rb
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/main_controller.rb
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/projects/project_configuration_controller.rb
  src/api/app/controllers/webui/projects/status_controller.rb
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/requests/submissions_controller.rb
  src/api/app/controllers/webui/search_controller.rb
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend

#9663 Address RuboCop Layout/EmptyLineAfterGuardClause offenses in app/{jobs,mailers,mixins}
  src/api/.rubocop_todo.yml
  src/api/app/jobs/consistency_check_job.rb
  src/api/app/jobs/project_create_auto_cleanup_requests.rb
  src/api/app/jobs/send_event_emails_job.rb
  src/api/app/jobs/update_backend_infos_job.rb
  src/api/app/jobs/update_package_meta_job.rb
  src/api/app/jobs/update_released_binaries_job.rb
  src/api/app/mailers/admin_mailer.rb
  src/api/app/mixins/build_log_support.rb
  src/api/app/mixins/flipper_feature.rb
  src/api/app/mixins/has_attributes.rb
  src/api/app/mixins/has_relationships.rb
  src/api/app/mixins/parse_package_diff.rb
  src/api/app/mixins/webui/manage_relationships.rb
Labels: Frontend

#9664 Address RuboCop Layout/EmptyLineAfterGuardClause offenses in app/{helpers,services}
  src/api/.rubocop_todo.yml
  src/api/app/helpers/authentication_protocol_helper.rb
  src/api/app/helpers/event_mailer_helper.rb
  src/api/app/helpers/flag_helper.rb
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/helpers/model_helper.rb
  src/api/app/helpers/validation_helper.rb
  src/api/app/helpers/webui/buildresult_helper.rb
  src/api/app/helpers/webui/maintenance_incident_helper.rb
  src/api/app/helpers/webui/project_helper.rb
  src/api/app/helpers/webui/projects/category_helper.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/helpers/webui/staging/project_helper.rb
  src/api/app/helpers/webui/staging/workflow_helper.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/services/notification_creator.rb
  src/api/app/services/package_controller_service/rebuild_trigger.rb
  src/api/app/services/package_controller_service/url_generator.rb
  src/api/app/services/package_service/schema_verifier.rb
  src/api/app/services/session_controller_service/session_creator.rb
  src/api/app/services/staging/staging_project_validator.rb
Labels: Frontend

#9667 Address remaining RuboCop Layout/EmptyLineAfterGuardClause offenses
  src/api/.rubocop_todo.yml
  src/api/app/policies/application_policy.rb
  src/api/app/policies/package_policy.rb
  src/api/app/policies/project_policy.rb
  src/api/app/policies/status/report_policy.rb
  src/api/app/views/search/owner.xml.builder
  src/api/app/views/source/_common_issues.xml.builder
  src/api/app/views/source/_package_issues.xml.builder
  src/api/app/views/statistics/latest_added.xml.builder
  src/api/spec/db/data/migrate_comment_payload_spec.rb
  src/api/spec/models/user_ldap_strategy_spec.rb
Labels: Frontend

#9666 Improve error message in UpdateFromXmlCommand#update_path_elements
  src/api/app/models/project/update_from_xml_command.rb
  src/api/spec/models/project/update_from_xml_command_spec.rb
  src/api/test/functional/source_controller_test.rb
Labels: Frontend

#9669 Autocorrect (some) RuboCop TODOs
  src/api/.rubocop_todo.yml
  src/api/app/controllers/source_controller.rb
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/kiwi/repository.rb
  src/api/config/environments/development.rb
  src/api/config/environments/test.rb
  src/api/db/migrate/001_initial_database.rb
  src/api/db/migrate/20140908125426_convert_request_history.rb
  src/api/db/migrate/20170123115500_remove_duplicate_indexes.rb
  src/api/spec/controllers/source_project_package_meta_controller_spec.rb
  src/api/test/functional/binary_release_test.rb
  src/api/test/functional/kgraft_maintenance_test.rb
  src/api/test/functional/product_test.rb
  src/api/test/functional/read_permission_test.rb
  src/api/test/functional/zzz_post_consistency_test.rb
Labels: Frontend

#9673 Address RuboCop offenses for RSpec/ExampleWording
  src/api/.rubocop_todo.yml
  src/api/spec/cassettes/BranchPackage/_branch/package_with_UpdateProject_attribute/creates_home_tom_branches_BaseDistro_Update_project.yml
  src/api/spec/cassettes/BranchPackage/_branch/package_with_UpdateProject_attribute/increases_Package_by_one.yml
  src/api/spec/cassettes/UpdatePackageMetaJob/_perform/removes_BackendPackage_with_links_to_ids_is_nil_and_package_kind_is_patchinfo.yml
  src/api/spec/cassettes/Webui_Packages_BuildReasonController/GET_index/for_packages_without_a_build_reason/redirects_to_package_binaries_path.yml
  src/api/spec/cassettes/Webui_Packages_BuildReasonController/GET_index/without_a_valid_architecture/redirects_to_package_binaries_path.yml
  src/api/spec/cassettes/Webui_Packages_JobHistoryController/GET_index/without_a_valid_architecture/redirects_to_package_binaries_path.yml
  src/api/spec/controllers/webui/comments_controller_spec.rb
  src/api/spec/controllers/webui/packages/build_reason_controller_spec.rb
  src/api/spec/controllers/webui/packages/job_history_controller_spec.rb
  src/api/spec/controllers/webui/repositories_controller_spec.rb
  src/api/spec/jobs/update_package_meta_job_spec.rb
  src/api/spec/models/backend/file_spec.rb
  src/api/spec/models/branch_package_spec.rb
  src/api/spec/models/comment_spec.rb
  src/api/spec/models/project/update_from_xml_command_spec.rb
Labels: Frontend

#9676 Refactor ProjectStatusController and ProjectStatus::Calculator
  src/api/app/controllers/webui/projects/status_controller.rb
  src/api/app/models/project_status/calculator.rb
  src/api/spec/cassettes/ProjectStatus_Calculator/_calc_status/1_2_1.yml
  src/api/spec/cassettes/ProjectStatus_Calculator/_calc_status/1_2_2.yml
  src/api/spec/cassettes/ProjectStatus_Calculator/_calc_status/1_2_3.yml
  src/api/spec/cassettes/ProjectStatus_Calculator/_calc_status/1_2_4.yml
  src/api/spec/cassettes/ProjectStatus_Calculator/_calc_status/pure_project/1_2_5_1.yml
  src/api/spec/cassettes/ProjectStatus_Calculator/_calc_status/pure_project/1_2_5_2.yml
  src/api/spec/cassettes/ProjectStatus_Calculator/_calc_status/pure_project/1_2_5_3.yml
  src/api/spec/cassettes/ProjectStatus_Calculator/_calc_status/pure_project/1_2_5_4.yml
  src/api/spec/cassettes/ProjectStatus_Calculator/_initialize/1_1_1.yml
  src/api/spec/models/project_status/calculator_spec.rb
Labels: Frontend, Refactoring :factory:

#9672 Fix apidocs for most_active*
  docs/api/api/api.txt
  docs/api/api/most_active.xml
  docs/api/api/most_active_packages.xml
  docs/api/api/most_active_packages.xsd
  docs/api/api/most_active_projects.xml
  docs/api/api/most_active_projects.xsd
  src/api/test/functional/backend_test.rb
Labels: Frontend

#9674 Remove the peek gem
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/config/environments/development.rb
  src/api/config/environments/production.rb
  src/api/config/initializers/peek.rb
  src/api/config/options.yml.example
  src/api/config/routes.rb
Labels: Frontend

#9679 Choose the icon based in the sortkey
  src/api/app/helpers/webui/projects/status_helper.rb
  src/api/spec/helpers/webui/projects/status_helper_spec.rb
Labels: Refactoring :factory:

#9681 Remove word-break break-all from flash messages and announcement
  src/api/app/views/layouts/webui/webui.html.haml
Labels: Frontend

#9675 Autocorrect (some) RuboCop TODOs - RSpec/{ExpectActual,ScatteredLet}
  src/api/.rubocop_todo.yml
  src/api/spec/controllers/webui/patchinfo_controller_spec.rb
  src/api/spec/controllers/webui/subscriptions_controller_spec.rb
  src/api/spec/controllers/webui/webui_controller_spec.rb
  src/api/spec/helpers/webui/webui_helper_spec.rb
  src/api/spec/models/bs_request_spec.rb
  src/api/spec/models/package_spec.rb
  src/api/spec/models/project_spec.rb
Labels: Frontend

#9688 Stop using chunkypng and sprite-factory
  src/api/.rubocop.yml
  src/api/app/assets/images/icons_sprite.png
  src/api/app/assets/images/s.gif
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/icons.scss
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/layouts/webui/_legacy_sponsors.html.haml
  src/api/lib/tasks/sprites.rake
Labels: Frontend

#9691 Auto-correct RuboCop offenses for RSpec/PredicateMatcher
  src/api/.rubocop_todo.yml
  src/api/spec/models/cloud/upload_job_spec.rb
  src/api/spec/models/kiwi/image_spec.rb
  src/api/spec/models/project_spec.rb
  src/api/spec/models/review_spec.rb
  src/api/spec/models/user_spec.rb
Labels: Frontend

#9692 Remove gems chunky_png and sprite-factory
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

#9693 Auto-correct remaining RuboCop offenses for RSpec/PredicateMatcher
  src/api/.rubocop_todo.yml
  src/api/spec/controllers/webui/request_controller_spec.rb
  src/api/spec/models/attrib_value_spec.rb
  src/api/spec/models/backend/file_spec.rb
  src/api/spec/models/cloud/backend/upload_job_spec.rb
Labels: Frontend

#9694 Address RuboCop TODOs for Rails/{FindEach,IndexBy,IndexWith,Presence}
  src/api/.rubocop_todo.yml
  src/api/app/controllers/configurations_controller.rb
  src/api/app/helpers/webui/package_helper.rb
  src/api/app/models/architecture.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_maintenance_release.rb
  src/api/app/models/project.rb
  src/api/app/models/repository.rb
  src/api/app/models/role.rb
Labels: Frontend

#9696 Disable CircleCI completely on the 2.9 branch
  .circleci/config.yml
Labels: 2.9

#9690 Project status controller service
  src/api/app/controllers/webui/projects/status_controller.rb
  src/api/app/services/project_status_controller_service/attrib_values_finder.rb
  src/api/app/services/project_status_controller_service/opensuse_upstream_tarball_url_finder.rb
  src/api/app/services/project_status_controller_service/opensuse_upstream_version_finder.rb
  src/api/app/services/project_status_controller_service/project_status_fail_comment_finder.rb
  src/api/lib/api_error.rb
Labels: Frontend

#9705 Add release notes for 2.9.8
  ReleaseNotes-2.9.8
Labels: 2.9

#9695 [backend] also create .report files for docker builds
  src/backend/bs_worker
Labels: Backend 🤖

#9712 Raise AbstractMethodCalled error in Webui::RequestController#bs_request_params
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend

#9709 Address RuboCop TODOs
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/config/initializers/inflector.rb
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_package_live_build_log/behaves_like_build_log/successfully/1_10_1_1_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_package_live_build_log/behaves_like_build_log/successfully_with_a_package_which_name_that_includes_/1_10_1_1_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_package_live_build_log/behaves_like_build_log/successfully_with_a_project_which_name_that_includes_/1_10_1_1_3_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_package_live_build_log/behaves_like_build_log/with_a_non_existant_package/1_10_1_1_5_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_package_live_build_log/behaves_like_build_log/with_a_non_existant_package/1_10_1_1_5_2.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_package_live_build_log/behaves_like_build_log/with_a_non_existant_project/1_10_1_1_6_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_package_live_build_log/behaves_like_build_log/with_a_non_existant_project/1_10_1_1_6_2.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_package_live_build_log/behaves_like_build_log/with_a_protected_package/1_10_1_1_4_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_package_live_build_log/behaves_like_build_log/with_a_protected_package/1_10_1_1_4_2.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/behaves_like_build_log/successfully/1_10_2_1_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/behaves_like_build_log/successfully_with_a_package_which_name_that_includes_/1_10_2_1_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/behaves_like_build_log/successfully_with_a_project_which_name_that_includes_/1_10_2_1_3_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/behaves_like_build_log/with_a_non_existant_package/1_10_2_1_5_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/behaves_like_build_log/with_a_non_existant_package/1_10_2_1_5_2.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/behaves_like_build_log/with_a_non_existant_project/1_10_2_1_6_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/behaves_like_build_log/with_a_non_existant_project/1_10_2_1_6_2.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/behaves_like_build_log/with_a_protected_package/1_10_2_1_4_1.yml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/behaves_like_build_log/with_a_protected_package/1_10_2_1_4_2.yml
  src/api/spec/controllers/person_controller_spec.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/test/models/project_log_entry_test.rb
Labels: Frontend

#9713 Remove unneeded enabling of RuboCop pending cops
  .rubocop.yml
  src/api/.rubocop.yml
Labels: Frontend

#9711 Increase exclude-limit to 100 for RuboCop TODOs
  .rubocop_todo.yml
  src/api/.haml-lint.yml
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/app/models/bs_request_action.rb
  src/api/lib/tasks/dev.rake
Labels: Frontend

#9731 Remove gem cssmin
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

#9732 Remove duplication of config.active_record.schema_format = :sql
  src/api/config/application.rb
Labels: Frontend

#9730 Remove gem mousetrap-rails
  dist/obs-bundled-gems.spec
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

#9728 Address RuboCop offenses in the project's root directory
  .rubocop.yml
  .rubocop_todo.yml
  dist/clouduploader.rb
  dist/openQA_mail_notification.rb
Labels: Frontend

#9727 Auto-correct some RuboCop offenses for Style/SafeNavigation
  src/api/.rubocop_todo.yml
  src/api/app/controllers/configurations_controller.rb
  src/api/app/controllers/services/webhooks_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/webui/attribute_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/jobs/consistency_check_job.rb
  src/api/db/migrate/20140908125426_convert_request_history.rb
  src/api/db/migrate/20141125105426_add_github_issue_parser.rb
  src/api/lib/memory_debugger.rb
  src/api/lib/memory_dumper.rb
  src/api/lib/xpath_engine.rb
  src/api/script/reformat_memprof
  src/api/script/start_test_backend
  src/api/spec/factories/project.rb
  src/api/test/node_matcher.rb
Labels: Frontend

#9737 Align `Add file` link text and adapt tests
  dist/t/spec/features/0040_package_spec.rb
  src/api/app/views/webui/package/_files_view.html.haml
  src/api/spec/features/beta/webui/packages_spec.rb
  src/api/spec/features/webui/packages_spec.rb
Labels: Frontend

#9736 Remove gem coffee-rails
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

#9427 Do not show download links when no published artifacts exist
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/presenters/repositories/state_presenter.rb
  src/api/app/views/webui/package/binaries.html.haml
  src/api/app/views/webui/repositories/state.html.haml
  src/api/app/views/webui/shared/_download_repository_link.html.haml
  src/api/lib/backend/api/published.rb
  src/api/spec/cassettes/Packages/triggering_package_rebuild/via_binaries_view.yml
  src/api/spec/cassettes/Webui_RepositoriesController/GET_state/with_a_valid_repository_param/1_2_1_1.yml
  src/api/spec/controllers/webui/repositories_controller_spec.rb
Labels: Frontend, review-app

#9738 Replace sanitize with rails-html-sanitizer
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/lib/obsapi/markdown_renderer.rb
Labels: Frontend, review-app

#9740 Auto-correct RuboCop offenses for dist/obs_mirror_project
  .rubocop_todo.yml
  dist/obs_mirror_project
Labels: Frontend

#9745 Refactor Webui::CommentsController
  src/api/app/controllers/webui/comments_controller.rb
Labels: review-app

#9749 Address deprecation warning on render_xml
  src/api/app/mixins/can_render_model.rb
Labels: Frontend

#9677 Specify case_sensitive on uniqueness validations
  src/api/app/models/architecture.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/cloud/ec2/configuration.rb
  src/api/app/models/download_repository.rb
  src/api/app/models/flag.rb
  src/api/app/models/group.rb
  src/api/app/models/issue_tracker.rb
  src/api/app/models/kiwi/profile.rb
  src/api/app/models/kiwi/repository.rb
  src/api/app/models/project.rb
  src/api/app/models/repository.rb
  src/api/app/models/static_permission.rb
  src/api/app/models/status/check.rb
  src/api/app/models/user.rb
  src/api/spec/models/architecture_spec.rb
  src/api/spec/models/download_repository_spec.rb
Labels: Frontend

#9751 Revert "Merge pull request #9727 from dmarcoux/address-RuboCop-TODOs-18"
  src/api/.rubocop_todo.yml
  src/api/app/controllers/configurations_controller.rb
  src/api/app/controllers/services/webhooks_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/webui/attribute_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/jobs/consistency_check_job.rb
  src/api/db/migrate/20140908125426_convert_request_history.rb
  src/api/db/migrate/20141125105426_add_github_issue_parser.rb
  src/api/lib/memory_debugger.rb
  src/api/lib/memory_dumper.rb
  src/api/lib/xpath_engine.rb
  src/api/script/reformat_memprof
  src/api/script/start_test_backend
  src/api/spec/factories/project.rb
  src/api/test/node_matcher.rb
Labels: Frontend

#9742 Address deprecation warning regarding scoping
  src/api/app/models/user.rb
  src/api/app/queries/projects_with_image_templates_finder.rb
Labels: Frontend

#9506 ConsistencyCheck job refactoring
  src/api/.rubocop.yml
  src/api/app/jobs/consistency_check_job.rb
  src/api/app/jobs/old/consistency_check_job.rb
  src/api/app/models/project.rb
  src/api/app/services/consistency_check_job_service/backend_package_importer.rb
  src/api/app/services/consistency_check_job_service/backend_project_importer.rb
  src/api/app/services/consistency_check_job_service/base_consistency_checker.rb
  src/api/app/services/consistency_check_job_service/package_consistency_checker.rb
  src/api/app/services/consistency_check_job_service/project_consistency_checker.rb
  src/api/app/services/consistency_check_job_service/project_meta_checker.rb
  src/api/config/clock.rb
  src/api/lib/tasks/delayed_job.rake
  src/api/spec/cassettes/ConsistencyCheckJob/_check_one_project/1_2_1.yml
  src/api/spec/cassettes/ConsistencyCheckJob/_check_project/fix_false/1_3_1_1.yml
  src/api/spec/cassettes/ConsistencyCheckJob/_check_project/fix_true/project_should_call_store.yml
  src/api/spec/cassettes/ConsistencyCheckJobService_BackendPackageImporter/_call/it_raises_ActiveRecord_RecordInvalid/1_1_1_1.yml
  src/api/spec/cassettes/ConsistencyCheckJobService_BackendPackageImporter/_call/it_raises_Backend_NotFoundError/1_1_2_1.yml
  src/api/spec/cassettes/ConsistencyCheckJobService_BackendProjectImporter/_call/it_raises_APIError/1_1_1_1.yml
  src/api/spec/cassettes/ConsistencyCheckJobService_BackendProjectImporter/_call/it_raises_ActiveRecord_RecordInvalid/1_1_2_1.yml
  src/api/spec/cassettes/ConsistencyCheckJobService_BackendProjectImporter/_call/it_raises_Backend_NotFoundError/1_1_3_1.yml
  src/api/spec/cassettes/ConsistencyCheckJobService_PackageConsistencyChecker/_call/everything_goes_well/1_1_1_1.yml
  src/api/spec/cassettes/ConsistencyCheckJobService_ProjectMetaChecker/_call/different_meta_in_frontend_and_backend/1_1_1_1.yml
  src/api/spec/jobs/consistency_check_job_spec.rb
  src/api/spec/services/consistency_check_job_service/backend_package_importer_spec.rb
  src/api/spec/services/consistency_check_job_service/backend_project_importer_spec.rb
  src/api/spec/services/consistency_check_job_service/base_consistency_checker_spec.rb
  src/api/spec/services/consistency_check_job_service/package_consistency_checker_spec.rb
  src/api/spec/services/consistency_check_job_service/project_consistency_checker_spec.rb
  src/api/spec/services/consistency_check_job_service/project_meta_checker_spec.rb
Labels: Refactoring :factory:

#9752 Update script/compare_structure_sql.sh
  src/api/script/compare_structure_sql.sh
Labels: 2.9

#9754 [backend] Projlink: do not ignore empty frozenlink sections
  src/backend/BSSrcServer/Projlink.pm
Labels: Backend

#9753 Disable Style/SafeNavigation RuboCop cop
  .rubocop.yml
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
Labels: Frontend

#9755 Add missing sed command for key charset
  src/api/script/compare_structure_sql.sh
Labels: 2.9

#9388 Add ShellCheck scripts linter
  .circleci/config.yml
  dist/Makefile
  dist/run_shellcheck.sh
  dist/t/0000-check_users_and_group.ts
Labels: Test Suite :syringe:

#9741 Do not fail when acknowledging twice
  src/api/app/controllers/webui/status_messages_controller.rb
  src/api/app/models/status_message.rb
  src/api/spec/controllers/webui/status_messages_controller_spec.rb
  src/api/spec/models/status_message_spec.rb
Labels: Frontend

#9772 Keep the redundant `foreign_key` option in the association
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/models/package.rb
Labels: Frontend, review-app

#9756 Introduce cache versioning
  src/api/app/models/binary_release.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/group.rb
  src/api/app/models/package.rb
  src/api/app/models/project/key_info.rb
  src/api/app/models/project_status/calculator.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/models/user.rb
  src/api/app/services/monitor_controller_service/status_history_fetcher.rb
  src/api/app/views/webui/users/tasks/index.html.haml
  src/api/config/application.rb
  src/api/spec/models/bs_request_spec.rb
  src/api/spec/models/review_spec.rb
Labels: Frontend

#9774 Clean up notifications with Notification.cleanup
  src/api/app/jobs/cleanup_notifications.rb
Labels: Frontend

#9773 [backend] trim list of blocking packages to at most 10 entries
  src/backend/BSSched/BuildJob/Aggregate.pm
  src/backend/BSSched/BuildJob/Channel.pm
  src/backend/BSSched/BuildJob/Docker.pm
  src/backend/BSSched/BuildJob/KiwiImage.pm
  src/backend/BSSched/BuildJob/KiwiProduct.pm
  src/backend/BSSched/BuildJob/Package.pm
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/BSSched/BuildJob/PreInstallImage.pm
  src/backend/bs_notifyforward
  src/backend/bs_redis
Labels: Backend

#9765 Fix DelegateRequestTarget migration
  src/api/db/data/20200527135426_request_delegate_attribute.rb
Labels: Frontend

#9769 Adapt custom routes helper to zeitwerk conventions
  src/api/app/lib/routes_helper/api_matcher.rb
  src/api/app/lib/routes_helper/routes_constraints.rb
  src/api/app/lib/routes_helper/webui_matcher.rb
  src/api/config/application.rb
  src/api/config/initializers/airbrake.rb
  src/api/config/initializers/zeitwerk.rb
  src/api/config/routes.rb
  src/api/config/routes/api_routes.rb
  src/api/config/routes/routes_helper.rb
  src/api/config/routes/webui_routes.rb
  src/api/spec/routing/api_matcher_spec.rb
  src/api/spec/routing/webui_matcher_spec.rb
  src/api/test/test_helper.rb
Labels: Frontend

#9781 Create release notes for 2.10.7
  ReleaseNotes-2.10.7
Labels: 2.10

#9777 Remove Notification::RssFeedItem
  src/api/.rubocop_todo.yml
  src/api/app/models/group.rb
  src/api/app/models/notification.rb
  src/api/app/models/notification/rss_feed_item.rb
  src/api/app/models/user.rb
  src/api/app/services/notification_creator.rb
  src/api/db/data/20190307145633_migrate_rss_notification_payload.rb
  src/api/spec/db/data/convert_notifications_event_payload_to_json_spec.rb
  src/api/spec/factories/notification.rb
  src/api/spec/models/notification/rss_feed_item_spec.rb
Labels: Frontend

#9784 Stop enqueueing CleanupNotifications job
  src/api/config/clock.rb
Labels: Frontend

#9785 Delete CleanupNotifications job
  src/api/app/jobs/cleanup_notifications.rb
  src/api/app/models/notification.rb
  src/api/spec/models/notification_spec.rb
Labels: DO NOT MERGE :warning:, Frontend

#9786 Remove NotificationFinder#stale
  src/api/app/queries/notifications_finder.rb
  src/api/spec/factories/notification.rb
Labels: Frontend

#9724 Add pry and awesome print to the rails console
  docker-files/home/.pryrc
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

#9791 Set a default UID for the frontend user
  docker-compose.yml
Labels: Frontend

#9789 Set column default to an empty string for notifications.type
  src/api/app/models/notification.rb
  src/api/db/migrate/20200618152542_set_default_value_for_type_in_notifications.rb
  src/api/db/structure.sql
Labels: Frontend

#9796 Run spider test only after functional tests
  .circleci/config.yml
Labels: Test Suite :syringe:

#9803 Add counter to notification filter links
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/views/webui/users/notifications/index.html.haml
Labels: Frontend, review-app

#9808 Drop mailcatcher from Procfile
  contrib/Procfile.ha
  src/api/Procfile
Labels: Frontend

#9809 Fix smoke tests switching to apparition capybara driver
  dist/t/Gemfile
  dist/t/Gemfile.lock
  dist/t/spec/features/0040_package_spec.rb
  dist/t/spec/spec_helper.rb
  dist/t/spec/support/capybara.rb
Labels: Frontend, Test Suite :syringe:

#9790 Remove Rake::Task monkey patch
  .circleci/config.yml
  dist/README.UPDATERS
  dist/obs-api-testsuite-rspec.spec
  dist/setup-appliance.sh
  src/api/lib/tasks/databases.rake
  src/api/lib/tasks/dev.rake
  src/api/script/api_minitest.sh
Labels: Frontend

#9813 Simplify rake db:* calls
  .circleci/config.yml
  dist/obs-api-testsuite-rspec.spec
  dist/setup-appliance.sh
  src/api/lib/tasks/dev.rake
  src/api/script/api_minitest.sh
Labels: Frontend

#9816 Remove check_database script and DB::Checker
  dist/obs-server.spec
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/db/checker.rb
  src/api/script/check_database
  src/api/spec/script/db/checker_spec.rb
Labels: Frontend

#9818 Remove escape_utils gem
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

#9817 Remove colorize gem
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

#9793 [backend] add a project filter to the /source route
  src/backend/bs_srcserver
Labels: Backend

#9821 Remove empty test subdirectories
  src/api/test/controllers/.keep
  src/api/test/helpers/.keep
  src/api/test/mailers/.keep
Labels: Test Suite :syringe:

#9820 [backend] bs_publish: rewrite sha256 files if sleimage has mapped iso…
  src/backend/bs_publish
Labels: Backend

#9822 Remove RoleTest
  src/api/.rubocop_todo.yml
  src/api/test/unit/role_test.rb
Labels: Test Suite :syringe:

#9811 Remove column type from notifications table
  src/api/app/models/notification.rb
  src/api/db/migrate/20200623084234_remove_type_from_notifications.rb
  src/api/db/structure.sql
  src/api/spec/factories/notification.rb
Labels: Frontend

#9829 Show the flash message after marking a notification as read/unread
  src/api/app/views/webui/users/notifications/_update.js.erb
Labels: Frontend

#9830 Process notifications immediately in 'dev:notifications:data' rake task
  src/api/lib/tasks/dev.rake
Labels: Frontend

#9831 Create notifications in dev:development_testdata:create task
  src/api/lib/tasks/dev.rake
Labels: Frontend

#9832 Link AUTHORS to the contributors graph from GitHub
  AUTHORS
Labels: Documentation :book:

#9823 Make notifications filter sticky on mobile
  src/api/app/assets/stylesheets/webui/responsive_ux.scss
  src/api/app/views/webui/users/notifications/index.html.haml
Labels: Frontend, review-app

#9833 Autofocus on first field for new project or new package
  src/api/app/views/webui/package/new.html.haml
  src/api/app/views/webui/project/_form.html.haml
Labels: Frontend, review-app

#9839 Remove StatusMessage tests
  src/api/.rubocop_todo.yml
  src/api/test/unit/status_message_test.rb
Labels: Test Suite :syringe:

#9835 Migrate AttribNamespacePolicy tests from Minitest to RSpec
  src/api/app/models/attrib_namespace_modifiable_by.rb
  src/api/spec/factories/attrib_namespace_modifiable_bies.rb
  src/api/spec/policies/attrib_namespace_policy_spec.rb
  src/api/test/policies/attrib_policy_test.rb
Labels: Test Suite :syringe:

#9840 Remove soft deletion of StatusMessage
  src/api/app/controllers/status_messages_controller.rb
  src/api/app/controllers/webui/feeds_controller.rb
  src/api/app/controllers/webui/main_controller.rb
  src/api/app/controllers/webui/status_messages_controller.rb
  src/api/app/models/status_message.rb
  src/api/spec/controllers/status_messages_controller_spec.rb
  src/api/spec/controllers/webui/status_messages_controller_spec.rb
Labels: Frontend

#9841 Migrate AttribPolicy tests from Minitest to RSpec
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/spec/factories/attrib_type_modifiable_bies.rb
  src/api/spec/factories/roles_user.rb
  src/api/spec/policies/attrib_policy_spec.rb
  src/api/test/policies/attrib_policy_test.rb
Labels: Test Suite :syringe:

#9847 Remove BackendInfoTest
  src/api/test/models/backend_info_test.rb
Labels: Test Suite :syringe:

#9844 Remove deleted_at column from status_messages table
  src/api/app/models/status_message.rb
  src/api/db/migrate/20200626095558_remove_deleted_at_from_status_messages.rb
  src/api/db/structure.sql
Labels: Frontend

#9845 Remove CommentTest
  src/api/test/unit/comment_test.rb
Labels: Test Suite :syringe:

#9834 Fix smoke tests switching to apparition capybara driver
  dist/t/Gemfile
  dist/t/Gemfile.lock
  dist/t/spec/features/0040_package_spec.rb
  dist/t/spec/spec_helper.rb
  dist/t/spec/support/capybara.rb
Labels: 2.10, Frontend, Test Suite :syringe:

#9850 Stop ignoring status_messages.deleted_at
  src/api/app/models/status_message.rb
Labels: Frontend

#9851 Grammar fix
  src/api/app/helpers/webui/webui_helper.rb
Labels: Frontend

#9856 Remove unneeded tests for Attrib model
  src/api/test/unit/attrib_test.rb
Labels: Test Suite :syringe:

#9855 Improve responsive UX of the notifiations page
  src/api/app/assets/stylesheets/webui/responsive_ux.scss
Labels: Frontend, review-app

#9857 [backend] report source publisher in server status
  src/backend/BSConfiguration.pm
  src/backend/bs_publish
  src/backend/bs_sourcepublish
  src/backend/bs_srcserver
Labels: Backend

#9824 Initial documentation for BSServer/BSDispatch
  src/backend/BSDispatch.pm
  src/backend/BSServer.pm
Labels: Backend
