Repository openSUSE/open-build-service, pull requests merged in 2020-08, with the labels that each got.

#9972 Move backend exception class to separate file
  src/api/app/lib/backend/error.rb
  src/api/app/lib/backend/not_found_error.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#9968 Support publishing of helm charts
  src/backend/BSContar.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Helm.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_publish
  src/backend/bs_regpush
Labels: Backend

#9967 bs_worker log output improvement
  src/backend/bs_worker
Labels: Backend

#9979 Disallow '/source/*' routes for web robots
  src/api/public/robots.txt
Labels: Frontend

#9995 Move ApplicationController rescue_from blocks to a concern
  src/api/.rubocop.yml
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/concerns/rescue_handler.rb
Labels: Refactoring :factory:

#9990 Move the notifications code to its own feature flag
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/notifications_redesign/notifications.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/_notifications.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/responsive_ux.scss
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/buildresult_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/layouts/webui/_logged_in_user_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_navigation.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/attribute/index.html.haml
  src/api/app/views/webui/configuration/_tabs.html.haml
  src/api/app/views/webui/main/_breadcrumb_items.html.haml
  src/api/app/views/webui/main/_status_messages.html.haml
  src/api/app/views/webui/main/index.html.haml
  src/api/app/views/webui/package/_basic_info.html.haml
  src/api/app/views/webui/package/_bottom_actions.html.haml
  src/api/app/views/webui/package/_breadcrumb_items.html.haml
  src/api/app/views/webui/package/_tabs.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/packages/branches/_breadcrumb_items.html.haml
  src/api/app/views/webui/project/_basic_info.html.haml
  src/api/app/views/webui/project/_bottom_actions.html.haml
  src/api/app/views/webui/project/_breadcrumb_items.html.haml
  src/api/app/views/webui/project/_project_packages.html.haml
  src/api/app/views/webui/project/_tabs.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/project/subprojects.html.haml
  src/api/app/views/webui/repositories/_project_repositories.html.haml
  src/api/app/views/webui/repositories/index.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_index.html.haml
  src/api/app/views/webui/user/_involvement.html.haml
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/lib/tasks/dev.rake
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/support/beta.rb
Labels: Beta, Frontend, review-app

#10000 Add explicit format constraints to show, edit and update package
  src/api/config/routes/webui_routes.rb
  src/api/spec/cassettes/Packages/Viewing_a_package_that/has_a_mime_like_suffix_in_it_s_name.yml
  src/api/spec/cassettes/Packages/editing_a_package_s_details/updates_the_package_title_and_description.yml
  src/api/spec/cassettes/Packages/editing_the_package_description/updated_the_package_description.yml
  src/api/spec/features/beta/webui/packages_spec.rb
  src/api/spec/features/webui/packages_spec.rb
Labels: review-app

#10001 Fix indentation and add missing nav-link class of "Add Attribute" link
  src/api/app/views/webui/attribute/responsive_ux/_index_actions.html.haml
Labels: Frontend

#10002 Move Webui::WebuiController rescue_from blocks to a concern
  src/api/.rubocop.yml
  src/api/app/controllers/concerns/webui/rescue_handler.rb
  src/api/app/controllers/webui/webui_controller.rb
Labels: Refactoring :factory:

#10005 Add fake sponsors for development and test environment
  src/api/app/assets/images/icons/sponsor_auto-speed.png
  src/api/app/assets/images/icons/sponsor_greens-food-supplies.png
  src/api/config/environments/development.rb
  src/api/config/environments/test.rb
  src/api/config/options.yml.example
Labels: Frontend, review-app

#8706 Fixes and tracking extension for media
  docs/api/api/binary_released.rng
  src/api/app/models/binary_release.rb
Labels: Frontend

#10009 Refactor has relationships
  src/api/app/mixins/has_relationships.rb
  src/api/app/models/relationship.rb
  src/api/app/models/user.rb
Labels: Refactoring :factory:, review-app

#10011 Modernize bs_check_consistency
  src/backend/bs_check_consistency
Labels: Backend

#9983 Keep the filter when marking a notification read or unread
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/presenters/notifications_filter_presenter.rb
  src/api/app/views/webui/users/notifications/_notifications_filter.html.haml
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/features/beta/webui/users/notifications_controller_spec.rb
Labels: Frontend, review-app

#10013 Refactor method User#user_relevant_packages_for_status
  src/api/app/models/user.rb
  src/api/app/queries/maintained_packages_by_user_finder.rb
Labels: Refactoring :factory:, review-app

#10018 Encapsulate responsive-ux styles
  src/api/app/assets/stylesheets/webui/responsive_ux/responsive_ux.scss
  src/api/app/helpers/webui/webui_helper.rb
Labels: Frontend, review-app

#10022 Fix off-canvas menu for desktop
  src/api/app/assets/stylesheets/webui/responsive_ux/navbar.scss
Labels: Beta, Frontend, review-app

#10027 Prevent content from breaking the responsive-ux layout
  src/api/app/assets/stylesheets/webui/responsive_ux/grid.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/tabs.scss
Labels: Frontend, review-app

#10008 [backend] support memory per job constraint
  docs/api/api/constraints.rng
  src/backend/BSDispatcher/Constraints.pm
  src/backend/BSXML.pm
  src/backend/testdata/test_dispatcher
Labels: Backend

#10032 Auto-correct Rubocop Style/NumericPredicate offences
  src/api/.rubocop_todo.yml
  src/api/app/controllers/request_controller.rb
  src/api/app/controllers/search_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/search_controller.rb
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/helpers/status_helper.rb
  src/api/app/helpers/webui/package_helper.rb
  src/api/app/helpers/webui/staging/workflow_helper.rb
  src/api/app/helpers/webui/user_activity_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/jobs/project_create_auto_cleanup_requests.rb
  src/api/app/models/attrib.rb
  src/api/app/models/binary_release.rb
  src/api/app/models/bs_request_action_maintenance_release.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/owner_search/assignee.rb
  src/api/app/models/package.rb
  src/api/app/models/package_issue.rb
  src/api/app/models/product.rb
  src/api/app/models/project.rb
  src/api/app/models/update_notification_events.rb
  src/api/app/services/package_controller_service/url_generator.rb
  src/api/app/views/person/userinfo.xml.builder
  src/api/lib/tasks/delayed_job.rake
  src/api/lib/tasks/extract.rake
  src/api/lib/xpath_engine.rb
  src/api/script/delayed_job_stats.rb
  src/api/test/unit/package_test.rb
Labels: Frontend

#10033 [backend] fix memoryperjob dispatch constraints handling
  src/backend/BSDispatcher/Constraints.pm
  src/backend/testdata/constraint/tensorflow
  src/backend/testdata/test_dispatcher
  src/backend/testdata/workerinfo/large
  src/backend/testdata/workerinfo/medium
Labels: Backend

#10010 [backend] allow to blacklist packages from source publishing
  src/backend/BSConfig.pm.template
  src/backend/bs_srcserver
Labels: Backend

#10021 Move footer legal to bottom
  src/api/app/assets/stylesheets/webui/responsive_ux/layout.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/sponsors.scss
  src/api/app/views/layouts/webui/responsive_ux.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_footer.html.haml
Labels: Beta, Frontend, review-app

#10031 Auto-correct Rubocop Rails/AssertNot offenses
  src/api/.rubocop_todo.yml
  src/api/test/functional/request_controller_test.rb
  src/api/test/test_helper.rb
  src/api/test/unit/bs_request_test.rb
  src/api/test/unit/package_test.rb
  src/api/test/unit/project_test.rb
  src/api/test/unit/user_test.rb
Labels: Frontend

#10036 Correct rubocop Rails/ActiveRecordAliases offenses
  src/api/.rubocop_todo.yml
  src/api/spec/features/beta/webui/requests_spec.rb
Labels: Frontend

#10037 Correct rubocop Style/SingleArgumentDig offense
  src/api/.rubocop_todo.yml
  src/api/app/helpers/webui/maintenance_incident_helper.rb
Labels: Frontend

#10040 Correct Style/IfUnlessModifier offenses - Part III
  src/api/.rubocop_todo.yml
  src/api/app/helpers/flag_helper.rb
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/helpers/validation_helper.rb
  src/api/app/helpers/webui/buildresult_helper.rb
  src/api/app/helpers/webui/repository_helper.rb
  src/api/app/helpers/webui/staging/workflow_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/jobs/status_history_rescaler_job.rb
  src/api/app/lib/authenticator.rb
  src/api/app/lib/suse/permission.rb
  src/api/app/lib/suse/validator.rb
  src/api/app/mailers/event_mailer.rb
  src/api/app/mixins/build_log_support.rb
  src/api/app/mixins/has_attributes.rb
Labels: Frontend

#10039 Correct Style/IfUnlessModifier offenses in models
  src/api/.rubocop_todo.yml
  src/api/app/models/architecture.rb
  src/api/app/models/attrib_namespace.rb
  src/api/app/models/attrib_type.rb
  src/api/app/models/binary_release.rb
  src/api/app/models/branch_package.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action/differ/query_builder.rb
  src/api/app/models/bs_request_action_delete.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/bs_request_action_maintenance_release.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/channel.rb
  src/api/app/models/channel_binary.rb
  src/api/app/models/configuration.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event_subscription/find_for_event.rb
  src/api/app/models/issue.rb
  src/api/app/models/kiwi/image/xml_builder.rb
  src/api/app/models/maintenance_incident.rb
  src/api/app/models/package.rb
  src/api/app/models/package_build_status.rb
  src/api/app/models/patchinfo.rb
  src/api/app/models/project.rb
  src/api/app/models/project/key_info.rb
  src/api/app/models/project/remote_url.rb
  src/api/app/models/project/update_from_xml_command.rb
  src/api/app/models/project_status/calculator.rb
  src/api/app/models/project_status/pack_info.rb
  src/api/app/models/repository.rb
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
  src/api/app/models/user_ldap_strategy.rb
Labels: Frontend

#10049 Update Rubocop's TODOs file
  src/api/.rubocop_todo.yml
Labels: Frontend

#10047 Fix RuboCop offenses for Rails/PluckInWhere
  src/api/.rubocop_todo.yml
  src/api/app/models/group.rb
  src/api/app/models/package.rb
  src/api/app/models/review.rb
  src/api/app/queries/open_requests_finder.rb
Labels: Frontend

#10053 Hide file action column for anonymous
  src/api/app/views/webui/package/_file.html.haml
  src/api/app/views/webui/package/_files_view.html.haml
Labels: Frontend, review-app

#10055 Correct Rubocop Style/RegexpLiteral offences in controllers
  src/api/.rubocop_todo.yml
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/person_controller.rb
  src/api/app/controllers/public_controller.rb
  src/api/app/controllers/webui/monitor_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/sitemaps_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend

#10056 Correct Rubocop Style/RegexpLiteral in models
  src/api/.rubocop_todo.yml
  src/api/app/models/cloud/ec2/configuration.rb
  src/api/app/models/comment.rb
  src/api/app/models/event/factory.rb
  src/api/app/models/group.rb
  src/api/app/models/kiwi/repository.rb
  src/api/app/models/repository.rb
  src/api/app/models/role.rb
  src/api/app/models/service.rb
  src/api/app/models/static_permission.rb
  src/api/app/models/user.rb
Labels: Frontend

#10058 Correct Rubocop Style/RegexpLiteral in specs and tests
  src/api/.rubocop_todo.yml
  src/api/spec/controllers/cloud/upload_jobs_controller_spec.rb
  src/api/spec/controllers/public_controller_spec.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/features/beta/webui/packages_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/support/vcr.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/message_controller_test.rb
  src/api/test/functional/read_permission_test.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/functional/request_events_test.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/functional/status_controller_test.rb
  src/api/test/functional/webui/spider_test.rb
  src/api/test/models/event_test.rb
  src/api/test/test_helper.rb
  src/api/test/unit/attribute_test.rb
  src/api/test/unit/package_test.rb
  src/api/test/unit/schema_test.rb
Labels: Frontend

#10057 Correct Rubocop Style/RegexpLiteral in various files
  src/api/.rubocop_todo.yml
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/mixins/build_log_support.rb
  src/api/app/services/package_service/file_verifier.rb
  src/api/app/services/trigger_controller_service/token_extractor.rb
  src/api/config/routes/webui_routes.rb
  src/api/lib/api_error.rb
  src/api/lib/tasks/coverage.rake
  src/api/lib/tasks/extract.rake
  src/api/lib/tasks/test_webui.rake
Labels: Frontend

#10064 Correct Rubocop Style/ConditionalAssignment in specs and tests
  src/api/.rubocop_todo.yml
  src/api/spec/support/database_cleaner.rb
  src/api/test/functional/source_controller_test.rb
Labels: Frontend

#10060 Correct Rubocop Style/ConditionalAssignment in various files
  src/api/.rubocop_todo.yml
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/lib/backend/connection.rb
  src/api/app/lib/suse/validator.rb
  src/api/app/mailers/event_mailer.rb
  src/api/app/mixins/has_ratings.rb
  src/api/app/mixins/parse_package_diff.rb
  src/api/app/mixins/webui/manage_relationships.rb
Labels: Frontend

#10059 Correct Rubocop Style/ConditionalAssignment in controllers I
  src/api/.rubocop_todo.yml
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/message_controller.rb
  src/api/app/controllers/person_controller.rb
  src/api/app/controllers/search_controller.rb
  src/api/app/controllers/statistics_controller.rb
  src/api/app/controllers/status/checks_controller.rb
  src/api/app/controllers/status/reports_controller.rb
  src/api/app/controllers/webui/attribute_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/projects/pulse_controller.rb
Labels: Frontend

#10068 Correct RuboCop Style/IfUnlessModifier offenses
  src/api/.rubocop_todo.yml
  src/api/app/policies/application_policy.rb
  src/api/app/services/package_controller_service/url_generator.rb
  src/api/app/views/models/_package.xml.builder
  src/api/app/views/models/_project.xml.builder
  src/api/db/migrate/20170704212201_increase_timestamp_precision.rb
  src/api/lib/tasks/extract.rake
  src/api/lib/xpath_engine.rb
  src/api/script/import_database.rb
  src/api/spec/factories/bs_requests.rb
  src/api/spec/factories/packages.rb
  src/api/spec/factories/project.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/rails_helper.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/published_controller_test.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/functional/webui/spider_test.rb
  src/api/test/test_helper.rb
  src/api/test/unit/schema_test.rb
Labels: Frontend

#10070 Correct RuboCop Style/RescueStandardError offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/search_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/statistics_controller.rb
  src/api/app/controllers/webui/feeds_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/projects/rebuild_times_controller.rb
  src/api/app/helpers/validation_helper.rb
  src/api/app/lib/backend/file.rb
  src/api/app/models/package.rb
  src/api/app/models/project_log_entry.rb
  src/api/app/models/service.rb
  src/api/app/models/update_notification_events.rb
  src/api/app/models/user.rb
  src/api/app/models/user_ldap_strategy.rb
  src/api/db/migrate/20140721112346_delayed_job_indexes.rb
  src/api/lib/rabbitmq_bus.rb
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/extract.rake
Labels: Frontend

#10061 Correct Rubocop Style/ConditionalAssignment in models II
  src/api/.rubocop_todo.yml
  src/api/app/models/branch_package.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request/find_for/project.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_submit.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/request.rb
  src/api/app/models/group.rb
  src/api/app/models/issue_tracker.rb
  src/api/app/models/owner_search/assignee.rb
  src/api/app/models/owner_search/container.rb
  src/api/app/models/package.rb
  src/api/app/models/package_build_status.rb
  src/api/app/models/project.rb
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
  src/api/app/models/user_ldap_strategy.rb
Labels: Frontend

#10072 Fix broken link in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Documentation :book:

#10062 Correct Rubocop Style/ConditionalAssignment in views III
  src/api/.rubocop_todo.yml
  src/api/app/views/message/_messages.xml.builder
  src/api/app/views/models/_project.xml.builder
Labels: Frontend

#10071 Append ThinkingSphinx callbacks to Package and Project models
  src/api/app/mixins/populate_sphinx.rb
  src/api/app/models/concerns/append_sphinx_callbacks.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/spec/models/full_text_search_spec.rb
Labels: Frontend, Reference Server :desktop_computer:, review-app

#10076 Allow staff users to create/update/destroy status messages
  src/api/app/controllers/status_messages_controller.rb
  src/api/app/controllers/webui/status_messages_controller.rb
  src/api/app/policies/status_message_policy.rb
  src/api/app/views/webui/main/_status_message.html.haml
  src/api/app/views/webui/main/_status_messages.html.haml
  src/api/app/views/webui/main/responsive_ux/_index_actions.html.haml
  src/api/spec/policies/status_message_policy_spec.rb
Labels: Frontend

#10063 Correct Rubocop Style/ConditionalAssignment in config and lib IV
  src/api/.rubocop_todo.yml
  src/api/config/initializers/02_apiversion.rb
  src/api/config/initializers/airbrake.rb
  src/api/lib/rabbitmq_bus.rb
  src/api/lib/tasks/extract.rake
  src/api/lib/xpath_engine.rb
Labels: Frontend

#10077 Correct RuboCop Style/MultipleComparison offenses
  src/api/.rubocop_todo.yml
  src/api/app/helpers/flag_helper.rb
  src/api/app/models/bs_request.rb
  src/api/lib/memory_debugger.rb
  src/api/lib/tasks/extract.rake
  src/api/script/reformat_memprof
Labels: Frontend

#10078 Merge the docker-compose AHM/APM setups
  contrib/grafana-datasource.yml
  contrib/influxdb-init.iql
  contrib/telegraf.conf
  docker-compose.sre.yml
  src/api/config/initializers/influxdb_rails.rb
Labels: Frontend

#10082 [backend] publisher: implement repotype 'helm'
  src/backend/BSPublisher/Helm.pm
  src/backend/bs_publish
Labels: Backend

#10097 Show download link for files that exceed 4 megabytes
  src/api/app/views/webui/package/_file.html.haml
Labels: Frontend
