Repository openSUSE/open-build-service, pull requests merged in 2020-09, with the labels that each got.

#10102 Remove wizardtemplate.spec
  dist/obs-server.spec
  src/api/files/wizardtemplate.spec
Labels: Frontend

#10113 Remove last bento not used remaining code
  src/api/.haml-lint.yml
  src/api/.jshintignore
Labels: Frontend

#10103 Show confirmation dialog on status message delete
  src/api/app/views/webui/main/_status_message.html.haml
  src/api/app/views/webui/main/_status_message_delete_dialog.html.haml
Labels: Frontend

#9896 [backend] add memoization of files via the $conf{'memoize'} file
  src/backend/BSStdServer.pm
  src/backend/bs_repserver
Labels: Backend

#10130 Auto-correct RuboCop Performance cops offenses for `src/api/`
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/monitor_controller.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/views/staging/staging_projects/_staging_project_item.xml.builder
Labels: Frontend

#10148 Edit comments feature
  src/api/app/assets/javascripts/webui/comment.js
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/policies/comment_policy.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/comment/_new.html.haml
  src/api/app/views/webui/comment/_reply.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/comments_controller_spec.rb
  src/api/spec/features/beta/webui/comments_spec.rb
  src/api/spec/features/webui/comments_spec.rb
  src/api/spec/policies/comment_policy_spec.rb
Labels: Frontend, review-app

#10159 Fix the refactored condition for pure_project
  src/api/app/models/project_status/calculator.rb
  src/api/spec/cassettes/ProjectStatus/displays_the_expected_packages_in_the_results_table.yml
  src/api/spec/cassettes/ProjectStatus_Calculator/_calc_status/pure_project/1_2_5_1.yml
  src/api/spec/cassettes/ProjectStatus_Calculator/_calc_status/pure_project/1_2_5_2.yml
  src/api/spec/cassettes/ProjectStatus_Calculator/_calc_status/pure_project/1_2_5_3.yml
  src/api/spec/cassettes/ProjectStatus_Calculator/_calc_status/pure_project/1_2_5_4.yml
  src/api/spec/features/beta/webui/projects_spec.rb
  src/api/spec/features/webui/projects/status_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Labels: Frontend, review-app

#10168 Hide Projects filter when it is empty
  src/api/app/views/webui/users/notifications/_notifications_filter.html.haml
Labels: Frontend, review-app

#10172 Fix handling of selected filters for empty notification page
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
Labels: Frontend, review-app

#10164 Enable "Show all" in project filter for notifications
  src/api/app/helpers/webui/notification_helper.rb
Labels: Beta, Frontend, Notifications, review-app

#10180 Fix pagination links after marking a notification as read
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
Labels: Frontend, Notifications, review-app

#10184 Marking a notification as read: couple of fixes
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
Labels: Frontend, Notifications, review-app

#10128 [backend] repserver: also dirty repos for project/package events
  src/api/app/models/bs_request_action.rb
  src/backend/bs_repserver
Labels: Backend

#10153 Setrelease fixes
  src/backend/bs_repserver
Labels: Backend

#10187 Render flash message now in notifications#update
  src/api/app/controllers/webui/users/notifications_controller.rb
Labels: Frontend, review-app

#10192 Truncate multi-line notification excerpts to the first line
  src/api/app/presenters/notification_presenter.rb
Labels: Frontend, Notifications

#10199 Remove markdown tags in notifications' excerpts
  src/api/app/helpers/webui/markdown_helper.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/spec/helpers/webui/markdown_helper_spec.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend, Notifications, review-app

#10207 Only use GET for search index endpoint
  src/api/app/views/layouts/webui/_search.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_top_navigation_search.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/public/404.html
Labels: Frontend

#10208 Implement new z-index hierarchy
  src/api/app/assets/stylesheets/webui/flash.scss
  src/api/app/assets/stylesheets/webui/personal-navigation.scss
  src/api/app/assets/stylesheets/webui/project-monitor.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/layout.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/navbar.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/tabs.scss
  src/api/app/assets/stylesheets/webui/tabs-component.scss
  src/api/app/assets/stylesheets/webui/watchlist.scss
  src/api/app/views/layouts/webui/_login_form.html.haml
Labels: Frontend, review-app

#10218 Reduce padding for notifications list on small viewports
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
Labels: Frontend

#10221 Update notifications counter in Top Nav with AJAX
  src/api/app/views/layouts/webui/responsive_ux/_top_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_unread_notifications_counter.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
Labels: Frontend, review-app

#10191 Remove unneeded code for notification.notifiable_type 'Review'
  src/api/app/presenters/notification_presenter.rb
  src/api/app/queries/notifications_finder.rb
  src/api/app/services/notified_projects.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/db/data/backfill_notified_projects_spec.rb
  src/api/spec/factories/notification.rb
Labels: Frontend

#10227 Update BS Request with AJAX call
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_decision_tab.html.haml
  src/api/app/views/webui/request/_handle_request.html.haml
  src/api/app/views/webui/request/_update.js.erb
  src/api/app/views/webui/request/show.html.haml
Labels: Frontend, review-app

#10220 Show Notification Toolbar when opening notification from Notifications List Page
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/notification_toolbar.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/responsive_ux.scss
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/queries/notifications_finder.rb
  src/api/app/views/layouts/webui/_notification_toolbar.html.haml
  src/api/app/views/layouts/webui/responsive_ux.html.haml
Labels: Frontend, review-app

#10239 Fix rubocop Style/MethodCallWithArgsParentheses in notification helper
  src/api/app/helpers/webui/notification_helper.rb
Labels: Frontend
