Repository openSUSE/open-build-service, pull requests merged in 2020-01, with the labels that each got.

#8908 Show action column when user is logged in
  src/api/app/views/webui/shared/user_or_groups_roles/_index.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_list.html.haml
Labels: Frontend

#8907 [backend] support zstd arch binaries
  src/backend/BSRepServer.pm
  src/backend/BSRepServer/YMP.pm
  src/backend/BSSrcServer/Remote.pm
  src/backend/bs_getbinariesproxy
  src/backend/bs_publish
  src/backend/bs_repserver
  src/backend/bs_sched
  src/backend/bs_srcserver
  src/backend/bs_worker
Labels: Backend 🤖

#8933 Show excluded request description on info list
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/helpers/webui/staging/workflow_helper.rb
  src/api/app/views/webui/staging/workflows/_infos.html.haml
  src/api/app/views/webui/staging/workflows/_requests_list.html.haml
Labels: Frontend, staging-workflow

#8925 Clean up staging project history once it's accepted
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/jobs/staging_project_accept_job.rb
  src/api/app/models/concerns/staging_project.rb
  src/api/app/models/project.rb
  src/api/spec/cassettes/StagingProjectAcceptJob/_perform/when_the_staging_project_is_in_acceptable_state/should_remove_staging_project_log_entries/1_1_1_2_1.yml
  src/api/spec/cassettes/StagingProjectAcceptJob/_perform/when_the_staging_project_is_in_acceptable_state/should_remove_staging_project_log_entries/1_1_1_2_2.yml
  src/api/spec/cassettes/StagingProjectAcceptJob/_perform/when_the_staging_project_is_in_acceptable_state/staging_project_should_be_accepted/1_1_1_1_1.yml
  src/api/spec/cassettes/StagingProjectAcceptJob/_perform/when_the_staging_project_is_in_acceptable_state/staging_project_should_be_accepted/1_1_1_1_2.yml
  src/api/spec/cassettes/StagingProjectAcceptJob/_perform/when_the_staging_project_is_in_acceptable_state/staging_project_should_be_accepted/1_1_1_1_3.yml
  src/api/spec/cassettes/StagingProjectAcceptJob/_perform/when_the_staging_project_is_in_acceptable_state/staging_project_should_be_accepted/1_1_1_1_4.yml
  src/api/spec/cassettes/StagingProjectAcceptJob/_perform/when_the_staging_project_is_in_acceptable_state/staging_project_should_be_accepted/1_1_1_1_5.yml
  src/api/spec/factories/project_log_entry.rb
  src/api/spec/jobs/staging_project_accept_job_spec.rb
Labels: staging-workflow

#8941 Handle Stage Request manually accepted
  src/api/.rubocop_todo.yml
  src/api/app/jobs/staging_project_accept_job.rb
  src/api/app/models/bs_request.rb
  src/api/spec/cassettes/BsRequest/_changestate/when_bs_request_is_staged/1_6_4_1.yml
  src/api/spec/cassettes/BsRequest/_changestate/when_bs_request_is_staged/when_a_staged_bs_request_is_accepted/1_6_4_2_1.yml
  src/api/spec/models/bs_request_spec.rb
Labels: Frontend, staging-workflow

#8939 Fix url format for staging workflow
  src/api/app/controllers/webui/staging/excluded_requests_controller.rb
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/datatables/excluded_request_datatable.rb
  src/api/app/helpers/webui/staging/excluded_requests_helper.rb
  src/api/app/views/webui/project/_tabs.html.haml
  src/api/app/views/webui/staging/excluded_requests/_breadcrumb_items.html.haml
  src/api/app/views/webui/staging/excluded_requests/_create_dialog.html.haml
  src/api/app/views/webui/staging/excluded_requests/index.html.haml
  src/api/app/views/webui/staging/projects/_breadcrumb_items.html.haml
  src/api/app/views/webui/staging/projects/preview_copy.html.haml
  src/api/app/views/webui/staging/workflows/_breadcrumb_items.html.haml
  src/api/app/views/webui/staging/workflows/_create_staging_project.html.haml
  src/api/app/views/webui/staging/workflows/_delete_staging_project_modal.html.haml
  src/api/app/views/webui/staging/workflows/_empty_projects_list.html.haml
  src/api/app/views/webui/staging/workflows/_infos.html.haml
  src/api/app/views/webui/staging/workflows/_overall_state.html.haml
  src/api/app/views/webui/staging/workflows/_staging_project.html.haml
  src/api/app/views/webui/staging/workflows/show.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/staging/excluded_requests_controller_spec.rb
  src/api/spec/controllers/webui/staging/projects_controller_spec.rb
  src/api/spec/controllers/webui/staging/workflows_controller_spec.rb
Labels: staging-workflow

#8948 Fix "Constraints" typos
  docs/api/api/api.txt
  src/api/config/routes/api_routes.rb
  src/api/config/routes/routes_helper.rb
  src/api/config/routes/webui_routes.rb
  src/api/db/checker.rb
  src/api/spec/script/db/checker_spec.rb
Labels: Frontend

#8957 Sort staging projects in staging workflow show page
  src/api/app/controllers/webui/staging/workflows_controller.rb
Labels: Frontend

#8973 Use the whole screen instead of using only a half
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
Labels: Design, Frontend, staging-workflow

#8946 Unstage declined requests
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/staging/staged_requests.rb
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_other_manager/1_3_2_4_2_1.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_other_manager/1_3_2_4_2_2.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_other_manager/1_3_2_4_2_3.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_other_manager/1_3_2_4_2_4.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_other_manager/1_3_2_4_2_5.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_other_manager/when_the_declined_request_was_unstaged_and_reopened/1_3_2_4_2_6_1.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_other_manager/when_the_declined_request_was_unstaged_and_reopened/1_3_2_4_2_6_2.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_other_manager/when_the_declined_request_was_unstaged_and_reopened/1_3_2_4_2_6_3.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_the_same_user/1_3_2_4_1_1.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_the_same_user/1_3_2_4_1_2.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_the_same_user/1_3_2_4_1_3.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_the_same_user/1_3_2_4_1_4.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_the_same_user/1_3_2_4_1_5.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_the_same_user/when_the_declined_request_was_unstaged_and_reopened/1_3_2_4_1_6_1.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_the_same_user/when_the_declined_request_was_unstaged_and_reopened/1_3_2_4_1_6_2.yml
  src/api/spec/cassettes/Staging_StagedRequestsController/DELETE_destroy/valid_staging_project_and_valid_user/with_declined_request/when_is_unstaged_by_the_same_user/when_the_declined_request_was_unstaged_and_reopened/1_3_2_4_1_6_3.yml
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
Labels: Frontend, staging-workflow

#8976 Remove unnecessary require call
  src/api/app/controllers/webui/package_controller.rb
Labels: Frontend, Refactoring :factory:

#8961 Show 0% of tests done where there are no checks
  src/api/app/helpers/webui/staging/workflow_helper.rb
Labels: Frontend, staging-workflow

#8971 Fix staging tab link
  src/api/app/views/webui/project/_tabs.html.haml
Labels: review-app

#8815 Pick less offensive colours for staged requests
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
  src/api/app/helpers/flag_helper.rb
  src/api/app/helpers/webui/staging/workflow_helper.rb
  src/api/app/views/webui/staging/shared/_legend.html.haml
  src/api/lib/tasks/dev.rake
Labels: review-app, staging-workflow

#8927 Show project title in staging projects table
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
  src/api/app/decorators/staging/project_decorator.rb
  src/api/app/views/webui/staging/workflows/_empty_projects_list.html.haml
  src/api/app/views/webui/staging/workflows/_overall_state.html.haml
  src/api/app/views/webui/staging/workflows/_staging_project.html.haml
  src/api/app/views/webui/staging/workflows/_staging_projects_table.html.haml
  src/api/spec/decorators/staging/project_decorator_spec.rb
Labels: Frontend, review-app, staging-workflow

#8978 Add Query objects to Package model
  src/api/app/models/package.rb
  src/api/app/queries/packages_finder.rb
  src/api/spec/cassettes/PackagesFinder/_by_package_and_project/package_and_project_exist/1_1_1_1.yml
  src/api/spec/cassettes/PackagesFinder/_by_package_and_project/package_or_project_doesn_t_exist/1_1_2_1.yml
  src/api/spec/cassettes/PackagesFinder/_find_by_attribute_type/when_package_is_invalid/1_2_3_1.yml
  src/api/spec/cassettes/PackagesFinder/_find_by_attribute_type/when_package_is_nil/1_2_1_1.yml
  src/api/spec/cassettes/PackagesFinder/_find_by_attribute_type/when_package_is_valid/1_2_2_1.yml
  src/api/spec/cassettes/PackagesFinder/find_by_attribute_type_and_value/when_package_is_nil/1_3_1_1.yml
  src/api/spec/cassettes/PackagesFinder/find_by_attribute_type_and_value/when_package_is_nil/1_3_1_2.yml
  src/api/spec/factories/attribs.rb
  src/api/spec/queries/packages_finder_spec.rb
Labels: Frontend, Refactoring :factory:

#8984 Package model cleanup
  src/api/app/models/package.rb
Labels: Refactoring :factory:

#8986 Refactor relationship model
  src/api/app/models/relationship.rb
  src/api/app/queries/relationships_finder.rb
Labels: Refactoring :factory:

#8989 [backend] bs_getbinariesproxy: clean up downloaded files if there is …
  src/backend/bs_getbinariesproxy
Labels: Backend 🤖

#8990 Fix some other RuboCop offenses with autocorrect
  src/api/.rubocop_todo.yml
  src/api/db/seeds.rb
  src/api/spec/controllers/source_project_package_meta_controller_spec.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/controllers/webui/search_controller_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/helpers/webui/flash_helper_spec.rb
  src/api/spec/models/backend_info_spec.rb
  src/api/spec/models/branch_package_spec.rb
  src/api/spec/models/bs_request/find_for/user_spec.rb
  src/api/spec/models/bs_request_spec.rb
  src/api/spec/models/download_repository_spec.rb
  src/api/spec/models/group_spec.rb
  src/api/spec/models/project_spec.rb
  src/api/spec/models/review_spec.rb
  src/api/spec/rails_helper.rb
  src/api/spec/support/database_cleaner.rb
  src/api/spec/support/shared_examples/features/flags_tables.rb
  src/api/test/functional/attributes_test.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/search_controller_test.rb
  src/api/test/unit/package_test.rb
  src/api/test/unit/project_test.rb
  src/api/test/unit/schema_test.rb
Labels: Refactoring :factory:

#8987 Fix some RuboCop style offenses with autocorrect
  src/api/.rubocop_todo.yml
  src/api/app/controllers/public_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/jobs/consistency_check_job.rb
  src/api/app/mixins/build_log_support.rb
  src/api/app/models/attrib.rb
  src/api/app/models/binary_release.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action_maintenance_release.rb
  src/api/app/models/bs_request_action_submit.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/cloud/backend/upload_job.rb
  src/api/app/models/obs_factory/distribution.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/role.rb
  src/api/app/views/source/_common_issues.xml.builder
  src/api/app/views/webui/feeds/news.rss.builder
  src/api/bin/bundle
  src/api/config/initializers/git.rb
  src/api/db/attribute_descriptions.rb
  src/api/db/checker.rb
  src/api/lib/memory_debugger.rb
  src/api/lib/tasks/databases.rake
  src/api/script/import_database.rb
  src/api/script/start_test_backend
  src/api/spec/rails_helper.rb
  src/api/test/functional/attributes_test.rb
  src/api/test/functional/request_events_test.rb
  src/api/test/test_helper.rb
  src/api/test/unit/build_flag_test.rb
  src/api/test/unit/debug_flag_test.rb
  src/api/test/unit/publish_flag_test.rb
Labels: Refactoring :factory:

#8985 Remove not needed/used "responders" ruby gem
  src/api/Gemfile
  src/api/app/controllers/distributions_controller.rb
  src/api/app/controllers/mail_handler_controller.rb
  src/api/app/controllers/webui/obs_factory/distributions_controller.rb
  src/api/app/controllers/webui/obs_factory/staging_projects_controller.rb
  src/api/spec/controllers/public_controller_spec.rb
  src/api/spec/controllers/source/key_info_controller_controller_spec.rb
  src/api/spec/controllers/statistics/maintenance_statistics_controller_spec.rb
  src/api/spec/controllers/status_project_controller_spec.rb
  src/api/spec/controllers/trigger_controller_spec.rb
  src/api/spec/controllers/webui/image_templates_controller_spec.rb
Labels: Frontend

#8988 Save the bs_request factory always as the creator
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
  src/api/spec/factories/bs_requests.rb
  src/api/spec/factories/staging_workflow.rb
  src/api/spec/jobs/bs_request_action_webui_infos_job_spec.rb
  src/api/spec/models/bs_request_spec.rb
Labels: Frontend, Test Suite :syringe:

#8993 Remove responders also from the lockfile
  src/api/Gemfile.lock
Labels: Frontend

#8977 split addjobhist into two parts
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/BuildJob/DeltaRpm.pm
Labels: Backend 🤖

#8979 Introduces full staging workflow factory
  src/api/spec/factories/staging_workflow.rb
Labels: Frontend

#9000 Enable responsive_ux for development environment
  src/api/lib/tasks/dev.rake
Labels: Frontend

#9007 [backend] support milestone publishing using macros
  src/backend/bs_publish
Labels: Backend 🤖

#9010 Refactor monitor controller into services
  src/api/app/controllers/webui/monitor_controller.rb
  src/api/app/services/monitor_controller_service/building_information_updater.rb
  src/api/app/services/monitor_controller_service/status_history_fetcher.rb
  src/api/spec/services/monitor_controller_service/building_information_updater_spec.rb
Labels: Refactoring :factory:

#9008 [backend] bs_redis: set a critlogger for critical events
  src/backend/bs_redis
Labels: Backend 🤖

#9006 start storing build stats whenever possible.
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/BuildResult.pm
  src/backend/BSSched/PublishRepo.pm
  src/backend/BSXML.pm
  src/backend/bs_check_consistency
Labels: Backend 🤖
