Repository openSUSE/open-build-service, pull requests merged in 2021-11, with the labels that each got.

#11789 Allow users to name their tokens
  docs/api/api/tokenlist.rng
  docs/api/api/tokenlist.xml
  src/api/app/controllers/person/token_controller.rb
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/models/token.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/models/token/rss.rb
  src/api/app/models/token/service.rb
  src/api/app/models/token/workflow.rb
  src/api/app/views/person/token/index.xml.builder
  src/api/app/views/webui/users/tokens/_update.js.erb
  src/api/app/views/webui/users/tokens/edit.html.haml
  src/api/app/views/webui/users/tokens/new.html.haml
  src/api/db/data/20211027143134_backfill_name_from_tokens.rb
  src/api/db/data_schema.rb
  src/api/db/migrate/20211027141958_add_name_to_tokens.rb
  src/api/db/schema.rb
  src/api/public/apidocs-new/components/schemas/person_tokens.yaml
  src/api/public/apidocs-new/paths/person_login_token.yaml
  src/api/spec/controllers/webui/users/tokens_controller_spec.rb
Labels: Documentation :book:, Frontend, review-app

#11803 Improve gem caching circleci and make linters job mandatory before rspec, minitest and feature jobs
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

#11805 Add apidocs linter to the development rake tasks
  src/api/lib/tasks/dev.rake
Labels: Frontend

#11729 [backend] Refactor extra pool handling for Kiwi/Docker builds
  src/backend/BSRepServer/Checker.pm
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/BuildJob/Docker.pm
  src/backend/BSSched/BuildJob/KiwiImage.pm
  src/backend/BSSched/BuildJob/KiwiProduct.pm
  src/backend/BSSched/Checker.pm
  src/backend/bs_repserver
Labels: Backend

#11793 Validate project/package names in steps
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/models/workflow/step/rebuild_package.rb
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
  src/api/spec/models/workflow/step/link_package_step_spec.rb
  src/api/spec/models/workflow/step/rebuild_package_step_spec.rb
  src/api/spec/validators/workflow_steps_validator_spec.rb
Labels: Frontend

#11794 Run validations upfront, then report any error back to the SCM
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/token/errors.rb
  src/api/app/models/token/workflow.rb
  src/api/app/services/workflows/yaml_to_workflows_service.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/models/token/workflow_spec.rb
Labels: Frontend

#11810 [backend] allow ^ in verify_simple
  src/backend/BSVerify.pm
Labels: Backend

#11806 Refactor out table of token index UI
  src/api/app/components/token_card_component.html.haml
  src/api/app/components/token_card_component.rb
  src/api/app/views/webui/users/tokens/index.html.haml
  src/api/spec/components/token_card_component_spec.rb
Labels: Frontend, review-app

#11813 Increase Capybara maximum wait time in smoke tests
  .github/labeler.yml
  dist/t/spec/features/0020_interconnect_spec.rb
  dist/t/spec/features/0040_package_spec.rb
  dist/t/spec/support/capybara.rb
Labels: Test Suite / CI :syringe:

#11811 Don't run project/package name validations if the keys are missing
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/app/models/workflow/step/rebuild_package.rb
  src/api/spec/validators/workflow_steps_validator_spec.rb
Labels: Frontend

#11820 Add missing `target_project` key in workflows
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

#11825 Only run our workflow for PRs
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

#11819 Revert gem caching on circleci
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

#11816 Fix spelling in comments
  src/api/test/functional/search_controller_test.rb
Labels: Frontend

#11828 [backend] add kiwi product module specifier
  src/backend/BSKiwiXML.pm
  src/backend/BSProductXML.pm
Labels: Backend

#11826 [backend] bs_signer: make some signing errors fatal
  src/backend/bs_signer
Labels: Backend

#11830 Add token id to tokens index and remove quotes from last trigger on paragraph
  src/api/app/components/token_card_component.html.haml
  src/api/spec/components/token_card_component_spec.rb
Labels: Frontend, review-app

#11829 Fix flickering smoke test
  dist/t/0060-check_required_services.ts
Labels: Test Suite / CI :syringe:

#11833 Use frontend-base-ci when chromium isnt necessary
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

#11834 Add missing parenthesis in if condition
  dist/t/0060-check_required_services.ts
Labels: Test Suite / CI :syringe:

#11838 Show token id after creation
  src/api/app/views/webui/users/tokens/_create.js.erb
  src/api/app/views/webui/users/tokens/new.html.haml
Labels: Frontend, review-app, Beta

#11839 [backend] fix setrelease handling for mixed iso/repo products
  src/backend/bs_repserver
Labels: Backend

#11843 Rename method valid_filters? to validate_filters
  src/api/app/validators/workflow_filters_validator.rb
Labels: Frontend

#11845 Adapt workflows yml
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

#11831 Add workflow runs model and table
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20211110142710_create_workflow_runs.rb
  src/api/db/schema.rb
Labels: Frontend

#11536 [api] support request history search by time
  src/api/lib/xpath_engine.rb
  src/api/test/functional/channel_maintenance_test.rb
  src/api/test/functional/maintenance_test.rb
Labels: Frontend

#11847 [backend] allow aggregate from non-modulemd binaries into modulemd pr…
  src/backend/BSSched/BuildJob/Aggregate.pm
Labels: Backend

#11846 Move SCM integration from branch package to link package
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

#11856 [backend] another tweak for the setrelease mechanism
  src/backend/bs_repserver
Labels: Backend

#11857 Handle Octokit::InvalidRepository on YAMLDownloader
  src/api/app/models/token/errors.rb
  src/api/app/services/workflows/yaml_downloader.rb
Labels: Frontend

#11858 Revert "Update sprockets-rails to version 3.3.0"
  src/api/Gemfile.lock
Labels: Frontend

#11850 Drop response_url from workflow_runs
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20211112134215_remove_response_url_from_workflow_runs.rb
  src/api/db/schema.rb
Labels: Frontend

#11863 Add response_url back to workflow_runs
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20211116111900_add_response_url_to_workflow_runs.rb
  src/api/db/schema.rb
Labels: Frontend

#11864 Remove outdated comments in Workflow model
  src/api/app/models/workflow.rb
Labels: Frontend

#11868 Fix inconsistent target project name
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
  src/api/spec/models/workflow/step_spec.rb
Labels: Frontend, Beta

#11841 Track workflow runs
  src/api/app/controllers/trigger/errors.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow_run.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/factories/workflow_runs.rb
  src/api/spec/models/token/workflow_spec.rb
Labels: Frontend

#11862 Remove EventSubscription for token and package if repository doesnt
  src/api/app/services/scm_status_reporter.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

#11873 Support push events for tags in ScmWebhook
  src/api/app/models/scm_webhook.rb
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_fails_with_insufficient_write_permission_on_target_project/1_1_1_5_4_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_new_PR_or_MR_event/1_1_1_5_1_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_new_PR_or_MR_event/1_1_1_5_1_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_new_PR_or_MR_event/1_1_1_5_1_3.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_new_PR_or_MR_event/1_1_1_5_1_4.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_new_PR_or_MR_event/1_1_1_5_1_5.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_new_PR_or_MR_event/1_1_1_5_1_6.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_new_PR_or_MR_event/only_reports_for_repositories_and_architectures_matching_the_filters.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_failed_when_source_package_does_not_exist/1_1_2_5_2_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_failed_without_branch_permissions/1_1_2_5_3_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_fails_with_insufficient_write_permission_on_target_project/1_1_2_5_4_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_new_PR_or_MR_event/1_1_2_5_1_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_new_PR_or_MR_event/1_1_2_5_1_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_new_PR_or_MR_event/1_1_2_5_1_3.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_new_PR_or_MR_event/1_1_2_5_1_4.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_new_PR_or_MR_event/1_1_2_5_1_5.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_new_PR_or_MR_event/1_1_2_5_1_6.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_new_PR_or_MR_event/only_reports_for_repositories_and_architectures_matching_the_filters.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_failed_when_source_package_does_not_exist/1_1_1_5_2_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_failed_without_link_permissions/1_1_1_5_4_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_insufficient_permission_on_target_project/1_1_1_5_5_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_insufficient_permission_to_create_new_target_project/1_1_1_5_6_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_project_and_package_does_not_exist/1_1_1_5_3_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_1_5_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_1_5_1_10.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_1_5_1_11.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_1_5_1_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_1_5_1_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_1_5_1_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_1_5_1_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_1_5_1_6.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_1_5_1_7.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_1_5_1_8.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_1_5_1_9.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_failed_when_source_package_does_not_exist/1_1_2_5_2_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_failed_without_link_permissions/1_1_2_5_4_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_insufficient_permission_on_target_project/1_1_2_5_5_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_insufficient_permission_to_create_new_target_project/1_1_2_5_6_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_project_and_package_does_not_exist/1_1_2_5_3_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_2_5_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_2_5_1_10.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_2_5_1_11.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_2_5_1_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_2_5_1_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_2_5_1_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_2_5_1_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_2_5_1_6.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_2_5_1_7.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_2_5_1_8.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/with_a_push_event_for_a_commit/behaves_like_successful_on_a_new_push_event/1_1_2_5_1_9.yml
  src/api/spec/models/scm_webhook_spec.rb
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow/step/link_package_step_spec.rb
  src/api/spec/models/workflow/step_spec.rb
Labels: Frontend

#11875 Support push events for tags in TriggerControllerService::ScmExtractor
  src/api/app/services/trigger_controller_service/scm_extractor.rb
  src/api/spec/services/trigger_controller_service/scm_extractor_spec.rb
Labels: Frontend

#11877 Support push events for tags in event filter of OBS workflows
  src/api/app/models/workflow.rb
  src/api/spec/models/workflow_spec.rb
Labels: Frontend

#11876 Support push events for tags in Workflow::Step#target_{project,package}_name
  src/api/app/models/workflow/step.rb
  src/api/spec/models/workflow/step_spec.rb
Labels: Frontend

#11870 Create workflow runs index view
  src/api/app/components/token_card_component.html.haml
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/models/workflow_run.rb
  src/api/app/policies/workflow_run_policy.rb
  src/api/app/views/webui/workflow_runs/_breadcrumb_items.html.haml
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/components/token_card_component_spec.rb
  src/api/spec/controllers/webui/workflow_runs_controller_spec.rb
  src/api/spec/policies/workflow_run_policy_spec.rb
Labels: Frontend, review-app

#11832 Support push events for tags
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/validators/scm_webhook_event_validator.rb
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_3.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_4.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_5.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_6.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_failed_when_source_package_does_not_exist/1_1_1_6_8_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_failed_without_branch_permissions/1_1_1_6_9_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_fails_with_insufficient_write_permission_on_target_project/1_1_1_6_10_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/does_not_report_back_to_the_SCM.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_10.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_11.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_12.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_6.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_7.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_8.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/1_1_1_6_9.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_failed_when_source_package_does_not_exist/1_1_1_6_13_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_failed_without_link_permissions/1_1_1_6_15_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_insufficient_permission_on_target_project/1_1_1_6_16_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_insufficient_permission_to_create_new_target_project/1_1_1_6_17_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/behaves_like_project_and_package_does_not_exist/1_1_1_6_14_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/with_a_push_event_for_a_tag/does_not_report_back_to_the_SCM.yml
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow/step/link_package_step_spec.rb
  src/api/spec/validators/scm_webhook_event_validator_spec.rb
Labels: Frontend

#11880 Pretty print request payload of workflow runs
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/workflow_runs.scss
  src/api/app/views/webui/workflow_runs/index.html.haml
Labels: Frontend

#11881 Minor improvements for the workflow runs UI
  src/api/app/views/webui/workflow_runs/index.html.haml
Labels: Frontend

#11887 Autofocus into the search input field
  src/api/app/views/layouts/webui/_top_navigation_search.html.haml
Labels: Frontend

#11890 Remove long description on Request group of endpoints
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
Labels: Documentation :book:, Frontend, API

#11882 Reintroduce checking for `Token` string
  src/api/app/services/trigger_controller_service/token_extractor.rb
  src/api/spec/services/trigger_controller_service/token_extractor_spec.rb
Labels: Frontend

#11888 [backend] fix sha256 file for static symlinks
  src/backend/bs_publish
Labels: Backend

#11895 Revert "Autofocus into the search input field"
  src/api/app/views/layouts/webui/_top_navigation_search.html.haml
Labels: Frontend

#11898 [backend] support a new "ccachetype" build flag
  src/backend/BSSched/BuildJob.pm
  src/backend/BSXML.pm
  src/backend/bs_worker
Labels: Backend

#11900 Extend notifications code comments
  src/api/app/controllers/person/notifications_controller.rb
  src/api/lib/tasks/dev.rake
Labels: Frontend, Beta, Notifications

#11886 [backend] BSPublisher/Container.pm ... collect all errors, dump at end
  src/backend/BSPublisher/Container.pm
Labels: Backend

#11907 Remove duplicated Contribution Graph spec
  src/api/spec/features/beta/webui/users/user_contributions_spec.rb
  src/api/spec/features/webui/users/user_contributions_spec.rb
Labels: Frontend

#11901 Fix typo in notifications controller spec
  src/api/spec/controllers/person/notifications_controller_spec.rb
Labels: Frontend, Beta, Notifications

#11911 Pluralize request tag name in API docs
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/request.yaml
  src/api/public/apidocs-new/paths/request_id.yaml
  src/api/public/apidocs-new/paths/request_id_cmd_diff.yaml
  src/api/public/apidocs-new/paths/request_view_collection.yaml
Labels: Documentation :book:, Frontend, API

#11896 Add OpenAPI specifications for source cmd
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/code_and_summary.yaml
  src/api/public/apidocs-new/components/schemas/kiwi.yaml
  src/api/public/apidocs-new/paths/source_branch.yaml
  src/api/public/apidocs-new/paths/source_createmaintenanceincident.yaml
  src/api/public/apidocs-new/paths/source_orderkiwirepos.yaml
Labels: Documentation :book:, Frontend, review-app
