Repository openSUSE/open-build-service, pull requests merged in 2021-04, with the labels that each got.

#10960 Add file /public/apidocs-new.html to fix requests to /apidocs-new
  src/api/public/apidocs-new.html
Labels: API, Documentation :book:, review-app

#10962 Requests improvements
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui/shared/bs_requests/index.json.erb
  src/api/spec/controllers/webui/project_controller_spec.rb
Labels: Frontend, review-app

#10961 Remove unnecessary `includes` in requests query
  src/api/app/controllers/request_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request/data_table/find_for_user_or_group_query.rb
Labels: Frontend, review-app

#10973 Use server-side pagination for the maintenance requests table on the user tasks page
  src/api/app/controllers/webui/users/patchinfos_controller.rb
  src/api/app/datatables/tasks_maintenance_requests_datatable.rb
  src/api/app/models/user.rb
  src/api/app/views/webui/shared/_patchinfos_table.html.haml
  src/api/app/views/webui/users/tasks/index.html.haml
  src/api/config/routes/webui_routes.rb
Labels: Frontend

#10977 Update rails to replace mimemagic with marcel
  ReleaseNotes-2.10.11
  src/api/Gemfile.lock
Labels: 2.10, Frontend, Packages :package:

#10974 Document `GET /worker/status` endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/workers_status.yaml
  src/api/public/apidocs-new/paths/worker_status.yaml
Labels: API, Documentation :book:, review-app

#10969 Document 'published/' get method
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/published.yaml
Labels: API, Documentation :book:, review-app

#10975 Published Binaries API documentation
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/parameters/project_name.yaml
  src/api/public/apidocs-new/components/parameters/repository_name.yaml
  src/api/public/apidocs-new/paths/published_project_name.yaml
  src/api/public/apidocs-new/paths/published_project_name_repository_name.yaml
  src/api/public/apidocs-new/paths/published_project_name_repository_name_architecture_name.yaml
Labels: API, Frontend, review-app

#10980 Document worker capabilities endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/worker_capabilities.yaml
  src/api/public/apidocs-new/paths/worker_architecture_name_worker_id.yaml
Labels: API, Documentation :book:, review-app

#10986 Document create submit request workflow with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
Labels: API, Documentation :book:, review-app

#10983 Published binary, status and ymp endpoints
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/parameters/binary_filename.yaml
  src/api/public/apidocs-new/components/responses/download_binary_forbidden.yaml
  src/api/public/apidocs-new/components/schemas/api_response.yaml
  src/api/public/apidocs-new/components/schemas/ymp_pattern.yaml
  src/api/public/apidocs-new/paths/published_project_name.yaml
  src/api/public/apidocs-new/paths/published_project_name_repository_name.yaml
  src/api/public/apidocs-new/paths/published_project_name_repository_name_architecture_name.yaml
  src/api/public/apidocs-new/paths/published_project_name_repository_name_architecture_name_binary_filename.yaml
  src/api/public/apidocs-new/paths/published_project_name_repository_name_architecture_name_binary_filename_view_ymp.yaml
  src/api/public/apidocs-new/paths/published_project_name_repository_name_view_status.yaml
Labels: API, Documentation :book:

#10972 Document the build endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/parameters/package_name.yaml
  src/api/public/apidocs-new/components/schemas/buildhistory.yaml
  src/api/public/apidocs-new/components/schemas/buildinfo.yaml
  src/api/public/apidocs-new/components/schemas/buildstatus.yaml
  src/api/public/apidocs-new/paths/build_project_repository_arch_package_buildinfo.yaml
  src/api/public/apidocs-new/paths/build_project_repository_arch_package_history.yaml
  src/api/public/apidocs-new/paths/build_project_repository_arch_package_log.yaml
  src/api/public/apidocs-new/paths/build_project_repository_arch_package_status.yaml
Labels: API, Documentation :book:, review-app

#10982 Document checkconstraints command for workers with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/constraints.yaml
  src/api/public/apidocs-new/paths/worker_cmd_checkconstraints.yaml
Labels: API, Documentation :book:, review-app

#10991 Add build jobstatus and reason to swagger api docs
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/buildreason.yaml
  src/api/public/apidocs-new/components/schemas/jobstatus.yaml
  src/api/public/apidocs-new/paths/build_project_repository_arch_package_jobstatus.yaml
  src/api/public/apidocs-new/paths/build_project_repository_arch_package_reason.yaml
Labels: Documentation :book:, Frontend

#10989 Document "Add a Review" and "Approve a Submit Request" workflows with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
Labels: API, Documentation :book:, review-app

#10984 Document build artifacts files endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/parameters/file_name.yaml
  src/api/public/apidocs-new/components/schemas/fileinfo.yaml
  src/api/public/apidocs-new/paths/build_project_repository_architecture_package_file.yaml
  src/api/public/apidocs-new/paths/build_project_repository_architecture_package_file_view_fileinfo.yaml
Labels: API, Documentation :book:

#10997 Update influxdb-rails to version 1.0.2
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: depfu

#10999 Unify filenames pattern and sort the tags of API documentation
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_buildinfo.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_file_name.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_file_name_view_fileinfo.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_history.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_jobstatus.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_log.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_reason.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_status.yaml
Labels: API, Frontend

#11000 Remove version constraints for gems
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

#11007 Simplify how webui routes are defined for groups
  src/api/app/controllers/webui/groups/bs_requests_controller.rb
  src/api/app/controllers/webui/groups/users_controller.rb
  src/api/app/helpers/webui/group_helper.rb
  src/api/app/helpers/webui/user_or_groups_roles_helper.rb
  src/api/app/views/webui/groups/index.html.haml
  src/api/app/views/webui/groups/new.html.haml
  src/api/app/views/webui/search/_results_owner.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_list.html.haml
  src/api/app/views/webui/staging/workflows/_infos.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/user/user_profile_redesign/_info.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/groups/bs_requests_controller_spec.rb
  src/api/spec/controllers/webui/groups/users_controller_spec.rb
  src/api/spec/features/webui/groups_spec.rb
Labels: Frontend, Refactoring :factory:, review-app

#11014 Fix token params
  src/api/app/controllers/trigger_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/models/package.rb
  src/api/app/services/package_controller_service/rebuild_trigger.rb
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_fails/lets_the_user_know_there_was_an_error.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_fails/redirects_to_the_package_binaries_path.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_succeeds/1_11_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_succeeds/1_11_2_2.yml
  src/api/spec/controllers/trigger_controller_spec.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Frontend

#11012 Do case insensitive comparison on string parameter
  src/api/app/controllers/person_controller.rb
  src/api/app/controllers/webui/architectures_controller.rb
  src/api/app/controllers/webui/groups/users_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
Labels: Frontend

#11017 Fix broken checkboxes for architectures
  src/api/app/views/webui/architectures/index.html.haml
Labels: Frontend, review-app

#11026 Fix exception class handling for release token model
  src/api/app/controllers/trigger/errors.rb
  src/api/app/models/token.rb
  src/api/app/models/token/errors.rb
  src/api/app/models/token/release.rb
Labels: Frontend

#11034 Add uniqueness validation for token string
  src/api/app/models/token.rb
Labels: Frontend

#11028 Fix TokenExtractor and write specs
  src/api/app/services/trigger_controller_service/token_extractor.rb
  src/api/spec/controllers/trigger_controller_spec.rb
  src/api/spec/factories/tokens.rb
  src/api/spec/services/trigger_controller_service/token_extractor_spec.rb
Labels: Frontend

#11039 Add specs for token base model
  src/api/spec/models/token/service_spec.rb
  src/api/spec/models/token_spec.rb
Labels: Frontend

#11041 Remove Token::Service spec
  src/api/spec/models/token/service_spec.rb
Labels: Frontend

#11040 Add specs for release token model
  src/api/spec/cassettes/Token_Release/_call/when_a_manual_release_target_is_set/triggers_the_release_process_in_the_backend.yml
  src/api/spec/cassettes/Token_Release/_call/when_no_manual_release_target_is_set/throws_an_exception.yml
  src/api/spec/cassettes/Token_Release/_call/when_no_release_target_is_set/throws_an_exception.yml
  src/api/spec/models/token/release_spec.rb
Labels: Frontend

#11042 Fix broken validation spec for Token model
  src/api/spec/models/token_spec.rb
Labels: Frontend

#11048 Don't test as admin
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X-Pagure-Signature-256_http_header/behaves_like_it_verifies_the_signature/when_entity_does_not_exist/renders_an_error_for_package.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X-Pagure-Signature-256_http_header/behaves_like_it_verifies_the_signature/when_entity_does_not_exist/renders_an_error_for_project.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X-Pagure-Signature-256_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_4_3_1_1_1.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X-Pagure-Signature-256_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_signature.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X-Pagure-Signature-256_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_token.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X-Pagure-Signature-256_http_header/behaves_like_it_verifies_the_signature/when_user_has_no_permissions/renders_an_error_for_an_inactive_user.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X-Pagure-Signature-256_http_header/behaves_like_it_verifies_the_signature/when_user_has_no_permissions/renders_an_error_for_missing_package_permissions.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_HUB_SIGNATURE_256_http_header/behaves_like_it_verifies_the_signature/when_entity_does_not_exist/renders_an_error_for_package.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_HUB_SIGNATURE_256_http_header/behaves_like_it_verifies_the_signature/when_entity_does_not_exist/renders_an_error_for_project.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_HUB_SIGNATURE_256_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_4_2_1_1_1.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_HUB_SIGNATURE_256_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_signature.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_HUB_SIGNATURE_256_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_token.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_HUB_SIGNATURE_256_http_header/behaves_like_it_verifies_the_signature/when_user_has_no_permissions/renders_an_error_for_an_inactive_user.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_HUB_SIGNATURE_256_http_header/behaves_like_it_verifies_the_signature/when_user_has_no_permissions/renders_an_error_for_missing_package_permissions.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_HUB_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_4_2_1_1_1.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_OBS_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_entity_does_not_exist/renders_an_error_for_package.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_OBS_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_entity_does_not_exist/renders_an_error_for_project.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_OBS_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_signature_is_valid/1_4_1_1_1_1.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_OBS_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_signature.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_OBS_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_token_is_invalid/renders_an_error_with_an_invalid_token.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_OBS_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_user_has_no_permissions/renders_an_error_for_an_inactive_user.yml
  src/api/spec/cassettes/TriggerController/_create/with_HTTP_X_OBS_SIGNATURE_http_header/behaves_like_it_verifies_the_signature/when_user_has_no_permissions/renders_an_error_for_missing_package_permissions.yml
  src/api/spec/cassettes/TriggerController/_rebuild/authentication_token_is_invalid/1_1_1_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/when_project_passed_by_params_ignore_it/1_1_3_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/when_token_is_valid_and_packet_rebuild/1_1_2_1.yml
  src/api/spec/cassettes/TriggerController/_release/for_inexistent_project/1_2_1_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_project_param_is_given/1_2_1_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_there_are_no_release_targets/1_2_5_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_token_is_valid_and_package_exists/1_2_2_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_user_has_no_rights_for_source/1_2_3_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_user_has_no_rights_for_target/1_2_4_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_user_has_no_rights_for_target/1_2_4_2.yml
  src/api/spec/cassettes/TriggerController/_runservice/1_3_1.yml
  src/api/spec/controllers/trigger_controller_spec.rb
Labels: Frontend

#11054 Improve description of ProjectCreateAutoCleanupRequestsJob
  src/api/app/jobs/project_create_auto_cleanup_requests_job.rb
Labels: Frontend

#11062 Implement cross build support
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/BuildJob/Package.pm
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/ProjPacks.pm
  src/backend/BSSched/Remote.pm
  src/backend/BSVerify.pm
  src/backend/BSXML.pm
  src/backend/bs_sched
  src/backend/bs_srcserver
  src/backend/bs_worker
  src/backend/t/0001-BSVerify-verify_repo.t
Labels: Backend
