Repository openSUSE/open-build-service, pull requests merged in 2021-10, with the labels that each got.

#11689 Update brakeman to fix false positive warnings for view components
  src/api/docker-files/Dockerfile
Labels: Frontend

#11690 Update brakeman to match dockerfile version
  .circleci/config.yml
Labels: Frontend, Test Suite / CI :syringe:

#11692 Add view_file path to robots.txt
  src/api/public/robots.txt
Labels: Frontend, Reference Server :desktop_computer:

#11698 Fetch only the group IDs in NotificationsFinder
  src/api/app/queries/notifications_finder.rb
Labels: Frontend

#11675 Mark all read/unread for notifications
  src/api/app/components/notification_action_bar_component.html.haml
  src/api/app/components/notification_action_bar_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/models/notification.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_action_bar_component_spec.rb
  src/api/spec/components/previews/notification_action_bar_component_preview.rb
Labels: Frontend, review-app

#11699 Do one less query to the database with select
  src/api/app/queries/notifications_finder.rb
Labels: Frontend

#11687 Click and reveal long project and package combinations
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/long_text.js
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/long-text.scss
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
Labels: Frontend, review-app

#11701 Prevent silent failure on submit request when service is in progress
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend
