Repository openSUSE/open-build-service, pull requests merged in 2021-05, with the labels that each got.

#11083 Retrieve the workflows configuration file from the target branch
  src/api/app/services/trigger_controller_service/scm_extractor.rb
  src/api/app/services/workflows/yaml_downloader.rb
Labels: Frontend

#11090 [backend] fix view=getmultibuild not working for flavor elements
  src/backend/bs_srcserver
Labels: Backend

#11089 Stop validating parameters in TriggerController
  src/api/app/controllers/trigger_controller.rb
  src/api/app/services/trigger_controller_service/token_extractor.rb
  src/api/spec/services/trigger_controller_service/token_extractor_spec.rb
Labels: Frontend

#11077 Add some fixes and improvements
  src/api/app/controllers/trigger_controller.rb
  src/api/app/models/token/workflow.rb
  src/api/app/services/trigger_controller_service/scm_extractor.rb
Labels: Frontend

#11074 [api] fix hostsystem repository handling
  docs/api/api/obs.rng
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/app/models/path_element.rb
  src/api/app/models/project.rb
  src/api/app/models/project/update_from_xml_command.rb
  src/api/app/models/repository.rb
  src/api/app/views/models/_project.xml.builder
  src/api/db/data/20210505155012_backfill_add_kind_to_path_element.rb
  src/api/db/migrate/20210505155931_add_kind_to_path_element.rb
  src/api/db/migrate/20210505160725_add_kind_to_path_element_uniq_indexes.rb
  src/api/db/schema.rb
  src/api/spec/models/project/update_from_xml_command_spec.rb
  src/api/test/functional/source_controller_test.rb
Labels: Reference Server :desktop_computer:

#11080 Rely on CreateJob class for ReportToScmJob
  dist/Makefile
  dist/obs-server.spec
  dist/systemd/obs-api-support.target
  dist/systemd/obs-delayedjob-queue-scm.service
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/branch_command.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/build_success.rb
  src/api/app/models/event/build_unchanged.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/commit.rb
  src/api/app/models/event/create_package.rb
  src/api/app/models/event/create_project.rb
  src/api/app/models/event/delete_package.rb
  src/api/app/models/event/delete_project.rb
  src/api/app/models/event/packtrack.rb
  src/api/app/models/event/repo_build_finished.rb
  src/api/app/models/event/repo_build_started.rb
  src/api/app/models/event/repo_publish_state.rb
  src/api/app/models/event/repo_published.rb
  src/api/app/models/event/request_change.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_delete.rb
  src/api/app/models/event/request_reviews_done.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_changed.rb
  src/api/app/models/event/review_wanted.rb
  src/api/app/models/event/service_fail.rb
  src/api/app/models/event/service_success.rb
  src/api/app/models/event/status_check_for_build.rb
  src/api/app/models/event/status_check_for_published.rb
  src/api/app/models/event/status_check_for_request.rb
  src/api/app/models/event/undelete_package.rb
  src/api/app/models/event/undelete_project.rb
  src/api/app/models/event/update_package.rb
  src/api/app/models/event/update_project.rb
  src/api/app/models/event/update_project_config.rb
  src/api/app/models/event/upload.rb
  src/api/app/models/event/version_change.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/token/workflow.rb
  src/api/app/services/scm_status_reporter.rb
  src/api/config/initializers/zeitwerk.rb
  src/api/db/migrate/20210505121605_add_package_to_events_and_event_subscriptions.rb
  src/api/db/schema.rb
  src/api/spec/models/update_notification_events_spec.rb
Labels: Frontend

#11094 Add gems needed for OBS workflows
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

#11095 Add database migrations needed for OBS workflows
  src/api/app/models/event_subscription.rb
  src/api/app/models/token.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/models/token/rss.rb
  src/api/app/models/token/service.rb
  src/api/db/migrate/20210428112249_add_token_id_to_event_subscriptions.rb
  src/api/db/migrate/20210428122525_add_scm_token_to_tokens.rb
  src/api/db/migrate/20210428132708_add_payload_to_event_subscriptions.rb
  src/api/db/schema.rb
Labels: Frontend

#11092 Create _branch_request file
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/services/scm_status_reporter.rb
  src/api/app/services/trigger_controller_service/scm_extractor.rb
  src/api/app/services/workflows/yaml_downloader.rb
Labels: Frontend

#11096 Create SCMStatusReporter service
  src/api/app/services/scm_status_reporter.rb
  src/api/config/initializers/zeitwerk.rb
Labels: Frontend

#11098 Add package_id column and an index to events/event_subscriptions tables
  src/api/app/models/event/base.rb
  src/api/app/models/event/branch_command.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/build_success.rb
  src/api/app/models/event/build_unchanged.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/commit.rb
  src/api/app/models/event/create_package.rb
  src/api/app/models/event/create_project.rb
  src/api/app/models/event/delete_package.rb
  src/api/app/models/event/delete_project.rb
  src/api/app/models/event/packtrack.rb
  src/api/app/models/event/repo_build_finished.rb
  src/api/app/models/event/repo_build_started.rb
  src/api/app/models/event/repo_publish_state.rb
  src/api/app/models/event/repo_published.rb
  src/api/app/models/event/request_change.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_delete.rb
  src/api/app/models/event/request_reviews_done.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_changed.rb
  src/api/app/models/event/review_wanted.rb
  src/api/app/models/event/service_fail.rb
  src/api/app/models/event/service_success.rb
  src/api/app/models/event/status_check_for_build.rb
  src/api/app/models/event/status_check_for_published.rb
  src/api/app/models/event/status_check_for_request.rb
  src/api/app/models/event/undelete_package.rb
  src/api/app/models/event/undelete_project.rb
  src/api/app/models/event/update_package.rb
  src/api/app/models/event/update_project.rb
  src/api/app/models/event/update_project_config.rb
  src/api/app/models/event/upload.rb
  src/api/app/models/event/version_change.rb
  src/api/app/models/event_subscription.rb
  src/api/db/migrate/20210505121605_add_package_to_events_and_event_subscriptions.rb
  src/api/db/schema.rb
Labels: Frontend

#11097 Add support for token.scm_token in POST /person/<login>/token
  docs/api/api/api.txt
  src/api/app/controllers/person/token_controller.rb
  src/api/public/apidocs-new/paths/person_login_token.yaml
  src/api/spec/controllers/person/token_controller_spec.rb
Labels: Frontend

#11106 Use GitHub repository full name from webhook payload
  src/api/app/services/scm_status_reporter.rb
Labels: Frontend

#11108 Create Token::Workflow model
  src/api/app/models/token.rb
  src/api/app/models/token/workflow.rb
Labels: Frontend

#11115 Mark scm_token param as unstable in person token api docs
  docs/api/api/api.txt
  src/api/public/apidocs-new/paths/person_login_token.yaml
Labels: Documentation :book:

#11100 Create Workflows::YAMLToWorkflowsService
  src/api/app/models/workflow.rb
  src/api/app/services/workflows/yaml_to_workflows_service.rb
  src/api/config/initializers/zeitwerk.rb
  src/api/spec/services/workflows/yaml_to_workflows_service_spec.rb
  src/api/spec/support/files/workflows.yml
  src/api/spec/support/shared_contexts/a_scm_payload_hash.rb
Labels: Frontend

#11111 Add scm channel to EventSubscription model
  src/api/app/models/event_subscription.rb
Labels: Frontend

#11099 Create Workflows::YAMLDownloader service
  src/api/app/services/workflows/yaml_downloader.rb
  src/api/config/initializers/zeitwerk.rb
  src/api/spec/services/workflows/yaml_downloader_spec.rb
Labels: Frontend

#11109 Create Workflow model
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/spec/models/workflow_spec.rb
Labels: Frontend

#11105 Create Pundit policy for Token::Workflow
  src/api/app/policies/token/workflow_policy.rb
  src/api/spec/factories/tokens.rb
  src/api/spec/policies/token/workflow_policy_spec.rb
Labels: Frontend

#11128 [backend] use correct arch for dodcheck in the cross build case
  src/backend/BSRepServer/DoD.pm
  src/backend/BSSched/BuildJob.pm
  src/backend/bs_repserver
Labels: Backend

#11131 Fix the style and the collapse of Mentioned Issues
  src/api/app/assets/stylesheets/webui/collapsible-text.scss
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui/request/_issues_table.html.haml
  src/api/spec/helpers/webui/webui_helper_spec.rb
Labels: Frontend

#11137 Replace "Disregard" by "Decline" in review button
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_review_tab.html.haml
  src/api/spec/controllers/webui/request_controller_spec.rb
Labels: Frontend, review-app

#11133 Apply the background color all the way to the right in request diffs
  src/api/app/assets/stylesheets/webui/coderay.scss
  src/api/app/views/webui/package/_revision_diff_detail.html.haml
Labels: Frontend, review-app

#11138 Add missing CSS word break in build results
  src/api/app/views/webui/package/_buildstatus.html.haml
Labels: Frontend

#11157 Only create a CSS grid on code inside diffs
  src/api/app/assets/stylesheets/webui/coderay.scss
Labels: Frontend, review-app

#11130 Create the data_migrations table unless it exists
  src/api/db/migrate/20210511201658_add_data_migrations_table.rb
  src/api/db/schema.rb
Labels: Frontend

#11159 Avoid sorting Actions DataTable's column
  src/api/app/views/webui/projects/maintained_projects/index.html.haml
  src/api/app/views/webui/shared/_patchinfos_table.html.haml
Labels: Frontend, review-app

#11050 Add a remote boolean for Distribution
  src/api/app/models/distribution.rb
  src/api/db/data/20210520160000_set_default_for_distro_remote.rb
  src/api/db/data_schema.rb
  src/api/db/migrate/20210520150000_add_remote_to_distribution.rb
  src/api/db/schema.rb
Labels: DO NOT MERGE :warning:, Reference Server :desktop_computer:

#11167 Add systemd service for scm delayed job queue
  dist/Makefile
  dist/obs-server.spec
  dist/systemd/obs-api-support.target
  dist/systemd/obs-delayedjob-queue-scm.service
Labels: Frontend, Packages :package:

#11173 Refine validations related to SCM webhooks in trigger controller
  src/api/app/controllers/trigger_controller.rb
Labels: Frontend

#11103 Create TriggerWorkflowController
  src/api/app/controllers/person/token_controller.rb
  src/api/app/controllers/trigger/errors.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/policies/token/workflow_policy.rb
  src/api/config/routes/api_routes.rb
  src/api/lib/tasks/dev.rake
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/policies/token/workflow_policy_spec.rb
  src/api/spec/support/beta.rb
Labels: Frontend

#11174 Hide scm channel from subscription configuration page
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/for_role_form.rb
  src/api/spec/models/event_subscription/for_role_form_spec.rb
Labels: Frontend, review-app

#11181 Remove package id from event table
  src/api/app/models/event/base.rb
  src/api/app/models/event/branch_command.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/build_success.rb
  src/api/app/models/event/build_unchanged.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/commit.rb
  src/api/app/models/event/create_package.rb
  src/api/app/models/event/create_project.rb
  src/api/app/models/event/delete_package.rb
  src/api/app/models/event/delete_project.rb
  src/api/app/models/event/packtrack.rb
  src/api/app/models/event/repo_build_finished.rb
  src/api/app/models/event/repo_build_started.rb
  src/api/app/models/event/repo_publish_state.rb
  src/api/app/models/event/repo_published.rb
  src/api/app/models/event/request_change.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_delete.rb
  src/api/app/models/event/request_reviews_done.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_changed.rb
  src/api/app/models/event/review_wanted.rb
  src/api/app/models/event/service_fail.rb
  src/api/app/models/event/service_success.rb
  src/api/app/models/event/status_check_for_build.rb
  src/api/app/models/event/status_check_for_published.rb
  src/api/app/models/event/status_check_for_request.rb
  src/api/app/models/event/undelete_package.rb
  src/api/app/models/event/undelete_project.rb
  src/api/app/models/event/update_package.rb
  src/api/app/models/event/update_project.rb
  src/api/app/models/event/update_project_config.rb
  src/api/app/models/event/upload.rb
  src/api/app/models/event/version_change.rb
  src/api/db/migrate/20210525145710_remove_package_from_event.rb
  src/api/db/schema.rb
Labels: Frontend, Reference Server :desktop_computer:

#11110 Create Workflow::Step::BranchPackageStep model
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_we_feed_an_extractor_payload_for_github/and_the_payload_is_valid/1_2_1_1_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_we_feed_an_extractor_payload_for_github/and_the_payload_is_valid/1_2_1_1_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_we_feed_an_extractor_payload_for_github/but_we_don_t_provide_a_source_package/1_2_1_3_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_we_feed_an_extractor_payload_for_github/but_we_don_t_provide_source_project/1_2_1_2_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_we_feed_an_extractor_payload_for_gitlab/and_the_payload_is_valid/1_2_2_1_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_we_feed_an_extractor_payload_for_gitlab/and_the_payload_is_valid/1_2_2_1_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_we_feed_an_extractor_payload_for_gitlab/but_we_don_t_provide_a_source_package/1_2_2_3_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_we_feed_an_extractor_payload_for_gitlab/but_we_don_t_provide_a_source_project/1_2_2_2_1.yml
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Labels: Frontend

#11184 [api] fix releaseing multibuild container
  src/api/app/controllers/trigger_controller.rb
  src/api/app/models/token/release.rb
  src/api/spec/cassettes/TriggerController/_set_multibuild_flavor/with_a_token_that_allows_multibuild/assigns_flavor_name.yml
  src/api/spec/cassettes/TriggerController/_set_multibuild_flavor/with_a_token_that_allows_multibuild/authorizes_package_object.yml
  src/api/spec/cassettes/TriggerController/_set_multibuild_flavor/with_a_token_that_does_not_allow_multibuild/raises_not_found.yml
  src/api/spec/controllers/trigger_controller_spec.rb
Labels: Frontend, P2

#11124 Create job to report build status to SCM via SCMStatusReporter
  src/api/app/jobs/create_job.rb
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/build_success.rb
  src/api/app/queries/event_subscriptions_finder.rb
  src/api/app/services/scm_status_reporter.rb
  src/api/spec/jobs/report_to_scm_job_spec.rb
Labels: Frontend

#11113 Disable Rails/BulkChangeTable
  src/api/.rubocop.yml
Labels: Test Suite / CI :syringe:

#11192 Report back build state to the correct scm repository
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/services/scm_status_reporter.rb
  src/api/app/services/trigger_controller_service/scm_extractor.rb
  src/api/app/services/workflows/yaml_downloader.rb
  src/api/spec/services/trigger_controller_service/scm_extractor_spec.rb
  src/api/spec/services/workflows/yaml_downloader_spec.rb
Labels: Frontend
