Repository openSUSE/open-build-service, pull requests merged in 2021-03, with the labels that each got.

#10841 Improve request history section
  src/api/app/assets/stylesheets/webui/collapsible-text.scss
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/views/webui/request/_show_side_links.html.haml
  src/api/app/views/webui/request/_update.js.erb
  src/api/app/views/webui/request/show.html.haml
Labels: Frontend, review-app

#10835 Replace `require_login` with Pundit in Webui::Staging::WorkflowsController
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/policies/staging/workflow_policy.rb
  src/api/app/views/webui/project/_tabs.html.haml
  src/api/spec/controllers/webui/staging/workflows_controller_spec.rb
  src/api/spec/policies/staging/workflow_policy_spec.rb
Labels: Frontend

#10842 Improve how build status details are displayed
  src/api/app/views/webui/package/responsive_ux/_buildstatus.html.haml
Labels: Frontend, review-app

#10848 Improve staging workflow delete form
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/views/webui/staging/workflows/_delete.html.haml
  src/api/app/views/webui/staging/workflows/show.html.haml
  src/api/spec/controllers/webui/staging/workflows_controller_spec.rb
Labels: Frontend, review-app, staging-workflow

#10852 Move SCSS variables out of responsive_ux namespace
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/bootstrap_variables/sizes.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/responsive_ux.scss
Labels: Frontend, review-app

#10851 Set the responsive_ux layout as the default layout
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/helpers/webui/buildresult_helper.rb
  src/api/app/views/layouts/webui/responsive_ux.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/spec/cassettes/Bootstrap_Watchlists/add_projects_to_watchlist.yml
  src/api/spec/cassettes/Bootstrap_Watchlists/remove_projects_from_watchlist.yml
  src/api/spec/cassettes/ImageTemplates/branching/branch_Kiwi_image_template.yml
  src/api/spec/cassettes/ImageTemplates/branching/branch_image_template.yml
  src/api/spec/cassettes/ImageTemplates/feature_switch/privileged_user/disabled.yml
  src/api/spec/cassettes/ImageTemplates/feature_switch/unprivileged_user/disabled.yml
  src/api/spec/cassettes/ImageTemplates/feature_switch/unprivileged_user/enabled.yml
  src/api/spec/cassettes/ImageTemplatesBeta/branching/branch_Kiwi_image_template.yml
  src/api/spec/cassettes/ImageTemplatesBeta/branching/branch_image_template.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/group_roles/Add_an_existing_group.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/group_roles/Add_non_existent_group.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/group_roles/Add_role_to_group.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/group_roles/Remove_role_from_group.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/group_roles/Viewing_group_roles.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Add_an_existing_user.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Add_non_existent_user.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Add_role_to_user.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Remove_role_from_user.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Remove_user_from_package_/_project.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Viewing_user_roles.yml
  src/api/spec/cassettes/Packages/editing_a_package.yml
  src/api/spec/cassettes/Packages/editing_the_package_description/updated_the_package_description.yml
  src/api/spec/cassettes/Watchlists/add_projects_to_watchlist.yml
  src/api/spec/cassettes/Watchlists/remove_projects_from_watchlist.yml
  src/api/spec/features/beta/webui/image_templates_spec.rb
  src/api/spec/features/beta/webui/login_spec.rb
  src/api/spec/features/beta/webui/packages_spec.rb
  src/api/spec/features/beta/webui/users/user_home_page_spec.rb
  src/api/spec/features/beta/webui/watchlists_spec.rb
  src/api/spec/features/webui/image_templates_spec.rb
  src/api/spec/features/webui/login_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/features/webui/users/user_home_page_spec.rb
  src/api/spec/features/webui/watchlists_spec.rb
  src/api/spec/helpers/webui/buildresult_helper_spec.rb
  src/api/spec/rails_helper.rb
  src/api/spec/support/beta.rb
Labels: Frontend, review-app

#10857 Make involved packages/projects search case-insensitive
  src/api/app/models/user.rb
Labels: Frontend, review-app

#10863 Use group_by instead of iterate manually over all distributions
  src/api/app/controllers/webui/repositories_controller.rb
Labels: Frontend, review-app

#10850 [backend] Add another ampere variant for aarch32 support
  src/backend/bs_worker
Labels: Backend

#10856 Migrate main#index view out of responsive_ux
  src/api/app/assets/stylesheets/webui/card-component.scss
  src/api/app/views/layouts/webui/_legacy_sponsors.html.haml
  src/api/app/views/webui/apidocs/_breadcrumb_items.html.haml
  src/api/app/views/webui/cloud/azure/configurations/_breadcrumb_items.html.haml
  src/api/app/views/webui/cloud/azure/upload_jobs/_breadcrumb_items.html.haml
  src/api/app/views/webui/cloud/configurations/_breadcrumb_items.html.haml
  src/api/app/views/webui/cloud/ec2/configurations/_breadcrumb_items.html.haml
  src/api/app/views/webui/cloud/ec2/upload_jobs/_breadcrumb_items.html.haml
  src/api/app/views/webui/cloud/upload_jobs/_breadcrumb_items.html.haml
  src/api/app/views/webui/configuration/_breadcrumb_items.html.haml
  src/api/app/views/webui/groups/_breadcrumb_items.html.haml
  src/api/app/views/webui/image_templates/_breadcrumb_items.html.haml
  src/api/app/views/webui/kiwi/images/_breadcrumb_items.html.haml
  src/api/app/views/webui/main/_admin_proceed-list.html.haml
  src/api/app/views/webui/main/_breadcrumb_items.html.haml
  src/api/app/views/webui/main/_index_actions.html.haml
  src/api/app/views/webui/main/_proceed-list.html.haml
  src/api/app/views/webui/main/_user_proceed-list.html.haml
  src/api/app/views/webui/main/index.html.haml
  src/api/app/views/webui/monitor/_breadcrumb_items.html.haml
  src/api/app/views/webui/patchinfo/_breadcrumb_items.html.haml
  src/api/app/views/webui/project/_breadcrumb_items.html.haml
  src/api/app/views/webui/projects/status/_breadcrumb_items.html.haml
  src/api/app/views/webui/request/_breadcrumb_items.html.haml
  src/api/app/views/webui/search/_breadcrumb_items.html.haml
  src/api/app/views/webui/session/_breadcrumb_items.html.haml
  src/api/app/views/webui/status_messages/_breadcrumb_items.html.haml
  src/api/app/views/webui/user/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/notifications/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/subscriptions/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/tasks/_breadcrumb_items.html.haml
  src/api/spec/features/beta/webui/main_page_spec.rb
Labels: Frontend, review-app

#10868 Use only responsive partials for project#show
  src/api/app/views/webui/project/_bottom_actions.html.haml
  src/api/app/views/webui/project/_show_actions.html.haml
  src/api/app/views/webui/project/bottom_actions/_delete_project.html.haml
  src/api/app/views/webui/project/bottom_actions/_edit_project.html.haml
  src/api/app/views/webui/project/bottom_actions/_gpg_key_ssl_certificate.html.haml
  src/api/app/views/webui/project/bottom_actions/_modify_project.html.haml
  src/api/app/views/webui/project/bottom_actions/_patchinfo.html.haml
  src/api/app/views/webui/project/bottom_actions/_report_bug.html.haml
  src/api/app/views/webui/project/bottom_actions/_request_role_addition_and_deletion.html.haml
  src/api/app/views/webui/project/bottom_actions/_request_to_release.html.haml
  src/api/app/views/webui/project/bottom_actions/_submit_as_update.html.haml
  src/api/app/views/webui/project/bottom_actions/_unlock_project.html.haml
  src/api/app/views/webui/project/responsive_ux/_show_actions.html.haml
  src/api/app/views/webui/project/responsive_ux/show_actions/_modify_project.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/project/show_actions/_delete_project.html.haml
  src/api/app/views/webui/project/show_actions/_edit_project.html.haml
  src/api/app/views/webui/project/show_actions/_gpg_key_ssl_certificate.html.haml
  src/api/app/views/webui/project/show_actions/_modify_project.html.haml
  src/api/app/views/webui/project/show_actions/_patchinfo.html.haml
  src/api/app/views/webui/project/show_actions/_report_bug.html.haml
  src/api/app/views/webui/project/show_actions/_request_role_addition_and_deletion.html.haml
  src/api/app/views/webui/project/show_actions/_request_to_release.html.haml
  src/api/app/views/webui/project/show_actions/_submit_as_update.html.haml
  src/api/app/views/webui/project/show_actions/_unlock_project.html.haml
Labels: Frontend, review-app

#10861 Remove non-responsive code of packages
  src/api/app/views/webui/package/_basic_info.html.haml
  src/api/app/views/webui/package/_bottom_actions.html.haml
  src/api/app/views/webui/package/_breadcrumb_items.html.haml
  src/api/app/views/webui/package/_edit_dialog.html.haml
  src/api/app/views/webui/package/_show_actions.html.haml
  src/api/app/views/webui/package/_tabs.html.haml
  src/api/app/views/webui/package/actions/_edit_package.html.haml
  src/api/app/views/webui/package/bottom_actions/_branch_package.html.haml
  src/api/app/views/webui/package/bottom_actions/_bugzilla_owner.html.haml
  src/api/app/views/webui/package/bottom_actions/_cloud_upload.html.haml
  src/api/app/views/webui/package/bottom_actions/_delete_package.html.haml
  src/api/app/views/webui/package/bottom_actions/_edit_description.html.haml
  src/api/app/views/webui/package/bottom_actions/_request_deletion.html.haml
  src/api/app/views/webui/package/bottom_actions/_request_devel_project_change.html.haml
  src/api/app/views/webui/package/bottom_actions/_request_role_addition.html.haml
  src/api/app/views/webui/package/bottom_actions/_submit_package.html.haml
  src/api/app/views/webui/package/bottom_actions/_trigger_services.html.haml
  src/api/app/views/webui/package/bottom_actions/_view_kiwi.html.haml
  src/api/app/views/webui/package/responsive_ux/_show_actions.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/package/show_actions/_branch_package.html.haml
  src/api/app/views/webui/package/show_actions/_bugzilla_owner.html.haml
  src/api/app/views/webui/package/show_actions/_cloud_upload.html.haml
  src/api/app/views/webui/package/show_actions/_delete_package.html.haml
  src/api/app/views/webui/package/show_actions/_request_deletion.html.haml
  src/api/app/views/webui/package/show_actions/_request_devel_project_change.html.haml
  src/api/app/views/webui/package/show_actions/_request_role_addition.html.haml
  src/api/app/views/webui/package/show_actions/_submit_package.html.haml
  src/api/app/views/webui/package/show_actions/_trigger_services.html.haml
  src/api/app/views/webui/package/show_actions/_view_kiwi.html.haml
  src/api/app/views/webui/packages/branches/_breadcrumb_items.html.haml
Labels: Frontend, review-app

#10869 Migrate staging workflow views out of responsive_ux
  src/api/app/views/webui/staging/workflows/edit.html.haml
  src/api/app/views/webui/staging/workflows/show.html.haml
Labels: Frontend

#10859 Migrate kiwi images view out of responsive_ux
  src/api/app/views/webui/kiwi/images/_actions.html.haml
  src/api/app/views/webui/kiwi/images/_base_info.html.haml
  src/api/spec/features/beta/webui/kiwi/images_spec.rb
Labels: Frontend

#10860 Move package build results code out of responsive_ux
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/build-result.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/responsive_ux.scss
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/_buildstatus.html.haml
  src/api/app/views/webui/package/responsive_ux/_buildstatus.html.haml
Labels: Frontend, review-app

#10866 [backend] remove container on service timeout
  src/backend/call-service-in-container
Labels: Backend

#10871 [backend] do not use so much memory when waiting for busy resources
  src/backend/BSSched/RPC.pm
  src/backend/bs_sched
Labels: Backend

#10865 Merge responsive scrollable tabs
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/responsive_ux.scss
  src/api/app/assets/stylesheets/webui/tabs-component.scss
  src/api/app/assets/stylesheets/webui/tabs.scss
  src/api/app/views/webui/configuration/_tabs.html.haml
  src/api/app/views/webui/project/_tabs.html.haml
  src/api/app/views/webui/user/_involvement.html.haml
  src/api/app/views/webui/user/_tabs_profile.html.haml
Labels: Frontend, review-app

#10872 Migrate projects to only responsive, 2nd round
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui/project/_buildstatus.html.haml
  src/api/app/views/webui/project/_subprojects_actions.html.haml
  src/api/app/views/webui/project/index.html.haml
  src/api/app/views/webui/project/responsive_ux/_buildstatus.html.haml
  src/api/app/views/webui/project/subprojects.html.haml
Labels: Frontend, review-app

#10875 Migrate projects to only responsive, 3rd round
  src/api/app/views/webui/project/_basic_info.html.haml
  src/api/app/views/webui/project/_breadcrumb_items.html.haml
Labels: Frontend, review-app

#10877 Remove unneeded path for `render partial: ...` calls
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/kiwi/images/_base_info.html.haml
  src/api/app/views/webui/main/index.html.haml
  src/api/app/views/webui/package/show.html.haml
Labels: Frontend

#10878 Capitalize select-all-label properly in the JavaScript code
  src/api/app/assets/javascripts/webui/notification.js
Labels: Frontend

#10880 Introduce mobile tests for all feature tests
  .circleci/config.yml
  src/api/spec/browser_helper.rb
  src/api/spec/features/beta/webui/attributes_spec.rb
  src/api/spec/features/beta/webui/groups_spec.rb
  src/api/spec/features/beta/webui/maintenance_workflow_spec.rb
  src/api/spec/features/beta/webui/patchinfo_spec.rb
  src/api/spec/features/beta/webui/projects_spec.rb
  src/api/spec/features/beta/webui/requests_spec.rb
  src/api/spec/features/webui/attributes_spec.rb
  src/api/spec/features/webui/groups_spec.rb
  src/api/spec/features/webui/maintenance_workflow_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/features/webui/patchinfo_spec.rb
  src/api/spec/features/webui/projects_spec.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/spec/support/features/features_responsive.rb
Labels: Frontend, Test Suite / CI :syringe:

#10873 Migrate responsive_ux layout partials
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/watchlist.scss
  src/api/app/views/layouts/webui/_actions.html.haml
  src/api/app/views/layouts/webui/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/_bottom_navigation_collapse.html.haml
  src/api/app/views/layouts/webui/_footer.html.haml
  src/api/app/views/layouts/webui/_left_navigation.html.haml
  src/api/app/views/layouts/webui/_left_navigation_collapse_button.html.haml
  src/api/app/views/layouts/webui/_left_navigation_nobody.html.haml
  src/api/app/views/layouts/webui/_logged_in_user_navigation.html.haml
  src/api/app/views/layouts/webui/_login_form.html.haml
  src/api/app/views/layouts/webui/_login_modal.html.haml
  src/api/app/views/layouts/webui/_navigation.html.haml
  src/api/app/views/layouts/webui/_personal_navigation.html.haml
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/layouts/webui/_sign_up_form.html.haml
  src/api/app/views/layouts/webui/_sign_up_modal.html.haml
  src/api/app/views/layouts/webui/_sponsors.html.haml
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/layouts/webui/_top_navigation_nobody.html.haml
  src/api/app/views/layouts/webui/_top_navigation_search.html.haml
  src/api/app/views/layouts/webui/_unread_notifications_counter.html.haml
  src/api/app/views/layouts/webui/_watchlist.html.haml
  src/api/app/views/layouts/webui/_watchlist_dropdown.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_footer.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_left_navigation.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_login_form.html.haml
  src/api/app/views/layouts/webui/responsive_ux/_top_navigation_search.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
Labels: Frontend, review-app

#10882 Move notifications index actions out of responsive_ux
  src/api/app/views/webui/users/notifications/_index_actions.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
Labels: Frontend

#10881 Replace non-responsive code and unify index actions
  src/api/app/views/webui/user/_change_password.html.haml
  src/api/app/views/webui/user/_edit_account.html.haml
  src/api/app/views/webui/user/_index_actions.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/user/index_actions/_change_notifications.haml
  src/api/app/views/webui/user/index_actions/_change_password.haml
  src/api/app/views/webui/user/index_actions/_edit_account.html.haml
  src/api/app/views/webui/user/user_profile_redesign/_info.html.haml
Labels: Frontend, review-app

#10884 Migrate Cloud Configuration out of responsive_ux
  src/api/app/views/webui/cloud/upload_jobs/index.html.haml
Labels: Frontend, review-app

#10883 Migrate requests out of responsive_ux
  src/api/app/models/bs_request.rb
  src/api/app/views/webui/request/_actions.html.haml
  src/api/app/views/webui/request/show.html.haml
Labels: Frontend, review-app

#10887 Use relative path for notifications partial
  src/api/app/views/webui/users/notifications/index.html.haml
Labels: Frontend

#10885 Remove non-responsive code from project repositories partial
  src/api/app/views/webui/repositories/_project_repositories.html.haml
Labels: Frontend

#10888 Migrate responsive-ux CSS out of body.responsive-ux
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/borders.scss
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/assets/stylesheets/webui/grid.scss
  src/api/app/assets/stylesheets/webui/layout.scss
  src/api/app/assets/stylesheets/webui/navbar.scss
  src/api/app/assets/stylesheets/webui/responsive_ux/responsive_ux.scss
  src/api/app/assets/stylesheets/webui/sponsors.scss
  src/api/app/helpers/webui/webui_helper.rb
Labels: Frontend, review-app

#10891 Remove remains of old login form
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/login-form.js
  src/api/app/assets/stylesheets/webui/personal-navigation.scss
Labels: Frontend, review-app

#10890 Remove 2 comments containing responsive_ux
  src/api/app/views/webui/feeds/notifications.rss.builder
  src/api/spec/features/webui/users/user_home_page_spec.rb
Labels: Frontend

#10895 Remove non-responsive_ux code from helpers
  src/api/app/helpers/webui/webui_helper.rb
Labels: Frontend, review-app

#10889 Migrate code on responsive_ux.js
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/in_place_editing.js
  src/api/app/assets/javascripts/webui/navigation.js
  src/api/app/assets/javascripts/webui/responsive_ux.js
  src/api/app/assets/javascripts/webui/sidebar-menu.js
  src/api/app/assets/javascripts/webui/tabs.js
Labels: Frontend, review-app

#10896 Enable feature flags for beta users in rake task dev:bootstrap
  src/api/lib/tasks/dev.rake
Labels: Frontend

#10897 Move the rest of beta tests out from beta
  src/api/spec/features/beta/webui/apidocs_spec.rb
  src/api/spec/features/beta/webui/change_bugowner_spec.rb
  src/api/spec/features/beta/webui/comments_spec.rb
  src/api/spec/features/beta/webui/interconnects_spec.rb
  src/api/spec/features/beta/webui/maintained_projects_spec.rb
  src/api/spec/features/beta/webui/repositories_spec.rb
  src/api/spec/features/beta/webui/requests/submissions_spec.rb
  src/api/spec/features/beta/webui/search_spec.rb
  src/api/spec/features/beta/webui/sign_up_spec.rb
  src/api/spec/features/beta/webui/users/admin_configuration_spec.rb
  src/api/spec/features/beta/webui/users/user_admin_edit_spec.rb
  src/api/spec/features/webui/requests/submissions_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#10898 Drop responsive_ux flag from the rake task
  src/api/lib/tasks/dev.rake
Labels: Frontend

#10899 Stop enabling responsive_ux feature flag for specs
  src/api/spec/rails_helper.rb
Labels: Frontend

#10901 Run all feature tests in CircleCI
  .circleci/config.yml
Labels: Frontend, Test Suite / CI :syringe:

#10902 Fix patchinfo stack icons for bottom navigation
  src/api/app/assets/stylesheets/webui/layout.scss
  src/api/app/assets/stylesheets/webui/sidebar-collapsible.scss
Labels: Frontend

#10905 Reduce excessive margin under project basic info
  src/api/app/views/webui/project/_basic_info.html.haml
Labels: Frontend

#10903 Update data_migrate from 6.5.0 - 6.7.0
  src/api/Gemfile.lock
Labels: Frontend

#10879 Move package edit action close to the target
  src/api/app/views/webui/package/_basic_info.html.haml
  src/api/app/views/webui/package/_edit.html.haml
  src/api/app/views/webui/package/_show_actions.html.haml
  src/api/app/views/webui/package/actions/_edit_package.html.haml
  src/api/app/views/webui/package/edit.js.erb
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/package/show.js.erb
  src/api/app/views/webui/package/update.js.haml
  src/api/spec/features/webui/packages_spec.rb
Labels: Frontend

#10916 Move the user profile edit action close to the user details
  src/api/app/views/webui/user/_index_actions.html.haml
  src/api/app/views/webui/user/user_profile_redesign/_basic_info.html.haml
  src/api/app/views/webui/user/user_profile_redesign/_edit_account_form.html.haml
  src/api/app/views/webui/user/user_profile_redesign/_info.html.haml
  src/api/app/views/webui/users/update.js.haml
Labels: Frontend, review-app

#10909 Add user_profile_redesign flag to beta features' tests
  src/api/spec/features/beta/webui/users/user_contributions_spec.rb
  src/api/spec/support/beta.rb
Labels: Frontend, Test Suite / CI :syringe:

#10917 Make involved projects/packages description collapsible
  src/api/app/assets/stylesheets/webui/collapsible-text.scss
  src/api/app/views/webui/user/user_profile_redesign/_involvement.html.haml
Labels: Beta, Frontend

#10926 Adjust margin and padding on edit links
  src/api/app/views/webui/package/_basic_info.html.haml
  src/api/app/views/webui/project/_basic_info.html.haml
  src/api/app/views/webui/user/user_profile_redesign/_basic_info.html.haml
Labels: Frontend

#10932 Hide the "Actions on this page" menu when visiting other user's page
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/user/user_profile_redesign/_info.html.haml
Labels: Frontend, review-app

#10911 Move involved packages/projects logic to an service object
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/models/user.rb
  src/api/app/services/user_service/involved.rb
  src/api/app/views/webui/user/user_profile_redesign/_involvement.html.haml
  src/api/app/views/webui/user/user_profile_redesign/_involvement_and_activity.html.haml
  src/api/app/views/webui/users/show.html.haml
  src/api/spec/controllers/webui/users_controller_spec.rb
  src/api/spec/services/user_service/involved_spec.rb
Labels: Frontend, review-app

#10936 Remove remaining show JS view file
  src/api/app/views/webui/users/show.js.erb
Labels: Beta, Frontend, P2

#10933 Make clear that the user is on their own profile page
  src/api/app/views/webui/users/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/show.html.haml
Labels: Beta, Frontend

#10937 Sort involved projects/packages alphabetically
  src/api/.rubocop_todo.yml
  src/api/app/services/user_service/involved.rb
Labels: Beta, Frontend

#10930 [backend] remove redirect from call-service-in-container
  src/backend/call-service-in-container
Labels: Backend

#10948 Update rails to version 6.0.3.6
  src/api/Gemfile.lock
Labels: Frontend, review-app

#10958 Handle dots in user logins for group members page/route
  src/api/app/lib/routes_helper/routes_constraints.rb
  src/api/app/views/webui/groups/_group_members.html.haml
  src/api/app/views/webui/groups/_group_members_delete_dialog.html.haml
  src/api/config/routes/webui_routes.rb
Labels: Frontend, review-app
