Repository openSUSE/open-build-service, pull requests merged in 2021-07, with the labels that each got.

#11299 Support for handling ARM 32bit userland only hardware
  docs/api/api/constraints.rng
  docs/api/api/constraints.xml
  src/backend/BSDispatcher/Constraints.pm
  src/backend/BSXML.pm
  src/backend/bs_worker
  src/backend/testdata/constraint/kernel
  src/backend/testdata/test_dispatcher
  src/backend/testdata/workerinfo/large
Labels: Backend

#11320 Sanitize simple_format
  src/api/app/views/layouts/webui/_flash.html.haml
  src/api/app/views/webui/patchinfo/show.html.haml
  src/api/app/views/webui/request/_review_tab.html.haml
  src/api/app/views/webui/shared/_collapsible_text.html.haml
Labels: Frontend

#11314 Worker metrics
  src/api/app/jobs/worker_measurements_job.rb
  src/api/app/models/worker_status.rb
  src/api/config/clock.rb
  src/api/spec/models/worker_status_spec.rb
  src/api/test/unit/worker_status_test.rb
Labels: Frontend

#11338 Avoid leaking Workflows::YAMLDownloader errors outside the class
  src/api/app/models/token/workflow.rb
  src/api/app/services/workflows/yaml_downloader.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/models/token/workflow_spec.rb
Labels: Frontend

#11325 SCM integration - Support for private instances (Github and Gitlab)
  src/api/app/models/token/workflow.rb
  src/api/app/services/scm_status_reporter.rb
  src/api/app/services/trigger_controller_service/scm_extractor.rb
  src/api/app/services/workflows/yaml_downloader.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/services/trigger_controller_service/scm_extractor_spec.rb
  src/api/spec/services/workflows/yaml_downloader_spec.rb
Labels: Frontend

#11347 Add real_time_tidy to ThinkingSphinx dev configuration
  src/api/config/thinking_sphinx.yml.example
Labels: Frontend

#11348 Add data migration to handle old event_subscriptions
  src/api/db/data/20210707102506_add_api_endpoints_to_payload.rb
  src/api/db/data_schema.rb
Labels: Frontend

#11335 Improve report of branched package errors for the Branch Package step of Workflows
  src/api/app/models/token/errors.rb
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Labels: Frontend

#11318 Implement architectures and repositories filters for OBS workflows
  src/api/app/models/token/errors.rb
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/for_a_new_PR_event/behaves_like_successful_new_PR_or_MR_event/only_reports_for_repositories_and_architectures_matching_the_filters.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitLab/for_a_new_MR_event/behaves_like_successful_new_PR_or_MR_event/only_reports_for_repositories_and_architectures_matching_the_filters.yml
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow_spec.rb
Labels: Frontend

#11358 Setup filters in .obs/workflows.yml
  .obs/workflows.yml
Labels: Frontend

#11364 Use query objects when possible
  src/api/app/jobs/project_create_auto_cleanup_requests_job.rb
Labels: Frontend

#11366 Add missing parameter for diffs in supersede
  src/api/app/assets/javascripts/webui/request.js
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/show.html.haml
Labels: Frontend

#11337 Improve setup appliance
  dist/obs-server.spec
  dist/setup-appliance.sh
  dist/system-user-obsrun.conf
  dist/system-user-obsservicerun.conf
  dist/systemd/obs-clockwork.service
  dist/systemd/obs-delayedjob-queue-consistency_check.service
  dist/systemd/obs-delayedjob-queue-default.service
  dist/systemd/obs-delayedjob-queue-issuetracking.service
  dist/systemd/obs-delayedjob-queue-mailers.service
  dist/systemd/obs-delayedjob-queue-project_log_rotate.service
  dist/systemd/obs-delayedjob-queue-quick@.service
  dist/systemd/obs-delayedjob-queue-releasetracking.service
  dist/systemd/obs-delayedjob-queue-scm.service
  dist/systemd/obs-delayedjob-queue-staging.service
  dist/systemd/obs-sphinx.service
  dist/systemd/obsapisetup.service
  dist/t/0060-check_required_services.ts
Labels: Packages :package:

#11374 Add real_time_tidy to ThinkingSphinx
  src/api/config/thinking_sphinx.yml.example
Labels: Frontend

#11368 Invert negated condition and swap branches
  dist/setup-appliance.sh
Labels: Packages :package:

#11373 Adjust error handling for non-existent workflows.yml
  src/api/app/services/workflows/yaml_downloader.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/models/token/workflow_spec.rb
Labels: Frontend

#11362 Report only for architectures/repositories matching workflow filters
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/services/workflows/filter.rb
  src/api/spec/jobs/report_to_scm_job_spec.rb
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/services/workflows/filter_spec.rb
Labels: Frontend

#11382 Disable CodeClimate checks which have RuboCop equivalents
  .codeclimate.yml
Labels: Test Suite / CI :syringe:

#11387 [dist] remove Wants= from most of our systemd service files
  dist/systemd/obs-clockwork.service
  dist/systemd/obs-delayedjob-queue-consistency_check.service
  dist/systemd/obs-delayedjob-queue-default.service
  dist/systemd/obs-delayedjob-queue-issuetracking.service
  dist/systemd/obs-delayedjob-queue-mailers.service
  dist/systemd/obs-delayedjob-queue-project_log_rotate.service
  dist/systemd/obs-delayedjob-queue-quick@.service
  dist/systemd/obs-delayedjob-queue-releasetracking.service
  dist/systemd/obs-delayedjob-queue-scm.service
  dist/systemd/obs-delayedjob-queue-staging.service
  dist/systemd/obs-sphinx.service
  dist/systemd/obsscheduler.service
Labels: Appliance :cd:

#11394 Search controller refactoring
  src/api/app/controllers/search_controller.rb
  src/api/spec/cassettes/SearchController/search_for_package_ids/authenticated/behaves_like_find_package/1_4_2_1_1.yml
  src/api/spec/cassettes/SearchController/search_for_package_ids/authenticated/behaves_like_find_package/1_4_2_1_2.yml
  src/api/spec/cassettes/SearchController/search_for_package_ids/authenticated/behaves_like_find_package/1_4_2_1_3.yml
  src/api/spec/cassettes/SearchController/search_for_package_ids/authenticated/behaves_like_find_package/1_4_2_1_4.yml
  src/api/spec/cassettes/SearchController/search_for_package_ids/authenticated/behaves_like_find_package/1_4_2_1_5.yml
  src/api/spec/cassettes/SearchController/search_for_package_ids/behaves_like_find_package/1_4_1_1.yml
  src/api/spec/cassettes/SearchController/search_for_package_ids/behaves_like_find_package/1_4_1_2.yml
  src/api/spec/cassettes/SearchController/search_for_packages/authenticated/behaves_like_find_package/1_3_2_1_1.yml
  src/api/spec/cassettes/SearchController/search_for_packages/authenticated/behaves_like_find_package/1_3_2_1_2.yml
  src/api/spec/cassettes/SearchController/search_for_packages/authenticated/behaves_like_find_package/1_3_2_1_3.yml
  src/api/spec/cassettes/SearchController/search_for_packages/authenticated/behaves_like_find_package/1_3_2_1_4.yml
  src/api/spec/cassettes/SearchController/search_for_packages/authenticated/behaves_like_find_package/1_3_2_1_5.yml
  src/api/spec/cassettes/SearchController/search_for_packages/behaves_like_find_package/1_3_1_1.yml
  src/api/spec/cassettes/SearchController/search_for_packages/behaves_like_find_package/1_3_1_2.yml
  src/api/spec/cassettes/SearchController/search_for_project_ids/authenticated/behaves_like_find_project/1_2_2_1_1.yml
  src/api/spec/cassettes/SearchController/search_for_project_ids/authenticated/behaves_like_find_project/1_2_2_1_2.yml
  src/api/spec/cassettes/SearchController/search_for_project_ids/authenticated/behaves_like_find_project/1_2_2_1_3.yml
  src/api/spec/cassettes/SearchController/search_for_project_ids/authenticated/behaves_like_find_project/1_2_2_1_4.yml
  src/api/spec/cassettes/SearchController/search_for_project_ids/behaves_like_find_project/1_2_1_1.yml
  src/api/spec/cassettes/SearchController/search_for_project_ids/behaves_like_find_project/1_2_1_2.yml
  src/api/spec/cassettes/SearchController/search_for_projects/authenticated/behaves_like_find_project/1_1_2_1_1.yml
  src/api/spec/cassettes/SearchController/search_for_projects/authenticated/behaves_like_find_project/1_1_2_1_2.yml
  src/api/spec/cassettes/SearchController/search_for_projects/authenticated/behaves_like_find_project/1_1_2_1_3.yml
  src/api/spec/cassettes/SearchController/search_for_projects/authenticated/behaves_like_find_project/1_1_2_1_4.yml
  src/api/spec/cassettes/SearchController/search_for_projects/behaves_like_find_project/1_1_1_1.yml
  src/api/spec/cassettes/SearchController/search_for_projects/behaves_like_find_project/1_1_1_2.yml
  src/api/spec/controllers/search_controller_spec.rb
Labels: Frontend, Refactoring :factory:

#11405 Fix HTML links' tooltips
  src/api/app/views/webui/groups/_group_members.html.haml
  src/api/app/views/webui/package/_file.html.haml
Labels: Frontend

#11397 Search controller refactoring
  src/api/app/controllers/search_controller.rb
  src/api/spec/cassettes/SearchController/search_for_packages/With_offset/behaves_like_find_package/1_3_2_1_1.yml
  src/api/spec/cassettes/SearchController/search_for_packages/With_offset/behaves_like_find_package/1_3_2_1_2.yml
  src/api/spec/cassettes/SearchController/search_for_packages_with_offset_1/behaves_like_find_package/1_4_1_1.yml
  src/api/spec/cassettes/SearchController/search_for_packages_with_offset_1/behaves_like_find_package/1_4_1_2.yml
  src/api/spec/controllers/search_controller_spec.rb
  src/api/test/functional/search_controller_test.rb
Labels: Frontend, Refactoring :factory:

#11250 Feature: Distribution variants
  src/api/.rubocop_todo.yml
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/distributions.js
  src/api/app/assets/javascripts/webui/repositories.js
  src/api/app/controllers/webui/distributions_controller.rb
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/jobs/fetch_remote_distributions_job.rb
  src/api/app/models/concerns/project_distribution.rb
  src/api/app/models/project.rb
  src/api/app/models/project/remote_url.rb
  src/api/app/models/repository.rb
  src/api/app/views/webui/distributions/_breadcrumb_items.html.haml
  src/api/app/views/webui/distributions/_variant.html.haml
  src/api/app/views/webui/distributions/new.html.haml
  src/api/app/views/webui/distributions/toggle.js.erb
  src/api/app/views/webui/package/_no_repositories.html.haml
  src/api/app/views/webui/project/_buildstatus.html.haml
  src/api/app/views/webui/repositories/_breadcrumb_items.html.haml
  src/api/app/views/webui/repositories/_project_repositories.html.haml
  src/api/app/views/webui/repositories/distributions.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/distributions_controller_spec.rb
  src/api/spec/controllers/webui/repositories_controller_spec.rb
  src/api/spec/features/webui/repositories_spec.rb
  src/api/spec/models/repository_spec.rb
Labels: Feature, Frontend

#11407 Enable rendered_view_with_filenames annotation in development
  src/api/config/environments/development.rb
Labels: Frontend

#11352 When branching a package also copy its url
  src/api/app/models/branch_package.rb
  src/api/spec/cassettes/BranchPackage/_branch/retains_url/for_a_newly_created_package.yml
  src/api/spec/cassettes/BranchPackage/_branch/retains_url/for_a_newly_created_project.yml
  src/api/spec/models/branch_package_spec.rb
Labels: Frontend, review-app

#11419 Move from Leap 15.1 to Leap 15.3
  docker-compose.yml
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.minitest
Labels: Frontend

#11415 Introduces a Terms (of Service) link
  src/api/app/controllers/webui/configuration_controller.rb
  src/api/app/models/configuration.rb
  src/api/app/views/layouts/webui/_footer.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/configuration/index.html.haml
  src/api/db/migrate/20210719103830_add_tosurl_to_configuration.rb
  src/api/db/schema.rb
Labels: review-app

#11422 Remove statistics#newest_stats
  docs/api/api/api.txt
  docs/api/api/newest_stats.xml
  docs/api/api/newest_stats.xsd
  src/api/app/controllers/statistics_controller.rb
  src/api/config/routes/api_routes.rb
  src/api/test/functional/backend_test.rb
Labels: Frontend

#11423 Remove statistics#download_counter
  docs/api/api/api.txt
  docs/api/api/download_counter.xml
  docs/api/api/download_counter.xsd
  docs/api/api/download_counter_summary.xml
  docs/api/api/download_counter_summary.xsd
  src/api/app/controllers/statistics_controller.rb
  src/api/config/routes/api_routes.rb
  src/api/db/data/20210726221203_delete_static_permission_set_download_counters.rb
  src/api/db/data_schema.rb
  src/api/db/seeds.rb
  src/api/test/fixtures/roles_static_permissions.yml
  src/api/test/fixtures/static_permissions.yml
  src/api/test/functional/backend_test.rb
Labels: Frontend

#11384 Use view component for status messages
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/components/application_component.rb
  src/api/app/components/status_message_component.html.haml
  src/api/app/components/status_message_component.rb
  src/api/app/views/layouts/view_component_previews.html.haml
  src/api/app/views/webui/main/_status_message.html.haml
  src/api/app/views/webui/main/_status_messages.html.haml
  src/api/config/application.rb
  src/api/spec/components/previews/status_message_component_preview.rb
  src/api/spec/components/status_message_component_spec.rb
  src/api/spec/rails_helper.rb
  src/api/spec/support/view_component.rb
Labels: Frontend, review-app

#11430 Add removal of statistics#{download_counter,newest_stats} to release notes
  ReleaseNotes-2.11
Labels: Documentation :book:

#11431 Have a maximum of 2 expectations per example in specs
  src/api/.rubocop.yml
Labels: Frontend

#11432 Fix status reporting to gitlab forks
  src/api/app/services/trigger_controller_service/scm_extractor.rb
  src/api/spec/services/trigger_controller_service/scm_extractor_spec.rb
Labels: Frontend

#11433 Extract common code from BranchPackageStep
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
Labels: Beta, Frontend

#11414 Implement configure_repositories step for OBS workflows
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
Labels: Frontend

#11426 Display copypastable checkout instructions
  src/api/app/views/webui/package/_side_links.html.haml
  src/api/app/views/webui/package/side_links/_checkout_package.html.haml
Labels: review-app

#11413 Implement step to link a package to a project
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/but_we_don_t_provide_a_source_package/behaves_like_source_package_not_provided/1_1_1_2_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/but_we_don_t_provide_source_project/behaves_like_source_project_not_provided/1_1_1_1_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_a_new_PR_event/behaves_like_failed_when_source_package_does_not_exist/1_1_1_3_2_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_a_new_PR_event/behaves_like_failed_without_link_permissions/1_1_1_3_4_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_a_new_PR_event/behaves_like_project_and_package_does_not_exist/1_1_1_3_3_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_a_new_PR_event/behaves_like_successful_new_PR_or_MR_event/1_1_1_3_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_a_new_PR_event/behaves_like_successful_new_PR_or_MR_event/1_1_1_3_1_10.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_a_new_PR_event/behaves_like_successful_new_PR_or_MR_event/1_1_1_3_1_11.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_a_new_PR_event/behaves_like_successful_new_PR_or_MR_event/1_1_1_3_1_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_a_new_PR_event/behaves_like_successful_new_PR_or_MR_event/1_1_1_3_1_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_a_new_PR_event/behaves_like_successful_new_PR_or_MR_event/1_1_1_3_1_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_a_new_PR_event/behaves_like_successful_new_PR_or_MR_event/1_1_1_3_1_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_a_new_PR_event/behaves_like_successful_new_PR_or_MR_event/1_1_1_3_1_6.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_a_new_PR_event/behaves_like_successful_new_PR_or_MR_event/1_1_1_3_1_7.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_a_new_PR_event/behaves_like_successful_new_PR_or_MR_event/1_1_1_3_1_8.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_a_new_PR_event/behaves_like_successful_new_PR_or_MR_event/1_1_1_3_1_9.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_an_updated_PR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/1_1_1_4_1_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_an_updated_PR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/1_1_1_4_1_1_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_an_updated_PR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/1_1_1_4_1_1_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_an_updated_PR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/1_1_1_4_1_1_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_an_updated_PR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/1_1_1_4_1_1_6.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_an_updated_PR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/1_1_1_4_1_1_7.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_an_updated_PR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/1_1_1_4_1_1_8.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_an_updated_PR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/updates__branch_request_file_including_new_commit_sha.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_an_updated_PR_event/when_the_linked_package_did_not_exist/behaves_like_non-existent_linked_package/1_1_1_4_2_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/for_an_updated_PR_event/when_the_linked_package_did_not_exist/behaves_like_non-existent_linked_package/1_1_1_4_2_1_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_a_new_MR_event/behaves_like_successful_new_PR_or_MR_event/1_1_2_3_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_a_new_MR_event/behaves_like_successful_new_PR_or_MR_event/1_1_2_3_1_10.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_a_new_MR_event/behaves_like_successful_new_PR_or_MR_event/1_1_2_3_1_11.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_a_new_MR_event/behaves_like_successful_new_PR_or_MR_event/1_1_2_3_1_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_a_new_MR_event/behaves_like_successful_new_PR_or_MR_event/1_1_2_3_1_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_a_new_MR_event/behaves_like_successful_new_PR_or_MR_event/1_1_2_3_1_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_a_new_MR_event/behaves_like_successful_new_PR_or_MR_event/1_1_2_3_1_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_a_new_MR_event/behaves_like_successful_new_PR_or_MR_event/1_1_2_3_1_6.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_a_new_MR_event/behaves_like_successful_new_PR_or_MR_event/1_1_2_3_1_7.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_a_new_MR_event/behaves_like_successful_new_PR_or_MR_event/1_1_2_3_1_8.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_a_new_MR_event/behaves_like_successful_new_PR_or_MR_event/1_1_2_3_1_9.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_an_updated_MR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/1_1_2_4_1_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_an_updated_MR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/1_1_2_4_1_1_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_an_updated_MR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/1_1_2_4_1_1_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_an_updated_MR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/1_1_2_4_1_1_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_an_updated_MR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/1_1_2_4_1_1_6.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_an_updated_MR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/1_1_2_4_1_1_7.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_an_updated_MR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/1_1_2_4_1_1_8.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_an_updated_MR_event/when_the_linked_package_already_existed/behaves_like_successful_update_event_when_the_linked_package_already_exists/updates__branch_request_file_including_new_commit_sha.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_an_updated_MR_event/when_the_linked_package_did_not_exist/behaves_like_non-existent_linked_package/1_1_2_4_2_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitLab/for_an_updated_MR_event/when_the_linked_package_did_not_exist/behaves_like_non-existent_linked_package/1_1_2_4_2_1_2.yml
  src/api/spec/models/workflow/step/link_package_step_spec.rb
Labels: Beta, Frontend

#11399 Introduce tokens in web UI
  src/api/app/assets/javascripts/webui/autocomplete.js
  src/api/app/assets/javascripts/webui/request.js
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/users/rss_tokens_controller.rb
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/models/project.rb
  src/api/app/models/token.rb
  src/api/app/policies/webui/token/rebuild_policy.rb
  src/api/app/policies/webui/token/release_policy.rb
  src/api/app/policies/webui/token/rss_policy.rb
  src/api/app/policies/webui/token/service_policy.rb
  src/api/app/policies/webui/token/workflow_policy.rb
  src/api/app/policies/webui/token_policy.rb
  src/api/app/views/webui/packages/branches/into.html.haml
  src/api/app/views/webui/user/_index_actions.html.haml
  src/api/app/views/webui/user/index_actions/_manage_tokens.haml
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/tokens/_actions.html.haml
  src/api/app/views/webui/users/tokens/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/tokens/_create.js.erb
  src/api/app/views/webui/users/tokens/index.html.haml
  src/api/app/views/webui/users/tokens/new.html.haml
  src/api/config/locales/kaminari.en.yml
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/person/token_controller_spec.rb
  src/api/spec/controllers/webui/users/tokens_controller_spec.rb
  src/api/spec/features/webui/projects_spec.rb
  src/api/spec/features/webui/requests_spec.rb
Labels: Beta, Frontend, review-app
