Repository openSUSE/open-build-service, pull requests merged in 2021-08, with the labels that each got.

#11446 Update the SCM token of workflow tokens in the UI
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/policies/webui/token_policy.rb
  src/api/app/views/webui/users/tokens/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/tokens/edit.html.haml
  src/api/app/views/webui/users/tokens/index.html.haml
  src/api/app/views/webui/users/tokens/new.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/users/tokens_controller_spec.rb
Labels: Frontend, review-app

#11449 Set page titles for create/edit token pages
  src/api/app/views/webui/users/tokens/edit.html.haml
  src/api/app/views/webui/users/tokens/new.html.haml
Labels: Frontend

#11450 Create SetPagetitleInView linter for haml-lint and enable it
  src/api/.haml-lint.yml
  src/api/app/views/webui/apidocs/index.html.haml
  src/api/app/views/webui/cloud/azure/configurations/show.html.haml
  src/api/app/views/webui/cloud/configurations/index.html.haml
  src/api/app/views/webui/cloud/ec2/configurations/show.html.haml
  src/api/app/views/webui/cloud/upload_jobs/index.html.haml
  src/api/app/views/webui/kiwi/images/edit.html.haml
  src/api/app/views/webui/kiwi/images/show.html.haml
  src/api/app/views/webui/package/binaries.html.haml
  src/api/app/views/webui/staging/excluded_requests/index.html.haml
  src/api/app/views/webui/timeout.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/lib/haml-lint/custom_linters/set_pagetitle_in_view.rb
Labels: Test Suite / CI :syringe:, review-app

#11427 Refactor SearchController extracting query to query object
  src/api/.rubocop_todo.yml
  src/api/app/controllers/search_controller.rb
  src/api/app/models/channel_binary.rb
  src/api/app/models/search_finder.rb
  src/api/spec/models/search_finder_spec.rb
Labels: Frontend, Refactoring :factory:

#11461 Automatically apply labels to PRs based on the changed files
  .github/labeler.yml
Labels: Test Suite / CI :syringe:

#11463 Remove unused download_stats XML schema
  docs/api/api/download_stats.xml
  docs/api/api/download_stats.xsd
  src/api/test/functional/backend_test.rb
Labels: API

#11468 Unify containers images used by CI and development environment
  .circleci/config.yml
  docker-compose.yml
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.minitest
  src/api/spec/support/capybara.rb
  src/api/spec/support/shared_examples/features/beta/user_tab.rb
Labels: Frontend, Test Suite / CI :syringe:

#11447 Merge `webui` namespaced Token policies with previous Token policies
  src/api/app/controllers/concerns/rescue_handler.rb
  src/api/app/controllers/trigger_controller.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/policies/token/rebuild_policy.rb
  src/api/app/policies/token/release_policy.rb
  src/api/app/policies/token/rss_policy.rb
  src/api/app/policies/token/service_policy.rb
  src/api/app/policies/token/workflow_policy.rb
  src/api/app/policies/token_policy.rb
  src/api/app/policies/webui/token/rebuild_policy.rb
  src/api/app/policies/webui/token/release_policy.rb
  src/api/app/policies/webui/token/rss_policy.rb
  src/api/app/policies/webui/token/service_policy.rb
  src/api/app/policies/webui/token/workflow_policy.rb
  src/api/app/views/webui/users/tokens/index.html.haml
  src/api/spec/policies/token/rebuild_policy_spec.rb
  src/api/spec/policies/token/release_policy_spec.rb
  src/api/spec/policies/token/service_policy_spec.rb
  src/api/spec/policies/token/workflow_policy_spec.rb
  src/api/spec/support/shared_examples/tokens.rb
  src/api/test/functional/source_services_test.rb
Labels: Beta, Frontend

#11474 Apply "Test Suite / CI" label to PRs changing our OBS workflows
  .github/labeler.yml
Labels: Test Suite / CI :syringe:

#11473 Remove openSUSE Leap 15.1 and SLE15 SP1 distributions from workflows
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

#11482 Use bundler_ext instead of bundler if Gemfile.in file present
  src/api/config/application.rb
  src/api/config/boot.rb
Labels: Frontend

#11477 Introduces maintenance concern
  src/api/.rubocop_todo.yml
  src/api/app/models/concerns/project_maintenance.rb
  src/api/app/models/project.rb
Labels: Frontend

#11487 Add OBS:EmbargoDate AttribType to DatabaseCleaner
  src/api/spec/factories/attribs.rb
  src/api/spec/queries/packages_finder_spec.rb
  src/api/spec/support/database_cleaner.rb
Labels: Frontend

#11488 Measure request duration
  src/api/app/models/bs_request.rb
  src/api/app/models/event/request_statechange.rb
Labels: Frontend

#11489 Measure finer grained namespaces for requests
  src/api/app/models/bs_request.rb
  src/api/app/models/event/request.rb
  src/api/app/models/event/request_statechange.rb
Labels: Frontend

#11490 Measure finer grained namespaces for builds
  src/api/app/models/concerns/project_maintenance.rb
  src/api/app/models/event/build.rb
  src/api/spec/models/project/project_maintained_namespace_spec.rb
Labels: Frontend

#11478 [backend] Add `tos_url` to configuration
  src/backend/BSXML.pm
Labels: Backend

#11486 Embargo handler
  src/api/app/models/bs_request.rb
  src/api/app/models/project/embargo_handler.rb
  src/api/spec/models/project/embargo_handler_spec.rb
Labels: Frontend, Refactoring :factory:

#11496 Remove deleted project and package records from sphinx indexes
  src/api/app/jobs/delete_from_sphinx_job.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
Labels: Frontend, review-app

#11502 Adopt CI/dev-env to unified 15.3 containers
  .circleci/config.yml
  docker-compose.yml
  src/api/db/migrate/001_initial_database.rb
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.minitest
  src/api/spec/support/capybara.rb
Labels: 2.10

#11504 [dist] split functions out of setup-appliance.sh
  dist/Makefile
  dist/functions.setup-appliance.sh
  dist/obs-server.spec
  dist/obsstoragesetup
  dist/setup-appliance.sh
  dist/t/0010-obs-bootstrap-api.t
  dist/t/0080-check_ssl_certs.ts
  dist/t/0110-check_signd.ta
  dist/t/osc/fixtures/home:Admin.xml
Labels: Appliance :cd:

#11515 [backend] define %_module_build 1 for modulemd builds
  src/backend/BSSched/Modulemd.pm
Labels: Backend

#11514 [api] allow to keep packages locked on mr request revoke
  docs/api/api/api.txt
  src/api/app/models/bs_request.rb
Labels: Documentation :book:, Frontend

#11508 Refactor BrachPackage#check_for_update_project
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/app/models/branch_package.rb
  src/api/app/models/branch_package/check_for_update.rb
  src/api/spec/cassettes/BranchPackage_CheckForUpdate/1_1.yml
  src/api/spec/cassettes/BranchPackage_CheckForUpdate/1_2.yml
  src/api/spec/cassettes/BranchPackage_CheckForUpdate/1_3.yml
  src/api/spec/cassettes/BranchPackage_CheckForUpdate/1_4.yml
  src/api/spec/models/branch_package/check_for_update_spec.rb
Labels: Frontend

#11516 Fix measuring request duration
  src/api/app/models/bs_request.rb
  src/api/app/views/webui/request/_show_side_links.html.haml
Labels: Frontend

#11526 [backend] products: add option for using latest rpm based on version
  src/backend/BSProductXML.pm
Labels: Backend

#11531 [backend] increase maxredirects to 10 for DoD downloads
  src/backend/BSRepServer/DoD.pm
  src/backend/bs_dodup
Labels: Backend

#11548 [backend] create fake annotation for docker builds with DoD containers
  src/backend/BSSched/BuildJob/Docker.pm
Labels: Backend

#11550 Update bundler version to a recent one
  src/api/Gemfile.lock
  src/api/Gemfile.next.lock
Labels: Frontend

#11556 [backend] modularity: allow to pin the distindex in the modulemd file
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/Modulemd.pm
  src/backend/BSSrcServer/Modulemd.pm
  src/backend/BSXML.pm
Labels: Backend

#11560 Revert "Update bundler version to a recent one"
  src/api/Gemfile.lock
  src/api/Gemfile.next.lock
Labels: Frontend

#11555 Create view component for download repository link
  src/api/.rubocop_todo.yml
  src/api/app/components/download_repository_link_component.html.haml
  src/api/app/components/download_repository_link_component.rb
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/presenters/repositories/state_presenter.rb
  src/api/app/views/webui/package/binaries.html.haml
  src/api/app/views/webui/repositories/state.html.haml
  src/api/spec/components/previews/download_repository_link_component_preview.rb
Labels: Frontend, review-app
