Repository openSUSE/open-build-service, pull requests merged in 2022-01, with the labels that each got.

#12037 Add spec to BinaryRelease model
  src/api/app/models/binary_release.rb
  src/api/spec/factories/binary_releases.rb
  src/api/spec/models/binary_release_spec.rb
Labels: Frontend

#12045 Clean BinaryRelease and add Spec for BinaryRelease.update_binary_releases
  src/api/app/models/binary_release.rb
  src/api/spec/models/binary_release_spec.rb
Labels: Frontend

#12053 Add spec for PackageBuildStatus model
  src/api/app/models/package_build_status.rb
  src/api/spec/cassettes/PackageBuildStatus/_current_dir/1_3_1.yml
  src/api/spec/cassettes/PackageBuildStatus/_current_dir/1_3_2.yml
  src/api/spec/cassettes/PackageBuildStatus/_gather_md5sums/1_2_1.yml
  src/api/spec/cassettes/PackageBuildStatus/_gather_md5sums/1_2_2.yml
  src/api/spec/cassettes/PackageBuildStatus/_new/1_1_1.yml
  src/api/spec/cassettes/PackageBuildStatus/gather_target_packages/1_4_1.yml
  src/api/spec/cassettes/PackageBuildStatus/gather_target_packages/1_4_2.yml
  src/api/spec/models/package_build_status_spec.rb
Labels: Frontend

#12061 Add spec for method PackageBuildStatus#check_everbuilt
  src/api/spec/cassettes/PackageBuildStatus/_check_everbuilt/no_job_history/1_5_1_1.yml
  src/api/spec/cassettes/PackageBuildStatus/_check_everbuilt/no_job_history/1_5_1_2.yml
  src/api/spec/cassettes/PackageBuildStatus/_check_everbuilt/with_job_history/1_5_2_1.yml
  src/api/spec/models/package_build_status_spec.rb
Labels: Frontend

#12065 [backend] use GPG v4 for ArchLinux
  src/backend/bs_signer
Labels: Backend

#12066 [api] fix ignore releasetarget project on maintenance_incident requests
  src/api/app/models/branch_package.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
Labels: Frontend

#12070 [backend] fix memoryperjob constraints
  src/backend/BSDispatcher/Constraints.pm
Labels: Backend

#12080 Move allow and subject instantiation to a before block
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

#12091 [backend] Implement "cosign" signatures
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_repserver
Labels: Backend

#12096 Add Eclipse Bugzilla to the list of issue trackers
  docs/api/api/issue_trackers.xml
  src/api/db/seeds.rb
  src/api/test/fixtures/issue_trackers.yml
  src/api/test/functional/issue_trackers_controller_test.rb
Labels: Documentation :book:, Frontend

#12077 Show meaningful data for each workflow run
  src/api/app/components/workflow_run_detail_component.html.haml
  src/api/app/components/workflow_run_detail_component.rb
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/spec/components/workflow_run_detail_component_spec.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
Labels: Frontend

#12076 Check pull/merge request actions before initializing dependencies
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/scm_webhook.rb
  src/api/app/models/token/workflow.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/models/token/workflow_spec.rb
Labels: Frontend

#12110 [backend] implement cosign signature creation for external registries
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/BSRekor.pm
  src/backend/BSX509.pm
  src/backend/bs_notar
  src/backend/bs_regpush
Labels: Backend

#12111 [backend] Support "allowrootforbuild" as build flag, support a rekorserver in the registry config
  src/backend/BSPublisher/Container.pm
  src/backend/BSTUF.pm
  src/backend/bs_getbinariesproxy
  src/backend/bs_notar
  src/backend/bs_worker
Labels: Backend

#12098 Hide unsupported actions in WorkflowRun's index page
  src/api/app/components/workflow_run_row_component.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
Labels: Frontend

#12102 Implement the improvements in the UI for GitLab too
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/components/workflow_run_row_component.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
Labels: Frontend

#12104 Simplify token creation code
  src/api/app/components/copy_to_clipboard_input_component.html.haml
  src/api/app/components/copy_to_clipboard_input_component.rb
  src/api/app/components/token_card_component.html.haml
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/policies/token_policy.rb
  src/api/app/views/webui/users/tokens/_actions.html.haml
  src/api/app/views/webui/users/tokens/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/tokens/_create.js.erb
  src/api/app/views/webui/users/tokens/edit.html.haml
  src/api/app/views/webui/users/tokens/new.html.haml
  src/api/app/views/webui/users/tokens/show.html.haml
  src/api/spec/controllers/webui/users/tokens_controller_spec.rb
  src/api/spec/policies/token_policy_spec.rb
Labels: Frontend, review-app

#12092 Implement a workflow run show view
  src/api/app/components/workflow_run_header_component.html.haml
  src/api/app/components/workflow_run_header_component.rb
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/policies/workflow_run_policy.rb
  src/api/app/views/webui/workflow_runs/_breadcrumb_items.html.haml
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/app/views/webui/workflow_runs/show.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/components/workflow_run_header_component_spec.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
  src/api/spec/policies/workflow_run_policy_spec.rb
Labels: Frontend

#12130 [backend] bs_dodup: strip the domain name from the container if it ma…
  src/backend/bs_dodup
Labels: Backend

#12137 [backend] bs_warden: remove unreadable :status files
  src/backend/bs_warden
Labels: Backend

#12144 [api] fix crash when product defines remote update url
  src/api/app/models/product.rb
Labels: Frontend

#12128 Support multiple repository paths in configure_repositories
  .obs/workflows.yml
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
Labels: Frontend, Test Suite / CI :syringe:
