Repository openSUSE/open-build-service, pull requests merged in 2022-04, with the labels that each got.

#12362 Add trigger service step
  src/api/app/components/workflow_artifacts_per_step_component.rb
  src/api/app/controllers/concerns/triggerable.rb
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/errors.rb
  src/api/app/models/workflow/step/rebuild_package.rb
  src/api/app/models/workflow/step/trigger_services.rb
  src/api/app/policies/token/workflow_policy.rb
  src/api/app/services/workflows/artifacts_collector.rb
  src/api/spec/components/previews/workflow_artifacts_per_step_component_preview.rb
  src/api/spec/components/workflow_artifacts_per_step_component_spec.rb
  src/api/spec/factories/workflow_artifacts_per_step.rb
  src/api/spec/models/workflow/step/trigger_services_spec.rb
  src/api/spec/services/workflows/artifacts_collector_spec.rb
Labels: Frontend

#12387 [backend] fix --enable-ccache functionality
  src/backend/BSSched/BuildJob.pm
Labels: Backend

#12381 [backend] start implementing slsa provenance file writing
  src/backend/bs_worker
Labels: Backend

#12397 Do not validate params in TriggerController
  src/api/app/controllers/trigger_controller.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/spec/cassettes/TriggerController/_create/when_some_parameters_are_not_strings/still_processes_the_request_without_validating_parameters.yml
  src/api/spec/controllers/trigger_controller_spec.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
Labels: Frontend

#12401 Update xmlhash from 1.3.7 to 1.3.8
  src/api/Gemfile.lock
  src/api/vendor/cache/xmlhash-1.3.7.gem
  src/api/vendor/cache/xmlhash-1.3.8.gem
Labels: Frontend

#12410 [backend] switch cacheid calculation to sha256
  src/backend/bs_getbinariesproxy
  src/backend/bs_worker
Labels: Backend

#12413 [api] fix non-accept with OBS:CreatorCannotAcceptOwnRequests
  src/api/app/models/bs_request_permission_check.rb
Labels: Frontend

#12403 Use 2.10 containers in CI
  .circleci/config.yml
  .gitmodules
  docker-compose.yml
  src/api/config/routes.rb
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.minitest
Labels: 2.10

#12402 Update xmlhash from 1.3.7 to 1.3.8
  src/api/Gemfile.lock
Labels: Frontend, 2.10

#12407 Reset User.session
  src/api/app/models/project.rb
  src/api/spec/models/project_spec.rb
Labels: 2.10

#12416 Extend task to create workflow runs
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/workflows.rake
  src/api/spec/factories/workflow_runs.rb
  src/api/spec/lib/tasks/workflows_spec.rb
  src/api/spec/support/files/request_payload_github_pull_request_closed.json
  src/api/spec/support/files/request_payload_github_pull_request_opened.json
  src/api/spec/support/files/request_payload_github_push.json
  src/api/spec/support/files/request_payload_github_tag_push.json
  src/api/spec/support/files/request_payload_gitlab_pull_request_closed.json
  src/api/spec/support/files/request_payload_gitlab_pull_request_opened.json
  src/api/spec/support/files/request_payload_gitlab_push.json
  src/api/spec/support/files/request_payload_gitlab_tag_push.json
Labels: Frontend, review-app

#12412 Improve messages of existing errors in SCM/CI integration
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow.rb
  src/api/app/services/workflows/yaml_downloader.rb
  src/api/app/validators/workflow_filters_validator.rb
  src/api/app/validators/workflow_steps_validator.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/validators/workflow_filters_validator_spec.rb
  src/api/spec/validators/workflow_steps_validator_spec.rb
Labels: Frontend

#12418 Rework token name
  src/api/app/components/token_card_component.rb
  src/api/app/models/token.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/models/token/rss.rb
  src/api/app/models/token/service.rb
  src/api/app/models/token/workflow.rb
  src/api/app/views/webui/users/token_triggers/show.html.haml
  src/api/app/views/webui/users/tokens/edit.html.haml
Labels: Frontend, review-app

#12426 [backend] automatically set limit=1 when searching for a specific rev…
  src/backend/bs_srcserver
Labels: Backend

#12419 Add binary dependencies to SLSA provenance materials
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
  src/backend/t/data/1000/reposerver/getbinaries_empty.cpio
  src/backend/t/data/1000/srcserver/getbinaries.cpio
  src/backend/t/data/1000/srcserver/getbinaries_empty.cpio
  src/backend/t/lib/Test/Mock/BSRPC.pm
Labels: Backend

#12417 Add Workflow Runs filter by pull/merge request action
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/models/scm_webhook.rb
  src/api/app/models/workflow_run.rb
  src/api/app/queries/workflow_runs_finder.rb
  src/api/app/validators/scm_webhook_event_validator.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/spec/components/workflow_run_request_action_filter_component_spec.rb
  src/api/spec/controllers/webui/workflow_runs_controller_spec.rb
Labels: Frontend

#12439 Remove `report_to_scm` method from workflow step model
  src/api/app/models/workflow/step.rb
Labels: Frontend

#12421 Add new filter for tag push events
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/models/workflow_run.rb
  src/api/app/queries/workflow_runs_finder.rb
  src/api/spec/queries/workflow_runs_finder_spec.rb
Labels: Frontend

#12441 Downgrade rake to 13.0.1
  dist/obs-bundled-gems.spec
  dist/setup-appliance.sh
  dist/t/Gemfile.lock
  src/api/Gemfile.lock
Labels: 2.10

#12453 [backend] fix broken additional metadata with createrepo_c 0.20
  dist/obs-server.spec
  src/backend/bs_publish
Labels: Backend

#12445 Track errors from SCMStatusReporter in WorkflowRuns
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step.rb
  src/api/app/services/scm_exception_handler.rb
  src/api/app/services/scm_initial_status_reporter.rb
  src/api/app/services/scm_status_reporter.rb
  src/api/app/services/workflows/yaml_to_workflows_service.rb
  src/api/db/migrate/20220413223300_add_workflow_run_to_event_subscription.rb
  src/api/db/schema.rb
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/models/workflow_spec.rb
  src/api/spec/services/scm_status_reporter_spec.rb
  src/api/spec/services/workflows/yaml_to_workflows_service_spec.rb
Labels: Frontend

#12454 Broken token type selection in Token create webui
  src/api/app/views/webui/users/tokens/new.html.haml
Labels: Frontend, review-app

#12429 Add "Identifies artifact" SLSA requirement
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
  src/backend/t/data/1000/.build.packages/RPMS/x86_64/hello_world-1-4.1.x86_64.rpm
  src/backend/t/data/1000/.build.packages/SRPMS/hello_world-1-4.1.src.rpm
Labels: Backend

#12443 Move setup/test tasks from openQA test suite here
  dist/t/Makefile
Labels: 2.10

#12458 Use Token#description in workflows rake task
  src/api/lib/tasks/workflows.rake
Labels: Frontend

#12460 Order watchlist items alphabetically or by number
  src/api/app/components/watchlist_component.rb
Labels: Frontend

#12466 Escape whitespace characters correctly for filepaths
  src/api/app/models/package.rb
Labels: Frontend

#12414 Instrument more exceptions
  src/api/config/initializers/airbrake.rb
Labels: Frontend

#12476 Add instrumentation to track changes on Notification#delivered
  src/api/app/models/notification.rb
  src/api/spec/models/notification_spec.rb
Labels: Frontend

#12477 Set case-insensitive order for watchlist elements
  src/api/app/components/watchlist_component.rb
Labels: Frontend, Beta

#12474 Fix backend tests
  dist/obs-server.spec
  src/backend/Makefile
  src/backend/t/0015-BSSched-EventSource-Directory.t
Labels: Backend, Appliance :cd:

#12473 Introduces 210 label for 2.10 images
  .circleci/config.yml
  docker-compose.yml
  src/api/docker-files/Dockerfile
  src/api/docker-files/Dockerfile.minitest
Labels: 2.10

#12478 Add builder, invocation and metadata to provenance file
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
Labels: Backend

#12489 Prevent shellcheck from following a source file
  dist/t/0000-check_users_and_group.ts
Labels: Test Suite / CI :syringe:

#12358 [backend] add "--filelists_ext" parameter for createrepo
  src/backend/bs_publish
Labels: Backend

#12486 [backend] add support for slsa provenance binary pinning
  src/backend/BSRepServer/SLSA.pm
  src/backend/bs_repserver
  src/backend/bs_signer
  src/backend/bs_srcserver
Labels: Backend

#12494 Add instrumentation to EventSubscription#enabled
  src/api/app/models/event_subscription.rb
  src/api/spec/models/event_subscription_spec.rb
Labels: Frontend

#12464 Implement New Watchlist API
  src/api/app/controllers/person_controller.rb
  src/api/app/models/user.rb
  src/api/app/policies/user_policy.rb
  src/api/app/queries/watchlist_finder.rb
  src/api/app/views/models/_user.xml.builder
  src/api/app/views/person/_watchlist.xml.builder
  src/api/config/routes/api_routes.rb
  src/api/spec/controllers/person_controller_spec.rb
Labels: Frontend

#12492 Add collapsible tooltips to display more info about requests in watchlist
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/new_watchlist/collapsible_tooltip.js
  src/api/app/assets/stylesheets/webui/new_watchlist/watchlist.scss
  src/api/app/components/bs_request_action_source_and_target_component.rb
  src/api/app/components/bs_request_state_badge_component.rb
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_component.html.haml
  src/api/app/components/watched_items_list_component.html.haml
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui/package/_buildstatus.html.haml
  src/api/spec/components/notification_notifiable_link_component_spec.rb
Labels: Frontend, review-app, Beta

#12499 [backend] avoid warnings from createrepo
  src/backend/bs_publish
Labels: Backend

#12247 [api] allow certain commands on scmsync projects
  src/api/app/controllers/source_controller.rb
Labels: Frontend

#12500 Update rails: 6.1.4.6 to rails-6.1.5.1
  src/api/Gemfile.lock
  src/api/vendor/cache/actioncable-6.1.4.6.gem
  src/api/vendor/cache/actioncable-6.1.5.1.gem
  src/api/vendor/cache/actionmailbox-6.1.4.6.gem
  src/api/vendor/cache/actionmailbox-6.1.5.1.gem
  src/api/vendor/cache/actionmailer-6.1.4.6.gem
  src/api/vendor/cache/actionmailer-6.1.5.1.gem
  src/api/vendor/cache/actionpack-6.1.4.6.gem
  src/api/vendor/cache/actionpack-6.1.5.1.gem
  src/api/vendor/cache/actiontext-6.1.4.6.gem
  src/api/vendor/cache/actiontext-6.1.5.1.gem
  src/api/vendor/cache/actionview-6.1.4.6.gem
  src/api/vendor/cache/actionview-6.1.5.1.gem
  src/api/vendor/cache/activejob-6.1.4.6.gem
  src/api/vendor/cache/activejob-6.1.5.1.gem
  src/api/vendor/cache/activemodel-6.1.4.6.gem
  src/api/vendor/cache/activemodel-6.1.5.1.gem
  src/api/vendor/cache/activerecord-6.1.4.6.gem
  src/api/vendor/cache/activerecord-6.1.5.1.gem
  src/api/vendor/cache/activestorage-6.1.4.6.gem
  src/api/vendor/cache/activestorage-6.1.5.1.gem
  src/api/vendor/cache/activesupport-6.1.4.6.gem
  src/api/vendor/cache/activesupport-6.1.5.1.gem
  src/api/vendor/cache/rails-6.1.4.6.gem
  src/api/vendor/cache/rails-6.1.5.1.gem
  src/api/vendor/cache/railties-6.1.4.6.gem
  src/api/vendor/cache/railties-6.1.5.1.gem
Labels: Frontend

#12502 [backend] multiple slsa provenance tweaks
  src/backend/BSRepServer/SLSA.pm
  src/backend/BSSched/BuildJob.pm
  src/backend/BSXML.pm
  src/backend/bs_repserver
  src/backend/bs_signer
  src/backend/bs_srcserver
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
Labels: Backend

#12504 Rename duplicated JS function toggleTooltip
  src/api/app/assets/javascripts/webui/new_watchlist/collapsible_tooltip.js
  src/api/app/assets/stylesheets/webui/new_watchlist/watchlist.scss
  src/api/app/components/watched_items_list_component.html.haml
  src/api/app/components/watchlist_component.html.haml
  src/api/app/views/webui/package/_buildstatus.html.haml
Labels: Frontend, review-app

#12505 [backend] multiple slsa provenance fixes
  src/backend/BSRepServer/SLSA.pm
  src/backend/bs_signer
  src/backend/worker/Structured.pm
Labels: Backend

#12507 [backend] configure slsaprovenance via BSConfig instead of buildconfig
  src/backend/BSSched/BuildJob.pm
Labels: Backend

#12508 [backend] write build config into _slsa_provenance.config
  src/backend/bs_signer
  src/backend/bs_worker
Labels: Backend
