Repository openSUSE/open-build-service, pull requests merged in 2022-05, with the labels that each got.

#12515 [backend] implement provenance file downloading for product building
  src/backend/BSSched/PublishRepo.pm
  src/backend/bs_worker
Labels: Backend

#12517 [backend] implement access to pinned slsa references
  src/backend/BSRepServer/SLSA.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Backend

#12518 [backend] bs_repserver: fix copy'n'paste bug in bininfo generation
  src/backend/bs_repserver
Labels: Backend

#12519 [backend] unlink old provenance files when spreading new ones
  src/backend/bs_srcserver
  src/backend/bs_worker
Labels: Backend

#12522 [backend] implement provenance copying in channels/patchinfo
  src/backend/BSSched/BuildJob/Channel.pm
  src/backend/BSSched/BuildJob/Patchinfo.pm
Labels: Backend

#12523 [backend] implement publishing of slsa provenance files
  src/backend/bs_publish
Labels: Backend

#12524 [backend] update subject digests when rpms are signed
  src/backend/bs_signer
  src/backend/bs_worker
Labels: Backend

#12071 [api] fix access to build area for git projects
  src/api/app/models/package.rb
Labels: Frontend

#12525 Tackle pundit deprecation warning
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/trigger_controller.rb
  src/api/app/controllers/webui/users/token_triggers_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend

#12530 Update rails to 5.2.7.1 (patch)
  src/api/Gemfile.lock
Labels: 2.10

#12529 Split WatchlistFinder into 3 query objects and use it
  src/api/app/components/watchlist_component.rb
  src/api/app/queries/packages_for_watchlist_finder.rb
  src/api/app/queries/projects_for_watchlist_finder.rb
  src/api/app/queries/requests_for_watchlist_finder.rb
  src/api/app/queries/watchlist_finder.rb
  src/api/app/views/person/_watchlist.xml.builder
Labels: Frontend, review-app

#12527 Remove notifications_redesign feature toggle
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/notifications.scss
  src/api/app/assets/stylesheets/webui/notifications_redesign/notifications.scss
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/bs_request.rb
  src/api/app/views/layouts/webui/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/webui/users/subscriptions/index.html.haml
  src/api/config/initializers/flipper.rb
  src/api/spec/controllers/person/notifications_controller_spec.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/support/beta.rb
Labels: Frontend, review-app

#12531 Add release notes for 2.10.15
  ReleaseNotes-2.10.15
Labels: 2.10

#12535 Switch back to rake 13.0.1
  src/api/Gemfile.lock
Labels: 2.10

#12538 [backend] add bs_admin --shutdown-all-schedulers option
  dist/obsscheduler
  src/backend/bs_admin
Labels: Backend

#12536 Add --status flag to bs_sched
  src/backend/bs_sched
Labels: Backend

#12537 Add link to remove watchlist items
  src/api/app/components/watched_items_list_component.html.haml
Labels: Frontend, review-app

#12543 Prevent from updating architectures when retrieving workers' status
  src/api/app/models/worker_status.rb
  src/api/spec/models/worker_status_spec.rb
Labels: Frontend, review-app

#12549 Let's test the OS that we deploy on
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

#12557 Revert "Update strscan to version 3.0.2"
  src/api/Gemfile.lock
  src/api/vendor/cache/strscan-3.0.1.gem
  src/api/vendor/cache/strscan-3.0.2.gem
Labels: Frontend

#12556 [backend] add ipv6 support
  src/backend/BSRPC.pm
  src/backend/BSRedis.pm
  src/backend/BSServer.pm
  src/backend/BSServerEvents.pm
  src/backend/BSStdServer.pm
  src/backend/BSWatcher.pm
Labels: Backend

#12567 [backend] do not publish slsa provenance files toplevel
  src/backend/bs_publish
Labels: Backend

#12574 Pin strscan gem version to 3.0.1
  src/api/Gemfile
  src/api/Gemfile.lock
Labels: Frontend

#12470 Receive notifications for relationships
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_avatars_component.rb
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/relationship.rb
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/find_for_event.rb
  src/api/app/models/relationship.rb
  src/api/app/queries/outdated_notifications_finder/package.rb
  src/api/app/queries/outdated_notifications_finder/project.rb
  src/api/app/services/notification_service/notifier.rb
  src/api/app/services/notification_service/web_channel.rb
  src/api/app/services/notified_projects.rb
  src/api/spec/models/event_subscription/find_for_event_spec.rb
  src/api/spec/services/notification_service/notifier_spec.rb
Labels: Frontend, review-app

#12558 Handle emails for Relationship events
  src/api/app/views/event_mailer/relationship_create.html.haml
  src/api/app/views/event_mailer/relationship_create.text.erb
  src/api/app/views/event_mailer/relationship_delete.html.haml
  src/api/app/views/event_mailer/relationship_delete.text.erb
  src/api/spec/factories/event_subscriptions.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend

#12578 Add description for relationship events
  src/api/app/models/event/base.rb
Labels: Frontend

#11351 [api][backend] allow to disable export of issue trackers
  docs/api/api/obs.rng
  src/api/db/migrate/20210707134455_publish_issues.rb
  src/api/db/schema.rb
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/BSXML.pm
Labels: Documentation :book:, Frontend, Backend

#12490 Add notification filters for Relationship records
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/components/notification_filter_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/queries/notifications_finder.rb
Labels: Frontend, review-app

#12580 Add new subscriptions in notifications rake task
  src/api/lib/tasks/dev.rake
Labels: Frontend

#12585 [backend] save some memory by not copying the solv file content
  src/backend/BSSched/Remote.pm
  src/backend/BSServer.pm
Labels: Backend

#12589 [backend] scm bridge: fix package deletion
  src/backend/BSSrcServer/Scmsync.pm
Labels: Backend

#12555 Avoid code 500 on packages received through an scmsync for package show
  src/api/app/controllers/webui/package_controller.rb
Labels: Frontend

#12591 Introduce tags for notification counts
  src/api/app/jobs/measurements_job.rb
Labels: Frontend

#12601 [backend] move BSSrcdiff.pm into BSSrcServer
  src/backend/BSAccess.pm
  src/backend/BSSrcServer/Projlink.pm
  src/backend/BSSrcServer/Srcdiff.pm
  src/backend/bs_srcserver
Labels: Backend

#12604 Measure EventSubscription count
  src/api/app/jobs/measurements_job.rb
Labels: Frontend

#12602 [backend] make code work with old perl versions that do not have AI_A…
  src/backend/BSRPC.pm
  src/backend/BSServer.pm
Labels: Backend

#12605 [backend] access Socket::IN6ADDR_ANY as function
  src/backend/BSServer.pm
Labels: Backend

#12603 Fix event_subscription measurements
  src/api/app/models/event_subscription.rb
Labels: Frontend

#12608 Catch Gitlab::Error::BadRequest in SCMExceptionHandler
  src/api/app/services/scm_exception_handler.rb
Labels: Frontend

#12607 Catch Octokit::BadGateway and Octokit::UnprocessableEntity exception
  src/api/app/services/scm_exception_handler.rb
Labels: Frontend

#12611 Fix typo in review assignment comment
  src/api/app/models/bs_request.rb
Labels: Frontend

#12586 Fix metrics for notifications
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/models/notification.rb
  src/api/spec/models/notification_spec.rb
Labels: Frontend

#12615 [backend] scmsync: we need to store _service files
  src/backend/BSSrcServer/Service.pm
Labels: Backend

#12571 [backend] Add support for qemu system emulated builds via bs_worker
  dist/obsworker
  dist/sysconfig.obs-server
  src/backend/bs_worker
Labels: Backend

#12620 Update table schema
  src/api/db/schema.rb
Labels: Frontend

#12624 [backend] SLSA: put provenance binaries in a subdir
  src/backend/BSRepServer/SLSA.pm
Labels: Backend

#12610 Merge request response tab into incoming webhook
  src/api/app/components/workflow_run_detail_component.html.haml
  src/api/app/components/workflow_run_detail_component.rb
  src/api/app/models/workflow_run.rb
Labels: Feature, Frontend, review-app

#12612 Add error messages for SCM exception handler
  src/api/app/services/scm_exception_handler.rb
  src/api/app/services/scm_exception_message.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

#12629 [backend] allow network for download_assets service
  src/backend/call-service-in-container
  src/backend/call-service-in-docker.sh
Labels: Backend

#12632 [backend] SLSA: implement pinning of DoD materials
  src/backend/BSRepServer/SLSA.pm
Labels: Backend

#12631 Update Issues model table schema comments
  src/api/app/models/issue_tracker.rb
Labels: Frontend

#12633 Update release notes for 2.10.16
  ReleaseNotes-2.10.16
Labels: 2.10

#12606 Catch faraday connection exception in SCM reporter
  src/api/app/services/scm_status_reporter.rb
Labels: Frontend

#12638 Rename Rubocop auto-correct to autocorrect
  src/api/lib/tasks/dev.rake
Labels: Frontend

#12625 Show the scm status request response in the workflow run
  src/api/app/components/workflow_run_detail_component.html.haml
  src/api/app/components/workflow_run_detail_component.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/scm_status_report.rb
  src/api/app/models/workflow_run.rb
  src/api/app/services/scm_exception_handler.rb
  src/api/app/services/scm_status_reporter.rb
  src/api/db/migrate/20220520131205_create_scm_status_reports_table.rb
  src/api/db/schema.rb
  src/api/spec/factories/workflow_runs.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend, review-app
