Repository openSUSE/open-build-service, pull requests merged in 2022-02, with the labels that each got.

#12150 [api] do not list deleted users
  src/api/app/controllers/person_controller.rb
  src/api/lib/xpath_engine.rb
Labels: Frontend

#12151 [backend] automatically trigger a service run if the obsscm element i…
  src/backend/bs_srcserver
Labels: Backend

#12153 Do not expand sources by default on Package#file_exists? method
  src/api/app/models/concerns/multibuild_package.rb
  src/api/app/models/package.rb
  src/api/spec/cassettes/ImageTemplates/branching/branch_Kiwi_image_template.yml
  src/api/spec/cassettes/ImageTemplates/branching/branch_image_template.yml
  src/api/spec/cassettes/Package/_file_exists_/_multibuild_file_should_exist/1_4_1_1.yml
  src/api/spec/cassettes/Package/_file_exists_/with_more_than_one_file/returns_false_if_the_file_does_not_exist.yml
  src/api/spec/cassettes/Package/_file_exists_/with_more_than_one_file/returns_true_if_the_file_exist.yml
  src/api/spec/cassettes/Package/_file_exists_/with_one_file/returns_false_if_the_file_does_not_exist.yml
  src/api/spec/cassettes/Package/_file_exists_/with_one_file/returns_true_if_the_file_exist.yml
  src/api/spec/cassettes/Package/_has_icon_/returns_false_if_the_icon_does_not_exist.yml
  src/api/spec/cassettes/Package/_has_icon_/returns_true_if_the_icon_exist.yml
  src/api/spec/cassettes/Package/_ignored_requests/when_the_package_has_an_ignored_requests_file/parses_the_content_as_YAML_and_returns_a_hash.yml
Labels: Frontend

#12120 Collect artifacts created on every run worflow step
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow_artifacts_per_step.rb
  src/api/app/models/workflow_run.rb
  src/api/app/services/workflows/artifacts_collector.rb
  src/api/app/services/workflows/yaml_to_workflows_service.rb
  src/api/db/migrate/20220126155601_create_workflow_artifacts_per_steps.rb
  src/api/db/schema.rb
  src/api/spec/cassettes/Workflow/_steps/with_a_supported_step/1_2_1_2.yml
  src/api/spec/cassettes/Workflow/_steps/with_no_steps_specified/1_2_4_2.yml
  src/api/spec/cassettes/Workflow/_steps/with_one_unsupported_step/1_2_3_2.yml
  src/api/spec/cassettes/Workflow/_steps/with_several_supported_steps/creates_no_artifacts_because_an_exception_is_raised.yml
  src/api/spec/cassettes/Workflow/_steps/with_step_with_invalid_intructions/1_2_5_2.yml
  src/api/spec/cassettes/Workflow/_steps/with_step_with_invalid_project_name/1_2_6_2.yml
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/models/workflow_artifacts_per_step_spec.rb
  src/api/spec/models/workflow_spec.rb
  src/api/spec/services/workflows/artifacts_collector_spec.rb
  src/api/spec/services/workflows/yaml_to_workflows_service_spec.rb
Labels: Frontend

#12131 Add step `set_flags`
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step/set_flags.rb
  src/api/spec/models/workflow/step/set_flags_step_spec.rb
Labels: Frontend

#12160 [backend] fix rekor upload of container signatures
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_regpush
Labels: Backend

#12161 [backend] implement uploading of repository signatures to a rekor server
  src/backend/bs_publish
Labels: Backend

#12162 Fix Metrics/ClassLength rubocop offense in workflow model
  src/api/app/models/workflow.rb
Labels: Frontend

#12157 Workflow artifacts UI
  src/api/app/components/workflow_artifacts_per_step_component.rb
  src/api/app/components/workflow_run_detail_component.html.haml
  src/api/app/components/workflow_run_detail_component.rb
  src/api/spec/components/previews/workflow_artifacts_per_step_component_preview.rb
  src/api/spec/components/workflow_artifacts_per_step_component_spec.rb
Labels: Frontend, review-app

#12166 Fix artifacts for configure_repositories
  src/api/app/services/workflows/artifacts_collector.rb
  src/api/spec/components/previews/workflow_artifacts_per_step_component_preview.rb
  src/api/spec/services/workflows/artifacts_collector_spec.rb
Labels: Frontend

#12154 Create an initial generic status
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/services/scm_initial_status_reporter.rb
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Labels: Frontend

#12123 Implement filters for Workflow Runs
  src/api/app/assets/stylesheets/webui/workflow_runs.scss
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_component.rb
  src/api/app/components/workflow_run_filter_link_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.rb
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/models/workflow_run.rb
  src/api/app/queries/workflow_runs_finder.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/spec/components/workflow_run_filter_component_spec.rb
  src/api/spec/components/workflow_run_filter_link_component_spec.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
  src/api/spec/queries/workflow_runs_finder_spec.rb
Labels: Frontend

#12170 [backend] fix checkconstraints on plain links
  src/backend/bs_srcserver
Labels: Backend

#12172 Add a little popover description to workflow run filter categories
  src/api/app/components/workflow_run_filter_component.html.haml
Labels: Frontend

#12167 [api] take care of devel package definition in owner search
  src/api/app/controllers/search_controller.rb
  src/api/app/models/owner_search/base.rb
Labels: Frontend, Reference Server :desktop_computer:, Monkey Patched :see_no_evil:

#12175 [backend] add worker option for mkfs copyin
  dist/obsworker
  dist/sysconfig.obs-server
  src/backend/bs_worker
Labels: Backend

#12174 [backend] add cpusteal statistics
  src/backend/BSXML.pm
  src/backend/bs_worker
Labels: Backend

#12181 [backend] support zstd compressed preinstall images
  src/backend/BSSched/BuildJob/PreInstallImage.pm
Labels: Backend

#12182 [api] allow file access via /public using expand
  src/api/app/controllers/public_controller.rb
Labels: Frontend

#12189 List read notifications through API
  src/api/app/controllers/person/notifications_controller.rb
  src/api/public/apidocs-new/paths/my_notifications.yaml
  src/api/spec/controllers/person/notifications_controller_spec.rb
Labels: Documentation :book:, Frontend

#12168 Show delete requests in status page
  src/api/app/controllers/webui/projects/status_controller.rb
Labels: Frontend, review-app

#12203 Use dom_id for mark_as_read_or_unread_button
  src/api/app/helpers/webui/notification_helper.rb
Labels: Frontend

#12177 allow kiwi versions not strictly x.y.z scheme
  src/api/app/models/kiwi/preference.rb
  src/api/spec/models/kiwi/preference_spec.rb
Labels: Frontend, 2.10

#12205 [backend] bs_publish allow for a third digit
  src/backend/bs_publish
Labels: Backend

#12206 [backend] bs_publish fix typo in last change
  src/backend/bs_publish
Labels: Backend

#12208 Create NotificationActionDescriptionComponent
  src/api/app/components/notification_action_description_component.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_action_description_component_spec.rb
  src/api/spec/components/previews/notification_action_description_component_preview.rb
Labels: Frontend, review-app

#12209 Create NotificationMarkButtonComponent
  src/api/app/components/notification_mark_button_component.html.haml
  src/api/app/components/notification_mark_button_component.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_mark_button_component_spec.rb
  src/api/spec/components/previews/notification_mark_button_component_preview.rb
  src/api/spec/features/beta/webui/users/notifications_spec.rb
Labels: Frontend, review-app

#12201 Update rails from 5.2.5 to 5.2.6.2
  ReleaseNotes-2.10.12
  src/api/Gemfile.lock
  src/api/app/models/kiwi/preference.rb
  src/api/spec/models/kiwi/preference_spec.rb
Labels: security, 2.10

#12210 Create RuboCop cop to avoid global state in view components
  src/api/.rubocop.yml
  src/api/app/lib/rubocop/cop/view_component/avoid_global_state.rb
  src/api/config/initializers/zeitwerk.rb
  src/api/spec/lib/rubocop/cop/view_component/avoid_global_state_spec.rb
  src/api/spec/rails_helper.rb
  src/api/spec/support/rubocop.rb
Labels: Frontend, Test Suite / CI :syringe:

#12214 Create NotificationExcerptComponent
  src/api/app/components/notification_excerpt_component.rb
  src/api/app/helpers/webui/markdown_helper.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_excerpt_component_spec.rb
  src/api/spec/components/previews/notification_excerpt_component_preview.rb
Labels: Frontend, review-app

#12219 Move custom RuboCop cop to src/api/lib
  src/api/.rubocop.yml
  src/api/config/initializers/zeitwerk.rb
  src/api/lib/rubocop/cop/view_component/avoid_global_state.rb
  src/api/spec/lib/rubocop/cop/view_component/avoid_global_state_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#12216 Create NotificationNotifiableLinkComponent
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_notifiable_link_component_spec.rb
  src/api/spec/components/previews/notification_notifiable_link_component_preview.rb
Labels: Frontend, review-app

#12215 Create NotificationAvatarsComponent
  src/api/app/components/notification_avatars_component.html.haml
  src/api/app/components/notification_avatars_component.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/_notification_avatar.html.haml
  src/api/app/views/webui/users/notifications/_notification_avatars.html.haml
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_avatars_component_spec.rb
  src/api/spec/components/previews/notification_avatars_component_preview.rb
Labels: Frontend, review-app

#12018 Retire NotificationPresenter in favor of view components
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/presenters/notification_presenter.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
Labels: Frontend, review-app

#12221 [api] fix accepting of submit request of scmsync packages
  src/api/app/models/bs_request_action_submit.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#12217 [api] block requests to scmsync managed packages/projects
  src/api/app/models/bs_request_action.rb
  src/api/test/fixtures/packages.yml
  src/api/test/functional/search_controller_test.rb
Labels: Frontend

#12225 Prevent errors for a BsRequest without a description in NotificationExcerptComponent
  src/api/app/components/notification_excerpt_component.rb
  src/api/spec/components/notification_excerpt_component_spec.rb
Labels: Frontend

#12229 Use target_project instead of target_project.name
  src/api/app/components/notification_action_description_component.rb
Labels: Frontend

#12233 Add spec to reproduce issue #12227
  src/api/spec/components/notification_action_description_component_spec.rb
Labels: Frontend

#12223 Avoid n+1 queries for notification index view
  src/api/app/components/notification_avatars_component.rb
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/models/review.rb
  src/api/app/policies/notification_policy.rb
  src/api/app/queries/notifications_finder.rb
Labels: Frontend, review-app

#12185 Implement the new watchlist feature
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/new_watchlist/watchlist.scss
  src/api/app/components/watched_items_list_component.html.haml
  src/api/app/components/watched_items_list_component.rb
  src/api/app/components/watchlist_component.html.haml
  src/api/app/components/watchlist_component.rb
  src/api/app/controllers/webui/watched_items_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/user.rb
  src/api/app/models/watched_item.rb
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/db/migrate/20220210154407_create_watched_items.rb
  src/api/db/schema.rb
  src/api/lib/tasks/dev.rake
  src/api/spec/components/watched_items_list_component_spec.rb
  src/api/spec/components/watchlist_component_spec.rb
  src/api/spec/controllers/webui/watched_items_controller_spec.rb
  src/api/spec/factories/watched_items.rb
Labels: Frontend, review-app

#12226 Instrument Workflow and Workflow::Step
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
  src/api/app/instrumentations/workflow_instrumentation.rb
  src/api/app/instrumentations/workflow_step_instrumentation.rb
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step.rb
  src/api/spec/models/workflow/step_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#12249 Fix flaky spec in NotificationAvatarsComponent
  src/api/spec/components/notification_avatars_component_spec.rb
Labels: Frontend, Flickering :cyclone:

#12251 Fix flickering spec in features/webui/projects_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Labels: Frontend, Flickering :cyclone:

#12252 Fix flickering spec in features/webui/maintenance_workflow_spec.rb
  src/api/spec/features/webui/maintenance_workflow_spec.rb
Labels: Frontend, Flickering :cyclone:

#12163 Fix invalid byte sequence in UTF-8 in event mailer
  src/api/app/models/event/build_fail.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend

#12236 resourceful routes for watched items
  src/api/app/components/watchlist_component.rb
  src/api/app/controllers/webui/watched_items_controller.rb
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/watched_items_controller_spec.rb
Labels: Frontend

#12245 Show link to add a package to the watchlist for multibuild packages
  src/api/app/components/watchlist_component.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/mixins/build_log_support.rb
  src/api/app/views/webui/package/_live_build_log_controls.html.haml
  src/api/app/views/webui/package/live_build_log.html.haml
  src/api/spec/cassettes/Webui_PackageController/build_logs/GET_update_build_log/for_multibuild_package/1_10_2_4_5.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Frontend, review-app
