Repository openSUSE/open-build-service, pull requests merged in 2022-09, with the labels that each got.

#13016 Enable the notification toolbar for the request show redesign
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend, review-app

#13026 Add test for requests without HTTP_ACCEPT header
  src/api/spec/requests/default_xml_spec.rb
Labels: Frontend

#13020 Display review's project/package name as string
  src/api/app/components/bs_request_overview_avatars_component.html.haml
  src/api/app/components/bs_request_overview_avatars_component.rb
  src/api/app/views/webui/request/beta_show_tabs/_review_summary.html.haml
Labels: Frontend, review-app, Beta

#13028 Add ossf-scorecard action
  .github/workflows/scorecards.yml
Labels: Test Suite / CI :syringe:

#13035 Add Gitlab exception message for BadGateway
  src/api/app/services/scm_exception_handler.rb
  src/api/app/services/scm_exception_message.rb
Labels: Frontend

#13033 Replace instance variable by passed local variable
  src/api/app/views/webui/package/_revision_diff_detail_buttons.html.haml
Labels: Frontend

#13038 Stop handling linkinfo in sourcediff components
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_component.rb
  src/api/app/components/sourcediff_tab_component.html.haml
  src/api/app/components/sourcediff_tab_component.rb
  src/api/app/views/webui/request/request_action.js.erb
  src/api/app/views/webui/request/request_action_changes.js.erb
Labels: Frontend

#13041 Convert usage of egrep to grep -E
  dist/munin/obs_worker_cpu_mem
  dist/obs_import_srcdebtree
  dist/obs_import_srcrpmtree
  dist/obsstoragesetup
Labels: Packages :package:

#12972 [backend] add new image format: mkosi
  src/backend/bs_publish
  src/backend/bs_repserver
  src/backend/bs_signer
  src/backend/bs_srcserver
Labels: Backend

#13047 [backend] srcdiff: show content of deleted files
  src/backend/BSSrcServer/Srcdiff.pm
  src/backend/BSX509.pm
Labels: Backend

#13042 Additional summary info for incoming/outgoing project requests
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/queries/open_requests_finder.rb
  src/api/app/views/webui/project/_side_links.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/project/side_links/_requests.html.haml
Labels: Frontend

#13054 Add rake task to create a request with multiple actions
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/multiple_actions_request.rake
Labels: Frontend

#13055 Expand timeline items all the way to the right
  src/api/app/assets/stylesheets/webui/timeline.scss
  src/api/app/components/bs_request_activity_timeline_component.html.haml
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_history_element_component.html.haml
Labels: Frontend, review-app

#13052 [backend] srcdiff: support zip files
  src/backend/BSSrcServer/Srcdiff.pm
  src/backend/BSZip.pm
Labels: Backend

#13022 Distinguish comments from history elements in the request conversation
  src/api/app/assets/javascripts/webui/comment.js
  src/api/app/assets/stylesheets/webui/comments.scss
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_history_element_component.html.haml
  src/api/app/components/bs_request_history_element_component.rb
  src/api/app/views/webui/shared/_collapsible_text.html.haml
Labels: Frontend, review-app

#13056 [backend] bs_dodup: treat 401 responses as 404 when querying manifests
  src/backend/bs_dodup
Labels: Backend

#13057 ci: add minimum GitHub token permissions for workflows
  .github/workflows/brakeman.yml
  .github/workflows/pull_request_labeler.yml
Labels: Test Suite / CI :syringe:

#13058 [backend] preparepool: do not put the pool into the context if there …
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/EventHandler.pm
  src/backend/bs_sched
Labels: Backend

#13049 apidocs: Document /status_report/built_repositories/…/required_checks
  docs/api/api/api.txt
Labels: Documentation :book:

#13027 Consider maintainer role when showing reviewers for review by_package
  src/api/app/components/bs_request_overview_avatars_component.rb
  src/api/app/models/relationship.rb
  src/api/spec/components/bs_request_overview_avatars_component_spec.rb
Labels: Frontend

#13029 Handle multiple BsRequestActionSubmit actions
  src/api/app/assets/javascripts/webui/request.js
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/components/request_decision_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_add_role.rb
  src/api/app/models/bs_request_action_change_devel.rb
  src/api/app/models/bs_request_action_delete.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/bs_request_action_maintenance_release.rb
  src/api/app/models/bs_request_action_release.rb
  src/api/app/models/bs_request_action_set_bugowner.rb
  src/api/app/models/bs_request_action_submit.rb
  src/api/app/views/webui/request/_action_text.html.haml
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_changes.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation.html.haml
  src/api/config/brakeman.ignore
  src/api/config/routes/webui_routes.rb
Labels: Frontend, review-app

#13060 [backend] bs_worker: treat local errors in the download phase as badhost
  src/backend/bs_worker
Labels: Backend

#13053 Set scroll offset for all the pages
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/spec/support/shared_examples/features/bootstrap_user_tab.rb
Labels: Frontend, review-app

#13063 Adapt message about request workflow redesing beta on request#show
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#13066 Check presence of package or source_rev
  src/api/app/models/bs_request_action.rb
Labels: Frontend

#13070 [backend] support triggerscmsync with default branch
  src/api/app/controllers/source_controller.rb
  src/backend/BSSrcServer/ScmsyncDB.pm
  src/backend/bs_srcserver
Labels: Frontend, Backend

#13073 [backend] fix wrong pool usage in crossbuilds
  src/backend/BSSched/Checker.pm
Labels: Backend

#13077 Reset values for delete confirmation modal on toggle watched item
  src/api/app/views/webui/watched_items/toggle_watched_item.js.erb
Labels: Frontend, review-app

#13079 Split package and project name by the slice delimiter only
  src/api/app/components/watched_items_list_component.html.haml
Labels: Frontend, review-app

#13071 Fix link of adding/removing a package in watchlist
  src/api/app/controllers/webui/watched_items_controller.rb
Labels: Frontend, review-app, Beta

#11527 Recover from errors when commenting on a BsRequest
  src/api/app/controllers/webui/comments_controller.rb
  src/api/spec/controllers/webui/comments_controller_spec.rb
Labels: Frontend

#13089 [backend] bs_worker: fix SSL enabling
  src/backend/BSConSign.pm
  src/backend/BSPGP.pm
  src/backend/BSSSL.pm
  src/backend/BSSrcServer/Srcdiff.pm
  src/backend/BSZip.pm
  src/backend/bs_worker
Labels: Backend

#13092 [backend] mkosi: fix followupfile regex in bs_signer
  src/backend/bs_signer
Labels: Backend

#13097 [backend] add zstd support for file diffing (boo#1202522)
  src/backend/BSSrcServer/Srcdiff.pm
Labels: Backend

#13100 Remove css property scroll smooth
  src/api/app/assets/stylesheets/webui/application.scss
Labels: Frontend

#13084 Show confirmation dialog when deleting from the upper link from the watchlist
  src/api/app/components/watchlist_component.html.haml
  src/api/app/components/watchlist_component.rb
Labels: Frontend, review-app, Beta

#13083 Remove architectures and repositories filters
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/configure_repositories.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/models/workflow/step/rebuild_package.rb
  src/api/app/models/workflow/step/set_flags.rb
  src/api/app/models/workflow/step/trigger_services.rb
  src/api/app/services/workflows/filter.rb
  src/api/spec/jobs/report_to_scm_job_spec.rb
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
  src/api/spec/models/workflow/step/link_package_step_spec.rb
  src/api/spec/models/workflow_spec.rb
  src/api/spec/services/workflows/filter_spec.rb
  src/api/spec/validators/workflow_filters_validator_spec.rb
Labels: Frontend, Beta

#13090 Provide the timestamp of creation of reviews via API
  docs/api/api/request.rng
  src/api/app/models/bs_request.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/unit/bs_request_test.rb
Labels: Frontend, API

#13088 [api] fix access to backend via SSL
  dist/obsworker
  src/api/app/controllers/application_controller.rb
  src/api/app/lib/backend/connection.rb
  src/api/config/options.yml.example
Labels: Frontend

#13080 Check pull/merge request action against allowed actions
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/scm_webhook.rb
Labels: Frontend

#13102 Track current object in the watchlist
  src/api/app/components/watched_items_list_component.html.haml
  src/api/app/components/watched_items_list_component.rb
  src/api/app/components/watchlist_component.html.haml
  src/api/app/components/watchlist_component.rb
  src/api/app/controllers/webui/watched_items_controller.rb
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/watched_items/toggle_watched_item.js.erb
  src/api/spec/components/watched_items_list_component_spec.rb
  src/api/spec/components/watchlist_component_spec.rb
Labels: Frontend, review-app

#13103 Fix iso/image listing in view=publishedpath
  src/backend/bs_srcserver
Labels: Backend

#13108 Remove trigger_workflow from initializer
  src/api/config/initializers/flipper.rb
Labels: Frontend

#13076 Return an error when filter definition is wrong
  src/api/app/validators/workflow_filters_validator.rb
  src/api/spec/validators/workflow_filters_validator_spec.rb
Labels: Frontend

#13112 Display APIError in format.html better
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/concerns/webui/rescue_handler.rb
  src/api/spec/controllers/source_controller_spec.rb
Labels: Frontend

#13095 Refactoring: standardize SCM acronym
  src/api/app/components/workflow_run_request_action_filter_component.rb
  src/api/app/controllers/trigger/errors.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/instrumentations/scm_webhook_instrumentation.rb
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/models/event/base.rb
  src/api/app/models/scm_status_report.rb
  src/api/app/models/scm_webhook.rb
  src/api/app/models/workflow_run.rb
  src/api/app/services/scm_exception_handler.rb
  src/api/app/services/scm_exception_message.rb
  src/api/app/services/trigger_controller_service/scm_extractor.rb
  src/api/app/validators/scm_webhook_event_validator.rb
  src/api/config/initializers/zeitwerk.rb
  src/api/spec/components/previews/workflow_artifacts_per_step_component_preview.rb
  src/api/spec/components/workflow_artifacts_per_step_component_spec.rb
  src/api/spec/components/workflow_run_request_action_filter_component_spec.rb
  src/api/spec/factories/workflow_runs.rb
  src/api/spec/jobs/report_to_scm_job_spec.rb
  src/api/spec/models/scm_webhook_spec.rb
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow/step/configure_repositories_spec.rb
  src/api/spec/models/workflow/step/link_package_step_spec.rb
  src/api/spec/models/workflow/step/rebuild_package_step_spec.rb
  src/api/spec/models/workflow/step/set_flags_step_spec.rb
  src/api/spec/models/workflow/step/trigger_services_spec.rb
  src/api/spec/models/workflow/step_spec.rb
  src/api/spec/models/workflow_run_spec.rb
  src/api/spec/models/workflow_spec.rb
  src/api/spec/services/github_status_reporter_spec.rb
  src/api/spec/services/trigger_controller_service/scm_extractor_spec.rb
  src/api/spec/services/workflows/artifacts_collector_spec.rb
  src/api/spec/services/workflows/yaml_to_workflows_service_spec.rb
  src/api/spec/validators/scm_webhook_event_validator_spec.rb
Labels: Frontend, Refactoring :factory:

#13091 Cleanup built binary downloading
  dist/functions.setup-appliance.sh
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/lib/backend/api/build_results/binaries.rb
  src/api/app/models/package.rb
  src/api/app/models/repository.rb
  src/api/app/services/package_controller_service/url_generator.rb
  src/api/app/views/webui/package/binaries/_binaries_actions.html.haml
  src/api/app/views/webui/package/binary.html.haml
  src/api/config/initializers/zeitwerk.rb
  src/api/config/options.yml.example
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/package_controller/binaries.spec
  src/api/spec/services/package_controller_service/url_generator_spec.rb
Labels: Frontend

#13115 [backend] do not try to update the ssl cert if the cache is disabled
  src/backend/bs_srcserver
Labels: Backend

#13117 [backend] BSSSL: use option hash in TIEHANDLE/initctx
  src/backend/BSRPC.pm
  src/backend/BSRedis.pm
  src/backend/BSSSL.pm
  src/backend/BSServer.pm
  src/backend/BSWatcher.pm
Labels: Backend

#13119 [backend] add created to request state in BSXML
  src/backend/BSXML.pm
Labels: Backend

#13127 [backend] support authorization with ssl certificates
  src/backend/BSSSL.pm
  src/backend/BSServer.pm
  src/backend/BSStdServer.pm
Labels: Backend

#13126 Create rake tasks to migrate the old watchlist
  src/api/lib/tasks/watchlist_migration.rake
Labels: Frontend

#13133 [backend] support https workers
  src/backend/BSXML.pm
  src/backend/bs_dispatch
  src/backend/bs_repserver
  src/backend/bs_worker
Labels: Backend

#13134 [backend] support setting --proto option in the obsworker script
  dist/obsworker
  src/backend/bs_worker
Labels: Backend

#13135 Fix Layout/MultilineHashBraceLayout haml_lint warnings
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/views/webui/distributions/new.html.haml
Labels: Frontend

#13136 Fix loop in watchlist:migrate rake task
  src/api/lib/tasks/watchlist_migration.rake
Labels: Frontend

#13138 [backend] make certinfo less confusing
  src/backend/BSSrcServer/Signkey.pm
  src/backend/BSX509.pm
  src/backend/BSXML.pm
  src/backend/bs_repserver
Labels: Backend

#13140 [api][backend] fix /build/_result route
  src/api/app/controllers/public_controller.rb
  src/backend/bs_srcserver
Labels: Frontend, Backend, Monkey Patched :see_no_evil:, scmsync

#13144 Move the backend proxy to a concern
  src/api/.rubocop_todo.yml
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/concerns/backend_proxy.rb
  src/api/app/controllers/concerns/rescue_authorization_handler.rb
Labels: Frontend, Test Suite / CI :syringe:

#13145 Render expects a full file name
  src/api/app/controllers/concerns/webui/rescue_handler.rb
Labels: Frontend

#13151 OpenAPI specifications for get source
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/source/projects.yaml
  src/api/public/apidocs-new/paths/source.yaml
Labels: Documentation :book:, Frontend, review-app

#13149 Include `cacheonly` and `nodiff` parameters in package diff
  src/api/app/controllers/source_controller.rb
Labels: Frontend
