Repository openSUSE/open-build-service, pull requests merged in 2022-07, with the labels that each got.

#12730 Fix rendering not found package for AJAX requests
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend

#12749 Change CVE download URL from HTTP to HTTPS
  src/api/app/models/issue_tracker.rb
  src/api/test/unit/issue_test.rb
Labels: Frontend

#12750 Fix names of validation methods in model Attrib
  src/api/app/models/attrib.rb
Labels: Frontend

#12751 Remove unnecessary Rails.application from application.rb
  src/api/config/application.rb
Labels: Frontend

#12740 Parse timezone (and abbreviations) for embargo date
  src/api/app/models/project/embargo_handler.rb
  src/api/spec/models/project/embargo_handler_spec.rb
Labels: Frontend

#12772 [backend] set the job state to signing for finished aggregates
  src/backend/BSSched/BuildJob.pm
Labels: Backend

#12759 Use component to delete attributes
  src/api/app/views/webui/attribute/_delete_dialog.html.haml
  src/api/app/views/webui/attribute/index.html.haml
  src/api/spec/features/webui/attributes_spec.rb
Labels: Frontend, review-app

#12760 Use component to delete projects
  src/api/app/views/webui/project/_delete_project_dialog.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/project/show_actions/_delete_project.html.haml
Labels: Frontend, review-app

#12768 Test rack/rake gem versions
  .circleci/conditional_config.yml
  dist/obs-bundled-gems.spec
  src/api/Makefile
Labels: Frontend, Test Suite / CI :syringe:

#12770 [api] improve error message
  src/api/.rubocop_todo.yml
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action/errors.rb
Labels: Frontend, Test Suite / CI :syringe:

#12755 Use component to delete status messages
  src/api/app/components/status_message_component.html.haml
  src/api/app/views/webui/main/_status_message_delete_dialog.html.haml
  src/api/app/views/webui/main/_status_messages.html.haml
  src/api/spec/components/status_message_component_spec.rb
Labels: Frontend, review-app

#12766 Describe what the "Share Token" page is for
  src/api/app/components/token_card_component.html.haml
  src/api/app/views/webui/users/tokens/show.html.haml
  src/api/app/views/webui/users/tokens/users/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/tokens/users/index.html.haml
Labels: Frontend, review-app

#12769 Send metrics about ScmStatusReport#status
  src/api/app/models/workflow_run.rb
  src/api/spec/models/workflow_run_spec.rb
Labels: Frontend

#12763 Use component to delete binaries
  src/api/app/views/webui/package/_delete_binaries_dialog.html.haml
  src/api/app/views/webui/package/binaries.html.haml
  src/api/app/views/webui/package/binaries/_trigger_rebuild_wipe_binaries.html.haml
Labels: Frontend, review-app

#12778 Send metrics about exceptions on ScmStatusReport
  src/api/app/services/scm_exception_handler.rb
  src/api/app/services/scm_status_reporter.rb
Labels: Frontend, Beta

#12786 Report exception to scm status report
  src/api/app/services/scm_exception_handler.rb
  src/api/app/services/scm_status_reporter.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

#12736 Introduce validation for EmbargoDate attribute
  src/api/app/controllers/source_attribute_controller.rb
  src/api/app/models/attrib.rb
  src/api/app/models/project/embargo_handler.rb
  src/api/spec/models/attrib_spec.rb
  src/api/spec/models/project/embargo_handler_spec.rb
  src/api/test/functional/maintenance_test.rb
Labels: Frontend, review-app

#12800 Fix /user/show/:user path
  src/api/config/routes/webui_routes.rb
Labels: Frontend

#12799 Unify metrics for ScmStatusReport
  src/api/app/models/workflow_run.rb
  src/api/app/services/scm_status_reporter.rb
Labels: Frontend

#12789 Introduces perform_active_job example setting
  src/api/spec/support/delayed_job.rb
Labels: Frontend

#12792 Run rake/rack tests only if the bundle changes
  .circleci/conditional_config.yml
  .circleci/config.yml
Labels: Test Suite / CI :syringe:

#12798 Workaround after_destroy_commit loosing Thread variables
  src/api/app/models/user.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#12802 Revert "Workaround after_destroy_commit loosing Thread variables"
  src/api/app/models/user.rb
Labels: Frontend

#12803 Introduces commit_opts[:login] for delete_on_backend
  src/api/app/models/bs_request_action_delete.rb
  src/api/app/models/project.rb
Labels: Frontend

#12646 Refactor scm status reporter
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/gitlab_status_reporter.rb
  src/api/app/services/scm_status_reporter.rb
  src/api/spec/jobs/report_to_scm_job_spec.rb
  src/api/spec/services/github_status_reporter_spec.rb
  src/api/spec/services/gitlab_status_reporter_spec.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

#10847 [api] support listing of confirmed users only
  docs/api/api/api.txt
  src/api/app/controllers/person_controller.rb
  src/api/public/apidocs-new/paths/person.yaml
  src/api/test/functional/person_controller_test.rb
Labels: Documentation :book:, Frontend

#12808 Allow users to manage their own home project and its packages
  src/api/app/models/user.rb
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/sets_the_package.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/sets_the_project.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_not_passing_the_rev_parameter/and_passing_the_page_parameter/returns_the_paginated_revisions_for_the_page_parameter_s_value.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_not_passing_the_rev_parameter/and_passing_the_show_all_parameter/returns_revisions_without_pagination.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_not_passing_the_rev_parameter/returns_revisions_with_the_default_pagination.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_passing_the_rev_parameter/and_passing_the_page_parameter/returns_the_paginated_revisions_for_the_page_parameter_s_value.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_passing_the_rev_parameter/and_passing_the_show_all_parameter/returns_revisions_up_to_rev_parameter_s_value_without_pagination.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_passing_the_rev_parameter/returns_revisions_up_to_rev_parameter_s_value_with_the_default_pagination.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/without_source_access/1_6_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/without_source_access/1_6_1_2.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Frontend, review-app

#12822 Send only exception class name to metrics
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/gitlab_status_reporter.rb
Labels: Frontend

#12784 Add scmsync to OBS SCM/CI integration
  src/api/app/models/branch_package.rb
  src/api/app/models/concerns/scm_sync_enabled_step.rb
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_8_2_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_8_2_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_8_2_3.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_8_2_4.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_8_2_5.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_8_1_1.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_8_1_2.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_8_1_3.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_8_1_4.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_8_1_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_5.yml
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
  src/api/spec/models/workflow/step/link_package_step_spec.rb
Labels: Frontend

#12823 Retire shared_examples 'require logged in user'
  src/api/spec/cassettes/Webui_Cloud_Azure_ConfigurationsController/PUT_update/1_2_1.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_ConfigurationsController/PUT_update/behaves_like_require_logged_in_user/when_proxy_auth_mode_off/1_2_1_3_1.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_ConfigurationsController/PUT_update/behaves_like_require_logged_in_user/when_proxy_auth_mode_on/1_2_1_4_1.yml
  src/api/spec/cassettes/Webui_Cloud_Azure_ConfigurationsController/PUT_update/behaves_like_require_logged_in_user/when_request_is_xhr/returns_Please_login_error.yml
  src/api/spec/controllers/webui/cloud/azure/configurations_controller_spec.rb
  src/api/spec/controllers/webui/staging/projects_controller_spec.rb
  src/api/spec/controllers/webui/staging/workflows_controller_spec.rb
  src/api/spec/controllers/webui/status_messages_controller_spec.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/controllers/webui/users/patchinfos_controller_spec.rb
  src/api/spec/controllers/webui/users/rss_tokens_controller_spec.rb
  src/api/spec/controllers/webui/users/subscriptions_controller_spec.rb
  src/api/spec/controllers/webui/users/tasks_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
  src/api/spec/support/shared_examples/require_logged_in_user.rb
Labels: Frontend

#12820 Allow /public access to files with spaces
  src/api/app/controllers/public_controller.rb
Labels: Frontend

#12824 [api] sanities permission check
  src/api/app/controllers/source_controller.rb
Labels: Frontend, P2, Monkey Patched :see_no_evil:

#12829 Ignore ActionDispatch::Http::MimeNegotiation::InvalidType
  src/api/config/initializers/airbrake.rb
Labels: Frontend

#12828 Some more URL escape fun
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/models/project.rb
Labels: Frontend

#12830 [backend] support sending of a large number of obscpio files
  src/backend/BSCpio.pm
  src/backend/BSSrcrep.pm
  src/backend/BSTar.pm
Labels: Backend

#12834 Add feature toggle "request_show_redesign"
  src/api/config/initializers/flipper.rb
Labels: Frontend

#12816 Unify rescue from Pundit::NotAuthorizedError
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/concerns/rescue_authorization_handler.rb
  src/api/app/controllers/concerns/rescue_handler.rb
  src/api/app/controllers/concerns/webui/rescue_handler.rb
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/controllers/webui/packages/branches_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/spec/controllers/webui/download_on_demand_controller_spec.rb
  src/api/spec/controllers/webui/groups_controller_spec.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/controllers/webui/packages/branches_controller_spec.rb
  src/api/spec/controllers/webui/patchinfo_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/controllers/webui/projects/project_configuration_controller_spec.rb
  src/api/spec/controllers/webui/repositories_controller_spec.rb
  src/api/spec/controllers/webui/staging/projects_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
  src/api/spec/controllers/webui/webui_controller_spec.rb
  src/api/spec/features/webui/attributes_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/test/functional/request_controller_test.rb
Labels: Frontend

#12839 [backend] BSPGP: fix decoding of large old-style pgp packets
  src/backend/BSPGP.pm
Labels: Backend

#12841 Create skeleton for the request show page redesign
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_build_results.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_changes.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_mentioned_issues.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_overview.html.haml
  src/api/config/routes/webui_routes.rb
Labels: Frontend, Beta

#12849 Set horizontal scrolling in request redesign
  src/api/app/assets/stylesheets/webui/tabs.scss
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#12844 Do not overwrite dynamic finder find_by_number! for BsRequest
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/requests/submissions_controller.rb
  src/api/app/models/bs_request.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/test/functional/request_controller_test.rb
Labels: Frontend

#12843 Extract specs and shared examples from beta namespace
  src/api/.rubocop_todo.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/group_roles/Add_an_existing_group.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/group_roles/Add_non_existent_group.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/group_roles/Add_role_to_group.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/group_roles/Remove_role_from_group.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/group_roles/Viewing_group_roles.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Add_an_existing_user.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Add_non_existent_user.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Add_role_to_user.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Remove_role_from_user.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Remove_user_from_package_/_project.yml
  src/api/spec/cassettes/Packages/behaves_like_bootstrap_user_tab/user_roles/Viewing_user_roles.yml
  src/api/spec/features/beta/webui/subscriptions_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/features/webui/subscriptions_spec.rb
  src/api/spec/features/webui/users/notifications_spec.rb
  src/api/spec/support/shared_examples/features/beta/user_tab.rb
  src/api/spec/support/shared_examples/features/bootstrap_user_tab.rb
Labels: Frontend, Test Suite / CI :syringe:

#12853 Improve the style of the request beta_show view
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#12852 Set flash message and redirect instead of raising a non-existant exception NotFoundError
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/watched_items_controller.rb
  src/api/spec/controllers/webui/watched_items_controller_spec.rb
Labels: Frontend

#12842 Simplify require_request method in Webui::RequestController
  src/api/app/controllers/webui/request_controller.rb
  src/api/config/brakeman.ignore
  src/api/spec/controllers/webui/request_controller_spec.rb
Labels: Frontend

#12865 Update Swagger UI version from 4.6.1 to 4.13.0
  src/api/public/apidocs-new/index.css
  src/api/public/apidocs-new/index.html
  src/api/public/apidocs-new/oauth2-redirect.html
  src/api/public/apidocs-new/swagger-initializer.js
  src/api/public/apidocs-new/swagger-ui-bundle.js
  src/api/public/apidocs-new/swagger-ui-bundle.js.map
  src/api/public/apidocs-new/swagger-ui-es-bundle-core.js
  src/api/public/apidocs-new/swagger-ui-es-bundle-core.js.map
  src/api/public/apidocs-new/swagger-ui-es-bundle.js
  src/api/public/apidocs-new/swagger-ui-es-bundle.js.map
  src/api/public/apidocs-new/swagger-ui-standalone-preset.js
  src/api/public/apidocs-new/swagger-ui-standalone-preset.js.map
  src/api/public/apidocs-new/swagger-ui.css
  src/api/public/apidocs-new/swagger-ui.css.map
  src/api/public/apidocs-new/swagger-ui.js
  src/api/public/apidocs-new/swagger-ui.js.map
Labels: Documentation :book:, Frontend

#12836 Use component to delete users/groups
  src/api/app/views/webui/shared/user_or_groups_roles/_delete_dialog.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_index.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_list.html.haml
  src/api/spec/support/shared_examples/features/bootstrap_user_tab.rb
Labels: Frontend

#12864 Clarify how exceptions are caught in request#add_review
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend, Refactoring :factory:

#12861 Display request creator and creation date in request show redesign
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#12277 Can not store files in SCM bridged packages
  src/api/app/controllers/concerns/webui/rescue_handler.rb
  src/api/app/controllers/source/errors.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/files_controller.rb
  src/api/app/models/package.rb
  src/api/app/models/package/errors.rb
  src/api/app/models/service.rb
  src/api/app/views/webui/package/_files_view.html.haml
  src/api/app/views/webui/package/_side_links.html.haml
  src/api/app/views/webui/package/side_links/_show_scmsync.html.haml
Labels: Frontend

#12868 [backend] BSXML.pm update person structure for new watchlist features
  src/backend/BSXML.pm
Labels: Backend

#12869 Add actions to request show redesign
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#12870 Don't render add_reviewer_modal if user doesn't have permission to do so
  src/api/app/views/webui/request/show.html.haml
Labels: Frontend

#12860 Introduce Changes tab for requests show redesign
  src/api/app/assets/javascripts/webui/request.js
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_changes.html.haml
  src/api/app/views/webui/request/request_action_changes.js.erb
  src/api/config/brakeman.ignore
  src/api/config/routes/webui_routes.rb
  src/api/spec/cassettes/SourcediffComponent/with_a_request_with_a_submit_action/renders_the_diff.yml
  src/api/spec/components/previews/sourcediff_component_preview.rb
  src/api/spec/components/sourcediff_component_spec.rb
Labels: Frontend, Beta

#12871 Compress CI artifacts
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

#12872 Link to superseded request in the state badge
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend
