Repository openSUSE/open-build-service, pull requests merged in 2022-08, with the labels that each got.

#12880 Do not crash on workflow run scope when token does not exist
  src/api/app/policies/workflow_run_policy.rb
  src/api/spec/policies/workflow_run_policy_spec.rb
Labels: Frontend

#12875 Silence backend error about excessing missing hash entries
  src/api/config/initializers/airbrake.rb
Labels: Frontend

#12886 Make architecture_name parameter optional
  src/api/public/apidocs-new/paths/published_project_name_repository_name_architecture_name_binary_filename_view_ymp.yaml
Labels: Documentation :book:, Frontend

#12879 Fix missing HistoryElements
  src/api/config/environments/development.rb
Labels: Frontend

#12892 Limit the classes we eager load in development
  src/api/config/environments/development.rb
Labels: Frontend

#12894 Clarify possible confusion about the docker-compose setup
  README.md
Labels: Documentation :book:

#12896 Load the app in production
  .circleci/conditional_config.yml
  src/api/lib/tasks/dev.rake
Labels: Frontend, Test Suite / CI :syringe:

#12739 Don't check directly for an unintialized value
  src/backend/BSSched/BuildJob/Patchinfo.pm
Labels: Backend

#12897 [backend] handle clock jump more gracefully in periodic BSServer code
  src/backend/BSServer.pm
  src/backend/BSSrcServer/Signkey.pm
Labels: Backend

#12858 Merge comments and history elements in a single timeline
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/timeline.scss
  src/api/app/components/bs_request_activity_timeline_component.html.haml
  src/api/app/components/bs_request_activity_timeline_component.rb
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_comment_component.rb
  src/api/app/components/bs_request_history_element_component.html.haml
  src/api/app/components/bs_request_history_element_component.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_overview.html.haml
  src/api/spec/components/bs_request_activity_timeline_component_spec.rb
  src/api/spec/components/bs_request_comment_component_spec.rb
  src/api/spec/components/bs_request_history_element_component_spec.rb
  src/api/spec/components/previews/bs_request_history_element_component_preview.rb
Labels: Frontend, review-app

#12903 Run RuboCop cops from ViewComponent namespace only for view components
  src/api/.rubocop.yml
  src/api/lib/rubocop/cop/view_component/avoid_global_state.rb
  src/api/spec/lib/rubocop/cop/view_component/avoid_global_state_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#12905 Fix history alignment
  src/api/app/components/bs_request_history_element_component.html.haml
Labels: Frontend, Beta

#12907 Add info about request source and target packages
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend, review-app, Beta

#12912 Fix deprecation warning for RuboCop Style/MethodCallWithArgsParentheses cop
  src/api/.rubocop.yml
Labels: Test Suite / CI :syringe:

#12911 Remove unneeded class for heading in request show redesign
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#12914 Disable request_show_redesign feature for beta users
  src/api/config/initializers/flipper.rb
Labels: Frontend

#12916 Enforce naming conventions for view components
  src/api/.haml-lint.yml
  src/api/.rubocop.yml
  src/api/lib/rubocop/cop/view_component/class_name.rb
  src/api/lib/rubocop/cop/view_component/file_name.rb
  src/api/spec/components/previews/comment_component_preview.rb
  src/api/spec/lib/rubocop/cop/view_component/class_name_spec.rb
  src/api/spec/lib/rubocop/cop/view_component/file_name_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#12908 Use same request show action for beta and non-beta users
  src/api/app/controllers/webui/request_controller.rb
  src/api/config/routes/webui_routes.rb
Labels: Frontend, review-app

#12918 Use the correct route in view components for request_show_redesign
  src/api/app/components/bs_request_activity_timeline_component.html.haml
  src/api/app/components/bs_request_history_element_component.html.haml
Labels: Frontend

#12919 Put Iggy in the staff group
  src/api/lib/tasks/dev.rake
Labels: Frontend, review-app

#12926 Mention limitations of the request show redesign
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_build_results.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_mentioned_issues.html.haml
Labels: Frontend

#12863 Add overview and reviewers information
  src/api/app/components/bs_request_activity_timeline_component.html.haml
  src/api/app/components/bs_request_overview_avatars_component.html.haml
  src/api/app/components/bs_request_overview_avatars_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/review.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_overview.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_review_summary.html.haml
Labels: Frontend, review-app

#12915 Handle new comments and replies
  src/api/app/assets/javascripts/webui/comment.js
  src/api/app/components/bs_request_activity_timeline_component.html.haml
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/models/comment.rb
  src/api/app/views/webui/comment/_content.html.haml
  src/api/app/views/webui/comment/beta/_comments_thread.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_overview.html.haml
  src/api/spec/controllers/webui/comments_controller_spec.rb
Labels: Frontend, review-app

#12934 Add a flipper-ui link for OBS admins
  src/api/app/views/layouts/webui/_places.html.haml
Labels: Frontend

#12943 Show build results only if needed
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#12945 Rename Overview tab to Conversation
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation.html.haml
Labels: Frontend

#12921 Add review functionality to request beta show view
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/request_show_redesign/add_review.js
  src/api/app/assets/stylesheets/request_show_redesign/add_review.scss
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/components/add_review_collapsible_component.html.haml
  src/api/app/components/add_review_collapsible_component.rb
  src/api/app/components/add_review_dropdown_component.html.haml
  src/api/app/components/add_review_dropdown_component.rb
  src/api/app/components/request_decision_component.html.haml
  src/api/app/components/request_decision_component.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation.html.haml
Labels: Frontend, review-app

#12944 Display "Changes" tab only for requests with changes
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#12947 Display count of hidden avatars when listing reviewers
  src/api/app/components/bs_request_overview_avatars_component.html.haml
  src/api/app/components/bs_request_overview_avatars_component.rb
Labels: Frontend

#12946 Improve HTML in request show redesign's conversation tab
  src/api/app/views/webui/request/beta_show_tabs/_conversation.html.haml
Labels: Frontend, review-app

#12928 Enable back the request_show_redesign feature toggle
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/config/initializers/flipper.rb
Labels: Frontend

#12935 Fix the flipper link
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/test/functional/webui/spider_test.rb
Labels: Frontend, review-app

#12949 Edit status messages in the web UI
  src/api/app/components/status_message_component.html.haml
  src/api/app/controllers/webui/status_messages_controller.rb
  src/api/app/policies/webui/status_message_policy.rb
  src/api/app/views/webui/status_messages/edit.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/policies/webui/status_message_policy_spec.rb
Labels: Frontend, review-app

#12953 Display a message when there are no users/groups
  src/api/app/views/webui/shared/user_or_groups_roles/_index.html.haml
Labels: Frontend

#12954 Instrument DisabledBetaFeature model
  src/api/app/jobs/measurements_job.rb
Labels: Frontend

#12957 [backend][api] scmsync tracking interfaces
  dist/obs-server.spec
  docs/api/api/api.txt
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/build_controller.rb
  src/api/app/controllers/public_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/config/routes/api_routes.rb
  src/backend/BSSrcServer/SQLite.pm
  src/backend/BSSrcServer/ScmsyncDB.pm
  src/backend/bs_srcserver
Labels: Documentation :book:, Frontend, Backend

#12964 [backend] fix scmsync triggering
  src/backend/BSSrcServer/ScmsyncDB.pm
Labels: Backend

#12963 Document deprecated POST search endpoints
  src/api/public/apidocs-new/paths/search.yaml
  src/api/public/apidocs-new/paths/search_missing_owner.yaml
  src/api/public/apidocs-new/paths/search_owner.yaml
  src/api/public/apidocs-new/paths/search_project_id.yaml
  src/api/public/apidocs-new/paths/search_published_binary_id.yaml
  src/api/public/apidocs-new/paths/search_published_pattern_id.yaml
  src/api/public/apidocs-new/paths/search_published_repoinfo_id.yaml
Labels: Documentation :book:, Frontend, review-app

#12977 Temporarily disable haml-lint's InstanceVariables check
  src/api/app/views/layouts/webui/_footer.html.haml
  src/api/app/views/layouts/webui/_left_navigation_nobody.html.haml
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/webui/kiwi/images/_preferences.html.haml
  src/api/app/views/webui/kiwi/images/_preferences_form.html.haml
  src/api/app/views/webui/kiwi/images/_profiles.html.haml
  src/api/app/views/webui/main/_latest_updates.html.haml
  src/api/app/views/webui/package/_commit_item.html.haml
  src/api/app/views/webui/package/_live_build_log_controls.html.haml
  src/api/app/views/webui/package/_revision_diff_detail_buttons.html.haml
  src/api/app/views/webui/package/_rpmlint_log.html.haml
  src/api/app/views/webui/package/_tabs.html.haml
  src/api/app/views/webui/project/_form.html.haml
  src/api/app/views/webui/project/_monitor_control.html.haml
  src/api/app/views/webui/project/_tabs.html.haml
  src/api/app/views/webui/project/show_actions/_request_to_release.html.haml
  src/api/app/views/webui/projects/pulse/_pulse_list_requests.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_index.html.haml
Labels: Frontend

#12974 Validate limit in OwnerSearch::Base
  src/api/app/models/owner_search/base.rb
  src/api/lib/api_error.rb
Labels: Frontend

#12976 Document search packages endpoints with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/search/collection_packages.yaml
  src/api/public/apidocs-new/paths/search_package.yaml
  src/api/public/apidocs-new/paths/search_package_id.yaml
Labels: Documentation :book:, Frontend, review-app

#12978 Fix offenses for haml-lint InstanceVariables check
  src/api/app/views/webui/main/_latest_updates.html.haml
  src/api/app/views/webui/main/index.html.haml
  src/api/app/views/webui/package/_commit_item.html.haml
  src/api/app/views/webui/package/_files_view.html.haml
  src/api/app/views/webui/package/revisions.html.haml
  src/api/app/views/webui/project/_form.html.haml
  src/api/app/views/webui/project/_monitor_control.html.haml
  src/api/app/views/webui/project/monitor.html.haml
  src/api/app/views/webui/project/new.html.haml
  src/api/app/views/webui/project/show_actions/_request_to_release.html.haml
  src/api/app/views/webui/projects/pulse/_pulse_list_requests.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_index.html.haml
Labels: Frontend

#12986 Add missing deprecated search endpoints
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/search_package__id.yaml
  src/api/public/apidocs-new/paths/search_project__id.yaml
Labels: Documentation :book:, Frontend, review-app

#12988 Document repository search endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/search/collection_repositories.yaml
  src/api/public/apidocs-new/paths/search_repository_id.yaml
Labels: Documentation :book:, Frontend, review-app

#12989 Document search person endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/search/collection_people.yaml
  src/api/public/apidocs-new/paths/search_person.yaml
Labels: Documentation :book:, Frontend, review-app

#12990 Document issue search endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/issue.yaml
  src/api/public/apidocs-new/components/schemas/search/collection_issues.yaml
  src/api/public/apidocs-new/paths/search_issue.yaml
Labels: Documentation :book:, Frontend, review-app

#12987 Address haml-lint's InstanceVariables check in partials and view components
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_component.rb
  src/api/app/components/sourcediff_tab_component.html.haml
  src/api/app/components/sourcediff_tab_component.rb
  src/api/app/views/layouts/webui/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/_bottom_navigation_collapse.html.haml
  src/api/app/views/layouts/webui/_footer.html.haml
  src/api/app/views/layouts/webui/_left_navigation.html.haml
  src/api/app/views/layouts/webui/_left_navigation_nobody.html.haml
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/kiwi/images/_preferences.html.haml
  src/api/app/views/webui/kiwi/images/_preferences_form.html.haml
  src/api/app/views/webui/kiwi/images/_profiles.html.haml
  src/api/app/views/webui/kiwi/images/edit.html.haml
  src/api/app/views/webui/package/_live_build_log_controls.html.haml
  src/api/app/views/webui/package/_revision_diff_detail.html.haml
  src/api/app/views/webui/package/live_build_log.html.haml
  src/api/app/views/webui/package/rdiff.html.haml
  src/api/app/views/webui/request/request_action.js.erb
  src/api/app/views/webui/request/request_action_changes.js.erb
Labels: Frontend

#12980 Document search requests endpoints with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/parameters/request_withfullhistory.yaml
  src/api/public/apidocs-new/components/parameters/request_withhistory.yaml
  src/api/public/apidocs-new/components/schemas/request/request.yaml
  src/api/public/apidocs-new/paths/search_request.yaml
  src/api/public/apidocs-new/paths/search_request_id.yaml
Labels: Documentation :book:, Frontend, review-app

#12993 Reword spec README
  src/api/spec/README.md
Labels: Documentation :book:, Frontend

#12995 Label PRs as documentation when they contain release notes
  .github/labeler.yml
Labels: Test Suite / CI :syringe:

#12994 Mention deprecated API search endpoints in the release notes
  ReleaseNotes-2.11
Labels: Documentation :book:

#12996 Move "GET /attribute/{namespace}" endpoint documentation under Attributes
  src/api/public/apidocs-new/paths/attribute_namespace.yaml
Labels: Documentation :book:, Frontend, review-app

#12997 Fix search endpoints where match parameter is required
  src/api/public/apidocs-new/paths/search_package.yaml
  src/api/public/apidocs-new/paths/search_person.yaml
  src/api/public/apidocs-new/paths/search_project.yaml
Labels: Documentation :book:, Frontend, review-app

#12985 Document search channel endpoints
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/channel/channel.yaml
  src/api/public/apidocs-new/components/schemas/channel/collection.yaml
  src/api/public/apidocs-new/paths/search_channel.yaml
  src/api/public/apidocs-new/paths/search_channel_binary.yaml
  src/api/public/apidocs-new/paths/search_channel_binary_id.yaml
Labels: Documentation :book:, Frontend, review-app

#12564 [api] fix do not auto decline request with an embargo date
  src/api/app/models/bs_request.rb
Labels: Frontend

#12999 Call `Backend::Test.start` only when necessary
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/search_controller.rb
  src/api/app/controllers/webui/search_controller.rb
  src/api/app/lib/backend/connection.rb
  src/api/spec/support/backend.rb
  src/api/test/unit/bs_request_test.rb
Labels: Frontend

#13004 Enable to 'force' acceptable staging projects
  src/api/app/models/concerns/staging_project.rb
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#13000 Update documentation of search owner endpoint with OpenAPI
  src/api/public/apidocs-new/paths/search_owner.yaml
Labels: Documentation :book:, Frontend

#13007 Remove obsolete `plugin` script
  src/api/script/plugin
Labels: Frontend

#13006 Remove not needed rubygem_package_names.rb script
  src/api/script/rubygem_package_names.rb
Labels: Frontend

#13015 Migrate test/models/event_test.rb to RSpec
  src/api/spec/models/event/factory_spec.rb
  src/api/test/models/event_test.rb
Labels: Frontend

#13019 Revert "Configure parameter parsers with ActionDispatch::Request.parameter_parsers="
  src/api/config/initializers/wrap_parameters.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#13021 Preparation for Rails 7 - Refactor wrap_parameters.rb initializer
  src/api/config/initializers/prefer_xml_over_html.rb
  src/api/config/initializers/wrap_parameters.rb
Labels: Frontend
