Repository openSUSE/open-build-service, pull requests merged in 2022-10, with the labels that each got.

#13162 Fix alignment of added/removed lines in CodeRay
  src/api/app/assets/stylesheets/webui/coderay.scss
Labels: Frontend, review-app

#13146 Document package showlinked command with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/responses/unknown_project_or_package.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_showlinked.yaml
Labels: Documentation :book:, Frontend, review-app

#13155 Document package diff command with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_diff.yaml
Labels: Documentation :book:, Frontend, review-app

#13163 Sort remote Distributions last
  src/api/app/controllers/webui/distributions_controller.rb
Labels: Frontend

#13168 [backend] implement container attestation generation and publishing
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/BSRekor.pm
  src/backend/BSRepServer/Containertar.pm
  src/backend/BSRepServer/SLSA.pm
  src/backend/BSSched/PublishRepo.pm
  src/backend/bs_publish
  src/backend/bs_repserver
  src/backend/bs_signer
  src/backend/bs_worker
Labels: Backend

#13179 [backend] implement attestation support for external registries
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Container.pm
  src/backend/bs_regpush
Labels: Backend

#13177 Document package services commands with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_runservice.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_waitservice.yaml
Labels: Documentation :book:, Frontend, review-app

#13186 [backend] bs_publish: fix typo in cosign args generation
  src/backend/BSPublisher/Container.pm
Labels: Backend

#13183 [backend] create output dir before reconstruct_container
  src/backend/bs_publish
Labels: Backend

#13173 Document package undelete command with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_undelete.yaml
Labels: Documentation :book:, Frontend, review-app

#13190 [backend] also aggregate meta files when aggregating containers
  src/backend/BSSched/BuildJob/Aggregate.pm
Labels: Backend

#13174 Document package set_flag/remove_flag commands with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_remove_flag.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_set_flag.yaml
Labels: Documentation :book:, Frontend, review-app

#13167 OpenAPI specifications to list project files
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/source/project_files.yaml
  src/api/public/apidocs-new/paths/source_project_name_project.yaml
Labels: Documentation :book:, Frontend

#13192 OpenAPI specifications for project's attributes
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/source/attributes.yaml
  src/api/public/apidocs-new/paths/source_project_name_attribute_name.yaml
Labels: Documentation :book:, Frontend

#13184 OpenAPI specifications to delete project
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name.yaml
Labels: Documentation :book:, Frontend

#13180 OpenAPI specification to read and delete pubkey
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_pubkey.yaml
Labels: Documentation :book:, Frontend

#13193 [backend] SLSA: fix write_container call
  src/backend/BSNotify.pm
  src/backend/BSRepServer/SLSA.pm
  src/backend/BSSched/Blobstore.pm
  src/backend/BSSched/BuildJob/Aggregate.pm
  src/backend/BSServerEvents.pm
  src/backend/BSStdServer.pm
  src/backend/bs_publish
  src/backend/bs_worker
Labels: Backend

#13170 OpenAPI specifications to list patterns of a project
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/source/project_pattern.yaml
  src/api/public/apidocs-new/paths/source_project_name_pattern.yaml
Labels: Documentation :book:, Frontend

#13195 Document package linkdiff command with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/parameters/diff_file.yaml
  src/api/public/apidocs-new/components/parameters/diff_filelimit.yaml
  src/api/public/apidocs-new/components/parameters/diff_linkrev.yaml
  src/api/public/apidocs-new/components/parameters/diff_onlyissues.yaml
  src/api/public/apidocs-new/components/parameters/diff_rev.yaml
  src/api/public/apidocs-new/components/parameters/diff_tarlimit.yaml
  src/api/public/apidocs-new/components/parameters/diff_unified.yaml
  src/api/public/apidocs-new/components/parameters/diff_view.yaml
  src/api/public/apidocs-new/components/parameters/diff_withissues.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_diff.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_linkdiff.yaml
Labels: Documentation :book:, Frontend, review-app

#13154 Document package copy command with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_copy.yaml
Labels: Documentation :book:, Frontend

#13191 Document package mergeservice command with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/revision.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_mergeservice.yaml
Labels: Documentation :book:, Frontend, review-app

#13194 OpenAPI specifications for source project config
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_config.yaml
Labels: Documentation :book:, Frontend

#13196 Document package servicediff command with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_servicediff.yaml
Labels: Documentation :book:, Frontend, review-app

#13205 [backend] support a manifestinfo describing container contents
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Containerinfo.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_publish
  src/backend/bs_regpush
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Backend

#13156 Move Package.download_url_for_binary back to PackageController
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/models/package.rb
  src/api/app/views/webui/package/binaries.html.haml
  src/api/spec/features/webui/packages_spec.rb
Labels: Frontend

#13209 [backend] report file generation: ignore the license when checking for a basepackage
  src/backend/bs_worker
Labels: Backend

#13213 Display relevant information about the actions in the action selector
  src/api/app/views/webui/request/_action_text.html.haml
Labels: Frontend, review-app

#13212 Generalize tab anchor links (I)
  src/api/app/assets/javascripts/webui/request.js
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend, review-app, Beta

#13216 Generalize tab anchor links (II)
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/nav_tabs.js
  src/api/app/assets/javascripts/webui/user_profile.js
  src/api/app/components/workflow_run_detail_component.html.haml
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/groups/show.html.haml
  src/api/app/views/webui/kiwi/_tabs.html.haml
  src/api/app/views/webui/kiwi/images/_build_info.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/_handle_request.html.haml
  src/api/app/views/webui/request/_request_comments.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/show.html.haml
  src/api/app/views/webui/search/_tabs.html.haml
  src/api/app/views/webui/shared/_buildresult_box.html.haml
  src/api/app/views/webui/user/_involvement.html.haml
  src/api/app/views/webui/user/_involvement_and_activity.html.haml
  src/api/app/views/webui/users/tasks/index.html.haml
Labels: Frontend, review-app

#13218 Fix documetation of boolean fields in projects' build results
  src/api/public/apidocs-new/paths/build_project_name_result.yaml
Labels: Documentation :book:, Frontend, review-app

#13226 Move review request action button closer to context area
  src/api/app/views/webui/request/_actions.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation.html.haml
Labels: Frontend

#13225 Remove use of CSS class details-with-coderay
  src/api/app/assets/javascripts/webui/packages.js
  src/api/app/views/webui/package/_revision_diff_detail.html.haml
Labels: Frontend, review-app

#13224 Add new tab RPM Lint in request page
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_rpm_lint_result.html.haml
Labels: Frontend, review-app, Beta

#13229 Prepend file index to the line link
  src/api/app/helpers/application_helper.rb
  src/api/app/views/webui/package/_revision_diff_detail.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend, review-app

#13234 Let the 'ask for a review' button be visible always
  src/api/app/views/webui/request/beta_show_tabs/_conversation.html.haml
Labels: Frontend, Monkey Patched :see_no_evil:, review-app

#13239 Generalize tab selection and diff URL for multi action request
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_tab_component.html.haml
  src/api/app/helpers/application_helper.rb
  src/api/app/views/webui/package/_revision_diff_detail.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend, review-app

#13233 Remove the user parameter from the documentation
  src/api/public/apidocs-new/paths/source_project_name_cmd_freezelink.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_copy.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_mergeservice.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_undelete.yaml
Labels: Documentation :book:, Frontend, review-app

#13231 Move BsRequest.actions_summary to Event::Request
  src/api/app/models/bs_request.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/request.rb
Labels: Frontend

#13236 Isolate and slightly refactor build results' code
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/buildresult.js
  src/api/app/assets/javascripts/webui/request_show_redesign/build_results.js
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_build_results.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_build_status.html.haml
Labels: Frontend, review-app, Beta

#13246 Add action_id to rdiff
  src/api/app/views/webui/package/rdiff.html.haml
Labels: Frontend, Monkey Patched :see_no_evil:

#13217 Show comments and activity from superseded requests
  src/api/app/assets/stylesheets/webui/collapse-component.scss
  src/api/app/assets/stylesheets/webui/timeline.scss
  src/api/app/components/bs_request_activity_timeline_component.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation.html.haml
Labels: Frontend, review-app

#13254 Attach line reference anchor to the URL
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#13251 [backend] fix handling of sigstore data
  src/backend/BSASN1.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_regpush
Labels: Backend

#13252 Remove request-icon and replace it with an fa icon
  src/api/app/assets/images/icons/LICENSE.md
  src/api/app/assets/images/icons/request-icon.svg
  src/api/app/assets/stylesheets/webui/new_watchlist/watchlist.scss
  src/api/app/components/notification_component.rb
  src/api/app/components/watched_items_list_component.html.haml
Labels: Documentation :book:, Frontend

#13247 Fix issue retrieving building_package
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_build_results.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_rpm_lint_result.html.haml
Labels: Frontend, Monkey Patched :see_no_evil:, review-app

#13240 Refactor EventMailer
  src/api/app/jobs/send_event_emails_job.rb
  src/api/app/mailers/event_mailer.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/build.rb
  src/api/app/models/event/request.rb
  src/api/app/views/layouts/event_mailer.text.erb
  src/api/spec/cassettes/EventMailer/_notification_email/for_an_event_of_type_Event_CommentForProject/gets_delivered.yml
  src/api/spec/cassettes/EventMailer/_notification_email/for_an_event_of_type_Event_CommentForProject/has_a_subject.yml
  src/api/spec/cassettes/EventMailer/_notification_email/for_an_event_of_type_Event_CommentForProject/has_custom_headers.yml
  src/api/spec/cassettes/EventMailer/_notification_email/for_an_event_of_type_Event_CommentForProject/has_subscribers.yml
  src/api/spec/cassettes/EventMailer/_notification_email/for_an_event_of_type_Event_CommentForProject/has_the_default_headers.yml
  src/api/spec/cassettes/EventMailer/_notification_email/for_an_event_of_type_Event_CommentForProject/renders_links_absolute.yml
  src/api/spec/cassettes/EventMailer/_notification_email/for_an_event_of_type_Event_CommentForProject/when_comment_contains_emoji/1_1_2_8_1.yml
  src/api/spec/cassettes/EventMailer/_notification_email/for_an_event_of_type_Event_CommentForProject/when_comment_contains_emoji/1_1_2_8_2.yml
  src/api/spec/cassettes/EventMailer/_notification_email/for_an_event_of_type_Event_CommentForProject/when_originator_is_subscribed/does_not_send_to_the_originator.yml
  src/api/spec/cassettes/EventMailer/_notification_email/for_an_event_of_type_Event_Request/uses_default_for_FROM_if_display_name_does_not_exist.yml
  src/api/spec/cassettes/EventMailer/_notification_email/for_an_event_of_type_Event_Request/uses_display_name_for_FROM_if_originator_exists.yml
  src/api/spec/cassettes/EventMailer/_notification_email/for_an_event_of_type_Event_Request/when_source_project_does_not_exist/the_email_also_gets_delivered.yml
  src/api/spec/jobs/send_event_emails_job_spec.rb
  src/api/spec/mailers/event_mailer_spec.rb
  src/api/test/unit/event_mailer_test.rb
Labels: Frontend

#13262 Don't allow unconfirmed users to trigger tokens through webui
  src/api/app/policies/token_policy.rb
  src/api/spec/components/token_card_component_spec.rb
  src/api/spec/policies/token_policy_spec.rb
Labels: Frontend

#13243 Redesign UI of the build results tab
  src/api/app/assets/javascripts/webui/request_show_redesign/build_results.js
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/helpers/webui/buildresult_helper.rb
  src/api/app/views/webui/request/beta_show_tabs/_build_status.html.haml
Labels: Frontend, review-app, Beta

#13263 Fix actions' hrefs when the url contains a line diff
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_tab_component.html.haml
  src/api/app/helpers/application_helper.rb
  src/api/app/views/webui/package/_revision_diff_detail.html.haml
  src/api/app/views/webui/package/rdiff.html.haml
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend, review-app

#13267 [backend] BSX509 add oids for sha512 and pkcs7
  src/backend/BSASN1.pm
  src/backend/BSX509.pm
Labels: Backend

#13232 [api] fix incomplete releases via token
  src/api/app/controllers/concerns/rescue_authorization_handler.rb
  src/api/app/models/token/release.rb
  src/api/app/policies/token/release_policy.rb
  src/api/spec/controllers/trigger_controller_spec.rb
Labels: Frontend

#13268 [backend] internal registry: implement pagination support
  src/backend/BSRegistryServer.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Backend

#13271 [backend] bs_regpush: try to directly delete tags
  src/backend/bs_regpush
Labels: Backend

#13274 Update Swagger UI version from 4.13.0 to 4.15.1
  src/api/public/apidocs-new/oauth2-redirect.html
  src/api/public/apidocs-new/swagger-ui-bundle.js
  src/api/public/apidocs-new/swagger-ui-bundle.js.map
  src/api/public/apidocs-new/swagger-ui-es-bundle-core.js
  src/api/public/apidocs-new/swagger-ui-es-bundle-core.js.map
  src/api/public/apidocs-new/swagger-ui-es-bundle.js
  src/api/public/apidocs-new/swagger-ui-es-bundle.js.map
  src/api/public/apidocs-new/swagger-ui-standalone-preset.js
  src/api/public/apidocs-new/swagger-ui-standalone-preset.js.map
  src/api/public/apidocs-new/swagger-ui.css
  src/api/public/apidocs-new/swagger-ui.css.map
  src/api/public/apidocs-new/swagger-ui.js
  src/api/public/apidocs-new/swagger-ui.js.map
Labels: Documentation :book:, Frontend, review-app

#13277 Remove reference to the user.rng schema in the GET watchlist endpoint documentation
  src/api/public/apidocs-new/paths/watchlist.yaml
Labels: Documentation :book:, Frontend, review-app

#13169 Add the build results badge for the package
  src/api/app/assets/images/badge-failed.svg
  src/api/app/assets/images/badge-percent.svg
  src/api/app/assets/images/badge-succeeded.svg
  src/api/app/assets/images/badge-unknown.svg
  src/api/app/controllers/webui/packages/badge_controller.rb
  src/api/app/models/local_build_result/for_package.rb
  src/api/app/models/package.rb
  src/api/config/routes/webui_routes.rb
  src/api/spec/cassettes/Badge/with_failing_and_succeeding_build_results/displays_the_correct_failed_state.yml
  src/api/spec/cassettes/Badge/with_failing_and_succeeding_build_results/displays_the_correct_percentage.yml
  src/api/spec/cassettes/Badge/with_succeeding_build_results/displays_the_correct_percentage.yml
  src/api/spec/cassettes/Badge/with_succeeding_build_results/displays_the_suceeded_state.yml
  src/api/spec/cassettes/Badge/without_build_results/displays_the_correct_unknown_state.yml
  src/api/spec/cassettes/Badge/without_build_results/displays_the_correct_unknown_state_despite_percent_type.yml
  src/api/spec/cassettes/Package/_buildresult/returns_an_object_with_class_LocalBuildResult_ForPackage.yml
  src/api/spec/cassettes/Packages/log/download_logfile_succesfully.yml
  src/api/spec/features/webui/badge_spec.rb
  src/api/spec/features/webui/packages_spec.rb
Labels: Frontend, review-app

#13283 Fix RuboCop offense RSpec/Rails/InferredSpecType
  src/api/spec/features/webui/badge_spec.rb
Labels: Frontend

#13288 [backend] get rid of "uninitialized value" warnings if a worker runs …
  src/backend/bs_worker
Labels: Backend
