Repository openSUSE/open-build-service, pull requests merged in 2023-11, with the labels that each got.

#15145 Remove or reduce size of cassettes used in staging project specs
  src/api/spec/cassettes/Project/Staging_Project/_accept/when_the_staging_project_is_using_pre-approved_requests/staged_requests_should_be_accepted_by_approver/1_1_7_4_1_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_accept/when_the_staging_project_is_using_pre-approved_requests/staged_requests_should_be_accepted_by_approver/1_1_7_4_1_2.yml
  src/api/spec/cassettes/Project/Staging_Project/_accept/when_the_staging_project_is_using_pre-approved_requests/staged_requests_should_be_accepted_by_approver/1_1_7_4_1_3.yml
  src/api/spec/cassettes/Project/Staging_Project/_accept/when_the_staging_project_is_using_pre-approved_requests/staged_requests_should_be_accepted_by_approver/1_1_7_4_1_4.yml
  src/api/spec/cassettes/Project/Staging_Project/_accept/when_the_staging_project_is_using_pre-approved_requests/staged_requests_should_be_accepted_by_approver/1_1_7_4_1_5.yml
  src/api/spec/cassettes/Project/Staging_Project/_accept/when_the_staging_project_is_using_pre-approved_requests/staged_requests_should_be_accepted_by_approver/1_1_7_4_1_6.yml
  src/api/spec/cassettes/Project/Staging_Project/_assign_managers_group/when_the_group_was_already_assigned/1_1_4_2_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_assign_managers_group/when_the_group_wasn_t_assigned_before/1_1_4_1_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_copy/1_1_6_2.yml
  src/api/spec/cassettes/Project/Staging_Project/_copy/copies_flags.yml
  src/api/spec/cassettes/Project/Staging_Project/_copy/copies_the_project_config.yml
  src/api/spec/cassettes/Project/Staging_Project/_copy/copies_the_relationships.yml
  src/api/spec/cassettes/Project/Staging_Project/_copy/copies_the_repositories_and_it_s_relations.yml
  src/api/spec/cassettes/Project/Staging_Project/_copy/creates_a_new_staging_project.yml
  src/api/spec/cassettes/Project/Staging_Project/_copy/when_the_repository_contains_path_elements_that_link_to_repositories_of_the_same_project/ensures_that_the_new_created_path_is_also_self_referencing.yml
  src/api/spec/cassettes/Project/Staging_Project/_copy/when_the_repository_contains_path_elements_that_link_to_repositories_of_the_same_project/renames_the_repository_link_if_it_contains_a_reference_to_the_project.yml
  src/api/spec/cassettes/Project/Staging_Project/_missing_reviews/contains_all_open_reviews_of_staged_requests.yml
  src/api/spec/cassettes/Project/Staging_Project/_missing_reviews/when_there_is_an_accepted_review/1_1_1_2_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_request_got_revoked/1_1_3_2_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_failed_checks_on_build_repo/1_1_3_7_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_failed_checks_on_build_repo/1_1_3_7_2.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_failed_checks_on_published_repo/1_1_3_6_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_missing_checks_on_build_repo/1_1_3_4_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_missing_checks_on_published_repo/1_1_3_3_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_no_staged_requests/1_1_3_1_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_pending_checks/1_1_3_5_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_there_are_succeeded_checks/1_1_3_8_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_we_only_have_outdated_checks/1_1_3_9_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_we_only_have_outdated_checks/1_1_3_9_2.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/when_we_only_have_outdated_checks/1_1_3_9_3.yml
  src/api/spec/cassettes/Project/Staging_Project/_overall_state/with_disabled_repository/1_1_3_10_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_unassign_managers_group/1_1_5_1.yml
  src/api/spec/cassettes/Project/Staging_Project/_untracked_requests/1_1_2_1.yml
Labels: Frontend

#15149 [backend] BSRPC: fix typo in call_authenticator
  src/backend/BSRPC.pm
  src/backend/BSSched/Remote.pm
  src/backend/BSStdServer.pm
Labels: Backend

#15150 Autocorrect RuboCop offenses outside `src/api/`
  .rubocop_todo.yml
  dist/t/spec/features/0010_authentication_spec.rb
  dist/t/spec/features/0020_interconnect_spec.rb
  dist/t/spec/features/0030_project_spec.rb
  dist/t/spec/features/0040_package_spec.rb
  dist/t/spec/spec_helper.rb
  dist/t/spec/support/capybara.rb
Labels: Test Suite / CI :syringe:

#15151 Autocorrect some RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/packages/build_log_controller.rb
  src/api/app/helpers/webui/package_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/lib/backend/test.rb
  src/api/app/models/branch_package/check_for_update.rb
  src/api/app/models/kiwi/repository.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/updateinfo_counter.rb
  src/api/spec/controllers/webui/cloud/upload_jobs_controller_spec.rb
  src/api/spec/jobs/update_released_binaries_job_spec.rb
  src/api/test/functional/backend_test.rb
  src/api/test/functional/webui/spider_test.rb
  src/api/test/functional/zzz_post_consistency_test.rb
Labels: Frontend, Test Suite / CI :syringe:

#15155 Autocorrect RuboCop offenses in migrations
  .github/workflows/isolated_migrations.yml
  src/api/.rubocop_todo.yml
  src/api/db/data/20170831143534_convert_notifications_event_payload_to_json.rb
  src/api/db/migrate/20180516074538_explicitly_set_charset.rb
  src/api/db/migrate/20210511201658_add_data_migrations_table.rb
Labels: Frontend, Test Suite / CI :syringe:

#15154 [backend] setup sshauth before calling the server() function
  src/backend/BSRPC.pm
  src/backend/BSSigAuth.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Backend

#15158 Autocorrect some RuboCop offenses (IV)
  src/api/.rubocop_todo.yml
  src/api/app/lib/suse/permission.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/configuration.rb
  src/api/app/models/issue_tracker.rb
  src/api/app/models/project.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/jobs/consistency_check_job_spec.rb
  src/api/test/functional/source_controller_test.rb
Labels: Frontend, Test Suite / CI :syringe:

#15153 Autocorrect some RuboCop offenses (III)
  .github/workflows/isolated_migrations.yml
  src/api/.rubocop_todo.yml
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/source_attribute_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_project_meta_controller.rb
  src/api/app/controllers/source_project_package_meta_controller.rb
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/controllers/webui/projects/status_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/jobs/consistency_check_job.rb
  src/api/app/models/branch_package.rb
  src/api/app/models/branch_package/check_for_update.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_maintenance_incident.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/channel.rb
  src/api/app/models/channel_binary.rb
  src/api/app/models/concerns/has_attributes.rb
  src/api/app/models/configuration.rb
  src/api/app/models/package.rb
  src/api/app/models/patchinfo.rb
  src/api/app/models/project.rb
  src/api/app/models/project/update_from_xml_command.rb
  src/api/app/models/repository.rb
  src/api/app/policies/package_policy.rb
  src/api/app/policies/token/release_policy.rb
  src/api/db/attribute_descriptions.rb
  src/api/lib/memory_debugger.rb
  src/api/lib/pretty_nested_errors/key_and_messages_parser.rb
  src/api/lib/tasks/statistics/github/issues.rake
  src/api/lib/tasks/statistics/github/pull_requests.rake
  src/api/lib/xpath_engine.rb
  src/api/script/import_database.rb
  src/api/script/reformat_memprof
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
  src/api/test/functional/backend_test.rb
  src/api/test/functional/channel_maintenance_test.rb
  src/api/test/functional/maintenance_test.rb
  src/api/test/functional/read_permission_test.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/functional/search_controller_test.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/node_matcher.rb
Labels: Frontend, Test Suite / CI :syringe:

#15161 Move logic to fetch open reviews to a finder class
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/queries/reviews_finder.rb
Labels: Frontend, Refactoring :factory:

#15164 Use `revoke_request` policy in `request_decision_component`
  src/api/app/components/request_decision_component.html.haml
  src/api/app/components/request_decision_component.rb
Labels: Frontend, Refactoring :factory:

#15163 [backend] BSRPC: refactor cookiestore handling
  src/backend/BSRPC.pm
  src/backend/BSSigAuth.pm
  src/backend/BSWatcher.pm
Labels: Backend

#15177 [backend] BSRPC::updatecookies: evict cookies with the same name from…
  src/backend/BSRPC.pm
  src/backend/BSWatcher.pm
Labels: Backend

#15162 Add missing preview for write_and_preview_component
  src/api/.rubocop_todo.yml
  src/api/spec/components/previews/write_and_preview_component_preview.rb
Labels: Frontend, Test Suite / CI :syringe:

#15172 Correct manually some RuboCop offenses (VI)
  src/api/.rubocop_todo.yml
  src/api/spec/controllers/person_controller_spec.rb
  src/api/spec/lib/backend/connection_helper_spec.rb
  src/api/spec/models/bs_request/find_for/user_spec.rb
  src/api/spec/models/kiwi/repository_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#15186 Correct manually `RSpec/InstanceVariable` RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/spec/controllers/public_controller_spec.rb
  src/api/spec/controllers/webui/monitor_controller_spec.rb
  src/api/spec/controllers/webui/patchinfo_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/helpers/webui/webui_helper_spec.rb
  src/api/spec/models/backend/file_spec.rb
  src/api/spec/models/bs_request_spec.rb
  src/api/spec/models/relationship_spec.rb
  src/api/spec/models/review_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#15181 Add missing attribute types to `db/seeds.rb`
  .github/workflows/isolated_migrations.yml
  src/api/db/attribute_descriptions.rb
  src/api/db/data/20231106165306_add_branch_skip_repositories_to_attrib_types.rb
  src/api/db/data/20231107095249_add_planned_release_date_to_attrib_types.rb
  src/api/db/data/20231107100650_add_enforce_revisions_in_requests_to_attrib_types.rb
  src/api/db/data_schema.rb
  src/api/db/seeds.rb
Labels: Frontend, Test Suite / CI :syringe:

#15174 Correct manually `RSpec/RepeatedExampleGroupDescription` RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/non_existent_repository/lets_the_user_know_there_was_an_error.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/non_existent_repository/redirects_to_the_package_binaries_path.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/user_not_being_a_maintainer_of_a_package/1_10_4_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/user_not_being_a_maintainer_of_a_package/1_10_4_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_succeeds/1_10_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_succeeds/1_10_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_with_maintainer_of_package/1_10_3_1.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/helpers/webui/package_helper_spec.rb
  src/api/spec/models/bs_request/find_for/user_spec.rb
  src/api/spec/models/project_status/pack_info_spec.rb
  src/api/spec/models/users/requests_spec.rb
  src/api/spec/policies/user_policy_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#15160 Address some RuboCop offenses from the main `.rubocop.yml` file
  src/api/.rubocop.yml
  src/api/spec/cassettes/Webui_PackageController/DELETE_wipe_binaries/when_wiping_binaries_fails/lets_the_user_know_there_was_an_error.yml
  src/api/spec/cassettes/Webui_PackageController/DELETE_wipe_binaries/when_wiping_binaries_fails/redirects_to_package_binaries.yml
  src/api/spec/cassettes/Webui_PackageController/DELETE_wipe_binaries/when_wiping_binaries_succeeds/1_1_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_a_valid_project_and_an_invalid_architecture/1_1_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_a_valid_project_and_an_invalid_architecture/1_1_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_an_invalid_project/1_1_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_an_invalid_project/1_1_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_3.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_4.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_5.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/1_1_5_6.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repositories_and_a_filename/and_fileinfo_is_nil/1_1_5_7_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repository_and_an_invalid_repository/1_1_4_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture/repository_and_an_invalid_repository/1_1_4_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture_and_an_invalid_repository/1_1_3_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_dependency/when_passing_params_referring_to_valid_project/architecture_and_an_invalid_repository/1_1_3_2.yml
  src/api/spec/controllers/webui/package_controller/binaries.spec
  src/api/spec/controllers/webui/package_controller_dependency_spec.rb
  src/api/spec/controllers/webui/package_controller_wipe_binaries_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#15192 [backend] change default back to gz for create/modifyrepo
  src/backend/bs_publish
Labels: Backend

#15193 Fix misspelling of 'existant' to 'existent'
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/non_existent_repository/lets_the_user_know_there_was_an_error.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/non_existent_repository/redirects_to_the_package_binaries_path.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_package/1_1_1_5_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_package/1_1_1_5_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_project/1_1_1_6_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_project/1_1_1_6_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_architecture/1_1_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_architecture/1_1_3_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_repository/1_1_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_repository/1_1_2_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_package/1_2_1_5_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_package/1_2_1_5_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_project/1_2_1_6_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_project/1_2_1_6_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_architecture/1_2_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_architecture/1_2_3_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_repository/1_2_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_repository/1_2_2_2.yml
  src/api/spec/controllers/person/token_controller_spec.rb
  src/api/spec/controllers/staging/excluded_requests_controller_spec.rb
  src/api/spec/controllers/statistics/maintenance_statistics_controller_spec.rb
  src/api/spec/controllers/status/checks_controller_spec.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/controllers/webui/packages/build_log_controller_spec.rb
  src/api/spec/controllers/webui/requests/devel_project_changes_controller_spec.rb
  src/api/spec/models/project/update_from_xml_command_spec.rb
  src/api/test/functional/source_controller_test.rb
  src/api/test/unit/package_test.rb
  src/api/test/unit/user_test.rb
Labels: Frontend

#15194 Adapt Bootstrap classes to make it easier introducing color modes
  src/api/app/assets/javascripts/webui/monitor.js
  src/api/app/assets/stylesheets/webui/colors.scss
  src/api/app/assets/stylesheets/webui/patchinfo.scss
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
  src/api/app/components/bs_request_state_badge_component.rb
  src/api/app/components/chart_component.rb
  src/api/app/components/workflow_run_header_component.html.haml
  src/api/app/components/workflow_run_header_component.rb
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/components/workflow_run_status_badge_component.rb
  src/api/app/datatables/package_datatable.rb
  src/api/app/helpers/webui/projects/category_helper.rb
  src/api/app/models/scm_status_report.rb
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/layouts/webui/_unread_notifications_counter.html.haml
  src/api/app/views/webui/groups/show.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/patchinfo/show.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/projects/maintenance_incidents/index.html.haml
  src/api/app/views/webui/repositories/_repository_entry.html.haml
  src/api/app/views/webui/request/_request_comments.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_request_tabs.html.haml
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/app/views/webui/user/_edit_account_form.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/user/_involvement.html.haml
  src/api/app/views/webui/user/_tabs_profile.html.haml
  src/api/app/views/webui/users/tasks/index.html.haml
  src/api/spec/components/previews/card_component_preview.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/vendor/assets/stylesheets/tokenfield.scss
Labels: Frontend, review-app

#15176 Unsafe autocorrect some Performance RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/public_controller.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/controllers/webui/kiwi/images_controller.rb
  src/api/app/helpers/webui/package_helper.rb
  src/api/app/lib/backend/test.rb
  src/api/app/models/event/request.rb
  src/api/app/models/package.rb
  src/api/app/models/updateinfo_counter.rb
  src/api/app/services/staging/staging_project_creator.rb
  src/api/app/services/user_service/involved.rb
  src/api/test/functional/webui/spider_test.rb
  src/api/test/functional/zzz_post_consistency_test.rb
Labels: Frontend, Test Suite / CI :syringe:

#15180 Make attrib tables static for RSpec tests
  src/api/db/seeds.rb
  src/api/spec/cassettes/BsRequestAction/check_expand_errors/RevisionEnforcing_enabled/adds_revision.yml
  src/api/spec/cassettes/BsRequestAction/check_expand_errors/RevisionEnforcing_enabled/with__link_in_submitted_source/adds_revision.yml
  src/api/spec/cassettes/BsRequestAction/check_expand_errors/RevisionEnforcing_enabled/with__link_in_submitted_source/freezes_revision.yml
  src/api/spec/cassettes/BsRequestAction/check_expand_errors/RevisionEnforcing_enabled/with__link_in_submitted_source/with_updatelink/throws_exception.yml
  src/api/spec/cassettes/BsRequestAction/check_expand_errors/Without_RevisionEnforcing/doesn_t_add_revision.yml
  src/api/spec/factories/attribs.rb
  src/api/spec/models/bs_request_action_spec.rb
  src/api/spec/support/database_cleaner.rb
Labels: Frontend

#15185 Correct manually `Performance/CollectionLiteralInLoop` RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/concerns/webui/project_build_result_parsing.rb
  src/api/app/models/concerns/has_relationships.rb
  src/api/lib/memory_debugger.rb
  src/api/lib/tasks/extract.rake
  src/api/script/reformat_memprof
  src/api/test/functional/backend_test.rb
Labels: Frontend, Test Suite / CI :syringe:

#15178 Remove call to update Configuration in database cleaner
  src/api/spec/factories/users.rb
  src/api/spec/lib/statistics_calculations_spec.rb
  src/api/spec/support/database_cleaner.rb
Labels: Frontend

#15191 Fix `create` action of Webui::GroupsController
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/models/group.rb
  src/api/spec/controllers/webui/groups_controller_spec.rb
  src/api/spec/models/group_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#15200 Don't query the database for configuration fixed fields
  src/api/app/models/configuration.rb
Labels: Frontend

#15198 Fix `GET /configuration` to show default_tracker
  src/api/app/models/configuration.rb
  src/api/public/apidocs/components/schemas/configuration.yaml
Labels: Documentation :book:, Frontend

#15202 Clean up JavaScript leftovers on request redesign
  src/api/app/assets/javascripts/webui/request_show_redesign/bs_request_actions.js
Labels: Frontend, review-app

#15204 Scroll towards the current request action
  src/api/app/assets/javascripts/webui/request_show_redesign/bs_request_actions.js
Labels: Frontend, review-app

#15209 [backend] support zstd compressed meta data in bs_dodup
  src/backend/bs_dodup
Labels: Backend

#15184 [backend] use formurlencode when sending commands
  src/backend/bs_srcserver
Labels: Backend

#15206 Remove unneeded `vcr: false` assignments
  src/api/spec/controllers/person/token_controller_spec.rb
  src/api/spec/jobs/report_to_scm_job_spec.rb
  src/api/spec/models/branch_package/lookup_incident_package_spec.rb
  src/api/spec/models/service/name_validator_spec.rb
  src/api/spec/requests/kerberos_login_spec.rb
  src/api/spec/services/consistency_check_job_service/base_consistency_checker_spec.rb
Labels: Frontend

#15211 Chart data test coverage
  src/api/spec/components/chart_component_spec.rb
Labels: Frontend

#15215 Address codeclimate issues for the chart component
  src/api/.rubocop_todo.yml
  src/api/app/components/chart_component.rb
Labels: Frontend, Test Suite / CI :syringe:

#15219 Separate comments buttons properly
  src/api/app/views/webui/comment/_comment_field.html.haml
Labels: Frontend

#15218 Move Reply and Report links to the right on the redesigned request UI
  src/api/app/components/bs_request_comment_component.html.haml
Labels: Frontend, review-app

#15224 [backend] basic support for obs product builds server side
  src/backend/BSRepServer/Checker.pm
  src/backend/BSSched/BuildJob/ObsProduct.pm
  src/backend/BSSched/Checker.pm
Labels: Backend

#15239 [backend] bs_worker: support product compose build mode
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
Labels: Backend

#15237 Add User.rss_secret column
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
  src/api/db/migrate/20231120182646_add_rss_secret_to_user.rb
  src/api/db/schema.rb
Labels: Frontend

#15242 [backend] BSFileDB: fix matching of data with embeded percent signs
  src/backend/BSFileDB.pm
  src/backend/BSZip.pm
Labels: Backend

#15244 Fix reply duplication
  src/api/app/components/bs_request_activity_timeline_component.rb
Labels: Frontend, request-redesign

#15245 Change User.rss_secret to default to ''
  src/api/.database_consistency.todo.yml
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
  src/api/db/migrate/20231120182646_add_rss_secret_to_user.rb
  src/api/db/schema.rb
Labels: Frontend

#15246 Revert "Change User.rss_secret to default to ''"
  src/api/.database_consistency.todo.yml
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
  src/api/db/migrate/20231120182646_add_rss_secret_to_user.rb
  src/api/db/schema.rb
Labels: Frontend

#15214 Do not process workflow tokens in the runservice endpoint
  src/api/app/controllers/trigger_controller.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/public/apidocs/paths/trigger_operation.yaml
  src/api/spec/controllers/trigger_controller_spec.rb
Labels: Documentation :book:, Frontend

#15252 Disable RSpec/RepeatedExample cop for spec/policies
  src/api/.rubocop.yml
  src/api/spec/policies/comment_policy_spec.rb
  src/api/spec/policies/group_policy_spec.rb
  src/api/spec/policies/status_message_policy_spec.rb
  src/api/spec/policies/webui/status_message_policy_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#15253 Add database_consistency to dev:lint:all
  src/api/lib/tasks/dev/lint.rake
Labels: Frontend

#15220 Distinguish conversation from other history elements
  src/api/app/assets/stylesheets/webui/comments.scss
  src/api/app/assets/stylesheets/webui/timeline.scss
  src/api/app/components/bs_request_activity_timeline_component.html.haml
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_history_element_component.html.haml
  src/api/app/components/bs_request_history_element_component.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/spec/components/bs_request_activity_timeline_component_spec.rb
  src/api/spec/components/bs_request_comment_component_spec.rb
  src/api/spec/components/bs_request_history_element_component_spec.rb
Labels: Frontend, review-app

#15255 [backend] put updateinfo.xml files into the bininfo/gbininfo and make them available for product builds
  src/backend/BSRepServer.pm
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/BSSched/BuildResult.pm
  src/backend/bs_worker
Labels: Backend

#15221 Reduce cognitive complexity of Chart component
  src/api/app/components/chart_component.html.haml
  src/api/app/components/chart_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/services/action_build_results_service/chart_data_extractor.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/spec/components/chart_component_spec.rb
  src/api/spec/components/previews/chart_component_preview.rb
  src/api/spec/services/action_build_results_service/chart_data_extractor_spec.rb
Labels: Frontend, review-app

#15223 Refresh button for request chart build results
  src/api/.jshintignore
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/request_show_redesign/chart_build_results.js
  src/api/app/components/chart_component.html.haml
  src/api/app/components/chart_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_chart_build_results.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/succeeds.yml
Labels: Frontend, review-app

#15238 Replace Token::Rss with User.rss_secret
  src/api/app/controllers/webui/feeds_controller.rb
  src/api/app/controllers/webui/users/rss_tokens_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/models/user.rb
  src/api/app/services/notification_service/notifier.rb
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/users/subscriptions/index.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/db/data/20231120191210_rss_token_to_user_rss_secret.rb
  src/api/db/data_schema.rb
  src/api/spec/controllers/webui/feeds_controller_spec.rb
  src/api/spec/controllers/webui/users/rss_tokens_controller_spec.rb
  src/api/spec/db/data/regenerate_notifications_spec.rb
  src/api/spec/jobs/send_event_emails_job_spec.rb
  src/api/spec/services/notification_service/notifier_spec.rb
Labels: Frontend

#15265 [backend] various fixes of the productcompose code
  src/backend/BSRepServer/Remote.pm
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/BuildJob/KiwiProduct.pm
  src/backend/BSSched/BuildJob/ProductCompose.pm
  src/backend/BSSched/Remote.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
  src/backend/bs_worker
Labels: Backend

#15270 [api] fix crash on invalid repository
  src/api/app/controllers/source_controller.rb
Labels: Frontend

#15267 Drop Webui::Users::TokenTriggersController
  src/api/app/components/token_card_component.html.haml
  src/api/app/controllers/webui/users/token_triggers_controller.rb
  src/api/app/policies/token_policy.rb
  src/api/app/views/webui/users/token_triggers/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/token_triggers/show.html.haml
  src/api/app/views/webui/users/tokens/show.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/components/token_card_component_spec.rb
  src/api/spec/controllers/webui/users/token_triggers_controller_spec.rb
  src/api/spec/policies/token_policy_spec.rb
Labels: Frontend

#15257 Add update information to the conversations tab
  src/api/app/components/patchinfo_component.html.haml
  src/api/app/components/patchinfo_component.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/has_patchinfo_submission.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/cassettes/Requests/a_request_with_patchinfo/shows_category_badge.yml
  src/api/spec/cassettes/Requests/a_request_with_patchinfo/shows_patch_information.yml
  src/api/spec/cassettes/Requests/a_request_with_patchinfo/shows_rating_badge.yml
  src/api/spec/components/previews/patchinfo_component_preview.rb
  src/api/spec/features/webui/requests_spec.rb
Labels: Frontend, review-app

#15271 Remove cassettes no longer needed
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/rebuild_token/when_token_is_valid_and_associated_package_exist/flashes_success_and_redirects_to_token_path.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/rebuild_token/when_token_is_valid_and_package/project_provided_exist/flashes_success_and_redirects_to_token_path.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/release_token/when_there_are_no_release_targets/flashes_an_error.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/release_token/when_token_is_valid_and_associated_package_exist/flashes_success_and_redirects_to_token_path.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/release_token/when_user_has_no_rights_for_source/flashes_an_error.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/release_token/when_user_has_no_rights_for_target/flashes_an_error.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/service_token/when_package_does_not_provide_a_service/flashes_an_error.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/service_token/when_package_provides_a_service/flashes_success_and_redirects_to_token_path.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/when_package_or_project_params_are_not_provided/flashes_error_when_package_param_is_missing.yml
  src/api/spec/cassettes/Webui_Users_TokenTriggersController/PUT_update/when_package_or_project_params_are_not_provided/flashes_error_when_project_param_is_missing.yml
Labels: Frontend

#15272 [backend] implement copybuild from different partitions
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Backend

#15282 Don't extend the comments beyond the timeline space
  src/api/app/components/bs_request_comment_component.html.haml
Labels: Frontend, review-app

#15276 Fix issue when creating notification with group and RSS
  src/api/app/services/notification_service/notifier.rb
Labels: Frontend

#15281 Patchinfo component fix
  src/api/app/components/patchinfo_component.html.haml
  src/api/app/components/patchinfo_component.rb
  src/api/spec/components/patchinfo_component_spec.rb
Labels: Frontend

#15288 Fix three-dots superseded history timeline alignment
  src/api/app/assets/stylesheets/webui/timeline.scss
Labels: Frontend, review-app

#15292 [backend] bs_publisher: support new media naming for slepool
  src/backend/bs_publish
Labels: Backend

#15290 Prevent dealing with RSS subscriptions for groups
  src/api/app/models/event_subscription/find_for_event.rb
  src/api/spec/models/event_subscription/find_for_event_spec.rb
Labels: Frontend

#15283 Refactor model service
  src/api/.rubocop_todo.yml
  src/api/app/models/service.rb
Labels: Frontend, Test Suite / CI :syringe:

#15293 Add canned responses table to the database
  src/api/db/migrate/20231130094135_create_canned_responses.rb
  src/api/db/schema.rb
Labels: Frontend

#15300 [backend] ProductCompose: support versioned package names
  src/backend/BSSched/BuildJob/ProductCompose.pm
Labels: Backend
