Repository openSUSE/open-build-service, pull requests merged in 2023-06, with the labels that each got.

#14414 [backend] BSStdServer: fix runname spelling in the exit/restart handling
  src/backend/BSStdServer.pm
Labels: Backend

#14406 Deprecate `/build/.../_builddepinfo` POST API endpoint
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_builddepinfo.yaml
Labels: Documentation :book:, Frontend, review-app

#14413 Document supported statistics endpoints
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/parameters/limit_10.yaml
  src/api/public/apidocs-new/components/schemas/latest_added.yaml
  src/api/public/apidocs-new/components/schemas/latest_updated.yaml
  src/api/public/apidocs-new/components/schemas/most_active.yaml
  src/api/public/apidocs-new/components/schemas/statistics/package.yaml
  src/api/public/apidocs-new/components/schemas/statistics/project.yaml
  src/api/public/apidocs-new/paths/statistics_latest_added.yaml
  src/api/public/apidocs-new/paths/statistics_latest_updated.yaml
  src/api/public/apidocs-new/paths/statistics_most_active_packages.yaml
  src/api/public/apidocs-new/paths/statistics_most_active_projects.yaml
Labels: Documentation :book:, Frontend, review-app

#14416 [backend] show scmsync errors in the scheduler
  src/backend/BSRedis.pm
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/Remote.pm
  src/backend/BSSrcServer/Service.pm
  src/backend/BSStdRunner.pm
  src/backend/BSUtil.pm
  src/backend/bs_dodup
  src/backend/bs_redis
  src/backend/bs_sched
  src/backend/bs_srcserver
Labels: Backend

#14422 Order the statistics endpoints alphabetically
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
Labels: Documentation :book:, Frontend

#14425 [backend] bring back connect_timeout setting in BSWatcher
  src/backend/BSRPC.pm
  src/backend/BSSSL.pm
  src/backend/BSWatcher.pm
Labels: Backend

#14427 [backend] allow nometa flag in AJAX view=getbinaryversions request
  src/backend/bs_repserver
Labels: Backend

#14423 Start rolling out the new API documentation
  src/api/config/routes/api_routes.rb
  src/api/config/routes/webui_routes.rb
  src/api/test/functional/webui/spider_test.rb
Labels: Frontend

#14418 Remove operationId param from all endpoints
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_buildinfo.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_file_name.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_file_name_view_fileinfo.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_history.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_log.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_status.yaml
Labels: Documentation :book:, Frontend

#14426 Fix the link pointing back to the legacy documentation in the new API documentation
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
Labels: Documentation :book:, Frontend, review-app

#14428 [backend] implement a pool/repo cache for the AJAX repserver
  src/backend/BSRepServer.pm
  src/backend/BSSSL.pm
  src/backend/BSStdServer.pm
  src/backend/BSWatcher.pm
  src/backend/BSXML.pm
  src/backend/bs_repserver
Labels: Backend

#10996 Document the delete build artifacts endpoint
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_file_name.yaml
Labels: Documentation :book:, Frontend, review-app

#14378 [backend] Make use of projectscmsync functionality in scm bridge
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_service
  src/backend/bs_srcserver
Labels: Backend

#14446 Ignore missing keys
  src/api/app/models/project.rb
Labels: Bug, Frontend

#14439 Remove outdated iChain documentation file
  docs/ichain.txt
Labels: Documentation :book:

#14430 Move call to `resolve_swagger_yaml.rb` script to Makefile
  Makefile
  dist/obs-server.spec
Labels: Packages :package:

#14448 [backend] fix setup_pool_with_repo key comparison
  src/backend/BSRPC.pm
  src/backend/BSRepServer.pm
  src/backend/BSSSL.pm
  src/backend/BSWatcher.pm
Labels: Backend

#14449 Adapt testbuild workflow to 14437
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

#14408 Document `POST /build/.../_buildinfo` endpoint with OpenAPI
  src/api/public/apidocs-new/components/schemas/buildinfo.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_buildinfo.yaml
Labels: Documentation :book:, Frontend, review-app

#14450 OpenAPI specifications for project status
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/project_status.yaml
  src/api/public/apidocs-new/paths/status_project_name.yaml
Labels: Documentation :book:, Frontend

#14455 [backend] bs_dodup: maintain a directory containing failed dod updates
  src/backend/bs_dodup
Labels: Backend

#14458 [backend] rename SHA256SUMS.sig to SHA256SUMS.gpg
  src/backend/bs_publish
Labels: Backend

#14457 Add developer docu to the OpenAPI directory
  src/api/public/apidocs/README.md
Labels: Documentation :book:, Frontend

#14432 [api] add architecture filter on release
  src/api/app/controllers/source_controller.rb
Labels: Frontend

#14433 Add `arch` parameter to `POST /source/<project>/<package>?cmd=release` OpenAPI docs
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_release.yaml
Labels: Frontend

#14466 Add continuation orb
  .circleci/config.yml
Labels: Test Suite / CI :syringe:

#14467 Revert "Add continuation orb"
  .circleci/config.yml
Labels: Test Suite / CI :syringe:

#14473 [backend] avoid projectsmcsync on single packages
  src/backend/BSSrcServer/Service.pm
Labels: Backend

#14474 Document DELETE required checks api endpoints
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/components/parameters/check_name.yaml
  src/api/public/apidocs/components/responses/status_report/delete_project_forbidden.yaml
  src/api/public/apidocs/components/responses/status_report/delete_repository_architecture_forbidden.yaml
  src/api/public/apidocs/components/responses/status_report/delete_repository_forbidden.yaml
  src/api/public/apidocs/paths/status_reports_built_repositories_project_name_repository_name_architecture_name_required_checks_check_name.yaml
  src/api/public/apidocs/paths/status_reports_projects_project_name_required_checks_check_name.yaml
  src/api/public/apidocs/paths/status_reports_repositories_project_name_repository_name_required_checks_check_name.yaml
Labels: Frontend

#14482 Switch back to path-filtering orb version 0.1.5
  .circleci/config.yml
Labels: Test Suite / CI :syringe:

#14483 Revert "Switch back to path-filtering orb version 0.1.5"
  .circleci/config.yml
Labels: Test Suite / CI :syringe:

#14463 Deprecate multiple statistics endpoints
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/paths/statistics_deprecated_not_documented.yaml
Labels: Frontend, review-app

#14479 Document `GET '/source/:project?view=info` API endpoint
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/components/schemas/source/sourceinfo.yaml
  src/api/public/apidocs/components/schemas/source/sourceinfolist.yaml
  src/api/public/apidocs/paths/source_project_name_view_info.yaml
Labels: Frontend, review-app

#14481 API documentation: sort sections alphabetically
  src/api/public/apidocs/OBS-v2.10.50.yaml
Labels: Frontend, review-app

#14489 [backend] bs_srcserver: cleanup and simplify triggerscmsyncrun()
  src/backend/bs_srcserver
Labels: Backend

#14497 Avoid division by zero
  src/api/app/helpers/webui/staging/workflow_helper.rb
Labels: Frontend

#14495 Update Swagger UI version from 4.19.0 to 5.0.0
  src/api/public/apidocs/swagger-ui-bundle.js
  src/api/public/apidocs/swagger-ui-bundle.js.map
  src/api/public/apidocs/swagger-ui-es-bundle-core.js
  src/api/public/apidocs/swagger-ui-es-bundle-core.js.map
  src/api/public/apidocs/swagger-ui-es-bundle.js
  src/api/public/apidocs/swagger-ui-es-bundle.js.map
  src/api/public/apidocs/swagger-ui-standalone-preset.js
  src/api/public/apidocs/swagger-ui-standalone-preset.js.map
  src/api/public/apidocs/swagger-ui.css
  src/api/public/apidocs/swagger-ui.css.map
  src/api/public/apidocs/swagger-ui.js
  src/api/public/apidocs/swagger-ui.js.map
Labels: Frontend, review-app

#14193 Tag hyperlinks with nofollow
  src/api/app/helpers/webui/markdown_helper.rb
  src/api/spec/helpers/webui/markdown_helper_spec.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend, review-app

#14500 Include comment anchors in comment event mails
  src/api/app/views/event_mailer/comment_for_package.html.haml
  src/api/app/views/event_mailer/comment_for_package.text.erb
  src/api/app/views/event_mailer/comment_for_project.html.haml
  src/api/app/views/event_mailer/comment_for_project.text.erb
  src/api/app/views/event_mailer/comment_for_request.html.haml
  src/api/app/views/event_mailer/comment_for_request.text.erb
Labels: Frontend

#14506 Filter nil entries from directory list
  src/api/app/models/package.rb
Labels: Frontend

#13908 Fix preview comment tab click under bootstrap 5
  src/api/app/assets/javascripts/webui/comment.js
  src/api/app/assets/javascripts/webui/write_and_preview.js
  src/api/app/components/write_and_preview_component.html.haml
  src/api/app/views/webui/comment/_comment_field.html.haml
Labels: Frontend, review-app

#14508 Validate workflow_configuration_url before saving it
  src/api/app/models/token.rb
  src/api/spec/models/token/workflow_spec.rb
Labels: Frontend

#14499 [backend] Prepare for sending a notification if a container is published
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_publish
Labels: Backend

#14521 Ignore trigger services step for destroy and restore on pull request event
  src/api/app/models/workflow.rb
Labels: Frontend, scm-ci

#14444 Ignore more backend errors
  src/api/config/initializers/airbrake.rb
Labels: Frontend

#14528 [backend] support a directory containing dod pubkeys
  src/backend/bs_dodup
Labels: Backend

#14530 [backend] add a way to specify related projects in BSConfig
  src/backend/BSSched/ProjPacks.pm
Labels: Backend

#14529 Avoid inheriting github payload in gitea's pull_request
  src/api/app/models/gitea_payload/pull_request.rb
Labels: Frontend

#14509 Handle config file URL or path easily from workflow run
  src/api/app/components/workflow_run_detail_component.html.haml
  src/api/app/components/workflow_run_detail_component.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/workflow_run.rb
  src/api/db/migrate/20230615111252_add_configuration_url_and_path_columns_to_workflow_run.rb
  src/api/db/schema.rb
  src/api/spec/components/workflow_run_detail_component_spec.rb
  src/api/spec/factories/workflow_runs.rb
Labels: Frontend

#14523 Expand workflow run with headers info
  src/api/app/components/workflow_run_detail_component.rb
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/workflow_run.rb
  src/api/db/data/20230620110143_backfill_scm_vendor_and_hook_event_in_workflow_run.rb
  src/api/db/data_schema.rb
  src/api/db/migrate/20230616154316_add_scm_vendor_and_hook_event_columns_to_workflow_run.rb
  src/api/db/schema.rb
  src/api/spec/components/workflow_run_header_component_spec.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
  src/api/spec/db/data/backfill_scm_vendor_and_hook_event_in_workflow_run_spec.rb
  src/api/spec/factories/workflow_runs.rb
  src/api/spec/models/workflow_run_spec.rb
Labels: Frontend

#14522 Allow versioning for SCM/CI workflow features and add support for event aliases (v.1.1)
  src/api/app/instrumentations/workflow_instrumentation.rb
  src/api/app/models/concerns/workflow_version_matcher.rb
  src/api/app/models/workflow.rb
  src/api/app/services/workflows/yaml_to_workflows_service.rb
  src/api/app/validators/workflow_version_validator.rb
  src/api/spec/models/concerns/workflow_version_matcher_spec.rb
  src/api/spec/models/workflow_spec.rb
  src/api/spec/validators/workflow_version_validator_spec.rb
Labels: Frontend, scm-ci

#14533 Pin data-migrate to v9.0
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/vendor/cache/data_migrate-10.0.2.gem
  src/api/vendor/cache/data_migrate-9.0.0.gem
Labels: Frontend

#14532 Use version '1.1' for OBS SCM/CI workflows
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

#14537 Drop specs for the WorkflowRun components
  src/api/spec/components/workflow_artifacts_per_step_component_spec.rb
  src/api/spec/components/workflow_run_detail_component_spec.rb
  src/api/spec/components/workflow_run_filter_component_spec.rb
  src/api/spec/components/workflow_run_filter_link_component_spec.rb
  src/api/spec/components/workflow_run_header_component_spec.rb
  src/api/spec/components/workflow_run_request_action_filter_component_spec.rb
  src/api/spec/components/workflow_run_row_component_spec.rb
Labels: Frontend

#14535 [backend] bs_srcserver: also check type 'docker' when generating the commit info
  src/backend/BSRunner.pm
  src/backend/bs_srcserver
Labels: Backend

#14540 Remove extra space from the measurement
  src/api/app/instrumentations/workflow_instrumentation.rb
Labels: Frontend

#14541 Introduces workflow run payload fields
  src/api/app/controllers/concerns/scm_webhook_payload_data_extractor.rb
  src/api/app/models/workflow_run.rb
  src/api/db/data/20230623122537_backfill_workflow_run_payload_data.rb
  src/api/db/data_schema.rb
  src/api/db/migrate/20230621071327_add_payload_data_to_workflow_run.rb
  src/api/db/schema.rb
  src/api/spec/support/files/request_payload_github_pull_request_opened.json
  src/api/spec/support/files/request_payload_github_push.json
  src/api/spec/support/files/request_payload_github_tag_push.json
Labels: Frontend

#14542 Gracefully handle WorkflowRuns without payload...
  src/api/app/models/workflow_run.rb
  src/api/db/data/20230623122537_backfill_workflow_run_payload_data.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#14527 Expand workflow run with payload info
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/controllers/concerns/scm_webhook_headers_data_extractor.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/workflow_run.rb
  src/api/lib/tasks/dev/workflows.rake
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/factories/workflow_runs.rb
  src/api/spec/lib/tasks/workflows_spec.rb
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/queries/workflow_runs_finder_spec.rb
  src/api/spec/support/files/request_payload_gitlab_pull_request_merged.json
Labels: Frontend

#14554 Save the workflow yaml content into the workflow run
  src/api/app/models/workflow_run.rb
  src/api/app/services/workflows/yaml_to_workflows_service.rb
  src/api/db/migrate/20230626092852_add_workflow_configuration_to_workflow_runs.rb
  src/api/db/schema.rb
Labels: Frontend

#14564 Make use of newly introduced traits in dev tasks
  src/api/lib/tasks/dev/workflows.rake
Labels: Frontend

#14563 Make use of the newly defined `:succeeded` trait
  src/api/spec/lib/tasks/workflows_spec.rb
Labels: Frontend

#14574 Correct the dist specs to use an existing Leap release
  dist/t/spec/features/0030_project_spec.rb
Labels: Test Suite / CI :syringe:

#14553 Introduces new ContainerPublished event
  src/api/app/models/event/container_published.rb
Labels: Frontend

#14349 Refactoring tab visibility - use decorator instead of helper
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_tab_visibility.rb
  src/api/app/views/webui/request/_request_tabs.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/mentioned_issues.html.haml
  src/api/app/views/webui/request/rpm_lint.html.haml
  src/api/spec/features/webui/requests_spec.rb
Labels: Frontend
