Repository openSUSE/open-build-service, pull requests merged in 2023-01, with the labels that each got.

#13611 Avoid errors when description_extension is nil
  src/api/app/components/bs_request_history_element_component.html.haml
  src/api/app/models/history_element/request_review_added.rb
  src/api/spec/components/bs_request_history_element_component_spec.rb
Labels: Frontend

#13595 Add item to watchlist from show view
  src/api/app/components/watchlist_component.rb
  src/api/app/components/watchlist_icon_component.html.haml
  src/api/app/components/watchlist_icon_component.rb
  src/api/app/views/layouts/webui/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/webui/package/_basic_info.html.haml
  src/api/app/views/webui/project/_basic_info.html.haml
  src/api/app/views/webui/request/_show_overview.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/watched_items/toggle_watched_item.js.erb
  src/api/spec/components/previews/watchlist_icon_component_preview.rb
  src/api/spec/components/watchlist_icon_component_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Labels: Frontend, review-app

#13620 Fix warnings in project feature tests
  src/api/spec/features/webui/projects_spec.rb
Labels: Frontend

#13624 Refactor removing a user
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/views/webui/users/_delete_dialog.html.haml
  src/api/app/views/webui/users/index.html.haml
  src/api/spec/features/webui/users/admin_configuration_spec.rb
Labels: Frontend, review-app

#13441 [api] support listing of deleted packages for remote projects
  src/api/.rubocop_todo.yml
  src/api/app/controllers/source_project_controller.rb
Labels: Frontend, Test Suite / CI :syringe:

#13619 Pass a string to valid_xml_id
  src/api/app/views/webui/repositories/_edit_repository_modal.html.haml
Labels: Frontend

#13573 Manage News in a dedicated page
  src/api/app/controllers/webui/status_messages_controller.rb
  src/api/app/models/status_message.rb
  src/api/app/policies/webui/status_message_policy.rb
  src/api/app/views/webui/configuration/_tabs.html.haml
  src/api/app/views/webui/main/_status_messages.html.haml
  src/api/app/views/webui/status_messages/_breadcrumb_items.html.haml
  src/api/app/views/webui/status_messages/edit.html.haml
  src/api/app/views/webui/status_messages/index.html.haml
  src/api/app/views/webui/status_messages/index.js.haml
  src/api/app/views/webui/status_messages/new.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/news.rake
  src/api/spec/controllers/webui/status_messages_controller_spec.rb
Labels: Frontend, review-app

#11134 Fix cicount schema and add documentation to link.rng
  docs/api/api/link.rng
  docs/api/api/link.xml
Labels: Documentation :book:, API

#13570 Move modifying files to an update method
  src/api/app/controllers/webui/packages/files_controller.rb
  src/api/app/views/webui/package/view_file.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/cassettes/Webui_Packages_FilesController/POST_update/as_ajax_request/modifies_an_existing_file/1_2_1_1_1.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/POST_update/as_ajax_request/modifies_an_existing_file/1_2_1_1_2.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/POST_update/as_ajax_request/modifies_an_existing_file/1_2_1_1_3.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/POST_update/as_non-ajax_request/modifies_an_existing_file/1_2_2_1_1.yml
  src/api/spec/controllers/webui/packages/files_controller_spec.rb
  src/api/spec/features/webui/packages_spec.rb
Labels: Frontend

#13635 visually-hidden shim for bootstrap 5 migration
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/bs5-shims.scss
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/views/webui/request/show.html.haml
Labels: Frontend

#13629 Add table shim for bootstrap 5 migration
  src/api/app/assets/stylesheets/webui/bs5-shims.scss
  src/api/app/views/webui/shared/_repositories_flag_table.html.haml
Labels: Frontend

#13594 Filter out the irrelevant states in the badge
  src/api/app/models/badge.rb
  src/api/config/routes/webui_routes.rb
  src/api/spec/models/badge_spec.rb
Labels: Frontend

#13630 Float shim for bootstrap 5 migration
  src/api/app/assets/stylesheets/webui/bs5-shims.scss
  src/api/app/assets/stylesheets/webui/collapsible-text.scss
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_tab_component.html.haml
  src/api/app/components/status_message_component.html.haml
  src/api/app/views/webui/groups/_group_members.html.haml
  src/api/app/views/webui/main/_latest_updates.html.haml
  src/api/app/views/webui/main/_status_messages.html.haml
  src/api/app/views/webui/monitor/_building.html.haml
  src/api/app/views/webui/monitor/_workers_table.html.haml
  src/api/app/views/webui/package/_commit_item.html.haml
  src/api/app/views/webui/package/rdiff.html.haml
  src/api/app/views/webui/project/_monitor_control.html.haml
  src/api/app/views/webui/projects/pulse/show.html.haml
  src/api/app/views/webui/request/_action_text.html.haml
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_build_status.html.haml
  src/api/app/views/webui/search/_results_owner.html.haml
  src/api/app/views/webui/shared/_buildresult_box.html.haml
  src/api/app/views/webui/user/_edit_dialog.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/app/views/webui/users/tokens/edit.html.haml
  src/api/app/views/webui/workflow_runs/index.html.haml
Labels: Frontend

#13626 Badge shim for bootstrap 5 migration
  src/api/app/assets/stylesheets/webui/bs5-shims.scss
  src/api/app/assets/stylesheets/webui/patchinfo.scss
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
  src/api/app/components/bs_request_state_badge_component.rb
  src/api/app/components/notification_filter_link_component.rb
  src/api/app/components/workflow_run_filter_link_component.rb
  src/api/app/components/workflow_run_header_component.html.haml
  src/api/app/components/workflow_run_header_component.rb
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/datatables/package_datatable.rb
  src/api/app/helpers/webui/projects/category_helper.rb
  src/api/app/models/scm_status_report.rb
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/layouts/webui/_unread_notifications_counter.html.haml
  src/api/app/views/webui/groups/show.html.haml
  src/api/app/views/webui/package/revisions.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/patchinfo/show.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/projects/maintenance_incidents/index.html.haml
  src/api/app/views/webui/repositories/_repository_entry.html.haml
  src/api/app/views/webui/request/_request_comments.html.haml
  src/api/app/views/webui/request/_show_overview.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/staging/workflows/_overall_state.html.haml
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/app/views/webui/user/_edit_account_form.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/user/_involvement.html.haml
  src/api/app/views/webui/user/_tabs_profile.html.haml
  src/api/app/views/webui/users/tasks/index.html.haml
  src/api/spec/components/notification_filter_link_component_spec.rb
  src/api/spec/components/workflow_run_filter_link_component_spec.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/vendor/assets/stylesheets/tokenfield.scss
Labels: Frontend

#13641 Font-weight shim for bootstrap 5 migration
  src/api/app/assets/stylesheets/webui/bs5-shims.scss
  src/api/app/components/build_result_for_architecture_component.html.haml
  src/api/app/views/webui/image_templates/index.html.haml
  src/api/app/views/webui/monitor/_workers_table.html.haml
  src/api/app/views/webui/monitor/index.html.haml
  src/api/app/views/webui/project/keys_and_certificates.html.haml
  src/api/app/views/webui/repositories/_dod_repository_card_content.html.haml
  src/api/app/views/webui/repositories/_repository_entry.html.haml
  src/api/app/views/webui/request/_action_text.html.haml
  src/api/app/views/webui/staging/projects/_broken_packages.html.haml
  src/api/app/views/webui/staging/projects/_checks.html.haml
  src/api/app/views/webui/staging/projects/_status_items.html.haml
  src/api/app/views/webui/users/tokens/show.html.haml
Labels: Frontend

#13637 Allow users to remove themselves from a group
  src/api/app/controllers/webui/groups/users_controller.rb
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/policies/groups_user_policy.rb
  src/api/app/views/webui/groups/_group_members.html.haml
  src/api/spec/controllers/webui/groups_controller_spec.rb
  src/api/spec/policies/groups_user_policy_spec.rb
Labels: Frontend, review-app

#13643 Replace form-row with row for bootstrap 5 migration
  src/api/app/views/webui/attribute/_issue_fields.html.haml
  src/api/app/views/webui/attribute/_value_fields.html.haml
  src/api/app/views/webui/attribute/new.html.haml
  src/api/app/views/webui/monitor/_events.html.haml
  src/api/app/views/webui/patchinfo/form/_binaries.html.haml
  src/api/app/views/webui/search/owner.html.haml
  src/api/app/views/webui/users/token_triggers/show.html.haml
  src/api/app/views/webui/users/tokens/edit.html.haml
  src/api/app/views/webui/users/tokens/new.html.haml
  src/api/app/views/webui/users/tokens/show.html.haml
Labels: Frontend

#13647 Correct the badge shim
  src/api/app/assets/stylesheets/webui/bs5-shims.scss
Labels: Frontend

#13640 Ignore exceptions for which we cannot do anything
  src/api/config/initializers/airbrake.rb
Labels: Frontend

#13632 Border shim for bootstrap 5 migration
  src/api/app/assets/stylesheets/webui/bs5-shims.scss
  src/api/app/views/layouts/webui/_bottom_navigation.html.haml
Labels: Frontend

#13567 Move binary methods to its own helper
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/helpers/webui/package_helper.rb
  src/api/app/helpers/webui/packages/binaries_helper.rb
  src/api/spec/helpers/webui/package_helper_spec.rb
  src/api/spec/helpers/webui/packages/binaries_helper_spec.rb
Labels: Frontend

#13655 Remove check of database in CircleCI
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

#13656 Fix warning in notification spec
  src/api/spec/components/notification_action_description_component_spec.rb
Labels: Frontend

#13654 Prevent warnings involving Struct::StatusCount from appearing
  src/api/app/models/buildresult.rb
Labels: Frontend

#13662 Improving spacing on main page and tables
  src/api/app/components/status_message_component.html.haml
  src/api/app/views/webui/main/_latest_updates.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_list.html.haml
Labels: Frontend

#13661 Remove accordion class from workflow_runs
  src/api/app/views/webui/workflow_runs/index.html.haml
Labels: Frontend

#11583 Introduce FuzzyTime as component
  src/api/app/components/fuzzy_time_component.html.haml
  src/api/app/components/fuzzy_time_component.rb
  src/api/app/helpers/webui/maintenance_incident_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/views/webui/main/_latest_updates.html.haml
  src/api/app/views/webui/package/_commit_item.html.haml
  src/api/app/views/webui/package/_fileinfo.html.haml
  src/api/app/views/webui/package/_revision_diff_footer.html.haml
  src/api/app/views/webui/projects/pulse/_pulse_list_entry.html.haml
  src/api/app/views/webui/projects/pulse/_pulse_list_requests.html.haml
  src/api/app/views/webui/request/_show_side_links.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/shared/bs_requests/index.json.erb
  src/api/spec/components/fuzzy_time_component_spec.rb
  src/api/spec/components/previews/fuzzy_time_component_preview.rb
Labels: Frontend

#13660 Remove the media component for bootstrap 5 migration
  src/api/app/assets/stylesheets/webui/comments.scss
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/views/webui/comment/_content.html.haml
  src/api/app/views/webui/patchinfo/show.html.haml
  src/api/app/views/webui/request/_request_history.html.haml
  src/api/app/views/webui/request/_request_history_element.html.haml
  src/api/spec/features/webui/comments_spec.rb
  src/api/spec/features/webui/requests_spec.rb
Labels: Frontend

#13650 Fix examples for GET /source API endpoint doc
  src/api/public/apidocs-new/components/schemas/source/projects.yaml
  src/api/public/apidocs-new/paths/source.yaml
Labels: Documentation :book:, Frontend, review-app

#13666 [backend] forbid _project as package name in verify_pack()
  src/backend/BSVerify.pm
Labels: Backend

#13649 Rename web UI routes for status messages to news items
  src/api/app/components/status_message_component.html.haml
  src/api/app/views/layouts/webui/_status_message_announcement.html.haml
  src/api/app/views/webui/configuration/_tabs.html.haml
  src/api/app/views/webui/main/_status_messages.html.haml
  src/api/app/views/webui/status_messages/edit.html.haml
  src/api/app/views/webui/status_messages/index.html.haml
  src/api/app/views/webui/status_messages/new.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/controllers/webui/status_messages_controller_spec.rb
Labels: Frontend

#13562 Ignore errors, based on their message, for which we cannot do anything
  src/api/config/initializers/airbrake.rb
Labels: Frontend

#13365 Remove index on updated_at column in packages and projects tables
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/remote_project.rb
  src/api/db/migrate/20230109131251_remove_updated_at_index_from_packages_and_projects.rb
  src/api/db/schema.rb
Labels: Frontend

#13652 Document GET /source/{project_name} endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/source/product_list.yaml
  src/api/public/apidocs-new/components/schemas/source/project_packages.yaml
  src/api/public/apidocs-new/components/schemas/source/verbose_product_list.yaml
  src/api/public/apidocs-new/paths/source_project_name.yaml
Labels: Documentation :book:, Frontend, review-app

#13672 Log special characters to `backend_access.log`
  src/api/app/lib/backend/logger.rb
Labels: Frontend

#13674 Allow project restoring when package name is invalid
  src/api/app/models/project.rb
Labels: Frontend

#13679 Use news_item route on the update form
  src/api/app/views/webui/status_messages/edit.html.haml
Labels: Frontend, review-app

#13683 Update rake task to create many request actions
  src/api/lib/tasks/dev/requests.rake
Labels: Frontend

#13690 Fix live build log after bootstrap 5 migration
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/bootstrap_variables/options.scss
  src/api/app/views/webui/package/live_build_log.html.haml
Labels: Frontend, review-app

#13680 Refactor environment check
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/news.rake
  src/api/lib/tasks/dev/notifications.rake
  src/api/lib/tasks/dev/requests.rake
  src/api/lib/tasks/dev/staging.rake
  src/api/lib/tasks/dev/workflows.rake
Labels: Frontend

#13691 Fix auto-accept badge for requests
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#13569 Move file upload to the package show
  src/api/app/assets/javascripts/webui/add_file.js
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/packages.js
  src/api/app/views/webui/package/_files_view.html.haml
  src/api/app/views/webui/packages/files/new.html.haml
  src/api/spec/features/webui/packages_spec.rb
Labels: Frontend

#13694 [backend] BS509.pm: add oid_pkcs9_extension_request
  src/backend/BSX509.pm
Labels: Backend

#13681 Improve UX of new request#show
  src/api/app/views/webui/request/_action_text.html.haml
  src/api/app/views/webui/request/_actions_details.html.haml
Labels: Frontend, review-app

#13682 Display information about the staging workflow in request
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/history_element/request_review_added.rb
  src/api/app/models/review.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation_aside.html.haml
Labels: Frontend, review-app

#13698 Align request timeline with the comment card
  src/api/app/views/webui/request/beta_show_tabs/_conversation.html.haml
Labels: Frontend

#13686 Scroll towards the current action in the dropdown
  src/api/app/views/webui/request/_actions_details.html.haml
Labels: Frontend

#13685 Clarify the meaning of different reviewer types
  src/api/app/assets/javascripts/webui/request.js
  src/api/app/views/webui/request/_add_reviewer_dialog.html.haml
Labels: Frontend

#13699 Colour the superseded by links in a badge correctly
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#13684 Implement parser for request diffs
  src/api/app/assets/stylesheets/webui/diff.scss
  src/api/app/components/sourcediff_component.rb
  src/api/app/services/action_sourcediff_parser.rb
  src/api/app/services/diff_parser.rb
  src/api/app/services/diff_parser/line.rb
  src/api/app/views/webui/package/_revision_diff_detail.html.haml
  src/api/spec/services/diff_parser_spec.rb
  src/api/spec/support/files/diff_simple.diff
  src/api/spec/support/files/diff_with_no_newline_comments.diff
Labels: Frontend, review-app, Beta

#13704 Fix overflow in revision diff view
  src/api/app/views/webui/package/_revision_diff_detail.html.haml
Labels: Frontend, review-app

#13707 Make sure project exists when checking if it's staging
  src/api/app/models/review.rb
Labels: Frontend

#13708 Revert "Update mail to version 2.8.0.1"
  src/api/Gemfile.lock
  src/api/vendor/cache/mail-2.7.1.gem
  src/api/vendor/cache/mail-2.8.0.1.gem
Labels: Frontend

#13712 Fix loop over diff content
  src/api/app/services/diff_parser.rb
  src/api/spec/services/diff_parser_spec.rb
Labels: Frontend, review-app

#13709 [backend] BSX509: support ECDSA with the nistp256 curve
  src/backend/BSPGP.pm
Labels: Backend

#13717 Parse diffs also in Files Changed between revisions
  src/api/app/components/sourcediff_component.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/services/sourcediffs_parser.rb
Labels: Frontend, review-app

#13715 Restrict .alert-* classes to alert elements
  src/api/app/assets/stylesheets/webui/flash.scss
Labels: Frontend

#13722 Show old file name for renamed files in diffs
  src/api/app/helpers/webui/request_helper.rb
  src/api/spec/helpers/webui/request_helper_spec.rb
Labels: Frontend, review-app

#13725 [backend] refactor ecdsa curve handling and add support for nistp384
  src/backend/BSPGP.pm
  src/backend/BSX509.pm
Labels: Backend

#13723 [backend] Add option to use sha512 for repomd metadata
  src/backend/bs_publish
Labels: Backend

#13710 Show reviews summary to help users take a decision on a request
  src/api/app/assets/stylesheets/webui/accordion-reviews-component.scss
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/components/accordion_reviews_component.html.haml
  src/api/app/components/accordion_reviews_component.rb
  src/api/app/views/webui/request/beta_show_tabs/_conversation.html.haml
  src/api/spec/components/previews/accordion_reviews_component_preview.rb
Labels: Frontend, review-app

#13733 Regenerate RuboCop todo file
  src/api/.rubocop_todo.yml
Labels: Test Suite / CI :syringe:

#13741 Clarify Accept header for API requests
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
Labels: Documentation :book:, Frontend, review-app

#13739 Run ViewComponent::AvoidGlobalState in view component templates
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/lib/rubocop/cop/view_component/avoid_global_state.rb
  src/api/spec/lib/rubocop/cop/view_component/avoid_global_state_spec.rb
Labels: Frontend

#13732 Correctly check for the current page in request breadcrumbs
  src/api/app/views/webui/request/_breadcrumb_items.html.haml
Labels: Frontend, review-app

#13730 Write issue trackers to backend after seeding them
  src/api/app/models/package.rb
  src/api/lib/tasks/dev.rake
Labels: Frontend

#13714 Make index of the diff fit within the column
  src/api/app/assets/stylesheets/webui/diff.scss
  src/api/app/views/webui/package/_revision_diff_detail.html.haml
Labels: Frontend, review-app

#13734 Add package and request elements to <person> schema
  docs/api/api/user.rng
  docs/api/api/user.xml
Labels: Documentation :book:

#13731 Task request with mentioned issues and more
  src/api/.rubocop.yml
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/requests.rake
  src/api/spec/factories/packages.rb
  src/api/spec/fixtures/files/factory_package.changes
  src/api/spec/fixtures/files/factory_package.spec
Labels: Frontend, Test Suite / CI :syringe:

#13754 Display group email to logged-in users
  src/api/app/policies/group_policy.rb
  src/api/app/views/webui/groups/_group_members.html.haml
  src/api/spec/policies/group_policy_spec.rb
Labels: Frontend, review-app

#13740 Lint view components to mark usage of User class methods as offenses
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
  src/api/app/components/application_component.rb
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/sign_up_component.html.haml
  src/api/lib/rubocop/cop/view_component/avoid_global_state.rb
  src/api/spec/lib/rubocop/cop/view_component/avoid_global_state_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#13702 Mark bs_request_action as seen by user
  src/api/app/components/action_seen_by_user_component.html.haml
  src/api/app/components/action_seen_by_user_component.rb
  src/api/app/controllers/webui/action_seen_by_users_controller.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/user.rb
  src/api/app/views/webui/action_seen_by_users/toggle.js.erb
  src/api/app/views/webui/request/_action_text.html.haml
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/db/migrate/20230116143207_create_bs_request_actions_seen_by_users.rb
  src/api/db/schema.rb
  src/api/spec/models/bs_request_action_spec.rb
Labels: Frontend, review-app

#13693 Don't underline urls
  src/api/app/assets/stylesheets/webui/links.scss
Labels: Frontend, review-app

#13758 Make the action header in the action selection dropdown sticky
  src/api/app/views/webui/request/_action_text.html.haml
  src/api/app/views/webui/request/_actions_details.html.haml
Labels: Frontend, review-app

#13724 Create a request with multi submit actions, builds and diffs
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/requests.rake
Labels: Frontend, review-app

#13768 [backend] publisher: use uniq filenames for SHA512 repomd meta data
  src/backend/bs_publish
Labels: Backend

#13769 [backend] fix caching when using with obs_scm_bridge
  src/backend/call-service-in-container
Labels: Backend

#13762 Add release notes for 2.10.20
  ReleaseNotes-2.10.20
Labels: 2.10
