Repository openSUSE/open-build-service, pull requests merged in 2023-07, with the labels that each got.

#14592 Use the strings instead of symbols in BsRequestActionTabVisibility
  src/api/app/models/bs_request_action_tab_visibility.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#14591 Flaky test depends on page loading time: make it wait a bit longer
  src/api/spec/features/webui/projects_spec.rb
Labels: Frontend

#14582 Show diff comments in the API endpoint `GET /comments/request/id`
  src/api/app/components/comment_component.rb
  src/api/app/controllers/comments_controller.rb
  src/api/spec/cassettes/CommentsController/GET_show/of_a_bs_request_action_inline_comment_/with_an_inline_comment/1_1_4_1_1.yml
  src/api/spec/cassettes/CommentsController/GET_show/of_a_bs_request_action_inline_comment_/with_an_inline_comment_of_a_removed_target_package/1_1_4_2_1.yml
  src/api/spec/controllers/comments_controller_spec.rb
  src/api/spec/factories/bs_request_actions.rb
Labels: Frontend

#14600 Send metrics about daemon availability
  src/api/app/jobs/worker_measurements_job.rb
Labels: Frontend

#14606 Do the assigments only if we need them
  src/api/app/components/comment_component.rb
Labels: Frontend

#14581 Cleanout app/mixins
  src/api/.rubocop_todo.yml
  src/api/app/controllers/concerns/flipper_feature.rb
  src/api/app/controllers/concerns/webui/manage_relationships.rb
  src/api/app/models/concerns/can_render_model.rb
  src/api/app/models/concerns/flag_validations.rb
  src/api/app/models/concerns/has_attributes.rb
  src/api/app/models/concerns/has_relationships.rb
  src/api/app/models/concerns/package_sphinx.rb
  src/api/app/models/concerns/project_sphinx.rb
  src/api/app/models/concerns/status_checkable.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/repository.rb
  src/api/app/models/repository_architecture.rb
Labels: Frontend, Test Suite / CI :syringe:, Refactoring :factory:

#14609 API: show replies to inline comments
  src/api/app/components/comment_component.rb
Labels: Frontend

#14602 Show diff comments in the Web UI, non-beta
  src/api/app/views/webui/comment/_comment_list.html.haml
  src/api/app/views/webui/comment/_content.html.haml
Labels: Frontend, review-app

#14608 Improve query to retrieve comments for request actions
  src/api/app/components/bs_request_activity_timeline_component.rb
  src/api/app/controllers/comments_controller.rb
Labels: Frontend

#14607 Request description as part of the conversation history
  src/api/app/assets/stylesheets/webui/collapsible-text.scss
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation_aside.html.haml
Labels: Frontend, review-app

#14610 Create scope for comments on actions for a specific request
  src/api/app/components/bs_request_activity_timeline_component.rb
  src/api/app/controllers/comments_controller.rb
  src/api/app/models/comment.rb
  src/api/app/views/webui/comment/_comment_list.html.haml
Labels: Frontend, review-app

#14612 More space between the title and the text
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#14614 Show the most relevant information of the current action in the dropdown
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/spec/features/webui/requests/submissions_spec.rb
Labels: Frontend

#14617 Wrap all select boxes under the same div container
  src/api/app/views/webui/request/beta_show_tabs/_rpm_lint_result.html.haml
Labels: Frontend, review-app

#14620 Instrument bs_request_actions by type
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend

#14626 Fix filter order for set_influxdb_data
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#14636 Replace HamlLint::RubyExtractor
  src/api/lib/haml-lint/custom_linters/set_pagetitle_in_view.rb
Labels: Frontend

#14633 Drop unused `user_registrations` table
  src/api/app/models/user.rb
  src/api/db/migrate/20230712141001_drop_user_registrations.rb
  src/api/db/schema.rb
Labels: Frontend

#14638 Fix custom linter SetPagetitleInView
  src/api/.haml-lint.yml
  src/api/.haml-lint_todo.yml
  src/api/lib/haml-lint/custom_linters/set_pagetitle_in_view.rb
Labels: Frontend

#14645 Fix kiwi_image association in Kiwi::Package model
  src/api/app/models/kiwi/package.rb
Labels: Frontend

#14641 Download workflow file for private GitLab repositories
  src/api/app/services/workflows/yaml_downloader.rb
  src/api/spec/services/workflows/yaml_downloader_spec.rb
Labels: Frontend

#14639 Update rails from 7.0.4.3 to 7.0.6
  src/api/Gemfile.lock
  src/api/vendor/cache/actioncable-7.0.4.3.gem
  src/api/vendor/cache/actioncable-7.0.6.gem
  src/api/vendor/cache/actionmailbox-7.0.4.3.gem
  src/api/vendor/cache/actionmailbox-7.0.6.gem
  src/api/vendor/cache/actionmailer-7.0.4.3.gem
  src/api/vendor/cache/actionmailer-7.0.6.gem
  src/api/vendor/cache/actionpack-7.0.4.3.gem
  src/api/vendor/cache/actionpack-7.0.6.gem
  src/api/vendor/cache/actiontext-7.0.4.3.gem
  src/api/vendor/cache/actiontext-7.0.6.gem
  src/api/vendor/cache/actionview-7.0.4.3.gem
  src/api/vendor/cache/actionview-7.0.6.gem
  src/api/vendor/cache/activejob-7.0.4.3.gem
  src/api/vendor/cache/activejob-7.0.6.gem
  src/api/vendor/cache/activemodel-7.0.4.3.gem
  src/api/vendor/cache/activemodel-7.0.6.gem
  src/api/vendor/cache/activerecord-7.0.4.3.gem
  src/api/vendor/cache/activerecord-7.0.6.gem
  src/api/vendor/cache/activestorage-7.0.4.3.gem
  src/api/vendor/cache/activestorage-7.0.6.gem
  src/api/vendor/cache/activesupport-7.0.4.3.gem
  src/api/vendor/cache/activesupport-7.0.6.gem
  src/api/vendor/cache/rails-7.0.4.3.gem
  src/api/vendor/cache/rails-7.0.6.gem
  src/api/vendor/cache/railties-7.0.4.3.gem
  src/api/vendor/cache/railties-7.0.6.gem
Labels: Frontend, review-app

#14650 [backend] enable container publishing notifications
  src/backend/BSBearer.pm
  src/backend/bs_publish
  src/backend/bs_srcserver
Labels: Backend

#14657 Update flipper rubygem from 0.28.0 to 0.28.1
  src/api/Gemfile.lock
  src/api/vendor/cache/flipper-0.28.0.gem
  src/api/vendor/cache/flipper-0.28.1.gem
  src/api/vendor/cache/flipper-active_record-0.28.0.gem
  src/api/vendor/cache/flipper-active_record-0.28.1.gem
  src/api/vendor/cache/flipper-ui-0.28.0.gem
  src/api/vendor/cache/flipper-ui-0.28.1.gem
Labels: Frontend

#14658 Address HAML-Lint TrailingEmptyLines complains
  src/api/app/views/layouts/webui/_left_navigation.html.haml
  src/api/app/views/webui/distributions/_breadcrumb_items.html.haml
  src/api/app/views/webui/distributions/new.html.haml
  src/api/app/views/webui/package/_fileinfo.html.haml
  src/api/app/views/webui/package/_job_status.html.haml
  src/api/app/views/webui/package/_rpmlint_result.html.haml
  src/api/app/views/webui/package/live_build_log.html.haml
  src/api/app/views/webui/package/statistics.html.haml
  src/api/app/views/webui/project/_edit_comment.html.haml
  src/api/app/views/webui/repositories/_add_repository_path_modal.html.haml
  src/api/app/views/webui/search/_search_for.html.haml
  src/api/app/views/webui/shared/_requests_state_and_type_form.html.haml
  src/api/app/views/webui/staging/shared/_legend.html.haml
  src/api/app/views/webui/staging/workflows/_status_problems.html.haml
Labels: Frontend

#14659 Run HAML-Lint in our CI when HAML rubygems get updated
  .circleci/config.yml
Labels: Test Suite / CI :syringe:

#14660 Upgrade CircleCI base image to Leap 15.4
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

#14631 Fix links to dependant packages in package binary page
  src/api/app/views/webui/package/binary.html.haml
Labels: Frontend, review-app

#14666 Create event subscription for trigger service and rebuild package workflow steps
  src/api/app/models/workflow/step/rebuild_package.rb
  src/api/app/models/workflow/step/trigger_services.rb
Labels: Frontend

#14668 Refactor the step event subscription
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/models/workflow/step/rebuild_package.rb
  src/api/app/models/workflow/step/trigger_services.rb
  src/api/app/services/workflows/scm_event_subscription_creator.rb
Labels: Frontend

#14676 Bugfix: request number is the identifier
  src/api/app/views/webui/package/_commit_item.html.haml
Labels: Frontend

#14681 Use `aliases: true` to avoid yaml loading errors
  src/api/lib/tasks/migrate_options_yml.rake
Labels: Frontend

#14682 Remove rubygem RDoc
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/vendor/cache/rdoc-6.3.3.gem
Labels: Frontend

#14692 Fix button visibility condition
  src/api/app/views/webui/package/revisions.html.haml
Labels: Frontend

#14690 Reuse existing event subscription to notify SCMs back
  src/api/app/services/workflows/scm_event_subscription_creator.rb
Labels: Frontend

#14693 Never report on Tag Push events
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/services/workflows/scm_event_subscription_creator.rb
Labels: Frontend

#14694 Revisions pagination info
  src/api/app/views/webui/package/revisions.html.haml
Labels: Frontend

#14683 Tell people about Pundit errors in WorkflowRun
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/models/workflow.rb
Labels: Frontend

#14696 README.md: use Leap 15.4 instead of 15.1
  README.md
Labels: Documentation :book:

#14605 [backend] bs_worker: fix undefined variable reference
  src/backend/bs_worker
Labels: Backend

#14712 [backend] BSRPC: reduce dns cache ttl to one hour
  src/backend/BSRPC.pm
  src/backend/bs_dodup
Labels: Backend

#14716 [backend] bs_notifyforward: disable multirequest mode when using https
  src/backend/BSServerEvents.pm
  src/backend/BSWatcher.pm
  src/backend/bs_notifyforward
Labels: Backend

#14673 Also show GPG Key User ID
  src/api/app/views/webui/projects/signing_keys/show.html.haml
Labels: Frontend

#14719 Run our SCM/CI Workflow Against 15.5
  .circleci/conditional_config.yml
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

#14722 [backend] BSProductXML: add download redirectory policy attribute
  src/backend/BSProductXML.pm
Labels: Backend

#14727 [backend] always remove events from the active list when pausing
  src/backend/BSServerEvents.pm
  src/backend/BSWatcher.pm
Labels: Backend

#14729 [backend] fix concatconfigs call in published_path
  src/backend/bs_srcserver
Labels: Backend

#14721 Notifications menu enhancements
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/components/notification_filter_link_component.html.haml
  src/api/app/components/notification_filter_link_component.rb
  src/api/spec/components/notification_filter_link_component_spec.rb
Labels: Frontend

#14728 Workflow run content UI enhancements
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_row_component.html.haml
Labels: Frontend

#14720 Workflow run menu enhancements
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.rb
Labels: Frontend

#14737 Honor the `force` parameter when accepting a delete request
  src/api/app/models/bs_request_permission_check.rb
Labels: Frontend, review-app

#14726 [dist] update Gemfile.lock for rspec testsuite
  dist/t/Gemfile.lock
  dist/t/spec/features/0030_project_spec.rb
Labels: Frontend, Test Suite / CI :syringe:, 2.10

#14717 Disable partial inserts in active record
  src/api/config/application.rb
Labels: Frontend

#14741 Switch to branch_package and test 15.4 build
  .obs/workflows.yml
Labels: 2.10
