Repository openSUSE/open-build-service, pull requests merged in 2023-08, with the labels that each got.

#14755 [backend] BSSSL: implement EOF detection
  src/backend/BSSSL.pm
  src/backend/bs_dispatch
  src/backend/bs_serverstatus
Labels: Backend

#14750 Support private GitHub repos for SCM/CI integration
  src/api/app/services/workflows/yaml_downloader.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/services/workflows/yaml_downloader_spec.rb
Labels: Frontend

#14761 [backend] BSEvents: log handler calls taking more than 5 seconds
  src/backend/BSConfiguration.pm
  src/backend/BSEvents.pm
  src/backend/BSSched/Checker.pm
  src/backend/bs_repserver
Labels: Backend

#14680 Don't send metrics of start times of daemons
  src/api/app/jobs/worker_measurements_job.rb
Labels: Frontend

#14751 Split responsibilities of close_requests
  src/api/app/models/package.rb
  src/api/test/functional/request_controller_test.rb
  src/api/test/unit/package_remove_test.rb
Labels: Frontend, Refactoring :factory:

#14656 Add submit request step to SCM/CI workflows
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
  src/api/app/components/workflow_artifacts_per_step_component.rb
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/workflow.rb
  src/api/app/models/workflow/step/submit_request.rb
  src/api/app/models/workflow_run.rb
  src/api/app/policies/bs_request_policy.rb
  src/api/app/queries/event_subscriptions_finder.rb
  src/api/app/services/gitea_status_reporter.rb
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/gitlab_status_reporter.rb
  src/api/app/services/scm_status_reporter.rb
  src/api/app/services/workflows/artifacts_collector.rb
  src/api/app/services/workflows/scm_event_subscription_creator.rb
  src/api/db/migrate/20230717220936_add_bs_request_to_event_subscription.rb
  src/api/db/schema.rb
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_closed_PR/when_the_token_user_is_authorized/revokes_previous_submit_requests.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_closed_PR/when_the_token_user_is_not_authorized/does_not_revoke_previous_submit_requests.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_no_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_updated_PR/when_the_token_user_is_authorized/creates_the_workflow_artifact.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_updated_PR/when_the_token_user_is_authorized/supersedes_previously_created_submit_request_and_opens_a_new_one.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_updated_PR/when_the_token_user_is_not_authorized/does_not_supersede_the_previously_created_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/creates_the_workflow_artifact.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/supersedes_previously_created_submit_request_and_opens_a_new_one.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_not_authorized/does_not_supersede_the_previously_created_submit_request.yml
  src/api/spec/models/workflow/step/submit_request_step_spec.rb
Labels: Frontend, Test Suite / CI :syringe:, scm-ci

#14760 Report the initial submit request state to the scm
  src/api/app/models/workflow/step/submit_request.rb
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_closed_PR/when_the_token_user_is_authorized/revokes_previous_submit_requests.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_closed_PR/when_the_token_user_is_not_authorized/does_not_revoke_previous_submit_requests.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_no_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_updated_PR/when_the_token_user_is_authorized/creates_the_workflow_artifact.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_updated_PR/when_the_token_user_is_authorized/supersedes_previously_created_submit_request_and_opens_a_new_one.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_updated_PR/when_the_token_user_is_not_authorized/does_not_supersede_the_previously_created_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/creates_the_workflow_artifact.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/supersedes_previously_created_submit_request_and_opens_a_new_one.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_not_authorized/does_not_supersede_the_previously_created_submit_request.yml
  src/api/spec/models/workflow/step/submit_request_step_spec.rb
  src/api/spec/services/gitea_status_reporter_spec.rb
  src/api/spec/services/github_status_reporter_spec.rb
  src/api/spec/services/gitlab_status_reporter_spec.rb
  src/api/spec/services/scm_status_reporter_spec.rb
Labels: Frontend

#14769 [backend] ssl_iseof: do fewer filedescriptors dups
  src/backend/BSSSL.pm
  src/backend/BSUtil.pm
  src/backend/bs_dispatch
Labels: Backend

#14770 Rename revoke_requests_with_self_as_target
  src/api/app/models/package.rb
Labels: Frontend

#14773 Fix hash dig in event_source_message
  src/api/app/models/workflow_run.rb
Labels: Frontend

#14772 Fix initial reporting
  src/api/app/models/workflow/step/submit_request.rb
Labels: Frontend

#14774 Drop state from commit status context
  src/api/app/services/gitea_status_reporter.rb
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/gitlab_status_reporter.rb
  src/api/spec/services/gitea_status_reporter_spec.rb
  src/api/spec/services/github_status_reporter_spec.rb
  src/api/spec/services/gitlab_status_reporter_spec.rb
Labels: Frontend

#14779 [backend] fix logic in notify_repservers call
  src/backend/BSSrcServer/Service.pm
Labels: Backend

#14781 Flush content of path details for each repository
  src/api/app/views/webui/repositories/_repository_card_content.html.haml
Labels: Frontend, review-app

#14783 [backend] Scmsync: ignore url when comparing the package meta
  src/backend/BSSrcServer/Scmsync.pm
Labels: Backend

#14780 Add "Update of the Base Distributions" section to the release notes
  ReleaseNotes-2.10.21
Labels: 2.10

#14790 [backend] bs_srcserver: always expand the hostrepo path in buildinfo queries
  src/backend/BSSched/BuildJob/KiwiImage.pm
  src/backend/BSStdServer.pm
  src/backend/bs_srcserver
Labels: Backend

#14797 Make RuboCop linter pass, ignoring class with many lines
  src/api/.rubocop_todo.yml
Labels: Test Suite / CI :syringe:

#14796 Also measure total time of builds
  src/api/app/models/event/build.rb
Labels: Frontend

#14808 Add workflow kind to the kind attribute documentation in tokenlist.rng
  docs/api/api/tokenlist.rng
Labels: Documentation :book:

#14818 Gett off of twitter...
  src/api/app/views/layouts/webui/_footer.html.haml
Labels: Frontend

#14804 Document `GET /build/.../_buildenv` and `_statistics` API endpoints
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/components/schemas/buildenv.yaml
  src/api/public/apidocs/components/schemas/buildstatistics.yaml
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_package_name_buildenv.yaml
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_package_name_statistics.yaml
Labels: Documentation :book:, Frontend, review-app

#14825 Fix typo in redirect in the webui routes
  src/api/config/routes/webui_routes.rb
Labels: Frontend

#14826 Introduces gitleaks
  .github/workflows/gitleaks.yml
  .gitleaksignore
  gitleaks.toml
Labels: Test Suite / CI :syringe:

#14839 Normalize URLs before trying to download them.
  src/backend/BSRepServer/DoD.pm
Labels: Backend

#14847 Stop supporting scmsync for some operations
  src/api/app/models/concerns/scm_sync_enabled_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_package_level/1_1_1_7_2_5.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_1.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_2.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_3.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_4.yml
  src/api/spec/cassettes/Workflow_Step_LinkPackageStep/_call/when_the_SCM_is_GitHub/when_scmsync_is_active/on_project_level/1_1_1_7_1_5.yml
  src/api/spec/models/workflow/step/link_package_step_spec.rb
Labels: Frontend

#14851 Add missing `@` to the variable containing the user
  src/api/app/controllers/webui/groups/users_controller.rb
Labels: Frontend

#14848 [api] fix multibuild flavors for checkconstraints
  src/api/app/controllers/worker/command_controller.rb
Labels: Frontend
