Repository openSUSE/open-build-service, pull requests merged in 2023-12, with the labels that each got.

#15298 Simplify test for subscriptions creation
  src/api/spec/models/event_subscription/find_for_event_spec.rb
Labels: Frontend

#15317 [backend] fix channel/report generation for kiwi product builds
  src/backend/bs_worker
Labels: Backend

#15321 Introduces Configuration.proxy_auth_mode_enabled?
  src/api/app/controllers/person_controller.rb
  src/api/app/helpers/authentication_protocol_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/lib/authenticator.rb
  src/api/app/models/configuration.rb
  src/api/app/views/layouts/webui/_login_form.html.haml
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/webui/session/_form.html.haml
Labels: Frontend

#15310 Fix existens typos in code comments
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/lib/xpath_engine.rb
  src/api/test/functional/channel_maintenance_test.rb
Labels: Frontend

#15295 Remove not needed `try` for no longer existing RSS group subscribers
  src/api/app/services/notification_service/notifier.rb
Labels: Frontend

#15303 Include more information in notifications for deleted reportables
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
Labels: Frontend, review-app

#15280 Refactor methods to run backend test tasks
  src/api/app/lib/backend/test/tasks.rb
Labels: Frontend

#15196 Refactor `border-light` CSS class and `$white` SCSS variable
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/assets/stylesheets/webui/image_templates.scss
  src/api/app/assets/stylesheets/webui/patchinfo.scss
  src/api/app/assets/stylesheets/webui/personal-navigation.scss
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/views/webui/shared/_buildresult_box.html.haml
Labels: Frontend, review-app

#15322 Extend reports feature spec with more user roles
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_package/for_a_user_who_is_not_the_author/displays_the_You_reported_this_comment_message_instantly.yml
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_package/for_a_user_who_is_the_author/does_not_display_the_report_link.yml
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_project/for_a_user_who_is_not_the_author/displays_the_You_reported_this_comment_message_instantly.yml
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_project/for_a_user_who_is_the_author/does_not_display_the_report_link.yml
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_request/for_a_user_who_is_not_the_author/displays_the_You_reported_this_comment_message_instantly.yml
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_request/for_a_user_who_is_the_author/does_not_display_the_report_link.yml
  src/api/spec/cassettes/Reports/reporting_a_package/for_a_user_who_is_maintainer/does_not_display_the_report_link.yml
  src/api/spec/cassettes/Reports/reporting_a_package/for_a_user_who_is_not_a_maintainer/displays_the_You_reported_this_package_message_instantly.yml
  src/api/spec/cassettes/Reports/reporting_a_project/for_a_user_who_is_a_maintainer/does_not_display_the_report_link.yml
  src/api/spec/cassettes/Reports/reporting_a_project/for_a_user_who_is_not_a_maintainer/displays_the_You_reported_this_project_message_instantly.yml
  src/api/spec/features/beta/webui/reports_spec.rb
Labels: Frontend

#15313 Create feature spec for decisions on reports
  src/api/spec/cassettes/Decisions/comment_on_package/creates_the_decision_for_a_moderator.yml
  src/api/spec/cassettes/Decisions/comment_on_project/creates_the_decision_for_a_moderator.yml
  src/api/spec/cassettes/Decisions/package/creates_the_decision_for_a_moderator.yml
  src/api/spec/cassettes/Decisions/project/creates_the_decision_for_a_moderator.yml
  src/api/spec/features/beta/webui/decisions_spec.rb
Labels: Frontend

#15296 Implement UI for canned responses feature
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/canned_responses.js
  src/api/app/components/canned_responses_dropdown_component.html.haml
  src/api/app/components/canned_responses_dropdown_component.rb
  src/api/app/components/reports_modal_component.html.haml
  src/api/app/components/reports_modal_component.rb
  src/api/app/controllers/webui/users/canned_responses_controller.rb
  src/api/app/models/canned_response.rb
  src/api/app/models/user.rb
  src/api/app/policies/canned_response_policy.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/user/_index_actions.html.haml
  src/api/app/views/webui/user/index_actions/_manage_canned_responses.haml
  src/api/app/views/webui/users/canned_responses/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/canned_responses/edit.html.haml
  src/api/app/views/webui/users/canned_responses/index.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/cassettes/Comments/can_be_created_using_canned_responses.yml
  src/api/spec/components/previews/canned_responses_dropdown_component_preview.rb
  src/api/spec/factories/canned_responses.rb
  src/api/spec/features/webui/canned_responses_spec.rb
  src/api/spec/features/webui/comments_spec.rb
Labels: Frontend, review-app

#15314 Create the appeals table
  src/api/db/migrate/20231204093136_create_appeals.rb
  src/api/db/schema.rb
Labels: Frontend

#15328 Fix absolute URL's in link_to_reportables helper
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend

#15308 Email notifications for events related to decisions
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/app/models/decision.rb
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/favored_decision.rb
  src/api/app/views/event_mailer/cleared_decision.html.haml
  src/api/app/views/event_mailer/cleared_decision.text.erb
  src/api/app/views/event_mailer/create_report.html.haml
  src/api/app/views/event_mailer/favored_decision.html.haml
  src/api/app/views/event_mailer/favored_decision.text.erb
  src/api/spec/factories/decisions.rb
  src/api/spec/factories/event_subscriptions.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend

#15311 Add email subscriptions for decision related events
  src/api/db/data/20231201205533_create_email_subscriptions_for_decision_related_events.rb
  src/api/db/data_schema.rb
Labels: Frontend

#15329 Include more information for notifications about deleted comments
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/report.rb
Labels: Frontend

#15340 Fix CSS class for italic font style
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/token_card_component.html.haml
  src/api/app/components/workflow_artifacts_per_step_component.rb
  src/api/app/views/webui/patchinfo/form/_binaries.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/app/views/webui/request/rpm_lint.html.haml
  src/api/app/views/webui/shared/_buildresult_box.html.haml
  src/api/app/views/webui/users/tokens/show.html.haml
  src/api/spec/components/previews/card_component_preview.rb
Labels: Frontend

#15341 Add appeal model and event
  src/api/app/models/appeal.rb
  src/api/app/models/event/appeal_created.rb
  src/api/db/migrate/20231211120635_add_missing_foreign_key_constraints_to_appeals.rb
  src/api/db/schema.rb
Labels: Frontend

#15345 Check if the request has any actions first
  src/api/app/services/action_build_results_service/chart_data_extractor.rb
  src/api/spec/services/action_build_results_service/chart_data_extractor_spec.rb
Labels: Frontend

#15347 Drop redundant test
  src/api/spec/services/action_build_results_service/chart_data_extractor_spec.rb
Labels: Frontend

#15346 [backend] Checker: free all caches when we finished checking a prp
  src/backend/BSSched/Checker.pm
  src/backend/bs_getbinariesproxy
  src/backend/bs_sched
Labels: Backend

#15342 Create appeals controller, routes and views
  src/api/app/controllers/webui/appeals_controller.rb
  src/api/app/policies/appeal_policy.rb
  src/api/app/views/webui/appeals/_breadcrumb_items.html.haml
  src/api/app/views/webui/appeals/_list_decision.html.haml
  src/api/app/views/webui/appeals/_list_reports.html.haml
  src/api/app/views/webui/appeals/new.html.haml
  src/api/app/views/webui/appeals/show.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/factories/appeal.rb
  src/api/spec/policies/appeal_policy_spec.rb
Labels: Frontend, review-app

#15248 Drop Token:Rss
  src/api/app/controllers/webui/feeds_controller.rb
  src/api/app/models/token.rb
  src/api/app/models/token/rss.rb
  src/api/app/policies/token/rss_policy.rb
  src/api/app/policies/token_policy.rb
  src/api/db/data/20231208145155_drop_token_rss.rb
  src/api/db/data_schema.rb
  src/api/spec/controllers/webui/users/tokens_controller_spec.rb
  src/api/spec/factories/tokens.rb
  src/api/spec/policies/token/rss_policy_spec.rb
  src/api/spec/policies/token_policy_spec.rb
Labels: Frontend

#15351 Fix the use of the appeal policy
  src/api/app/controllers/webui/appeals_controller.rb
Labels: Frontend

#15262 Decouple the two /trigger controllers
  src/api/app/controllers/trigger_controller.rb
  src/api/app/controllers/trigger_workflow_controller.rb
Labels: Frontend

#15349 Require authentication for API endpoints which missed authentication
  src/api/app/controllers/staging/excluded_requests_controller.rb
  src/api/app/controllers/staging/staged_requests_controller.rb
  src/api/app/controllers/staging/staging_projects_controller.rb
  src/api/public/apidocs/paths/staging_project_name_excluded_requests.yaml
  src/api/public/apidocs/paths/staging_project_name_staging_projects.yaml
  src/api/public/apidocs/paths/staging_project_name_staging_projects_staging_project_name_staged_requests.yaml
  src/api/spec/controllers/staging/excluded_requests_controller_spec.rb
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
  src/api/spec/controllers/staging/staging_projects_controller_spec.rb
Labels: Documentation :book:, Frontend

#15359 Prevent appealing a decision for reports with a now-deleted reportable
  src/api/app/policies/appeal_policy.rb
  src/api/spec/policies/appeal_policy_spec.rb
Labels: Frontend

#15361 [backend] serialize getconfig, binaryversions and binaryversionlist interconnect requests
  src/backend/BSSrcServer/Remote.pm
  src/backend/BSStdServer.pm
  src/backend/BSWatcher.pm
  src/backend/bs_srcserver
Labels: Backend

#15362 Report the author of a comment as well as their comment if wanted
  src/api/app/assets/javascripts/webui/report.js
  src/api/app/controllers/webui/reports_controller.rb
  src/api/app/views/webui/shared/_report_modal.html.haml
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_package/for_a_user_who_is_not_the_author/is_possible_to_report_the_both_the_comment_and_its_author.yml
  src/api/spec/cassettes/Reports/reporting_a_comment_on_a_project/for_a_user_who_is_not_the_author/is_possible_to_report_both_the_comment_and_its_author.yml
  src/api/spec/features/beta/webui/reports_spec.rb
Labels: Frontend, review-app

#15360 Enforce the presence of a reportable on a report's creation
  src/api/app/models/report.rb
  src/api/spec/policies/appeal_policy_spec.rb
Labels: Frontend

#15355 Add missing notifications rss feed views
  src/api/app/views/notifications/build_fail.text.erb
  src/api/app/views/notifications/relationship_create.text.erb
  src/api/spec/cassettes/Webui_FeedsController/GET_notifications/when_fetching_build_failed_notifications/1_3_3_1.yml
  src/api/spec/controllers/webui/feeds_controller_spec.rb
Labels: Frontend

#15367 Deprecate `POST /person/register` API endpoint
  src/api/public/apidocs/paths/person_register.yaml
Labels: Documentation :book:, Frontend, review-app

#15363 Always show subscription form for report events in the admin interface
  src/api/app/models/event_subscription/form.rb
Labels: Frontend

#15371 [backend] bs_worker: copy version/release from the containerinfo when generating the report file
  src/backend/BSSrcServer/Remote.pm
  src/backend/bs_srcserver
  src/backend/bs_worker
Labels: Backend

#15370 Report a request
  src/api/app/assets/javascripts/webui/report.js
  src/api/app/components/reports_notice_component.rb
  src/api/app/models/bs_request.rb
  src/api/app/policies/bs_request_policy.rb
  src/api/app/policies/report_policy.rb
  src/api/app/views/webui/request/_report_request.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_show_actions.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend, review-app

#15372 Add subscription form for `Event::AppealCreated` for moderators and admins
  src/api/app/models/event/appeal_created.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event_subscription/for_channel_form.rb
  src/api/app/models/event_subscription/form.rb
Labels: Frontend

#15375 Implement an event to detect request reporting
  src/api/app/models/event/report_for_request.rb
  src/api/app/models/report.rb
  src/api/lib/tasks/dev/reports.rake
Labels: Frontend

#15377 Use file_fixture for file fixtures
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
  src/api/spec/controllers/webui/request_controller_spec.rb
  src/api/spec/factories/packages.rb
  src/api/spec/factories/workflow_runs.rb
  src/api/spec/features/webui/repositories_spec.rb
  src/api/spec/fixtures/files/bigfile_archive.tar.gz
  src/api/spec/fixtures/files/bigfile_archive_2.tar.gz
  src/api/spec/fixtures/files/diff_simple.diff
  src/api/spec/fixtures/files/diff_with_no_newline_comments.diff
  src/api/spec/fixtures/files/distributions.xml
  src/api/spec/fixtures/files/hello.txt
  src/api/spec/fixtures/files/hello_world
  src/api/spec/fixtures/files/invalid_steps_workflows.yml
  src/api/spec/fixtures/files/multiple_workflows.yml
  src/api/spec/fixtures/files/project_with_dod.xml
  src/api/spec/fixtures/files/request_payload_github_pull_request_closed.json
  src/api/spec/fixtures/files/request_payload_github_pull_request_opened.json
  src/api/spec/fixtures/files/request_payload_github_push.json
  src/api/spec/fixtures/files/request_payload_github_tag_push.json
  src/api/spec/fixtures/files/request_payload_gitlab_pull_request_closed.json
  src/api/spec/fixtures/files/request_payload_gitlab_pull_request_merged.json
  src/api/spec/fixtures/files/request_payload_gitlab_pull_request_opened.json
  src/api/spec/fixtures/files/request_payload_gitlab_push.json
  src/api/spec/fixtures/files/request_payload_gitlab_tag_push.json
  src/api/spec/fixtures/files/unparsable_workflows.yml
  src/api/spec/fixtures/files/unparsable_workflows_placeholders.yml
  src/api/spec/fixtures/files/workflows.yml
  src/api/spec/models/backend/file_spec.rb
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/services/diff_parser_spec.rb
  src/api/spec/services/workflows/yaml_to_workflows_service_spec.rb
Labels: Frontend

#15379 Add decision events to subscription configuration form
  src/api/app/models/event/base.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/for_channel_form.rb
  src/api/app/models/event_subscription/form.rb
Labels: Frontend, review-app

#15382 Ensure all reports of a Decision point to the same reportable
  src/api/app/models/report.rb
  src/api/spec/models/report_spec.rb
Labels: Frontend

#15381 Revert "Add email subscriptions for decision related events"
  src/api/db/data/20231201205533_create_email_subscriptions_for_decision_related_events.rb
Labels: Frontend

#15389 Fix typo
  src/api/spec/models/report_spec.rb
Labels: Frontend

#15376 Allow users to subscribe to reported requests events
  src/api/app/models/event/base.rb
  src/api/app/models/event_subscription/for_channel_form.rb
  src/api/app/models/event_subscription/form.rb
Labels: Frontend, review-app

#15384 Drop cassette rewinder
  src/api/spec/cassette_rewinder.rb
  src/api/spec/code_mirror_helper.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/spec_helper.rb
Labels: Frontend

#15380 Move spec/support/shared_* to spec/shared
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/spec/browser_helper.rb
  src/api/spec/shared/contexts/a_bs_request_with_reviews.rb
  src/api/spec/shared/contexts/a_bsrequest_that_has_a_project_link.rb
  src/api/spec/shared/contexts/a_github_issue_response.rb
  src/api/spec/shared/contexts/a_kerberos_mock.rb
  src/api/spec/shared/contexts/a_kiwi_image_xml.rb
  src/api/spec/shared/contexts/a_opensuse_product.rb
  src/api/spec/shared/contexts/a_project_with_maintenance_statistics.rb
  src/api/spec/shared/contexts/a_set_of_bs_requests.rb
  src/api/spec/shared/contexts/a_staging_project_with_description.rb
  src/api/spec/shared/contexts/a_summary_response.rb
  src/api/spec/shared/contexts/a_user_and_subscriptions.rb
  src/api/spec/shared/contexts/a_user_and_subscriptions_with_defaults.rb
  src/api/spec/shared/contexts/an_invalid_kiwi_image_xml.rb
  src/api/spec/shared/contexts/rake.rb
  src/api/spec/shared/contexts/setup_ldap_mock.rb
  src/api/spec/shared/examples/a_bs_requests_data_table_controller.rb
  src/api/spec/shared/examples/a_bs_requests_data_table_controller_with_state_and_type_options.rb
  src/api/spec/shared/examples/a_confirmed_user_logs_in.rb
  src/api/spec/shared/examples/a_ldap_connection.rb
  src/api/spec/shared/examples/a_project_status_controller.rb
  src/api/spec/shared/examples/a_subscriptions_form_for_subscriber.rb
  src/api/spec/shared/examples/features/boostrap_flag_tables.rb
  src/api/spec/shared/examples/features/bootstrap_user_tab.rb
  src/api/spec/shared/examples/features/flags_tables.rb
  src/api/spec/shared/examples/relationships.rb
  src/api/spec/shared/examples/tokens.rb
  src/api/spec/spec_helper.rb
Labels: Frontend, Test Suite / CI :syringe:

#15395 Add migration after flipper rubygem update
  src/api/db/migrate/20231218151408_change_flipper_gates_value_to_text.rb
  src/api/db/schema.rb
Labels: Frontend

#15397 Add missing model annotation for Event::ReportForRequest
  src/api/app/models/event/report_for_request.rb
Labels: Frontend

#15373 Add missing content moderation events to the notifications for reports
  src/api/app/queries/notifications_finder.rb
Labels: Frontend, review-app

#15378 Implement notifications for reported request events
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/services/notification_service/notifier.rb
Labels: Frontend

#15401 Remove warning comments about using VCR (II)
  src/api/spec/controllers/source_attribute_controller_spec.rb
  src/api/spec/controllers/source_controller_spec.rb
  src/api/spec/controllers/source_project_config_controller_spec.rb
  src/api/spec/controllers/source_project_meta_controller_spec.rb
  src/api/spec/controllers/source_project_package_meta_controller_spec.rb
  src/api/spec/controllers/webui/kiwi/images_controller_spec.rb
  src/api/spec/factories/packages.rb
  src/api/spec/jobs/issue_tracker_write_to_backend_job_spec.rb
  src/api/spec/jobs/update_backend_infos_job_spec.rb
  src/api/spec/models/kiwi/image_spec.rb
Labels: Frontend

#15318 Redirect to login page or root if anonymous
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/concerns/configuration_constants.rb
  src/api/app/models/configuration.rb
  src/api/config/options.yml.example
  src/api/spec/controllers/webui/webui_controller_spec.rb
  src/api/spec/models/configuration_spec.rb
Labels: Frontend

#15407 Handle statistics result returning nil
  src/api/app/models/local_build_statistic/for_package.rb
Labels: Frontend

#15261 Introduces token operations on project
  src/api/.rubocop_todo.yml
  src/api/app/controllers/concerns/triggerable.rb
  src/api/app/controllers/person/token_controller.rb
  src/api/app/controllers/trigger_controller.rb
  src/api/app/lib/backend/api/build/project.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/policies/token/release_policy.rb
  src/api/config/routes/api_routes.rb
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/paths/trigger_rebuild.yaml
  src/api/public/apidocs/paths/trigger_release.yaml
  src/api/public/apidocs/paths/trigger_runservice.yaml
  src/api/public/apidocs/paths/trigger_webhook.yaml
  src/api/public/apidocs/paths/trigger_workflow.yaml
  src/api/spec/cassettes/TriggerController/_rebuild/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_1_3_1_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_1_3_1_2.yml
  src/api/spec/cassettes/TriggerController/_rebuild/when_token_is_valid/1_1_2_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/with_project_and_package_parameter/1_2_2_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/with_project_parameter/1_2_3_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/with_token_package/1_2_1_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_2_6_1_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_2_6_1_2.yml
  src/api/spec/cassettes/TriggerController/_release/when_there_are_no_release_targets/1_2_5_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_user_has_no_rights_for_source/1_2_3_1.yml
  src/api/spec/cassettes/TriggerController/_release/with_project_and_package_parameter/1_3_2_1.yml
  src/api/spec/cassettes/TriggerController/_release/with_project_parameter/1_3_3_1.yml
  src/api/spec/cassettes/TriggerController/_release/with_token_package/1_3_1_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/_verfiy_package_params/1_4_3_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_3_2_1_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_3_2_1_2.yml
  src/api/spec/cassettes/TriggerController/_runservice/with_project_and_package_parameter/1_4_2_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/with_token_package/1_4_1_1.yml
  src/api/spec/controllers/person/token_controller_spec.rb
  src/api/spec/controllers/trigger_controller_spec.rb
  src/api/spec/factories/project.rb
  src/api/test/functional/trigger_controller_test.rb
Labels: Documentation :book:, Frontend, Test Suite / CI :syringe:, review-app

#15405 Don't ignore notifying ActionView::MissingTemplate
  src/api/config/initializers/airbrake.rb
Labels: Frontend

#15406 Refactoring source controller
  src/api/app/controllers/concerns/check_and_remove_repositories.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_project_controller.rb
  src/api/app/controllers/source_project_meta_controller.rb
Labels: Frontend

#15408 Fix API documentation related to `/source/{project_name}...` endpoints
  src/api/public/apidocs/paths/source_project_name.yaml
  src/api/public/apidocs/paths/source_project_name_project_file.yaml
Labels: Documentation :book:, Frontend, review-app

#15414 Re-apply token changes
  src/api/.rubocop_todo.yml
  src/api/app/controllers/concerns/triggerable.rb
  src/api/app/controllers/person/token_controller.rb
  src/api/app/controllers/trigger_controller.rb
  src/api/app/lib/backend/api/build/project.rb
  src/api/app/models/token/rebuild.rb
  src/api/app/models/token/release.rb
  src/api/app/policies/token/release_policy.rb
  src/api/config/routes/api_routes.rb
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/paths/trigger_rebuild.yaml
  src/api/public/apidocs/paths/trigger_release.yaml
  src/api/public/apidocs/paths/trigger_runservice.yaml
  src/api/public/apidocs/paths/trigger_webhook.yaml
  src/api/public/apidocs/paths/trigger_workflow.yaml
  src/api/spec/cassettes/TriggerController/_rebuild/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_1_3_1_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_1_3_1_2.yml
  src/api/spec/cassettes/TriggerController/_rebuild/when_token_is_valid/1_1_2_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/with_project_and_package_parameter/1_2_2_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/with_project_parameter/1_2_3_1.yml
  src/api/spec/cassettes/TriggerController/_rebuild/with_token_package/1_2_1_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_2_6_1_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_2_6_1_2.yml
  src/api/spec/cassettes/TriggerController/_release/when_there_are_no_release_targets/1_2_5_1.yml
  src/api/spec/cassettes/TriggerController/_release/when_user_has_no_rights_for_source/1_2_3_1.yml
  src/api/spec/cassettes/TriggerController/_release/with_project_and_package_parameter/1_3_2_1.yml
  src/api/spec/cassettes/TriggerController/_release/with_project_parameter/1_3_3_1.yml
  src/api/spec/cassettes/TriggerController/_release/with_token_package/1_3_1_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/_verfiy_package_params/1_4_3_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_3_2_1_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/when_the_token_is_not_bound_to_a_package/without_a_package_passed_in_the_parameters/1_3_2_1_2.yml
  src/api/spec/cassettes/TriggerController/_runservice/with_project_and_package_parameter/1_4_2_1.yml
  src/api/spec/cassettes/TriggerController/_runservice/with_token_package/1_4_1_1.yml
  src/api/spec/controllers/person/token_controller_spec.rb
  src/api/spec/controllers/trigger_controller_spec.rb
  src/api/spec/factories/project.rb
  src/api/test/functional/trigger_controller_test.rb
Labels: Documentation :book:, Frontend, Test Suite / CI :syringe:
