Repository openSUSE/open-build-service, pull requests merged in 2023-09, with the labels that each got.

#14858 Add a maintenance request with patchinfo spec
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/has_patchinfo_submission.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/features/beta/webui/maintenance_workflow_spec.rb
Labels: Frontend

#14865 Correct the name of the patchinfo package
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/has_patchinfo_submission.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/features/beta/webui/maintenance_workflow_spec.rb
Labels: Frontend

#14850 Request page: build results chart overview
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/components/chart_component.html.haml
  src/api/app/components/chart_component.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/has_patchinfo_submission.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/a_request_that_has_a_broken_comment/displays_the_comment_in_the_timeline.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/a_request_that_has_a_diff_comment/displays_the_comment_in_the_timeline.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/submit_several_packages_at_once_against_a_factory_staging_project/shows_the_beta_version_of_the_requests_page.yml
  src/api/spec/components/chart_component_spec.rb
  src/api/spec/components/previews/chart_component_preview.rb
  src/api/vendor/cache/chartkick-5.0.4.gem
Labels: Frontend, review-app

#14868 Bugfix: skip if project not found
  src/api/app/components/chart_component.rb
Labels: Frontend

#14869 Request build chart UI fixes
  src/api/app/components/chart_component.html.haml
Labels: Frontend

#14872 Align elements properly so as not to take the entire height
  src/api/app/components/chart_component.html.haml
Labels: Frontend

#14878 Avoid sending empty partition metric
  src/api/app/jobs/worker_measurements_job.rb
Labels: Frontend

#14882 Use `destroy_all` over `delete_all` in `mark_as_spammer` method
  src/api/app/models/user.rb
Labels: Frontend

#14891 [backend] ProjPacks: also use view=storable in update_project_meta
  src/backend/BSRekor.pm
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/ProjPacks.pm
  src/backend/bs_worker
Labels: Backend

#14893 [backend] fix BSSSL::WRITE not returning undef on error
  src/backend/BSHTTP.pm
  src/backend/BSRekor.pm
  src/backend/BSSSL.pm
Labels: Backend

#14895 [backend] cross build: fix target build dependencies always being ins…
  src/backend/BSSched/BuildJob/Package.pm
  src/backend/BSSched/Checker.pm
Labels: Backend

#14897 Fix comments textarea resize by JS
  src/api/app/assets/javascripts/webui/comment.js
Labels: Frontend

#14888 Improve token creation error message
  src/api/app/controllers/person/token_controller.rb
  src/api/spec/controllers/person/token_controller_spec.rb
Labels: Frontend

#14896 Extend user deletion webui
  src/api/app/components/delete_confirmation_dialog_component.html.haml
  src/api/app/components/delete_confirmation_dialog_component.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/models/user.rb
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/app/views/webui/users/index.html.haml
Labels: Frontend

#14902 Revert PR 14888
  src/api/app/controllers/person/token_controller.rb
  src/api/spec/controllers/person/token_controller_spec.rb
Labels: Frontend

#14908 Improve minimum button size of requests link in tables
  src/api/app/views/webui/shared/bs_requests/index.json.erb
Labels: Frontend

#14901 [backend] bs_publish: create an empty Packages file for empty Debian …
  src/backend/bs_publish
Labels: Backend

#14906 Improve token creation error message
  src/api/app/controllers/person/token_controller.rb
  src/api/spec/controllers/person/token_controller_spec.rb
Labels: Frontend

#14880 Initial implementation of reports feature
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/report.js
  src/api/app/components/report_component.html.haml
  src/api/app/components/report_component.rb
  src/api/app/controllers/webui/reports_controller.rb
  src/api/app/models/comment.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/report.rb
  src/api/app/models/user.rb
  src/api/app/policies/report_policy.rb
  src/api/app/views/webui/comment/_reply.html.haml
  src/api/app/views/webui/comment/_show.html.haml
  src/api/app/views/webui/package/_show_actions.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/package/show_actions/_report_package.html.haml
  src/api/app/views/webui/reports/create.js.erb
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/config/initializers/flipper.rb
  src/api/config/routes/webui_routes.rb
  src/api/db/migrate/20230907111316_create_reports.rb
  src/api/db/schema.rb
Labels: Frontend, review-app

#14910 [backend] BSRepServer::DoD: fix url normalization
  src/backend/BSRepServer/DoD.pm
Labels: Backend

#14912 Fix annotation comment in event subscriptions model
  src/api/app/models/event_subscription.rb
Labels: Frontend

#14898 Report projects
  src/api/app/views/webui/project/_show_actions.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/project/show_actions/_report_project.html.haml
Labels: Frontend

#14916 [backend] BSSched: new cyclic dependency handling
  src/backend/BSBuild.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSRepServer/DoD.pm
  src/backend/BSSched/BuildJob/Package.pm
  src/backend/BSSched/Checker.pm
  src/backend/t/0006-BSBuild.t
Labels: Backend

#14918 Fix reportable-type for report component
  src/api/app/components/report_component.rb
Labels: Frontend, review-app

#14920 Allow object deletion despite of reports
  src/api/app/models/report.rb
  src/api/db/migrate/20230915162740_make_reports_reportables_nullable.rb
  src/api/db/schema.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#14927 When reporting an object, display a link to the Code of Conduct
  src/api/app/components/report_component.html.haml
Labels: Frontend

#14907 Handle moderation on comments
  src/api/.rubocop_todo.yml
  src/api/app/assets/javascripts/webui/comment.js
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/models/comment.rb
  src/api/app/models/user.rb
  src/api/app/policies/comment_policy.rb
  src/api/app/views/webui/comment/_reply.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/db/migrate/20230918161340_add_moderator_id_and_moderated_at_columns_to_comments.rb
  src/api/db/schema.rb
  src/api/spec/policies/comment_policy_spec.rb
Labels: Frontend, Test Suite / CI :syringe:, review-app

#14933 Add role "Moderator" to roles table
  src/api/app/models/user.rb
  src/api/db/data/20230920125132_add_moderator_to_roles.rb
  src/api/db/data_schema.rb
  src/api/db/seeds.rb
Labels: Frontend, review-app

#14941 [backend] move cycle blocked setting into handlecycle
  src/backend/BSSched/BuildJob/Package.pm
  src/backend/BSSched/Checker.pm
Labels: Backend

#14938 Wider button for table request link
  src/api/app/assets/stylesheets/webui/datatables.scss
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/views/webui/shared/bs_requests/index.json.erb
Labels: Frontend, review-app

#14943 Introduces concern for build result parsing
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/app/controllers/concerns/webui/project_build_result_parsing.rb
  src/api/app/controllers/webui/project_controller.rb
Labels: Frontend, Test Suite / CI :syringe:

#14940 Improve error message when during event creation
  src/api/app/models/event/base.rb
Labels: Frontend

#14942 [backend] fix aggregate meta generation
  src/backend/BSSched/BuildJob/Aggregate.pm
Labels: Backend

#14937 Create new model Decision
  src/api/app/models/decision.rb
  src/api/app/models/report.rb
  src/api/app/models/user.rb
  src/api/db/migrate/20230921133606_create_decisions.rb
  src/api/db/schema.rb
Labels: Frontend

#14913 Create notifications for reported objects
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_avatars_component.rb
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/components/notification_filter_component.rb
  src/api/app/components/notification_filter_link_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/app/jobs/send_event_emails_job.rb
  src/api/app/mailers/event_mailer.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/create_report.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/for_channel_form.rb
  src/api/app/models/event_subscription/form.rb
  src/api/app/models/report.rb
  src/api/app/models/user.rb
  src/api/app/queries/notifications_finder.rb
  src/api/app/queries/outdated_notifications_finder/report.rb
  src/api/app/services/notification_service/notifier.rb
  src/api/app/services/notification_service/web_channel.rb
  src/api/app/services/notified_projects.rb
  src/api/app/views/event_mailer/create_report.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/components/notification_action_description_component_spec.rb
  src/api/spec/components/notification_filter_component_spec.rb
  src/api/spec/components/notification_notifiable_link_component_spec.rb
  src/api/spec/factories/event_subscriptions.rb
  src/api/spec/factories/notification.rb
  src/api/spec/factories/reports.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend, review-app

#14948 Move is_link variable to the place it's used
  src/api/app/controllers/webui/packages/job_history_controller.rb
  src/api/app/controllers/webui/packages/main_controller.rb
  src/api/spec/cassettes/Packages/adding_a_valid_file.yml
Labels: Frontend

#14953 [backend] support parsing text for issue tracker matchers
  src/backend/BSSched/RPC.pm
  src/backend/BSSrcServer/Srcdiff.pm
  src/backend/BSUtil.pm
  src/backend/bs_srcserver
Labels: Backend

#14949 Do not use action as "local" variable
  src/api/app/controllers/webui/project_controller.rb
Labels: Frontend

#14921 Provide some test Reports for development
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/rake_support.rb
  src/api/lib/tasks/dev/reports.rake
Labels: Frontend, review-app

#14961 Favor moderator as Report notification receivers
  src/api/app/models/event/base.rb
Labels: Frontend

#14962 [backend] bs_publish: also rename sbom files in slepool hack
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/BSXML.pm
  src/backend/bs_publish
  src/backend/bs_repserver
Labels: Backend

#14947 Introduces Architecture.to_param
  src/api/app/models/architecture.rb
Labels: Frontend

#14954 Add test data for decisions
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/reports.rake
Labels: Frontend, review-app

#14968 No need to catch and re-raise the same exception...
  src/api/app/models/project/update_from_xml_command.rb
Labels: Frontend

#14974 Handle Project/Package not found more gracefully
  src/api/app/controllers/concerns/webui/rescue_handler.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/spec/controllers/webui/feeds_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/controllers/webui/projects/maintenance_incident_requests_controller_spec.rb
  src/api/spec/controllers/webui/projects/meta_controller_spec.rb
  src/api/spec/controllers/webui/projects/project_configuration_controller_spec.rb
  src/api/spec/controllers/webui/webui_controller_spec.rb
Labels: Frontend

#14967 Introduce notifications for decisions on moderated objects
  src/api/app/components/notification_avatars_component.rb
  src/api/app/models/decision.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/favored_decision.rb
  src/api/app/models/event_subscription.rb
  src/api/app/queries/outdated_notifications_finder/decision.rb
  src/api/app/services/notification_service/notifier.rb
  src/api/app/services/notification_service/web_channel.rb
  src/api/app/services/notified_projects.rb
  src/api/lib/tasks/dev/reports.rake
Labels: Frontend, review-app

#14976 Implement better notifications for report decisions
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_excerpt_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/decision.rb
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/favored_decision.rb
  src/api/lib/tasks/dev/reports.rake
  src/api/spec/components/notification_action_description_component_spec.rb
  src/api/spec/components/notification_notifiable_link_component_spec.rb
  src/api/spec/factories/decisions.rb
  src/api/spec/factories/notification.rb
Labels: Frontend, review-app

#14975 Implement filters for decision events
  src/api/app/queries/notifications_finder.rb
Labels: Frontend, review-app
