Repository openSUSE/open-build-service, pull requests merged in 2023-05, with the labels that each got.

#14266 Move xml response example to a xml section in new API documentation
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_servicediff.yaml
Labels: Documentation :book:, Frontend, review-app

#14164 Convert conversation tab to a separate action
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/_beta_alert.html.haml
  src/api/app/views/webui/request/_breadcrumb_items.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_request_tabs.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation.html.haml
  src/api/app/views/webui/request/conversation.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/helpers/webui/request_helper_spec.rb
Labels: Frontend, review-app

#14267 [backend] improve handling of async SSL requests in the scheduler
  src/backend/BSRPC.pm
  src/backend/BSSSL.pm
  src/backend/BSSched/EventSource/RemoteWatcher.pm
  src/backend/BSSched/RPC.pm
  src/backend/bs_sched
Labels: Backend

#14271 [backend] record epoch/version/release/arch in _buildenv
  src/backend/bs_worker
Labels: Backend

#14272 [backend] split xrpc_isfinished from xrpc_resume
  src/backend/BSSched/RPC.pm
  src/backend/bs_sched
Labels: Backend

#14274 [backend] optimize wiping of all architectures
  src/backend/BSSched/BuildResult.pm
  src/backend/BSSched/EventHandler.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Backend

#14276 [backend] bs_regpush: do not stringify the size in config_ent
  src/backend/bs_regpush
Labels: Backend

#14275 Redirect to old show view if user is not in beta
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend

#14277 Don't show the specification file explorer in the Swager-UI interface
  src/api/public/apidocs-new/swagger-initializer.js
Labels: Documentation :book:, Frontend, review-app

#14268 Use avatar component in navigation and profile areas
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/app/views/webui/user/_edit_account_form.html.haml
Labels: Frontend

#14244 Convert build results tab to a separate action
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/views/webui/request/_breadcrumb_items.html.haml
  src/api/app/views/webui/request/_request_tabs.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_build_results.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/helpers/webui/request_helper_spec.rb
Labels: Frontend, review-app

#14249 Convert rpm lint tab to a separate action
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/views/webui/request/_breadcrumb_items.html.haml
  src/api/app/views/webui/request/_request_tabs.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_rpm_lint.html.haml
  src/api/app/views/webui/request/rpm_lint.html.haml
  src/api/config/routes/webui_routes.rb
  src/api/spec/helpers/webui/request_helper_spec.rb
Labels: Frontend

#14251 Convert changes tab to a separate action
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/views/webui/request/_breadcrumb_items.html.haml
  src/api/app/views/webui/request/_request_tabs.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_changes.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/config/routes/webui_routes.rb
Labels: Frontend

#14256 Convert mentioned issues tab to a separate action
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/views/webui/request/_breadcrumb_items.html.haml
  src/api/app/views/webui/request/_request_tabs.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_mentioned_issues.html.haml
  src/api/app/views/webui/request/mentioned_issues.html.haml
  src/api/config/routes/webui_routes.rb
Labels: Frontend

#14284 [ci] updating tests to 15.5/15.4
  dist/t/osc/fixtures/home:Admin.xml
Labels: Test Suite / CI :syringe:

#14287 [backend] BSServer: handle both sockets if select returns
  src/backend/BSServer.pm
Labels: Backend

#14291 Retrieve maintainers if target_project is present
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend

#14296 [backend] container publishing: populate the manifestinfo with summaries
  src/backend/BSPublisher/Containerinfo.pm
  src/backend/bs_publish
  src/backend/bs_worker
Labels: Backend

#14297 Fix `update_project` factory
  src/api/spec/factories/project.rb
Labels: Frontend

#14298 [backend] clean up container publishing code a bit
  src/backend/BSPublisher/Container.pm
  src/backend/bs_publish
Labels: Backend

#14300 Add link to our What-to-contribute guide in the wiki
  CONTRIBUTING.md
Labels: Documentation :book:

#14303 Allow retrieving deleted maintainers
  src/api/app/mixins/has_relationships.rb
  src/api/spec/cassettes/Project/_maintainers/returns_all_the_users_but_user_2_only_once.yml
  src/api/spec/cassettes/Project/_maintainers/when_one_of_the_users_is_deleted/still_returns_the_deleted_user.yml
  src/api/spec/cassettes/Project/_maintainers/when_the_group_is_deleted/returns_the_deleted_user_but_not_the_deleted_group_s_user.yml
  src/api/spec/models/project_spec.rb
Labels: Frontend

#14306 Split creation of a request with a delete action in its own rake task
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/requests.rake
Labels: Frontend

#14313 Clarify variable meaning
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_request_tabs.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/mentioned_issues.html.haml
  src/api/app/views/webui/request/rpm_lint.html.haml
Labels: Frontend

#14305 Mention dismissed reviews in request conversation timeline
  src/api/app/components/bs_request_activity_timeline_component.html.haml
  src/api/app/components/bs_request_activity_timeline_component.rb
  src/api/app/components/bs_request_history_element_component.html.haml
  src/api/app/components/bs_request_history_element_component.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/spec/components/bs_request_history_element_component_spec.rb
Labels: Frontend, review-app

#14317 [backend] allow to use a local https->http proxy
  src/backend/BSASN1.pm
  src/backend/BSSSL.pm
  src/backend/BSServer.pm
  src/backend/BSServerEvents.pm
  src/backend/BSX509.pm
  src/backend/bs_clouduploadserver
  src/backend/bs_getbinariesproxy
  src/backend/bs_repserver
  src/backend/bs_service
  src/backend/bs_srcserver
Labels: Backend

#14319 Bug fix: make sure loadChanges receives parameters to build url properly
  src/api/app/assets/javascripts/webui/request.js
  src/api/app/components/sourcediff_component.html.haml
Labels: Bug, Frontend

#14312 Refactor request refresh logic
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_component.rb
  src/api/app/components/sourcediff_tab_component.html.haml
  src/api/app/components/sourcediff_tab_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/request_action.js.erb
  src/api/app/views/webui/request/request_action_changes.js.erb
  src/api/spec/components/previews/sourcediff_component_preview.rb
  src/api/spec/components/previews/sourcediff_tab_component_preview.rb
  src/api/spec/components/sourcediff_component_spec.rb
  src/api/spec/components/sourcediff_tab_component_spec.rb
Labels: Frontend, Refactoring :factory:

#14320 [backend] mode https->http proxy support
  src/backend/BSStdServer.pm
Labels: Backend

#14294 Refactor maintenance related dev tasks
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/requests.rake
  src/api/lib/tasks/dev/test_data/maintenance.rake
Labels: Frontend

#14322 Simplify condition
  src/api/app/components/bs_request_history_element_component.rb
Labels: Frontend

#14321 Deduplicate notification handling in request controller
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend, Refactoring :factory:

#12878 Generalize rate-limiting and other authentication schemes
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
Labels: Documentation :book:, Frontend

#14338 [backend] AJAX: implement a stream reply timeout
  src/backend/BSServer.pm
  src/backend/BSServerEvents.pm
  src/backend/BSStdServer.pm
  src/backend/BSWatcher.pm
Labels: Backend

#14337 Use pundit policy for `handle_request?` in request beta view components
  src/api/app/components/accordion_reviews_component.rb
  src/api/app/components/request_decision_component.rb
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#14336 Fix coverage file prefix
  .circleci/conditional_config.yml
  .codeclimate.yml
  codecov.yml
Labels: Test Suite / CI :syringe:

#14331 Fine tune methods to create maintenance setup
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/test_data/maintenance.rb
  src/api/spec/factories/maintained_project.rb
Labels: Frontend

#14344 [backend] bs_worker: switch to the new logfile if the build script replaced it
  src/backend/bs_repserver
  src/backend/bs_worker
Labels: Backend

#9453 [api] add_containers: pick right container in maintenance_release pro…
  src/api/.rubocop_todo.yml
  src/api/app/models/concerns/package_medium_container.rb
  src/api/app/models/package.rb
Labels: Frontend, Test Suite / CI :syringe:

#14334 Use fuubar for rubocop progress report
  src/api/Rakefile
  src/api/lib/tasks/dev/lint.rake
Labels: Frontend

#14356 [backend] implement solvstate optimization in the repo server
  src/backend/BSRepServer/Remote.pm
Labels: Backend

#14357 Revert "Use fuubar for rubocop progress report"
  src/api/Rakefile
  src/api/lib/tasks/dev/lint.rake
Labels: Frontend

#14345 Display links to source and target files in diffs
  src/api/app/components/diff_component.html.haml
  src/api/app/components/diff_component.rb
  src/api/app/components/diff_list_component.html.haml
  src/api/app/components/diff_list_component.rb
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_component.rb
  src/api/app/models/package.rb
  src/api/spec/cassettes/ImageTemplates/branching/branch_Kiwi_image_template.yml
  src/api/spec/cassettes/ImageTemplates/branching/branch_image_template.yml
  src/api/spec/cassettes/Package/_file_exists_/_multibuild_file_should_exist/1_4_1_1.yml
  src/api/spec/cassettes/Package/_file_exists_/with_more_than_one_file/returns_false_if_the_file_does_not_exist.yml
  src/api/spec/cassettes/Package/_file_exists_/with_more_than_one_file/returns_true_if_the_file_exist.yml
  src/api/spec/cassettes/Package/_file_exists_/with_one_file/returns_false_if_the_file_does_not_exist.yml
  src/api/spec/cassettes/Package/_file_exists_/with_one_file/returns_true_if_the_file_exist.yml
  src/api/spec/cassettes/Package/_has_icon_/returns_false_if_the_icon_does_not_exist.yml
  src/api/spec/cassettes/Package/_has_icon_/returns_true_if_the_icon_exist.yml
  src/api/spec/cassettes/Package/_ignored_requests/when_the_package_has_an_ignored_requests_file/parses_the_content_as_YAML_and_returns_a_hash.yml
  src/api/spec/cassettes/SourcediffComponent/with_a_request_with_a_submit_action/renders_the_diff.yml
Labels: Frontend, review-app

#14364 [backend] change findfile to check for multiple .incident suffixes
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Backend

#10134 [api] fix duplicates in missing owner results
  src/api/app/models/owner_search/missing.rb
Labels: Frontend

#14367 [backend] Implement a ssl connect timeout in async mode
  src/backend/BSSSL.pm
  src/backend/BSWatcher.pm
Labels: Backend

#10387 [api] Alternative maintenance workflow
  src/api/app/controllers/source_controller.rb
  src/api/app/models/branch_package.rb
  src/api/db/attribute_descriptions.rb
  src/api/db/data_schema.rb
  src/api/test/fixtures/attrib_types.yml
  src/api/test/functional/attributes_test.rb
Labels: Frontend, Reference Server :desktop_computer:

#14365 Always compress CI artifacts
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

#14360 Bring back Report Bug action
  src/api/app/views/layouts/webui/_left_navigation.html.haml
  src/api/app/views/layouts/webui/_left_navigation_nobody.html.haml
  src/api/app/views/webui/main/_index_actions.html.haml
  src/api/app/views/webui/package/_show_actions.html.haml
  src/api/app/views/webui/project/_show_actions.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/project/show_actions/_modify_project.html.haml
  src/api/spec/cassettes/Interconnects/creating_custom_interconnect.yml
  src/api/spec/cassettes/Projects/locked_projects/fail_to_unlock.yml
  src/api/spec/cassettes/Requests/for_role_addition_group/for_projects/can_be_submitted.yml
  src/api/spec/cassettes/Requests/for_role_addition_user/for_projects/can_be_submitted.yml
  src/api/spec/cassettes/Requests/request_show_page/request_description_field/behaves_like_expandable_element/expanding_a_text_field.yml
  src/api/spec/cassettes/Requests/request_show_page/request_history_entries/behaves_like_expandable_element/expanding_a_text_field.yml
  src/api/spec/cassettes/Watchlists/add_and_remove_items_from_watchlist.yml
Labels: Frontend

#10537 [api] raise a proper error on missconfigured update project
  src/api/app/models/project.rb
Labels: Frontend

#10718 Fix releasetarget check
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/models/bs_request_action/errors.rb
  src/api/app/models/bs_request_action_release.rb
  src/api/app/models/repository.rb
  src/api/lib/api_error.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
Labels: Frontend

#14366 Disallow deleting and replying to deleted comments
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/policies/comment_policy.rb
  src/api/app/views/webui/comment/_reply.html.haml
  src/api/spec/policies/comment_policy_spec.rb
Labels: Frontend

#14343 Set up maintenance incident request in development environment
  src/api/lib/tasks/dev/test_data/maintenance.rb
  src/api/spec/factories/project.rb
  src/api/spec/features/webui/maintenance_workflow_spec.rb
Labels: Frontend

#14373 Avoid repeated package's name on rake task
  src/api/lib/tasks/dev/requests.rake
Labels: Frontend

#14361 Create patchinfo factory
  src/api/lib/tasks/dev/test_data/maintenance.rb
  src/api/spec/controllers/webui/patchinfo_controller_spec.rb
  src/api/spec/controllers/webui/project_controller_spec.rb
  src/api/spec/factories/patchinfo.rb
  src/api/spec/factories/project.rb
  src/api/spec/features/webui/patchinfo_spec.rb
Labels: Frontend

#14375 Remove `create_patchinfo` parameter in factories
  src/api/spec/factories/project.rb
Labels: Frontend

#14376 Simplify setting the current user when calling the `patchinfo` factory
  src/api/spec/factories/project.rb
Labels: Frontend

#14363 Cover another case of incident request
  src/api/lib/tasks/dev/requests.rake
  src/api/lib/tasks/dev/test_data/maintenance.rb
Labels: Frontend

#14380 Handle non-existent packages in sourcediff
  src/api/.rubocop_todo.yml
  src/api/app/components/sourcediff_component.rb
Labels: Frontend, Test Suite / CI :syringe:

#14381 [backend] refactor runname handling
  src/backend/BSSSL.pm
  src/backend/BSStdServer.pm
  src/backend/bs_clouduploadserver
  src/backend/bs_clouduploadworker
  src/backend/bs_dispatch
  src/backend/bs_dodup
  src/backend/bs_getbinariesproxy
  src/backend/bs_redis
  src/backend/bs_repserver
  src/backend/bs_sched
  src/backend/bs_service
  src/backend/bs_servicedispatch
  src/backend/bs_sourcepublish
  src/backend/bs_srcserver
  src/backend/bs_warden
Labels: Backend

#14372 Set up maintenance release request in development environment
  src/api/lib/tasks/dev/test_data/maintenance.rb
Labels: Frontend

#14387 [backend] fix wipeallarch mechanic
  src/backend/bs_repserver
Labels: Backend

#13701 Fix and extend release mechanics
  docs/api/api/api.txt
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/trigger_controller.rb
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/models/bs_request_action_maintenance_release.rb
  src/api/app/models/owner_search/missing.rb
  src/api/app/models/repository.rb
  src/api/app/models/token/errors.rb
  src/api/app/models/token/release.rb
  src/api/public/apidocs-new/paths/trigger_operation.yaml
  src/api/spec/cassettes/Token_Release/_call/when_the_release_target_is_provided_through_parameters/when_the_architecture_is_provided_through_parameters_and_is_included_in_the_target_repository/triggers_the_release_process_in_the_backend.yml
  src/api/spec/cassettes/Token_Release/_call/when_the_release_target_is_provided_through_parameters/when_the_architecture_is_provided_through_parameters_and_is_not_included_in_the_target_repository/does_not_trigger_the_release_process_in_the_backend.yml
  src/api/spec/cassettes/Token_Release/_call/when_the_release_target_is_provided_through_parameters/when_the_target_project_targetrepository_filter_source_repository_and_arch_parameters_are_provided/triggers_the_release_process_in_the_backend.yml
  src/api/spec/cassettes/Token_Release/_call/when_the_release_target_is_provided_through_parameters/when_the_user_can_not_modify_the_target_repository/does_not_trigger_the_release_process_in_the_backend.yml
  src/api/spec/controllers/trigger_controller_spec.rb
  src/api/spec/controllers/webui/users/token_triggers_controller_spec.rb
  src/api/spec/models/token/release_spec.rb
Labels: Documentation :book:, Frontend

#14386 Modify request with maintenance release actions factory
  src/api/lib/tasks/dev/test_data/maintenance.rb
  src/api/spec/factories/bs_requests.rb
  src/api/spec/helpers/webui/request_helper_spec.rb
  src/api/spec/models/project_spec.rb
  src/api/spec/support/shared_contexts/a_project_with_maintenance_statistics.rb
Labels: Frontend

#14308 Support `maintenance_incident` request actions in beta
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/components/sourcediff_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/models/bs_request.rb
  src/api/app/views/webui/request/_action_text.html.haml
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_request_tabs.html.haml
Labels: Frontend, review-app, Beta

#14390 Include factory_bot cops in src/api
  .rubocop.yml
  src/api/.rubocop.yml
  src/api/lib/tasks/dev/lint.rake
Labels: Frontend, Test Suite / CI :syringe:

#14389 Support maintenance release actions in beta
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/models/bs_request.rb
  src/api/app/views/webui/request/_action_text.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_request_tabs.html.haml
Labels: Frontend

#14394 Extract a trait to accept last incident request in a factory
  src/api/lib/tasks/dev/test_data/maintenance.rb
  src/api/spec/factories/bs_requests.rb
Labels: Frontend

#14393 Handle non-existent project in sourcediff
  src/api/app/components/sourcediff_component.rb
Labels: Frontend

#14384 Validate supported filter for event on workflow execution
  src/api/app/models/token/workflow.rb
  src/api/app/models/workflow.rb
  src/api/app/validators/workflow_filters_validator.rb
  src/api/spec/models/workflow_spec.rb
  src/api/spec/validators/workflow_filters_validator_spec.rb
Labels: Frontend, scm-ci

#14401 [backend] make ssl verify the defaults for clients, support client certs
  src/backend/BSRPC.pm
  src/backend/BSSSL.pm
  src/backend/BSWatcher.pm
  src/backend/bs_srcserver
Labels: Backend

#14335 Create `can_add_reviews?` pundit policy and use in request beta views
  src/api/app/components/add_review_dropdown_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/policies/bs_request_policy.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_ask_for_review.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation_aside.html.haml
  src/api/spec/policies/bs_request_policy_spec.rb
Labels: Frontend

#14402 Update Swagger UI version from 4.17.1 to 4.19.0
  src/api/public/apidocs-new/swagger-ui-bundle.js
  src/api/public/apidocs-new/swagger-ui-bundle.js.map
  src/api/public/apidocs-new/swagger-ui-es-bundle-core.js
  src/api/public/apidocs-new/swagger-ui-es-bundle-core.js.map
  src/api/public/apidocs-new/swagger-ui-es-bundle.js
  src/api/public/apidocs-new/swagger-ui-es-bundle.js.map
  src/api/public/apidocs-new/swagger-ui-standalone-preset.js
  src/api/public/apidocs-new/swagger-ui-standalone-preset.js.map
  src/api/public/apidocs-new/swagger-ui.css
  src/api/public/apidocs-new/swagger-ui.css.map
  src/api/public/apidocs-new/swagger-ui.js
  src/api/public/apidocs-new/swagger-ui.js.map
Labels: Documentation :book:, Frontend

#14405 Make package_controller_spec test more reliable
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Frontend
