Repository openSUSE/open-build-service, pull requests merged in 2023-04, with the labels that each got.

#14066 Show Delete request actions in the action dropdown
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_action_text.html.haml
  src/api/lib/tasks/dev/requests.rake
  src/api/spec/features/webui/requests/delete_actions_spec.rb
Labels: Frontend, review-app

#14078 Support change devel requests
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/views/webui/request/_action_text.html.haml
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/lib/tasks/dev/requests.rake
  src/api/spec/cassettes/Request_with_change_devel_actions/there_was_a_previous_devel_package/displays_the_description_and_mentions_the_previous_devel_package.yml
  src/api/spec/cassettes/Request_with_change_devel_actions/there_was_no_previous_devel_package/displays_the_description_but_does_not_mentions_the_previous_devel_package.yml
  src/api/spec/factories/bs_request_actions.rb
  src/api/spec/factories/bs_requests.rb
  src/api/spec/features/webui/requests/change_devel_actions_spec.rb
Labels: Frontend, review-app

#14087 Do not redirect, use render and reinitialize
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/spec/controllers/webui/users/tokens_controller_spec.rb
Labels: Frontend

#14100 Use the comment components for rendering comments
  src/api/app/assets/javascripts/webui/comment.js
  src/api/app/assets/stylesheets/webui/diff.scss
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/diff_component.html.haml
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/views/webui/comment/_comment_list.html.haml
  src/api/app/views/webui/comment/_new.html.haml
  src/api/app/views/webui/request/_inline_comment.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/inline_comment.js.erb
Labels: Frontend

#14107 Make sure the regex finds matches for diff_ref
  src/api/app/components/bs_request_activity_timeline_component.rb
  src/api/spec/cassettes/Bootstrap_Requests_Submissions/submit_package/when_under_the_beta_program/a_request_that_has_a_broken_comment/displays_the_comment_in_the_timeline.yml
  src/api/spec/features/webui/requests/submissions_spec.rb
Labels: Frontend

#14101 Rename feature test to not include "Bootstrap"
  src/api/spec/cassettes/Requests_Submissions/submit_package/not_setting_a_target_package/creates_a_BsRequest_with_the_source_package_name.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/prefill_form_for_a_branched_package/fills_in_the_submission_reasons_and_creates_a_BsRequest.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/setting_a_target_package/creates_a_BsRequest_with_target_package_name.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/supersede_a_request/creates_a_BsRequest_and_supersede_only_the_selected_request_s_.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/a_request_that_has_a_broken_comment/displays_the_comment_in_the_timeline.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/a_request_that_has_a_diff_comment/displays_the_comment_in_the_timeline.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/submit_several_packages_at_once_against_a_factory_staging_project/shows_the_beta_version_of_the_requests_page.yml
  src/api/spec/features/webui/requests/submissions_spec.rb
Labels: Frontend

#14110 Make sure TimeComponent receives a Time object
  src/api/app/views/webui/request/_action_text.html.haml
Labels: Frontend

#14111 Disable swagger.io's online validator link
  src/api/public/apidocs-new/swagger-initializer.js
Labels: Documentation :book:, Frontend

#14108 Improve line parameter route constraint
  src/api/app/lib/routes_helper/routes_constraints.rb
Labels: Frontend

#14113 Correct popover offset values
  src/api/app/components/build_result_for_architecture_component.html.haml
Labels: Frontend

#14115 Replace Expectations with Assertions in spider tests
  src/api/test/functional/webui/spider_test.rb
Labels: Frontend

#14091 Match Ruby version with production environment
  .github/workflows/brakeman.yml
  .ruby-version
Labels: Test Suite / CI :syringe:

#14118 BsRequest state as a hint in the watchlist
  src/api/app/components/bs_request_state_badge_component.rb
  src/api/app/components/watched_items_list_component.html.haml
Labels: Frontend, review-app

#14120 BugFix: collapsible text for request beta
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/collapsible_text.js
  src/api/app/assets/javascripts/webui/nav_tabs.js
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/shared/_collapsible_text.html.haml
  src/api/app/views/webui/user/_involvement.html.haml
Labels: Frontend

#14119 Improve request state badge component
  src/api/app/assets/stylesheets/webui/colors.scss
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/components/bs_request_state_badge_component.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/views/webui/request/_show_overview.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend, review-app

#14132 Highlight hover navigation-bar menu entry
  src/api/app/assets/stylesheets/webui/bootstrap_variables/colors.scss
  src/api/app/assets/stylesheets/webui/sidebar-collapsible.scss
Labels: Frontend

#14138 [backend] always do the trigger_auto_deep_checks test if the config c…
  src/backend/BSSched/ProjPacks.pm
Labels: Backend

#14131 Add github action to add comments to binary diff for gem file changes
  .github/workflows/diffend_gem_binary_diff.yml
Labels: Test Suite / CI :syringe:

#14142 Grant write permission for PR's to gem binary diff link github action
  .github/workflows/diffend_gem_binary_diff.yml
Labels: Test Suite / CI :syringe:

#14143 Set minimum github token permission for gh action workflow
  .github/workflows/diffend_gem_binary_diff.yml
Labels: Test Suite / CI :syringe:

#14139 [backend] add withevr option to make getbinaryversions return the evr and arch
  src/backend/BSRepServer/Containertar.pm
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSrcServer/Remote.pm
  src/backend/BSTar.pm
  src/backend/BSXML.pm
  src/backend/bs_repserver
  src/backend/bs_sched
  src/backend/bs_srcserver
Labels: Backend

#14149 Authenticate bugzilla with api_key
  src/api/app/models/issue_tracker.rb
  src/api/config/initializers/filter_parameter_logging.rb
  src/api/db/migrate/20230413080503_add_api_key_to_issue_tracker.rb
Labels: Frontend

#14154 Bugfix: inizialize the badge component first
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#14157 Use the `working_directory` key instead of `cd` commands
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

#14159 Split github action workflows into two separate workflows
  .github/workflows/comment_diffend_io_links_to_pr.yml
  .github/workflows/create_diffend_io_links.yml
Labels: Test Suite / CI :syringe:

#14141 Renovate Coverage Report Generation & Upload
  .circleci/conditional_config.yml
  src/api/.simplecov
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/lib/tasks/coverage.rake
  src/api/spec/rails_helper.rb
  src/api/spec/support/coverage.rb
  src/api/test/test_helper.rb
  src/api/test/unit/package_test.rb
  src/api/vendor/cache/codecov-0.6.0.gem
  src/api/vendor/cache/coveralls-0.8.23.gem
  src/api/vendor/cache/simplecov-0.16.1.gem
  src/api/vendor/cache/simplecov-0.22.0.gem
  src/api/vendor/cache/simplecov-cobertura-2.1.0.gem
  src/api/vendor/cache/simplecov-html-0.10.2.gem
  src/api/vendor/cache/simplecov-html-0.12.3.gem
  src/api/vendor/cache/simplecov_json_formatter-0.1.4.gem
  src/api/vendor/cache/sync-0.5.0.gem
  src/api/vendor/cache/term-ansicolor-1.7.1.gem
  src/api/vendor/cache/tins-1.32.1.gem
Labels: Frontend, Test Suite / CI :syringe:

#14158 Move bugzilla_args into its own function
  src/api/app/models/issue_tracker.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#14156 Rearrange CircleCI linters steps
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

#14168 Hand over PR number between gh action workflows through artifacts
  .github/workflows/comment_diffend_io_links_to_pr.yml
  .github/workflows/create_diffend_io_links.yml
Labels: Test Suite / CI :syringe:

#14167 Fix flickering test in MaintenanceTests minitests
  src/api/test/functional/maintenance_test.rb
Labels: Frontend

#14166 Simplify NotificationExcerptComponent
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_excerpt_component.rb
  src/api/spec/components/notification_excerpt_component_spec.rb
  src/api/spec/components/previews/notification_excerpt_component_preview.rb
Labels: Frontend

#14173 Enable `Rails/HttpStatus` cop in rubocop main conf and remove offenses
  src/api/.rubocop.yml
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/build/file_controller.rb
  src/api/app/controllers/concerns/backend_proxy.rb
  src/api/app/controllers/concerns/rescue_authorization_handler.rb
  src/api/app/controllers/concerns/webui/rescue_handler.rb
  src/api/app/controllers/person_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/projects/meta_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend, Test Suite / CI :syringe:

#14174 Fix Style/StringConcatenation rubocop offense in `test/test_helper` and `/test/unit/*`
  src/api/.rubocop.yml
  src/api/test/test_helper.rb
  src/api/test/unit/attrib_test.rb
  src/api/test/unit/attribute_test.rb
  src/api/test/unit/binary_release.rb
  src/api/test/unit/bs_request_test.rb
  src/api/test/unit/build_flag_test.rb
  src/api/test/unit/channel_test.rb
  src/api/test/unit/debug_flag_test.rb
  src/api/test/unit/flag_test.rb
  src/api/test/unit/groups_users_test.rb
  src/api/test/unit/issue_test.rb
  src/api/test/unit/linked_project_test.rb
  src/api/test/unit/package_group_role_relationship_test.rb
  src/api/test/unit/package_remove_test.rb
  src/api/test/unit/package_test.rb
  src/api/test/unit/patchinfo_test.rb
  src/api/test/unit/product_test.rb
  src/api/test/unit/project_remove_test.rb
  src/api/test/unit/project_test.rb
  src/api/test/unit/public_helper_test.rb
  src/api/test/unit/publish_flag_test.rb
  src/api/test/unit/status_helper_test.rb
  src/api/test/unit/user_ldap_strategy_test.rb
  src/api/test/unit/validator_test.rb
  src/api/test/unit/watched_item_test.rb
Labels: Frontend, Test Suite / CI :syringe:

#14176 Fix `Style/StringConcatenation` rubocop offense in `test_consistency_helper` and `maintenance_test.rb`
  src/api/.rubocop.yml
  src/api/test/functional/maintenance_test.rb
  src/api/test/test_consistency_helper.rb
Labels: Frontend, Test Suite / CI :syringe:

#14178 Define AvatarComponent
  src/api/app/components/avatar_component.html.haml
  src/api/app/components/avatar_component.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/spec/components/avatar_component_spec.rb
  src/api/spec/components/previews/avatar_component_preview.rb
Labels: Frontend, review-app

#14182 Improve rspec output in CI/dev-env
  .circleci/conditional_config.yml
  src/api/.rspec
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/vendor/cache/fuubar-2.5.1.gem
Labels: Frontend, Test Suite / CI :syringe:

#14192 [backend] also call trigger_auto_deep_checks if a remote config changes
  src/backend/BSSched/Remote.pm
Labels: Backend

#14185 Fix wrong version of migration
  src/api/app/models/issue_tracker.rb
  src/api/db/migrate/20230224114624_add_diff_ref_to_comments.rb
  src/api/db/schema.rb
Labels: Frontend, Reference Server :desktop_computer:

#14199 Drop stale doc wording
  src/api/public/apidocs-new/paths/source_project_name_package_name_cmd_getprojectservices.yaml
Labels: Documentation :book:, Frontend

#14198 Deprecate /build POST API endpoints with GET alternatives which don't modify any data
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_history.yaml
  src/api/public/apidocs-new/paths/build_project_name_repository_name_architecture_name_package_name_status.yaml
Labels: Documentation :book:, Frontend, review-app

#14196 Reference legacy and new documentation to each other
  docs/api/api/api.txt
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
Labels: Documentation :book:, Frontend, review-app, API

#14197 Fix message template for request actions
  src/api/app/views/notifications/comment_for_request.text.erb
Labels: Frontend, Monkey Patched :see_no_evil:, review-app

#14204 Use a link in legacy API docs to point to the new API documentation
  docs/api/api/api.txt
  docs/api/restility/lib/rest_htmlprinter.rb
Labels: Documentation :book:

#14203 [backend] support non-gzip compression for containers
  src/backend/BSContar.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/BSRepServer/Containertar.pm
  src/backend/bs_publish
  src/backend/bs_regpush
  src/backend/bs_worker
Labels: Backend

#14195 OpenAPI specifications for GET status/messages
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/status_messages.yaml
Labels: Documentation :book:, Frontend, review-app

#14211 [backend] fix compress_entry call in create_layer_data
  src/backend/BSContar.pm
  src/backend/BSPublisher/Registry.pm
Labels: Backend

#14206 Document all the `/staging/{staging_workflow_project}/workflow` endpoints
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/staging/managers_group.yaml
  src/api/public/apidocs-new/paths/staging_staging_workflow_project_workflow.yaml
Labels: Documentation :book:, Frontend, review-app

#14220 Couple of fixes for the apidocs new documentation
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/status_messages.yaml
Labels: Documentation :book:, Frontend, review-app

#14222 [backend] fix mediaType layer information
  src/backend/BSContar.pm
  src/backend/BSPublisher/Containerinfo.pm
Labels: Backend

#14224 [backend] container publishing: remove more duplicated code
  src/backend/BSContar.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_regpush
Labels: Backend

#14213 Document staging backlog endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/staging/backlog.yaml
  src/api/public/apidocs-new/paths/staging_project_name_backlog.yaml
Labels: Documentation :book:, Frontend, review-app

#14225 Correct parameter on staging workflow endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/staging_project_name_workflow.yaml
Labels: Documentation :book:, Frontend

#14177 Document GET source package view=info endpoint with OpenAPI
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/source/sourceinfo.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name.yaml
  src/api/public/apidocs-new/paths/source_project_name_package_name_view_info.yaml
Labels: Documentation :book:, Frontend, review-app

#14219 OpenAPI specifications for POST status/messages
  src/api/public/apidocs-new/components/responses/status_message_no_permission.yaml
  src/api/public/apidocs-new/components/responses/validation_error.yaml
  src/api/public/apidocs-new/components/schemas/status_message.yaml
  src/api/public/apidocs-new/paths/status_messages.yaml
Labels: Documentation :book:, Frontend, review-app

#14218 Document all the `/staging/{project_name}/excluded_requests` endpoints
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/staging/excluded_requests.yaml
  src/api/public/apidocs-new/paths/staging_project_name_excluded_requests.yaml
Labels: Documentation :book:, Frontend, review-app

#14234 Update test-unit to version 3.5.7
  src/api/Gemfile.lock
  src/api/vendor/cache/test-unit-3.5.5.gem
  src/api/vendor/cache/test-unit-3.5.7.gem
Labels: Frontend

#14236 Remove `POST /build/:project/:repository/:arch` API endpoint
  src/api/config/routes/api_routes.rb
Labels: Frontend

#14239 Document GET PUT DELETE _pattern files as DEPRECATED
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/responses/unknown_project_or_file.yaml
  src/api/public/apidocs-new/paths/source_project_name_pattern_file_name.yaml
Labels: Documentation :book:, Frontend, review-app

#14241 [backend] fix docker layer recompression on workers
  src/backend/worker/BSContar.pm
  src/backend/worker/BSTar.pm
Labels: Backend

#14227 [dist] add reconnect: true to database.yaml.template
  src/api/config/database.yml.example
Labels: Frontend

#14163 Add missing index on notified_project's project_id
  src/api/.database_consistency.todo.yml
  src/api/app/models/notified_project.rb
  src/api/db/migrate/20230414085150_add_notified_projects_project_id_index.rb
  src/api/db/migrate/20230414151119_add_projects_id_notified_projects_project_id_fk.rb
  src/api/db/schema.rb
  src/api/spec/db/data/backfill_notified_projects_spec.rb
Labels: Frontend

#14246 Remove creation of the foreign key on notified_projects project_id
  src/api/.database_consistency.todo.yml
  src/api/app/models/notified_project.rb
  src/api/db/migrate/20230414151119_add_projects_id_notified_projects_project_id_fk.rb
  src/api/db/schema.rb
Labels: Frontend

#14235 Document GET and POST endpoints for staging projects
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/staging/staging_project.yaml
  src/api/public/apidocs-new/components/schemas/staging/staging_projects.yaml
  src/api/public/apidocs-new/components/schemas/staging/workflow_staging_projects.yaml
  src/api/public/apidocs-new/paths/staging_project_name_staging_projects.yaml
Labels: Documentation :book:, Frontend, review-app

#14247 [backend] bs_publish: implement "checksumsfile" repotype
  src/backend/BSContar.pm
  src/backend/bs_publish
Labels: Backend

#14214 Document the GET /staging/{project_name}/staging_projects/{staging_project_name}
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/parameters/staging_project_name.yaml
  src/api/public/apidocs-new/paths/staging_project_name_staging_projects_staging_project_name.yaml
Labels: Documentation :book:, Frontend, review-app

#14238 Post staging project copy
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/staging_project_name_staging_projects_staging_project_name_copy_staging_project_copy_name.yaml
Labels: Documentation :book:, Frontend

#14252 Document user comments endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/schemas/comment.yaml
  src/api/public/apidocs-new/components/schemas/comments.yaml
  src/api/public/apidocs-new/paths/comments_user.yaml
Labels: Documentation :book:, Frontend

#14250 Resolve and replace swagger yaml during build process
  dist/obs-server.spec
Labels: Packages :package:

#14255 [backend] scmsync: delete person/group element from package meta
  src/backend/BSPublisher/Registry.pm
  src/backend/BSSched/BuildResult.pm
  src/backend/BSSrcServer/Scmsync.pm
  src/backend/bs_worker
Labels: Backend

#14261 [backend] make withevr=1 work for DoD repos
  src/backend/bs_srcserver
Labels: Backend

#14231 OpenAPI specifications GET/DELETE status/message/{id}
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/components/responses/not_found.yaml
  src/api/public/apidocs-new/paths/status_messages_id.yaml
Labels: Documentation :book:, Frontend

#14242 Post staging project accept
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/staging_project_name_staging_projects_staging_project_name_accept.yaml
Labels: Documentation :book:, Frontend

#14259 Document DELETE staged requests endpoint
  src/api/public/apidocs-new/OBS-v2.10.50.yaml
  src/api/public/apidocs-new/paths/staging_project_name_staged_requests.yaml
Labels: Documentation :book:, Frontend, review-app
