Repository openSUSE/open-build-service, pull requests merged in 2024-11, with the labels that each got.

#17031 Move project requests to a requests listing
  src/api/app/controllers/concerns/webui/requests_filter.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/requests_listing_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/models/bs_request/find_for/query.rb
  src/api/app/queries/open_requests_finder.rb
  src/api/app/views/webui/project/_tabs.html.haml
  src/api/app/views/webui/requests_listing/_breadcrumb_items.html.haml
  src/api/app/views/webui/requests_listing/index.html.haml
  src/api/config/routes/webui.rb
  src/api/spec/features/beta/webui/project_requests_spec.rb
Labels: Frontend, review-app

#17046 Check for `total_count` instead of `blank?`
  src/api/app/views/webui/requests_listing/index.html.haml
Labels: Frontend

#17034 Add the new package request listing page
  src/api/app/controllers/concerns/webui/requests_filter.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/requests_listing_controller.rb
  src/api/app/views/webui/package/_tabs.html.haml
  src/api/app/views/webui/requests_listing/_breadcrumb_items.html.haml
  src/api/app/views/webui/requests_listing/index.html.haml
  src/api/config/routes/webui.rb
  src/api/spec/features/beta/webui/package_requests_spec.rb
Labels: Frontend, review-app

#17057 Improve performance of checking for notifications query
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
Labels: Frontend

#17027 Make xargs to ignore commands if stdin is empty
  .github/workflows/create_diffend_io_links.yml
Labels: Test Suite / CI :syringe:

#17055 [backend] bs_service: fix error reporting
  src/backend/bs_service
Labels: Backend

#17056 Improve message for failed database queries
  src/api/app/models/package_issue.rb
Labels: Frontend

#17058 Show package name in breadcrumbs of Request page
  src/api/app/views/webui/requests_listing/_breadcrumb_items.html.haml
Labels: Frontend

#17060 [backend] bs_sched: disable early publishing if archsync is configured
  src/backend/bs_publish
  src/backend/bs_sched
Labels: Backend

#17068 [backend] Support multiple containers for kiwi image builds
  src/backend/BSSched/BuildJob/Aggregate.pm
  src/backend/BSSched/BuildJob/Channel.pm
  src/backend/BSSched/BuildJob/DeltaRpm.pm
  src/backend/BSSched/BuildJob/Docker.pm
  src/backend/BSSched/BuildJob/KiwiImage.pm
  src/backend/BSSched/BuildJob/KiwiProduct.pm
  src/backend/BSSched/BuildJob/Package.pm
  src/backend/BSSched/BuildJob/PreInstallImage.pm
  src/backend/BSSched/BuildJob/ProductCompose.pm
Labels: Backend

#17069 Remove unnecessary before_action to improve beta request performance
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#17077 Fix the ability to submit comments on diffs
  src/api/app/components/diff_component.html.haml
Labels: Frontend, Monkey Patched :see_no_evil:

#17029 Raise exception instead of silent log
  src/api/app/services/diff_parser.rb
Labels: Frontend

#17074 [backend] Fix SLSA source url of multibuild's
  src/backend/bs_worker
Labels: Backend

#17084 Show notification toolbar missed for some notifications' types
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend, review-app

#17087 Show notification toolbar for Group Membership changes
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/models/notification_group.rb
Labels: Frontend, review-app

#17091 Show notification toolbar for missed notification types
  src/api/app/controllers/webui/appeals_controller.rb
  src/api/app/controllers/webui/packages/build_log_controller.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
Labels: Frontend, review-app

#16925 Create a large amount of dev data
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/reports.rake
  src/api/lib/tasks/dev/requests.rake
Labels: Frontend

#17093 Don't try to show users of packages of a scmsync project
  src/api/app/controllers/webui/package_controller.rb
Labels: Frontend

#17095 Don't try to manage repositories of packages of scmsync projects
  src/api/app/controllers/webui/repositories_controller.rb
Labels: Frontend

#17094 Don't try to show the job history of a package of a scmsync project
  src/api/app/controllers/webui/packages/job_history_controller.rb
Labels: Frontend

#17097 Update crawlers list
  src/api/config/crawler-user-agents.json
Labels: Frontend

#17041 Add spider to influxdb-rails webui request tags
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend

#17104 Remove loading the revision details from the beta request
  src/api/app/views/webui/request/_action_text.html.haml
Labels: Frontend, Monkey Patched :see_no_evil:

#17108 Fix Rails/FilePath RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/concerns/backend_proxy.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/webui/projects/rebuild_times_controller.rb
  src/api/app/lib/backend/file.rb
  src/api/app/lib/backend/logger.rb
  src/api/app/lib/backend/test.rb
  src/api/app/lib/backend/test/tasks.rb
  src/api/config/environment.rb
  src/api/config/initializers/secret_token.rb
  src/api/config/initializers/tempdir.rb
  src/api/lib/tasks/extract.rake
  src/api/script/start_test_backend
  src/api/spec/shared/contexts/rake.rb
  src/api/spec/support/capybara.rb
  src/api/spec/support/vcr.rb
Labels: Frontend, Test Suite / CI :syringe:

#16987 Request accept buttons into dropdown
  src/api/app/components/request_decision_component.html.haml
  src/api/app/components/request_decision_component.rb
  src/api/spec/features/beta/webui/maintenance_workflow_spec.rb
Labels: Frontend, review-app

#17106 Make sure seen_by_user only gets queried once for action details
  src/api/app/components/action_seen_by_user_component.rb
  src/api/app/views/webui/request/_action_text.html.haml
  src/api/app/views/webui/request/_actions_details.html.haml
Labels: Frontend

#17111 Make sure seen_by_user is set before fetching the database
  src/api/app/components/action_seen_by_user_component.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#17098 [api] fix release request uniqness validation
  src/api/app/models/bs_request_action_release.rb
Labels: Frontend

#17131 Fix the spelling of airbreak -> airbrake
  src/api/app/services/diff_parser.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#17105 [backend] add a POST method for sourceinfo
  src/backend/BSPGP.pm
  src/backend/BSRepServer/BuildInfo.pm
  src/backend/BSSched/BuildJob/ProductCompose.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Documentation :book:, Frontend, Backend

#17136 [backend] BSContar: turn of utf8 flag when creating a blob from data
  src/backend/BSContar.pm
Labels: Backend

#17138 [backend] bs_regpush add support for --signflavor
  src/backend/bs_regpush
Labels: Backend

#17123 Don't pass not needed arguments to WatchlistIconComponent
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_show_overview.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/show.html.haml
  src/api/app/views/webui/watched_items/toggle_watched_item.js.erb
Labels: Frontend, review-app

#17142 Move requests' json routes to the webui router file
  src/api/config/routes/api.rb
  src/api/config/routes/webui.rb
Labels: Frontend

#17143 Remove _open_requests partial
  src/api/app/views/webui/shared/_open_requests.html.haml
Labels: Frontend
