Repository openSUSE/open-build-service, pull requests merged in 2024-09, with the labels that each got.

#16781 Unsafe autocorrect Style/MapIntoArray RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/statistics_controller.rb
  src/api/app/mixins/parse_package_diff.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/event/base.rb
  src/api/app/models/group.rb
  src/api/app/models/project.rb
  src/api/app/services/file_service/uploader.rb
Labels: Frontend, Test Suite / CI :syringe:

#16776 Move "Lock/Unlock Comments" button to the "Action" section
  src/api/app/helpers/webui/comment_locks_helper.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/request/_actions.html.haml
  src/api/app/views/webui/request/_lock_unlock_comment.html.haml
  src/api/app/views/webui/request/_request_comments.html.haml
  src/api/app/views/webui/request/_show_actions.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/show.html.haml
  src/api/app/views/webui/shared/_locking_dialog.html.haml
  src/api/spec/features/webui/comment_locks_spec.rb
Labels: Frontend, review-app

#16783 Don't show "Decline request" button to the maintainers of the source package
  src/api/app/policies/bs_request_policy.rb
Labels: Frontend, review-app

#16786 Cache images from active storage
  src/api/config/initializers/active_storage_cache_control.rb
Labels: Frontend

#16784 Fix some RuboCop offenses in the `dist` subdirectory
  .rubocop_todo.yml
  dist/clouduploader.rb
  dist/obs_mirror_project
Labels: Test Suite / CI :syringe:

#16778 [backend] put binaryid in the tracker cache
  src/backend/bs_publish
Labels: Backend

#16787 Adapt inline comments to avoid overflow
  src/api/app/assets/stylesheets/webui/diff.scss
Labels: Frontend

#16813 [backend] retry obsscm service runs if the last line starts with "TRANSIENT ERROR:"
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_servicedispatch
Labels: Backend

#16808 Fix anonymous bind to LDAP server
  src/api/app/models/user_ldap_strategy.rb
Labels: Frontend, Backend

#16825 [backend] fix static links for kiwi appliances
  src/backend/bs_publish
Labels: Backend

#16826 [backend] implement aggregation from remote _repository as package
  src/backend/BSSched/BuildJob/Aggregate.pm
Labels: Backend

#16816 Make sure only user's own canned responses show up
  src/api/app/components/reports_modal_component.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
Labels: Frontend

#16802 Make sure ansi escape codes get parsed
  src/api/app/mixins/build_log_support.rb
Labels: Frontend

#16817 Make sure project and package comments can be locked
  src/api/app/views/webui/package/_show_actions.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/project/_show_actions.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/request/_actions.html.haml
  src/api/app/views/webui/request/_lock_unlock_comment.html.haml
  src/api/app/views/webui/request/_show_actions.html.haml
  src/api/app/views/webui/shared/_lock_unlock_comment.html.haml
  src/api/spec/cassettes/CommentLocks/on_a_package/with_comments_locked/a_moderator_user/checks_comments_are_locked.yml
  src/api/spec/cassettes/CommentLocks/on_a_package/with_comments_locked/a_moderator_user/unlocks_comments.yml
  src/api/spec/cassettes/CommentLocks/on_a_package/with_comments_unlocked/a_moderator_user/checks_comments_are_unlocked.yml
  src/api/spec/cassettes/CommentLocks/on_a_package/with_comments_unlocked/a_moderator_user/locks_comments.yml
  src/api/spec/cassettes/CommentLocks/on_a_project/with_comments_locked/a_moderator_user/checks_comments_are_locked.yml
  src/api/spec/cassettes/CommentLocks/on_a_project/with_comments_locked/a_moderator_user/unlocks_comments.yml
  src/api/spec/cassettes/CommentLocks/on_a_project/with_comments_unlocked/a_moderator_user/checks_comments_are_unlocked.yml
  src/api/spec/cassettes/CommentLocks/on_a_project/with_comments_unlocked/a_moderator_user/locks_comments.yml
  src/api/spec/features/webui/comment_locks_spec.rb
Labels: Frontend

#16828 [backend] bs_dodup: make sure the old entries are valid
  src/backend/BSRepServer/Registry.pm
  src/backend/bs_dodup
Labels: Backend

#16829 [backend] tweak automatic obsrepositories mode for DoD containers
  src/backend/BSSched/BuildJob/Docker.pm
Labels: Backend

#16833 [backend] Always use the annotation of the base container as containe…
  src/backend/BSSched/BuildJob/Docker.pm
  src/backend/bs_dodup
Labels: Backend

#16794 Special-case SLFO maintenance patchinfos when displaying staging requests
  src/api/app/helpers/webui/staging/workflow_helper.rb
Labels: Frontend

#16834 Catch generic server exceptions when connecting to GitHub
  src/api/app/services/scm_exception_handler.rb
  src/api/app/services/scm_exception_message.rb
Labels: Frontend

#16836 [dist] improve BSConfig.pm
  src/backend/BSConfig.pm.template
Labels: Backend

#16471 Remove notification component
  src/api/.rubocop_todo.yml
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/models/notification_report.rb
  src/api/app/views/webui/users/notifications/_notification.html.haml
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/spec/components/notification_component_spec.rb
  src/api/spec/features/webui/users/notifications_spec.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#16835 [backend] Service config
  dist/obs-server.spec
  src/backend/call-service-in-container
  src/backend/call-service-in-docker.sh
Labels: Backend

#16839 [backend] Service container commands in bs_admin
  src/backend/bs_admin
Labels: Backend

#16838 Display labels in request index
  src/api/app/views/webui/request/_request_item.html.haml
Labels: Frontend

#16837 Refactoring of action mailers
  src/api/.rubocop_todo.yml
  src/api/app/mailers/admin_mailer.rb
  src/api/app/mailers/application_mailer.rb
  src/api/app/mailers/consistency_mailer.rb
  src/api/app/mailers/event_mailer.rb
  src/api/app/views/layouts/event_mailer.html.haml
  src/api/app/views/layouts/event_mailer.text.erb
  src/api/test/fixtures/event_mailer/repo_delete_request
  src/api/test/fixtures/event_mailer/request_event
  src/api/test/fixtures/event_mailer/set_bugowner_event
  src/api/test/fixtures/event_mailer/tom_declined
  src/api/test/fixtures/event_mailer/tom_gets_mail_too
Labels: Frontend, Test Suite / CI :syringe:

#16840 Fix request filter from API
  src/api/app/models/bs_request/find_for/project.rb
Labels: Frontend

#16768 Refactor `check access?` methods for projects and packages
  src/api/app/models/concerns/project_maintenance.rb
  src/api/app/models/owner_search/assignee.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/queries/packages_finder.rb
Labels: Frontend

#16842 Enable RuboCop Style/RedundantInterpolation cop
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/app/components/add_review_dropdown_component.rb
  src/api/app/components/workflow_artifacts_per_step_component.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/app/jobs/fetch_remote_distributions_job.rb
  src/api/app/models/user.rb
  src/api/app/models/workflow/step/submit_request.rb
  src/api/app/services/workflows/yaml_downloader.rb
  src/api/spec/components/buildresult_status_link_component_spec.rb
  src/api/spec/controllers/webui/packages/branches_controller_spec.rb
  src/api/spec/features/beta/webui/requests_index_spec.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/spec/policies/bs_request_policy_spec.rb
  src/api/spec/services/diff_parser_spec.rb
  src/api/spec/services/rpmlint_log_parser_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#16843 Manually fix FactoryBot/FactoryAssociationWithStrategy RuboCop offenses (II)
  src/api/.rubocop_todo.yml
  src/api/spec/factories/attribs.rb
  src/api/spec/factories/bs_request_actions.rb
  src/api/spec/factories/bs_requests.rb
  src/api/spec/factories/comments.rb
  src/api/spec/factories/download_repository_factory.rb
  src/api/spec/factories/groups.rb
  src/api/spec/factories/kiwi_package.rb
  src/api/spec/factories/packages.rb
  src/api/spec/factories/path_element.rb
  src/api/spec/factories/project.rb
  src/api/spec/factories/release_target.rb
  src/api/spec/factories/review.rb
  src/api/spec/factories/status_reports.rb
  src/api/spec/factories/tokens.rb
  src/api/spec/factories/watched_items.rb
  src/api/spec/factories/workflow_runs.rb
Labels: Frontend, Test Suite / CI :syringe:

#16849 Improve the user experience of using the labels dropdown
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/dropdown.js
  src/api/app/views/webui/shared/_label_form.html.haml
Labels: Frontend

#16854 Use only one `opts` hash
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_permission_check.rb
Labels: Frontend, review-app

#16847 Provide a random label template color upon creation
  src/api/app/controllers/webui/projects/label_templates_controller.rb
  src/api/app/models/label_template.rb
  src/api/spec/factories/label_template.rb
Labels: Frontend

#16841 Make use of Package Labels and filter by them too
  src/api/app/datatables/package_datatable.rb
  src/api/app/helpers/webui/project_helper.rb
  src/api/app/views/webui/project/_project_packages.html.haml
Labels: Frontend

#16859 [backend] avoid useless warnings in bs_admin
  src/backend/bs_admin
Labels: Backend, Test Suite / CI :syringe:

#16845 [dist] fix container_image default in BSConfig.pm.template
  src/backend/BSConfig.pm.template
Labels: Backend

#16866 Markdown preview for package and project description
  src/api/app/components/write_and_preview_component.html.haml
  src/api/app/components/write_and_preview_component.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/views/webui/package/_edit.html.haml
  src/api/app/views/webui/package/new.html.haml
  src/api/app/views/webui/project/_edit.html.haml
  src/api/app/views/webui/project/_form.html.haml
  src/api/app/views/webui/status_messages/edit.html.haml
  src/api/app/views/webui/status_messages/new.html.haml
  src/api/config/routes/webui.rb
Labels: Frontend

#16857 Show an error message for files of a package of a scmsync project
  src/api/app/controllers/concerns/scmsync_checker.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/files_controller.rb
  src/api/spec/controllers/webui/packages/files_controller_spec.rb
Labels: Frontend

#16853 Allow for copying label templates from other projects
  src/api/app/controllers/webui/projects/label_templates_controller.rb
  src/api/app/views/webui/projects/label_templates/_preview.html.haml
  src/api/app/views/webui/projects/label_templates/copy.html.haml
  src/api/app/views/webui/projects/label_templates/index.html.haml
  src/api/config/routes/webui.rb
  src/api/spec/features/webui/projects/label_template_spec.rb
Labels: Frontend

#16863 Remove never used parameter `attribute` for creating maintenance incidents
  src/api/app/controllers/source_controller.rb
  src/api/app/models/concerns/project_maintenance.rb
  src/api/public/apidocs/paths/source_createmaintenanceincident.yaml
Labels: Documentation :book:, Frontend

#16872 Fix typos: "a scmsync" -> "an scmsync"
  src/api/spec/controllers/webui/packages/files_controller_spec.rb
  src/backend/BSSrcServer/Scmsync.pm
Labels: Frontend, Backend

#16861 Show an error message for statistics of a package of a scmsync project
  src/api/app/controllers/webui/package_controller.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Frontend

#16876 [backend] avoid warnings for BSConfig::bsserviceuser
  src/backend/bs_admin
Labels: Backend

#16869 Remove package_kinds association from projects
  src/api/app/models/project.rb
Labels: Frontend

#16870 Handle external report bug links properly
  src/api/app/views/webui/package/show_actions/_bugzilla_owner.html.haml
  src/api/app/views/webui/project/show_actions/_report_bug.html.haml
Labels: Frontend

#16877 [backend] BSPublish::Container: do not put the containerinfo in the m…
  src/backend/BSPublisher/Container.pm
  src/backend/bs_repserver
Labels: Backend

#16871 Do not allow local urls for the report bug link
  src/api/app/models/package.rb
  src/api/spec/models/package_spec.rb
Labels: Frontend

#16887 [backend] getprojpack: fix scm error reporting if there is no commit yet
  src/backend/bs_srcserver
Labels: Backend

#16848 [api] increase size limit for binary_releases table
  src/api/app/models/binary_release.rb
  src/api/db/migrate/20240916121900_increase_binary_releases_limit.rb
  src/api/db/schema.rb
Labels: Frontend, DO NOT MERGE :warning:

#16890 [backend] Scmsync: put commit info into the project commit
  src/backend/BSSrcServer/Scmsync.pm
  src/backend/bs_srcserver
Labels: Backend

#16892 Use request state badge as a component
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/views/webui/users/notifications/_notification.html.haml
Labels: Frontend

#16895 [backend] bs_repserver: report scmsync/scminfo in the build result
  src/backend/BSSched/Checker.pm
  src/backend/BSXML.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Backend

#16889 First, perform user authentication. Then, XML validation
  src/api/app/controllers/application_controller.rb
  src/api/test/functional/request_controller_test.rb
Labels: Frontend

#16896 Add missing "release" action to submit actions mailer
  src/api/app/views/event_mailer/_actions.text.erb
Labels: Frontend

#16903 [backend] Docker: make sure the base container cbdep comes last
  src/backend/BSSched/BuildJob/Docker.pm
Labels: Backend

#16902 Show an error message for build results of an scmsync project
  src/api/app/controllers/webui/packages/build_reason_controller.rb
Labels: Frontend
