Repository openSUSE/open-build-service, pull requests merged in 2024-07, with the labels that each got.

#16435 Small refactoring of service user involved
  src/api/app/services/user_service/involved.rb
Labels: Frontend

#16383 Return a Bad Request error when toggling an invalid flag
  src/api/app/controllers/webui/repositories_controller.rb
Labels: Frontend

#16441 Permit AJAX requests to set roles of packages
  src/api/config/routes/webui.rb
Labels: Frontend, review-app

#16423 Bugfix: let source maintainer revoke a request
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/policies/bs_request_policy.rb
Labels: Frontend

#16442 Improve searching for an attribute type
  src/api/app/models/attrib_type.rb
Labels: Frontend

#16448 Refactoring: replace simple shared examples with simple "it" groups
  src/api/spec/services/notification_service/web_channel_spec.rb
Labels: Frontend

#16426 Remove StatusHistoryFetcher
  src/api/app/controllers/webui/monitor_controller.rb
  src/api/app/services/monitor_controller_service/status_history_fetcher.rb
Labels: Frontend

#16453 Substitute `User.session!` with `User.session`
  src/api/app/controllers/webui/cloud/azure/configurations_controller.rb
  src/api/app/controllers/webui/cloud/ec2/configurations_controller.rb
  src/api/app/controllers/webui/cloud/upload_job/logs_controller.rb
  src/api/app/controllers/webui/cloud/upload_jobs_controller.rb
  src/api/app/controllers/webui/comment_locks_controller.rb
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/controllers/webui/decisions_controller.rb
  src/api/app/controllers/webui/packages/branches_controller.rb
  src/api/app/controllers/webui/packages/trigger_controller.rb
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/projects/project_configuration_controller.rb
  src/api/app/controllers/webui/reports_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/controllers/webui/users/bs_requests_controller.rb
  src/api/app/controllers/webui/users/canned_responses_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/controllers/webui/users/patchinfos_controller.rb
  src/api/app/controllers/webui/users/subscriptions_controller.rb
  src/api/app/controllers/webui/users/tokens_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/controllers/webui/watched_items_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/views/layouts/webui/_footer.html.haml
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/app/views/webui/package/view_file.html.haml
  src/api/app/views/webui/packages/branches/new.html.haml
  src/api/app/views/webui/packages/files/show.html.haml
  src/api/app/views/webui/project/new.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/request/_actions_details.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_show_overview.html.haml
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/app/views/webui/users/canned_responses/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
  src/api/app/views/webui/users/tasks/index.html.haml
  src/api/app/views/webui/users/tokens/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/tokens/users/_breadcrumb_items.html.haml
  src/api/app/views/webui/watched_items/toggle_watched_item.js.erb
  src/api/app/views/webui/workflow_runs/_breadcrumb_items.html.haml
Labels: Frontend

#16457 [backend] ProductCompose: do not block on productcompose packages
  src/backend/BSSched/BuildJob/ProductCompose.pm
  src/backend/BSTar.pm
  src/backend/bs_repserver
Labels: Backend

#16451 Duplicated notifications for receivers occurring multiple times
  src/api/app/models/event/workflow_run_fail.rb
  src/api/app/models/token/workflow.rb
  src/api/spec/models/event_subscription/find_for_event_spec.rb
Labels: Frontend

#16450 Refactoring conditions logic for creating notification
  src/api/app/services/notification_service/notifier.rb
Labels: Frontend

#15679 [api] relax package meta
  docs/api/api/package.rng
  src/api/test/functional/source_controller_test.rb
Labels: Documentation :book:, Frontend, API

#16460 [backend] Add support for passing the package to the configured sign …
  src/backend/bs_signer
Labels: Backend

#15674 [api] fix invalid local links on package instantiate
  src/api/app/helpers/maintenance_helper.rb
Labels: Frontend

#15653 [webui] fix scmsync project view
  src/api/.rubocop_todo.yml
  src/api/app/helpers/webui/project_helper.rb
  src/api/app/views/webui/project/_project_packages.html.haml
Labels: Frontend, Test Suite / CI :syringe:

#16464 Fix OpenAPI specification to be able to generate code for an API client
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_builddepinfo.yaml
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_package_name_history.yaml
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_package_name_status.yaml
  src/api/public/apidocs/paths/request_id_cmd_diff.yaml
  src/api/public/apidocs/paths/source_project_name_cmd_addchannels.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_collectbuildenv.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_copy.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_createSpecFileTemplate.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_rebuild.yaml
  src/api/public/apidocs/paths/statistics_deprecated_not_documented_project_name.yaml
  src/api/public/apidocs/paths/statistics_deprecated_not_documented_project_name_package_name.yaml
Labels: Documentation :book:, Frontend

#15582 [api] add some missing api parameters
  docs/api/api/api.txt
Labels: Documentation :book:

#15266 [api] fix handling of architecture filter for release command
  docs/api/api/api.txt
  src/api/app/controllers/source_controller.rb
Labels: Documentation :book:, Frontend

#14845 [api] fix branching from remote project using extended name option
  src/api/app/models/branch_package.rb
Labels: Frontend

#14565 [api] fix delivering of delete package meta data
  src/api/app/controllers/source_project_package_meta_controller.rb
  src/api/public/apidocs/paths/source_project_name_package_name_meta.yaml
Labels: Documentation :book:, Frontend

#16470 Move the simplecov to the top of the file
  src/api/spec/spec_helper.rb
Labels: Frontend

#16476 [backend] bs_regpush: add a couple of list options
  src/backend/BSPublisher/Container.pm
  src/backend/bs_regpush
Labels: Backend

#16478 [backend] Signkey: return fingerprint/keyid even if the algorithm is …
  src/backend/BSPGP.pm
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/BSSrcServer/Signkey.pm
Labels: Backend

#15277 [api] fix project kind removal
  src/api/app/models/project/update_from_xml_command.rb
  src/api/test/unit/project_test.rb
Labels: Frontend

#16452 [api] increase length limit of project scmsync elements
  src/api/app/models/project.rb
  src/api/db/migrate/20240705121900_change_scmsync_type.rb
  src/api/db/schema.rb
Labels: Frontend, needinfo

#16481 [backend] BSPGP: fix typo in pk2fingerprint
  src/backend/BSPGP.pm
Labels: Backend

#16468 Prevent from crashing when requesting JSON from the API
  src/api/app/controllers/public_controller.rb
Labels: Frontend

#16222 First steps towards converting Notifications into STI
  .rubocop_todo.yml
  src/api/.rubocop_todo.yml
  src/api/app/components/notification_avatars_component.html.haml
  src/api/app/components/notification_avatars_component.rb
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/models/concerns/notification_request.rb
  src/api/app/models/notification.rb
  src/api/app/models/notification_bs_request.rb
  src/api/app/models/notification_comment.rb
  src/api/app/models/notification_group.rb
  src/api/app/models/notification_package.rb
  src/api/app/models/notification_project.rb
  src/api/app/models/notification_report.rb
  src/api/app/models/notification_workflow_run.rb
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/spec/components/notification_avatars_component_spec.rb
  src/api/spec/components/notification_notifiable_link_component_spec.rb
  src/api/spec/components/previews/notification_avatars_component_preview.rb
  src/api/spec/components/previews/notification_notifiable_link_component_preview.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
Labels: Frontend, Reference Server :desktop_computer:, Test Suite / CI :syringe:, DO NOT MERGE :warning:

#16483 Update missing annotations for latest scmsync schema change
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/event/removed_user_from_group.rb
  src/api/app/models/remote_project.rb
Labels: Frontend

#16485 [backend] add unit tests for BSPGP, BSX509, BSTar
  src/backend/t/0022-BSPGP.t
  src/backend/t/0023-BSX509.t
  src/backend/t/0024-BSTar.t
  src/backend/t/data/0022/public-key.asc
  src/backend/t/data/0023/cert.crt
  src/backend/t/data/0024/testtar.tar
Labels: Backend

#16469 Don't leak the user session into the Group model
  src/api/app/controllers/group_controller.rb
  src/api/app/controllers/webui/groups/users_controller.rb
  src/api/app/models/group.rb
Labels: Frontend

#14429 [api] fix creation of a project above an interconnect project
  src/api/app/controllers/source_project_meta_controller.rb
  src/api/spec/controllers/source_project_meta_controller_spec.rb
Labels: Frontend

#14371 [api] improve cleanup on user removal
  src/api/app/models/user.rb
Labels: Frontend

#16477 Add the type to the notification model to make it a sti model
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/event/build.rb
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/comment_event.rb
  src/api/app/models/event/create_report.rb
  src/api/app/models/event/favored_decision.rb
  src/api/app/models/event/removed_user_from_group.rb
  src/api/app/models/event/report.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_wanted.rb
  src/api/app/models/event/workflow_run_fail.rb
  src/api/app/models/notification.rb
  src/api/app/models/notification_bs_request.rb
  src/api/app/models/notification_comment.rb
  src/api/app/models/notification_group.rb
  src/api/app/models/notification_package.rb
  src/api/app/models/notification_project.rb
  src/api/app/models/notification_report.rb
  src/api/app/models/notification_workflow_run.rb
  src/api/db/migrate/20240710083919_add_type_column_to_notifications.rb
  src/api/db/schema.rb
  src/api/lib/tasks/backfill_notifications_type.rake
Labels: Frontend, Test Suite / CI :syringe:

#16489 [backend] BSTar: implement overwriting the size via the PAX header
  src/backend/BSTar.pm
Labels: Backend

#16493 Fix excerpt truncation
  src/api/app/helpers/webui/notification_helper.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
Labels: Frontend

#16473 Add a request notification filter
  src/api/.database_consistency.todo.yml
  src/api/.rubocop_todo.yml
  src/api/app/controllers/concerns/webui/notifications_filter.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/models/notification.rb
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
  src/api/spec/features/webui/users/notifications_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#15985 [backend] add ipv6 support for workers
  src/backend/BSRPC.pm
  src/backend/bs_repserver
Labels: Backend

#16501 [backend] allow to opt-out setrelease default behaviour
  src/backend/bs_repserver
Labels: Backend

#16502 [backend] sourceinfo: make getrev fatal for package sourceinfo requests
  src/backend/BSContar.pm
  src/backend/BSCpio.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/BSRPC.pm
  src/backend/BSTar.pm
  src/backend/bs_regpush
  src/backend/bs_repserver
  src/backend/bs_srcserver
  src/backend/t/0024-BSTar.t
  src/backend/t/0025-BSCpio.t
  src/backend/t/data/0025/test.cpio
Labels: Backend

#16500 Add missing changes to RuboCop TODO file
  src/api/.rubocop_todo.yml
Labels: Frontend, Test Suite / CI :syringe:

#16504 Make sure that the diff compopnent doesn't newline the content of the diff
  src/api/app/assets/stylesheets/webui/diff.scss
Labels: Frontend

#16227 Introduces support for instantiating packages from scmsync
  src/api/app/models/package.rb
  src/api/spec/models/package_get_by_project_and_name_spec.rb
Labels: Feature, Frontend, scmsync

#14047 [api] re-schedule auto-accept job in special case
  src/api/app/models/attrib.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/project.rb
  src/api/app/models/project/embargo_handler.rb
  src/api/spec/models/attrib_embargo_date_spec.rb
  src/api/spec/models/attrib_spec.rb
  src/api/spec/models/bs_request/embargo_date_spec.rb
  src/api/spec/models/project/embargo_handler_spec.rb
Labels: Frontend

#16517 Correct example naming
  src/api/spec/models/user/has_local_permission_spec.rb
Labels: Frontend

#16513 Implement skeleton for request index feature
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/controllers/concerns/webui/requests_filter.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/webui/request/_breadcrumb_items.html.haml
  src/api/app/views/webui/request/_request_item.html.haml
  src/api/app/views/webui/request/_requests_filter.html.haml
  src/api/app/views/webui/request/index.html.haml
  src/api/config/routes/webui.rb
Labels: Frontend

#16521 Manually fix Capybara/SpecificMatcher RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/spec/features/webui/users/user_home_page_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#16519 Stop supporting objects in arguments to Package.get_by_project_and_name
  src/api/app/components/watchlist_component.rb
  src/api/app/controllers/concerns/triggerable.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/models/package.rb
Labels: Frontend

#16523 Highlight on request item hover
  src/api/app/assets/stylesheets/webui/bootstrap_variables/colors.scss
  src/api/app/assets/stylesheets/webui/mixin.scss
  src/api/app/assets/stylesheets/webui/requests.scss
Labels: Frontend

#16526 Do not reinvent the wheel, boostrap already did it
  src/api/app/assets/stylesheets/webui/bootstrap_variables/colors.scss
  src/api/app/assets/stylesheets/webui/mixin.scss
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/views/webui/request/_request_item.html.haml
Labels: Frontend

#16529 Do not paginate requests before filters
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend

#16532 [backend] getsignkey: use getdefaultpubkey() if _pubkey contains a "1"
  src/backend/bs_srcserver
Labels: Backend

#16520 Add ThinkingSphinx indices to BsRequest model
  src/api/app/indices/bs_request_index.rb
  src/api/app/jobs/populate_to_sphinx_job.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/comment.rb
  src/api/app/models/review.rb
  src/api/spec/components/bs_request_overview_avatars_component_spec.rb
  src/api/spec/controllers/staging/staged_requests_controller_spec.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
  src/api/spec/models/review_spec.rb
  src/api/spec/policies/bs_request_policy_spec.rb
Labels: Frontend

#16535 Use architecture id instead of name in update method
  src/api/app/views/webui/architectures/index.html.haml
Labels: Frontend

#16539 fix publish for exe files, add sha256 sums
  src/backend/bs_publish
Labels: Backend

#16527 Add Repobeats Contribution Analytics to README.md
  README.md
Labels: Documentation :book:

#16518 Remove old API documentation
  .gitignore
  Makefile
  dist/obs-server.spec
  docs/api/Makefile
  docs/api/api/Makefile
  docs/api/api/api.txt
  src/api/Makefile
  src/api/app/controllers/webui/apidocs_controller.rb
  src/api/config/brakeman.ignore
  src/api/config/environment.rb
  src/api/config/environments/test.rb
  src/api/config/routes/api.rb
  src/api/config/routes/webui.rb
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/spec/controllers/webui/apidocs_controller_spec.rb
  src/api/spec/features/webui/apidocs_spec.rb
  src/api/spec/requests/webui/apidocs_spec.rb
Labels: Documentation :book:, Frontend, review-app

#16488 Remove the notifications backfill task
  src/api/lib/tasks/backfill_notifications_type.rake
Labels: Frontend

#16522 Introduce wildcard searching in development mode
  src/api/config/thinking_sphinx.yml.example
Labels: Frontend

#16486 Remove the notification specialized class switcher
  src/api/app/components/notification_component.rb
  src/api/app/models/notification.rb
  src/api/app/policies/notification_comment_policy.rb
  src/api/spec/components/notification_component_spec.rb
  src/api/spec/components/notification_mark_button_component_spec.rb
  src/api/spec/controllers/person/notifications_controller_spec.rb
  src/api/spec/controllers/webui/feeds_controller_spec.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/db/data/adapt_review_and_duplicated_notifications_spec.rb
  src/api/spec/db/data/backfill_notified_projects_spec.rb
  src/api/spec/db/data/convert_notifications_event_payload_to_json_spec.rb
  src/api/spec/db/data/generate_web_notifications_spec.rb
  src/api/spec/db/data/remove_notifications_for_missing_notifiables_spec.rb
  src/api/spec/db/data/remove_obsolete_notifications_spec.rb
  src/api/spec/factories/notification.rb
  src/api/spec/features/webui/users/notifications_spec.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
  src/api/spec/jobs/cleanup_notifications_job_spec.rb
  src/api/spec/models/notification_spec.rb
  src/api/spec/models/user_spec.rb
  src/api/spec/policies/notification_comment_policy_spec.rb
  src/api/spec/services/notification_service/web_channel_spec.rb
Labels: Frontend, Reference Server :desktop_computer:, Test Suite / CI :syringe:

#16547 Use only project and package sphinx indices for text search
  src/api/app/controllers/webui/search_controller.rb
  src/api/app/models/full_text_search.rb
Labels: Frontend, review-app

#16531 Fix error when processing bad group updates via xml
  src/api/app/controllers/group_controller.rb
  src/api/spec/controllers/group_controller_spec.rb
  src/api/test/functional/group_test.rb
Labels: Frontend

#16552 Use renamed NotificationCommentPolicy
  src/api/app/controllers/concerns/webui/notifications_handler.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
Labels: Frontend, review-app

#16540 Introduce text search for submit requests
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/controllers/concerns/webui/requests_filter.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_requests_filter.html.haml
  src/api/app/views/webui/request/index.html.haml
Labels: Frontend, review-app

#16549 Fix relationship notifications
  src/api/app/models/event/relationship.rb
  src/api/db/data/20240724091140_backfill_type_of_relationship_notifications.rb
  src/api/db/data_schema.rb
Labels: Frontend

#16546 Upgrade our CI to run against 15.6
  .circleci/conditional_config.yml
  .obs/workflows.yml
Labels: Test Suite / CI :syringe:

#16536 Requests index spec
  src/api/app/controllers/webui/request_controller.rb
  src/api/spec/features/beta/webui/requests_index_spec.rb
Labels: Frontend

#16557 Manually fix three RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/db/migrate/20170103132257_change_project_package_name_to_string.rb
  src/api/spec/controllers/webui/monitor_controller_spec.rb
  src/api/spec/models/kiwi/image_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#16550 Manually fix two RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/spec/models/package_get_by_project_and_name_spec.rb
  src/api/spec/models/project_find_package_spec.rb
  src/api/spec/models/user_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#16560 Don't show build logs when rmplint logs are not available
  src/api/app/services/rpmlint_log_extractor.rb
  src/api/spec/fixtures/files/rpmlint_log_extractor_log
  src/api/spec/fixtures/files/rpmlint_log_extractor_log_without_mark
  src/api/spec/services/rpmlint_log_extractor_spec.rb
Labels: Frontend

#16570 Reflect the new version on the build badge
  README.md
Labels: Documentation :book:

#16569 Limit results returned by text search in list of requests
  src/api/app/controllers/concerns/webui/requests_filter.rb
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend, review-app

#16561 Base requests list is 'all', filters are applied separately
  src/api/app/controllers/concerns/webui/requests_filter.rb
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend

#16525 Request action type filter
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/views/webui/request/_request_item.html.haml
  src/api/app/views/webui/request/_requests_filter.html.haml
  src/api/app/views/webui/request/index.html.haml
  src/api/spec/features/beta/webui/requests_index_spec.rb
Labels: Frontend

#16585 Id typo fix
  src/api/app/views/webui/request/index.html.haml
Labels: Frontend

#16575 Add request controller specs for state filter
  src/api/spec/cassettes/Webui_RequestController/GET_index/as_user_with_requests/assigns_bs_requests.yml
  src/api/spec/cassettes/Webui_RequestController/GET_index/as_user_with_requests/responds_successfully.yml
  src/api/spec/cassettes/Webui_RequestController/GET_index/as_user_with_requests_filtering_by_accepted_state/assigns_bs_requests_applying_state_filter.yml
  src/api/spec/cassettes/Webui_RequestController/GET_request_action/handling_diff_sizes/with_diff_to_superseded_set/and_the_superseded_request_is_not_superseded/1_5_1_3_2_1.yml
  src/api/spec/cassettes/Webui_RequestController/GET_request_action/handling_diff_sizes/with_diff_to_superseded_set/and_the_superseded_request_is_not_superseded/1_5_1_3_2_2.yml
  src/api/spec/cassettes/Webui_RequestController/GET_request_action/handling_diff_sizes/with_diff_to_superseded_set/and_the_superseded_request_is_superseded/1_5_1_3_1_1.yml
  src/api/spec/controllers/webui/request_controller_spec.rb
Labels: Frontend

#16566 Deduplicate query criteria
  src/api/app/models/user.rb
Labels: Frontend

#16588 Collect multiselect selections
  src/api/app/views/webui/request/index.html.haml
Labels: Frontend

#16580 [backend] workaround productcomposer naming scheme breaking re-releases of products
  src/backend/bs_publish
  src/backend/bs_repserver
  src/backend/t/0026-BSContar.t
Labels: Backend

#16584 [backend] suspend scheduler during project scmsync
  src/backend/BSSrcServer/Scmsync.pm
Labels: Backend

#16554 Add filter for request creator to request index view
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_requests_filter.html.haml
  src/api/app/views/webui/request/index.html.haml
  src/api/spec/features/beta/webui/requests_index_spec.rb
Labels: Frontend, review-app
