Repository openSUSE/open-build-service, pull requests merged in 2024-06, with the labels that each got.

#16243 Don't count notifications for projects
  src/api/app/components/notification_filter_component.rb
  src/api/app/views/webui/shared/_check_box.haml
Labels: Frontend, review-app

#16236 Display projects and group in multi select
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/multi_select.js
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/views/webui/shared/_check_box.haml
  src/api/spec/features/webui/users/notifications_spec.rb
Labels: Frontend, review-app

#16246 Don't count notifications for groups and incomming and outgoing requests
  src/api/app/components/notification_filter_component.rb
Labels: Frontend, Monkey Patched :see_no_evil:, review-app

#16245 Add more test data for notifications (appeal, build failure and role revoked)
  src/api/lib/tasks/dev/notifications.rake
  src/api/lib/tasks/dev/rake_support.rb
  src/api/lib/tasks/dev/reports.rake
  src/api/spec/factories/event_subscriptions.rb
Labels: Frontend, review-app

#16252 Only count unread and read notifications
  src/api/app/components/notification_filter_component.rb
Labels: Frontend, review-app

#16262 [backend] put productcompose: add updateinfo.xml to the meta
  src/backend/BSSched/BuildJob/KiwiProduct.pm
  src/backend/BSSched/BuildJob/ProductCompose.pm
Labels: Backend

#16257 Count on the controller side to pass only paginated set to the view
  src/api/.rubocop_todo.yml
  src/api/app/components/notification_filter_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/components/notification_filter_component_spec.rb
  src/api/spec/components/previews/notification_filter_component_preview.rb
Labels: Frontend, Test Suite / CI :syringe:

#16258 Move the count of unread notifications to the controller
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/views/layouts/webui/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/layouts/webui/_unread_notifications_counter.html.haml
  src/api/app/views/layouts/webui/webui.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
Labels: Frontend, review-app

#16219 Refactoring UserLdapStrategy
  src/api/app/controllers/person_controller.rb
  src/api/app/models/concerns/has_relationships.rb
  src/api/app/models/project.rb
  src/api/app/models/user.rb
  src/api/app/models/user_basic_strategy.rb
  src/api/app/models/user_ldap_strategy.rb
  src/api/spec/models/user_ldap_strategy_spec.rb
  src/api/spec/shared/examples/a_ldap_connection.rb
  src/api/test/unit/user_ldap_strategy_test.rb
Labels: Frontend

#16260 Reintroduce notifications counting
  src/api/app/controllers/webui/users/notifications_controller.rb
Labels: Frontend

#16261 Replace escape_code gem with ansible
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/stylesheets/webui/build-log.scss
  src/api/app/mixins/build_log_support.rb
  src/api/app/views/webui/packages/build_log/update_build_log.js.haml
  src/api/spec/mixins/build_log_support_spec.rb
  src/api/vendor/cache/ansible-0.2.2.gem
  src/api/vendor/cache/escape_code-0.2.gem
Labels: Frontend

#16270 Stop leaking user emails
  src/api/app/views/webui/user/_edit_dialog.html.haml
  src/api/app/views/webui/users/show.html.haml
Labels: Bug, Frontend

#16272 Remove unused `has_role?` method
  src/api/app/models/user.rb
Labels: Frontend

#16268 Calculate number of read notifications with a substraction
  src/api/app/controllers/webui/users/notifications_controller.rb
Labels: Frontend

#16231 Apply notification filters onclick
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/features/webui/users/notifications_spec.rb
Labels: Frontend, review-app

#16279 Fix typo in markdown
  SUPPORT.md
Labels: Documentation :book:

#16280 Fix the Mark all as Read/Unread button
  src/api/app/components/notification_action_bar_component.rb
  src/api/spec/components/notification_action_bar_component_spec.rb
Labels: Frontend

#16284 Make sure binaries show and dependency work on multibuild packages
  src/api/app/views/webui/packages/binaries/dependency.html.haml
  src/api/app/views/webui/packages/binaries/show.html.haml
Labels: Frontend

#16282 Escape html before parsing the log
  src/api/app/mixins/build_log_support.rb
Labels: Frontend

#16232 Apply workflowrun filters onclick
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/views/webui/workflow_runs/index.html.haml
Labels: Frontend, review-app

#16265 Refactoring Webui::Users::NotificationsController
  src/api/app/components/notification_action_bar_component.html.haml
  src/api/app/components/notification_action_bar_component.rb
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/components/notification_action_bar_component_spec.rb
  src/api/spec/components/notification_component_spec.rb
  src/api/spec/components/notification_notifiable_link_component_spec.rb
  src/api/spec/components/previews/notification_action_bar_component_preview.rb
Labels: Frontend

#16288 [backend] container publishing: fix artifacthub generation for remote…
  src/backend/BSPublisher/Container.pm
Labels: Backend

#16294 Stop another leak of user email
  src/api/app/views/webui/user/_basic_info.html.haml
Labels: Frontend

#16289 [backend] bs_srcserver: do not add a packagelist in unpublishing all packages
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Backend

#16312 [backend] PublishRepo: record all file conflicts in the repoinfo
  src/backend/BSSched/BuildJob/Aggregate.pm
  src/backend/BSSched/PublishRepo.pm
Labels: Backend

#16291 Remove unused associations in Role model
  src/api/app/models/role.rb
Labels: Frontend

#16300 Fix association between roles and relationships
  src/api/app/models/role.rb
Labels: Frontend, review-app

#16309 Remove redundant issue trackers check for enabled
  src/api/app/models/issue_tracker.rb
Labels: Frontend

#16301 Improve query to check involved item user roles
  src/api/app/models/concerns/has_relationships.rb
  src/api/app/views/webui/user/_involvement.html.haml
Labels: Frontend, review-app

#16324 Make Tumbleweed builds work in development environment
  src/api/spec/factories/packages.rb
Labels: Frontend, review-app

#16318 Fix the SourceDiff component preview
  src/api/spec/cassettes/SourcediffComponent/when_testing_the_preview/renders_the_preview.yml
  src/api/spec/components/previews/sourcediff_component_preview.rb
  src/api/spec/components/sourcediff_component_spec.rb
Labels: Frontend

#16315 Fix WorkflowArtifactsPerStepComponent previews
  src/api/spec/components/previews/workflow_artifacts_per_step_component_preview.rb
Labels: Frontend, review-app

#16317 Refactoring PackageControllerService::RebuildTrigger away
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/lib/backend/api/build/project.rb
  src/api/app/lib/backend/api/sources/package.rb
  src/api/app/models/package.rb
  src/api/app/services/package_controller_service/rebuild_trigger.rb
  src/api/spec/cassettes/Webui_PackageController/GET_trigger_services/when_triggering_services_succeeds/1_4_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_fails/1_7_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_fails/lets_the_user_know_there_was_an_error.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_succeeds/1_7_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_triggering_abort_build_succeeds/1_7_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/user_not_being_a_maintainer_of_a_package/1_6_4_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/user_not_being_a_maintainer_of_a_package/1_6_4_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_rebuild_fails/lets_the_user_know_there_was_an_error.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_succeeds/1_6_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_succeeds/1_6_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_with_maintainer_of_package/1_6_3_1.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/services/package_controller_service/rebuild_trigger_spec.rb
Labels: Frontend

#16263 Ignore non-sensical parameters on the search
  src/api/app/controllers/webui/search_controller.rb
  src/api/app/views/webui/search/owner.html.haml
Labels: Frontend

#16331 Fix typo: RequesStagechange -> RequestStatechange
  src/api/db/data/20200326221616_regenerate_notifications.rb
  src/api/spec/db/data/regenerate_notifications_spec.rb
Labels: Frontend

#16332 Stop publishing workflow events on the message bus
  src/api/app/models/event/workflow_run_fail.rb
Labels: Frontend

#16242 Notify users on groups
  src/api/.haml-lint_todo.yml
  src/api/app/components/notification_avatars_component.rb
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/controllers/concerns/webui/notifications_filter.rb
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/removed_user_from_group.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/for_channel_form.rb
  src/api/app/models/group.rb
  src/api/app/models/groups_user.rb
  src/api/app/models/notification.rb
  src/api/app/queries/outdated_notifications_finder/group.rb
  src/api/app/services/notification_service/notifier.rb
  src/api/app/services/notification_service/web_channel.rb
  src/api/app/services/notified_projects.rb
  src/api/app/views/event_mailer/added_user_to_group.html.haml
  src/api/app/views/event_mailer/added_user_to_group.text.erb
  src/api/app/views/event_mailer/removed_user_from_group.html.haml
  src/api/app/views/event_mailer/removed_user_from_group.text.erb
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
  src/api/lib/tasks/dev/notifications.rake
  src/api/lib/tasks/dev/rake_support.rb
  src/api/spec/factories/event_subscriptions.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend, review-app

#16336 Indent Incoming+Outgoing Requests
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
Labels: Frontend

#16330 [backend] implement slsa provenence v1 support
  src/backend/BSConSign.pm
  src/backend/BSRekor.pm
  src/backend/bs_signer
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
Labels: Backend

#16338 Drop NotificationExcerptComponent
  src/api/app/components/notification_component.html.haml
  src/api/app/helpers/webui/notification_excerpt_helper.rb
  src/api/spec/components/notification_excerpt_component_spec.rb
  src/api/spec/components/previews/notification_excerpt_component_preview.rb
Labels: Frontend

#16339 [backend] Srcdiff: don't hide changed archives if the content is identical
  src/backend/BSSrcServer/Srcdiff.pm
  src/backend/t/0004-BSUtil.t
Labels: Backend

#16327 Make it possible to view scmsync'ed package logs
  src/api/app/assets/javascripts/webui/project_monitor.js
  src/api/app/controllers/webui/packages/build_log_controller.rb
  src/api/app/views/webui/packages/build_log/_breadcrumb_items.html.haml
  src/api/app/views/webui/packages/build_log/live_build_log.html.haml
  src/api/app/views/webui/project/monitor.html.haml
Labels: Frontend

#16337 Fix excerpt truncation when text is nil
  src/api/app/helpers/webui/notification_excerpt_helper.rb
Labels: Frontend

#16006 Allow setting logo in the admin config
  src/api/app/controllers/webui/configuration_controller.rb
  src/api/app/models/configuration.rb
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/webui/configuration/index.html.haml
Labels: Frontend, review-app

#16343 Display no avatars in notification by default
  src/api/app/components/notification_avatars_component.rb
Labels: Frontend

#16351 Move excerpt to notification helper
  src/api/app/helpers/webui/notification_excerpt_helper.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
Labels: Frontend

#16356 Prefer constants for referencing classes.
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/event/appeal_created.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/favored_decision.rb
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
  src/api/app/models/event/removed_user_from_group.rb
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
  src/api/app/models/event/report_for_request.rb
  src/api/app/models/event/report_for_user.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_wanted.rb
  src/api/app/models/event/service_fail.rb
  src/api/app/models/event/workflow_run_fail.rb
  src/api/app/views/webui/subscriptions/_subscriptions_form.html.haml
Labels: Frontend

#16340 Drop NotificationActionDescriptionComponent
  src/api/app/components/notification_action_description_component.rb
  src/api/app/components/notification_component.html.haml
  src/api/app/helpers/webui/notification_helper.rb
  src/api/spec/components/notification_action_description_component_spec.rb
  src/api/spec/components/previews/notification_action_description_component_preview.rb
  src/api/spec/factories/notification.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
Labels: Frontend

#16362 Fix condition to run apidocs linter
  .circleci/config.yml
Labels: Test Suite / CI :syringe:

#16364 [backend] add updateinfo.xml/_modulemd.yaml to productcompose meta
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/bs_worker
Labels: Backend

#16352 Fix user denied deletion of its own subprojects
  src/api/app/models/user.rb
  src/api/spec/models/user_spec.rb
  src/api/test/unit/user_test.rb
Labels: Frontend

#16365 Optimize query to avoid N+1 between Review, User and Group
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend

#16367 Refactor UserAvatarComponent component
  src/api/app/components/patchinfo_component.html.haml
  src/api/app/components/reports_modal_component.html.haml
  src/api/app/components/user_avatar_component.rb
  src/api/app/views/webui/comment/_history.html.haml
  src/api/app/views/webui/reports/show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation_aside.html.haml
  src/api/spec/components/user_avatar_component_spec.rb
Labels: Frontend, review-app

#16369 [backend] Add staticlinks support for product-composer builds
  src/backend/bs_publish
Labels: Backend

#16371 [backend] bs_notar: support the --signflavor option
  src/backend/bs_notar
Labels: Backend

#16374 Add single quotation marks missing in interpolation
  src/api/app/components/notification_notifiable_link_component.rb
Labels: Frontend

#16333 Get rid of Sign Up Component
  src/api/app/components/sign_up_component.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/views/layouts/webui/_sign_up_modal.html.haml
  src/api/app/views/webui/main/index.html.haml
  src/api/app/views/webui/users/_sign_up.html.haml
  src/api/app/views/webui/users/new.html.haml
  src/api/spec/components/previews/sign_up_component_preview.rb
  src/api/spec/components/sign_up_component_spec.rb
Labels: Frontend

#16377 Coerce the issue_tracker_name to string
  src/api/app/models/full_text_search.rb
Labels: Frontend

#16381 [backend] implement forwarding of _keyinfo to remote servers
  src/backend/bs_srcserver
Labels: Backend

#16358 Refactor UpdateReleasedBinariesJob
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/app/jobs/update_released_binaries_job.rb
  src/api/app/models/binary_release.rb
  src/api/config/brakeman.ignore
  src/api/spec/cassettes/UpdateReleasedBinariesJob/_perform/for_an_event_with_a_repo/1_1_1_1.yml
  src/api/spec/cassettes/UpdateReleasedBinariesJob/_perform/for_an_event_without_a_repo/1_1_2_1.yml
  src/api/spec/cassettes/UpdateReleasedBinariesJob/_perform/when_perform_raises_an_exception/notifies_airbrake.yml
  src/api/spec/jobs/update_released_binaries_job_spec.rb
  src/api/spec/models/binary_release_spec.rb
  src/api/test/unit/binary_release_test.rb
Labels: Frontend, Test Suite / CI :syringe:

#16387 [backend] support staticlinks for plain .raw kiwi appliances
  src/backend/bs_publish
Labels: Backend

#16389 [backend] PublishPrepo: fix conflicts handling
  src/backend/BSSched/PublishRepo.pm
  src/backend/bs_srcserver
Labels: Backend

#16382 Coerce sensible params to string
  src/api/app/controllers/webui/monitor_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend

#16390 [backend] also detect patchinfo results by the .updateinfodata file
  src/backend/BSRepServer.pm
  src/backend/BSSched/BuildResult.pm
Labels: Backend

#16393 Update outdated database consistency TODO file
  src/api/.database_consistency.todo.yml
Labels: Frontend

#16388 [api] allow to request keyinfo via /public
  src/api/app/controllers/public_controller.rb
  src/api/config/routes/api.rb
Labels: Frontend

#16311 Introduces page_size to pagination navigation
  src/api/app/components/notification_action_bar_component.html.haml
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_mark_button_component.rb
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/models/notification.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/_page_size_navigation.html.haml
  src/api/lib/tasks/dev/notifications.rake
  src/api/spec/components/notification_component_spec.rb
  src/api/spec/features/webui/users/notifications_spec.rb
Labels: Frontend

#16394 reduce memory need on packtrack data import
  src/api/app/jobs/update_released_binaries_job.rb
  src/api/app/models/repository.rb
  src/api/spec/jobs/update_released_binaries_job_spec.rb
Labels: Frontend

#16391 Coerce sensible params to int
  src/api/app/controllers/webui/search_controller.rb
Labels: Frontend

#16378 BugFix: notification count for unread only
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/shared/_check_box.haml
  src/api/app/views/webui/shared/_radio_button.haml
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
Labels: Frontend

#16403 Simplify Package/Project source_access policy
  src/api/app/policies/package_policy.rb
  src/api/app/policies/project_policy.rb
  src/api/spec/policies/package_policy_spec.rb
Labels: Frontend

#16392 Preload projects on polymorphic commentable
  src/api/.database_consistency.todo.yml
  src/api/app/models/comment.rb
Labels: Frontend, review-app

#16405 Prevent from performing N+1 queries on Workflow run row component
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/components/workflow_run_row_component.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
Labels: Frontend, review-app

#16404 Bugfix: add missing details information for request build result badge
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/services/action_build_results_service/chart_data_extractor.rb
  src/api/app/views/webui/shared/_build_status_badge.html.haml
  src/api/spec/components/previews/build_results_monitor_component_preview.rb
Labels: Frontend

#16402 Refactoring Packages::MainController away
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/badge_controller.rb
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/controllers/webui/packages/branches_controller.rb
  src/api/app/controllers/webui/packages/bs_requests_controller.rb
  src/api/app/controllers/webui/packages/build_reason_controller.rb
  src/api/app/controllers/webui/packages/files_controller.rb
  src/api/app/controllers/webui/packages/job_history_controller.rb
  src/api/app/controllers/webui/packages/main_controller.rb
  src/api/app/controllers/webui/packages/meta_controller.rb
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/spec/controllers/webui/packages/binaries_controller_dependency_spec.rb
  src/api/spec/controllers/webui/packages/binaries_controller_destroy_spec.rb
  src/api/spec/controllers/webui/packages/binaries_controller_spec.rb
  src/api/spec/controllers/webui/packages/build_reason_controller_spec.rb
  src/api/spec/controllers/webui/packages/job_history_controller_spec.rb
  src/api/spec/controllers/webui/repositories_controller_spec.rb
Labels: Frontend

#16375 Workflow run notifications
  src/api/app/models/event/workflow_run_fail.rb
  src/api/app/models/event_subscription.rb
  src/api/lib/tasks/dev/notifications.rake
  src/api/lib/tasks/dev/rake_support.rb
  src/api/spec/models/event_subscription/find_for_event_spec.rb
Labels: Frontend

#16406 Bugfix: reuse already computed range dates
  src/api/app/controllers/webui/projects/pulse_controller.rb
  src/api/app/helpers/webui/project_helper.rb
  src/api/app/views/webui/projects/pulse/show.html.haml
  src/api/app/views/webui/projects/pulse/show.js.erb
Labels: Frontend

#16409 [backend] implement container and rpm aggregate testing
  src/backend/t/0110-BSSched-BuildJob-Aggregate.t
  src/backend/t/1000-bs_worker.t
  src/backend/t/data/shared/buildresult/container/_blob.sha256:334d7a5b49823b1cb969fd31a3a7eaa26d643eb72b79f966513b4b4d870ac902
  src/backend/t/data/shared/buildresult/container/_blob.sha256:f24bdc8441e003f6b292b47b0244d181a5a82590099f3448360b613e8cf81939
  src/backend/t/data/shared/buildresult/container/foo-1.2.x86_64-5.1.containerinfo
  src/backend/t/data/shared/buildresult/container/foo-1.2.x86_64-5.1.obsbinlnk
  src/backend/t/data/shared/buildresult/rpm/hello_world-1-4.1.src.rpm
  src/backend/t/data/shared/buildresult/rpm/hello_world-1-4.1.x86_64.rpm
  src/backend/t/lib/Test/Mock/BSSched/BuildJob.pm
Labels: Backend

#16408 Filter workflow runs by event source
  src/api/app/components/workflow_run_row_component.html.haml
  src/api/app/views/webui/workflow_runs/_event_links.html.haml
Labels: Frontend, review-app

#16410 Don't set unread notifications count on AJAX requests
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend

#16412 Fix invalid byte sequence in UTF-8 processing build logs
  src/api/app/mixins/build_log_support.rb
  src/api/spec/mixins/build_log_support_spec.rb
Labels: Frontend

#16415 [backend] container publishing: add container tag deletion safeguard …
  src/backend/BSPublisher/Container.pm
Labels: Backend

#16416 [backend] improve slsa provenance v1 data
  src/backend/bs_worker
  src/backend/t/1000-bs_worker.t
Labels: Backend

#16407 Fix source_access support when viewing build logs of scmsync'ed packages
  src/api/app/controllers/concerns/triggerable.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/build_log_controller.rb
  src/api/app/controllers/webui/packages/trigger_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/views/webui/packages/build_log/_live_build_log_controls.html.haml
  src/api/app/views/webui/packages/build_log/live_build_log.html.haml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/successfully/1_1_1_1_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/successfully_with_a_package_which_name_that_includes_/1_1_1_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/successfully_with_a_project_which_name_that_includes_/1_1_1_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_package/1_1_1_5_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_package/1_1_1_5_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_project/1_1_1_6_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_non_existent_project/1_1_1_6_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_protected_package/1_1_1_4_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/behaves_like_build_log/with_a_protected_package/1_1_1_4_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_3.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_4.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_5.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_multibuild_package/1_1_4_6.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_architecture/1_1_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_architecture/1_1_3_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_repository/1_1_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_package_live_build_log/with_a_nonexistent_repository/1_1_2_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/successfully/1_2_1_1_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/successfully_with_a_package_which_name_that_includes_/1_2_1_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/successfully_with_a_project_which_name_that_includes_/1_2_1_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_package/1_2_1_5_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_package/1_2_1_5_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_project/1_2_1_6_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_non_existent_project/1_2_1_6_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_protected_package/1_2_1_4_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/behaves_like_build_log/with_a_protected_package/1_2_1_4_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/for_multibuild_package/1_2_4_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/for_multibuild_package/1_2_4_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/for_multibuild_package/1_2_4_3.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/for_multibuild_package/1_2_4_4.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/for_multibuild_package/1_2_4_5.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_architecture/1_2_3_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_architecture/1_2_3_2.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_repository/1_2_2_1.yml
  src/api/spec/cassettes/Webui_Packages_BuildLogController/GET_update_build_log/with_a_nonexistent_repository/1_2_2_2.yml
  src/api/spec/controllers/webui/packages/build_log_controller_spec.rb
  src/api/spec/fixtures/files/build_result.xml
Labels: Frontend

#16421 Bugfix: missing initialize parameter due to inheritance
  src/api/app/components/workflow_run_header_component.rb
  src/api/app/views/webui/workflow_runs/show.html.haml
Labels: Frontend

#16419 Bugfix: undefined local variable for the chart occurrence
  src/api/app/components/chart_component.html.haml
Labels: Frontend

#16417 Prevent from loading the badge twice
  src/api/app/views/webui/package/side_links/_create_badge.html.haml
Labels: Frontend

#16422 Refactor a bit of complexity on SCMStatusReporter
  src/api/app/services/scm_status_reporter.rb
Labels: Frontend

#16418 Do not report to the SCM when its not needed
  src/api/app/services/scm_status_reporter.rb
  src/api/spec/models/token/workflow_spec.rb
Labels: Frontend

#16424 [backend] rename some publish flags
  src/backend/BSSched/PublishRepo.pm
  src/backend/bs_publish
  src/backend/bs_sched
Labels: Backend
