Repository openSUSE/open-build-service, pull requests merged in 2024-02, with the labels that each got.

#15542 List all comments for a specific user
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_comment_component.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/app/models/comment.rb
  src/api/app/views/webui/user/_comments.html.haml
  src/api/app/views/webui/user/_involvement_and_activity.html.haml
  src/api/app/views/webui/users/show.html.haml
Labels: Frontend

#15537 Prevent N+1 query in project page
  src/api/app/datatables/package_datatable.rb
Labels: Frontend, review-app

#15578 Add column `blocked_from_commenting` to table users
  src/api/db/migrate/20240201082303_add_blocked_from_commenting_to_users.rb
  src/api/db/schema.rb
Labels: Frontend

#15584 [backend] refactor container handling in in internal registry
  src/backend/BSContar.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_worker
Labels: Backend

#15570 Show the user roles alongside the comment
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/helpers/webui/comments_helper.rb
  src/api/app/views/webui/comment/_content.html.haml
  src/api/spec/helpers/webui/comments_helper_spec.rb
Labels: Frontend, review-app

#15585 Revert data migrations about subscriptions
  src/api/db/data/20231004134538_create_a_default_subscription_for_decision_related_events.rb
  src/api/db/data/20231016113740_create_default_subscription_for_report_events.rb
Labels: Frontend

#15590 Extract list of notification types to a constant
  src/api/app/queries/notifications_finder.rb
Labels: Frontend

#15586 Introduce blocking users from commenting
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
  src/api/app/policies/comment_policy.rb
  src/api/app/views/webui/user/_basic_info.html.haml
Labels: Frontend, review-app

#15596 Revert "List all comments for a specific user #15542"
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_comment_component.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/helpers/webui/reportables_helper.rb
  src/api/app/models/comment.rb
  src/api/app/views/webui/user/_comments.html.haml
  src/api/app/views/webui/user/_involvement_and_activity.html.haml
  src/api/app/views/webui/users/show.html.haml
Labels: Frontend

#15595 [backend] early publishing also for productcompose builds
  src/backend/bs_sched
Labels: Backend

#15594 [backend] publisher: rework container layer compression handling
  src/backend/BSConSign.pm
  src/backend/BSContar.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Containerinfo.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_regpush
Labels: Backend

#15614 Index blocking_from_commenting field in users table
  src/api/db/migrate/20240207080349_add_blocked_from_commenting_index_to_users.rb
  src/api/db/schema.rb
Labels: Frontend

#15540 [backend] change default compression for createrepo to gz
  dist/functions.setup-appliance.sh
  dist/obs-server.spec
  src/backend/bs_publish
Labels: Backend

#15619 Fix test data request
  src/api/lib/tasks/dev/reports.rake
Labels: Frontend

#15620 Remove reference to nonexistent .xsd files
  docs/api/Makefile
Labels: Documentation :book:

#15528 Display the build results as a table on larger viewports
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/components/build_results_monitor_component.rb
  src/api/app/views/webui/shared/_build_status_badge.html.haml
Labels: Frontend, review-app

#15504 Allow commenting on the same line after a comment was deleted from it
  src/api/app/assets/stylesheets/webui/diff.scss
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/views/webui/comment/beta/_comments_thread.html.haml
Labels: Frontend, review-app

#15621 [backend] implement signkey flavor project config option
  src/backend/BSContar.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSrcServer/Signkey.pm
  src/backend/BSXML.pm
  src/backend/bs_publish
  src/backend/bs_signer
  src/backend/bs_srcserver
Labels: Backend

#15626 [backend] BSContar: more cleanups
  src/backend/BSContar.pm
  src/backend/BSRepServer/Registry.pm
Labels: Backend

#15627 [backend] make expandflags:macroserial changes critical
  src/backend/BSSched/ProjPacks.pm
Labels: Backend

#15630 Fix display of the bs_request monitor with more architectures
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/components/build_results_monitor_component.html.haml
Labels: Frontend

#15628 Allow to reply to inline comments
  src/api/app/views/webui/comment/_comment_list.html.haml
  src/api/app/views/webui/comment/_content.html.haml
Labels: Frontend, review-app

#15639 Edit comment form alignment and visibility
  src/api/app/assets/stylesheets/webui/timeline.scss
  src/api/app/components/bs_request_comment_component.html.haml
Labels: Frontend

#15640 [backend] BSSrcServer/Srcdiff.pm: show deleted issues as "changed" if…
  src/backend/BSSrcServer/Srcdiff.pm
Labels: Backend

#15631 Align Build Results design for summary and details
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/components/build_results_monitor_component.rb
  src/api/app/components/chart_component.html.haml
  src/api/app/components/chart_component.rb
  src/api/app/helpers/webui/buildresult_helper.rb
Labels: Frontend, review-app

#15646 [backend] bs_signer: add missing --signflavor arguments
  src/backend/bs_signer
Labels: Backend

#15649 Change events payload column size from TEXT to MEDIUMTEXT
  src/api/app/models/event/appeal_created.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/branch_command.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/build_success.rb
  src/api/app/models/event/build_unchanged.rb
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/commit.rb
  src/api/app/models/event/container_published.rb
  src/api/app/models/event/create_package.rb
  src/api/app/models/event/create_project.rb
  src/api/app/models/event/create_report.rb
  src/api/app/models/event/delete_package.rb
  src/api/app/models/event/delete_project.rb
  src/api/app/models/event/favored_decision.rb
  src/api/app/models/event/packtrack.rb
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
  src/api/app/models/event/repo_build_finished.rb
  src/api/app/models/event/repo_build_started.rb
  src/api/app/models/event/repo_publish_state.rb
  src/api/app/models/event/repo_published.rb
  src/api/app/models/event/report.rb
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
  src/api/app/models/event/report_for_request.rb
  src/api/app/models/event/report_for_user.rb
  src/api/app/models/event/request_change.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_delete.rb
  src/api/app/models/event/request_reviews_done.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_changed.rb
  src/api/app/models/event/review_wanted.rb
  src/api/app/models/event/service_fail.rb
  src/api/app/models/event/service_success.rb
  src/api/app/models/event/status_check_for_build.rb
  src/api/app/models/event/status_check_for_published.rb
  src/api/app/models/event/status_check_for_request.rb
  src/api/app/models/event/undelete_package.rb
  src/api/app/models/event/undelete_project.rb
  src/api/app/models/event/update_package.rb
  src/api/app/models/event/update_project.rb
  src/api/app/models/event/update_project_config.rb
  src/api/app/models/event/upload.rb
  src/api/app/models/event/version_change.rb
  src/api/app/models/event/workflow_run_fail.rb
  src/api/db/migrate/20240119114738_change_events_payload_from_text_to_mediumtext.rb
  src/api/db/schema.rb
Labels: Frontend

#15647 [backend] clean up container signing code
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_notar
  src/backend/bs_regpush
Labels: Backend

#15650 [backend] commit signflavor support for the worker
  src/backend/bs_worker
Labels: Backend

#15645 Fix the commenter's badges space issue
  src/api/app/components/bs_request_comment_component.html.haml
Labels: Frontend

#15642 Show the diff against the superseded request
  src/api/app/components/sourcediff_tab_component.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/changes.html.haml
Labels: Frontend

#15654 [backend] project scmsync: clean up code and improve error reporting
  src/backend/BSSrcServer/Scmsync.pm
Labels: Backend

#15656 Link request build summary chart to build result tab
  src/api/app/assets/javascripts/webui/request_show_redesign/chart_build_results.js
  src/api/app/components/chart_component.html.haml
Labels: Frontend, review-app

#15651 Let the build result sub content breathe with space
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/components/build_results_monitor_component.html.haml
Labels: Frontend

#15655 [api] support source file download of deleted package for obs-lfs-ro
  src/api/app/controllers/public_controller.rb
  src/api/test/functional/source_controller_test.rb
Labels: Frontend, Reference Server :desktop_computer:, Monkey Patched :see_no_evil:

#15657 [backend] update createrepo_rpmmd_hook.pm example
  src/backend/bs_publish
  src/backend/examples/createrepo_rpmmd_hook.pm
Labels: Backend

#15662 [backend] make singleexport a publish flag
  src/backend/BSSched/PublishRepo.pm
Labels: Backend

#15672 [backend] support custom intoto attestations
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/BSSched/BuildJob/Aggregate.pm
  src/backend/bs_publish
  src/backend/bs_regpush
  src/backend/bs_repserver
Labels: Backend

#15673 [backend] Patchinfo: tweak architecture and package ordering
  src/backend/BSSched/BuildJob/Patchinfo.pm
Labels: Backend

#15671 [backend] patchinfo: allow to skip updateinfo.xml generation
  docs/api/api/patchinfo.rng
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/BSVerify.pm
  src/backend/BSXML.pm
Labels: Documentation :book:, Backend

#15681 [backend] fix slepool maping for product composer naming
  src/backend/bs_publish
Labels: Backend

#15669 User page link only for non-deleted ones or Admin
  src/api/app/components/notification_component.html.haml
  src/api/app/components/notification_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/models/notification.rb
  src/api/app/models/user.rb
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/components/notification_notifiable_link_component_spec.rb
Labels: Frontend

#15682 [backend] do not treat missing packages as local error
  src/backend/bs_worker
Labels: Backend

#15692 Fix errors when updating a notification
  src/api/app/views/webui/users/notifications/_update.js.erb
Labels: Frontend

#15690 Add more precise receiver role text for commenter
  src/api/app/models/event_subscription.rb
Labels: Frontend, review-app

#15698 [backend] provide jobid when getting the logfile of a running job
  src/backend/bs_repserver
Labels: Backend

#15562 Fix fetching a nil sourcediff
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend

#15707 [backend] respect signflavor if set when getting the pubkey
  src/backend/bs_publish
Labels: Backend

#15697 Fix maintained projects datatable search
  src/api/app/datatables/maintained_project_datatable.rb
Labels: Frontend

#15701 Scrub the rpmlint log files
  src/api/app/services/rpmlint_log_extractor.rb
  src/api/spec/services/rpmlint_log_extractor_spec.rb
Labels: Frontend
