Repository openSUSE/open-build-service, pull requests merged in 2024-10, with the labels that each got.

#16906 Fix capybara session errors
  src/api/spec/support/capybara.rb
Labels: Frontend

#16919 [backend] fix export of scminfo for getprojpack
  src/backend/bs_srcserver
Labels: Backend

#16881 First implementation of bs_setup
  dist/Makefile
  dist/obs-server.spec
  dist/obs-setup
  src/backend/BSSetup/Base.pm
  src/backend/BSSetup/SUSE.pm
  src/backend/bs_setup
Labels: Backend

#16917 Handle group's email from web UI
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/models/group.rb
  src/api/app/views/webui/groups/edit.html.haml
  src/api/app/views/webui/groups/index.html.haml
  src/api/app/views/webui/groups/new.html.haml
  src/api/config/routes/webui.rb
  src/api/spec/controllers/webui/groups_controller_spec.rb
Labels: Frontend

#16923 Remove not implemented `withhistory` parameter from the API
  src/api/app/controllers/source_controller.rb
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_copy.yaml
Labels: Documentation :book:, Frontend

#16924 [backend] also report disturl on binary queries
  src/backend/BSRepServer/Containertar.pm
  src/backend/BSXML.pm
  src/backend/bs_repserver
Labels: Backend

#16930 Don't override `find_by_title!` in roles
  src/api/app/models/role.rb
  src/api/spec/models/role_spec.rb
Labels: Frontend

#16929 Don't override `find_by_title!` in groups
  src/api/app/controllers/group_controller.rb
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/models/group.rb
  src/api/spec/models/bs_request/find_for/group_spec.rb
  src/api/spec/shared/examples/features/bootstrap_user_tab.rb
Labels: Frontend, review-app

#16933 [backend] refactor exit status handling of the build call
  src/backend/bs_worker
Labels: Backend

#16939 Inform of an outdated inline comment
  src/api/app/components/bs_request_comment_component.html.haml
Labels: Frontend, review-app

#16938 Implement inline diffs in the diff component
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/stylesheets/webui/diff.scss
  src/api/app/components/diff_component.html.haml
  src/api/app/services/diff_parser.rb
  src/api/app/services/diff_parser/line.rb
  src/api/spec/fixtures/files/diff_with_highlights.diff
  src/api/spec/services/diff_parser_spec.rb
  src/api/vendor/cache/dimapa-0.1.0.gem
Labels: Frontend, review-app

#16945 Change 400 to 501 Not Implemented response
  src/api/app/controllers/source_attribute_controller.rb
  src/api/public/apidocs/paths/source_project_name_attribute.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_attribute.yaml
  src/api/test/functional/attributes_test.rb
Labels: Documentation :book:, Frontend

#16946 Standardize the URL style for request show pages
  src/api/app/controllers/webui/request_controller.rb
  src/api/config/routes/webui.rb
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/a_request_that_has_a_broken_comment/displays_the_comment_in_the_timeline.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/submit_several_packages_at_once_against_a_factory_staging_project/shows_the_beta_version_of_the_requests_page.yml
  src/api/spec/helpers/webui/request_helper_spec.rb
Labels: Frontend

#16947 Rework image handling for mkosi, appimage et al
  src/backend/BSSched/BuildJob/Image.pm
  src/backend/BSSched/BuildJob/SimpleImage.pm
  src/backend/BSSched/Checker.pm
  src/backend/bs_worker
  src/backend/t/0200-BSSched-BuildJob-Image.t
Labels: Backend

#16951 Remove entity_type local variable
  src/api/app/views/webui/comment/_comment_field.html.haml
Labels: Frontend

#16952 Remove no longer used scopes in model PackageIssue
  src/api/app/models/package_issue.rb
Labels: Frontend

#16959 Track retries of failed database queries
  src/api/app/models/package.rb
  src/api/app/models/package_issue.rb
  src/api/app/models/update_notification_events.rb
Labels: Frontend

#16965 Add `diff_file_index` and `diff_line_number` columns to table `comments`
  src/api/app/models/comment.rb
  src/api/db/migrate/20241016135555_add_diff_columns_to_comments.rb
  src/api/db/schema.rb
Labels: Frontend

#16968 [backend] Image.pm: sort dependencies in the meta file
  src/backend/BSSched/BuildJob/Image.pm
Labels: Backend

#16958 Extract request policies out of RequestDecisionComponent
  src/api/app/components/request_decision_component.html.haml
  src/api/app/components/request_decision_component.rb
  src/api/app/policies/bs_request_policy.rb
  src/api/spec/policies/bs_request_policy_spec.rb
Labels: Frontend

#16962 Accept source_rev and target_rev attributes in comments
  src/api/app/components/diff_component.html.haml
  src/api/app/components/diff_component.rb
  src/api/app/components/diff_list_component.html.haml
  src/api/app/components/diff_list_component.rb
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/lib/routes_helper/routes_constraints.rb
  src/api/app/models/comment.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/request/_add_inline_comment.html.haml
  src/api/app/views/webui/request/_inline_comment.html.haml
  src/api/app/views/webui/request/inline_comment.js.erb
  src/api/db/migrate/20241017103843_add_source_rev_and_target_rev_to_comments.rb
  src/api/db/schema.rb
  src/api/spec/cassettes/SourcediffComponent/when_testing_the_preview/renders_the_preview.yml
  src/api/spec/cassettes/SourcediffComponent/with_a_request_with_a_submit_action/renders_the_diff.yml
Labels: Frontend, review-app

#16966 Write to `diff_file_index` and `diff_line_number` columns
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/request/_inline_comment.html.haml
  src/api/app/views/webui/request/inline_comment.js.erb
Labels: Frontend

#16969 Backfill `diff_file_index` and `diff_line_number` columns on table `comments`
  src/api/db/data/20241017123303_backfill_diff_fields_on_comments.rb
  src/api/db/data_schema.rb
Labels: Frontend

#16975 [backend] Diffnotify: also put the disturl in the binary data
  src/backend/BSPublisher/Diffnotify.pm
Labels: Backend

#16982 [backend] add the config as parameter to the mapper call
  src/backend/BSPublisher/Container.pm
  src/backend/bs_publish
Labels: Backend

#16964 Make use of the revs in the comments to display the right diff
  src/api/.rubocop_todo.yml
  src/api/app/components/bs_request_activity_timeline_component.rb
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/models/bs_request_action/differ/for_source.rb
  src/api/app/models/bs_request_action_submit.rb
  src/api/app/models/comment.rb
  src/api/spec/cassettes/Comments_with_diff/reply_comment/when_under_the_beta_program/displays_the_changes_after_adding_a_new_comment.yml
Labels: Frontend, Test Suite / CI :syringe:

#16970 Don't pass unused parameters to `comment_list` partial
  src/api/app/controllers/webui/comments_controller.rb
Labels: Frontend

#16960 Combine the comment and the review decision boxes
  src/api/app/components/request_decision_component.html.haml
  src/api/app/components/request_decision_component.rb
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/concerns/build_new_comment.rb
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend, Backend, review-app

#16971 Move reads from the `diff_ref` column to the new `diff_*` columns
  src/api/app/components/bs_request_activity_timeline_component.rb
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/bs_request_comment_component.rb
  src/api/app/components/comment_component.rb
  src/api/app/components/diff_component.html.haml
  src/api/app/components/diff_list_component.rb
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/comment.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/comment/_content.html.haml
  src/api/app/views/webui/request/_add_inline_comment.html.haml
  src/api/app/views/webui/request/_inline_comment.html.haml
  src/api/app/views/webui/request/inline_comment.js.erb
  src/api/config/routes/webui.rb
  src/api/spec/controllers/comments_controller_spec.rb
  src/api/spec/features/webui/requests/diff_comments_spec.rb
  src/api/spec/features/webui/requests/submissions_spec.rb
Labels: Frontend

#16992 Move overlooked reads from the `diff_ref` column to the new `diff_*` columns
  src/api/app/models/comment.rb
Labels: Frontend

#16988 Fix decision box border
  src/api/app/assets/stylesheets/webui/bootstrap_variables/options.scss
  src/api/app/components/request_decision_component.html.haml
Labels: Frontend

#16996 Refactor `before` filters for `index` action of the webui request controller
  src/api/app/controllers/concerns/webui/requests_filter.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/spec/controllers/webui/request_controller_spec.rb
Labels: Frontend, review-app

#16998 Add a bit of space above decision buttons
  src/api/app/components/request_decision_component.html.haml
Labels: Frontend

#16993 Stop writing to the `diff_ref` column
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/models/comment.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/request/_inline_comment.html.haml
Labels: Frontend

#17006 Skip if line in nil
  src/api/.rubocop_todo.yml
  src/api/app/services/diff_parser.rb
Labels: Frontend, Test Suite / CI :syringe:, Monkey Patched :see_no_evil:

#17025 Refactor request listing
  src/api/app/controllers/concerns/webui/requests_filter.rb
  src/api/app/controllers/webui/requests_listing_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/models/bs_request/find_for/base.rb
  src/api/app/models/bs_request/find_for/query.rb
  src/api/app/views/webui/requests_listing/_requests_filter.html.haml
  src/api/app/views/webui/requests_listing/index.html.haml
Labels: Frontend

#17032 Prevent from performing N+1 queries listing requests
  src/api/app/components/bs_request_action_source_and_target_component.rb
  src/api/app/controllers/webui/requests_listing_controller.rb
  src/api/app/views/webui/requests_listing/_request_item.html.haml
Labels: Frontend, review-app

#16990 Fix BsRequestActionDescriptionComponent preview
  src/api/spec/components/previews/bs_request_action_description_component_preview.rb
Labels: Frontend

#17030 Return a 401 when there are no @actions loaded
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend

#17036 Fix creators options for listing requests
  src/api/app/controllers/webui/requests_listing_controller.rb
Labels: Frontend, review-app

#17037 Don't pluck always involved requests' ids
  src/api/app/controllers/concerns/webui/requests_filter.rb
  src/api/app/controllers/webui/requests_listing_controller.rb
Labels: Frontend, Monkey Patched :see_no_evil:, review-app

#17044 Temporarily disable list of creators due to performance issues
  src/api/app/controllers/webui/requests_listing_controller.rb
  src/api/app/views/webui/requests_listing/_requests_filter.html.haml
  src/api/spec/features/beta/webui/requests_index_spec.rb
Labels: Frontend
