Repository openSUSE/open-build-service, pull requests merged in 2024-04, with the labels that each got.

#15895 Loading partial
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/views/webui/request/build_results.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/shared/_loading.haml
Labels: Frontend

#15915 Replace repository status with build result status (part2)
  src/api/app/components/chart_component.html.haml
  src/api/app/helpers/webui/buildresult_helper.rb
Labels: Frontend

#15917 Substitute `redirect_back` with `redirect_back_or_to`
  src/api/.rubocop.yml
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/concerns/rescue_authorization_handler.rb
  src/api/app/controllers/concerns/webui/rescue_handler.rb
  src/api/app/controllers/webui/apidocs_controller.rb
  src/api/app/controllers/webui/architectures_controller.rb
  src/api/app/controllers/webui/attribute_controller.rb
  src/api/app/controllers/webui/cloud/ec2/configurations_controller.rb
  src/api/app/controllers/webui/cloud/upload_jobs_controller.rb
  src/api/app/controllers/webui/comment_locks_controller.rb
  src/api/app/controllers/webui/configuration_controller.rb
  src/api/app/controllers/webui/decisions_controller.rb
  src/api/app/controllers/webui/download_on_demand_controller.rb
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/controllers/webui/interconnects_controller.rb
  src/api/app/controllers/webui/kiwi/images_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/controllers/webui/packages/branches_controller.rb
  src/api/app/controllers/webui/packages/build_reason_controller.rb
  src/api/app/controllers/webui/packages/files_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/projects/maintenance_incident_requests_controller.rb
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/search_controller.rb
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/controllers/webui/staging/excluded_requests_controller.rb
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend, Test Suite / CI :syringe:

#15925 [backend] skip directories when downloading binaries with view=cpio
  src/backend/bs_repserver
Labels: Backend

#15926 [backend] triggerscmsync: find matching git repo case insensitive
  src/backend/BSSrcServer/ScmsyncDB.pm
Labels: Backend

#15923 Missing check condition for a local variable
  src/api/app/views/webui/shared/_loading.haml
Labels: Frontend

#15924 Reload js events on async content loaded
  src/api/app/assets/javascripts/webui/comment.js
  src/api/app/views/webui/request/request_action_changes.js.erb
Labels: Frontend, review-app

#15919 Keep track of diff_to_superseded parameter in all the cases
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/views/webui/request/_changes_content.html.haml
  src/api/spec/components/sourcediff_component_spec.rb
Labels: Frontend, review-app

#15935 Refactoring of routing
  src/api/config/routes.rb
  src/api/config/routes/api.rb
  src/api/config/routes/api_routes.rb
  src/api/config/routes/webui.rb
  src/api/config/routes/webui_routes.rb
Labels: Frontend, review-app

#15938 Update permission.rb
  src/api/app/lib/suse/permission.rb
Labels: Frontend

#15890 apidocs: Add missing params for branch
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_branch.yaml
Labels: Documentation :book:, Frontend

#15940 Info popover partial
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/views/webui/distributions/new.html.haml
  src/api/app/views/webui/main/_system_status.html.haml
  src/api/app/views/webui/shared/_info_popover.haml
Labels: Frontend

#15944 Update list of crawler user agents
  src/api/config/crawler-user-agents.json
Labels: Frontend

#15933 Include revision in the file url
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/_file.html.haml
  src/api/spec/cassettes/Packages/Viewing_package_with_older_revision/contains_file_from_revision_including_the_revision_parameter.yml
  src/api/spec/cassettes/Packages/Viewing_package_with_older_revision/does_not_display_delete_buttons_for_files.yml
  src/api/spec/features/webui/packages_spec.rb
Labels: Frontend

#15947 Add comments to objects stored in SCM/CI steps
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/app/models/workflow/step/link_package_step.rb
  src/api/app/models/workflow/step/set_flags.rb
Labels: Frontend

#15951 Store a project definition when a flag is updated
  src/api/app/models/workflow/step/set_flags.rb
  src/api/spec/models/workflow/step/set_flags_step_spec.rb
Labels: Frontend

#15953 Small refactorings to specs of Workflow::Step::SetFlags
  src/api/spec/models/workflow/step/set_flags_step_spec.rb
Labels: Frontend

#15955 Enhance the visual difference from placeholder to real input value
  src/api/app/assets/stylesheets/webui/colors.scss
  src/api/app/assets/stylesheets/webui/mixin.scss
Labels: Frontend

#15941 Avoid double encoding parameters to the backend
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/lib/backend/api/build/project.rb
  src/api/app/models/package.rb
  src/api/spec/cassettes/Package/_add_containers/1_24_1.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/of_a_package_with_more_than_one_changes_file/1_17_4_1.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/of_a_package_without_a_changes_file/1_17_3_1.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_a_diff_to_the_target_package_changes_file/1_17_1_1.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_a_diff_to_the_target_package_changes_file/1_17_1_2.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_a_diff_to_the_target_package_changes_file/1_17_1_3.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_a_diff_to_the_target_package_changes_file/1_17_1_4.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_a_diff_to_the_target_package_changes_file/1_17_1_5.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_a_diff_to_the_target_package_changes_file/1_18_1_4.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_no_diff_to_the_target_package_changes_file/1_17_2_1.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_no_diff_to_the_target_package_changes_file/1_17_2_2.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_no_diff_to_the_target_package_changes_file/1_17_2_3.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_no_diff_to_the_target_package_changes_file/1_17_2_4.yml
  src/api/spec/cassettes/Package/_commit_message_from_changes_file/with_no_diff_to_the_target_package_changes_file/1_17_2_5.yml
  src/api/spec/cassettes/Package/_ignored_requests/when_the_package_has_no_ignored_requests_file/1_21_2_1.yml
  src/api/spec/cassettes/Package/_kiwi_image_outdated_/with_a_kiwi_image/with_different_md5/1_15_2_2_1.yml
  src/api/spec/cassettes/Package/_kiwi_image_outdated_/with_a_kiwi_image/with_different_md5/1_16_2_2_1.yml
  src/api/spec/cassettes/Package/_kiwi_image_outdated_/with_a_kiwi_image/with_same_md5/1_15_2_1_1.yml
  src/api/spec/cassettes/Package/_kiwi_image_outdated_/without_a_kiwi_image/1_15_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_succeeds/1_10_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_succeeds/1_10_2_2.yml
  src/api/spec/cassettes/Webui_Packages_BinariesController/DELETE_destroy/when_wiping_binaries_succeeds/1_1_2_1.yml
  src/api/spec/models/package_spec.rb
Labels: Frontend

#15948 [backend] support a "startbefore" parameter in source _history queries
  src/backend/bs_srcserver
Labels: Backend

#15959 [backend] support product compose name schema on release
  src/backend/bs_repserver
Labels: Backend

#15960 [backend] do not send resumeproject events to the signer
  src/backend/bs_repserver
Labels: Backend

#15958 Refactoring TriggerWorkflowController
  src/api/app/controllers/concerns/scm_webhook_headers_data_extractor.rb
  src/api/app/controllers/trigger_workflow_controller.rb
  src/api/app/services/trigger_controller_service/scm_extractor.rb
  src/api/spec/controllers/trigger_workflow_controller_spec.rb
Labels: Frontend

#15962 Better placeholder text
  src/api/app/components/workflow_run_filter_component.html.haml
Labels: Frontend, Test Suite / CI :syringe:

#15961 Eliminate caching of revisions and fetch them directly from the backend
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/lib/backend/api/sources/package.rb
  src/api/app/models/package.rb
  src/api/app/views/webui/package/revisions.html.haml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_not_passing_the_rev_parameter/and_passing_the_page_parameter/returns_the_paginated_revisions_for_the_page_parameter_s_value.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_not_passing_the_rev_parameter/and_passing_the_show_all_parameter/returns_revisions_without_pagination.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_not_passing_the_rev_parameter/returns_revisions_with_the_default_pagination.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_passing_the_rev_parameter/and_passing_the_page_parameter/returns_the_paginated_revisions_for_the_page_parameter_s_value.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_passing_the_rev_parameter/and_passing_the_show_all_parameter/returns_revisions_up_to_rev_parameter_s_value_without_pagination.yml
  src/api/spec/cassettes/Webui_PackageController/GET_revisions/with_source_access/when_passing_the_rev_parameter/returns_revisions_up_to_rev_parameter_s_value_with_the_default_pagination.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Frontend

#15969 Escape project and package title
  src/api/app/views/webui/package/update.js.haml
  src/api/app/views/webui/project/update.js.haml
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Labels: Frontend

#15970 Use the proper icon for relationship notifications
  src/api/app/components/notification_component.rb
  src/api/spec/components/notification_component_spec.rb
  src/api/spec/factories/notification.rb
Labels: Frontend

#15978 SCM/CI: Improve storing projects and packages for setting flags
  src/api/app/models/workflow/step/set_flags.rb
Labels: Frontend

#15974 Set URL of target project when branching from SCM/CI
  src/api/app/models/branch_package.rb
  src/api/app/models/workflow/step/branch_package_step.rb
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_call/for_a_new_commit_SCM_webhook_event/it_creates_the__branch_request_file/updates_the_url.yml
  src/api/spec/cassettes/Workflow_Step_BranchPackageStep/_skip_repositories_/when_add_repositories_is_disabled/sets_the_url_of_the_target_project_with_the_event_url_from_the_SCM_payload.yml
  src/api/spec/models/workflow/step/branch_package_step_spec.rb
Labels: Frontend

#15982 [backend] make the source diff not treat tracker ids as versions
  src/backend/BSSrcServer/Srcdiff.pm
Labels: Backend

#15988 Make the attribute values on dark theme
  src/api/app/assets/stylesheets/webui/package-attributes.scss
Labels: Frontend

#15986 Refactor handling of unauthorized exceptions for SCM clients
  src/api/app/models/token/errors.rb
  src/api/app/models/token/workflow.rb
  src/api/app/services/github_status_reporter.rb
  src/api/app/services/gitlab_status_reporter.rb
  src/api/app/services/workflows/yaml_downloader.rb
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_closed_PR/when_the_token_user_is_authorized/revokes_previous_submit_requests.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_newly_opened_PR/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_an_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_a_submit_request.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_no_event_subcription.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_a_tag_push_event/creates_workflow_artifacts.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/creates_the_workflow_artifact.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_authorized/supersedes_previously_created_submit_request_and_opens_a_new_one.yml
  src/api/spec/cassettes/Workflow_Step_SubmitRequest/_call/for_an_updated_PR/when_the_token_user_is_not_authorized/does_not_supersede_the_previously_created_submit_request.yml
  src/api/spec/models/token/workflow_spec.rb
  src/api/spec/models/workflow/step/submit_request_step_spec.rb
  src/api/spec/services/workflows/yaml_downloader_spec.rb
Labels: Frontend

#15950 Multiple workflowrun filters
  src/api/.rubocop_todo.yml
  src/api/app/assets/stylesheets/webui/workflow_runs.scss
  src/api/app/components/workflow_run_filter_checkbox_component.html.haml
  src/api/app/components/workflow_run_filter_checkbox_component.rb
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_component.rb
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/components/workflow_run_filter_link_component.html.haml
  src/api/app/components/workflow_run_filter_link_component.rb
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/models/workflow_run.rb
  src/api/app/queries/workflow_runs_finder.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/spec/controllers/webui/workflow_runs_controller_spec.rb
  src/api/spec/queries/workflow_runs_finder_spec.rb
Labels: Frontend, Test Suite / CI :syringe:, review-app

#15992 Unsafe autocorrect Style/IdenticalConditionalBranches RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/build_controller.rb
  src/api/app/controllers/webui/search_controller.rb
Labels: Frontend, Test Suite / CI :syringe:

#15995 Unsafe autocorrect Rails/FindEach RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/public_controller.rb
  src/api/app/controllers/webui/projects/status_controller.rb
  src/api/app/helpers/flag_helper.rb
  src/api/app/models/binary_release.rb
  src/api/app/policies/token/release_policy.rb
  src/api/app/views/models/_configuration.xml.builder
  src/api/db/data/20210707102506_add_api_endpoints_to_payload.rb
  src/api/db/data/20230620110143_backfill_scm_vendor_and_hook_event_in_workflow_run.rb
Labels: Frontend, Test Suite / CI :syringe:

#15996 Unsafe autocorrect Style/SlicingWithRange RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/build_controller.rb
  src/api/app/controllers/webui/search_controller.rb
  src/api/app/helpers/webui/package_helper.rb
  src/api/app/helpers/webui/projects/status_helper.rb
  src/api/app/helpers/webui/staging/workflow_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/issue_tracker.rb
  src/api/app/models/kiwi/image.rb
  src/api/app/services/package_service/schema_verifier.rb
  src/api/test/node_matcher.rb
Labels: Frontend, Test Suite / CI :syringe:

#15993 Manually correct one Lint/UselessMethodDefinition RuboCop offense
  src/api/.rubocop_todo.yml
  src/api/test/test_helper.rb
Labels: Frontend, Test Suite / CI :syringe:

#15999 Manually address Lint/SuppressedException RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/components/sourcediff_component.rb
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/models/package.rb
  src/api/lib/obsapi/markdown_renderer.rb
  src/api/spec/models/project_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#16001 Render text indented by four spaces as code
  src/api/app/helpers/webui/markdown_helper.rb
Labels: Frontend, review-app

#16009 Move the request decision hint closer to the decision buttons
  src/api/app/components/request_decision_component.html.haml
  src/api/app/components/request_decision_component.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_conversation_aside.html.haml
Labels: Frontend

#15879 [api] fix special case in branch handling
  src/api/app/models/branch_package.rb
Labels: Frontend

#15991 Avoid confusion with Feature Toggles link
  src/api/app/controllers/webui/global_feature_toggles_controller.rb
  src/api/app/views/layouts/webui/_places.html.haml
  src/api/app/views/webui/configuration/_tabs.html.haml
  src/api/app/views/webui/global_feature_toggles/_breadcrumb_items.html.haml
  src/api/app/views/webui/global_feature_toggles/index.html.haml
  src/api/config/routes/webui.rb
Labels: Frontend

#16025 [backend] container publishing: generate predicatetype annotation for intoto attestations
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_publish
  src/backend/bs_regpush
Labels: Backend

#16016 Add `decision_type` column to canned responses
  src/api/app/models/canned_response.rb
  src/api/db/migrate/20240418155847_add_decision_type_to_canned_response.rb
  src/api/db/schema.rb
Labels: Frontend

#16003 Document project history endpoint
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/paths/source_project_name_project_history.yaml
Labels: Documentation :book:, Frontend

#15994 Display a list of files included in the binary
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/lib/backend/api/build_results/binaries.rb
  src/api/app/views/webui/packages/binaries/_deps.html.haml
  src/api/app/views/webui/packages/binaries/_fileinfo.html.haml
  src/api/config/routes/webui.rb
Labels: Frontend, Test Suite / CI :syringe:

#16028 Fix filter counts: consider the full set, not the paginated one
  src/api/app/components/workflow_run_filter_component.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/views/webui/workflow_runs/index.html.haml
Labels: Frontend

#16023 Consider only current build results for the badge
  src/api/app/controllers/webui/packages/badge_controller.rb
Labels: Frontend

#16017 Fill `decision_type` from canned responses with data
  src/api/app/controllers/webui/users/canned_responses_controller.rb
  src/api/db/data/20240419092811_backfill_decision_type_in_canned_responses.rb
  src/api/db/data_schema.rb
Labels: Frontend

#16034 Handle connection errors in Gitea client
  src/api/app/lib/gitea_api/v1/client.rb
  src/api/app/services/gitea_status_reporter.rb
  src/api/app/services/scm_exception_handler.rb
Labels: Frontend

#16035 Handle more Faraday connection errors
  src/api/app/services/github_status_reporter.rb
Labels: Frontend

#16038 Set warning color to Report button
  src/api/app/assets/stylesheets/webui/links.scss
  src/api/app/views/webui/comment/_reply.html.haml
Labels: Frontend

#16015 Replace kind with type
  src/api/app/components/canned_responses_dropdown_component.html.haml
  src/api/app/components/canned_responses_dropdown_component.rb
  src/api/app/components/reports_modal_component.rb
  src/api/app/controllers/webui/users/canned_responses_controller.rb
  src/api/app/models/canned_response.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/app/views/webui/users/canned_responses/edit.html.haml
  src/api/app/views/webui/users/canned_responses/index.html.haml
  src/api/spec/components/canned_responses_dropdown_component_spec.rb
  src/api/spec/controllers/webui/users/canned_responses_controller_spec.rb
  src/api/spec/factories/canned_responses.rb
  src/api/spec/features/webui/canned_responses_spec.rb
Labels: Frontend

#16011 Add favor decision with comment moderation
  src/api/app/models/canned_response.rb
  src/api/app/models/decision.rb
  src/api/app/models/decision_favored_with_comment_moderation.rb
  src/api/app/policies/decision_favored_with_comment_moderation_policy.rb
  src/api/spec/factories/decision_favored_with_comment_moderation.rb
  src/api/spec/models/decision_favored_with_comment_moderation_spec.rb
Labels: Frontend

#16044 [backend] Fix typo in log message
  src/backend/BSSched/PublishRepo.pm
Labels: Backend

#16048 Update bundler version
  src/api/Gemfile.lock
  src/api/Gemfile.next.lock
Labels: Frontend

#16024 Get rid of kind from the decision model
  src/api/app/controllers/webui/decisions_controller.rb
  src/api/app/models/decision.rb
Labels: Frontend

#16040 Implement Favor Decision and create a Delete Request
  src/api/app/components/notification_excerpt_component.rb
  src/api/app/models/canned_response.rb
  src/api/app/models/decision.rb
  src/api/app/models/decision_favored_with_delete_request.rb
  src/api/app/policies/decision_favored_with_delete_request_policy.rb
  src/api/spec/factories/decision_favored_with_delete_request.rb
  src/api/spec/models/decision_favored_with_delete_request_spec.rb
Labels: Frontend

#16039 Create a database table for user blocks
  src/api/app/models/blocked_user.rb
  src/api/db/migrate/20240423073041_create_blocked_users.rb
  src/api/db/schema.rb
Labels: Frontend

#16045 Handle deleted patchinfos in request workflow beta
  src/api/app/views/webui/request/_patchinfo_details.html.haml
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#16036 Remove canned response `decision_kind`
  src/api/app/models/canned_response.rb
  src/api/db/data/20240419092811_backfill_decision_type_in_canned_responses.rb
  src/api/db/migrate/20240424141833_remove_decision_kind_from_canned_responses.rb
  src/api/db/schema.rb
Labels: Frontend, DO NOT MERGE :warning:

#16042 Add ui to create and remove user blocks
  src/api/app/controllers/webui/users/block_controller.rb
  src/api/app/models/comment.rb
  src/api/app/models/user.rb
  src/api/app/policies/blocked_user_policy.rb
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/config/routes/webui.rb
Labels: Frontend

#16052 Add the Decision kind column to ignored columns
  src/api/app/models/decision.rb
Labels: Frontend

#16050 Implement favor decision and block user
  src/api/app/components/notification_excerpt_component.rb
  src/api/app/models/canned_response.rb
  src/api/app/models/decision.rb
  src/api/app/models/decision_favored_with_user_commenting_restriction.rb
  src/api/app/policies/decision_favored_with_user_commenting_restriction_policy.rb
Labels: Frontend

#16053 Remove kind column from the decisions table
  src/api/app/models/decision.rb
  src/api/app/models/decision_cleared.rb
  src/api/app/models/decision_favored.rb
  src/api/app/models/decision_favored_with_comment_moderation.rb
  src/api/app/models/decision_favored_with_delete_request.rb
  src/api/app/models/decision_favored_with_user_deletion.rb
  src/api/db/data/20240417122944_set_the_decision_type_from_decision_kind.rb
  src/api/db/migrate/20240425084914_remove_kind_from_decision.rb
  src/api/db/schema.rb
Labels: Frontend

#16051 Comments on reports
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/comments_controller.rb
  src/api/app/models/report.rb
  src/api/app/policies/comment_lock_policy.rb
  src/api/app/policies/comment_policy.rb
  src/api/app/policies/report_policy.rb
  src/api/app/views/webui/reports/show.html.haml
  src/api/spec/factories/comments.rb
  src/api/spec/policies/comment_lock_policy_spec.rb
  src/api/spec/policies/comment_policy_spec.rb
  src/api/spec/policies/report_policy_spec.rb
Labels: Frontend, Test Suite / CI :syringe:, review-app

#16057 Don't render markdown inside the user mention
  src/api/lib/obsapi/markdown_renderer.rb
  src/api/spec/helpers/webui/markdown_helper_spec.rb
Labels: Frontend

#16005 Install activestorage into OBS
  .gitignore
  dist/obs-server.spec
  src/api/Makefile
  src/api/app/controllers/webui/webui_controller.rb
  src/api/config/application.rb
  src/api/config/environments/development.rb
  src/api/config/environments/production.rb
  src/api/config/environments/test.rb
  src/api/config/storage.yml
  src/api/db/migrate/20240425122946_create_active_storage_tables.active_storage.rb
  src/api/db/schema.rb
Labels: Frontend

#16063 Do not call `link_to_reportable` if reportable does not exist
  src/api/app/views/webui/reports/show.html.haml
Labels: Frontend

#16061 Define a priority for responsive columns
  src/api/app/assets/javascripts/webui/requests_table.js
Labels: Frontend, review-app

#16067 Update distribution for build results badge
  README.md
Labels: Documentation :book:

#16046 Show the reason in the notification excerpt for the new decision favored types
  src/api/app/components/notification_excerpt_component.rb
Labels: Frontend

#16071 [backend] PublishRepo: make sure that the :repo directory exists
  src/backend/BSSched/PublishRepo.pm
Labels: Backend

#16068 [backend] add option to disable disturl in binaries
  src/backend/bs_worker
Labels: Backend

#16069 Ensure right encoding before checking for blank
  src/api/app/services/rpmlint_log_extractor.rb
  src/api/spec/services/rpmlint_log_extractor_spec.rb
Labels: Frontend

#16075 [backend] bs_repserver: implement support for rpm's %include statement
  src/backend/bs_repserver
Labels: Backend
