Repository openSUSE/open-build-service, pull requests merged in 2024-05, with the labels that each got.

#16081 Sort `/build` endpoints alphabetically
  src/api/public/apidocs/OBS-v2.10.50.yaml
Labels: Documentation :book:, Frontend, review-app

#16083 Document `GET /build/#{project_name}/#{repository_name}/#{architecture_name}/_jobhistory` API endpoint
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/components/schemas/job_history_list.yaml
  src/api/public/apidocs/paths/build_project_name_repository_name_architecture_name_jobhistory.yaml
Labels: Documentation :book:, Frontend, review-app

#16078 Remove unused Webui::PackageController#save action
  src/api/app/controllers/webui/package_controller.rb
  src/api/config/routes/webui.rb
  src/api/spec/cassettes/Webui_PackageController/GET_rdiff/when_an_empty_revision_is_provided/1_7_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rdiff/when_an_empty_revision_is_provided/1_7_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rdiff/when_no_difference_in_sources_diff_is_empty/1_7_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rpmlint_log/when_no_rpmlint_log_is_available/1_12_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_rpmlint_log/when_no_rpmlint_log_is_available/1_12_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_show/revision_handling/with_a_rev_parameter_with_existent_revision/1_3_3_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_show/revision_handling/with_a_rev_parameter_with_existent_revision/1_3_3_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_show/revision_handling/with_a_rev_parameter_with_non-existent_revision/1_3_3_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_show/revision_handling/with_a_rev_parameter_with_non-existent_revision/1_3_3_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_show/with_a_package_that_has_a_broken_service/1_3_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_show/with_a_package_that_has_a_broken_service/1_3_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_trigger_services/with_right_params/1_5_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_trigger_services/with_right_params/1_5_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_trigger_services/with_right_params/1_5_1_3.yml
  src/api/spec/cassettes/Webui_PackageController/GET_trigger_services/without_a_service_file_in_the_package/1_5_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/GET_trigger_services/without_a_service_file_in_the_package/1_5_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/GET_trigger_services/without_a_service_file_in_the_package/1_5_2_3.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_fails/1_9_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_succeeds/1_9_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_abort_build/when_aborting_the_build_succeeds/1_9_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_save/invalid_data/1_1_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_save/invalid_data/1_1_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_save/valid_data/1_1_1_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_save/valid_data/1_1_1_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_save/valid_data/1_1_1_3.yml
  src/api/spec/cassettes/Webui_PackageController/POST_save/valid_data/1_1_1_4.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_succeeds/1_8_2_1.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_succeeds/1_8_2_2.yml
  src/api/spec/cassettes/Webui_PackageController/POST_trigger_rebuild/when_triggering_a_rebuild_with_maintainer_of_package/1_8_3_1.yml
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Frontend

#16084 Make the filter components simpler reusable partials
  src/api/app/components/workflow_run_filter_checkbox_component.html.haml
  src/api/app/components/workflow_run_filter_checkbox_component.rb
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.html.haml
  src/api/app/components/workflow_run_filter_input_component.rb
  src/api/app/components/workflow_run_request_action_filter_component.html.haml
  src/api/app/components/workflow_run_request_action_filter_component.rb
  src/api/app/models/scm_webhook.rb
  src/api/app/views/webui/shared/_check_box.haml
  src/api/app/views/webui/shared/_input.haml
  src/api/app/views/webui/shared/_select.haml
Labels: Frontend

#14125 add loongarch64 support for open-build-service
  docs/api/api/obs.rng
  src/api/db/data/20240131174510_add_loongarch64.rb
  src/api/db/seeds.rb
  src/backend/BSCando.pm
  src/backend/bs_publish
Labels: Documentation :book:, Frontend, Backend

#16096 Fix "seperate" typos
  docs/api/api/obs.rng
  src/api/app/controllers/request_controller.rb
  src/api/app/models/bs_request_action/differ/query_builder.rb
  src/api/spec/models/project_spec.rb
  src/api/test/functional/maintenance_test.rb
  src/backend/BSConfig.pm.template
  src/backend/bs_productconvert
Labels: Documentation :book:, Frontend, Backend

#16094 Document `GET /image_templates` API endpoint
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/components/schemas/image_templates.yaml
  src/api/public/apidocs/paths/image_templates.yaml
Labels: Documentation :book:, Frontend, review-app

#16097 Document `group` and `reviewstates` missing parameters for `GET /request?view=collection` API endpoint
  src/api/public/apidocs/components/parameters/request.yaml
  src/api/public/apidocs/paths/request_view_collection.yaml
Labels: Documentation :book:, Frontend, review-app

#16082 [api] extendkey: make days parameter accessable
  docs/api/api/api.txt
  src/api/app/controllers/source_controller.rb
  src/api/public/apidocs/paths/source_project_name_cmd_extendkey.yaml
Labels: Documentation :book:, Frontend

#15998 Manually address Lint/DuplicateBranch RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/source_project_controller.rb
  src/api/app/mixins/parse_package_diff.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/service/name_validator.rb
Labels: Frontend, Test Suite / CI :syringe:

#16106 Drop BsRequest.in_states
  src/api/app/jobs/project_create_auto_cleanup_requests_job.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request/find_for/query.rb
  src/api/app/models/project.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/models/user.rb
  src/api/app/queries/notifications_finder.rb
  src/api/db/data/20200326221616_regenerate_notifications.rb
  src/api/spec/models/user_requests_spec.rb
Labels: Frontend

#16099 [backend] Fix typo in createrepo_rpmmd_hook.pm example
  src/backend/examples/createrepo_rpmmd_hook.pm
Labels: Backend

#16111 Handle `notification_id` query param and notifications toolbar gracefully
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/reports_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/users_controller.rb
Labels: Frontend, review-app

#16102 Introduce new names of project receiver roles
  src/api/app/models/event/base.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/request.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_changed.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/for_event_form.rb
  src/api/db/data/20240507120255_rename_project_receiver_roles_in_event_subscriptions.rb
  src/api/db/data_schema.rb
  src/api/spec/db/data/generate_web_notifications_spec.rb
  src/api/spec/features/webui/subscriptions_spec.rb
  src/api/spec/models/event/base_spec.rb
  src/api/spec/models/event_subscription/find_for_event_spec.rb
  src/api/spec/models/event_subscription/for_event_form_spec.rb
Labels: Frontend, review-app

#16103 Drop obsolete watcher receiver roles
  src/api/app/models/event/base.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/event/request.rb
  src/api/app/models/event/request_create.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_changed.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/for_event_form.rb
Labels: Frontend, review-app

#16110 Speed up query
  src/api/app/models/user.rb
Labels: Frontend

#16118 Fix RuboCop TODO file
  src/api/.rubocop_todo.yml
Labels: Frontend, Test Suite / CI :syringe:

#16120 Drop `find_for` BsRequest scope
  src/api/app/controllers/request_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request/data_table/find_for_package_query.rb
  src/api/app/models/bs_request/data_table/find_for_project_query.rb
  src/api/app/models/group.rb
Labels: Frontend

#16086 Make `package` filter independent of other parameters in `GET /request?view=collection` API endpoint
  src/api/.rubocop_todo.yml
  src/api/app/controllers/request_controller.rb
  src/api/app/models/bs_request/find_for/project.rb
  src/api/app/models/bs_request/find_for/query.rb
  src/api/config/brakeman.ignore
Labels: Frontend, Test Suite / CI :syringe:

#16119 Refactor `handle_notification` method into a concern
  src/api/app/controllers/concerns/webui/notifications_handler.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/controllers/webui/reports_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/users_controller.rb
Labels: Frontend, review-app

#16132 [backend] BSNotify: save memory when sending the payload
  src/backend/BSNotify.pm
  src/backend/BSRunner.pm
  src/backend/BSStdRunner.pm
  src/backend/bs_publish
Labels: Backend

#16109 Fix N+1 queries fetching all projects
  src/api/app/datatables/project_datatable.rb
  src/api/app/models/project.rb
Labels: Frontend, review-app

#16140 [backend] BSNotify: do not use chunked encoding for the payload
  src/backend/BSNotify.pm
  src/backend/BSUtil.pm
Labels: Backend

#16131 Unify events text
  src/api/app/components/notification_action_description_component.rb
  src/api/app/models/event/appeal_created.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/branch_command.rb
  src/api/app/models/event/build.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/event/build_success.rb
  src/api/app/models/event/build_unchanged.rb
  src/api/app/models/event/cleared_decision.rb
  src/api/app/models/event/commit.rb
  src/api/app/models/event/container_published.rb
  src/api/app/models/event/create_package.rb
  src/api/app/models/event/create_project.rb
  src/api/app/models/event/create_report.rb
  src/api/app/models/event/delete_package.rb
  src/api/app/models/event/delete_project.rb
  src/api/app/models/event/favored_decision.rb
  src/api/app/models/event/packtrack.rb
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
  src/api/app/models/event/repo_publish_state.rb
  src/api/app/models/event/repo_published.rb
  src/api/app/models/event/report.rb
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
  src/api/app/models/event/report_for_request.rb
  src/api/app/models/event/report_for_user.rb
  src/api/app/models/event/request.rb
  src/api/app/models/event/request_change.rb
  src/api/app/models/event/request_delete.rb
  src/api/app/models/event/request_reviews_done.rb
  src/api/app/models/event/request_statechange.rb
  src/api/app/models/event/review_changed.rb
  src/api/app/models/event/review_wanted.rb
  src/api/app/models/event/service_fail.rb
  src/api/app/models/event/service_success.rb
  src/api/app/models/event/status_check_for_build.rb
  src/api/app/models/event/status_check_for_published.rb
  src/api/app/models/event/undelete_package.rb
  src/api/app/models/event/undelete_project.rb
  src/api/app/models/event/update_package.rb
  src/api/app/models/event/update_project.rb
  src/api/app/models/event/update_project_config.rb
  src/api/app/models/event/upload.rb
  src/api/app/models/event/version_change.rb
  src/api/app/models/event/workflow_run_fail.rb
  src/api/spec/features/webui/subscriptions_spec.rb
  src/api/test/models/project_log_entry_test.rb
Labels: Frontend

#16135 Display unread notifications through the API
  src/api/app/controllers/person/notifications_controller.rb
  src/api/public/apidocs/paths/my_notifications.yaml
Labels: Documentation :book:, Frontend

#16123 Remove unused cache key section
  src/api/app/helpers/webui/user_helper.rb
Labels: Frontend

#16130 Introduce cache for singleton record of Configuration
  src/api/app/controllers/configurations_controller.rb
  src/api/app/controllers/public_controller.rb
  src/api/app/controllers/webui/code_of_conduct_controller.rb
  src/api/app/controllers/webui/feeds_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/mailers/admin_mailer.rb
  src/api/app/mailers/event_mailer.rb
  src/api/app/models/configuration.rb
  src/api/app/models/project/remote_url.rb
  src/api/app/policies/webui/user_policy.rb
  src/api/spec/factories/users.rb
  src/api/spec/models/user_spec.rb
  src/api/spec/policies/webui/user_policy_spec.rb
Labels: Frontend, review-app

#16126 Remove watched_projects table
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/db/migrate/20240513154336_remove_watched_projects.rb
  src/api/db/schema.rb
Labels: Frontend, Test Suite / CI :syringe:

#16137 Improve rendering of notifications API
  src/api/app/views/person/notifications/_notification.xml.builder
Labels: Documentation :book:, Frontend

#16141 Get rid of unnecessary remove_foreign_key
  src/api/db/migrate/20240513154336_remove_watched_projects.rb
Labels: Frontend

#15767 [api] tune fork command error handling
  src/api/app/controllers/source_controller.rb
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_branch.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_fork.yaml
  src/api/test/functional/source_controller_test.rb
Labels: Documentation :book:, Frontend, Monkey Patched :see_no_evil:

#16144 [backend] improve error reporting for encrypted zip files
  src/backend/BSSrcServer/Srcdiff.pm
  src/backend/BSZip.pm
Labels: Backend

#16143 Remove NotificationsFinder
  src/api/app/components/notification_filter_component.rb
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/jobs/cleanup_notifications_job.rb
  src/api/app/models/notification.rb
  src/api/app/models/user.rb
  src/api/app/queries/notifications_finder.rb
  src/api/app/services/notification_service/web_channel.rb
  src/api/spec/db/data/remove_obsolete_notifications_spec.rb
Labels: Frontend

#16145 [backend] speed up registry query by storing the last result
  src/backend/BSPublisher/Container.pm
  src/backend/bs_regpush
Labels: Backend

#16149 Add missing annotations
  src/api/app/models/canned_response.rb
  src/api/app/models/decision_favored_with_user_commenting_restriction.rb
Labels: Frontend

#16136 Extend types used to filter notifications with the API
  src/api/app/controllers/person/notifications_controller.rb
  src/api/public/apidocs/paths/my_notifications.yaml
Labels: Documentation :book:, Frontend

#16148 Add missing indexes in table notifications
  src/api/db/migrate/20240516133632_add_missing_indexes_to_notifications.rb
  src/api/db/schema.rb
Labels: Frontend

#16146 [backend] disable builds for maintenance release projects
  src/api/test/fixtures/flags.yml
  src/backend/BSSched/Checker.pm
Labels: Frontend, Backend

#16153 Fix notifications filters. Add missing `unread` scope
  src/api/app/models/notification.rb
Labels: Frontend, review-app

#16154 [backend] allow to specify an embargo in _patchinfo
  docs/api/api/patchinfo.rng
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/BSXML.pm
  src/backend/bs_publish
Labels: Documentation :book:, Backend

#16159 Sort notifications in descending order again
  src/api/app/controllers/webui/users/notifications_controller.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#16163 [backend] bs_publish: fix mapslepool for product composer
  src/backend/bs_publish
Labels: Backend

#16142 Missing event subject
  src/api/app/models/event/build.rb
  src/api/app/models/event/comment_event.rb
  src/api/app/models/event/relationship.rb
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
  src/api/app/models/event/report.rb
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
  src/api/app/models/event/report_for_request.rb
  src/api/app/models/event/report_for_user.rb
  src/api/app/models/event/request.rb
Labels: Frontend

#16155 [backend] bs_regpush: rename --old-list-output option and add --listf…
  src/backend/BSPublisher/Container.pm
  src/backend/bs_publish
  src/backend/bs_regpush
Labels: Backend

#16166 Fix how we access Event::Base.payload hash
  src/api/app/models/event/relationship_create.rb
  src/api/app/models/event/relationship_delete.rb
  src/api/app/models/event/report_for_comment.rb
  src/api/app/models/event/report_for_package.rb
  src/api/app/models/event/report_for_project.rb
  src/api/app/models/event/report_for_request.rb
  src/api/app/models/event/report_for_user.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#16171 Removed unused method in Configuration model
  src/api/app/models/configuration.rb
Labels: Frontend

#16161 Fix Rubocop offense Rails/WhereRange
  src/api/.rubocop_todo.yml
  src/api/app/controllers/webui/feeds_controller.rb
  src/api/app/jobs/status_history_rescaler_job.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/notification.rb
  src/api/app/models/project_log_entry.rb
  src/api/db/data/20200326221616_regenerate_notifications.rb
Labels: Frontend, Test Suite / CI :syringe:

#16172 Display a nicer icon for closed requests
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/components/bs_request_state_badge_component.rb
Labels: Frontend

#16169 Fix how we access payload in Event::Request
  src/api/app/models/event/request.rb
  src/api/test/functional/maintenance_test.rb
Labels: Frontend

#16164 Move configuration methods to class methods
  src/api/app/components/sign_up_component.html.haml
  src/api/app/components/sign_up_component.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/models/concerns/configuration_constants.rb
  src/api/app/models/configuration.rb
  src/api/app/views/webui/users/edit.html.haml
  src/api/spec/models/configuration_spec.rb
Labels: Frontend, review-app

#16175 [backend] bs_sched: delay and retry publishing if we could not get th…
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/EventSource/Retry.pm
  src/backend/BSSched/PublishRepo.pm
  src/backend/bs_sched
Labels: Backend

#16177 [backend] handle container provenance files like the other attestations
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_publish
Labels: Backend

#16170 Invalidate configuration cache after update
  src/api/app/models/configuration.rb
  src/api/spec/factories/users.rb
Labels: Frontend, review-app

#16147 Refactor Notification scopes
  src/api/app/components/notification_action_bar_component.rb
  src/api/app/components/notification_filter_component.html.haml
  src/api/app/components/notification_filter_component.rb
  src/api/app/components/notification_filter_link_component.rb
  src/api/app/components/notification_mark_button_component.rb
  src/api/app/controllers/concerns/webui/notifications_filter.rb
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/models/notification.rb
  src/api/app/views/person/notifications/index.xml.builder
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/spec/components/notification_action_bar_component_spec.rb
  src/api/spec/components/notification_filter_link_component_spec.rb
  src/api/spec/components/notification_mark_button_component_spec.rb
  src/api/spec/components/previews/notification_action_bar_component_preview.rb
  src/api/spec/controllers/person/notifications_controller_spec.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/features/webui/users/notifications_spec.rb
  src/api/spec/helpers/webui/notification_helper_spec.rb
Labels: Frontend, review-app

#16182 [backend] BSHTTP::read_data: save some memory
  src/backend/BSHTTP.pm
  src/backend/BSServer.pm
Labels: Backend

#16185 [backend] ProductCompose: always add the 'local' architecture to the end
  src/backend/BSSched/BuildJob/ProductCompose.pm
Labels: Backend

#16168 Unify how we refer to involved people in report events
  src/api/app/components/notification_avatars_component.rb
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/models/event/report.rb
  src/api/app/models/event/report_for_user.rb
  src/api/app/models/notification.rb
  src/api/app/models/report.rb
  src/api/app/views/event_mailer/report_for_comment.html.haml
  src/api/app/views/event_mailer/report_for_package.html.haml
  src/api/app/views/event_mailer/report_for_project.html.haml
  src/api/app/views/event_mailer/report_for_user.html.haml
Labels: Frontend

#16174 Move configuration methods to class methods (II)
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/models/configuration.rb
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/app/views/webui/user/_index_actions.html.haml
  src/api/app/views/webui/user/_info.html.haml
  src/api/app/views/webui/users/show.html.haml
  src/api/spec/models/configuration_spec.rb
Labels: Frontend, review-app

#16188 Avoid querying the target package twice
  src/api/app/models/bs_request_action_submit.rb
Labels: Frontend

#16189 Avoid crashing when checking permissions to create a new status message
  src/api/app/controllers/webui/status_messages_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend

#16190 [backend] ProductCompose: implement binary architecture filter
  src/backend/BSSched/BuildJob/Patchinfo.pm
  src/backend/BSSched/BuildJob/ProductCompose.pm
Labels: Backend

#16194 [backend] always fork for publish events
  src/backend/BSRunner.pm
  src/backend/BSSched/BuildJob/ProductCompose.pm
  src/backend/bs_publish
Labels: Backend

#16200 [backend] catch errors in the publish filter
  src/backend/BSSched/PublishRepo.pm
Labels: Backend

#16202 Add missing annotations for notification indexes
  src/api/app/models/notification.rb
Labels: Frontend

#16191 Set the status message when editing one
  src/api/app/controllers/webui/status_messages_controller.rb
Labels: Frontend

#16204 [backend] Add "keepobsolete" publish flag
  src/backend/BSSched/Checker.pm
  src/backend/BSSched/PublishRepo.pm
Labels: Backend

#16208 Be backwards compatible with event_payload
  src/api/app/models/notification.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#16211 Make sure a changed manager group gets the reviewer role
  src/api/app/models/staging/workflow.rb
Labels: Frontend, review-app

#16215 [backend] Patchinfo: implement helm chart support
  src/backend/BSPublisher/Container.pm
  src/backend/BSSched/BuildJob/Patchinfo.pm
Labels: Backend

#16218 Make clicking on "Cancel" button not to delete a Staging Workflow
  src/api/app/views/webui/staging/workflows/_delete.html.haml
Labels: Frontend, review-app

#16220 Fix setting the managers group of a Staging Workflow from the Web UI
  src/api/app/views/webui/staging/workflows/_staging_managers_group.html.haml
Labels: Frontend, review-app

#15831 Refactoring action forward logic
  src/api/app/components/request_decision_component.html.haml
  src/api/app/models/bs_request_action_submit.rb
Labels: Frontend, Test Suite / CI :syringe:, Beta, request-redesign

#16217 Fix undefined local variable or method `project`
  src/api/app/models/concerns/has_attributes.rb
Labels: Frontend

#16214 Implement notification bars in remaining views
  src/api/app/assets/stylesheets/webui/notifications.scss
  src/api/app/components/notification_notifiable_link_component.rb
  src/api/app/controllers/webui/appeals_controller.rb
  src/api/app/controllers/webui/packages/build_log_controller.rb
  src/api/app/controllers/webui/workflow_runs_controller.rb
  src/api/app/views/webui/packages/build_log/live_build_log.html.haml
Labels: Frontend

#16176 Mark as read when button specified mark as read
  src/api/app/assets/javascripts/webui/notification.js
  src/api/app/components/notification_action_bar_component.html.haml
  src/api/app/components/notification_mark_button_component.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/spec/components/notification_mark_button_component_spec.rb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/features/webui/users/notifications_spec.rb
Labels: Frontend

#16230 [api] add basic scmsync xpath search support
  src/api/lib/xpath_engine.rb
  src/api/public/apidocs/paths/search_package.yaml
  src/api/public/apidocs/paths/search_package_id.yaml
  src/api/public/apidocs/paths/search_project.yaml
  src/api/public/apidocs/paths/search_project_id.yaml
  src/api/test/functional/source_controller_test.rb
Labels: Documentation :book:, Frontend
