Repository openSUSE/open-build-service, pull requests merged in 2025-05, with the labels that each got.

#17802 Create the assignment association
  src/api/app/models/assignment.rb
  src/api/app/models/event/assignment.rb
  src/api/app/models/package.rb
  src/api/app/models/user.rb
  src/api/db/migrate/20250430113947_create_assignments.rb
  src/api/db/schema.rb
Labels: Frontend

#17806 Make html input id unique
  src/api/app/views/webui/repositories/_add_repository_path_modal.html.haml
Labels: Frontend, review-app

#17814 [backend] better fix for the deleted packages removal
  src/backend/BSSched/BuildRepo.pm
  src/backend/BSSched/ProjPacks.pm
Labels: Backend

#17820 Add validation for an assignment: confirmed assignee
  src/api/app/models/assignment.rb
Labels: Frontend

#17808 Expire assignments
  src/api/app/jobs/expire_assignments_job.rb
  src/api/config/clock.rb
Labels: Frontend

#17807 Introduce RESTful API endpoints for assignments
  docs/api/api/assignment.rng
  src/api/app/controllers/assignments_controller.rb
  src/api/app/models/project.rb
  src/api/app/views/assignments/index.xml.builder
  src/api/config/routes/api.rb
  src/api/public/apidocs/OBS-v2.10.50.yaml
  src/api/public/apidocs/components/schemas/assignment.yaml
  src/api/public/apidocs/components/schemas/assignments.yaml
  src/api/public/apidocs/paths/assignments_projects_project_name.yaml
  src/api/public/apidocs/paths/assignments_projects_project_name_packages_package_name.yaml
Labels: Documentation :book:, Frontend

#17823 Fix personal contribution graph
  src/api/app/assets/javascripts/webui/nav_tabs.js
  src/api/app/assets/stylesheets/webui/user.scss
  src/api/app/helpers/webui/user_activity_helper.rb
  src/api/app/views/webui/user/_activity.html.haml
Labels: Frontend, review-app

#17830 Drop `@deleted_package`
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_package_command_controller.rb
  src/api/app/controllers/source_package_controller.rb
Labels: Frontend

#17835 Fix ExpireAssignmentsJob name
  src/api/config/clock.rb
Labels: Frontend

#17831 Rename and split require_package
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_package_command_controller.rb
  src/api/app/controllers/source_package_controller.rb
Labels: Frontend

#17838 Simplify undelete
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_package_command_controller.rb
  src/api/app/lib/backend/api/sources/package.rb
  src/api/spec/cassettes/SourcePackageCommandController/POST_undelete/when_not_having_permissions_on_the_deleted_package/1_3_1_1.yml
  src/api/spec/cassettes/SourcePackageCommandController/POST_undelete/when_not_having_permissions_to_set_the_time/1_3_3_2.yml
  src/api/spec/cassettes/SourcePackageCommandController/POST_undelete/with_permissions_to_set_the_time/1_3_4_1.yml
  src/api/spec/cassettes/SourcePackageCommandController/POST_undelete/with_permissions_to_undelete_the_package/1_3_2_1.yml
  src/api/spec/cassettes/SourcePackageCommandController/POST_undelete/without_permissions_to_set_the_time/1_3_3_1.yml
  src/api/spec/cassettes/SourcePackageCommandController/POST_undelete/without_permissions_to_undelete_the_package/1_3_1_1.yml
  src/api/spec/controllers/source_package_command_controller_spec.rb
Labels: Frontend

#17844 Fix crashing when assignee is nil
  src/api/app/models/assignment.rb
Labels: Frontend

#17841 Remove override of `$link-hover-color` Bootstrap variable
  src/api/app/assets/stylesheets/webui/bootstrap_variables/colors.scss
  src/api/app/assets/stylesheets/webui/tabs.scss
Labels: Frontend, review-app

#17833 Validate labelable & label_template association
  src/api/app/models/label.rb
  src/api/spec/models/label_spec.rb
Labels: Frontend

#17832 Show assignments on the package show page
  src/api/app/views/webui/package/_side_links.html.haml
  src/api/app/views/webui/package/side_links/_assignments.html.haml
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/assignments.rake
  src/api/spec/cassettes/Assignments/showing_the_assigment_of_a_package/when_having_an_assignment/shows_the_login_name_of_the_assigned_user.yml
  src/api/spec/cassettes/Assignments/showing_the_assigment_of_a_package/when_having_no_assignment/shows_nothing.yml
  src/api/spec/factories/assignment.rb
  src/api/spec/features/beta/webui/assignments_spec.rb
Labels: Frontend, review-app

#17851 Drop private_branch_command
  src/api/app/controllers/source_command_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_package_command_controller.rb
Labels: Frontend

#17854 Remove the autocomplete finder for user
  src/api/app/models/user.rb
  src/api/app/queries/autocomplete_finder/user.rb
  src/api/spec/queries/autocomplete_finder/user_spec.rb
Labels: Frontend

#17861 Do not trigger callbacks when expiring assignments
  src/api/app/jobs/expire_assignments_job.rb
Labels: Frontend

#17863 [backend] bs_srcserver: fix mkosi recipe detection in findfiles()
  src/backend/bs_srcserver
Labels: Backend

#17862 Extract colors needed by editors to `editor-colors.scss`
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/bootstrap_variables/colors.scss
  src/api/app/assets/stylesheets/webui/cm2/bootstrap.scss
  src/api/app/assets/stylesheets/webui/coderay.scss
  src/api/app/assets/stylesheets/webui/editor-colors.scss
Labels: Frontend, review-app

#17860 Create policy for labels
  src/api/app/controllers/labels_controller.rb
  src/api/app/controllers/webui/labels_controller.rb
  src/api/app/policies/label_policy.rb
  src/api/spec/controllers/webui/labels_controller_spec.rb
  src/api/spec/policies/label_policy_spec.rb
Labels: Frontend

#17872 [backend] switch parameters of the is_in_project macro
  src/backend/BSRepServer/ProjPacks.pm
  src/backend/BSSched/ProjPacks.pm
  src/backend/bs_srcserver
Labels: Backend

#17828 Trigger notifications on assignments
  src/api/app/models/assignment.rb
  src/api/app/models/event/assignment.rb
  src/api/app/models/event/assignment_create.rb
  src/api/app/models/event/assignment_delete.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/event_subscription/for_channel_form.rb
  src/api/app/services/notification_service/notifier.rb
  src/api/app/views/event_mailer/assignment_create.html.haml
  src/api/app/views/event_mailer/assignment_create.text.erb
  src/api/app/views/event_mailer/assignment_delete.html.haml
  src/api/app/views/event_mailer/assignment_delete.text.erb
  src/api/spec/factories/event_subscriptions.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend

#17874 [backend] fix productcompose-onlydirectrepos option
  src/backend/BSSched/BuildJob/ProductCompose.pm
Labels: Backend

#17870 Do proper authorization when assigning someone to a package
  src/api/app/controllers/webui/packages/assignments_controller.rb
  src/api/app/models/assignment.rb
  src/api/app/policies/assignment_policy.rb
  src/api/spec/features/beta/webui/assignments_spec.rb
  src/api/spec/models/assignment_spec.rb
  src/api/spec/policies/assignment_policy_spec.rb
Labels: Frontend

#17852 Implement delete assignments
  src/api/app/controllers/webui/packages/assignments_controller.rb
  src/api/app/policies/assignment_policy.rb
  src/api/app/views/webui/package/side_links/_assignments.html.haml
  src/api/config/routes/webui.rb
  src/api/spec/cassettes/Assignments/unassigning_a_package/removes_the_assignment.yml
  src/api/spec/features/beta/webui/assignments_spec.rb
  src/api/spec/policies/assignment_policy_spec.rb
Labels: Frontend, review-app

#17877 Fix definitions of theme colors for Bootstrap
  src/api/app/assets/config/manifest.js
  src/api/app/assets/stylesheets/webui/bootstrap_variables/colors.scss
  src/api/app/assets/stylesheets/webui/coderay.scss
  src/api/app/assets/stylesheets/webui/diff.scss
Labels: Frontend, review-app

#17884 Use jquery-ui provided from the jquery-ui-rails Rubygem
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/jquery-ui.min.js
  src/api/vendor/cache/jquery-ui-rails-4.2.1.gem
  src/api/vendor/cache/jquery-ui-rails-8.0.0.gem
Labels: Frontend, review-app

#17873 Migrate from Rails 7.1 to Rails 7.2
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/test/functional/webui/spider_test.rb
  src/api/test/test_helper.rb
  src/api/vendor/cache/actioncable-7.1.5.1.gem
  src/api/vendor/cache/actioncable-7.2.2.1.gem
  src/api/vendor/cache/actionmailbox-7.1.5.1.gem
  src/api/vendor/cache/actionmailbox-7.2.2.1.gem
  src/api/vendor/cache/actionmailer-7.1.5.1.gem
  src/api/vendor/cache/actionmailer-7.2.2.1.gem
  src/api/vendor/cache/actionpack-7.1.5.1.gem
  src/api/vendor/cache/actionpack-7.2.2.1.gem
  src/api/vendor/cache/actiontext-7.1.5.1.gem
  src/api/vendor/cache/actiontext-7.2.2.1.gem
  src/api/vendor/cache/actionview-7.1.5.1.gem
  src/api/vendor/cache/actionview-7.2.2.1.gem
  src/api/vendor/cache/activejob-7.1.5.1.gem
  src/api/vendor/cache/activejob-7.2.2.1.gem
  src/api/vendor/cache/activemodel-7.1.5.1.gem
  src/api/vendor/cache/activemodel-7.2.2.1.gem
  src/api/vendor/cache/activerecord-7.1.5.1.gem
  src/api/vendor/cache/activerecord-7.2.2.1.gem
  src/api/vendor/cache/activestorage-7.1.5.1.gem
  src/api/vendor/cache/activestorage-7.2.2.1.gem
  src/api/vendor/cache/activesupport-7.1.5.1.gem
  src/api/vendor/cache/activesupport-7.2.2.1.gem
  src/api/vendor/cache/mutex_m-0.3.0.gem
  src/api/vendor/cache/rails-7.1.5.1.gem
  src/api/vendor/cache/rails-7.2.2.1.gem
  src/api/vendor/cache/railties-7.1.5.1.gem
  src/api/vendor/cache/railties-7.2.2.1.gem
  src/api/vendor/cache/useragent-0.16.11.gem
Labels: Frontend, review-app

#17883 Fix passing `none` as parameter
  src/api/app/assets/stylesheets/webui/collapsible-text.scss
Labels: Frontend, review-app

#17890 Fix pulse bug header visibility
  src/api/app/views/webui/projects/pulse/show.html.haml
Labels: Frontend, review-app

#17897 Revert "Allow adding review during unstage of declined SR"
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/staging/staged_requests.rb
Labels: Frontend

#17462 Remove the Kerberos authentication feature
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/helpers/authentication_protocol_helper.rb
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/lib/authenticator.rb
  src/api/app/views/layouts/webui/_bottom_navigation.html.haml
  src/api/app/views/layouts/webui/_top_navigation.html.haml
  src/api/app/views/webui/session/new.html.haml
  src/api/config/options.yml.example
  src/api/spec/controllers/webui/session_controller_spec.rb
  src/api/spec/lib/authenticator_spec.rb
  src/api/spec/requests/kerberos_login_spec.rb
  src/api/spec/shared/contexts/a_kerberos_mock.rb
  src/api/vendor/cache/gssapi-1.3.1.gem
Labels: Frontend, Test Suite / CI :syringe:

#17901 [backend] findfile: use %files instead of %$files for mkosi matching
  src/backend/bs_srcserver
Labels: Backend

#17895 Hint there is no history in the superseded request
  src/api/app/components/bs_request_activity_timeline_component.html.haml
  src/api/app/components/bs_request_activity_timeline_component.rb
  src/api/app/views/webui/request/beta_show.html.haml
Labels: Frontend

#17907 Fix Bootstrap gray color definitions
  src/api/app/assets/stylesheets/webui/bootstrap_variables/colors.scss
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/assets/stylesheets/webui/colors.scss
  src/api/app/assets/stylesheets/webui/comments.scss
  src/api/app/assets/stylesheets/webui/content-selector-filters.scss
  src/api/app/assets/stylesheets/webui/datatables.scss
  src/api/app/assets/stylesheets/webui/layout.scss
  src/api/app/assets/stylesheets/webui/navbar.scss
  src/api/app/assets/stylesheets/webui/sidebar-collapsible.scss
  src/api/app/assets/stylesheets/webui/texts.scss
  src/api/app/assets/stylesheets/webui/user.scss
  src/api/app/helpers/webui/repository_helper.rb
  src/api/app/views/webui/package/_commit_item.html.haml
Labels: Frontend, review-app

#17908 [backend] bs_srcserver: add lock/unlock package commands
  src/backend/BSSrcServer/Scmsync.pm
  src/backend/BSSrcServer/Service.pm
  src/backend/bs_productconvert
  src/backend/bs_srcserver
Labels: Backend

#17916 Fix `dev:assignments` rake task
  src/api/lib/tasks/dev/assignments.rake
Labels: Frontend

#17887 properly publish wsl files
  src/backend/bs_publish
Labels: Backend

#17919 [webui] fix crashes when viewing maintenance release requests
  src/api/app/models/bs_request_action.rb
Labels: Frontend

#17914 Simplify _assignreview_update_reviews
  src/api/app/models/bs_request.rb
Labels: Frontend

#17922 Revert "🚨 [security] [src/api] Update rack 2.2.15 → 3.1.15 (major)"
  src/api/Gemfile.lock
  src/api/vendor/cache/rack-2.2.15.gem
  src/api/vendor/cache/rack-3.1.15.gem
  src/api/vendor/cache/rack-protection-3.2.0.gem
  src/api/vendor/cache/rack-protection-4.1.1.gem
  src/api/vendor/cache/rack-session-1.0.2.gem
  src/api/vendor/cache/rack-session-2.1.1.gem
  src/api/vendor/cache/rackup-1.0.1.gem
  src/api/vendor/cache/rackup-2.2.1.gem
Labels: Frontend

#17899 Request show refactoring and performance improvements
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/views/webui/request/_changes_content.html.haml
  src/api/app/views/webui/request/changes.html.haml
  src/api/app/views/webui/request/request_action_changes.js.erb
  src/api/config/routes/webui.rb
  src/api/spec/cassettes/Comments_with_diff/reply_comment/when_under_the_beta_program/displays_the_changes_after_adding_a_new_comment.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/has_patchinfo_submission.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/displays_information_on_type_of_request.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/creates_maintenance_incident_project.yml
  src/api/spec/cassettes/Requests/a_request_with_patchinfo/shows_category_badge.yml
  src/api/spec/cassettes/Requests/a_request_with_patchinfo/shows_patch_information.yml
  src/api/spec/cassettes/Requests/a_request_with_patchinfo/shows_rating_badge.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/supersede_a_request/creates_a_BsRequest_and_supersede_only_the_selected_request_s_.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/a_request_that_has_a_broken_comment/displays_the_comment_in_the_timeline.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/a_request_that_has_a_diff_comment/displays_the_comment_in_the_timeline.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/submit_several_packages_at_once_against_a_factory_staging_project/shows_the_beta_version_of_the_requests_page.yml
  src/api/spec/components/previews/sourcediff_component_preview.rb
  src/api/spec/components/sourcediff_component_spec.rb
Labels: Frontend

#17921 [backend] Add annotations to the concatenated project configs
  src/backend/BSRepServer/ProjPacks.pm
  src/backend/BSSched/ProjPacks.pm
  src/backend/bs_srcserver
Labels: Backend

#17910 Improve legend for staging states
  src/api/app/assets/stylesheets/webui/bootstrap_variables/colors.scss
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
  src/api/app/views/webui/staging/shared/_legend.html.haml
Labels: Frontend, review-app

#17929 Preserve staged requests' styles on datatable collapsed columns
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
Labels: Frontend, review-app

#17930 Rollout "Color Themes"
  src/api/app/helpers/webui/webui_helper.rb
  src/api/app/models/user.rb
  src/api/app/views/webui/user/_edit_account_form.html.haml
  src/api/config/initializers/flipper.rb
Labels: Frontend, review-app

#17934 Fix rendering of staged requests problems
  src/api/app/assets/stylesheets/webui/staging-workflow.scss
Labels: Frontend

#17932 [backend] record disturl and vcs in the provenance v1 file
  src/backend/bs_worker
Labels: Backend

#17920 Rpm lint page and link
  src/api/app/assets/javascripts/webui/request_show_redesign/rpm_lint_results.js
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/components/chart_component.html.haml
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/models/bs_request_action_tab_visibility.rb
  src/api/app/views/webui/package/_tabs.html.haml
  src/api/app/views/webui/package/beta/rpmlint_result.html.haml
  src/api/app/views/webui/request/_breadcrumb_items.html.haml
  src/api/app/views/webui/request/_request_tabs.html.haml
  src/api/app/views/webui/request/beta_show_tabs/_rpm_lint_result.html.haml
  src/api/app/views/webui/request/rpm_lint.html.haml
  src/api/app/views/webui/shared/_build_status_badge.html.haml
  src/api/app/views/webui/shared/_buildresult_box.html.haml
  src/api/config/routes/webui.rb
  src/api/spec/controllers/webui/package_controller_spec.rb
  src/api/spec/helpers/webui/request_helper_spec.rb
Labels: Frontend, review-app

#17947 Use url helper for request decision form
  src/api/app/components/request_decision_component.html.haml
Labels: Frontend

#17905 add gitea setup script
  KankuFile
  dist/functions.setup-appliance.sh
  dist/obs-apache24.conf
  dist/setup-appliance.sh
  dist/systemd/obsapisetup.service
  src/backend/bs_setup
Labels: Backend

#17948 Add rake task to create a request which can be forwarded to a devel package
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/requests.rake
Labels: Frontend

#17945 Turn `forward_allowed` method into a pundit policy
  src/api/app/components/request_decision_component.html.haml
  src/api/app/components/request_decision_component.rb
  src/api/app/policies/bs_request_policy.rb
Labels: Frontend

#17949 Rename `accept_request` method to `forward_request`
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend

#17931 Sort build results according to repositories of the target project
  src/api/app/services/action_build_results_service/chart_data_extractor.rb
  src/api/spec/services/action_build_results_service/chart_data_extractor_spec.rb
Labels: Frontend

#17955 Do not render twice in an action
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/_rpmlint_result.html.haml
Labels: Frontend

#17804 Color theme toggler
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/app/views/webui/user/_edit_account_form.html.haml
  src/api/config/routes/webui.rb
Labels: Frontend, review-app

#17892 Fix checking read access of deleted project/packages
  src/api/app/helpers/validation_helper.rb
  src/api/app/lib/backend/api/sources/package.rb
  src/api/spec/cassettes/SourcePackageController/GET_show/1_1_1.yml
  src/api/spec/cassettes/SourcePackageController/GET_show/when_the_package_does_not_exist/1_1_3_1.yml
  src/api/spec/cassettes/SourcePackageController/GET_show/when_the_project_does_not_exist/1_1_2_1.yml
  src/api/spec/cassettes/SourcePackageController/GET_show/with_deleted_parameter_set/when_the_package_is_deleted/1_1_4_2_1.yml
  src/api/spec/cassettes/SourcePackageController/GET_show/with_deleted_parameter_set/when_the_package_was_sourceaccess_protected/1_1_4_5_1.yml
  src/api/spec/cassettes/SourcePackageController/GET_show/with_deleted_parameter_set/when_the_project_is_deleted/1_1_4_1_1.yml
  src/api/spec/cassettes/SourcePackageController/GET_show/with_deleted_parameter_set/when_the_project_was_access_protected/1_1_4_4_1.yml
  src/api/spec/controllers/source_package_controller_spec.rb
  src/api/spec/factories/packages.rb
  src/api/spec/factories/project.rb
Labels: Frontend
