Repository openSUSE/open-build-service, pull requests merged in 2025-08, with the labels that each got.

#18274 Remove parsing of the no-longer-used `pkgrev` parameter
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend

#18280 Fix rendering of chart_data
  src/api/app/components/chart_component.html.haml
Labels: Frontend

#18283 [backend] call-service-in-container: pass more env vars
  src/backend/bs_admin
  src/backend/call-service-in-container
Labels: Backend

#18285 Fix rendering of RPM lint logs bar chart
  src/api/app/components/rpm_lint_component.html.haml
Labels: Frontend, Monkey Patched :see_no_evil:

#18282 Make sure the diff comments can be removed
  src/api/app/controllers/webui/comments_controller.rb
Labels: Frontend

#18270 Do not allow expanding binaries added or removed
  src/api/app/components/diff_list_component.html.haml
Labels: Frontend, review-app

#18273 Rename `require_package` method to `set_package`
  src/api/app/controllers/webui/attribute_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/bs_requests_controller.rb
  src/api/app/controllers/webui/packages/trigger_controller.rb
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/controllers/webui/repositories_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/spec/controllers/webui/webui_controller_spec.rb
Labels: Frontend

#18292 Avoid crash when calling `write_attributes` if a user is not logged in
  src/api/app/lib/backend/api/sources/package.rb
  src/api/app/models/concerns/has_attributes.rb
Labels: Frontend

#18303 [backend] BSPublisher::Container: insist on a successful repostate query
  src/backend/BSPublisher/Container.pm
Labels: Backend

#18317 Fix qlty: strip prefix to match paths
  .circleci/conditional_config.yml
Labels: Test Suite / CI :syringe:

#18156 Improve request controller spec
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_request_with_a_submit_action_that_can_be_forwarded_and_another_that_cannot/and_clicking_on_the_accept_and_forward_button/accepts_the_request.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_request_with_a_submit_action_that_can_be_forwarded_and_another_that_cannot/and_clicking_on_the_accept_and_forward_button/does_not_forward_the_action_that_cannot_be_forwarded.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_request_with_a_submit_action_that_can_be_forwarded_and_another_that_cannot/and_clicking_on_the_accept_and_forward_button/does_not_make_the_creator_a_maintainer_on_the_target_package.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_request_with_a_submit_action_that_can_be_forwarded_and_another_that_cannot/and_clicking_on_the_accept_and_forward_button/forwards_the_action_that_can_be_forwarded.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_request_with_a_submit_action_that_can_be_forwarded_and_another_that_cannot/and_clicking_on_the_accept_make_maintainer_and_forward_button/accepts_the_request.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_request_with_a_submit_action_that_can_be_forwarded_and_another_that_cannot/and_clicking_on_the_accept_make_maintainer_and_forward_button/does_not_forward_the_action_that_cannot_be_forwarded.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_request_with_a_submit_action_that_can_be_forwarded_and_another_that_cannot/and_clicking_on_the_accept_make_maintainer_and_forward_button/forwards_the_action_that_can_be_forwarded.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_request_with_a_submit_action_that_can_be_forwarded_and_another_that_cannot/and_clicking_on_the_accept_make_maintainer_and_forward_button/makes_the_creator_a_maintainer_on_the_target_package.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_request_with_a_submit_action_that_can_be_forwarded_and_another_that_cannot/and_clicking_on_the_accept_only_button/accepts_the_request.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_request_with_a_submit_action_that_can_be_forwarded_and_another_that_cannot/and_clicking_on_the_accept_only_button/does_not_forward_anything.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_request_with_a_submit_action_that_can_be_forwarded_and_another_that_cannot/and_clicking_on_the_accept_only_button/makes_no_more_maintainers.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_request_with_mixed_actions/and_clicking_on_the_accept_and_make_maintainer_button/accepts_the_request.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_request_with_mixed_actions/and_clicking_on_the_accept_and_make_maintainer_button/makes_the_creator_a_maintainer_on_the_target_package.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_request_with_mixed_actions/and_clicking_on_the_accept_only_button/accepts_the_request.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_request_with_mixed_actions/and_clicking_on_the_accept_only_button/makes_no_more_maintainers.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_submit_request_from_a_new_package/and_clicking_on_the_accept_and_make_maintainer_button/accepts_the_request.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_submit_request_from_a_new_package/and_clicking_on_the_accept_and_make_maintainer_button/makes_the_creator_a_maintainer_on_the_target_package.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_submit_request_from_a_new_package/and_clicking_on_the_accept_only_button/accepts_the_request.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_submit_request_from_a_new_package/and_clicking_on_the_accept_only_button/makes_no_more_maintainers.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_submit_request_from_a_source_package_to_an_existing_target_package/accepts_the_request_and_adds_the_submitter_a_maintainer_when_clicking_the_right_dropdown_button.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_submit_request_from_a_source_package_to_an_existing_target_package/accepts_the_request_and_forwards_it_when_clicking_the_right_dropdown_button.yml
  src/api/spec/cassettes/Webui_RequestController/POST_changerequest/with_valid_parameters/when_using_the_beta_request_show_page/and_sending_a_submit_request_from_a_source_package_to_an_existing_target_package/accepts_the_request_forwards_it_and_make_the_submitter_a_maintainer.yml
  src/api/spec/controllers/webui/request_controller_spec.rb
Labels: Frontend

#18320 Add more rollout tasks
  src/api/lib/tasks/rollout.rake
  src/api/spec/lib/tasks/rollout_spec.rb
Labels: Frontend

#18321 [dist] 0030_project_spec.rb: break timeout if adding repos is possible
  dist/t/spec/features/0030_project_spec.rb
Labels: Test Suite / CI :syringe:

#18323 Don't show build results tab for bs_request_action_release
  src/api/app/models/bs_request_action_tab_visibility.rb
Labels: Frontend

#18322 Manually fix some RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/controllers/source_package_command_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action_maintenance_release.rb
  src/api/app/models/bs_request_action_release.rb
  src/api/app/models/bs_request_action_submit.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#18326 BsRequestActionDescriptionComponent specs for release request
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/requests.rake
  src/api/spec/components/bs_request_action_description_component_spec.rb
  src/api/spec/components/previews/bs_request_action_description_component_preview.rb
  src/api/spec/factories/bs_request_actions.rb
  src/api/spec/factories/bs_requests.rb
Labels: Frontend

#18329 Remove no longer used `double` key on definition of XPath table
  src/api/lib/xpath_engine.rb
Labels: Frontend

#18196 Disable diff requests for newly added or deleted binary files
  src/api/app/assets/stylesheets/webui/diff.scss
  src/api/app/components/diff_list_component.html.haml
  src/api/app/components/sourcediff_component.rb
Labels: Frontend, review-app

#18331 [backend] bs_worker: put extra information about the job into the statistics file
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/BuildJob/DeltaRpm.pm
  src/backend/BSXML.pm
  src/backend/bs_sched
  src/backend/bs_worker
Labels: Backend

#18334 Autocorrect Rails/Pluck RuboCop offense
  src/api/.rubocop_todo.yml
  src/api/spec/controllers/webui/packages/files_controller_spec.rb
Labels: Frontend, Test Suite / CI :syringe:

#18054 Unfreeze strings to prevent warnings (II)
  src/api/app/helpers/model_helper.rb
  src/api/app/lib/backend/connection_helper.rb
  src/api/app/models/event/build_fail.rb
  src/api/app/models/history_element/request_superseded.rb
  src/api/app/models/repository.rb
  src/api/app/models/user.rb
  src/api/app/services/rpmlint_log_extractor.rb
  src/api/spec/mixins/build_log_support_spec.rb
Labels: Frontend

#18345 Fix CSRF security warning on the Pulse page
  src/api/app/views/webui/projects/pulse/show.html.haml
Labels: Frontend

#18343 Unfreeze strings to prevent warnings (III)
  src/api/app/controllers/concerns/backend_proxy.rb
  src/api/app/lib/backend/connection.rb
Labels: Frontend

#18173 Change the type of the colum state to enum, step III
  src/api/app/components/bs_request_state_badge_component.rb
  src/api/app/components/request_decision_component.rb
  src/api/app/components/watched_items_list_component.html.haml
  src/api/app/controllers/concerns/webui/requests_filter.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/projects/pulse_controller.rb
  src/api/app/controllers/webui/projects/status_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/maintenance_incident_helper.rb
  src/api/app/jobs/project_create_auto_cleanup_requests_job.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request/find_for/query.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/concerns/staging_project.rb
  src/api/app/models/project.rb
  src/api/app/models/staging/staged_requests.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/models/user.rb
  src/api/app/models/workflow/step/submit_request.rb
  src/api/app/policies/bs_request_policy.rb
  src/api/app/views/staging/shared/_requests.xml.builder
  src/api/app/views/webui/projects/pulse/_pulse_list_requests.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_show_overview.html.haml
  src/api/app/views/webui/request/_show_side_links.html.haml
  src/api/app/views/webui/request/show.html.haml
  src/api/app/views/webui/shared/bs_requests/_request_item.html.haml
  src/api/app/views/webui/users/notifications/_notification.html.haml
  src/api/config/brakeman.ignore
  src/api/lib/tasks/dev/rake_support.rb
  src/api/lib/tasks/dev/requests.rake
  src/api/lib/xpath_engine.rb
  src/api/spec/controllers/search_controller_spec.rb
  src/api/spec/controllers/webui/groups/bs_requests_controller_spec.rb
  src/api/spec/controllers/webui/request_controller_spec.rb
  src/api/spec/db/data/regenerate_notifications_spec.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/spec/models/bs_request_spec.rb
  src/api/spec/models/project/staging_project_spec.rb
  src/api/spec/models/user_requests_spec.rb
  src/api/spec/models/workflow/step/submit_request_step_spec.rb
  src/api/test/fixtures/bs_requests.yml
Labels: Frontend

#18347 Fix rendering the architectures of a repository
  src/api/app/components/card_component.html.haml
  src/api/app/views/webui/repositories/_repository_entry.html.haml
Labels: Frontend, review-app

#18355 Revert PRs related to the third step of the change of `state` to enum
  src/api/app/components/bs_request_state_badge_component.rb
  src/api/app/components/request_decision_component.rb
  src/api/app/components/watched_items_list_component.html.haml
  src/api/app/controllers/concerns/webui/requests_filter.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/projects/pulse_controller.rb
  src/api/app/controllers/webui/projects/status_controller.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/helpers/webui/maintenance_incident_helper.rb
  src/api/app/jobs/project_create_auto_cleanup_requests_job.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request/find_for/query.rb
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/concerns/staging_project.rb
  src/api/app/models/project.rb
  src/api/app/models/staging/staged_requests.rb
  src/api/app/models/staging/workflow.rb
  src/api/app/models/user.rb
  src/api/app/models/workflow/step/submit_request.rb
  src/api/app/policies/bs_request_policy.rb
  src/api/app/views/staging/shared/_requests.xml.builder
  src/api/app/views/webui/projects/pulse/_pulse_list_requests.html.haml
  src/api/app/views/webui/request/_request_header.html.haml
  src/api/app/views/webui/request/_show_overview.html.haml
  src/api/app/views/webui/request/_show_side_links.html.haml
  src/api/app/views/webui/request/show.html.haml
  src/api/app/views/webui/shared/bs_requests/_request_item.html.haml
  src/api/app/views/webui/shared/bs_requests/_requests_filter.html.haml
  src/api/app/views/webui/users/notifications/_notification.html.haml
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
  src/api/config/brakeman.ignore
  src/api/lib/tasks/dev/rake_support.rb
  src/api/lib/tasks/dev/requests.rake
  src/api/lib/xpath_engine.rb
  src/api/spec/controllers/search_controller_spec.rb
  src/api/spec/controllers/webui/groups/bs_requests_controller_spec.rb
  src/api/spec/controllers/webui/request_controller_spec.rb
  src/api/spec/db/data/regenerate_notifications_spec.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/spec/models/bs_request_spec.rb
  src/api/spec/models/project/staging_project_spec.rb
  src/api/spec/models/user_requests_spec.rb
  src/api/spec/models/workflow/step/submit_request_step_spec.rb
  src/api/test/fixtures/bs_requests.yml
Labels: Frontend, review-app

#18356 Show reviewer in the review summary only if any
  src/api/app/views/webui/request/beta_show_tabs/_review_summary.html.haml
Labels: Frontend

#18364 Fix crash when retrieving the revisions of a package belonging to an scmsync project
  src/api/app/controllers/webui/package_controller.rb
Labels: Frontend

#18365 Update Rails to version 7.2.2.2
  src/api/Gemfile.lock
  src/api/vendor/cache/actioncable-7.2.2.1.gem
  src/api/vendor/cache/actioncable-7.2.2.2.gem
  src/api/vendor/cache/actionmailbox-7.2.2.1.gem
  src/api/vendor/cache/actionmailbox-7.2.2.2.gem
  src/api/vendor/cache/actionmailer-7.2.2.1.gem
  src/api/vendor/cache/actionmailer-7.2.2.2.gem
  src/api/vendor/cache/actionpack-7.2.2.1.gem
  src/api/vendor/cache/actionpack-7.2.2.2.gem
  src/api/vendor/cache/actiontext-7.2.2.1.gem
  src/api/vendor/cache/actiontext-7.2.2.2.gem
  src/api/vendor/cache/actionview-7.2.2.1.gem
  src/api/vendor/cache/actionview-7.2.2.2.gem
  src/api/vendor/cache/activejob-7.2.2.1.gem
  src/api/vendor/cache/activejob-7.2.2.2.gem
  src/api/vendor/cache/activemodel-7.2.2.1.gem
  src/api/vendor/cache/activemodel-7.2.2.2.gem
  src/api/vendor/cache/activerecord-7.2.2.1.gem
  src/api/vendor/cache/activerecord-7.2.2.2.gem
  src/api/vendor/cache/activestorage-7.2.2.1.gem
  src/api/vendor/cache/activestorage-7.2.2.2.gem
  src/api/vendor/cache/activesupport-7.2.2.1.gem
  src/api/vendor/cache/activesupport-7.2.2.2.gem
  src/api/vendor/cache/rails-7.2.2.1.gem
  src/api/vendor/cache/rails-7.2.2.2.gem
  src/api/vendor/cache/railties-7.2.2.1.gem
  src/api/vendor/cache/railties-7.2.2.2.gem
Labels: Frontend, review-app

#18373 Revert "Allow request searches with different reviewer types"
  src/api/lib/xpath_engine.rb
  src/api/spec/controllers/search_controller_spec.rb
Labels: Frontend

#18376 @multibuild_container -> @multibuild_flavor
  src/api/app/controllers/concerns/triggerable.rb
  src/api/app/controllers/trigger_controller.rb
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/spec/controllers/concerns/triggerable_spec.rb
Labels: Frontend

#18394 Revert "Fix crash when retrieving the build results of a package ..."
  src/api/app/controllers/webui/package_controller.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#18381 Make more explicit the purpose of each request accept button
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/components/request_decision_component.html.haml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_forward_the_request_and_make_the_creator_a_maintainer/shows_an_option_to_accept_and_make_the_creator_a_maintainer.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_forward_the_request_and_make_the_creator_a_maintainer/shows_the_Accept_button_alternative_options_dropdown.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_forward_the_request_and_make_the_creator_a_maintainer/shows_the_Accept_button_as_a_regular_button.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_forward_the_request_to_the_developed_project/shows_the_Accept_button_alternative_options_dropdown.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_forward_the_request_to_the_developed_project/shows_the_Accept_button_as_a_regular_button.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_make_request_creator_a_maintainer_of_the_target_project/shows_the_Accept_button_alternative_options_dropdown.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_make_request_creator_a_maintainer_of_the_target_project/shows_the_Accept_button_as_a_regular_button.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_cannot_forward_the_request_nor_make_the_creator_a_maintainer/shows_the_Accept_button_as_a_regular_button.yml
  src/api/spec/components/request_decision_component_spec.rb
Labels: Frontend, review-app

#18385 Add filters for repository and architecture in the RPM lint summary
  src/api/app/assets/javascripts/webui/packages.js
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/views/webui/package/beta/rpmlint_result.html.haml
  src/api/spec/controllers/webui/package_controller_spec.rb
Labels: Frontend, review-app

#18404 [ci] ensure that we do not refresh a dead end
  dist/t/spec/features/0030_project_spec.rb
Labels: Test Suite / CI :syringe:

#18405 [backend] also update the digest file when signing the appimage
  src/backend/bs_signer
Labels: Backend

#18409 [backend] fix regexp limit architecture filtering
  src/backend/bs_srcserver
Labels: Backend

#18417 Check info for both array and hash objects
  src/api/app/models/local_build_result/for_package.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#18413 Prevent exceptions when reading the list of CVE issues
  src/api/app/models/issue_tracker.rb
  src/api/app/models/issue_tracker/cve_parser.rb
  src/api/spec/models/issue_tracker/cve_parser_spec.rb
Labels: Frontend

#18421 Avoid VCR and cassettes on specs with file fixtures
  src/api/spec/cassettes/Worker_StatusController/GET_/index/1_1_1.yml
  src/api/spec/cassettes/Worker_StatusController/GET_/index/1_1_2.yml
  src/api/spec/controllers/worker/status_controller_spec.rb
Labels: Frontend

#18422 Remove obsolete FactoryDashboard cassettes
  src/api/spec/cassettes/FactoryDashboard/a_specific_staging_project/bento/behaves_like_bento_layout/images_and_title.yml
  src/api/spec/cassettes/FactoryDashboard/a_specific_staging_project/bento/behaves_like_check_assets/imgs.yml
  src/api/spec/cassettes/FactoryDashboard/a_specific_staging_project/status_messages_and_icons_classes.yml
  src/api/spec/cassettes/FactoryDashboard/a_specific_staging_project/target_package_is_there.yml
  src/api/spec/cassettes/FactoryDashboard/the_dashboard/bento/behaves_like_bento_layout/images_and_title.yml
  src/api/spec/cassettes/FactoryDashboard/the_dashboard/bento/behaves_like_check_assets/imgs.yml
  src/api/spec/cassettes/FactoryDashboard/the_dashboard/title_links_to_staging_projects.yml
  src/api/spec/cassettes/FactoryDashboard/the_staging_projects/bento/behaves_like_bento_layout/images_and_title.yml
  src/api/spec/cassettes/FactoryDashboard/the_staging_projects/bento/behaves_like_check_assets/imgs.yml
  src/api/spec/cassettes/FactoryDashboard/the_staging_projects/it_has_a_link_to_staging_project.yml
Labels: Frontend

#18427 Introduce `Backend::Api::Sources::File`
  src/api/app/controllers/source_package_command_controller.rb
  src/api/app/controllers/webui/packages/files_controller.rb
  src/api/app/lib/backend/api/sources/file.rb
  src/api/app/lib/backend/api/sources/package.rb
  src/api/app/models/package.rb
  src/api/app/models/service.rb
  src/api/spec/controllers/webui/packages/files_controller_spec.rb
Labels: Frontend
