Repository openSUSE/open-build-service, pull requests merged in 2025-07, with the labels that each got.

#18109 Refactoring: remove methods to require parameters
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/build_controller.rb
  src/api/app/controllers/concerns/rescue_handler.rb
  src/api/app/controllers/source_package_command_controller.rb
  src/api/app/controllers/source_project_command_controller.rb
  src/api/app/controllers/worker/command_controller.rb
  src/api/test/functional/source_controller_test.rb
Labels: Frontend

#18088 Reuse write_and_preview component for canned_responses too
  src/api/app/assets/javascripts/webui/comment.js
  src/api/app/components/bs_request_comment_component.html.haml
  src/api/app/components/request_decision_component.html.haml
  src/api/app/components/write_and_preview_component.html.haml
  src/api/app/components/write_and_preview_component.rb
  src/api/app/views/webui/comment/_comment_field.html.haml
  src/api/spec/features/webui/comment_locks_spec.rb
  src/api/spec/features/webui/comments_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/features/webui/projects_spec.rb
Labels: Frontend, review-app

#18090 Drop unused monitoring and ha containers
  Rakefile
  contrib/Procfile.ha
  contrib/grafana-datasource.yml
  contrib/haproxy.cfg
  contrib/influxdb-init.iql
  contrib/telegraf.conf
  contrib/thinking_sphinx.yml.ha
  docker-compose.ha.yml
  docker-compose.sre.yml
  src/api/lib/tasks/dev/sre.rake
Labels: Frontend

#18115 [backend] bs_publish: add option to also create a cms signature for r…
  src/backend/bs_publish
Labels: Backend

#18116 Fix user policy when not logged in
  src/api/app/policies/user_policy.rb
Labels: Frontend

#18118 Adapt the message returned for a required parameter
  src/api/public/apidocs/paths/source_project_name_cmd_remove_flag.yaml
  src/api/public/apidocs/paths/source_project_name_cmd_set_flag.yaml
  src/api/public/apidocs/paths/source_project_name_cmd_unlock.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_collectbuildenv.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_remove_flag.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_set_flag.yaml
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_unlock.yaml
  src/api/public/apidocs/paths/worker_cmd_checkconstraints.yaml
Labels: Documentation :book:, Frontend

#18117 Show BsRequest numbers on pulse page
  src/api/app/views/webui/projects/pulse/_pulse_list_entry.html.haml
Labels: Frontend

#18119 Add require_login for changes_diff action
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend

#18123 [backend] Aggregate: hardlink rpms from products if resign is set to …
  src/backend/BSSched/BuildJob/Aggregate.pm
Labels: Backend

#18131 Remove commented method on IssueTracker model
  src/api/app/models/issue_tracker.rb
Labels: Frontend

#18137 Fix comment on diff wrongly marked as outdated
  src/api/app/models/bs_request_action_submit.rb
Labels: Frontend, review-app

#18126 Autocorrect Style/EmptyStringInsideInterpolation RuboCop offenses
  src/api/.rubocop_todo.yml
  src/api/app/models/bs_request_permission_check.rb
  src/api/app/models/package.rb
Labels: Frontend, Test Suite / CI :syringe:

#18140 [dist] make output path for rspec tests configurable
  dist/t/spec/spec_helper.rb
  dist/t/spec/support/capybara.rb
Labels: Frontend, Appliance :cd:, Test Suite / CI :syringe:, API

#18106 [issuetracker] Update CVE tracker to point to cve.org
  docs/api/api/issue_trackers.xml
  src/api/db/data/20250707110214_update_cve_issue_tracker.rb
  src/api/db/data_schema.rb
  src/api/db/seeds.rb
  src/api/spec/cassettes/Comments_with_diff/create_diff_comment/displays_the_comment_in_the_conversation_tab.yml
  src/api/spec/cassettes/Comments_with_diff/create_diff_comment/displays_the_comment_on_the_file_diff_in_the_changes_tab.yml
  src/api/spec/cassettes/Comments_with_diff/diff_comment_in_legacy_view/displays_the_comment_with_a_hint_to_the_corresponding_file_and_line.yml
  src/api/spec/cassettes/Comments_with_diff/reply_comment/when_under_the_beta_program/displays_the_changes_after_adding_a_new_comment.yml
  src/api/spec/cassettes/Requests_Submissions/submit_package/when_under_the_beta_program/submit_several_packages_at_once_against_a_factory_staging_project/shows_the_beta_version_of_the_requests_page.yml
  src/api/spec/controllers/webui/patchinfo_controller_spec.rb
  src/api/test/fixtures/issue_trackers.yml
  src/api/test/functional/maintenance_test.rb
Labels: Documentation :book:, Frontend

#18143 It makes no sense to access the package requests page given we have no local packages.
  src/api/app/controllers/webui/package_controller.rb
Labels: Frontend

#18144 Add `status` field to table `bs_requests`
  src/api/db/migrate/20250708130643_add_status_to_bs_requests.rb
  src/api/db/schema.rb
Labels: Frontend

#18141 Display the rpmlint links in the request more obviously
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/rpmlint.scss
  src/api/app/components/build_results_monitor_component.html.haml
  src/api/app/controllers/webui/packages/rpmlint_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/views/webui/package/_rpmlint_log.html.haml
  src/api/app/views/webui/packages/binaries/_show_statistics_job_history_build_reason.html.haml
  src/api/app/views/webui/packages/rpmlint/_breadcrumb_items.html.haml
  src/api/app/views/webui/packages/rpmlint/show.html.haml
  src/api/app/views/webui/shared/_build_status_badge.html.haml
  src/api/app/views/webui/shared/_build_status_badge_links.html.haml
  src/api/config/routes/webui.rb
Labels: Frontend, review-app

#18151 [backend] implement aggregations from the 'local' architecture
  docs/api/api/aggregate.rng
  src/backend/BSSched/BuildJob/Aggregate.pm
  src/backend/BSVerify.pm
  src/backend/BSXML.pm
Labels: Documentation :book:, Backend

#18159 [backend] Send aggregate unblock events with the correct level
  src/backend/BSSched/BuildJob/Aggregate.pm
Labels: Backend

#18160 Fix pulse date range selection
  src/api/app/views/webui/projects/pulse/show.html.haml
Labels: Monkey Patched :see_no_evil:

#18139 Add previews and previews' specs for DiffSubjectComponent
  src/api/spec/components/diff_subject_component_spec.rb
  src/api/spec/components/previews/diff_subject_component_preview.rb
Labels: Frontend, review-app

#18145 Make ValidationHelper a concern
  src/api/app/controllers/attribute_controller.rb
  src/api/app/controllers/attribute_namespace_controller.rb
  src/api/app/controllers/concerns/read_access_of_deleted.rb
  src/api/app/controllers/group_controller.rb
  src/api/app/controllers/person/token_controller.rb
  src/api/app/controllers/public_controller.rb
  src/api/app/controllers/source/errors.rb
  src/api/app/controllers/source_attribute_controller.rb
  src/api/app/controllers/source_controller.rb
  src/api/app/controllers/source_package_controller.rb
  src/api/app/controllers/source_package_meta_controller.rb
  src/api/app/controllers/source_project_controller.rb
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/models/patchinfo.rb
Labels: Frontend

#18166 Adapt task code to change the review state
  src/api/lib/tasks/dev/rake_support.rb
Labels: Frontend

#18161 Add missing previews for request action description component
  src/api/spec/components/bs_request_action_description_component_spec.rb
  src/api/spec/components/previews/bs_request_action_description_component_preview.rb
Labels: Frontend

#18150 Request accept button group
  src/api/app/components/request_decision_component.html.haml
  src/api/app/components/request_decision_component.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request.rb
  src/api/app/views/webui/request/beta_show.html.haml
  src/api/spec/cassettes/Comments_with_diff/create_diff_comment/displays_the_comment_in_the_conversation_tab.yml
  src/api/spec/cassettes/Comments_with_diff/diff_comment_in_legacy_view/displays_the_comment_with_a_hint_to_the_corresponding_file_and_line.yml
  src/api/spec/cassettes/Comments_with_diff/reply_comment/when_under_the_beta_program/displays_the_changes_after_adding_a_new_comment.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_forward_the_request_and_make_the_creator_a_maintainer/shows_an_option_to_accept_and_forward_the_request.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_forward_the_request_and_make_the_creator_a_maintainer/shows_an_option_to_accept_make_the_creator_a_maintainer_and_forward_the_request.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_forward_the_request_and_make_the_creator_a_maintainer/shows_an_option_to_accept_the_request_only.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_forward_the_request_and_make_the_creator_a_maintainer/shows_the_Accept_button_as_a_dropdown.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_forward_the_request_to_the_developed_project/does_not_show_an_option_to_make_maintainer_because_the_author_is_already_a_maintainer.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_forward_the_request_to_the_developed_project/shows_an_option_to_accept_and_forward_the_request.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_forward_the_request_to_the_developed_project/shows_an_option_to_accept_the_request_only.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_forward_the_request_to_the_developed_project/shows_the_Accept_button_as_a_dropdown.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_make_request_creator_a_maintainer_of_the_target_project/does_not_show_an_option_to_forward_the_request_because_there_is_no_developed_project.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_make_request_creator_a_maintainer_of_the_target_project/shows_an_option_to_accept_and_make_the_creator_a_maintainer.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_make_request_creator_a_maintainer_of_the_target_project/shows_an_option_to_accept_the_request_only.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_can_make_request_creator_a_maintainer_of_the_target_project/shows_the_Accept_button_as_a_dropdown.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_cannot_forward_the_request_nor_make_the_creator_a_maintainer/1_1_1.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_cannot_forward_the_request_nor_make_the_creator_a_maintainer/does_not_show_an_option_to_forward_the_request_because_there_is_no_developed_project.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_cannot_forward_the_request_nor_make_the_creator_a_maintainer/does_not_show_an_option_to_make_maintainer_because_the_author_is_already_a_maintainer.yml
  src/api/spec/cassettes/RequestDecisionComponent/when_we_cannot_forward_the_request_nor_make_the_creator_a_maintainer/shows_the_Accept_button_as_a_regular_button_only.yml
  src/api/spec/components/request_decision_component_spec.rb
  src/api/spec/features/beta/webui/maintenance_workflow_spec.rb
  src/api/spec/support/view_component.rb
Labels: Frontend, review-app

#12506 [api] support to limit release source project
  src/api/app/helpers/maintenance_helper.rb
  src/api/app/models/bs_request_action_maintenance_release.rb
  src/api/app/models/bs_request_action_release.rb
  src/api/db/attribute_descriptions.rb
  src/api/db/data/20220429123314_add_limit_release_source_project.rb
  src/api/lib/api_error.rb
  src/api/test/fixtures/attrib_types.yml
  src/api/test/functional/attributes_test.rb
  src/api/test/functional/source_controller_test.rb
Labels: Frontend, NOSU Patch :see_no_evil:

#18176 [backend] Aggregate: add an option to block updateinfo files
  docs/api/api/aggregate.rng
  src/backend/BSSched/BuildJob/Aggregate.pm
  src/backend/BSVerify.pm
  src/backend/BSXML.pm
Labels: Documentation :book:, Backend

#18177 Enable fetching diffs for individual files from binaries
  src/api/app/components/sourcediff_component.rb
  src/api/config/routes/webui.rb
Labels: Frontend

#18178 [backend] Checker: fix logic error in suspend event timeout code
  src/backend/BSSched/Checker.pm
Labels: Backend

#18184 Reduce the gap after the "Mark as Read button"
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/long_text.js
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/long-text.scss
  src/api/app/views/webui/users/notifications/_notification.html.haml
Labels: Frontend, review-app

#18190 [backend] bs_regpush: use a HEAD request in manifest_exists
  src/backend/BSPublisher/Container.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_regpush
Labels: Backend

#18180 Add `LimitReleaseSourceProject` attribute type to seeds
  src/api/db/data/20250717112726_add_role_to_limit_release_source_project.rb
  src/api/db/data_schema.rb
  src/api/db/seeds.rb
Labels: Frontend

#18189 Fix cleaning up notifications job
  src/api/app/jobs/cleanup_notifications_job.rb
  src/api/app/models/notification.rb
  src/api/db/data/20250717142701_delete_orphan_records_from_notified_project.rb
  src/api/db/data/20250717152701_delete_orphan_records_from_groups_notifications.rb
  src/api/db/data_schema.rb
Labels: Frontend

#18204 Drop usage of Authenticator.http_user
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/source_project_meta_controller.rb
Labels: Frontend

#18199 [backend] container publishing: move rekor upload into its own function
  src/backend/BSConSign.pm
  src/backend/BSPublisher/Registry.pm
  src/backend/bs_regpush
Labels: Backend

#18203 Remove `order` on queries using `count` in notifications
  src/api/app/controllers/person/notifications_controller.rb
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/models/user.rb
Labels: Frontend

#18210 Remove no longer used `for_reviews` notification scope
  src/api/app/models/notification.rb
Labels: Frontend

#18211 Improve counting notifications by grouping queries
  src/api/app/controllers/webui/users/notifications_controller.rb
Labels: Frontend

#18223 Remove `with_actions` BsRequest scope
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request/find_for/base.rb
  src/api/app/models/project.rb
  src/api/app/models/user.rb
  src/api/spec/models/project_spec.rb
Labels: Frontend

#18208 Add autocomplete to the projects filter
  src/api/app/controllers/webui/users/notifications_controller.rb
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
  src/api/config/routes/webui.rb
  src/api/spec/features/webui/users/notifications_spec.rb
Labels: Frontend, review-app

#18226 Refactor SessionController
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/services/session_controller_service/session_creator.rb
  src/api/spec/services/session_controller_service/session_creator_spec.rb
Labels: Frontend

#18221 Remove `order` clause in `open_requests`
  src/api/app/models/project.rb
  src/api/test/unit/project_test.rb
Labels: Frontend

#18222 Remove the `with_actions_and_reviews` BsRequest scope
  src/api/app/models/bs_request.rb
  src/api/app/models/concerns/staging_project.rb
  src/api/app/models/user.rb
Labels: Frontend

#18229 Admins and staff receive report-related notifications
  src/api/app/policies/report_policy.rb
  src/api/spec/policies/report_policy_spec.rb
Labels: Frontend

#18237 [backend] bs_publish: implement exp backoff for failed jobs
  src/backend/BSConSign.pm
  src/backend/bs_publish
Labels: Backend

#18233 Stop asking for the name to objects that have no name
  src/api/app/views/webui/users/notifications/_notification.html.haml
Labels: Frontend

#18238 Prevent from calling `notification.avatar_objects` twice
  src/api/app/helpers/webui/notification_helper.rb
  src/api/app/views/webui/users/notifications/_notification.html.haml
Labels: Frontend

#18240 [backend] bs_regpush: implement handling for rate limiting
  src/backend/BSPublisher/Container.pm
  src/backend/BSRPC.pm
  src/backend/bs_publish
  src/backend/bs_regpush
Labels: Backend

#18245 [src/api] Update rubocop to version 1.78.0 → 1.79.0 (major)
  src/api/.rubocop_todo.yml
  src/api/Gemfile.lock
  src/api/app/controllers/application_controller.rb
  src/api/app/controllers/source_package_meta_controller.rb
  src/api/app/controllers/status/checks_controller.rb
  src/api/app/controllers/status/reports_controller.rb
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
  src/api/app/lib/backend/api/cloud.rb
  src/api/app/models/bs_request_action.rb
  src/api/app/models/bs_request_action/differ/query_builder.rb
  src/api/app/models/bs_request_action/differ/query_builder_for_accepted.rb
  src/api/app/models/bs_request_action/differ/query_builder_for_superseded.rb
  src/api/app/models/bs_request_action/differ/source_package_finder.rb
  src/api/app/models/bs_request_action_maintenance_release.rb
  src/api/app/models/bs_request_action_release.rb
  src/api/app/models/comment.rb
  src/api/app/models/event/comment_for_request.rb
  src/api/app/models/local_build_result.rb
  src/api/app/models/local_build_result/for_package.rb
  src/api/app/models/local_build_statistic/for_package.rb
  src/api/app/models/local_build_statistic/package/disk.rb
  src/api/app/models/local_build_statistic/package/memory.rb
  src/api/app/models/local_build_statistic/package/time.rb
  src/api/app/models/local_job_history.rb
  src/api/app/models/local_statistic.rb
  src/api/app/models/owner.rb
  src/api/app/models/project/update_from_xml_command.rb
  src/api/app/models/service.rb
  src/api/app/models/staging/request_excluder.rb
  src/api/app/models/staging/staged_requests.rb
  src/api/app/models/statistics/maintenance_statistic.rb
  src/api/app/services/scm_exception_handler.rb
  src/api/lib/tasks/dev.rake
  src/api/lib/tasks/dev/staging.rake
  src/api/spec/jobs/bs_request_action_webui_infos_job_spec.rb
  src/api/vendor/cache/rubocop-1.78.0.gem
  src/api/vendor/cache/rubocop-1.79.0.gem
  src/api/vendor/cache/tsort-0.2.0.gem
Labels: Frontend, Test Suite / CI :syringe:

#18230 Notify group managers when a user is added to a group
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/event/group.rb
  src/api/app/models/event/removed_user_from_group.rb
  src/api/app/models/event_subscription.rb
  src/api/app/models/group.rb
  src/api/app/models/notification_group.rb
  src/api/app/queries/outdated_notifications_finder/group.rb
  src/api/app/views/event_mailer/added_user_to_group.html.haml
  src/api/app/views/event_mailer/added_user_to_group.text.erb
  src/api/app/views/event_mailer/removed_user_from_group.html.haml
  src/api/app/views/event_mailer/removed_user_from_group.text.erb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend, review-app

#18249 Check the presence of errors before deciding that the diff is not cached
  src/api/app/models/bs_request_action.rb
Labels: Frontend

#18260 Another couple of fixes after working in notifications
  src/api/lib/tasks/dev/notifications.rake
  src/api/spec/models/user_spec.rb
Labels: Frontend

#18265 Remove session checking
  src/api/app/models/package.rb
Labels: Frontend
