Repository openSUSE/open-build-service, pull requests merged in 2025-01, with the labels that each got.

#17260 Don't hide the labels that don't match the query
  src/api/app/datatables/package_datatable.rb
Labels: Frontend, review-app

#17261 Create global project labels' table and model
  src/api/app/models/label_template_global.rb
  src/api/db/migrate/20250109112624_create_label_template_globals.rb
  src/api/db/schema.rb
Labels: Frontend

#17259 [backend] support signing and metadata creation for apk
  dist/obs-server.spec
  src/backend/BSZip.pm
  src/backend/bs_mkapkrepo
  src/backend/bs_mkarchrepo
  src/backend/bs_publish
  src/backend/bs_repserver
  src/backend/bs_signer
Labels: Backend

#17267 Introduce CRUD for global label templates
  src/api/app/controllers/webui/label_templates_controller.rb
  src/api/app/models/label_template_global.rb
  src/api/app/policies/label_template_global_policy.rb
  src/api/app/views/webui/configuration/_tabs.html.haml
  src/api/app/views/webui/label_templates/_breadcrumb_items.html.haml
  src/api/app/views/webui/label_templates/_form.html.haml
  src/api/app/views/webui/label_templates/edit.html.haml
  src/api/app/views/webui/label_templates/index.html.haml
  src/api/app/views/webui/label_templates/new.html.haml
  src/api/config/routes/webui.rb
Labels: Frontend, review-app

#17272 Distinguish the link badge from labels
  src/api/app/datatables/package_datatable.rb
Labels: Frontend

#17273 [backend] bs_repserver: copy slsa files we know in the kiwitree transport
  src/backend/bs_repserver
  src/backend/bs_worker
Labels: Backend

#17269 Create relational table and model for global labels
  src/api/.database_consistency.todo.yml
  src/api/app/models/label_global.rb
  src/api/db/migrate/20250114124751_create_label_globals.rb
  src/api/db/schema.rb
Labels: Frontend

#17232 Filters consistency across the app
  src/api/app/assets/stylesheets/webui/mixin.scss
  src/api/app/assets/stylesheets/webui/notifications.scss
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/assets/stylesheets/webui/workflow_runs.scss
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/models/report.rb
  src/api/app/views/webui/shared/bs_requests/_form.html.haml
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/spec/features/webui/users/notifications_spec.rb
Labels: Frontend, review-app

#17274 [backend] BSRepServer/DoD: simplify apk handling
  src/backend/BSRepServer/DoD.pm
  src/backend/bs_dodup
Labels: Backend

#17275 Allow maintainer project label management
  src/api/app/controllers/webui/projects/label_globals_controller.rb
  src/api/app/models/project.rb
  src/api/app/views/webui/project/_basic_info.html.haml
  src/api/app/views/webui/shared/_label.html.haml
  src/api/app/views/webui/shared/_label_global_form.html.haml
  src/api/app/views/webui/shared/_label_global_list.html.haml
  src/api/config/routes/webui.rb
Labels: Frontend, review-app

#17279 Add labels to project datatable and allow to filter and search
  src/api/app/assets/javascripts/webui/project.js
  src/api/app/datatables/project_datatable.rb
  src/api/app/models/project.rb
  src/api/app/views/webui/project/_projects_table.html.haml
  src/api/app/views/webui/project/index.html.haml
Labels: Frontend

#17235 Load filters js on purpose
  src/api/app/assets/config/manifest.js
  src/api/app/assets/javascripts/webui/content-selector-filters.js
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/content-selector-filters.scss
  src/api/app/assets/stylesheets/webui/mixin.scss
  src/api/app/assets/stylesheets/webui/requests.scss
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/views/webui/shared/bs_requests/_form.html.haml
  src/api/app/views/webui/shared/bs_requests/_requests_filter.html.haml
  src/api/app/views/webui/users/notifications/_notification_filter.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
  src/api/app/views/webui/users/notifications/index.html.haml
  src/api/app/views/webui/workflow_runs/index.html.haml
  src/api/spec/features/beta/webui/package_requests_spec.rb
  src/api/spec/features/beta/webui/project_requests_spec.rb
  src/api/spec/features/beta/webui/requests_index_spec.rb
  src/api/spec/features/webui/users/notifications_spec.rb
  src/api/spec/models/workflow_spec.rb
Labels: Frontend

#17286 move slsa provenance files with rpms if debugsplit is set
  src/backend/bs_publish
Labels: Backend

#17291 Revert using the chromedriver set by selenium manager
  src/api/docker-files/Dockerfile
  src/api/spec/support/capybara.rb
Labels: Frontend

#16957 Remove unnecesary retrying on updating a package
  src/api/app/models/package.rb
Labels: Frontend

#17289 [backend]: support multi-stage signing for mkosi
  src/backend/BSXML.pm
  src/backend/bs_signer
Labels: Backend

#17297 [backend] bs_signer: rename signingstage to followupsteps
  src/backend/BSXML.pm
  src/backend/bs_signer
Labels: Backend

#17300 Update bot list
  src/api/config/crawler-user-agents.json
Labels: Frontend

#17293 Filter requests by priority
  src/api/.rubocop_todo.yml
  src/api/app/components/bs_request_priority_badge_component.rb
  src/api/app/controllers/concerns/webui/requests_filter.rb
  src/api/app/models/bs_request.rb
  src/api/app/models/bs_request/find_for/base.rb
  src/api/app/models/bs_request/find_for/query.rb
  src/api/app/views/webui/shared/bs_requests/_request_item.html.haml
  src/api/app/views/webui/shared/bs_requests/_requests_filter.html.haml
Labels: Frontend, Test Suite / CI :syringe:, review-app

#17303 Also measure spider/bot tag for API requests
  src/api/app/controllers/application_controller.rb
Labels: Frontend

#17304 Show priority labels
  src/api/app/components/bs_request_priority_badge_component.rb
Labels: Frontend, review-app

#17302 Unify request description of list page and detail page
  src/api/app/components/bs_request_action_description_component.rb
  src/api/app/components/bs_request_action_source_and_target_component.rb
  src/api/app/views/webui/shared/bs_requests/_request_item.html.haml
  src/api/spec/components/previews/bs_request_action_description_component_preview.rb
Labels: Frontend, review-app

#17292 Add filtering option to filter by reviewers
  src/api/app/controllers/concerns/webui/requests_filter.rb
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/models/bs_request/find_for/base.rb
  src/api/app/models/bs_request/find_for/query.rb
  src/api/app/views/webui/shared/bs_requests/_requests_filter.html.haml
  src/api/config/routes/webui.rb
  src/api/spec/features/beta/webui/requests_index_spec.rb
Labels: Frontend, review-app

#17310 Nullify projects and packages associated to requests actions when their projects or packages are removed
  src/api/app/models/package.rb
  src/api/app/models/project.rb
Labels: Frontend

#17311 Set source associations on request action creation
  src/api/app/models/bs_request_action.rb
Labels: Frontend

#17320 Update brakeman ignore file
  src/api/config/brakeman.ignore
Labels: Frontend

#17317 Search box as part of the list section, fixing borders
  src/api/app/components/notification_action_bar_component.html.haml
  src/api/app/views/webui/shared/bs_requests/_form.html.haml
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
Labels: Frontend, review-app

#17323 Refactoring: target_package_object is an association
  src/api/app/models/bs_request_action_submit.rb
Labels: Frontend
