Repository openSUSE/open-build-service, pull requests merged in 2025-03, with the labels that each got.

#17456 Autosubmit on change of autocomplete input too
  src/api/app/assets/javascripts/webui/content-selector-filters.js
Labels: Frontend, review-app

#17465 Fix filter title style for consistency
  src/api/app/views/webui/shared/bs_requests/_requests_filter.html.haml
Labels: Frontend

#17468 Update brakeman ignore file
  src/api/config/brakeman.ignore
Labels: Frontend

#17464 [backend] bs_mkarchrepo: merge depends fields into desc
  src/backend/bs_mkarchrepo
Labels: Backend

#17459 [backend] BSSSL: try to the Net::SSLeay::free call in an atomic way
  src/backend/BSSSL.pm
Labels: Backend

#17429 Implement requests page for groups
  src/api/app/controllers/webui/groups/bs_requests_controller.rb
  src/api/app/controllers/webui/users/bs_requests_controller.rb
  src/api/app/helpers/webui/request_helper.rb
  src/api/app/models/group.rb
  src/api/app/views/webui/groups/bs_requests/_breadcrumb_items.html.haml
  src/api/app/views/webui/groups/bs_requests/index.html.haml
  src/api/app/views/webui/groups/show.html.haml
  src/api/app/views/webui/packages/bs_requests/index.html.haml
  src/api/app/views/webui/projects/bs_requests/index.html.haml
  src/api/app/views/webui/shared/bs_requests/_filter_help_involvement.html.haml
  src/api/app/views/webui/users/bs_requests/index.html.haml
  src/api/spec/controllers/webui/groups/bs_requests_controller_spec.rb
  src/api/spec/models/group_spec.rb
Labels: Frontend, review-app

#17471 Fix request duplicates
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/user.rb
Labels: Frontend

#17461 Improve performance of User/Project/Package.bs_request
  src/api/app/controllers/webui/packages/bs_requests_controller.rb
  src/api/app/controllers/webui/projects/bs_requests_controller.rb
  src/api/app/controllers/webui/users/bs_requests_controller.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/user.rb
  src/api/spec/models/user_spec.rb
Labels: Frontend

#17479 Drop `has_patchinfo` view variable
  src/api/app/controllers/webui/project_controller.rb
  src/api/app/helpers/webui/project_helper.rb
  src/api/app/views/webui/project/_show_actions.html.haml
  src/api/app/views/webui/project/_side_links.html.haml
  src/api/app/views/webui/project/show.html.haml
  src/api/app/views/webui/project/show_actions/_modify_project.html.haml
  src/api/app/views/webui/project/show_actions/_patchinfo.html.haml
  src/api/app/views/webui/project/side_links/_incident_project.html.haml
  src/api/spec/controllers/webui/project_controller_spec.rb
Labels: Frontend

#17489 Remove the _filter_help_project_names partial
  src/api/app/views/webui/shared/bs_requests/_filter_help_project_names.html.haml
  src/api/app/views/webui/shared/bs_requests/_requests_filter.html.haml
Labels: Frontend

#17491 Fix parameter names for comment-pull-request action
  .github/workflows/comment_diffend_io_links_to_pr.yml
Labels: Test Suite / CI :syringe:

#17388 Introduces Event::Group
  src/api/.database_consistency.todo.yml
  src/api/app/models/event/added_user_to_group.rb
  src/api/app/models/event/group.rb
  src/api/app/models/event/relationship.rb
  src/api/app/models/event/removed_user_from_group.rb
  src/api/app/models/event/review_wanted.rb
Labels: Frontend

#17500 Add a length validation on architectures name
  src/api/.database_consistency.todo.yml
  src/api/app/models/architecture.rb
Labels: Frontend

#17501 Remove default scope from Group model
  src/api/app/controllers/group_controller.rb
  src/api/app/controllers/webui/groups_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/models/group.rb
Labels: Frontend

#17506 Convert `dirty_backend_packages` from a finder method to a scope
  src/api/app/models/backend_package.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/queries/packages_finder.rb
Labels: Frontend

#16954 Remove unnecesary retrying on creating events
  src/api/app/models/update_notification_events.rb
Labels: Frontend

#17457 Remove the LDAP connection feature
  ReleaseNotes-2.11
  docs/api/api/configuration.rng
  src/api/.rubocop.yml
  src/api/.rubocop_todo.yml
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/app/assets/javascripts/webui/users_groups.js
  src/api/app/controllers/person_controller.rb
  src/api/app/controllers/webui/users_controller.rb
  src/api/app/helpers/webui/user_helper.rb
  src/api/app/models/concerns/has_relationships.rb
  src/api/app/models/configuration.rb
  src/api/app/models/unregistered_user.rb
  src/api/app/models/user.rb
  src/api/app/models/user_ldap_strategy.rb
  src/api/app/policies/user_policy.rb
  src/api/app/views/webui/user/_basic_info.html.haml
  src/api/app/views/webui/user/_index_actions.html.haml
  src/api/app/views/webui/users/edit.html.haml
  src/api/app/views/webui/users/index.html.haml
  src/api/config/environment.rb
  src/api/config/environments/stage.rb
  src/api/config/environments/test.rb
  src/api/config/options.yml.example
  src/api/spec/controllers/person_controller_spec.rb
  src/api/spec/controllers/webui/users_controller_spec.rb
  src/api/spec/features/webui/login_spec.rb
  src/api/spec/lib/authenticator_spec.rb
  src/api/spec/models/configuration_spec.rb
  src/api/spec/models/unregistered_user_spec.rb
  src/api/spec/models/user_ldap_strategy_spec.rb
  src/api/spec/models/user_spec.rb
  src/api/spec/shared/contexts/setup_ldap_mock.rb
  src/api/spec/shared/examples/a_ldap_connection.rb
  src/api/vendor/cache/ruby-ldap-0.9.20.gem
Labels: Documentation :book:, Frontend, Test Suite / CI :syringe:

#17523 [backend] add interconnect_serialize_slots config option
  src/backend/BSSrcServer/Remote.pm
  src/backend/bs_srcserver
Labels: Backend

#17514 Move rubocop-capybara and rubocop-rspec_rails from `require:` to `plugins:`
  .rubocop.yml
  .rubocop_todo.yml
Labels: Test Suite / CI :syringe:

#17524 [backend] Delay job scheduling for scmsync projects if there are runn…
  src/backend/BSSched/Checker.pm
Labels: Backend

#17495 Refactor EventSubscriptionsFinder away
  src/api/app/jobs/report_to_scm_job.rb
  src/api/app/models/concerns/event_object_package.rb
  src/api/app/models/concerns/event_object_project.rb
  src/api/app/models/concerns/event_object_repository.rb
  src/api/app/models/concerns/event_object_request.rb
  src/api/app/models/event/appeal_created.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/branch_command.rb
  src/api/app/models/event/build.rb
  src/api/app/models/event/comment_for_package.rb
  src/api/app/models/event/comment_for_project.rb
  src/api/app/models/event/commit.rb
  src/api/app/models/event/create_package.rb
  src/api/app/models/event/create_project.rb
  src/api/app/models/event/decision.rb
  src/api/app/models/event/group.rb
  src/api/app/models/event/packtrack.rb
  src/api/app/models/event/relationship.rb
  src/api/app/models/event/repo_build_finished.rb
  src/api/app/models/event/repo_build_started.rb
  src/api/app/models/event/repo_publish_state.rb
  src/api/app/models/event/repo_published.rb
  src/api/app/models/event/report.rb
  src/api/app/models/event/request.rb
  src/api/app/models/event/service_fail.rb
  src/api/app/models/event/service_success.rb
  src/api/app/models/event/status_check_for_build.rb
  src/api/app/models/event/status_check_for_published.rb
  src/api/app/models/event/status_check_for_request.rb
  src/api/app/models/event/undelete_package.rb
  src/api/app/models/event/undelete_project.rb
  src/api/app/models/event/update_package.rb
  src/api/app/models/event/update_project.rb
  src/api/app/models/event/update_project_config.rb
  src/api/app/models/event/upload.rb
  src/api/app/models/event/version_change.rb
  src/api/app/models/event/workflow_run_fail.rb
  src/api/app/queries/event_subscriptions_finder.rb
  src/api/spec/jobs/report_to_scm_job_spec.rb
Labels: Frontend

#17519 Rename ALLOWED_MERGE_REQUEST_ACTIONS variable
  src/api/app/models/concerns/workflow_run_gitlab_payload.rb
  src/api/app/models/workflow_run.rb
Labels: Frontend

#17520 Drop unused "supported?" methods
  src/api/app/models/concerns/workflow_run_gitea_payload.rb
  src/api/app/models/concerns/workflow_run_github_payload.rb
  src/api/app/models/concerns/workflow_run_gitlab_payload.rb
  src/api/app/models/concerns/workflow_run_payload.rb
Labels: Frontend

#17517 Merge after_initialize block and init method
  src/api/app/models/project.rb
Labels: Frontend

#17518 Simplify TriggerWorkflowController error handling
  src/api/app/controllers/trigger_workflow_controller.rb
Labels: Frontend

#17522 Refactor using "push_event?" away
  src/api/app/models/concerns/workflow_run_gitea_payload.rb
  src/api/app/models/concerns/workflow_run_github_payload.rb
  src/api/app/models/concerns/workflow_run_gitlab_payload.rb
Labels: Frontend

#17528 Back up attribs binary length constraint with a validation
  src/api/.database_consistency.todo.yml
  src/api/app/models/attrib.rb
Labels: Frontend

#15713 Add rake task to generate test data for bs_requests
  src/api/lib/tasks/dev/requests.rake
Labels: Frontend

#17529 Deduplicate code and use partial instead
  src/api/app/views/webui/cloud/azure/upload_jobs/new.html.haml
  src/api/app/views/webui/cloud/ec2/upload_jobs/new.html.haml
  src/api/app/views/webui/configuration/index.html.haml
  src/api/app/views/webui/groups/new.html.haml
  src/api/app/views/webui/image_templates/index.html.haml
  src/api/app/views/webui/interconnects/_interconnect_modal.html.haml
  src/api/app/views/webui/package/new.html.haml
  src/api/app/views/webui/patchinfo/edit.html.haml
  src/api/app/views/webui/project/_form.html.haml
  src/api/app/views/webui/requests/deletions/new.html.haml
  src/api/app/views/webui/requests/submissions/new.html.haml
  src/api/app/views/webui/search/_request_bugowner_change_dialog.html.haml
  src/api/app/views/webui/shared/_autocomplete.html.haml
  src/api/app/views/webui/shared/_required_label_mark.html.haml
  src/api/app/views/webui/status_messages/edit.html.haml
  src/api/app/views/webui/status_messages/new.html.haml
  src/api/app/views/webui/users/_sign_up.html.haml
  src/api/app/views/webui/users/edit.html.haml
  src/api/app/views/webui/users/tokens/new.html.haml
Labels: Frontend

#17516 Unify input|search|autocomplete
  src/api/app/assets/javascripts/webui/after_loading_fixes.js
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/autocomplete.js
  src/api/app/assets/javascripts/webui/content-selector-filters.js
  src/api/app/components/input_component.html.haml
  src/api/app/components/input_component.rb
  src/api/app/components/workflow_run_filter_component.html.haml
  src/api/app/views/layouts/webui/_top_navigation_search.html.haml
  src/api/app/views/webui/groups/_add_group_user_modal.html.haml
  src/api/app/views/webui/packages/branches/into.html.haml
  src/api/app/views/webui/patchinfo/edit.html.haml
  src/api/app/views/webui/projects/label_templates/copy.html.haml
  src/api/app/views/webui/projects/maintained_projects/_create_dialog.html.haml
  src/api/app/views/webui/repositories/_add_repository_from_project_modal.html.haml
  src/api/app/views/webui/repositories/_add_repository_path_modal.html.haml
  src/api/app/views/webui/request/_add_reviewer_dialog.html.haml
  src/api/app/views/webui/requests/devel_project_changes/new.html.haml
  src/api/app/views/webui/requests/role_additions/new.html.haml
  src/api/app/views/webui/requests/submissions/new.html.haml
  src/api/app/views/webui/search/_request_bugowner_change_dialog.html.haml
  src/api/app/views/webui/search/index.html.haml
  src/api/app/views/webui/search/issue.html.haml
  src/api/app/views/webui/search/owner.html.haml
  src/api/app/views/webui/shared/_autocomplete.html.haml
  src/api/app/views/webui/shared/_input.haml
  src/api/app/views/webui/shared/_search_box.html.haml
  src/api/app/views/webui/shared/bs_requests/_form.html.haml
  src/api/app/views/webui/shared/bs_requests/_requests_filter.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_add_group_dialog.html.haml
  src/api/app/views/webui/shared/user_or_groups_roles/_add_user_dialog.html.haml
  src/api/app/views/webui/staging/excluded_requests/_create_dialog.html.haml
  src/api/app/views/webui/staging/workflows/_create_staging_project.html.haml
  src/api/app/views/webui/staging/workflows/_staging_managers_group.html.haml
  src/api/app/views/webui/staging/workflows/new.html.haml
  src/api/app/views/webui/user/_involvement.html.haml
  src/api/app/views/webui/users/tokens/new.html.haml
  src/api/app/views/webui/users/tokens/users/_add_group_to_token_dialog.html.haml
  src/api/app/views/webui/users/tokens/users/_add_user_to_token_dialog.html.haml
  src/api/spec/components/previews/input_component_preview.rb
  src/api/spec/features/webui/change_bugowner_spec.rb
  src/api/spec/features/webui/search_spec.rb
Labels: Frontend, review-app

#16873 Implement blame view for files
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/blame.scss
  src/api/app/controllers/webui/packages/files_controller.rb
  src/api/app/lib/backend/api/sources/package.rb
  src/api/app/views/webui/package/_file.html.haml
  src/api/app/views/webui/packages/files/blame.html.haml
  src/api/config/routes/webui.rb
  src/api/spec/cassettes/Webui_Packages_FilesController/DELETE_destroy/with_no_permissions/1_3_4_1.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/DELETE_destroy/with_no_permissions/1_3_4_2.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/DELETE_destroy/with_not_successful_backend_call/1_3_2_1.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/DELETE_destroy/with_successful_backend_call/1_3_1_1.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/DELETE_destroy/with_successful_backend_call/1_3_1_2.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/DELETE_destroy/with_successful_backend_call/1_3_1_3.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/DELETE_destroy/with_successful_backend_call/1_3_1_4.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/GET_blame/groups_lines_correctly.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/GET_blame/parses_lines_correctly.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/GET_blame/sets_blame_info_instance.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/GET_show/the_file_comes_from_an_scmsync_project/1_4_1_1.yml
  src/api/spec/cassettes/Webui_Packages_FilesController/GET_show/the_file_comes_from_an_scmsync_project/1_4_1_2.yml
  src/api/spec/controllers/webui/packages/files_controller_spec.rb
  src/api/spec/fixtures/files/aaa_base.spec.blame
Labels: Frontend, Test Suite / CI :syringe:, review-app

#16897 Change default value for available column from architectures table to false
  src/api/.database_consistency.todo.yml
  src/api/app/models/architecture.rb
  src/api/db/data/20250312082028_set_architectures_available_field_to_false.rb
  src/api/db/data_schema.rb
  src/api/db/migrate/20250312082500_add_not_null_to_architectures_available.rb
  src/api/db/schema.rb
Labels: Frontend, Test Suite / CI :syringe:

#17536 [backend] logging: always log the process pid
  src/backend/BSServer.pm
  src/backend/BSStdServer.pm
Labels: Backend

#17539 Use Capybara.using_wait_time instead our own code
  src/api/spec/features/webui/maintenance_workflow_spec.rb
  src/api/spec/support/wait_helpers.rb
Labels: Frontend

#17541 Load js report on purpose
  src/api/app/assets/config/manifest.js
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/report.js
  src/api/app/views/webui/shared/_report_modal.html.haml
Labels: Frontend

#17540 Load js for plotbusyworkers only when required
  src/api/app/assets/config/manifest.js
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/views/webui/main/_system_status.html.haml
Labels: Frontend

#17547 [backend] Support partitioning of the src server AJAX process
  src/backend/BSHandoff.pm
  src/backend/BSSched/EventSource/RemoteWatcher.pm
  src/backend/BSStdServer.pm
  src/backend/BSXML.pm
  src/backend/bs_srcserver
Labels: Backend

#17552 [backend] bs_srcserver: classify view=cache requests as interconnect_in
  src/backend/BSUtil.pm
  src/backend/bs_serverstatus
  src/backend/bs_srcserver
Labels: Backend

#17551 Change existing foreign key on attrib_values.attrib_id to on delete, …
  src/api/.database_consistency.todo.yml
  src/api/app/models/attrib_value.rb
  src/api/db/migrate/20250313151625_add_on_delete_cascade_to_values_column_in_attribs_table.rb
  src/api/db/schema.rb
Labels: Frontend

#17553 Load notification js on purpose
  src/api/app/assets/config/manifest.js
  src/api/app/assets/javascripts/webui/application.js
  src/api/app/assets/javascripts/webui/notification.js
  src/api/app/views/webui/users/notifications/_notifications_list.html.haml
  src/api/app/views/webui/users/notifications/_update.js.erb
Labels: Frontend

#17556 [backend] also support AJAX partitioning in the repo server
  src/backend/BSRepServer/DoD.pm
  src/backend/BSStdServer.pm
  src/backend/bs_repserver
  src/backend/bs_srcserver
Labels: Backend

#17549 [api] fix commands on package flavors
  src/api/app/controllers/build_controller.rb
Labels: Frontend

#17558 Don't error on removing a non existent foreign key
  src/api/db/migrate/20250313151625_add_on_delete_cascade_to_values_column_in_attribs_table.rb
Labels: Frontend

#17559 Get rid of the valid_multibuild_package_name! method
  src/api/app/controllers/source_controller.rb
  src/api/app/helpers/validation_helper.rb
  src/api/app/models/concerns/multibuild_package.rb
  src/api/spec/models/concerns/multibuild_package_spec.rb
Labels: Frontend

#17560 Remove not used errors
  src/api/app/controllers/source/errors.rb
Labels: Frontend

#17563 [backend] also do a handoff for getbinaryversions requests from the i…
  src/backend/bs_srcserver
Labels: Backend

#17290 [api] fix forking of scmsync projects
  src/api/app/models/branch_package.rb
  src/api/app/models/package.rb
  src/api/app/models/project.rb
  src/api/app/models/project/update_from_xml_command.rb
  src/api/public/apidocs/paths/source_project_name_package_name_cmd_fork.yaml
  src/api/test/functional/source_controller_test.rb
Labels: Documentation :book:, Frontend

#17568 Update data_migrate 11.2.0 → 11.3.0
  src/api/Gemfile.lock
  src/api/vendor/cache/data_migrate-11.2.0.gem
  src/api/vendor/cache/data_migrate-11.3.0.gem
Labels: Frontend

#17515 Refactor updating issues of a package
  src/api/app/models/package_issue.rb
Labels: Frontend

#17571 Bugfix: missing wrapper class for responsive behavior
  src/api/app/views/webui/shared/_lock_unlock_comment.html.haml
Labels: Frontend

#17577 Transform `require_admin` method back to a before filter
  src/api/app/controllers/person_controller.rb
  src/api/app/lib/authenticator.rb
Labels: Frontend

#17576 Don't return a boolean value in before filters, II
  src/api/app/controllers/webui/request_controller.rb
  src/api/app/controllers/webui/session_controller.rb
  src/api/app/controllers/webui/staging/excluded_requests_controller.rb
  src/api/app/controllers/webui/staging/projects_controller.rb
  src/api/app/controllers/webui/staging/workflows_controller.rb
  src/api/app/controllers/webui/webui_controller.rb
Labels: Frontend

#17591 Remove project maintainer hint for non-maintainers
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend

#17579 Fix: do not crash if counter is nil
  src/api/app/views/layouts/webui/_unread_notifications_counter.html.haml
Labels: Frontend

#17592 [backend] try to delete the project directory when deleting a repository
  src/backend/BSSched/Checker.pm
  src/backend/bs_publish
Labels: Backend

#17596 Revert "Refactor updating issues of a package"
  src/api/app/models/package_issue.rb
Labels: Frontend

#17589 Improve assignment of in_beta value from user parameters
  src/api/app/controllers/webui/users_controller.rb
Labels: Frontend

#17587 Don't redirect back on not required_admin before filter
  src/api/app/controllers/webui/webui_controller.rb
  src/api/spec/cassettes/User_s_admin_edit_page/remove_admin_rights_from_user.yml
  src/api/spec/features/webui/users/user_admin_edit_spec.rb
Labels: Frontend

#17588 Refactor download repository factory
  src/api/spec/factories/download_repository_factory.rb
Labels: Frontend

#17604 Fix: remove preview border
  src/api/app/assets/stylesheets/webui/borders.scss
  src/api/app/components/request_decision_component.html.haml
  src/api/app/views/webui/comment/_comment_field.html.haml
Labels: Frontend

#17603 [backend] Support static links for agama offline installer images
  src/backend/bs_publish
Labels: Backend

#17605 Do not crash if count is nil
  src/api/app/views/layouts/webui/_unread_notifications_counter.html.haml
Labels: Frontend

#17598 Update Ruby version from 3.1 to 3.4
  .github/workflows/brakeman.yml
  .ruby-version
  Makefile
  Makefile.include
  dist/functions.setup-appliance.sh
  dist/obs-bundled-gems.spec
  dist/obs-rpmlintrc
  dist/obs-server.spec
  dist/resolve_swagger_yaml.rb
  dist/t/Makefile
  docs/api/restility/bin/rest_doc
  docs/api/restility/bin/rest_test
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/Makefile
  src/api/Rakefile
  src/api/app/helpers/webui/project_helper.rb
  src/api/app/models/comment.rb
  src/api/bin/bundle
  src/api/bin/clockwork
  src/api/bin/clockworkd
  src/api/bin/pry
  src/api/bin/rails
  src/api/bin/rake
  src/api/bin/rdoc
  src/api/bin/ri
  src/api/bin/rspec
  src/api/bin/rubocop
  src/api/bin/setup
  src/api/docker-files/Dockerfile
  src/api/script/delayed_job.api.rb
  src/api/script/reformat_memprof
  src/api/script/start_test_backend
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_with_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/cassettes/MaintenanceWorkflow/maintenance_request_without_patchinfo/when_accepting_request/succeeds.yml
  src/api/spec/features/beta/webui/maintenance_workflow_spec.rb
  src/api/spec/features/beta/webui/requests_spec.rb
  src/api/spec/features/webui/groups_spec.rb
  src/api/spec/features/webui/packages_spec.rb
  src/api/spec/features/webui/projects/label_template_spec.rb
  src/api/spec/features/webui/repositories_spec.rb
  src/api/spec/features/webui/requests_spec.rb
  src/api/spec/jobs/consistency_check_job_spec.rb
  src/api/spec/models/project_spec.rb
  src/api/vendor/cache/base64-0.1.1.gem
  src/api/vendor/cache/base64-0.2.0.gem
  src/api/vendor/cache/drb-2.2.1.gem
  src/api/vendor/cache/mutex_m-0.3.0.gem
  src/api/vendor/cache/nkf-0.2.0.gem
  src/api/vendor/cache/rake-13.0.6.gem
  src/api/vendor/cache/rake-13.2.1.gem
  src/api/vendor/cache/strscan-3.0.1.gem
Labels: Documentation :book:, Frontend, Test Suite / CI :syringe:

#17610 Display what the review was for in the conversation
  src/api/app/components/bs_request_history_element_component.html.haml
Labels: Frontend

#17606 Reject branching support
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/models/branch_package.rb
  src/api/app/models/branch_package/errors.rb
  src/api/app/views/webui/package/_show_actions.html.haml
  src/api/app/views/webui/package/show.html.haml
  src/api/db/attribute_descriptions.rb
  src/api/db/data/20250326100650_add_reject_branch_to_attrib_types.rb
  src/api/db/data_schema.rb
  src/api/db/seeds.rb
  src/api/test/fixtures/attrib_types.yml
  src/api/test/functional/attributes_test.rb
  src/api/test/functional/source_controller_test.rb
Labels: Frontend

#17611 Only lazy load the files that can be loaded from the backend
  src/api/app/components/diff_list_component.html.haml
  src/api/app/components/sourcediff_component.html.haml
  src/api/app/components/sourcediff_component.rb
  src/api/spec/cassettes/SourcediffComponent/when_testing_the_preview/renders_the_preview.yml
  src/api/spec/cassettes/SourcediffComponent/with_a_request_with_a_submit_action/renders_the_turbo_frame.yml
Labels: Frontend

#17625 [backend] fix client no longer be sent to the lasteventsproxy
  src/backend/BSSched/EventSource/RemoteWatcher.pm
Labels: Backend

#17622 Add search capability to filter dropdowns and limit their height
  src/api/app/assets/javascripts/webui/project_monitor.js
  src/api/app/assets/javascripts/webui/request_show_redesign/build_results.js
  src/api/app/assets/stylesheets/webui/build-results.scss
  src/api/app/assets/stylesheets/webui/project-monitor.scss
  src/api/app/views/webui/shared/_build_result_filter.haml
Labels: Frontend, review-app

#17636 Requirement to OpenStruct needs to be explicit
  src/api/app/controllers/webui/cloud/azure/upload_jobs_controller.rb
  src/api/app/controllers/webui/cloud/ec2/upload_jobs_controller.rb
  src/api/app/models/cloud/backend/upload_job.rb
  src/api/spec/controllers/webui/projects/meta_controller_spec.rb
  src/api/spec/controllers/webui/projects/project_configuration_controller_spec.rb
  src/api/spec/models/cloud/upload_job_spec.rb
Labels: Frontend

#17624 Use a package/project link helper correctly in a component
  src/api/app/components/bs_request_history_element_component.html.haml
  src/api/spec/components/bs_request_history_element_component_spec.rb
  src/api/spec/factories/history_elements.rb
Labels: Frontend, Monkey Patched :see_no_evil:

#17619 Don't show disabled, excluded and unknown build results by default
  src/api/app/components/build_results_monitor_component.rb
  src/api/app/models/buildresult.rb
Labels: Frontend, review-app

#17635 [backend] put updateinfo.xml/modulemd data in the productcompose _buildinfo
  src/backend/BSRepServer/Remote.pm
  src/backend/BSSched/BuildJob/ProductCompose.pm
Labels: Backend

#17633 Update Rails from 7.0.8.1 to 7.0.8.7
  src/api/Gemfile.lock
  src/api/vendor/cache/actioncable-7.0.8.1.gem
  src/api/vendor/cache/actioncable-7.0.8.7.gem
  src/api/vendor/cache/actionmailbox-7.0.8.1.gem
  src/api/vendor/cache/actionmailbox-7.0.8.7.gem
  src/api/vendor/cache/actionmailer-7.0.8.1.gem
  src/api/vendor/cache/actionmailer-7.0.8.7.gem
  src/api/vendor/cache/actionpack-7.0.8.1.gem
  src/api/vendor/cache/actionpack-7.0.8.7.gem
  src/api/vendor/cache/actiontext-7.0.8.1.gem
  src/api/vendor/cache/actiontext-7.0.8.7.gem
  src/api/vendor/cache/actionview-7.0.8.1.gem
  src/api/vendor/cache/actionview-7.0.8.7.gem
  src/api/vendor/cache/activejob-7.0.8.1.gem
  src/api/vendor/cache/activejob-7.0.8.7.gem
  src/api/vendor/cache/activemodel-7.0.8.1.gem
  src/api/vendor/cache/activemodel-7.0.8.7.gem
  src/api/vendor/cache/activerecord-7.0.8.1.gem
  src/api/vendor/cache/activerecord-7.0.8.7.gem
  src/api/vendor/cache/activestorage-7.0.8.1.gem
  src/api/vendor/cache/activestorage-7.0.8.7.gem
  src/api/vendor/cache/activesupport-7.0.8.1.gem
  src/api/vendor/cache/activesupport-7.0.8.7.gem
  src/api/vendor/cache/rails-7.0.8.1.gem
  src/api/vendor/cache/rails-7.0.8.7.gem
  src/api/vendor/cache/railties-7.0.8.1.gem
  src/api/vendor/cache/railties-7.0.8.7.gem
Labels: Frontend
