Repository openSUSE/open-build-service, pull requests merged in 2025-06, with the labels that each got.

#17969 Enhance user update policy checks
  src/api/app/views/webui/user/_basic_info.html.haml
Labels: Frontend

#17979 Move require_login to the top of the before_action list
  src/api/app/controllers/webui/kiwi/images_controller.rb
  src/api/app/controllers/webui/package_controller.rb
  src/api/app/controllers/webui/packages/binaries_controller.rb
  src/api/app/controllers/webui/patchinfo_controller.rb
  src/api/app/controllers/webui/projects/maintenance_incident_requests_controller.rb
  src/api/app/controllers/webui/projects/maintenance_incidents_controller.rb
  src/api/app/controllers/webui/users/bs_requests_controller.rb
Labels: Frontend

#17991 [dist] add sles to distro list
  src/backend/bs_setup
Labels: Backend

#17996 Log Voight-Kampff result
  src/api/config/environments/production.rb
Labels: Frontend

#17981 Set an already db backed length validation for AttribAllowedValue's value field
  src/api/.database_consistency.todo.yml
  src/api/app/models/attrib_allowed_value.rb
Labels: Frontend

#18000 Display the right request state badge in Pulse
  src/api/app/views/webui/projects/pulse/_pulse_list_requests.html.haml
Labels: Frontend

#17999 Avoid duplicated index in watchlist
  src/api/app/controllers/webui/watched_items_controller.rb
Labels: Frontend

#18004 Fix requests index breadcrumbs
  src/api/app/views/webui/packages/bs_requests/_breadcrumb_items.html.haml
  src/api/app/views/webui/projects/bs_requests/_breadcrumb_items.html.haml
  src/api/app/views/webui/users/bs_requests/_breadcrumb_items.html.haml
Labels: Frontend

#18016 Update turbo-rails to version 2.0.16
  src/api/Gemfile.lock
  src/api/vendor/cache/turbo-rails-2.0.13.gem
  src/api/vendor/cache/turbo-rails-2.0.16.gem
Labels: Frontend

#17993 Pull ostruct gem in explicitly
  src/api/Gemfile
  src/api/Gemfile.lock
  src/api/vendor/cache/ostruct-0.6.1.gem
Labels: Frontend

#18026 [backend] record signflavor in buildenv and reuse it for buildenv builds
  src/backend/BSSched/BuildJob.pm
  src/backend/BSSched/BuildJob/BuildEnv.pm
  src/backend/bs_worker
Labels: Backend

#18024 Create comments for report event
  src/api/app/models/comment.rb
  src/api/app/models/event/base.rb
  src/api/app/models/event/comment_for_report.rb
  src/api/app/models/event_subscription/for_channel_form.rb
  src/api/app/models/report.rb
  src/api/spec/models/event/comment_for_report_spec.rb
Labels: Frontend

#18038 [backend] bs_regpush: tweak so that it works with the rancher registry
  src/backend/bs_regpush
Labels: Backend

#18039 Adapt appeal decision policy to consider all favored decision types
  src/api/app/policies/appeal_policy.rb
  src/api/spec/factories/decision_favored_with_user_commenting_restriction.rb
  src/api/spec/policies/appeal_policy_spec.rb
Labels: Frontend

#18043 Render group legacy tab panes only in non-beta
  src/api/app/views/webui/groups/show.html.haml
Labels: Frontend, review-app

#18046 Hide the project maintainer warning for non-maintainers
  src/api/app/controllers/webui/request_controller.rb
Labels: Frontend

#18041 Create text templates for report emails
  src/api/app/views/event_mailer/report_for_comment.text.erb
  src/api/app/views/event_mailer/report_for_package.text.erb
  src/api/app/views/event_mailer/report_for_project.text.erb
  src/api/app/views/event_mailer/report_for_user.text.erb
Labels: Frontend

#18020 Canned response index
  src/api/app/assets/stylesheets/webui/application.scss
  src/api/app/assets/stylesheets/webui/canned-responses.scss
  src/api/app/assets/stylesheets/webui/collapsible-text.scss
  src/api/app/controllers/webui/users/canned_responses_controller.rb
  src/api/app/views/webui/users/canned_responses/edit.html.haml
  src/api/app/views/webui/users/canned_responses/index.html.haml
  src/api/spec/features/webui/canned_responses_spec.rb
Labels: Frontend, review-app

#18007 Don't allow appealling the same decision multiple times
  src/api/app/models/appeal.rb
  src/api/db/migrate/20250612085047_add_unique_index_on_decision_id_field_on_appeals_table.rb
  src/api/db/schema.rb
Labels: Frontend, review-app

#18051 Skip rendering the view if the packages project is managed under SCM
  src/api/app/controllers/webui/packages/meta_controller.rb
Labels: Frontend

#18034 Notifications comments on report
  src/api/app/models/event/comment_for_report.rb
  src/api/app/models/notification_comment.rb
  src/api/app/services/notification_service/notifier.rb
  src/api/app/services/notified_projects.rb
  src/api/app/views/event_mailer/comment_for_report.html.haml
  src/api/app/views/event_mailer/comment_for_report.text.erb
  src/api/spec/controllers/webui/users/notifications_controller_spec.rb
  src/api/spec/factories/event_subscriptions.rb
  src/api/spec/factories/notification.rb
  src/api/spec/features/webui/users/notifications_spec.rb
  src/api/spec/mailers/event_mailer_spec.rb
Labels: Frontend, review-app

#18056 Update rspec-rails to version 8.0.1
  src/api/Gemfile.lock
  src/api/vendor/cache/rspec-rails-7.1.1.gem
  src/api/vendor/cache/rspec-rails-8.0.1.gem
Labels: Frontend

#18067 [backend] BSPGP: fix key expiry calculation
  src/backend/BSPGP.pm
Labels: Backend

#18068 [backend] Implement new 'FromScratch' config directive
  src/backend/BSRepServer/ProjPacks.pm
  src/backend/BSSched/ProjPacks.pm
  src/backend/bs_srcserver
Labels: Backend

#17994 Add null validation on attrib_type_id column on AttribDefaultValue table
  src/api/.database_consistency.todo.yml
  src/api/app/models/attrib_default_value.rb
  src/api/test/unit/attrib_test.rb
Labels: Frontend

#18081 Add a null validation on position column on AttribDefaultValue table
  src/api/.database_consistency.todo.yml
  src/api/app/models/attrib_default_value.rb
Labels: Frontend

#18089 Fixes deletion of devel tags from a package's meta
  src/api/app/models/package.rb
  src/api/spec/models/package_spec.rb
Labels: Frontend

#18082 Add validations on value column on attrib default value table
  docker-compose.minitest-user.yml
  src/api/.database_consistency.todo.yml
  src/api/app/models/attrib_default_value.rb
Labels: Frontend

#18091 Remove unnecesary `include_all_packages` parameter
  src/api/app/controllers/source_project_command_controller.rb
  src/api/app/models/project.rb
Labels: Frontend

#18098 [backend] allow to aggregate from a built product
  src/backend/BSRepServer/Bininfo.pm
  src/backend/BSRepServer/Helminfo.pm
  src/backend/BSSched/Bininfo.pm
  src/backend/BSSched/BuildJob/Aggregate.pm
  src/backend/BSSched/BuildResult.pm
  src/backend/bs_repserver
Labels: Backend

#18104 Remove `required_parameters` from a couple of controllers
  src/api/app/controllers/build_controller.rb
  src/api/app/controllers/worker/command_controller.rb
Labels: Frontend
